[2015-10-06 02:59] halatmit commented on #575
I'm seeing weirdness with DrawLine on my Nexus 4.   I haven't had a chance
to to careful obsevation, but it's like what Aubrey is seeing.

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Mon, Oct 5, 2015 at 10:31 PM, ajcolter <notifications@github.com> wrote:

[2015-10-10 21:55] halatmit commented on #575
Fixed

[2015-10-10 21:55] #575 closed

[2015-10-10 21:55] halatmit commented on #574
Fixed

[2015-10-10 21:55] #574 closed

[2015-10-11 11:44] josmas commented on #572
Are you using the authentication block before trying to send a message?
The component has been changed a number of times when Twitter changed their APIs, so even though the issue linked was never closed, the component was fixed at that time.

[2015-10-11 13:30] javieriko commented on #363
can you give tutorial how to edit .apk from AI2 to java source code? i used eclipse anyway. I need add a live feed camera on my apps. Does it need new class? or just edit on .java? sorry i am totally newbies

[2015-10-11 14:28] josmas commented on #363
@javieriko there is no ***easy*** way to turn an AI2 project into Java. You can modify the component directly (as in this pull request). The best way to get familiar with how to write or modify components is to follow the [documentation](http://appinventor.mit.edu/appinventor-sources/#documentation). [This document](https://docs.google.com/document/d/1xk9dMfczvjbbwD-wMsr-ffqkTlE3ga0ocCE1KOb2wvw/pu

[2015-10-12 02:00] halatmit opened #579 "Signal error when importing out of date extensions"
Warn users when they use extensions (e.g., import aix files) that no longer work do to changes in App Inventor.

[2015-10-13 21:25] #572 closed

[2015-10-13 22:17] fmntf commented on #572
Hi, can't test it now. I didn't see the `Authorize` block, so I think that's the problem. Thank you!

[2015-10-16 00:36] halatmit opened #582 "Problems with videoplayer seek- to"
see thread at

https://groups.google.com/forum/#!category-topic/mitappinventortest/bhrTMzmfQs4

[2015-10-16 14:03] halatmit opened #583 "update the documentation on testing and debugging"
https://docs.google.com/document/d/1BeLh_HKtVwmphKZZJyemtr8x5j1whLD8V4v6-QHj8TE/edit#heading=h.tav27sktyepa

Convert to AI2 and add better advice/information on debugging

[2015-10-17 05:34] javieriko commented on #363
so there no way to modify canvas component from .apk that compiled AI2? i try use apk studio but the class shown as .smali

[2015-10-17 07:02] josmas commented on #363
@javieriko nope, no way to do it manually from a decompiled version unless you create specialised tools (which would probably be more difficult than writing a new Canvas component).

[2015-10-17 14:37] halatmit commented on #193
Scalable fonts along doesn't seem to address the issue.
I'm going to close this one, and post something better after we sort things out more.

[2015-10-17 14:37] #193 closed

[2015-10-18 12:46] josmas commented on #495
Just looked into this; it turns out that both facebook and instagram have decided to stop supporting text sharing. You can see instagram's note [here] (http://developers.instagram.com/post/125972775561/removing-pre-filled-captions-from-mobile-sharing).

I left a reply in the forum: https://groups.google.com/d/msg/mitappinventortest/YwNjVnV_KlU/sU1fwGgsAgAJ

cc/ @jsheldonmit @halatmit only thing we

[2015-10-18 14:05] halatmit commented on #495
@jsheldonmit @josmas
I agree with José.  There isn't anything we should do.  But I don't see what we would want to put into the
component documentation.  Do you?

[2015-10-18 14:22] josmas commented on #495
Just a simple note stating that sharing text does not work with Facebook or Instragram; the picture will be shared, but the text will be ignored.

[2015-10-18 14:33] josmas commented on #562
Please review #587

[2015-10-18 15:41] jisqyv commented on #562
Fixed in #587 about to be merged.

[2015-10-18 15:41] #562 closed

[2015-10-18 19:54] halatmit opened #588 "Canvas WidthPercent restricted to 100; about Responsive Sizing for sprites"
See Scott's entry in the forum

https://groups.google.com/forum/#!topic/mitappinventortest/YRlxBGvxLMU

This will require a lot of careful testing before any merging.

[2015-10-19 15:10] jisqyv commented on #582
This can easily be an issue with the particular asset. I have seen broken mp4's in other contexts that exhibit similar behavior.

[2015-10-20 16:03] marksherman opened #589 "Document that NFC only works from Screen 1"
Request to update documentation to explain that the NFC component only works from Screen1.

[This email topic](https://groups.google.com/forum/#!topic/app-inventor-dev/-hGfD1F2Hn4) describes the problem.

@halatmit @jisqyv

[2015-10-20 16:07] marksherman opened #590 "NFC component only works from Screen1"
The NFC component creates weird and bad behaviors when used on any screen other than Screen1.

This issue is a request to fix the problem.
Issue #589 is a request to document the current workaround.

[This email topic](https://groups.google.com/forum/#!topic/app-inventor-dev/-hGfD1F2Hn4) describes the problem.

The key point from the emails, from @jisqyv -

@halatmit

[2015-10-23 11:38] halatmit commented on #499
Old version marked obsolete:

Use the new version here:

https://docs.google.com/document/d/1ukpZXcd0fIn1fV0cNp4J00wrfwwA1daswU1yY6dqqfs/edit

[2015-10-25 20:07] machinaESC commented on #565
I had to downgrade in order to make 2 of my projects work - even after building the .apk
gonna get a second device in a few days and try to test properly and report.

[2015-10-25 20:09] halatmit commented on #565
@machinaESC
thanks. Please send more info when you can get.

[2015-10-26 08:10] machinaESC commented on #565
every Query to FusionTable returns a "401 Unauthorized Invalid Credentials".
tested with FusiontablesControl.Query , .GetRows and .GetRowsWithCondition

logging into google again didnt help. all permissions inside of the table are given.  on the same phone downgraded to lollipop with no changes works fine.

tested with
official marshmallow 6.0 on Nexus 6
and
12.1-20151024-NIGHTLY-hammerhead on Nex

[2015-10-26 11:29] halatmit commented on #565
@machinaESC Thanks.  Let' keep collecting information.  I'ts hard to see why moving to Marshmallow would causes this.  Might be worth doing a web search to see if other system than App Inventor are seeing this sort of thing.

[2015-10-27 17:28] machinaESC commented on #565
more here: https://groups.google.com/forum/#!topic/mitappinventortest/W45ue3N85CM
and here: https://groups.google.com/forum/#!topic/mitappinventortest/BKANSdkRB9s

[2015-10-27 19:10] puravidaapps commented on #565
it seems to be, that this is NOT an Android M issue... It also has been reported on Android L
and as you can see, the service account method still is working fine
Taifun

[2015-11-09 04:50] ram8647 opened #606 "Location Sensor Location Changed Reports 0,0"
This is an issue that's been reported by at least a dozen people in the edX course.  Apparently, on some devices, the LocationSensor.LocationChanged block reports the lat,long as 0,0.   I haven't noticed this happening on any of my devices but it shouldn't be possible.

Looking at the Texting source code, latitude and longitude are initialized to **UNKNOWN_VALUE**, which is defined as 0.   The **o

[2015-11-16 05:37] rinterdonato commented on #565
I am seeing the same thing. Fusion table apps that run on the emulator and on kit kat devices do not run on lollipop or marshmallow phones -either as complied apk files or within app inventor. I have set up new api keys and verified that it is not permissions on the table itself.
I can also confirm that the service account method still works too.

[2015-11-23 03:35] Lemniscate317 opened #619 "eclipse for appinventor(some error)"
I think i can ask some question in there.
and also i dont know how to use git
the question is that:
I follow the steps to import the appinvenor-sources into the eclipse.and i found some error in it.
i want to know how to fix it .
follow is the details.

Description	Resource	Path	Location	Type
The method copy(File, OutputStream) in the type Files is not applicable for the arguments (new InputSuppli

[2015-11-23 09:26] josmas commented on #619
Hi there,

the AI Merger is a separate project so it should not be included in
Eclipse. If you want to work with the merging utility, you should import it
as a separate project.

The instructions for Eclipse were written before the merger was placed in
the main repo, so they are a bit out of date. Most people use IntelliJ
instead, which imports the projects in a cleaner way, but if you want to
hel

[2015-11-23 10:22] Lemniscate317 commented on #619
thanks for your answer.
my english is poor.
i just want to add some block by using the inner method.(like using the bluetooth method to translate some data and i make them to a method).i want to ask the error will affect my project? because i cant understand what you said about the AI Merger is what.

[2015-11-23 11:20] josmas commented on #619
Hi again, you won't have any issues as long as you use ***ant*** from terminal to compile. You won't be able to compile with Eclipse.

[2015-11-24 12:11] Lemniscate317 commented on #619
thanks very much!!!!

[2015-11-24 12:11] #619 closed

[2015-11-27 22:01] halatmit opened #621 "Wrong URL in QR code for helloPurr"
I went to page
http://appinventor.mit.edu/explore/ai2/hellopurr.html
and tried to download the apk for HelloPurr using the QR code.
The code there seems  to be for the wrong URL:  It is
appinventor.mit.edu/sites/all/files/ai2tutorials/.....

The link just underneath there is correct:
appinventor.mit.edu/explore/sites/all/files/ai2tutorials/....

I didn't check any of the other tutorials, so I don'

[2015-12-01 17:26] fmntf commented on #572
Hello, I tested it and it is not working out of the box. ConsumerKey and ConsumerSecret properties are set on the Twitter1 component.

![tw](https://cloud.githubusercontent.com/assets/287717/11508372/bc25b73e-9858-11e5-8ad7-8d3e0d8c774f.png)

![screenshot_20151201-182145](https://cloud.githubusercontent.com/assets/287717/11508379/c7fb39d0-9858-11e5-81ab-9294be789694.png)

[2015-12-01 17:50] puravidaapps commented on #572
the twitter component is working fine, see an example here https://puravidaapps.com/twitter.php
Taifun
PS: a better place to ask questions would have been the App Inventor forum https://groups.google.com/forum/#!forum/mitappinventortest ...

[2015-12-02 13:02] halatmit opened #624 "Comment text is not generated in "Download blocks as image""
The function "Download Blocks as Image" does show the comment blocks, but they are empty.

[2015-12-03 06:44] shrutirij commented on #624
I think it's because the text isn't part of the workspace svg.

I'll look at how to fix this.

[2015-12-06 00:52] halatmit commented on #624
Thanks

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Thu, Dec 3, 2015 at 1:44 AM, Shruti Rijhwani <notifications@github.com>
wrote:

[2015-12-08 17:17] ajcolter opened #630 "Backpack image is not big when holding blocks from another screen"
On Screen2 of my app, I added blocks to the backpack.
Going to Screen1 from the blocks editor, the backpack is the smaller image, although it contains the blocks from Screen2.
It should be the larger backpack image because blocks are in it, even though I didn't add them on Screen1.

[2015-12-09 17:38] jsheldonmit opened #632 "SpeechRecognizer needs another event handler"
A user pointed out that when no speech is detected, or when a user of an app inventor app taps the center of the speechrecognizer gui (on my 5.1 device) to end speech recognition without saying anything, App Inventor does not have an event to deal with the situation.

example aia for playing with it is at:
https://drive.google.com/file/d/0B56Z0pvSZgwqY3NwdnAzR0JGVFk/view?usp=sharing

[2015-12-11 11:59] sergito91 commented on #565
I am having the same problem. Do you know how to solve it?

[2015-12-11 14:56] rinterdonato commented on #565
As has been mentioned by others, the service account method works - and in
many ways, it is a better solution all round.

r

On Fri, Dec 11, 2015 at 5:00 AM sergito91 <notifications@github.com> wrote:

[2015-12-15 00:20] halatmit opened #633 "Fusion table credentials don't work, except in service authentication mode"
See

https://groups.google.com/forum/#!topic/mitappinventortest/zasQRzYA4H0

[2015-12-15 02:43] halatmit opened #634 "Check listpicker selection and selection index when there are no elements"
Ditto for listview

Also see  thread at

https://groups.google.com/forum/#!topic/mitappinventortest/Hb3onC-dmjg

[2015-12-17 02:43] halatmit opened #636 "Change backpack documentation sign"
Change the label from "backpack documentation" to "Show backpack documentation"

[2015-12-20 17:08] halatmit commented on #636
#637

[2015-12-26 18:40] halatmit opened #641 "change "obsfucate" to obfuscate"
fix misspelling

[2015-12-26 19:57] halatmit commented on #634
PR #642

[2015-12-29 01:36] halatmit commented on #641
@fturbak
I'm working on this but need help from Lyn on what to put in versioning.js

[2015-12-29 02:56] halatmit commented on #632
@jsheldonmit
I tried fixing this, but I can't make it work.  There's supposed to be a timeout error, but I don't see it happening, at least not on my Marshmallow phone.  and I don't see any good suggestions on the Web.

[2015-12-29 03:12] halatmit opened #645 "add a way to rotate images"
Currently, image sprites can be rotated, but not images.   add a way to rotate images.

Plan is to do this by adding a new image property called RotationAngle.

[2015-12-29 17:44] ram8647 commented on #606
Doing some additional research on this issue.

Apparently, by default, [Location.latitude and Location.longitude are set to 0,0](http://developer.android.com/reference/android/location/Location.html#Location(java.lang.String)) when a Location object is created.

And according to this thread on [Stackoverflow](http://stackoverflow.com/questions/32650872/latitude-and-longitude-values-are-giving-null

[2015-12-30 02:33] halatmit commented on #645
PR #648

[2015-12-31 01:10] halatmit commented on #633
I put a note in the Pizza party tutorial recomending that people use service authentication for now.

[2015-12-31 05:00] fturbak opened #649 "improving deprecation and marking bad blocks for components"
Issue #112 allowed component events and methods to be deprecated (and associated blocks to be marked bad) by declaring userVisible = false in @SimpleEvent and @SimpleFunction annotations. But this approach can't work for @SimpleProperty, because userVisible = false is already used to indicate designer-only and hidden properties.

Deprecation should be improved by using the @Deprecated annotation (

[2015-12-31 05:06] fturbak commented on #649
I've implemented the deprecation fixes: PR #650

[2015-12-31 06:31] skylarmt opened #651 "How to change the generated apk package names?"
I'd like to modify the code so packaged apps have my domain for the package name ("com.example.etc"), instead of "appinventor_ai.partofemail.etc".  I'm a Java developer, but can't for the life of me find what I need to change in the sources.

[2015-12-31 11:56] josmas commented on #651
You may be able to change it with an external tool like https://groups.google.com/forum/#!msg/mitappinventortest/hrVg1dDzELk/TYdcoT9DEAAJ

If you want to look into the sources, have a look at:
https://github.com/mit-cml/appinventor-sources/blob/master/appinventor/buildserver/src/com/google/appinventor/buildserver/Compiler.java#L315

Haven't checked what that code does exactly, but would be a good

[2015-12-31 11:56] #651 closed

[2015-12-31 15:08] #649 closed

[2016-01-01 19:46] halatmit opened #653 "Image sprites are not scaled correctly in the designer"
See Ghica's note:

https://groups.google.com/forum/#!category-topic/mitappinventortest/FDEEx9PYyF0

The problem is both with images and image sprites, although they are slightly different.
In all cases, the phone works correctly.  It's the designer that's not scaling the image.   And there are
different results for images depending on whether you select Scale Picture to Fit.

[2016-01-04 14:31] jsheldonmit opened #655 "help text for several components breaks the pop-up UI"
For the Sharing, BlueToothClient, and BlueToothServer, clicking on the help question mark displays help text that breaks the UI, as per the attached images.

Problem was noticed on a test server for Brazilian Portuguese, but exists on public service, across languages.

Mac, Yosemite, Chrome latest release version (Version 47.0.2526.106 (64-bit))
![screen shot 2016-01-04 at 9 18 18 am](https://clou

[2016-01-07 22:11] halatmit opened #657 "What are the size limits on Download Blocks as Image?"
See
https://groups.google.com/forum/#!topic/mitappinventortest/JdpynrSaXRA

[2016-01-08 11:19] E-Hon commented on #653
Hi @halatmit ,
The scaling behavior of Image and ImageSprite is very unpredictable. I will try list it below.

If you try to increase the width or height of a picture to a value more than its preferred/automatic/original one, the behavior is like scale to fit even though ScalePictureToFit is unchecked. After refreshing the page, that Image goes back to its preferred dimensions but the frame remain

[2016-01-08 14:14] halatmit commented on #653
Do whatever seems reasonable.  But make sure:

- It's reasonably compatible with what happens on the phone.
- It works with both fixed and responsive scaling.
- There's a smooth upgrade path for older projects. (If you change
scalePictureToFit

Thanks!!!

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Fri, Jan 8, 2016 at 6:19 AM, E-Hon <notificat

[2016-01-08 16:45] marksherman commented on #641
Trying to help, here are the instances of it in source code (instances in post-build files removed).
The fact that there is generator code changing yail primitives... There's some (hopefully logical) speculation below.

The very last line I missed at first. It is the actual runtime.scm, so that must be the function that the generators refer to. Neither of these, the generator, nor the runtime, cha

[2016-01-08 16:54] marksherman commented on #641
Linking in the discussion between @fturbak and @halatmit from the email list:
https://groups.google.com/forum/#!msg/app-inventor-dev/nVL6DuYhbjs/y375JBRyAwAJ

[2016-01-08 17:59] jsheldonmit opened #658 "Missing tooltips on blocks with dropdowns that have different variations visible in a drawer"
When you hover over a small number of blocks, the tooltips do not display.

The pattern seems to be that in a group of related blocks that you can switch between with a drop-down menu, when the options are all shown in a particular drawer, only the top one displays the tool-tip correctly. FOr the others, the tool tip will never show.

For example, if you choose a "sin" block, the tooltip for that

[2016-01-09 20:18] halatmit commented on #641
#647 was closed

[2016-01-09 20:19] #641 closed

[2016-01-09 20:48] halatmit commented on #645
PR #659 was closed

[2016-01-09 20:48] #645 closed

[2016-01-09 20:51] jisqyv commented on #636
#637 Merged

[2016-01-09 20:51] #636 closed

[2016-01-09 22:03] halatmit commented on #658
It looks like the bug is in math.js in the definition of math_cos at line 852 (and similarly for the other trig blocks -- and perhaps other non-trig blocks) where  it's getting the tooltip from the math_trig dropdown.
If that's the problem it could be an easy fix -- but looking at the way we're coding math_cos and math_trip that seems to be viollatiing DRY.   Maybe something to clean up?

[2016-01-10 01:00] jisqyv commented on #507
This was fixed with #604

[2016-01-10 01:00] #507 closed

[2016-01-11 16:03] marksherman opened #661 "Problem with Welcome popup and Start New Project button"
When a new user sees the Welcome window upon login, the UI buttons don't work unless the window is first dismissed by clicking off of it.

Clicking the buttons themselves (such as the Start New Project button) visually dismiss the Welcome window, but do not enable the buttons, creating a state inconsistent with what is seen.

The buttons only work when the user first clicks somewhere that's not on

[2016-01-12 15:31] halatmit opened #662 "Change NotificationComponent to NotificationControl"
In the services branch, change the name of the NotificationComponent component to NotificationControl

[2016-01-12 15:33] halatmit opened #663 "Update the Pizza Party tutorials on creating a serive account"
In the PIzza Party tutorial, the documentation on how to create a service account needs to be updated, since Google has changed the developer panel interface.   Please check  and update.

[2016-01-12 15:39] halatmit opened #664 "Show only the permissible components in the Palette for tasks"
In creating a task, the designer palette should show only the components that can be added to the task.

[2016-01-12 15:59] josmas commented on #662
@halatmit is 'services' the same as the Tasks work Vedha started? Is that branch in this repo (don't see it). In any case, it would be good to set a label for work on that branch.

[2016-01-12 16:55] halatmit commented on #662
Yes, this is the same.   Andrew is working on it and I'm just today doing a
first doc for use in my class.

See

https://docs.google.com/document/d/1B9sglxkEoV-Cxsp-aQWjHfI4QJ8fryxlcrl2fNcqbHI/edit#

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Tue, Jan 12, 2016 at 10:59 AM, Jos <notifications@github.com> wrote:

[2016-01-12 16:56] jisqyv opened #665 "Guide should open a browser window with a menu bar"
Arrange for Window.open to provide the correct features.

[2016-01-12 17:35] jsheldonmit opened #666 "Clicking Start New Project multiple times while new project is loading - possible to grey out?"
There is a lag when creating or uploading a project, which shows the project in the My Projects list. And then the users felt like they needed to click it (again), even though it opens automatically.

Is it possible to disable the "Start New Project" button temporarily while project loads?

[2016-01-13 17:42] afmckinney commented on #665
lgtm

[2016-01-13 17:42] #665 closed

[2016-01-13 20:35] marksherman opened #670 "Fusion Tables DoQuery does not work, but SendQuery does."
Also, the default query that comes with the component, `show tables` doesn't appear to work, so users need something like `GetRowsWithConditions` which does.

@halatmit @afmckinney @jisqyv

[2016-01-13 20:50] josmas commented on #670
Isn't doquery deprecated? Should have been for a while; the api changed quite a while ago.

[2016-01-13 20:52] marksherman commented on #670
You're right! doQuery is already gone. Guess that was an easy issue.

Mark Sherman
UMass Lowell Computer Science
Engaging Computing Group
msherman@cs.uml.edu
http://www.cs.uml.edu/~msherman/

On Wed, Jan 13, 2016 at 3:50 PM, Jos <notifications@github.com> wrote:

[2016-01-14 18:25] afmckinney commented on #589
This has been fixed

[2016-01-14 18:25] #589 closed

[2016-01-14 19:26] afmckinney commented on #670
Yup it's been deprecated. Thanks Jose.

[2016-01-14 19:26] #670 closed

[2016-01-14 19:26] jisqyv commented on #666
Fixed (in master) will be deployed soon.

[2016-01-14 19:26] #666 closed

[2016-01-14 19:47] ajcolter commented on #661
PR here: https://github.com/mit-cml/appinventor-sources/pull/673

[2016-01-14 23:05] marksherman opened #675 "FusionTables expects a PKCS12 keystore - google no longer provides them"
The client secret, needed to use a fusion tables service account, is now downloadable as a JSON file. There is no longer an option to download a .p12 file, which is what the FusionTablesControl component requires.

If the JSON file is attached, queries return the error **"stream does not represent a PKCS12 key store"**

That means App Inventor **can't be set up to use a new service account.**

Her

[2016-01-14 23:10] marksherman commented on #661
I tested and can confirm bug is fixed.

[2016-01-14 23:28] marksherman commented on #663
Nearly done. Needs resolution of #675

[2016-01-15 03:07] E-Hon commented on #653
some updates:
1. created ScaleChoicePropertyEditor to replace ScaleToFit
2. coded to resize image according to the choice of ScaleChoicePropertyEditor

to do:
1. code to resize on the android side
2. also apply the changes to ImageSprite
3. solve the issue that a picture returns to its original size after refreshing

[2016-01-15 03:37] halatmit commented on #653
Thanks!

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Thu, Jan 14, 2016 at 10:07 PM, E-Hon <notifications@github.com> wrote:

[2016-01-15 22:09] halatmit commented on #675
@afmckinney @jisqyv @jsheldonmit @marksherman
Can someone volunteer to fix this?  We need to get fusion tables working.
Thanks.

[2016-01-15 22:12] jisqyv commented on #675
@halatmit @jsheldonmit @marksherman @afmckinney I'll take a look over the weekend.

-Jeff

[2016-01-15 22:13] jisqyv opened #676 "Need to update the version of the GCS library that we use"
The version we are currently using does not work anymore in the development server.

[2016-01-15 22:22] jisqyv commented on #675
@marksherman I just created a service account and a p12 file was still an option...

That said, the p12 option is called "legacy" and the JSON path is preferred. So I will look into using a JSON key. NOTE: We will have to support both for a period of time, otherwise we will break existing projects that have and use p12 keys.

[2016-01-15 22:32] halatmit commented on #675
thanks

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Fri, Jan 15, 2016 at 5:12 PM, Jeffrey Schiller <notifications@github.com>
wrote:

[2016-01-15 22:44] marksherman commented on #675
Tell me how to get the p12 and I'll put it in the instructions.

The json is pretty easy. That's how google seems to EOL things, making it
hard to find.

I think it should be possible to have the component take both files. It
wouldn't even be a property or block change, so no breakage. The field just
says "key".

On Fri, Jan 15, 2016, 5:32 PM hal <notifications@github.com> wrote:

[2016-01-15 22:52] jisqyv commented on #675
@marksherman Did you go to the page to create a service credential? When I did, it gave me two radio buttons to choose from:

![createcrentials](https://cloud.githubusercontent.com/assets/1596728/12367521/a135a4b8-bbb0-11e5-9cdc-87bdf72165fb.png)

[2016-01-15 22:53] jisqyv commented on #675
@marksherman Btw. I believe I can do the change and still be backward compatible, but it will be ugly. The hard part is I likely will have to upgrade the version of the oauth2 library we are using AND all of its dependencies which may break other parts of App Inventor which will require fixing.

[2016-01-15 23:14] marksherman commented on #675
Wow, that's hidden. If you click on the service account itself, you get this:
<img width="924" alt="screen shot 2016-01-15 at 6 10 38 pm" src="https://cloud.githubusercontent.com/assets/2035149/12367828/814f976e-bbb3-11e5-98d7-4e708a4f29e9.png">
With no indication that there's another way to get it.

The secret is to not click on the service account, or click any of the TWO downloadJSON buttons on

[2016-01-16 00:51] halatmit commented on #675
While you're editi the Docs, should we simply tell people to use Service
Authorization and not worry about the other Authorization -- or at least
describe things so that Service is the nornal way and describe the other a
an option (after we get it to work)?

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Fri, Jan 15, 2016 at 6:14 PM, Mark Sherman

[2016-01-16 00:59] marksherman commented on #675
That's actually my plan- not even mention the half-good solution

On Fri, Jan 15, 2016, 7:51 PM hal <notifications@github.com> wrote:

[2016-01-16 01:01] halatmit commented on #675
+1

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Fri, Jan 15, 2016 at 7:59 PM, Mark Sherman <notifications@github.com>
wrote:

[2016-01-17 01:25] halatmit commented on #606
pr #646 was closed

[2016-01-17 01:25] #606 closed

[2016-01-17 01:30] halatmit commented on #180
Usefront was undocumented in pr #652
It's not clear how we can make this work, short of writing our own Camera app, rather than launching Google's.   we'll leave this unimplemented, and people will need to select the front camera manually, once Camera is launched.

[2016-01-17 01:30] #180 closed

[2016-01-17 01:32] halatmit opened #677 "Internationalize "OK" and "CANCEL""
.. and check the other button texts

[2016-01-17 21:32] jisqyv commented on #677
@halatmit I agree that we should fix this, but I am concerned about doing so outside of a general plan to internationalize the runtime. Otherwise we will start getting complaints which state that the dialogs are internationalized, but other components are not.... and down the slippery slope we go...

Btw. I suspect the correct thing to do in this particular case is to use the system default (which

[2016-01-17 21:56] halatmit commented on #677
I didn't know one could easily use the system default.    Is that
documented?  Where?

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Sun, Jan 17, 2016 at 4:32 PM, Jeffrey Schiller <notifications@github.com>
wrote:

[2016-01-18 00:05] halatmit opened #678 "update the Android library"
Update to API 23 (Marshmallow)

from JIS
It's just work. You put the new library in place (correctly) and deal with the breakage... Its about as much work to assess the amount of work needed as it is to just do the work. In general each thing that breaks doesn't take much effort to fix. You just have to grind through it. Same as with the GCS update I need to do.

[2016-01-18 18:59] marksherman commented on #675
The P12 is still available. Instructions have been updated to reflect how to get it.

[2016-01-18 18:59] #675 closed

[2016-01-18 19:01] marksherman commented on #663
Encountering a problem: With a service account, App Inventor apps can easily query a database without any need for the app user to login. It's perfect.

BUT all insert queries I'm trying are currently being met with 403 Forbidden. No other information.

I know the query is right, because if I break the query, it gives a Parse Error response. When it's correct, Forbidden.

All the big apps I've wor

[2016-01-18 20:00] halatmit commented on #663
@marksherman Is the table set up so that the service account has write permissions?

[2016-01-18 20:03] marksherman commented on #663
My apologies, that comment was a draft and not intended to be published. I actually deleted the text and closed the tab, not sure why GitHub interpreted that as 'post'. It is resolved, and the documentation is updated, and I'm now fixing the demo app to match.

[2016-01-20 02:18] jisqyv commented on #661
Fixed in the master branch

[2016-01-20 02:18] #661 closed

[2016-01-20 19:49] josmas opened #679 "Support access to the manifest file for AI Extensions"
Extensions can already define UserLibraries and Permissions, but there's no way to create extensions that need other type of access to the manifest through Compiler.java

A first iteration of this could be to move the BroadcastReceiver code used in Texting.java to the component (with an annotation) instead of adding it directly in Compiler.java. After that, more support for things like Services, m

[2016-01-20 19:58] josmas commented on #634
@halatmit I take it that by merging #642 this can be closed. Please reopen if that's not the case.

[2016-01-20 19:58] #634 closed

[2016-01-21 13:09] marksherman commented on #663
Fix submitted to @jsheldonmit

[2016-01-21 14:14] josmas opened #680 "Load assets in Companion and be consistent with paths for assets"
Two related issues here:

  1 - Being able to load assets to Companion; for instance, place a files in Media drawer and be able to load it with [AssetManager.getAssets()](http://developer.android.com/reference/android/content/res/Resources.html#getAssets%28%29) or something like https://github.com/josmas/app-inventor/commit/9f6bb7eb8baf4c56dc18c43d5e39cce0cfd01e65#diff-c1a68fe2ba0c38f92a1a316c699c

[2016-01-21 21:38] josmas commented on #677
@halatmit It depends on the particular piece of code; if you look at the Notifier [here](https://github.com/mit-cml/appinventor-sources/blob/master/appinventor/components/src/com/google/appinventor/components/runtime/Notifier.java#L218) you can see why the first two buttons can appear in the language the app is being developed, but ***Cancel*** is hardcoded in English only. In other cases some tra

[2016-01-21 21:52] josmas commented on #657
I have tried exporting all screens (the ones with most blocks) in the aia provided and it worked fast and without an issue. Have replied to the thread; this may be a RAM or other resources kind of issue for that particular user.

[2016-01-21 21:55] josmas commented on #624
heya @shrutirij let me know if you've no time to work on this and can be assigned to someone else.

[2016-01-21 22:14] josmas commented on #632
Is this the [forum thread](https://groups.google.com/d/msg/mitappinventortest/5TpBqBVC8hE/OWQsXxEgEgAJ)?

The way of reproducing is by making the recognition fail (say, cough to the phone or similar). It will try to recognise it and when it fails, it shows that screen to try again (in 5.1 the widget is much nicer).

There is no point in having a simple function for that (it would not be a handler,

[2016-01-21 22:14] #632 closed

[2016-01-21 22:16] josmas commented on #633
@halatmit what's the expected course of action here? Check if individual credentials can be fixed OR deprecate individual credentials in favour of service accounts?

[2016-01-21 22:27] josmas commented on #518
closing as of https://github.com/mit-cml/appinventor-sources/pull/578

[2016-01-21 22:27] #518 closed

[2016-01-21 22:28] josmas commented on #545
did this ever happen or is it still open (link to PR)? @kkashi01

[2016-01-21 22:33] josmas commented on #295
Going to close this one as it is the same a #677 and the other issue has more info (it will get cross referenced from this comment too).

[2016-01-21 22:33] #295 closed

[2016-01-21 22:36] josmas commented on #211
added `to confirm` label because some work has been done on this, but not sure what was or was **not** merged.

[2016-01-21 22:40] josmas commented on #173
@jisqyv have just removed you from this one; marking as `help needed` for easy fixes to get started with the sources.

[2016-01-22 00:01] ltphan commented on #655
Hi,
I'd like to work on this issue. I am fairly new to open source, would anyone be able to guide me in the right direction for this?
Thank you :)

[2016-01-22 02:45] halatmit commented on #677
@josmas Why don't we  just localize the "cancel" string to the same language as the blocks?    I realize that the actual right thing to do is to translate according to the device setting rather than the developer's language, but we're not doing that for other text strings, and I'd think this half-measure is better than always having "cancel" in English.  Am I missing something?

[2016-01-22 02:51] halatmit commented on #633
@josmas @marksherman
We're deprecating individual credentials for now, at least in the documentation.   Right, Mark?

[2016-01-22 03:39] marksherman commented on #633
The only credentialing mechanism being kept in the tutorial is Service
Account.

On Thu, Jan 21, 2016, 9:51 PM hal <notifications@github.com> wrote:

[2016-01-22 03:41] halatmit commented on #633
@marksherman
Do we want to also change any component documentation or deprecate anything?

[2016-01-22 03:47] marksherman commented on #633
I currently believe the method that allows for sharing only with specific
people and groups is still a valid need. If it doesn't actually work, which
I have not yet tested, then we're back at Jose's question, do we fix it or
get rid of it. In a perfect world I would rather it work. There are still
small, local-to-the-user scenarios where small-group sharing is the right
way. It may not be the majo

[2016-01-22 03:50] halatmit commented on #633
Do you want to try to fix it?    Or leave it as an open issue?

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Thu, Jan 21, 2016 at 10:47 PM, Mark Sherman <notifications@github.com>
wrote:

[2016-01-22 06:12] shrutirij commented on #624
@josmas I've been swamped, so I'll work on this over this weekend. Is that ok?

[2016-01-22 09:52] josmas commented on #624
Heya @shrutirij sure, not a problem. Just let me know if you can't get to it in the next week or so and I'll open it up for grabs. Thanks for looking into it anyway; hope you are keeping well! :)

[2016-01-22 10:01] josmas commented on #677
@halatmit we will need to localise in a similar way to the blocks, but this is **runtime** in the app itself; I don't think we have access to the current localisation infrastructure written for the appengine project from the Components project. I guess it could be hacked in some way, but it would be really ugly. In the same way that we need two different strategies for Blockly and for GWT, we'll n

[2016-01-22 10:10] josmas commented on #655
Hi there @ltphan thanks for your interest. The way to get started is to review the [documentation](http://appinventor.mit.edu/appinventor-sources/#documentation). For this particular project, the document [the browser client](https://docs.google.com/document/d/1rOsvtd6ZjmRYqBdL9OWRhtwf735lJydDQjvkjCYVJ6E/pub) would be the most important one, after you get around to [run your own local server from

[2016-01-22 10:31] josmas commented on #633
Changing the docs but not deprecating the code is not a good idea. I'd vote for fixing it, if there's a case for it and it is possible to fix (we'll need to figure out why it stopped working in first place).

@marksherman, if you plan to work on it, assign it to yourself; otherwise it's up for grabs.

[2016-01-22 13:28] halatmit commented on #677
I think I understand what you are saying, and why one might prefer to do it
at runtime.    But - for now - why not treat the "cancel" string the same
way as treat, the names of methods or properties -- they are set
(statically) when the developer chooses the language to work in.  I
understand that this is not the same language that the phone's user might
want.   But it's better that making it alwa

[2016-01-22 13:47] josmas commented on #677
I am not very familiar with the approach used for the designer; is it an annotation that is used? for instance, from OdeMessages:
[code]
In GWT code you can used the function defined, but how do you use that from a Component file? It's obviously being used somehow, but don't know how it is wired. It would be rather ugly to do it that way, but I guess it's somehow possible.

[2016-01-22 13:53] halatmit commented on #677
I'll play with it and take a look.  Maybe I'm missing something.

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Fri, Jan 22, 2016 at 8:47 AM, Jos <notifications@github.com> wrote:

[2016-01-22 14:16] cpseager commented on #677
Maybe get a localised default here (works for ok too):

    string s = getActivity().getString(android.R.string.cancel);

In XML

     @android:string/cancel

[2016-01-22 14:45] josmas commented on #677
thanks for your input, @cpseager

Actually, for this particular case, it could work. We don't define layouts or string resources in XML, but _cancel_ and _ok_ are part of the SDK. Something like this could work (haven't tried it though!):
[code]

Unfortunately, it wouldn't work for other cases such as https://github.com/mit-cml/appinventor-sources/issues/546

[2016-01-22 14:47] halatmit opened #681 "Make multiline labels scrollable."
Do it both for the phone and in the designer

[2016-01-22 15:23] jisqyv commented on #677
There are three issues/things to do here. One is to use the Android locale strings for strings displayed by Android components, such as OK and Cancel in dialog boxes. Things like:

    string s = getActivity().getString(android.R.string.cancel);

The second one is internationalizing strings provided us like the strings in the About this application box. For that we would need to provide a set of s

[2016-01-22 15:33] halatmit commented on #677
I suggest we do only the first of Jeff's three things now, and file the other two as future issues.
The current Noifier asks the developer to provide the string corresponding to OK and I'd like keep it like that and use the locale method only for "Cancel" (for now).

[2016-01-22 21:17] marksherman commented on #633
Right now I'll leave it up for grabs.

On Fri, Jan 22, 2016 at 5:31 AM Jos <notifications@github.com> wrote:

[2016-01-23 14:01] marksherman opened #682 ""Welcome" popup should not trigger viewing a gallery link"
If you open a gallery link to a project, and you don't have any projects, the Welcome popup still pops up, blocking the gallery app.

It is easy to dismiss but visually confusing. It's also a complication in path-to-setup for a research experiment, which I need to make as uncomplicated as possible.

Thanks to the Gallery, the assumption that the first page is always "My Projects" is no longer true

[2016-01-24 23:04] halatmit opened #683 "Update Dave's displaying a list documentation"
The page at
http://appinventor.mit.edu/explore/content/displaying-list.html
needs to be updated for AI2.   Probably best to do it as a Google doc .

There's also some confusion with the (alternate version?) of the page that
is currently what you get when you click on Displaying a list from
http://ai2.appinventor.mit.edu/reference/other/
That bad target should be eliminated and changed to something

[2016-01-25 00:45] halatmit opened #684 "add translations for the tooltips"

[2016-01-25 14:09] halatmit commented on #677
#685 handles CANCEL text

[2016-01-26 11:11] E-Hon commented on #653
hi @halatmit
I got stuck at "Do not scale" mode on the android side and I raised a [question](https://groups.google.com/forum/#!topic/app-inventor-dev/DsVv9TWzkTE) in the group.
shall we wait a couple of days to see if i get any help? if i don't, then shall we just use "scale to fit" and "scale proportionally" for both Image and ImageSprite?

[2016-01-26 17:28] ajcolter commented on #682
Hi Mark,
I'm trying to recreate this. I deleted all of my projects. I saw the Welcome pop up. I then went to the gallery, and clicked a random app. Clicked Open the App, it asked me to give it a name, and it pulled it up. Where am I going wrong?

[2016-01-26 17:38] marksherman commented on #682
Find an app in the gallery, copy its "share" link, which should have
gallery in the URL.

Delete all your projects, log out, then hit the project's share link.

I think that will do it.

On Tue, Jan 26, 2016, 12:28 PM ajcolter <notifications@github.com> wrote:

[2016-01-26 18:00] ajcolter commented on #682
Yep, that did it. Will investigate.

[2016-01-26 21:04] ajcolter commented on #682
https://github.com/mit-cml/appinventor-sources/pull/686

Haven't tested it yet, though. :-o

[2016-01-27 02:36] halatmit commented on #677
#685 was closed

[2016-01-27 02:36] #677 closed

[2016-01-27 17:41] jsheldonmit commented on #621
fixed with new QR code for this tutorial - did not investigate whether other QR codes were broken

[2016-01-29 20:41] halatmit commented on #621
fixed

[2016-01-29 20:41] #621 closed

[2016-01-31 14:10] halatmit commented on #653
@jisqyv @afmckinney
Jeff and Andrew, please take a look.

[2016-02-03 13:39] halatmit opened #693 "Clean up the way we are internationizing component property and palette descriptions"
Several of the component descriptions, for example TextToSpeech, are both in OdeMessages and redundantly  in the component java file.    Remove the redundancy and standardize on putting the correct message in OdeMessages so these descriptions are internationalized.

[2016-02-04 09:27] E-Hon commented on #582
Hi guys,
Our code doesn't have any problem.

The intervals used by that user are just too small that `seekTo()` doesn't work. I wrote a native android app with ![this video](http://www.sample-videos.com/video/3gp/240/big_buck_bunny_240p_1mb.3gp) to test how large an interval needs to be in order to "jump" to next scene. And it took around 500ms to do so.
_(for some reasons, emulators can't play mp

[2016-02-04 11:09] E-Hon commented on #485
How about removing "Guide" and "My Projects" from the top bar?

I can't see the "Moderation" link

[2016-02-04 11:31] josmas commented on #485
This needs quite a bit of thought. Could anyone come up with a ***wireframe*** for the full toolbar and menus?

There are menu items that only make sense when a project is loaded, and others that only make sense when the list of projects is being displayed.

Also the language is not totally consistent, for instance, you can import an .aia file from a **repository**, but when you click and go into

[2016-02-04 11:32] E-Hon commented on #479
I can't reproduce it either.

I started an empty project, dragged a button, set the height to 48 pixels, changed background color. The height was still 48 pixels.

I tried to add a label so that when the button is clicked, it shows the button's height. Then I set the height to 48 pixels and then changed the background color. The label didn't change

[2016-02-04 12:22] halatmit commented on #479
@E-Hon @josmas @liyucun
I'm closing this one.   Thanks to everyone for checking.

[2016-02-04 12:22] #479 closed

[2016-02-04 12:34] E-Hon commented on #371
it seems to me that BackgroundImage should be placed on top of BackgroundColor but i can't find any problem with Canvas and Screen; they put BackgroundImage on BackgroundColor so BackgroundColor is not shown.

[2016-02-04 12:51] halatmit commented on #371
@jisqyv
Jeff, any comments on this?   Can we close the issue?

[2016-02-04 14:02] halatmit commented on #582
Ethan, thanks!
I updated the documentation
PR #694

[2016-02-04 16:58] jisqyv commented on #371
@halatmit Yep, this one is fixed (and will be deployed in the pending release).

[2016-02-04 16:58] #371 closed

[2016-02-04 18:37] ajcolter commented on #485
I have been working a bit on the top menu on my UI/UX branch. I think Jose makes a lot of valid points, and I will take them into consideration, too.

[2016-02-07 03:09] E-Hon commented on #681
It seems to me that a typical label is not expected to scroll. Rather, a TextBox is more suitable for this behavior.

[2016-02-07 21:38] halatmit commented on #681
@E-Hon
I agree.  I'm going to close this issue.  Thanks.

[2016-02-07 21:38] #681 closed

[2016-02-08 04:10] E-Hon commented on #301
perhaps we can add all the typefaces ![here](https://www.google.com/design/spec/style/typography.html#typography-typeface)?

[2016-02-08 04:14] E-Hon commented on #301
well, there are only Roboto and Noto

[2016-02-08 13:58] ThatDuk opened #696 "Update design of generated apps"
We're on Android 6.0.1 now, but generated apps still use design from 2.x era. Apps made with AppInventor therefore look ugly by today's standards. Apps should follow Material or at least Holo design standards by now.

[2016-02-08 14:05] halatmit commented on #696
@ThatDuk
Do you want to work on this, or at least have a proposal for how this should be presented to App Inventor users?    If not, you might want to raise this in the open source forum.

[2016-02-08 15:22] josmas commented on #696
@ThatDuk If you are running your own server, you can change [the manifest](https://github.com/mit-cml/appinventor-sources/blob/master/appinventor/buildserver/src/com/google/appinventor/buildserver/Compiler.java#L324) to whatever minSDK you want, and also make changes for the theme you want.

[2016-02-08 20:30] kdclang commented on #583
File has been updated to AI2. Added a bit more about using Notifier and Labels to display values during debugging.

[2016-02-09 00:44] halatmit commented on #583
@kdclang Thanks.

closing the issue

[2016-02-09 00:44] #583 closed

[2016-02-10 14:04] halatmit commented on #301
There are lots of different fonts, but I don't know how easy it would be to add them to App Inventor or what we'd have to do to maintain them, or how to get compatibility between the phone and the designer.   This ought to start with a proposal, to see if it's viable.

[2016-02-10 19:57] ajcolter commented on #485
Emily is going to mock up a wireframe for the top menu this semester, and she'll probably implement it.

[2016-02-12 09:56] ThatDuk commented on #696
@halatmit I don't have the skill to work on something like this. I'll submit it to the open source forum. Thanks!

@josmas I'll look in to it.

[2016-02-12 19:34] jisqyv opened #700 "Increase the 5MB limit to 10MB for building apps"

[2016-02-13 08:55] MCSH opened #702 "Build Server Stuck at 85%"
Hello.

I'm running appinventor on a single node cluster on appscale (more info on how: https://github.com/AppScale/appscale/issues/1900 ) and while compiling an empty project the progress bar gets stuck at 85% without any additional information. Checking buildserver's logs, I found these:
[code]
_(I tried to modify the source a bit trying to get more info on why it's failing, but I haven't change

[2016-02-13 08:59] MCSH commented on #702
More information: I checked file permission, tried to run the command myself (it worked), started buildserver with superuser access and clearted `/tmp` just in case. still no luck.

[2016-02-13 11:04] josmas commented on #702
Hi there, we don't support appscale cause we know nothing about it. In any case, your logs seem to be pointing to aapt missing. I've seen that error before, but seem to recall it was on windows, and a path issue. Have you checked the open source forum? You may find some info there.

[2016-02-14 21:04] josmas commented on #679
https://github.com/mit-cml/appinventor-sources/pull/703 is the first pass at this.

I'll add Services next (whenever I can find the time!).

[2016-02-14 21:07] josmas commented on #657
No reply (forum) in 24 days, so I am going to close this one for now. Feel free to reopen.

[2016-02-14 21:07] #657 closed

[2016-02-14 21:10] josmas commented on #493
closing this one as a duplicate of #700

[2016-02-14 21:10] #493 closed

[2016-02-14 21:19] josmas commented on #499
Have modified the website to link to the new document (and made minor corrections). Closing this now.

[2016-02-14 21:19] #499 closed

[2016-02-14 21:27] halatmit commented on #683
this was done
closing

[2016-02-14 21:27] #683 closed

[2016-02-14 21:29] halatmit commented on #565
Marshmallow works, although we'll need to make changes to how we handle permissions if we move the target SDK to OS 6.

[2016-02-14 21:29] #565 closed

[2016-02-14 21:35] josmas commented on #630
Has anyone worked on this? Funnily enough, I cannot reproduce the description above, BUT if you delete all blocks from the backpack in say Screen2 and change to Screen1, the backpack shows as full even though it has no blocks in it. Can someone else confirm?

[2016-02-14 21:54] josmas commented on #630
Actually, this is kinda random; now I can reproduce the behaviour in the first message. There's definitely something odd going on!

[2016-02-14 23:00] josmas commented on #630
A bit more info here; it seems like a different backpack object is created with each Screen, so even though the contents are shared between all objects, the state is not, and each of the screens is not aware of what happened in the previous one.

Two things that can be done:
1. Figure out how the state is shared, and do the same for state.
2. Re-design this in a similar way to TypeBlocking, in whi

[2016-02-15 00:05] josmas commented on #630
For point 1 above, there are two functions to set and get backpack that are _pushed up_ to GWT (see functions in BloclyPanel.java. That's how the blocks are shared between Blockly instances, because those functions are defined as `window.parent.BlocklyPanel_getBackpack();`. The state of the icon (open/close or large/small or empty/full) could be shared in the same way.

[2016-02-15 01:14] ajcolter commented on #630
So I think we've decided to abandon making the backpack bigger when it has blocks in it. However, it will be a new backpack image that shows blocks in it if it has blocks. So if it doesn't know about the state between screens, that could be a problem.

I think the isOpen state is a hover-state?

[2016-02-15 11:02] josmas commented on #630
@ajcolter the new images are already in (in master; not deployed). The third state is indeed a hover state.

[2016-02-15 13:20] halatmit commented on #653
#692 was closed

[2016-02-15 13:20] #653 closed

[2016-02-16 15:51] halatmit commented on #702
I'm closing this.  It should be a request in the forum, not an issue.
But it looks like José's reply is appropriate.

[2016-02-16 15:51] #702 closed

[2016-02-16 15:53] halatmit opened #707 "Button shapes do not work if there is a background image"
Buttons always have rectangular shape if there is a background image.   This is the case both for the phone and the designer.

[2016-02-18 07:00] MCSH commented on #702
I found a solution.

I was running it in 64-bit ubuntu and the aapt was 32-bit. Here is the fix in case anyone else got this error:

http://stackoverflow.com/questions/19523502/how-to-make-androids-aapt-and-adb-work-on-64-bit-ubuntu-without-ia32-libs-work

[2016-02-18 21:38] josmas opened #708 "Block param names do not exist when changing languages"
If you start an app in one language and use any blocks with parameters like in the following picture:
<img width="499" alt="english_params" src="https://cloud.githubusercontent.com/assets/194925/13158970/5c0207b4-d687-11e5-8daf-547097c7573c.png">

When you switch languages, the parameters get translated, but the local variables (get blocks within the block) are not reloaded in the new language, an

[2016-02-18 21:50] halatmit commented on #708
Thanks!

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Thu, Feb 18, 2016 at 4:38 PM, Jos <notifications@github.com> wrote:

[2016-02-19 15:06] fgmart-zz opened #709 "Designer UI truncates long file names, leading to user confusion"
If your image filename is too long, it gets shortened for display thusly:

![screenshot 2016-02-19 at 10 04 36 am](https://cloud.githubusercontent.com/assets/1038856/13179079/375e11b4-d6f0-11e5-8fa6-4ef1883b7697.png)

this leads to user confusion on the actual filename, producing code such as:

![screenshot 2016-02-19 at 10 05 55 am](https://cloud.githubusercontent.com/assets/1038856/13179108/65a9

[2016-02-19 15:42] halatmit opened #710 "Gallery problems with Feb. 18 release"
@wolberd @jisqyv

These two reports might be the same issue:

On Thu, Feb 18, 2016 at 11:23 PM, Italo Barbiero italobarbiero@gmail.com wrote:
    After a search in the gallery, when clicking on "more apps" it repeats the same 10 apps that are already showing.

Scott Ferguson:
I cannot find any of my apps in the gallery.
A corrupted index, perhaps?
They already disappeared once before and I had to

[2016-02-19 15:52] fgmart commented on #709
More on this... the user got the incorrect fn's in the blocks by copy-pasting from the Media window.

[2016-02-19 16:19] josmas commented on #709
If we had a dropdown block with all elements in the media drawer (instead of using a text block), this wouldn't happen. There's some work on that right now for Screen names; this could be a good second example.

[2016-02-19 19:36] jisqyv commented on #710
I'm looking through the logs. It looks like we are getting
StatusCode.TRANSIENT_ERROR back from the Google Search API and instead of
retrying, we are de-referencing a null pointer, which causes a 500 error to
be returned to the client. The red error only is visible for a short while,
so some people may not notice the error and just notice that the gallery
operation didn't seem to do anything.

The

[2016-02-19 20:09] wolberd commented on #710
Hi everyone. Thomas has fixed at least the error about clicking next on
search results. I've cc'd him here. I don't think his changes have been
merged yet.

Dave

On Fri, Feb 19, 2016 at 11:36 AM, Jeffrey Schiller <notifications@github.com

[2016-02-19 22:01] jisqyv commented on #710
@wolberd I see two changes from Thomas. I don't believe either of them addresses this issue.

[2016-02-20 02:32] E-Hon commented on #301
![css font family](https://developer.mozilla.org/en/docs/Web/CSS/font-family) supports a lot of fonts so designer won't be a problem.
but android only supports normal, serif and monospace. we need to install new fonts. this can be tricky

[2016-02-21 12:51] E-Hon commented on #300
i've done a little experiment with color input element.

It is as simple as < input type="text" > but its value must start with #. So we can't change # into &H in the __property editor__. We can only change it in __property__. The problem is when a project is being saved, only those values from __property editors__, but not from __property__, are copied into .scm file, resulting in buggy loading o

[2016-02-21 13:09] E-Hon commented on #707
Hi @halatmit, I am going to look into it.

I think this is one instance of the same issue which involves the dependency among properties. I suggest we remind developers to handle property dependency in ![How to Add a Property to a Component](https://docs.google.com/document/d/1ukpZXcd0fIn1fV0cNp4J00wrfwwA1daswU1yY6dqqfs/pub) when they want to edit or create properties

[2016-02-21 13:26] E-Hon commented on #655
the problem from the first image is reproducible in Chrome, Safari and Firefox but that from the second image is only reproducible in Chrome and Safari but not Firefox

[2016-02-21 15:22] halatmit commented on #655
My recollection is a Chrome is more strict about HTML errors than FF, so maybe it's something there.

[2016-02-21 15:23] halatmit commented on #707
@E-Hon Do you have a suggestion for what to add to the documentation?

[2016-02-22 02:29] E-Hon commented on #707
@halatmit
That doc uses button shape as an example. how about after we fix this issue, we add a section of __resolving property dependency__? The code for this issue can then be added to it

[2016-02-22 20:18] jisqyv opened #712 "Backpack state (empty or full of blocks) does not track properly across screen switches"
... But if you go to another screen, it does not show that items are in the backpack (saved in the previous screen)

[2016-02-22 21:31] josmas commented on #712
@jisqyv this is a duplicate of https://github.com/mit-cml/appinventor-sources/issues/630 which one you want to close?

[2016-02-23 01:42] jisqyv commented on #712
@josmas Sorry I missed #630. I'm closing this one.

[2016-02-23 01:42] #712 closed

[2016-02-24 20:28] toropeza commented on #710
@jisqyv @wolberd
Hi Jeff,
I fixed this issue on this pull request that has already been merged into the source code. Has it been deployed into the current live version? If so my changes did not fix this issue. I linked my changes below.
Thanks, Thomas
https://github.com/mit-cml/appinventor-sources/commit/5e05b2e4d43a36f9aac9a43f6fb049322f67757b

[2016-02-25 01:42] jisqyv commented on #710
@toropeza @wolberd It has been deployed. It doesn't fix this issue. Look at my previous comment "The code in question is in GallerySearchIndex.java at line 157..." You have a comment about retrying, but no code to do so. Well, the transient errors are happening. The code falls through and we get a NPF.

[2016-02-25 20:07] varunm22 commented on #173
Hi, my name is Varun! I'm a new UROP student with the App Inventor team.
@bxie assigned this to me as a starter project
I'll prevent AIA files from being uploaded as media assets.

[2016-02-25 20:08] ajcolter commented on #485
Emily is working on implementing this now.
Wireframe here: https://docs.google.com/document/d/1Cb7XPR-UdaSZIwTfboWTJeyN6gRZyWzOKVd2y06hkkw/edit?usp=sharing

[2016-02-27 02:30] halatmit opened #713 "font is listview too small with responsive sizing"
this might apply to compoents other than ListVew:   The list of elements is too small with responsive sizing -- check for both phones and tablets.

Here's an issue of someone reporting it, but also finding a clever way to patch around it using Javascript.   The real fix (in Java) presimably would not do this, but you can see how he's setting the scaling.

https://groups.google.com/forum/?utm_mediu

[2016-02-29 02:06] halatmit opened #714 "add more getters and setters for properties"
For example, font boldface and italic.   Maybe lots more.

[2016-03-01 21:59] ajcolter commented on #485
Can someone assign me to this issue please?

[2016-03-01 22:05] josmas commented on #485
@ajcolter removed labels so potential contributors don't think it's available.

[2016-03-02 00:50] halatmit commented on #485
Looks like Jos  assigned it to you.

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Tue, Mar 1, 2016 at 4:59 PM, ajcolter <notifications@github.com> wrote:

[2016-03-03 11:05] avinasha39 commented on #708
I am interested in solving in this bug. Can anyone say in which direction to proceed.

[2016-03-03 11:11] josmas commented on #708
Hi @avinasha39 thanks for your interest.

First thing to look at would be to get familiar with the internationalisation code. You could create a component and see what's needed in terms of i18n. From there on, you could look at the actual code that does the translation (the code used by the component), and try to figure out what needs to be changed.

[2016-03-03 20:26] avinasha39 commented on #708
I have successfully build the app inventor but while trying to run in on local host i am getting a error .
i have downloaded `google appengine-java-sdk-1.9.32`

[code]

App inventor source code is in `/Desktop/appinventor-sources/appinventor/appengine/`
and  appengine-java-sdk   is in `/Downloads/appengine-java-sdk-1.9.32`

[2016-03-03 23:09] josmas commented on #708
Not sure why the previous message is not appearing in the thread. Anyway,
please ask for help in the Open source forum at:
https://groups.google.com/forum/#!forum/app-inventor-open-source-dev

cheers,
José

On 3 March 2016 at 20:26, Avinash Agarwal <notifications@github.com> wrote:

[2016-03-04 01:49] thejdeep commented on #624
Would love to work on this. Please help me proceed. Thanks.

[2016-03-04 08:17] avinasha39 commented on #708
I was having trouble in running app inventor on local host , but after the command
`./dev_appserver.sh --localport=8888 --address=0.0.0.0 &/Desktop/appinventor-sources/appinventor/appengine/build/war`
the problem was solved.
Thanks for all the trouble guys.

[2016-03-04 08:32] iamyaqoob commented on #708
Hi, I'm interested in contributing to this.
Please, guide me ...

Thanks,
Yaqoob

[2016-03-04 17:00] avinasha39 commented on #655
I think the width of the table should be inherited from ```<div class="ode-ComponentHelpPopup-TitleBar">BluetoothServer</div>``` .
Presently width is determined by the content of body content.
Can anyone guide me if I am going in right direction or is there any other point to be considered.

[2016-03-04 21:34] jisqyv opened #718 "Add "/" To the End of a Firebase URL"
If a provided Firebase URL is lacking a trailing slash, add one.

[2016-03-06 08:42] E-Hon commented on #655
Hi @avinasha39,
maybe you can try editing the css live in chrome to prove your claim? and then afterwards, you can edit appinventor-sources/appinventor/appengine/war/Ya.css

[2016-03-06 11:59] E-Hon commented on #718
hi @jisqyv
i created a pr for this and this bitesize issue is bitten :D

[2016-03-07 17:12] InsectiousApp commented on #713
@halatmit Hello , I'am Mahima and I want to contribute in Component Projects( Improvements in Listview) . Can you please suggest how I start working on it ? from where I get the source code ?

[2016-03-08 04:13] E-Hon commented on #718
one thing to ask though. why is a trailing slash necessary?

[2016-03-08 04:23] jisqyv commented on #718
@E-Hon I don't know why it is needed. It is a requirement of the firebase provided client library.

[2016-03-08 16:03] wadleo commented on #655
I tested this on the browser as @E-Hon suggested to @avinasha39 proposal and it worked by just setting the width of the table to 100%. I will send a pull request later today to correct this issue.

[2016-03-08 17:04] wadleo commented on #655
Here is the link to the pull request https://github.com/mit-cml/appinventor-sources/pull/723

[2016-03-08 17:12] wadleo commented on #714
Hi @halatmit, am a newbie to AI and would be grateful if you would be more explicit in your description of the task

[2016-03-08 17:27] wadleo commented on #582
Hi @halatmit, from the discussion above looks like this bug has been resolved and the PR merged but the issue is still open, thanks and waiting for your reply.

[2016-03-08 21:25] halatmit opened #724 "create an image gallery ..."
... of background images and buttons and the like or people to incorporate into App Inventor projects.
We should not make this open to everyone to contribute, but having it managed by a few people would be good.

[2016-03-08 22:07] josmas commented on #724
Would be good to find a different name for it; 'gallery' may be confusing as there's already one.

[2016-03-08 22:10] halatmit commented on #582
@wadleo
Thanks fro catching this.
Closing.

[2016-03-08 22:10] #582 closed

[2016-03-09 18:22] ylu21 commented on #500
Hi, my name is Yichen and I found out about GsoC from our school's email. I try to fix this bug but I'm not sure if this is the result that the app is looking for. Here is the preview.
![screenshot from 2016-03-09 13 19 50](https://cloud.githubusercontent.com/assets/6993868/13645602/ba0c4352-e5f9-11e5-93d1-a601059054d9.png)

[2016-03-10 06:15] Lasith-Niro opened #726 "Interface objects copy and paste"
I made 6 to 7 apps using MIT appinventor. So I faced this problem.In design view developer can't copy and paste objects.

[2016-03-10 07:44] wadleo commented on #624
Hi @josmas, @halatmit please can more information be provided for this task, thanks.

[2016-03-10 12:33] josmas commented on #726
I am setting this to future work.

Thanks @Lasith-Niro. Unless you are willing to work on an issue, please discuss requirements in the [open source group](https://groups.google.com/forum/#!forum/app-inventor-open-source-dev) instead of opening issues here directly. Thanks!

[2016-03-11 17:30] halatmit opened #728 "check and fix the installation instructions for using Genymotion"
See this comment on the user forum:

https://groups.google.com/forum/#!topic/mitappinventortest/YNBT4C8FjlM

[2016-03-13 15:44] C-O-P opened #732 "Link in the sources page redirects to nothing"
http://appinventor.mit.edu/appinventor-sources/appinventoris
This link in https://github.com/mit-cml/appinventor-sources redirects to nothing.

[2016-03-13 15:48] josmas commented on #732
The first link is incorrect. Where did you see that?

--------------------------------------------
mobile. brevity.typos.cheers
On 13 Mar 2016 3:44 pm, "krishna keshav" <notifications@github.com> wrote:

[2016-03-13 16:54] C-O-P commented on #732
https://github.com/mit-cml/appinventor-sources
This the place where it is mentioned.

[2016-03-13 16:59] halatmit commented on #732
Please provide that actual line on the page that contains the bad link.  thanks

[2016-03-13 17:07] C-O-P commented on #732
Please open the link provided.You will see the bad link in the github page description.

[2016-03-13 17:13] halatmit commented on #732
I'm sorry ,  I don't see it.  I know that the link itself is bad.  What  don't know is where that link appears on the page.   What is the line of test on the page that contains the bad link?

[2016-03-13 17:17] C-O-P commented on #732
http://ctrlv.in/726627 ---> It is a screenshot.Hope this helps.
Regards

[2016-03-13 17:24] halatmit commented on #732
I appreciate you helping, but that screenshot does not show a bad link.  could you circle the  specific thing l are clicking on that gives the bad behavior?

[2016-03-13 17:46] josmas commented on #732
It was the link to the Docs site at the top. It is fixed now. Thanks for
reporting it.

cheers,
José

On 13 March 2016 at 17:24, hal <notifications@github.com> wrote:

[2016-03-13 20:51] C-O-P commented on #732
My pleasure.
Regards,
krishna

[2016-03-13 20:52] #732 closed

[2016-03-14 09:57] wadleo commented on #211
@josmas  @halatmit @marksherman @EnisM @fturbak
Hi, i would love to continue work on this to enhanced my knowledge on adding components and properties. I will continue by adding the properties reference here https://github.com/mit-cml/appinventor-sources/pull/359 by @ReachAayush, that were not working or implemented, thanks.

[2016-03-15 16:20] SpEcHiDe commented on #728
To fix the issue, need to edit this file https://docs.google.com/document/d/1Hg5z5uAesOftdu3vbk69yTtzJrZVxCYi6DQIs1AnCTs/pub
@halatmit

[2016-03-22 00:05] josmas commented on #678
This is now in the ucr branch. Closing.

[2016-03-22 00:05] #678 closed

[2016-03-23 00:27] metlaivan commented on #500
Hi. I fixed this issue at https://github.com/mit-cml/appinventor-sources/pull/737 pr.

[2016-03-24 15:00] wadleo commented on #707
From this lines,
// Update appearance based on values of backgroundImageDrawable, backgroundColor and shape.
  // Images take precedence over background colors.
  private void updateAppearance() {
    // If there is no background image,
    // the appearance depends solely on the background color and shape.
    if (backgroundImageDrawable == null) {
      if (shape == Component.BUTTON_SHAPE_DEFAUL

[2016-03-24 15:29] wadleo commented on #707
Also in the MockButtonBase class
  shape = Integer.parseInt(text);
    // Android Buttons with images take the shape of the image and do not
    // use one of the defined Shapes.
    if (hasImage) {
      return;
    }
    switch(shape) {
      case 0:
        // Default Button
        DOM.setStyleAttribute(buttonWidget.getElement(), "borderRadius", "0px");
        break;
      case 1:
        //

[2016-03-26 12:34] E-Hon commented on #707
hi @wadleo
The mock can be easily modified to support both shape and background. But it's harder on the android side (i.e. in ButtonBase.java).
We use BitmapDrawable for background image and ShapeDrawable for the shape. The two currently work independently, resulting in either this or that but not both and we need to combine both.
I am trying the LayerDrawable which basically stacks one drawable o

[2016-03-27 05:01] bmanu199 opened #739 "Unable to find the webapp directory appengine/build/war"
your-appengine-SDK-folder/bin/dev_appserver.sh
        --port=8888 --address=0.0.0.0 appengine/build/war/

but there is no appengine/build/war/ directory inside bin or in the appengine-java-sdk-1.9 folder

[2016-03-27 08:41] josmas commented on #739
The war folder is inside the app inventor sources folder after you compile.

--------------------------------------------
mobile. brevity.typos.cheers
On 27 Mar 2016 6:01 am, "bmanu199" <notifications@github.com> wrote:

[2016-03-28 02:10] bmanu199 commented on #739
I've just copied the my-app engine-SDK-folder to home and then tried running the server.

so, before I go running the main server, I need to compile the my-app engine-SDK-folder only then war folder will be created?

So now my question is, how to compile the app-engine-SDK folder.

[2016-03-28 02:37] bmanu199 commented on #739
should I need to follow these instructions and install app_engine_for java before proceeding to run the server?
Becuase it was said on the main page that you and need the copy of app engine-SDK-folder for JAVA.
[https://cloud.google.com/appengine/downloads](url)

PS: I am using a macintosh.

[2016-03-28 02:47] halatmit commented on #739
This is a reminder that the instructions for building App Inventor are here:

How to build App Inventor from the MIT sources
<https://docs.google.com/document/d/1Xc9yt02x3BRoq5m1PJHBr81OOv69rEBy8LVG_84j9jc/edit>

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Sun, Mar 27, 2016 at 10:37 PM, bmanu199 <notifications@github.com> wrote:

[2016-03-31 03:12] wadleo commented on #707
thanks @E-Hon
For the feedback, I will look in the BitmapDrawable, ShapeDrawable and LayerDrawable classes.

[2016-04-08 11:27] halatmit opened #744 "try out the new Android emulator"
http://mashable.com/2016/01/27/girls-coding-how-to-help/#.sclIVju_kqC

This is supposed to be faster, and uses a new version of ADB.
How well does it work with App Inventor?
If it works well, we should update App Inv to use it.

[2016-04-09 23:44] abhijit5893 commented on #658
[Fixed it](https://github.com/mit-cml/appinventor-sources/pull/745). Here is a [screen capture](https://www.dropbox.com/s/gnjuzr6gt0bl93r/Bug%23658.mov?dl=0) showing the fix. It was indeed a very small bug in math.js

[2016-04-10 00:08] halatmit commented on #658
#745 was merged

[2016-04-10 00:09] #658 closed

[2016-04-10 08:11] wadleo commented on #173
I have added a appropriate condition to check if the file being uploaded is an aia file in the FileUploadWizard class. I have also added an appropriate error message in OdeMessages class and will soon sent a pull request, thanks.

[2016-04-10 11:45] marksherman commented on #173
I'll check it out this week, @wadleo (though I have no pull power, it seems right that I give it a test!)

[2016-04-10 17:20] wadleo commented on #707
Hi, @E-Hon,
I have looked at the android classes mentioned above, but I hesitated to work on it since you are already on this and also because I was a bit confused on how the LayerDrawable class is going to stack the ShapeDrawable class and BitmapDrawable classes together. To be more explicit:
From my understanding, we need to put the BitmapDrawable class on top of the ShapeDrawable in the LayerDr

[2016-04-10 17:25] wadleo commented on #173
thanks @marksherman, waiting for your reply.

[2016-04-10 17:49] bxie commented on #173
@wadleo : this may be redundant work.
@varunm22 has been working on this over the past month and his work is almost ready to be merged (currently working on some UI fixes).

@varunm22 please confirm

[2016-04-10 18:19] abhijit5893 commented on #624
I have been playing around with this for a while and I think I have found out the issue.  In /GSOC/appinventor-sources/appinventor/blocklyeditor/src/exportBlocksImage.js (line 73) there is a function call "cloneNode". cloneNode is an inbuilt function and  a bug regarding textarea content not being cloned has been [reported](https://bugs.chromium.org/p/chromium/issues/detail?id=487352). So if we up

[2016-04-10 18:24] abhijit5893 commented on #739
@bmanu199  appengine/build/war/ is a relative url. So from your command line, If you go inside appinventor-sources /appinventor and execute the command. it works perfectly that way. Please try and let me know if that works fine.

[2016-04-11 04:20] wadleo commented on #173
Hello @bxie,
sorry i didn't realise he is still working on these looking at the dates above and please can provide a link to his work, thanks for the info

[2016-04-11 04:23] varunm22 commented on #173
Hi @wadleo my fixes are on the bytesize branch of my fork at https://github.com/varunm22/appinventor-sources/tree/bytesize. In addition to adding the .aia fix, I've replaced the window.alerts that show up during file upload errors with dialog boxes for greater consistency.

[2016-04-11 04:46] wadleo commented on #173
Hi @varunm22, thanks for the feedback.

[2016-04-11 07:49] E-Hon commented on #707
hi @wadleo , it's ok if you stop here. I will work on it.
i think it should be the other way around; it should be a ShapeDrawable on BitmapDrawable. but i haven't tried this out. i will follow this direction to experiment if this works.

[2016-04-11 13:39] varunm22 commented on #173
Hi @wadleo, sorry for the confusion, and please let me know if you have any more questions!

[2016-04-12 02:04] halatmit opened #749 "Simplify FusionTable GetRowsWithCondition"
From Taifun:

Beginners frequently get confused using the fusiontable controls component and its blocks, see also this thread. People for example use the GetRowsWithCondition block and additionally add the SendQuery block. It is confusing... My suggestion therefore is to remove the Query property (or set it to deprecated) and add an input parameter "query" to the SendQuery method.

See also this t

[2016-04-12 03:28] wadleo commented on #707
@E-Hon
ok.

[2016-04-20 08:00] wadleo commented on #630
Hi @josmas @jisqyv
I have been researching on this based on the recommendations @josmas stated above and noticed that the backpack [] array is static and that's the way the contents are shared between variables. Therefore, the problem comes when we the when screens are switched and the YaBlocksEditor.onBlocksAreaChanged(String formName) method does not check to see if there are some backpack conte

[2016-04-21 23:11] varunm22 opened #752 "Replace Window.alerts and Window.confirms with DialogBoxes"
Many files show users error messages through Window.alert or Window.confirm instances. I suggest we replace these with instances of DialogBox for greater UI consistency. For an example where the Window.alert instances have already been replaced, please view FileUploadWizard.java here: https://github.com/varunm22/appinventor-sources/blob/bytesize/appinventor/appengine/src/com/google/appinventor/cli

[2016-04-22 13:29] marksherman commented on #398
A possible extension to this bug is the Sharing mechanism and Video, which also have their own assumptions about media format URIs, discovered by a user, and assessed by Scott, below.

I am posting this so when the media mechanism is fully considered, these components are also included and updated to be consistent.

https://groups.google.com/forum/#!category-topic/mitappinventortest/AJnM9U_9xUo

[2016-04-22 13:37] wadleo commented on #752
Hey @varunm22
Are you already working on this?

[2016-04-22 14:11] varunm22 commented on #752
Hi @wadleo, I added in dialog boxes to the fileUploadWizard as a project to become familiar with the codebase, but I will now be moving on to work more on back end.

[2016-04-22 20:55] jisqyv opened #753 "Fonts can be set to a floating point size, but then cannot be read"
We should either prohibit people from setting a font size to a floating point number, or we should parse floating point numbers when we read in a project!

[2016-04-22 21:02] jisqyv commented on #753
This issue may be limited to checkboxes. Also: If you attempt to set the font size to a floating point number, you will immediately see an error. Unfortunately when you see the error, the project has been written out and will now generate an error each time it is loaded (which is fatal). I do not believe the recent change to checkbox resizing caused this bug, but may have caused it to manifest its

[2016-04-22 21:16] jisqyv commented on #753
OK. So this *was* broken by the checkbox font size change. The problem is that when you set the font of a checkbox to a floating point number, it now also sets the height of the checkbox to match. However font sizes are floats, but heights are integers... and *that* is the problem. Of course the code looks fine because in the Mock everything is passed as a String. But it isn't...

[2016-04-24 16:32] gc9n opened #754 "PDU Text Messages are truncated...."
i have a gps tracker that sends sms in PDU format , the ap inventor returns me part of that message specifically the last 135 charactrers

[2016-04-25 04:46] Lemniscate317 opened #755 "is ai support bluetooth ble?"
i have a question about it.is the newest ai support bluetooth ble?because i need to use ble

[2016-04-25 09:21] josmas commented on #755
Please use the forums for this kind of questions. There is no BLE support currently, but you can build your own component if you know Java and have experience with the Android SDK.

[2016-04-25 09:21] #755 closed

[2016-04-27 00:58] wanddy opened #757 "BuildServer can not post apk to ReceiveBuildServlet."
BuildServer can not post apk to ReceiveBuildServlet,The ReceiveBuildServlet will return Code 500.There are some usefull  infomation in ReceiveBuildServlet.java at line 62:
/ode2/receivebuild/5kgc3ktul9rxitm4sv0pd83sr3kgw9pwkfs80rtdxvuy6rs9sjdlkcdy5gcksqevxkq3ofsg3kuhiw0n8vn86palcxtxbwamj9ybtgwmsdfcbi4nqs2wq09ahzu6oblhru0g895b6yhgcc7kejado1bcralnmyxldfn/build/Android
com.google.apphosting.api.ApiPr

[2016-04-27 10:46] #757 closed

[2016-04-29 20:04] halatmit opened #758 "document atomic operations for Firebase"
Make sure the Firebase component documentation include the atomic operations.

Also up the document at:

https://docs.google.com/document/d/17OGJF8VwbOYkXCual8I1JIBLCHhnCcgHj6N_Cfnlb4A/edit#heading=h.37rrxtruvui0

To talk about the issue with atomic operations and how to deal with this and include examples.

[2016-04-29 21:39] jisqyv commented on #758
@halatmit I'm also going to write a blog post explaining how to use these new features.

[2016-04-29 21:55] halatmit commented on #758
@jisqyv Good, but I also want to include that info in the other document, as part of the cloud variable documentation.  You don't have to do that.  Whoever does it can use what you put in the blog post.

[2016-04-30 13:14] halatmit opened #761 "Wrong URL doc string for media components (and others?)"
When you click "more information" in a component description in the designer palette, the link shown for media components is /reference/components/index.html rather than to /reference/compoents/media.html#<the component name>

This is resulting from componentHelpWidget.java at line 68 where getReferenceComponentsUrl is returning the wrong thing.

[2016-05-01 19:16] halatmit opened #762 "replace color picked by color wheel"
from Aubrey's thesis:

We could replace the current 70-tone color picker with a wheel to allow users to choose more colors. It would also be good to show the color created as a thumbnail on the RGB color creator block.

[2016-05-03 23:51] halatmit opened #765 "fusion tables API v1 is deprecated. We need to support v2"
"Sreeram Balakrishnan" sreevb@google.com

When we previously tried to enforce request safety in v1, the App inventor folks were affected and we decided to roll back and put request safety in v2. Since we are now deprecating
v1 they will have 6 months to make the change if they want to continue to use Fusion Tables.

Sree

On Tue, May 3, 2016 at 6:56 AM, Karen Jacqmin-Adams kadams@google.com wrote:

[2016-05-04 02:51] E-Hon commented on #762
I think #300 is related and I gave some suggestions there. Check out color input [here](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/color)

[2016-05-04 03:33] E-Hon commented on #761
Hi @halatmit, I just created a pr for this issue.

The hint above is a very helpful starting point. I fixed this soon after I read it.

[2016-05-04 05:07] E-Hon commented on #714
If we add them for all components, the drawers will blow. I don't think this is what we want.

IMO, the inclusion of getters or setters are the component authors' responsibility. They may have asked "should we allow users to read/write the value?", "will it do harm to other parts?". So the lack of them in some components may be a result of such questions.

I think we can tackle this issue on an as

[2016-05-04 07:58] E-Hon commented on #700
Hi @jisqyv, I found the place to change the limit. Can I take this issue? Is there any hidden concern that I might have missed?

[2016-05-04 15:03] halatmit commented on #700
It's more complex that just changing the limit in the code.

We put in the limit explicitly.   There is a time limit on connections from
the AppEngine data store.  When that is exceeded, the connection is
closed.    Before we put in that limit there were many more mysterious (to
the users) failures.

It's possible we could expand that to 10 MB, but we should not do this
without a lot of testing.

[2016-05-05 00:00] E-Hon commented on #761
Hi @jisqyv , shall we close this issue? or is there any follow-up action needed to be done?

[2016-05-05 00:10] E-Hon commented on #700
Thanks for pointing it out. Anyway, I will be ready to help

[2016-05-05 00:45] jisqyv commented on #761
Yep, I forgot to close it....

[2016-05-05 00:45] #761 closed

[2016-05-05 00:46] E-Hon commented on #739
Hi @bmanu199, do you need further help? If you have resolved the problem, would you kindly close this issue? Thanks

If you have other questions, you may raise them in [App Inventor Open Source Development](https://groups.google.com/forum/#!forum/app-inventor-open-source-dev) group which is a more general place for asking questions.

[2016-05-05 01:30] E-Hon commented on #726
Hi @Lasith-Niro, I tried to move this issue to a [discussion](https://groups.google.com/forum/#!topic/app-inventor-open-source-dev/8kYfbw7r0m4) in the open source group. It would be great if you can provide some input to it. Hopefully, bit-by-bit we may make the idea more concrete so that it will be realized one day.

So would you close this issue and discuss it there?

[2016-05-05 10:12] josmas commented on #739
closing this issue for now. If any help is further needed, please follow advice from @E-Hon in previous comment. Thanks!

[2016-05-05 10:12] #739 closed

[2016-05-06 04:39] E-Hon commented on #752
Hi @varunm22, can you also give examples of which files use Window.alert?

Also, in order to be consistent, the change needs to be applied to all of them. So we may need to list them all.

But I think this is too minor for an issue. And it's too specific too. You may find other UI inconsistencies (easily :D). I would suggest finding some other inconsistencies. They may share some common problems (

[2016-05-06 04:56] E-Hon commented on #753
Hi @jisqyv,

I was trying to reproduce what you had written above but failed. Then I looked up the history and found your [commit](https://github.com/mit-cml/appinventor-sources/commit/ee9d31420afe0e9b41729e576196e305bde05704). I suppose you fixed it already, right?

[2016-05-06 17:24] jisqyv commented on #753
@E-Hon Actually this issue is fixed, so I'm going to close it. Btw. The commit you referenced was the wrong fix. I fixed it in: https://github.com/mit-cml/appinventor-sources/commit/2bad2c59b2c4dd397daabda8d5be3bf9813e0e9e

-Jeff

[2016-05-06 17:24] #753 closed

[2016-05-06 20:03] jisqyv commented on #655
Fixed by #727

[2016-05-06 20:03] #655 closed

[2016-05-11 09:22] E-Hon commented on #707
Hi @halatmit,

I somehow handled this issue but I couldn't finalize it or create a pr for it. The code is [here](https://github.com/E-Hon/appinventor-sources/tree/Addressing-issue-%23707).

When a button's width/height is automatic and then the background is set to an image, the button will take on the image's dimensions. If no background, it will stay at its default size. But the code above can o

[2016-05-17 01:03] halatmit commented on #264
This bug has been around for a long time.  Can we take a look and try to killl it?

[2016-05-17 20:41] William-Byrne commented on #504
@Thilankam Give this issue a try and we can talk about your progress this weekend. Please feel free to message me on Google Hangouts if you have any questions.

[2016-05-17 20:42] jisqyv opened #772 "We should verify any provided Firebase URL"
All Firebase hosted URL's end with "firebaseio.com". We should verify that any user provided URL ends in this fashion and generate a warning if it doesn't.

Note: It is possible for people to write their own Firebase backend, so we do not want to preclude a URL not ending in firebaseio.com. However most of the time such a URL will be a typo made by the App Inventor programmer. Apparently the penal

[2016-05-17 20:46] thilankam commented on #504
@William-Byrne
I will start tackling this issue and give it a try. I will contact you if I have questions down the road.
Thanks,
Thilanka

[2016-05-18 05:30] thilankam commented on #504
@William-Byrne, I have partially implemented this feature and incorporated the percent (%) and pixel (px) units for width and height properties. In the designer view the new units are visible as can be seen in this screenshot, and the size of the property changes with the selection:

<img width="1440" alt="screen shot 2016-05-17 at 9 39 03 pm" src="https://cloud.githubusercontent.com/assets/316460

[2016-05-18 16:50] William-Byrne commented on #504
@thilankam Good work so far. I'll take a more detailed look at your commit later this afternoon and give you some feedback.

[2016-05-22 01:37] halatmit opened #778 "fix news wall on appinventor.mit.edu home page"
This was all working except it seems to require a new version of the (???) library and upgrading the library broke several things.See Jeff for details.

[2016-05-22 06:08] E-Hon commented on #772
Hi @jisqyv, how about we simply add a confirm box to warn them of the potentially wrong url but do not process it? this way, users may check it themselves to see if they really want it

[2016-05-23 18:15] ajcolter opened #780 "aiStarter Error Message needs clear wording"
aiStarter error for emulator (on Windows) does not help users understand what is going wrong.

In my second usability test, only one user clicked Need Help, and I think they ultimately gave up and tried the Companion App on the available phone.

[2016-05-25 01:37] jisqyv commented on #718
Fix merged.

[2016-05-25 01:37] #718 closed

[2016-05-25 02:16] halatmit commented on #778
Fixed

[2016-05-25 02:16] #778 closed

[2016-05-25 02:20] halatmit commented on #281
see PR #391

[2016-05-25 17:06] jisqyv commented on #281
Fix/Workaround (#391) Merged into ucr

[2016-05-25 17:06] #281 closed

[2016-05-26 20:14] luckcolors opened #786 "Add working example of file app.yaml"
This file is required in order to run the app.
Should be here. appinventor/appengine/war

[2016-05-26 20:17] josmas commented on #786
hi @luckcolors can you provide a bit of context for this? never seen that file before.

[2016-05-26 20:26] luckcolors commented on #786
Ah sorry. It's the one required for Google appengine in order to deploy the app either locally or remotely. It says it's missing when i try to run the app using the command on the readme.md .
Google has probably changed the tool a bit because --address has been removed(probably changed to --host), anyway here's the doku link: https://cloud.google.com/appengine/docs/python/config/appref#example

[2016-05-26 20:29] josmas commented on #786
Please note that App Inventor runs on the Java version of appengine, not on the Python version. There's no need for _yaml_ config files in App Inventor.

I am closing this now.

[2016-05-26 20:29] #786 closed

[2016-05-26 20:35] luckcolors commented on #786
@Josmas Ah thanks i probably overlocked the download page for the sdk. Sorry for wasting you time.

[2016-05-29 11:11] shumelchyk commented on #346
Here is pull request with a fix:
https://github.com/mit-cml/appinventor-sources/pull/788

[2016-05-30 01:03] halatmit opened #789 "Fill_parent in vertical arrangement gives wrong result"
Create an app that has a vertical arrangement whose hight it 50% of the screen.   Place a label inside the vertical arrangement and set its height to fill_parent.   In the designer, the label will correctly fill the arrangment.  But on the phone the label height will not change.   The two images show the correct behavior in the emulator and the incorrect behavior on the phone.
![screen shot 2016-0

[2016-05-30 23:36] halatmit commented on #728
fixed

[2016-05-30 23:36] #728 closed

[2016-05-31 02:03] jisqyv opened #791 "Should we have an "ignoreSSLError" flag on the web component?"
If we have such a flag, it will facilitate https connections to devices with self-signed certificates (like just about any IoT device that accepts https).

[2016-05-31 16:15] halatmit opened #792 "Need a better way to handle translations"
The translation process needs to be redesigned to make it more maintainable.

[2016-05-31 16:29] josmas commented on #792
@halatmit what happened to the pootle server?

[2016-05-31 20:07] halatmit commented on #792
We're using the Pootle server.  But according to Jeff, we don't have it set up corectly

[2016-06-01 17:35] marksherman commented on #680
I think this is related to the discussion in #398

[2016-06-02 20:09] halatmit opened #795 "Create option to modify the manifest"
Provide a way for advanced users to modify the manifest before building.
The was suggested by Taifun in response to a user query about adding uses-sdk
to the manifest:
https://groups.google.com/forum/#!topic/mitappinventortest/vJht0JipC_g
I'm mixed on doing this, because app-to-market is available, but maybe we can provide it
if we can do it in such a way that it does not bother/confuse the majori

[2016-06-02 22:33] fgmart opened #796 "setting slider ThumbPosition in its own PositionChanged handler crashes the Companion"
I am trying to make a slider that reports only integer values. I did this:

![screenshot 2016-06-02 at 6 20 55 pm](https://cloud.githubusercontent.com/assets/1038856/15763150/cebb322a-28ef-11e6-9573-4b916ece6cfd.png)

It crashes the Companion when you try to move the thumb. (Error message: MIT AI2 Companion isn't responding. Do you want to close it?)

I tried setting the ThumbPosition to a fixed,

[2016-06-03 01:39] puravidaapps commented on #796
you created an endless loop: setting the thumb position - position changed event fires - setting the thumb position - position changed event fires etc.

[2016-06-03 02:06] halatmit commented on #796
Taifun .. Thanks :)

== Hal

Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Thu, Jun 2, 2016 at 9:39 PM, Taifun <notifications@github.com> wrote:

[2016-06-03 10:22] kkashi01 commented on #796
@fgmart  Use a global variable for rounding. This way, you won't manipulate the ThumbPosition

[2016-06-03 11:56] fgmart commented on #796
OK I feel pretty dumb now 👍

[2016-06-03 11:56] #796 closed

[2016-06-05 20:45] halatmit opened #797 "Add multiple inputs to AND and OR"
Add mutators to these blocks, to permit multiple inputs.  Use the +  block as a model for how to add the mutator.  There are some things in the code that might be hard to understand.  Make sure to ask.

[2016-06-14 17:40] halatmit opened #800 "Calling activity starter with no info gives a permissions error"
If you call the activity starter and do not provide and information it looks like the intent resolution mechanism picks an activity to launch that leads to a permissions error.

See
https://groups.google.com/forum/#!topic/mitappinventortest/-e4mNygdEoQ

José suggests:

When using Implicit intents[1], the system figures out what you are trying to do from the information provided. 'No information' s

[2016-06-14 23:38] weihuali0509 commented on #795
I have to warn you - if you put the target sdk to be =>21, a lot of app inventor components will be broken because of the material design theme addition.

[2016-06-15 21:55] halatmit commented on #800
See also the original forum thread

https://groups.google.com/forum/#!topic/mitappinventortest/tq0IysLiIs4

[2016-06-15 22:02] puravidaapps commented on #749
To avoid misunderstandings: this is about the **SendQuery** method and the **Query** property.

As you can see here https://groups.google.com/forum/#!topic/mitappinventortest/fe1Gh5cO1OI or here  https://groups.google.com/d/msg/mitappinventortest/vomRQaWegpQ/5L4fgS30DQAJ sometimes people think, after using the GetRowsWithConditions or GetRows method **they have to additionally use the SendQuery me

[2016-06-17 21:10] candicefan commented on #797
Hi Hal, I finished this, but I made AND and OR separate blocks, without having the dropdown. Is this ok, or it's better to keep the dropdown select for AND and OR.

[2016-06-17 21:54] halatmit commented on #797
It would be OK to make them separate blocks without the dropdowns.

Test this more when you are ready and then submit a pull request.

== Hal

Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Fri, Jun 17, 2016 at 5:10 PM, Candice Fan <notifications@github.com>
wrote:

[2016-06-24 14:57] bennettbrowniowa opened #805 "sound component file source not set correctly by initial properties?"
PLTW teacher Chris Fahey reports that sometimes WAV files cause an error. The error was not reported, and he indicated that it was not a reproducible error for him yet-that no particular sound file reliably produced the error. He said that the error came up repeatedly and other ICS teachers reported they had had similar problems with sound files where a run time error occured when the sound file w

[2016-06-24 16:12] halatmit commented on #805
Thanks, but we can't do anything without a repeatable error and an AIA file
that lets us reproduce the error.

== Hal

Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Fri, Jun 24, 2016 at 10:57 AM, Bennett Brown <notifications@github.com>
wrote:

[2016-06-30 13:15] halatmit opened #806 "Include downloading resources from URLs using the designer."
Currently in the designer, we specify media to be included in the project by giving the file name (from the assets directory).   We can also load media at runtime by specifying a URL.
Provide a way to specify these more general URLs in the designer without users needing to first explicitly load them into their project.

[2016-06-30 13:16] halatmit opened #807 "Allow project access from mulitple accounts (need not be simultaneous)"
Problem: Workflow for pairs of students and for instructors to review/debug code.

[code]

This might fall out of the work we're doing for Hong Kong

[2016-07-01 18:40] chenglonkhin commented on #624
Has anyone made any progress on this yet? It seems like there was a fix, but hasn't been implemented.

[2016-07-01 18:52] halatmit commented on #624
I don't think anyone else worked on this.  See what you can do.

[2016-07-02 13:50] halatmit opened #809 "Research project for ML and NLP: Analyze new articles about App Inventor"
Suggestion from Benji:

Factiva is a business information and research tool (owned by Dow Jones). It enables you to query news that is up to 5 years old. This could give us insight regarding how App Inventor has been represented in the news over the past 5 years.

I was inspired by Vitomir Kovanovic, whom I met earlier this week. He used Factiva to access news data on MOOCs and write What public m

[2016-07-08 13:05] halatmit opened #811 "Misaligned comment box text on Chrome"
The text of comments displayed in comment boxes is vertically misaligned (see figure).  This happens on Chrome on the Mac -- version  49.0.2623.87 (64-bit).   It does not happen on Firefox.

![screen shot 2016-07-08 at 8 59 28 am](https://cloud.githubusercontent.com/assets/789431/16688230/1154023a-44eb-11e6-9e85-065519527bc8.png)

[2016-07-09 19:25] halatmit opened #812 "Add numeric values to designer dropdown for alignment"
Applies to TextAlignment for Canvas and to alignHorixontal and AlignVertical for Screen and Horizontal and Vertical Arrangements

From Scott:

The current documentation for the Canvas at

http://ai2.appinventor.mit.edu/reference/components/animation.html#Canvas

contains the following description for the TextAlignment property.

"TextAlignment
Determines the alignment of the text drawn by DrawText

[2016-07-10 21:37] jisqyv commented on #624
This issue was fixed by #810 which is now in the master branch

[2016-07-10 21:37] #624 closed

[2016-07-10 22:21] #812 closed

[2016-07-11 15:51] thomas1114 opened #814 "Unable to compile class for JSP"
I use ubuntu16.04 to build this server but it have an error messenger.
I use appengine-java-sdk-1.9.38 , openjdk 1.8.0_91 , and newest appinventor-sources form GitHub.
When it display " Dev App Server is now running" I use my browser to login ,  I can't login it.

I looked the terminal display an error messenger:
Overwriting system property key 'java.util.logging.config.file', value '/home/lin/ai2

[2016-07-11 18:35] chenglonkhin commented on #789
I think this issue might have already been fixed. I tried it on my phone (Nexus 6P) on both the AI companion and the standalone APK.

![image](https://cloud.githubusercontent.com/assets/18460893/16742186/90f0e194-4774-11e6-9215-2a8b736f74a9.png)

![image](https://cloud.githubusercontent.com/assets/18460893/16742160/79be7040-4774-11e6-8551-d90e1dcd88c3.png)

[2016-07-11 19:03] jisqyv commented on #346
@puravidaapps We have just merged Scrollable versions of Horizontal and Vertical arrangements into the "ucr" branch.

[2016-07-11 19:03] #346 closed

[2016-07-11 19:04] halatmit commented on #789
seems to have been fixed

[2016-07-11 19:04] #789 closed

[2016-07-11 20:28] shumelchyk commented on #346
Thanks, Jeff!

2016-07-11 22:03 GMT+03:00 Jeffrey Schiller <notifications@github.com>:

[2016-07-11 23:33] halatmit commented on #789
thanks Lokhin.   I closed the issue.

== Hal

Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Mon, Jul 11, 2016 at 2:35 PM, chenglonkhin <notifications@github.com>
wrote:

[2016-07-14 14:20] chenglonkhin commented on #514
@halatmit Do you still have the aia and apk? The Google Drive links lead to a Not Found.

[2016-07-15 01:43] kkashi01 commented on #310
@halatmit I tried my version running on MIT AI and also MIT version. They are both able to get map info and its working as expected. I'm running on LG G3 Android 5.0.1
![screenshot_2016-07-14-21-32-06](https://cloud.githubusercontent.com/assets/8935543/16861023/f8acf4ec-4a0a-11e6-91b8-01dc47ca13a9.png)
![screenshot_2016-07-14-21-32-15](https://cloud.githubusercontent.com/assets/8935543/16861026/fe

[2016-07-16 20:02] halatmit opened #817 "Change divide-by-zero to signal an error rather than return Nan"
This is an instance of "Scheme hubris" is fell for when I implemented App Inventor arithmetic.   I wanted to "show off" and follow the Scheme convention of returning Nan, since this was part of the well-thought-out Scheme and Common Lisp arithmetic.   But it's the wrong thing for App Inventor

[2016-07-17 02:10] halatmit commented on #817
PR #818

[2016-07-17 20:43] jisqyv commented on #406
Fixed in #695 now merged into UCR

[2016-07-17 20:43] #406 closed

[2016-07-17 20:46] halatmit commented on #514
No, I don't have these.   Try building an app that have a label named LBL_​2214598160.
If that works, then make a comment here saying that it could not be duplicated and close the issue

[2016-07-18 15:05] josmas commented on #814
Just reproduced this with Java `1.8.0_91` but with Oracle's Java on Mac.
Quick search seems to point out to the servlet jar being added in several places.

Workaround is using `1.8.0_91` ir `1.7.0_79` but it's likely this will bite back in the short term.

[2016-07-18 15:11] chenglonkhin commented on #514
Just tried the application. Like you said, the application builds but fails to install on the phone. I'll see if I can determine what kinds of names triggers this.

[2016-07-20 02:29] jisqyv commented on #814
Keep in mind that when you run the development server you are operating in a special environment that emulates the environment that exists in App Engine itself. Given that App Engine does not yet support Java 8, it isn't surprising that we get errors like this. This looks to me like an incompatibility between the restrictions that the development server puts in place and Java 8.

[2016-07-20 19:05] jisqyv commented on #800
#816 is merged

[2016-07-20 19:05] #800 closed

[2016-07-21 18:51] ewpatton commented on #680
We could consider introducing an AIAssetManager facade that maps asset paths depending on whether the project is run in the Companion vs whether it is run as a compiled app. Since assets are read-only, the Companion will have to place the files in private storage on the device and then AIAssetManager will have to load them from there. In the compiled app, they will be available via Android's Asset

[2016-07-21 19:57] marksherman commented on #680
I started looking into a general overhaul of assets recently, and I am leaning towards proposing an asset manager, but a superset of what @ewpatton is proposing. My proposal (in progress) would abstract all media, including assets, web downloads, photos taken with the camera, everything, and manage it. This provides an abstraction that all components within app inventor may subscribe to, ending th

[2016-07-21 21:33] halatmit commented on #680
Sounds like a nice idea.   Can you create a design document?

== Hal

Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Thu, Jul 21, 2016 at 3:57 PM, Mark Sherman <notifications@github.com>
wrote:

[2016-07-21 22:05] marksherman commented on #680
I intend to, chipping away. Not a lot of time this month.

[2016-07-25 00:32] halatmit opened #820 "Fix minor type error in FusionTablesControl.java"
Eclipse complains about a type error for "scope" on line 863.

The project compiles nevertheless, but it would be good to fix this.

[2016-07-25 12:18] halatmit commented on #817
#818 was closed

[2016-07-25 12:18] #817 closed

[2016-07-25 12:19] halatmit commented on #820
This turns out to be complicated.   From Evan and Jef:

Yes. I’ve been looking at this and agree with Jeff’s hypothesis. The google-api-client jar in libs/oauth provides a version of the method that accepts an arbitrary number of strings but the version used for Google Cloud Services and AppEngine uses Collection<String>. The code compiles because the Ant build task uses the correct library wherea

[2016-07-25 22:28] ewpatton opened #821 "ConcurrentModificationException in Companion app"
From @halatmit :

[2016-07-25 22:36] ewpatton commented on #821
ConcurrentModificationExceptions occur when a collection is modified by any means other than Iterator.remove() while it is in the process of being iterated over. Generally it is observed in multithreading environments but can also happen when a collection is modified by the same thread, for example in a recursive call that modifies the iterating collection. The latter is what happens to generate t

[2016-07-25 22:40] ewpatton opened #822 "Events not cleaned up in Companion app"
During debugging of issue #821, I noticed that the Clock Timer events in the target app were not being cleaned up properly. Transitioning from one screen to another and back many times would result in a new Timer event being added, and then eventually leads to degrading performance and possibly makes it easier to trigger #821. If we address how events are cleaned up during screen transitions in th

[2016-07-26 01:15] TravisH84 commented on #96
I know this is an old thread, but I am wondering if any progress was made around JSON encoding. In my scenario I want to send parameters from the phone to an arduino device over bluetooth to tell it to move to a specific x,y position, pass GPS info and timestamp information across amongst other things. Having the ability to format JSON through the App Inventor would make my life 100 times easier!

[2016-07-28 15:16] ewpatton opened #827 "ActivityStarter gives error "java.lang.String.isEmpty""
Seen by users on the forums, e.g. [here](https://groups.google.com/forum/#!msg/mitappinventortest/DLzN8cFkuX0/OuWPqsS3AQAJ) and [here](https://groups.google.com/forum/#!category-topic/mitappinventortest/lRpJCkxkR5w).

Create an app with a button, an activity starter, and a notifier. Have the button trigger a StartActivity event, and then have ActivityError show the message. In the emulator it will

[2016-07-28 15:19] jisqyv commented on #820
@halatmit I'm closing this issue as it isn't an issue. The real issue is should we upgrade the jars we are using.

[2016-07-28 15:19] #820 closed

[2016-07-28 15:20] jisqyv commented on #814
@thomas1114 I'm closing this issue. We recommend that you use Java 7 to compile and run App Inventor until Google supports Java 8 in App Engine.

[2016-07-28 15:20] #814 closed

[2016-07-29 14:41] jisqyv opened #829 "Terms of Service Display doesn't preserve locale"
The first time a person logs in they are shown the "terms of service" page. However when this happens the locale, "repo" and galleryId parameters (if present) are lost.

[2016-07-29 16:01] thomas1114 commented on #814
Thanks you .
I already solution this problem.
I installed open jdk-1.7.0_95 to my server ,and it already successful running .

[2016-07-30 17:27] ewpatton opened #830 "READ_PHONE_STATE permission required on Android 5.0 Lollipop"
Reported on the [App Inventor Forum](https://groups.google.com/forum/#!category-topic/mitappinventortest/EC83iCxpDos) by Jakub Kozłowski:

This will not be a problem in the companion because the PhoneCall component uses the READ_PHONE_STATE permissions. However, in packaged applications that lack this component, the permission will be absent.

Running a simple APK with a PhoneNumberPicker and a bu

[2016-08-23 00:55] jisqyv commented on #827
Fixed (in ucr pending release)

[2016-08-23 00:55] #827 closed

[2016-08-30 15:05] JoshESheldon opened #840 "copy & paste components, maintaining properties"
Rather than having to drag out multiple instances of a component, particularly user interface components, it would be great to be able to copy an existing component & paste it, and have it maintain state of properties.

[2016-09-01 20:51] halatmit opened #841 "Deal with text boxes that have a lot on content"
Idea fromAbrham:   Maybe not his solution, but we should do something.

An idea regarding my Declaration of Independence in a Text Box Blocks Editor Freeze ...

Users with big text will probably continue to abuse copy and paste into text boxes, until they are comfortable with file imports.  But the Blocks Editor should not have to suffer at the hands of these oversized text boxes, bloating the pix

[2016-09-19 02:01] ewpatton commented on #840
Possible duplicate of #726?

[2016-09-19 02:06] ewpatton commented on #708
I think this was fixed in PR #826 by commit f274d33. I do not see this behavior switching from English to Spanish with the latest version of AppInventor. Can anyone confirm that this is still an open issue?

[2016-09-19 02:13] ewpatton opened #844 "Changing procedure call removes connections"
Per the discussion [here](https://groups.google.com/forum/#!category-topic/mitappinventortest/7WlaUmaEW0c), changing a called procedure results in a call without any sockets. The problem is caused by the code path expecting the call block to have a getProcedureDef method, but this is only defined on the procedure definition block, not the call block. This results in getDefinition to return a null

[2016-09-19 19:08] #844 closed

[2016-09-20 17:07] weihuali0509 commented on #708
I believe it is still an issue when I visited ai2.appinventor.mit.edu; i
tested it in Chinese.

On Sun, Sep 18, 2016 at 7:06 PM, Evan W. Patton <notifications@github.com>
wrote:

--
WeiHua James Li
wli17@mit.edu

[2016-09-24 09:33] nickboucart opened #846 "help needed for converting _messages.po to _messages.js (translations)"
Hello,

I'm helping out with the Dutch translations using the pootle server.
I have forked this repo to do the changes needed for dutch to show up in the menu's etc.

I'm wondering how to convert the _messages.po file that comes out of pootle into the _messages.js file that is needed for the appinventor. Have been looking into po2prop, but with no luck.

Suggestions anyone?
Thanks!
Nick

[2016-09-27 00:09] bennytheshap commented on #572
@puravidaapps are you sure this component still works? Your sample code puravida.../twitter.php raises the same error as the screenshot in @fmntf's screenshot.

[2016-09-28 00:20] bennytheshap opened #848 "List to CSV blocks no longer produce values that can be inserted into Fusion Tables"
# tl;dr

FusionTablesControl.InsertRow expects its values to be single quoted, but list-to-csv-row produces double quoted values.
# suggested fix

FusionTablesControl should accept a variety of parameter types (e.g. lists, double quoted strings, etc.) coercing its parameters into whatever form it needs.
# more detail

**Scenario**: Stacy wishes to record the names and favorite foods of her friends

[2016-09-28 00:26] bennytheshap commented on #848
Tagging @miketissenbaum in case he wants me to send a simple .aia.

[2016-09-28 06:08] ewpatton commented on #848
Looking at the git logs for CsvUtil, which performs the translation from YailList into CSV, the code has not been touched since 2013. If this ever worked, it was by the grace of Google that FusionTables accepted double quotes, and at some point the behavior was then changed to accept only single quotes. Therefore this is not a regression vis-a-vis the list to csv primitive.

That being said, I do

[2016-09-28 09:56] josmas commented on #848
I also agree this is an issue, but wonder how many people would create a _csv list_ instead of _joining_ values directly as in the screenshot:

<img width="553" alt="ft_insertrow" src="https://cloud.githubusercontent.com/assets/194925/18908829/17dbc76e-8569-11e6-9cc6-96077884b1c4.png">

If you look at Taifun's examples, he uses procedures like `quotify = join + replace all text`, and has a good co

[2016-09-28 14:46] bennytheshap commented on #848
@josmas Yes, the manual string concatenation approach is prevalent in examples, but is problematic. For example, the screenshot above would break if the app's user includes an apostrophe in their form input. Some of Taifun's examples include string escaping, which would prevent that particular error. But we should consider: what are we trying to accomplish, and are these abstractions the right one

[2016-09-29 03:30] halatmit commented on #848
Thanks for filing this as an issue

== Hal

Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Wed, Sep 28, 2016 at 2:08 AM, Evan W. Patton <notifications@github.com>
wrote:

[2016-09-29 11:35] josmas commented on #848
@bennytheshap I totally agree on that, the abstractions are not appropriate, and as mentioned in the previous message, Taifun is merely patching up blocks that don't behave on a par with other blocks.

[2016-10-03 17:01] mintingle commented on #806
I think @mikemcgraw was actually working on this. Can someone unassign me and assign mike instead? @afmckinney

[2016-10-05 14:36] ewpatton opened #849 "Better diagnostic tools for debugging companion connectivity"
We are getting a lot of reports regarding issues of connectivity between App Inventor and the Companion app. However, debugging these issues remotely can be time consuming and the teachers do not necessarily have the technical ability to debug the issues within their classrooms. A better suite of automated diagnostics both within the web service as well as the companion app would go a long way to

[2016-10-09 14:29] halatmit commented on #849
@ewpatton Bravo that you are working on this!

[2016-10-09 20:23] iTouhid opened #851 "the type java.io.objectinputstream cannot be resolved. it is indirectly referenced from required .class files"
## **Two condition is there where this kind of error will show**

1> If there is multiple version of Jdk is loaded in your System.
Solution : Go to control panel>programs & Features: Delete the old version of java and jdk both. keep only latest version of java and jdk. check both java and jdk version is same. Restart your System.

2> The JRE system library is not set properly.
Solution : Go to pro

[2016-10-09 20:46] josmas commented on #851
Hi there @iTouhid
thanks for the tip.
This kind of documentation would be easier to find in the [forum](https://groups.google.com/forum/#!forum/app-inventor-open-source-dev).

I will close the issue now, as there's nothing to fix _code-wise_. Thanks again for sharing the info with all!

[2016-10-09 20:46] #851 closed

[2016-10-31 13:49] ewpatton opened #852 "Use GWT to alert about deletion"
When deleting a component or more than 3 blocks, we use the JavaScript prompt to confirm deletion. Chrome will also give an option to prevent further dialogs. If users select this option, then they will be prevented from deleting components/blocks until they reset their dialog settings [1,2]. We should replace this prompt with a GWT dialog that we control so that they can't inadvertently lock out

[2016-10-31 13:59] josmas commented on #852
Would it be possible/easier to create a little svg widget to show the warning? It would save trips back and forth gwt and js. Something similar to the tutorial bubbles that blockly uses.

[2016-10-31 14:04] ewpatton commented on #852
It is possible, but then we would have a different look and feel in the blocks editor versus the rest of the App Inventor UI.

[2016-10-31 14:14] josmas commented on #852
Yes, and no :)
If you think of the warning/error widget and the backpack, they are already in that category, right?

[2016-10-31 14:21] ewpatton commented on #852
Yes, but there is no equivalent in the designer for those widgets so I don't take issue because there is no look-and-feel to compare them against. The designer does have dialogs, though, so there is an existing look-and-feel to work with. Since this dialog is modal, we also probably want to light box it, in which case we need to do it at the top level window outside of the Blockly frame. I would b

[2016-10-31 16:03] josmas commented on #852
fair enough! :)

[2016-11-04 00:47] marksherman opened #853 "Update Cloud Storage in "How to Build from Sources" documentation"
The currently described process depends on using the old app engine interface, which google is politely asking us not to use, in favor of the developers admin console.

The ability to create buckets for free under the new console is either not there or not obvious.

It is highly likely the documented method will stop working someday.

https://docs.google.com/document/d/1Xc9yt02x3BRoq5m1PJHBr81OOv6

[2016-11-05 12:48] halatmit opened #854 "Update extensions documentation"
Update

https://docs.google.com/document/d/1orlYWGlHOY0hmAC0zjadQ4DET2K8U34C8hv5zmuxZLU/edit#heading=h.q0qxs8avzosb

The version currently there is from the pre-release

[2016-11-05 21:12] kkashi01 opened #855 "Conditional Component Visibility"
It appears that current infrastructure doesn't allow for having conditional component visibility. This could be useful when certain components would only be valid for main screen (Screen1). This could help in designing a component like ManifestEditor where it applies only to Screen1.

[2016-11-10 07:38] jsheldonmit commented on #840
Yes, it appears to be.

I’m not sue the other notes that the properties should be maintained, but perhaps that’s obvious

================
Josh Sheldon
Director of Programs – MIT App Inventor
MIT Center for Mobile Learning
32 Vassar St., Room 32-G528
http://whereis.mit.edu/?go=32
Cambridge, MA 02139
mobile phone: 617-671-5491

http://appinventor.mit.edu - @MITAppInventor<http://twitter.com/MITAppI

[2016-12-06 02:53] jisqyv commented on #765
@halatmit This was fixed (don't have the commit reference handy, but it is fixed).

[2016-12-06 02:53] #765 closed

[2016-12-10 16:02] mahikawason commented on #855
Could you please elaborate a bit more. I am not very clear on what you are trying to point out.

[2016-12-10 19:56] kkashi01 commented on #855
@mahikawason Let's say there is a component called ManifestEditor allowing user to specify application level properties. This component should only be visible for main screen (Screen1), but not for other screens.

[2016-12-12 09:44] mahikawason commented on #806
Hi @halatmit @mintingle I want to work on this but since I'm new to this codebase, not able to figure out where to start. Please help me get started and I shall create a PR soon :stuck_out_tongue:

[2016-12-18 16:49] barreeeiroo opened #861 "Installation Error: build.xml:17 The following error occurred while executing this line"
Hello

I'm getting BUILD FAILED when I execute the command `ant` in the installation. I created a log file to record all errors, and errors that I get are:

[code]

Anyone can help to fix that error?
Thanks

[2016-12-29 16:21] ewpatton opened #862 "Dropdowns in blocks editor are not constrained by height/scrollable"
Reported [via the forums](https://groups.google.com/forum/#!category-topic/mitappinventortest/6P3sEIPCgW8):

If one creates a lot of a single component (e.g., Button) on a single screen, the drop downs for that component type are sufficiently tall enough that they extend beyond the Blockly frame rather than being scrollable like a native HTML select element. We need to fix the behavior of componen

[2016-12-29 20:25] ewpatton commented on #862
[Issue in the Blockly repository](https://github.com/google/blockly/issues/751)

[2017-01-09 00:33] ewpatton opened #863 "Component tree unexpectedly scrolls to top on component selected"
When a component is selected the components tree in the designer view scrolls to the top, regardless of the position of the component in the tree. [Reported via the forum](https://groups.google.com/d/msg/mitappinventortest/G_oWoQYI7Lg/-lqcdt0jEwAJ).

[2017-01-09 00:35] ewpatton commented on #863
Confirmed that this happens on ai2.

[2017-01-14 18:50] emilrowland opened #864 "Build Failed build.xml:21"
System: Ubuntu 16.04 oracle-java7

BUILD FAILED
/home/emil/appinventor-sources/appinventor/build.xml:21: The following error occurred while executing this line:
/home/emil/appinventor-sources/appinventor/buildserver/build.xml:183: Java returned: 1

Some output before
     [java] INFO: ____Executing /tmp/aapt6819156134255930277 package -v -f -M /tmp/1484419595435_0.9910765923036917-0/youngandroidpr

[2017-01-27 16:09] ewpatton opened #867 "Blockly procedure argument mismatch results in RuntimeException"
A bug in how mutators for procedure parameters propagates to calling blocks appears to be causing problems ([from the App Inventor Forum](https://groups.google.com/forum/#!category-topic/mitappinventortest/5vkjtBRrtk0)). When a procedure's parameter is removed, it isn't always the case that the parameter is removed from every call block. This can result in an error message about a mismatch in the

[2017-01-27 16:18] ewpatton opened #868 "Consider using BluetoothSocket.isConnected on phone with API >= 14"
There is some confusion on the forum regarding the BluetoothClient.IsConnected method since it will only return false when the connection status is reset, which will only occur if one attempts to read/write the broken socket. For devices with an API level of 14 (ice cream sandwich) or higher, we can use the `isConnected()` method of BluetoothSocket to report a more accurate connection status witho

[2017-01-27 16:20] ewpatton commented on #864
See [this section](https://docs.google.com/document/pub?id=1Xc9yt02x3BRoq5m1PJHBr81OOv69rEBy8LVG_84j9jc#h.qy8kbrxuoxen) of the detailed instructions on configuring your build system. You are likely missing the 32-bit dynamic libraries needed to run the aapt tool.

[2017-01-27 16:21] ewpatton commented on #861
Do you have the java compiler (javac) on your path? From the stack trace it looks as though ant is unable to call javac. You can verify by typing `javac -version` from the command line.

[2017-02-07 14:09] aminelabs opened #869 "help please"
ComponentList:
    [javac] Compiling 194 source files to C:\Users\Mohamed Ibrahim\appinventor-sources-master\appinventor\components\build\classes\ComponentList
    [javac] javac: invalid flag: Ibrahim\appinventor-sources-master\appinventor\components\build/AnnotationProcessors.jar
    [javac] Usage: javac <options> <source files>
    [javac] use -help for a list of possible options

BUILD FAILED
C

[2017-02-07 14:25] josmas commented on #869
Hi there, please ask for help in the [open source forum](https://groups.google.com/forum/#!forum/app-inventor-open-source-dev) instead of opening an issue. The problem is with your local setup. Closing this now.

[2017-02-07 14:25] #869 closed

[2017-02-10 12:16] arpitarora3000 commented on #814
Hi thomas1114,

I am getting the same "The type java.io.ObjectInputStream cannot be resolved. It is indirectly referenced from required .class files" error while creating a query in meta client of SpagoBI tool, version 5.2. I am using java 1.8.0_91 and i have searched the net but i am not able to find jdk- 1.7.0_95. Can you please provide the weblink for the same? It will be very helpful to me.

T

[2017-02-14 11:57] josmas commented on #861
There's a possibility that the spaces in your name (folder) are not agreeing with Java. In any case, please ask for help in the [open source forum](https://groups.google.com/forum/#!forum/app-inventor-open-source-dev) if you still have issues.

[2017-02-14 11:57] #861 closed

[2017-02-14 11:58] josmas commented on #864
Closing this for now. If you are still having issues, please ask for help in the [open source forum](https://groups.google.com/forum/#!forum/app-inventor-open-source-dev).

[2017-02-14 11:58] #864 closed

[2017-02-21 16:05] barreeeiroo commented on #861
Yes, it was the space in the path

Thanks

[2017-03-02 11:47] tcsiwula commented on #23
+1

[2017-03-12 08:29] sjais789 opened #876 "application incompatibility (crashing issue) on lollipop and higher version of android os. It's working fine on lower version of android os(jellybean,kitkat)"

[2017-03-12 08:54] sjais789 commented on #807
If multiple account access is given to a same project,then we can add some digit notation to the blocks to distinguish user A from user B.  It is easy to visualize which user has contributed less and more.
It is another form of version control system.

[2017-03-13 10:39] josmas commented on #876
This was redirected to the programming forum (by Taifun in the open source forum). Closing now.

[2017-03-13 10:39] #876 closed

[2017-03-13 21:57] ewpatton commented on #693
If I understand this correctly, this issue is solved in the Blockly update to simplify passing translations to Blockly easier.

[2017-03-13 21:59] ewpatton commented on #676
Upgraded to GCS 0.6 in 27f7987. Do we need to consider a newer version than this?

[2017-03-13 22:09] ewpatton opened #877 "Handling notifier cancel in multiple languages"
PR #685 made the buttons for the notifier internationalized. Because the text of the button is returned in the AfterChoosing or AfterTextInput events, one gets the localized string. Using an app on phones in different languages will return different results, making it difficult for programmers to test for the cancel condition, e.g. [[1]](https://groups.google.com/forum/#!category-topic/mitappinven

[2017-03-23 05:03] sjais789 commented on #338
Camera API 2 supports to check whether your device is using front camera or rear camera using camera   **getCameraIdList()** method and  **getCameraCharacteristics()** to add properties like use front_camera or not.
But camera 2 API supports on  Android API 21+ (Android 5 - Lollipop).

[2017-03-23 09:17] thequixotic commented on #338
We support App Inventor from API Level 4. We try to be consistent with features so that they are evident on most devices. I don't know if its nice to include it as it might disappoint most users (who use devices below API 21).

[2017-03-23 13:58] sjais789 commented on #338
I agree with it but if can we try two code paths for API (>21+) and API (<21+) to solve our front camera issues. @josmas @thequixotic .

![capture](https://cloud.githubusercontent.com/assets/12415740/24251042/d47141d6-0ffe-11e7-904f-209d70446c4e.PNG)

`)

[2017-03-23 14:05] marksherman commented on #338
What would the semantics of the blocks language be to handle that with
maximal compatibility?

On Thu, Mar 23, 2017 at 9:58 AM Shubham <notifications@github.com> wrote:

I agree with it but if can we try two code paths for API (>21+) and API
(<21+) to solve our front camera issues. @josmas
<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_josmas&d=DgMFaQ&c=lqHimbpwJeF7VTDNof4ddl8H-R

[2017-03-23 19:11] sjais789 commented on #236
Sound recorder component is crashing on some devices because of microphone is not released from other process in start() method. We have to use the microphone.release() just after the start() function.

[2017-03-25 02:48] Ang-YC commented on #338
In Block Language, the basic functionalities should include:

[code]

When `[Camera].Front` is set to true, it will start the camera using Front Camera, user can also check this value to know if current Camera is Front or Back.

And also other methods inherited from `AndroidViewComponent`
[code]

This will be implemented using custom SurfaceView with no controls, user can use other components to c

[2017-03-27 16:23] marksherman commented on #338
That sounds good. What do those blocks do when running on a device with a
lower API level?

Mark Sherman
UMass Lowell Computer Science

[2017-04-01 05:46] xuwenbin opened #879 "Looking for guide on how to install AppInventor 2 over AppScale environment"
Background - AI2 is based on GAE which is completely blocked in China. We want to use AppScale as an alternative to run AI2 server within China. There's a public AI2 instance in Guangzhou area, however, our network environment stops us from using external public AI2 server(s). As a result, we have to set up our own server in our network environment.

What we are looking for - A detailed guide on h

[2017-04-01 20:07] kleffa commented on #363
@thequixotic what happens now with the extensions support? make this canvas as a extension is to much difficult?

[2017-04-02 06:41] kirliavc commented on #879
I followed the instructions and successfully set up AI2 server in my own server in China.
Actually, my server is within a local network and is completely blocked from outside network, and my AI2 server still worked. It attempted to connect Google, but as it failed, it started without other problems. Of course, signing in with Google account doesn't work properly.

[2017-04-02 12:10] shivakrishna9 commented on #852
@josmas  I will try to fix this. Any suggestions welcome. Also is it on priority?

[2017-04-02 12:31] shivakrishna9 commented on #809
I am interested in this NLP analysis project. Can I submit a proposal for this as part of GSoC?

[2017-04-03 07:18] sjais789 commented on #809
I am interested in the project but i have  some queries like,is it compulsory to use Factiva tool,as it lags behind some news publisher and it's not containing all the articles related to MIT app inventor.

[2017-04-03 07:32] xuwenbin commented on #879
@kirliavc Can you share with me the instruction details? For sign-in issue with Google, I believe code-level changes must be made. I can put my hands on it only after my local AI2 server is up and running.

[2017-04-03 07:40] kirliavc commented on #879
@xuwenbin I made no change on the code, and I just started the server with the official instructions. So where is your problem? I didn't do anything with AppScale. Probably I didn't get your point.

[2017-04-03 07:56] xuwenbin commented on #879
@kirliavc so, you didn't use AppScale, but just installed AI2 and got it up and running?

[2017-04-03 08:19] kirliavc commented on #879
@xuwenbin of course I downloaded a copy of App Engine SDK from google, but connection with Google isn't a essential step to start the server.

[2017-04-03 08:45] xuwenbin commented on #879
@kirliavc we can switch to wechat for more instant chat. mine wechat no. is 2295450513

[2017-04-03 09:24] josmas commented on #879
that's a great idea (to move this conversation somewhere else). Closing this issue now. Thanks!

[2017-04-03 09:24] #879 closed

[2017-04-03 09:25] josmas commented on #852
@shivakrishna9 i am not the best person to provide info on this issue... as I have none myself! :)

[2017-04-04 18:01] thequixotic commented on #363
@kleffa  I have tried making Canvas Camera Live Feed. The problem I had was with the way App Inventor scales its UI which gives me only a small window for camera instead of the entire canvas. Since I had to support it from API Level 4, it was not easily straight forward. I paused the project because I had other priority projects for App Inventor. I might get back to it soon.

[2017-04-06 05:35] Ang-YC commented on #338
I have submitted the code few days ago for GSoC 17 (I hope you are one of them that can read the application) which also includes the link to my modified App Inventor server with Embedded Camera feature. I am not planning to post the link here to prevent server abuse anyway. (Can I send you an email of the link so you can try it on?)

It's tested on Android 2.3, 4.1, 6.0 (real device), Android 2.0

[2017-04-07 12:32] kleffa commented on #363
I think it works, I tried on my phone and yes saw the little preview, but if I rotate the phone get full screen.... Please don't surrender on this

[2017-04-09 09:46] xuwenbin opened #880 "LoginServlet.java -> sendmail() -> HttpUrlConnection doesn't send out http POST request on GAE dev server environment"
Environment
--------------
1. Ubuntu 14.04
2. GAE SDK 1.9.51
3. OpenJDK 7

Symptoms
-----------
1. In appengine-web.xml file

Disabled Google Auth
Altered localauth.mailserver to point to my own passmail implementation (_note: http only_)
Rebuilt AI2 successfully

2. Ran AI2 locally on GAE SDK dev server (Java)

3. Click set or recovery password link

4. Type in a valid email address

5. Click Sen

[2017-04-13 07:03] sjais789 commented on #809
I have applied LDA algorithm to generate topic based on the  word frequency for the first document file of (AppInventorNewsFactiva.zip) provided by @halatmit.

![sjais](https://cloud.githubusercontent.com/assets/12415740/24993763/672b73ba-2045-11e7-8f5e-70392d3923ca.PNG)
`

[2017-04-18 12:35] xuwenbin opened #882 "Looking for guidance on how to run load-tests on AppInventor standalone server"
Thanks to the great documentation on [how to build your own AppInventor server](https://docs.google.com/document/pub?id=1Xc9yt02x3BRoq5m1PJHBr81OOv69rEBy8LVG_84j9jc); I am able to set up my own AI2 server and make it serve test traffic.

Now, before my server could start serving real production traffic, I want to understand its performance limits (e.g. max. concurrent requests, latency, etc.).

It

[2017-04-26 17:24] david2410 commented on #882
From `Readme.md`, I just found this

`$ ant tests`

[2017-04-26 18:07] weihuali0509 commented on #882
@xuwenbin If you are thinking running your own instance, I would advise you not to do that because the deployment method you are following above is just for development & testing. It won't handle the real production traffic. If you are in China, I would strongly recommend you to use the Guangzhou server - http://app.gzjkw.net/

[2017-04-28 13:47] ewpatton opened #883 "Allow custom help URLs for extensions"
In response to [this thread](https://groups.google.com/forum/#!topic/app-inventor-dev/PyARrWgNtFY), we need to add the ability for extension authors to provide help URLs for their extensions.

Rough steps to get this working:

- [ ] Add helpUrl attribute to `@DesignerComponent` annotation
- [ ] Update `ExternalComponentGenerator` to emit the URL in the components JSON.
- [ ] Add helpUrl field and

[2017-05-24 13:07] ewpatton opened #886 "Better handling of transport errors in Web component"
If the client rejects the SSL certificate for some reason then we do not give a meaningful error message to diagnose the problem as report in [this forum post](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!category-topic/mitappinventortest/lhGyWAOn21I).

[2017-05-24 13:08] ewpatton commented on #883
Closed by 910fb80b.

[2017-05-24 13:08] #883 closed

[2017-05-25 18:20] ewpatton commented on #886
See also #791

[2017-06-05 19:37] ewpatton opened #887 "Infinite loop when runtime error during companion initialization"
Based on a project sent by Ghica [on the forum](https://groups.google.com/forum/#!category-topic/mitappinventortest/NkRqptqI8Qw), a socket left empty in an event handler resulted in an infinite loop with the companion returning a RuntimeException that caused the ReplMgr to resend all of the code, rinse and repeat. This needs to be isolated to determine whether it was introduced by the Blockly merg

[2017-06-05 19:46] ewpatton commented on #887
Tested this against tag nb156b and the issue still occurs, so it was occurring before the Blockly update.

[2017-06-05 21:19] ewpatton commented on #841
Blockly now truncates the text with an ellipsis if it reaches a certain number of characters so this is no longer an issue as of the Blockly update.

[2017-06-05 21:19] #841 closed

[2017-06-08 17:19] meera opened #888 "MESSAGES.extensionComponentPallette() : ComponentsTranslation.java:3287: error: cannot find symbol"
I am trying out AltCamera example as documented in http://ai2.appinventor.mit.edu/reference/other/extensions.html

My active branch is cdk (as suggested elsewhere).

When I run
ant
I get following error message.

appinventor-sources/appinventor/build/components/ComponentTranslation/src/com/google/appinventor/client/ComponentsTranslation.java:3287: error: cannot find symbol
    [javac]     map.put(

[2017-06-09 20:50] bennytheshap commented on #888
@meera I wrote to @ewpatton  about this earlier. What I learned is that you can now just use the master branch as your base. However, you still can't compile with a bare ``ant``, but can if you use ``ant extensions``.

[2017-06-12 06:20] meera commented on #888
Thank you -
I was able to compile it using

ant extensions
on main branch worked.

Can some one please update the google document

https://docs.google.com/document/d/1orlYWGlHOY0hmAC0zjadQ4DET2K8U34C8hv5zmuxZLU/edit

This will make it easier for newer coders trying to create extension for first time..

[2017-06-12 19:37] ewpatton commented on #888
I'm going to add this to the messages file. While it doesn't need to be there for the production system, enough people are aware to do `ant` that it will continue to cause headaches.

[2017-06-13 18:43] #888 closed

[2017-06-14 13:29] ewpatton commented on #880
I think this is a discussion better left for the [open source forum](https://groups.google.com/forum/#!forum/app-inventor-open-source-dev). We don't officially support running App Inventor in the dev server other than for testing purposes, so I'm going to close this issue.

[2017-06-14 13:29] #880 closed

[2017-06-21 16:02] kvmathison opened #890 "Errors in generic component method blocks"
Generic Clock.addDays (and similar) blocks turn into Clock.addnull when dragged into the workspace, and throw an error that says "This block is not defined. Delete this block!".

Additionally, several other generic blocks, including Canvas.DrawCircle and Clock.FormatDate, have a default-empty dropdown where the component type should be. These throw an error that says "Component does not exist" reg

[2017-06-23 18:37] ewpatton commented on #863
This was addressed in commit 8bc52d45.

[2017-06-23 18:37] #863 closed

[2017-06-23 18:38] ewpatton commented on #862
This was fixed in the Blockly update 1a91e92a.

[2017-06-23 18:38] #862 closed

[2017-06-23 19:38] ewpatton commented on #867
This was fixed as part of the Blockly update 1a91e92a.

[2017-06-23 19:38] #867 closed

[2017-06-23 19:41] ewpatton commented on #854
@halatmit  I made an update to this document on June 9th to address changes to the extension mechanisms made as part of the IoT release. I also removed some of the references to earlier methods, such as checking out the CDK branch. Please make a pass and note any places where you think updates still need to be made.

[2017-06-23 20:24] ewpatton commented on #173
Closed by #747

[2017-06-23 20:24] #173 closed

[2017-06-23 20:56] ewpatton commented on #280
Closed by #417

[2017-06-23 20:56] #280 closed

[2017-06-25 22:57] jisqyv commented on #236
This *may* have been fixed in commit 8cbe40cfcf911f465d390577bb6ca5311f4a300f. I'm going to close this issue for now.

[2017-06-25 22:57] #236 closed

[2017-06-27 22:14] ewpatton opened #892 "Comment bubbles no longer captured in PNG with Blockly update"
[See the forum post](https://groups.google.com/forum/#!category-topic/mitappinventortest/8X_r-XuEiQ4). Previously blocks and bubbles were in the same group element. With the Blockly update we are only capture the blocks group and not the bubble group. Ideally we should capture both to provide consistent behavior with older versions of App Inventor.

[2017-06-29 21:33] ewpatton opened #894 "Show extension version number in helper widget"
It is difficult to know which version of an extension is being used when helping a App Inventor developer debug extension issues. It would be useful to show the version number embedded in the extension's components.json file in the help widget so that the information would be readily available in the event someone asks for help on the forum.

[2017-07-01 14:45] JaimeChavarriaga commented on #606
Nowadays, applications using the Location Sensor does not perform well. They become unresponsive because the position may remain as 0,0 for a long time.

In my current class, we may spent a lot of time and the location component never gets a new position. As a workaround, we enable and disable the location sensor (manually) in the phone keeping the app inventor application active. If we start anot

[2017-07-04 16:50] EX867 opened #897 "stack trace in error messages(not log)"
Can you add stacktrace in exception popup and error messages? And it will be good if stack trace includes procedures too...<br>
I had a array index out of bounds exception with companion app, I could only see "length x; index x",it even not told me that is array... exception.
I can see logs, but I think adding stacktrace in there will be good.

And one more... extension simpleobject descriptions a

[2017-07-07 08:30] militrik commented on #309
Set "spinner selection index"=0 is not worked.
It always select first item from the list. And  "spinner selection index" =1 select first item from the list too.
Because of this, it is impossible to trigger the first element with Spinner.AfterSelecting
![01](https://user-images.githubusercontent.com/12719705/27949783-a3b61fc4-6307-11e7-9682-34179c657578.jpg)

[2017-07-11 15:46] ewpatton commented on #890
Closed by #895

[2017-07-11 15:46] #890 closed

[2017-07-13 12:35] ewpatton opened #899 "Player crashes app if volume outside allowed range"
There was a report earlier this year about an app crashing if the player volume was set to something outside the 0-100 range. This is because we throw an uncaught IllegalArgumentException [at Player.java:269](https://github.com/mit-cml/appinventor-sources/blob/62219c94c3bc870fadaa77afe09701d2b0874c73/appinventor/components/src/com/google/appinventor/components/runtime/Player.java#L269). Instead of

[2017-07-13 12:55] ewpatton commented on #897
One problem with putting stack traces in the error messages is that the default behavior is to show the message as a popup dialog. On phone size screens, stack traces are likely to span many screen lengths if one is deep in the stack (especially if the error is a stack overflow). Do we want to be showing the entirety of the Java stack, or do we implement a mechanism to limit the stack to only the

[2017-07-13 13:16] ewpatton commented on #392
The 5MB restriction was removed. However, there is a hard limit in GAE of [10MB for HTTP requests](https://cloud.google.com/appengine/docs/standard/java/outbound-requests#quotas_and_limits), which means that we cannot build larger apps without an infrastructure redesign.

[2017-07-13 13:16] #392 closed

[2017-07-13 13:38] #455 closed

[2017-07-13 13:39] ewpatton commented on #429
I believe this was a bug in Blockly. It does not appear to be happening as of the Blockly merge in May. Closing for now.

[2017-07-13 13:39] #429 closed

[2017-07-13 13:44] ewpatton commented on #446
This looks like it was fixed in 84003f0.

[2017-07-13 13:44] #446 closed

[2017-07-13 14:00] ewpatton commented on #710
This looks like it was fixed with 7f6a457b85.

[2017-07-13 14:00] #710 closed

[2017-07-13 16:22] EX867 commented on #897
I can just make extension with getStackTrace() or something to get entire stack. Showing appinventor's internal functions is useless when making app with this.
I think it is better to print only blocks.

Maybe small screen and many lines can be solved with dialog with scroll panel...?

[2017-07-18 21:49] ewpatton opened #901 "Button margins disappear with non-default shapes"
From [this forum post](https://groups.google.com/d/msg/mitappinventortest/-E7w5DYDrUg/5w-BMnKMBgAJ): if the button shape is changed from the default, the margin between buttons goes away, and all of the buttons will squish up against one another. The margin behavior should be consistent regardless of shape.

[2017-07-18 22:09] ewpatton opened #902 "Optimize app icons"
[From the forum](https://groups.google.com/d/msg/mitappinventortest/7BY2N5VszD0/0N3WKK8rBgAJ) (among others): Non-standard icon sizes interfere with installing apps on Android 6+. We ought to just update the build server to crunch the app icon to the appropriate dimensions to prevent this from being a silent (or misrepresented) error.

[2017-07-19 13:08] moliata opened #903 "AiMerger for App Inv Classic deletion request"
I recommend deleting AiMerger for classic App Inventor, as it has no use.

[2017-07-19 22:03] halatmit commented on #903
I decided not to delete this, but I added a clearer comment that it is obsolete.

[2017-07-19 22:03] #903 closed

[2017-07-19 23:48] ewpatton opened #904 "Clean up erroneous SCM files"
[From the forum](https://groups.google.com/d/msg/mitappinventortest/T39xIp3plIQ/zRvdeqxmAQAJ): A user had a Screen2.scm file that was corrupt and no associated BKY file. When loading the project, "an internal error has occurred" message for uncaught exceptions appears. We should have a mechanism to identify broken screens and report to the user that the corrupted screen will be deleted.

[2017-07-19 23:50] ewpatton commented on #897
The challenge is that the blocks do not easily correspond to locations in the Java bytecode due to the translation to YAIL. I do have an idea for how to accomplish a block-based stack trace but it is non-trivial to implement.

[2017-07-20 06:12] moliata commented on #903
Ok, thanks for the info.

[2017-07-20 06:14] moliata commented on #791
+1 Agree with that

[2017-07-27 18:48] marksherman opened #905 "Rename a project"
Process to rename is currently to Save As, then delete the original. This is more complicated than necessary, and is especially problematic when template files and starter code projects are being used.

Request a native "rename" option in the project menu that executes that works as one user operation.

(friction observed by @jsheldonmit in addition to myself and others)

[2017-08-01 14:03] moliata opened #906 "Game Client, Voting & Media Store components sources."
Hello MIT Team, where can I find Game Client, Voting & Media Store sources for App Engine? Like I can get TinyWebDB sources, I want to get those...
Thanks.

[2017-08-07 17:49] farxinu opened #907 "Adding a namespace for TinyDB in the companion"
It's possible to stomp on your own TinyDB data within the companion because all the TinyDB data is stored in the same place for the single companion app. While this isn't an issue with actual generated apks, for those testing with the companion, they may run into issues (that don't ultimately truly exist, but the users don't necessarily know that).

[2017-08-07 19:45] ewpatton opened #908 "Tail call optimize JSON list renderer"
[From the forum](https://groups.google.com/d/msg/mitappinventortest/GUXV17O2rg8/xpggJCQHBwAJ): Attempting to serialize a large list to string with ShowListsAsJSON = true results in a StackOverflowError from runtime.scm. The issue is in the implementation of `join-strings`, which Kawa does not appear to be optimizing for tail recursion, resulting in the overflow on a sufficiently large list.

[2017-08-08 14:40] ewpatton opened #909 "Stack overflow errors not reported to blocks editor"
Related to #908: The stack overflow error caused by the JSON renderer is not properly reported to the App Inventor client as a runtime error. Because this is an error rather than an exception, it might not be properly caught/handled by the runtime.

[Forum post for reference](https://groups.google.com/d/msg/mitappinventortest/GUXV17O2rg8/lmm4TpPNBQAJ)

[2017-08-09 01:37] halatmit commented on #908
I'm unable to duplicate this error.  I created a list of 100,000 numbers and computed its (string) length with ShowListAsJSON= True.   It took a long time, but gave an answer.   Am I not doing a sufficient test case?

[2017-08-09 03:13] ewpatton commented on #908
Here is the link to the test AIA Abraham posted. I confirmed the bug using this AIA and the emulator. Click the button in the app to load a CSV file as a list. The code then attempts to get the length of the string representation of the list, and in the coercion from list to string the stack overflow occurs (see logcat for details). Turning off the ShowListAsJson property on Screen1 and repeating

[2017-08-09 13:18] ewpatton commented on #907
Another suggestion today about allowing a prefix on TinyDB so that one can use multiple TinyDBs to organize data: https://groups.google.com/d/msg/mitappinventortest/lx7if7CL0FM/4WwVqzzrBwAJ

[2017-08-13 16:27] ewpatton opened #910 "Extensions in the same package removed even in different extension bundles"
We currently group extensions by package name into a bundle. However, in the wild there are multiple extensions using the same package name. When these are included in a project, deleting any one extension results in all of the extensions in the same package being removed, even though they are in separate bundles. We need to update the externalCollections tracker in [YaProjectEditor](https://githu

[2017-08-14 08:12] moliata commented on #906
@ewpatton

[2017-08-14 13:01] ewpatton opened #911 "Add remove block from backpack menu option"
To improve backpack management, we should add a "Remove from Backpack" menu item if one right-clicks on a block in the Backpack. Right now one can only clear the whole backpack.

[2017-08-15 21:02] ewpatton opened #912 "ClassCastException on certain devices"
According to [a post on the forum](https://groups.google.com/d/msg/mitappinventortest/2-HELs5D5v0/HQkX2DfkCAAJ): an ClassCastException is raised trying to cast a ScaleDrawable to ClipDrawable. Based on my initial investigation (no stack trace available), the likely place this is occurring is in [Slider.java:100](https://github.com/mit-cml/appinventor-sources/blob/master/appinventor/components/src/

[2017-08-15 23:11] ewpatton opened #913 "Investigate issues with asset synchronization"
Occasionally we get reports that asset loading fails and the progress bar does not dismiss. We need to look into why this might happen and how we can make asset transfer more robust for projects with many assets.

[2017-08-15 23:13] ewpatton commented on #906
I'm not sure which, if any, of these sources made their way from Google to MIT. @halatmit @jisqyv @afmckinney do you know whether we have these sources?

[2017-08-16 00:24] halatmit commented on #906
The sources are all in the standard github repo with the sources of the
other components.

But the have not been built in years, and I'm sure there would be problems
trying to use them.

== Hal

Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Tue, Aug 15, 2017 at 7:13 PM, Evan W. Patton <notifications@github.com>
wrote:

[2017-08-16 06:22] moliata commented on #906
Could you please tell where they are? Because I am asking for sources (that should be used in AppEngine), not components. For example, I cannot find TinyWebDb sources in github repo, I need to download them from http://appinventor.mit.edu/explore/content/custom-tinywebdb-service.html

[2017-08-16 12:10] halatmit commented on #906
The appinventor sources are in the github repo:

https://github.com/mit-cml/appinventor-sources

The Java code sources for all the components are in

appinventor-sources/appinventor/components/src/com/google/appinventor/components/runtime/

But I think you might be looking instead for the code that implements the
TinyWebDB and GameClient Web services.

The code for TinyWebDB is in python, and you

[2017-08-16 20:12] moliata commented on #906
Hello @halatmit! Thank you for the answer & yes, I am talking about code that implements web services. By the way, are the sources for Voting & MediaStore component? Or gone just like GameClient?
Thank you.

[2017-08-16 21:10] halatmit commented on #906
I don't think we ever had the code for the voting and mediastore services
at MIT.

The voting service was done by Ei Mustafaraj at Wellesley.  You could write
and ask her if she has the server code.

I think the mediastore work was done by Andrew McKinney here at MIT.   You
can ask him, but I don't know that this ever really worked.

Also, I found the GameServer code.  It's attached here.   Good l

[2017-08-17 06:59] moliata commented on #906
Hello @halatmit, thank you for the info.
1) Could you give me contacts to both of those people?
2) Where could I find attachments? Cannot seem to find them.
3) Yes, I do know that they are obsolete, I'll try to rewrite code (because I think all these web services, are written in Python.)
Thank you.

[2017-08-17 12:15] halatmit commented on #906
It looks like th email you got did not include the GameClient code
attachment.

Send me a real email address and I can try to send it again.

Eni Mustafaraj is at Wellesley, and Andrew McKinney is at MIT.   You an use
the Wellesley and MIT directories to search for them

== Hal

Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Thu, Aug 17, 2017 at 2:5

[2017-08-20 15:37] halatmit opened #915 "investigate accelerometer behavior under rotation"
Different device behave differently in reporting Xaccel and Yaccel when the device is rotated.  Make it easier to write programs that work across all devices and rotations, probably by using the Window Service RotationIndex.

[2017-08-21 01:20] halatmit commented on #915
Look here for how to get started.

https://stackoverflow.com/questions/5877780/orientation-from-android-accelerometer

[2017-08-22 21:38] #910 closed

[2017-08-23 14:19] ewpatton opened #916 "Asset progress bar shows 0% and doesn't progress"
If the user session has timed out but they try to connect a companion session, the progress bar will display for the asset transfer but will make no progress because attempts to retrieve assets from GAE will fail with 412 Precondition Failed. We should detect this scenario, dismiss the progress bar, and then present the session out-of-date dialog.

[2017-08-23 14:48] ewpatton commented on #916
May be related to #913

[2017-08-23 18:00] #887 closed

[2017-08-25 09:29] ozodrukh opened #917 "Proposal to change Android MinSDK version"
Hi guys,

Any thoughts on upgrading Android SDK from 1.5 -> 2.3 or 4.0, by looking on [Android distribution table](https://developer.android.com/about/dashboards/index.html), we can notice that there is only 0.7% devices running Android 2.3.3.

Why do I come up with idea of upgrading minSdk is obviously for Material Design(esthetic) 😅

[2017-08-25 14:37] ewpatton commented on #917
Please [see my blog post](http://appinventor.mit.edu/explore/blogs/evan/2017/08.html) earlier this month about this very issue.

[2017-08-25 19:05] #917 closed

[2017-08-28 18:30] ewpatton commented on #908
Closed via e3d1a87

[2017-08-28 18:30] #908 closed

[2017-08-28 19:46] #852 closed

[2017-08-30 13:59] ewpatton opened #918 "Investigate importing a project as an extension"
It looks as though the extension import code's check of an extension is not as rigorous as one would expect. A user [reported on the forum](https://groups.google.com/d/msg/mitappinventortest/FvXeYyYacKs/66zLOYw6CwAJ) that a project would no longer compile. Examination of the AIA revealed that the user may have imported a sample project as an extension as the exploded AIA contents of the sample pro

[2017-09-01 17:57] ewpatton opened #920 "Blocks positioned at 0,0 after upgrade"
Upgrade paths for applications that trigger a translation from the Blockly workspace to XML and back cause the positioning information of the blocks to be lost. This is due to the fact that we deferred positioning of the blocks to just before the workspace is rendered to the user and the versioning system was not updated to accommodate this change.

[Forum reference](https://groups.google.com/d/ms

[2017-09-05 11:44] ColinTree opened #921 "Version numbering of Extensions"
Topic from: https://community.thunkable.com/t/version-numbering-of-extensions/7321

A know that there is a VERSION field of the components in java code, but it is not visible for user on the website.
At least i forget to upgrade my extensions' VERSION field all the time...

so i advice to make the version number clearly displayed.
it may at least help reminding developers.

Thanks!

[2017-09-05 13:02] ewpatton commented on #921
This is a duplicate of #894.

[2017-09-05 13:02] #921 closed

[2017-09-08 16:07] ewpatton opened #922 "Spinner does not trigger AfterSelection when gone"
[From the forum](https://groups.google.com/d/msg/mitappinventortest/XQM081ncN5E/3EfhbjiMAAAJ): If a Spinner has Visible = false, one can still open it using the DisplayDropdown method block. After the user selects an element, the AfterSelection event is not fired, but the Selection and SelectionIndex properties reflect the user change.

This is due to how the behavior of the Android Spinner object

[2017-09-08 16:12] ewpatton opened #923 "Width/height update on orientation change"
To repeat:
1. Set the width or height of a component to a percent value
2. Set the width or height of the component to a fixed value
3. Rotate the screen

After the screen rotates, the form will apply the percent layout even though the width/height was changed to a fixed value. We need to unregister the component for a percent layout change if the width/height is set to a non-percent value.

Imple

[2017-09-09 05:37] ColinTree commented on #907
i got a extensions for myself as a solution, it is here:
https://github.com/OpenSourceAIX/TinyDBEditable

[2017-09-09 05:50] ColinTree opened #925 "the hint of methods, events or properties are not translated"
as shown here, Screen1.initialize event in chinese but get a  English hint.
actually not only this event, every method & event & property get the same issue
![_20170909132204](https://user-images.githubusercontent.com/22613139/30237458-f3917018-9564-11e7-8302-2d1cda6b9259.png)

i did not find the translation in source code that included the translated hint, did i miss something or it just doesn't

[2017-09-09 14:37] moliata commented on #925
Yes, this is happening because hints (aka block descriptions are set together with annotation like this: @SimpleEvent(descripition = "Example"), descriptions are not set within OdeMessages.java, that's why this is happening. If you would have to set description for every single block, it will take so much useless time. For adding a description in OdeMessages for every single block.

[2017-09-12 14:43] #854 closed

[2017-09-12 18:11] moliata commented on #906
@afmckinney do you have sources for MediaStore web service?

[2017-09-13 10:21] xuwenbin opened #928 "Potential Null Pointer Exception in 5 Places"
1. Check out the latest code
2. Run FingBugs tool
3. Report potential null pointer exceptions
4. Analyze the code and confirm 5 places
---------------------------------------------
1. File name: GalleryGuiFactory.java
    Line: 189
    Changes: Should add `return;`, otherwise, a null comments object might trigger exception

2. File name: ObjectifyStorageIo.java
    Line: 427
    Line: 451
    Line

[2017-09-15 06:46] ColinTree commented on #925
BTW,  what is the solution of translation for extensions?

[2017-09-15 07:12] moliata commented on #925
@ColinTree, that is not possible. For components, You just have to modify OdeMessages.java, that is not possible with extensions. Still, that would be a lot of pain to do.

[2017-09-15 07:23] ColinTree commented on #925
emm, ok.
i m trying to do some improvement for some components now. after that i will try to do this.
what the solution should be like ..? add translation in json file? but i think developers can not do the translate for such a lot language at the same time.

[2017-09-15 07:32] moliata commented on #925
Hello, there is OdeMessages.country.LANGUAGE.properties files in appengine/src/.../client directory

[2017-09-15 07:34] ColinTree commented on #925
i mean, for the extensions..

[2017-09-15 07:55] moliata commented on #925
@ColinTree you said components.. Actually that is not possible at all for now.

[2017-09-15 07:59] ColinTree commented on #925
yep, i see. thank you

[2017-09-15 07:59] #925 closed

[2017-09-22 14:08] ewpatton opened #932 "Update reference materials with new logo"
The reference documentation uses the old MIT App Inventor logo. It should be updated with the new logo to match the rest of the App Inventor website materials.

[2017-09-22 14:10] ewpatton commented on #932
For example: http://ai2.appinventor.mit.edu/reference/components/userinterface.html

[2017-09-22 16:55] conorshipp commented on #932
Also, the release notes use the old logo:
http://appinventor.mit.edu/ai2/ReleaseNotes.html

[2017-09-23 08:53] ColinTree opened #935 "Online image loading causes stuck and "no response""
i think we should use another thread to download the image, and put the image with runOnUiThread after the image is doanloaded in local.

[2017-09-23 13:03] moliata commented on #935
Agree with this, I will look into this right now.

[2017-09-23 13:07] ColinTree commented on #935
i had got a extension for this:

[cn.colintree.aix.AsyncImageLoader.zip](https://github.com/mit-cml/appinventor-sources/files/1326558/cn.colintree.aix.AsyncImageLoader.zip)

[2017-09-23 13:07] moliata commented on #935
Actually no, I checked the code & it works the way it should work. AsyncTask does the job.

[2017-09-23 13:10] ColinTree commented on #935
it is, as the method is used like this in ButtonBase.java
![image](https://user-images.githubusercontent.com/22613139/30773462-88092468-a0a3-11e7-87f5-1e396def5687.png)

[2017-09-23 13:11] ColinTree commented on #935
though the method in MediaUtil is async, the Drawable reference here is linear.

so that is what happened

[2017-09-23 13:16] moliata commented on #935
As you know MediaUtil is async. In Java linear methods are running on the same thread, which causes issues. So. when there is AsyncTask in MediaUtil, which causes Android to create a new thread. So, if methods are async, MediaUtil.getBitmapDrawable() doesn't hold the app, it continues app to work & goes back to the MediaUtil.getBitmapDrawable() method only when it has the result.

[2017-09-23 13:19] ewpatton commented on #935
This was done intentionally. Images have always been loaded synchronously in App Inventor. Typically this wasn't a problem because most images come from the assets or SD card and so they load quickly. However, sometimes people load images from the web and this will ultimately depend on network connectivity.

A while back, there was an issue where adding Firebase resulted in a network on main threa

[2017-09-23 13:20] ColinTree commented on #935
so in my extension, a new thread is created for getting the drawable from MediaUtil.
after got the drawable, it runs runOnUiThread and set it into the button.
![image](https://user-images.githubusercontent.com/22613139/30773520-eb7b50d8-a0a4-11e7-95c2-524003e3ce23.png)
![image](https://user-images.githubusercontent.com/22613139/30773523-f25cbd9c-a0a4-11e7-944d-23405c457eed.png)
![image](https://us

[2017-09-23 13:23] ColinTree commented on #935
so you mean if the image is too large, and the network is very slow, my solution here is going to causes problem if the Activity has been destroyed?

[2017-09-23 14:29] ColinTree opened #936 "designer view problem after page scrolled"
![image](https://user-images.githubusercontent.com/22613139/30773971-1bc5a38e-a0ae-11e7-9b6b-7ae631e1dcf8.png)

![image](https://user-images.githubusercontent.com/22613139/30773959-d903fbea-a0ad-11e7-8461-4f53bffad84f.png)

[2017-09-23 16:43] ewpatton commented on #935
@ColinTree In this case I think your code will do the right thing, so long as you understand that it might take a potentially significant amount of time for the images to appear. The problem we had was that loading images went from being synchronous to asynchronous and this caught users by surprise. Note that you could simplify your code by using [getBitmapDrawableAsync](https://github.com/mit-cml

[2017-09-23 16:45] ewpatton commented on #936
@ColinTree Can you give some explanation as to the behavior you are seeing and what you are expecting to happen? It's unclear whether your concern is with the first image, the second, or both.

[2017-09-23 16:54] ColinTree commented on #935
may be add a switch in Screen1?

thank you for your advice, i will simplify it and  release this in public. at least this can be a choice for users.

[2017-09-23 16:55] #935 closed

[2017-09-23 17:14] ColinTree commented on #936
as shown in the first image, the correct position of adding line at same as the the mouse position (center of the layout box). but if i scroll the page down, and then i do the same thing, a very big offset occurred.
(i think it equals to the scrolling displacement but it seems like a little bit more than that)

[2017-09-23 17:24] ColinTree commented on #936
i took another test, and confirm the offset of the offset (the part that i said "a little bit more") is cause by the height of the components.

so it is quite clear now, add an offset value (window.scrollY) to the drag handler can fix this PR

[2017-09-23 18:10] ewpatton commented on #936
Does this happen in a specific browser or do you see it in any browser?

[2017-09-23 19:03] ColinTree commented on #936
well, i tried on edge, it works correctly..
so what is the problem with Chrome...
i had tried to fix this in different ways on Chrome, like ctrl+f5 and restart the browser. it still act like that.

[2017-09-24 01:33] #920 closed

[2017-09-25 04:22] ewpatton opened #939 "Decrease save/load payload sizes"
[From the forum](https://groups.google.com/forum/#!category-topic/mitappinventortest/FUqaR2roqlk): A user had a problem with loading larger project files when antivirus was scanning the project during upload. Upon further investigation with the network utilities, the user noted that the blocks files were including whitespace and that they were not being compressed in any way during transit. I will

[2017-09-26 14:49] lucicd commented on #791
+1

[2017-09-27 01:43] ewpatton opened #942 "WebViewer not rendering on 5.0+ with latest Android System Webview"
[From the forum](https://groups.google.com/forum/#!category-topic/mitappinventortest/Iwo-UQGuGSM): On newer versions of Android there is a package "Android System Webview" that can be updated by Google Play. After the most recent update, the WebView component in App Inventor no longer appears to work.

[2017-09-27 10:50] josmas commented on #942
I just upgraded to latest Android System WebView on my 5.1.1 (Nexus 4) and the WebViewer still works fine (through the companion).

[unrelated] Something I did not notice before is that any address such as `www.google.com` will not load without a `http://` at the front.

[2017-09-27 14:11] moliata commented on #942
Hey Josmas, indeed needs to be like that. Even befpre anything websites always had to have http:// in front of, as WebView component requires that

[2017-09-30 19:10] luvhalvorson commented on #911
Hi, may I help with this one? I'm sorta beginner tho, could I ask for hints if I can't figure it out? 😊

[2017-10-02 11:46] Sivagss97 commented on #911
oh sure...!!!

On Sun, Oct 1, 2017 at 12:40 AM, D LI A IV <notifications@github.com> wrote:

[2017-10-02 12:47] ewpatton opened #944 "Property dropdown positioning in Chrome 61"
Reported by @kkashi01 on the [dev forum](https://groups.google.com/d/msg/app-inventor-dev/QRRsFH2NjEs/-8yPQ75IBwAJ):

In the latest version of Chrome (Chrome 61) the dropdowns for properties in the designer do not adjust for the scroll position of the page. They seem to appear always at the location they should appear if scrollTop = 0. This is likely an issue with GWT and we may need to update/pat

[2017-10-02 13:02] kkashi01 commented on #944
Initially reported by @gabryk91

[2017-10-02 15:29] moliata commented on #944
This needs to have high priority level.

[2017-10-02 21:45] ewpatton commented on #944
This is also affected by the scrollX property as well.

[2017-10-02 21:49] ewpatton commented on #944
Looks like this was fixed in the [GWT master](https://github.com/gwtproject/gwt/issues/9542).

[2017-10-03 16:01] ewpatton commented on #911
@luvhalvorson If you want to make an attempt, please do so and put in a pull request. You'll probably want to take a look at backpack.js, backpackFlyout.js, and block_svg.js in blocklyeditor/src/

[2017-10-06 17:24] ewpatton opened #947 "Improve documentation on deploying custom TinyWebDB"
[Reported on the forum](https://groups.google.com/forum/#!category-topic/mitappinventortest/epeHyWC4ZdM): Google has deprecated the GAE toolkit for deploying apps and preferring that people use the Google Cloud Platform CLI. We should update the instructions to this preferred method.

[2017-10-06 20:53] ewpatton opened #948 "Cannot parse list as csv table error with BOM marker"
[From the forum](https://groups.google.com/forum/#!category-topic/mitappinventortest/NK9-y2Dvt6w): A file that looked like correct CSV results in an error using the list from CSV table block due to an unrendered BOM at the beginning of the file (`EF BB BF`, the UTF-8 BOM according to [Wikipedia](https://en.wikipedia.org/wiki/Byte_order_mark)). Removing the BOM fixed the problem, but we need a more

[2017-10-07 15:47] ewpatton opened #949 "Investigate cond over if chains"
We should look into whether it is more efficient to map a if-elseif*-else block into a cond rather than a sequence of if-begin statements. For example, one outcome might be whether or not Kawa generates more efficient byte-code.

[2017-10-07 16:11] ewpatton opened #950 "ClassNotFoundException when compile some apps with extensions"
Some users have reported on the forum that they cannot compile apps containing the BLE extension. When an error is given, it is a ClassNotFoundException involving the BLE extension, so somehow we are either not placing the extension's classes.jar file on the path or Kawa is failing to find it.

[2017-10-07 16:14] moliata commented on #950
Indeed, by my report on Forums, most of my extensions get this issue!

[2017-10-07 16:20] halatmit commented on #949
Agreed, but i expect the differerences would be trivial given all the other
sources of slowdown.

== Hal

Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Sat, Oct 7, 2017 at 11:47 AM, Evan W. Patton <notifications@github.com>
wrote:

[2017-10-08 12:22] ewpatton opened #952 "No default value for property setters in YAIL"
When we generate YAIL for property setter blocks (including generics), we do not provide default values. This results in an error about incorrect number of arguments to `set-and-coerce-property!`. We should adjust the generator to provide a reasonable default to prevent this error from occurring.

See also #887, which this error triggered.

[2017-10-08 12:24] ewpatton opened #953 "Warning indicator count not correct on first workspace render"
If one creates a project with warnings and then reloads the page, the warning indicator will reset to 0 even though there are warnings. This was discovered in debugging #952 and is likely due to the Blockly update earlier this year.

[2017-10-09 16:42] ewpatton opened #954 "Add mechanism to rename Screens"
[From the forum](https://groups.google.com/d/msg/mitappinventortest/TNfcO50O9PY/yZQuH8_8BQAJ): There are tools to merge projects, but if everyone works off of Screen1 then merging becomes impossible. Consider adding a mechanism for renaming screens, and possibly add a flag to indicate which screen is the primary (i.e., Screen1). This would alleviate a number of pain points.

[2017-10-09 16:52] ewpatton opened #955 "Update Fusiontables Documentation Screenshots"
[From the forum](https://groups.google.com/d/msg/mitappinventortest/opGm8yXnkvg/0AMXAzbgBAAJ): Yet another Google redesign has made the documentation obsolete.

Next steps:
- [ ] Capture new screenshots of the permissions workflow
- [ ] Update the document on explore.appinventor.mit.edu

[2017-10-09 16:54] halatmit commented on #954
I think someone posted a way to do screen renaming several months ago, but
we never made it simple to do.

== Hal

Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Mon, Oct 9, 2017 at 12:42 PM, Evan W. Patton <notifications@github.com>
wrote:

[2017-10-09 17:27] ewpatton commented on #952
See issues #394 and #395.

[2017-10-09 17:31] ewpatton commented on #954
I went back through the PRs and didn't see something that stood out as solving this issue. If you have a pointer, please let me know.

[2017-10-09 18:21] kkashi01 commented on #954
Just wanted to mention that renaming screens should also include mechanism
for changing all the references where they are being opened.

Hossein.

On Oct 9, 2017 1:32 PM, "Evan W. Patton" <notifications@github.com> wrote:

[2017-10-09 19:35] ewpatton commented on #954
Unfortunately this will not be possible in all cases, such as if the screen names are kept in a list or otherwise constructed programmatically. If we eventually merge #831 then it would be expected that would be the case for those blocks.

[2017-10-10 13:15] kkashi01 commented on #950
Is this only worth extensions that use BLE?

[2017-10-10 13:32] moliata commented on #950
No this happens to any kind of extensions at random occasions.

[2017-10-10 13:33] moliata commented on #950
By saying random occasions that doesnt mean sometimes you can compile app and sometimes not. By random occasions, I mean, some extensions don't get this, while others do

[2017-10-11 17:39] ewpatton commented on #950
I have noticed this as well when testing. At least when running against the buildserver on my local machine, it looks like it is failing roughly every other build. It ought to be deterministic in the file contents, so there's some issue to uncover in the compiler code.

[2017-10-12 19:09] d0ggo opened #957 "Twitter OAuth possibly broken"
Hello. I've been trying to make an app using the Twitter plugin, but it's been throwing me an error "message -Could not authenticate you" with error code -32. These are the right keys, they have the right permissions, I'm not sure what else could be going on. I'm using "initialize global" blocks to set my keys as "ConsumerKey" and "ConsumerSecret" as well. Thanks!

[2017-10-12 21:16] #944 closed

[2017-10-12 21:16] #953 closed

[2017-10-15 01:01] halatmit commented on #915
This will be handled by PR #956 .

[2017-10-16 16:56] jisqyv commented on #915
Fixed by https://github.com/mit-cml/appinventor-sources/commit/0f01fbe50f55a613f8cdf2425eefb47dbf100f5b

[2017-10-16 16:56] #915 closed

[2017-10-18 15:32] ewpatton opened #959 "ODE performance issues on projects with many mutators"
@kkashi01 provided an example app from a user where opening a mutator bubble decreases the responsiveness of user interface events in the editor. Initial investigation suggests that there are many events being fired by a combination of Ode and Blockly that keep the browser's JS thread busy and prevent user interaction. We need to figure out why there are so many events being fired and how to reduc

[2017-10-19 14:57] josmas commented on #957
@d0ggo if you still have this issue, can you ask for help in the forum? I have just created a Twitter app and it works as expected. Closing this for now (can be reopen if needed).

[2017-10-19 14:57] #957 closed

[2017-10-20 10:43] VASANTHP80P commented on #363
Can anyone give me the extension (.aix) file of canvas which you have changed.
Please give me.

Thank You

[2017-10-20 16:21] deliotca opened #961 "Export / Import AIA files jumbles code together"
Platform:  Windows 7
Browser:  Chrome, latest

Issue:  If an AIA of a project is exported using **Projects --> Export selected project (.aia) to my computer**, and then that project is later imported into App Inventor using **Projects --> Import project (.aia) from my computer**, many of the code blocks are jumbled into a pile in the center of the screen.  So it appears that the EXPORT / IMPORT pr

[2017-10-20 18:56] ewpatton commented on #961
@deliotca Can you attach an example exported project where this occurred? It's unclear to me right now whether this is occurring due to the export process or the import process, but we can look into the file to determine what the state of the project is prior to importing it.

[2017-10-20 19:19] deliotca commented on #961
Here's the one that I used that had the problem.  It was a demo for a highly modified version of the class Paint Pot app.  When I re-import this app, many of the blocks are in a "pile".

[AS04Part01Demo.zip](https://github.com/mit-cml/appinventor-sources/files/1403043/AS04Part01Demo.zip)

[2017-10-20 19:24] ewpatton commented on #961
This bug may be related to #920, which is fixed but not yet deployed.

[2017-10-20 19:26] deliotca commented on #961
OK, odd...

That file I just provided is fine (I downloaded tested it) but this AIA file shows the behavior on my computer just now:

[AS04Part02Demo_Day01.zip](https://github.com/mit-cml/appinventor-sources/files/1403061/AS04Part02Demo_Day01.zip)

[2017-10-20 19:27] deliotca commented on #961
My Version info if that matters:

Built: September 18 2017 Version: nb162a
Use Companion: 2.44

[2017-10-20 19:28] deliotca commented on #961
PS:  Thanks for the excellent speedy response.

[2017-10-20 19:35] ewpatton commented on #961
@deliotca Which browser (Firefox, Chrome, Safari) are you using? I have imported this project into both [ai2.appinventor.mit.edu](http://ai2.appinventor.mit.edu) and [ai2-test.appinventor.mit.edu](http://ai2-test.appinventor.mit.edu), and neither exhibit the problem using Chrome, so I wonder if this is a browser specific bug.

[2017-10-20 20:24] deliotca commented on #961
Mentioned in the first post, Windows 7 Latest Chrome.

Dan

[2017-10-20 20:25] deliotca commented on #961
The SECOND Zip file I uploaded (**AS04Part02Demo_Day01.zip**) is causing the problem.  I just downloaded it again from this thread, and opened it in App Inventor.

[2017-10-21 03:52] ewpatton commented on #961
@deliotca The second project was definitely affected by bug #920. This is due to an interaction that between the code that updates a project when it is opened and the latest version of the blocks editor. Internally, all of the x, y coordinates get reset to 0, 0 when the bug is triggered. This happens even before the project is exported. In the meantime, you can use the Arrange Horizontally or Arra

[2017-10-21 10:05] ColinTree opened #962 "class name not match file path when DX of extensions"
i got a folder for an extension and the structure is like this:
OpenGL
|--objects
|　|--Drawable.java (required files)
|　|-- ...
|--GLCanvas.java (**this is the extensions file**)

after packed as an extension, it will all become this structure in AndroidRuntime.jar: (all file in a same folder even in the different package)
![image](https://user-images.githubusercontent.com/22613139/31850701-85546c

[2017-10-21 13:06] ewpatton commented on #962
@ColinTree You may want to take a look at the [copyRelatedExternalClasses](https://github.com/mit-cml/appinventor-sources/blob/master/appinventor/components/src/com/google/appinventor/components/scripts/ExternalComponentGenerator.java#L300) method in ExternalComponentGenerator. Right now it only aggregates classes within the same package, not any descendant packages. You could create a patch that

[2017-10-21 14:21] ColinTree commented on #962
@ewpatton
I had fixed it locally.
But i m not sure which branch should i put it in?

[2017-10-21 14:23] ewpatton commented on #962
Since this doesn't materially affect the companion, you can put it onto master.

[2017-10-21 14:43] ColinTree commented on #962
Sure, here it is: #963

[2017-10-22 17:33] ewpatton opened #964 "Changing property in blocks does not update tooltip"
Given a property setter/getter block for a component, changing the property to be get/set using the drop down does not change the block's tooltip.

Reported by @halatmit

[2017-10-22 17:34] ewpatton commented on #964
Note that reloading the project will reflect the change, so this is likely a failure to update the tooltip when the mutation changes.

[2017-10-22 21:17] halatmit commented on #964
Evan,
You are correct.  This is an issue with *all* component property get/set.   Amazing that no one noticed it until now!

[2017-10-22 23:45] #964 closed

[2017-10-23 19:22] boardnick0815 commented on #791
+1 It would be great if this chooseable property could be added!
Any news on this "issue"?

Best regards and thank you for this great tool!

[2017-10-23 19:35] farxinu opened #968 "Pedometer Pause = Pedometer Stop"
Pedometer.Stop is just a call to Pedometer.Pause. Having two separate buttons for this implies different functionality. I propose that we simply remove the "Stop" function and all current uses of Stop can just become calls to Pause.
Similarly, "Resume"....is a call to Start. Resume should probably be removed as well.

[code]

[2017-10-23 20:22] #959 closed

[2017-10-24 04:39] moliata commented on #968
Agree with this, plus you some good points.

[2017-10-24 14:35] farxinu opened #969 "Player Volume Getter"
https://developer.android.com/reference/android/media/MediaPlayer.html

There is no formal "getter" for the volume of the Android MediaPlayer. However, it's very strange that we have a setter and no getter for the volume property within AI. It's easy enough to keep track of the volume ourselves, so it's not a big deal. but I'm posting this as a separate issue from #967.

[2017-10-24 16:10] ewpatton commented on #899
Closed by #970

[2017-10-24 16:10] #899 closed

[2017-10-24 18:09] marksherman commented on #962
you leave this open until the PR is accepted.

[2017-10-25 15:12] ewpatton opened #971 "Variable getters from popup won't connect"
Variable getters dragged from the popup workspace won't connect to any socket, suggesting that the output type provided to Blockly is not correct. However, dropping the variable block and then picking it up again will allow it to be connected to other blocks.

[2017-10-25 15:35] ewpatton commented on #971
Upon further inspection, it looks like this may be a visual glitch. The attached screenshot shows how the block connection highlight shows up but with a significant offset from where it makes sense for the block to be.

![image](https://user-images.githubusercontent.com/1331253/32007790-8a3de8a2-b978-11e7-916c-da0b3204af0b.png)

[2017-10-25 17:49] farxinu opened #973 "But wait there's more"
![image](https://user-images.githubusercontent.com/3612714/32014148-40de7470-b98b-11e7-8cd3-ccedf579b5b2.png)

[2017-10-25 17:54] farxinu commented on #973
Update: Seems to be a graphical issue. Reloading the project makes it "normal". It was possible to snap blocks into the false friend else. Something went wrong when playing with the mutator.
This may not be a real issue, as I have no idea how I managed to produce this error. If anyone else sees it, let's keep everyone posted.

[2017-10-25 17:57] farxinu commented on #973
Update to the update: If you mess with the mutator then "undo", a brand new beautiful false friend "else" appears.

[2017-10-25 18:52] halatmit commented on #973
eek.   This looks like my bug.  I'm guessing I simply didn't worry about
this when I coded the mutator for if.

== Hal

Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Wed, Oct 25, 2017 at 1:49 PM, Farzeen Harunani <notifications@github.com>
wrote:

[2017-10-25 19:13] farxinu commented on #922
Another Spinner issue: Say the spinner is set to element 1. You select element 1 (so it becomes Spinner.Selection). After Selecting is not triggered.

[2017-10-27 15:28] #932 closed

[2017-10-27 21:01] ewpatton opened #975 "Investigate Texting component on multiple screens"
[From the forum](https://groups.google.com/forum/#!category-topic/mitappinventortest/A2fbwiELMMQ): Create two screens with a Texting component. Open Screen2 and then return to Screen1. Screen1 will no longer receive SMS events. This appears to be due to the fact that we set the current `component` in the Texting constructor and dispatch to its Form, but on switching screens this information isn't

[2017-10-27 22:28] #973 closed

[2017-10-28 15:02] ewpatton commented on #968
We should think about what we want the verbs to be. I think nixing Stop/Resume and leaving us with Start/Pause is not good. We either should agree to Start/Stop or Resume/Pause. I think the former is the better choice.

[2017-10-28 15:33] moliata commented on #968
I am staying with Start and Stop.

[2017-10-28 18:17] ewpatton commented on #700
As far as I am aware, we are no longer enforcing a 5 MB limit on projects. There is still a hard 10 MB limit imposed by Google App Engine. Closing this issue.

[2017-10-28 18:17] #700 closed

[2017-10-28 18:19] ewpatton commented on #696
This was addressed in 6e23c47. It is currently on ai2-test and will be part of the next components release.

[2017-10-28 18:19] #696 closed

[2017-10-28 18:42] ewpatton commented on #545
The provenance appears to be lost here, but I am assuming that PR #547 was the fix for this and that this issue has been resolved. Please reopen it if I am mistaken.

[2017-10-28 18:42] #545 closed

[2017-10-28 18:44] ewpatton commented on #676
Given that we can use the dev server, I'm going to close this for now.

[2017-10-28 18:44] #676 closed

[2017-10-28 18:57] ewpatton commented on #300
This was implemented in ecb6659. It is available on ai2-test and will be in the next components release.

[2017-10-28 18:57] #300 closed

[2017-10-28 21:37] kkashi01 commented on #545
Wow. That's from 2 years ago :o)

I'll have to check on it.

On Sat, Oct 28, 2017 at 2:42 PM, Evan W. Patton <notifications@github.com>
wrote:

[2017-10-30 15:00] ewpatton opened #976 "Investigate rotation errors on Android 8.1"
[From the forum](https://groups.google.com/d/msg/mitappinventortest/GS1uoiYnuRA/hNMdUxkzBwAJ): When moving between multiple screens on Android 8.1, the orientation does not always reset. According to the reporter, this does not happen on Android 8.0. Investigation by one of the power users indicates that this behavior also interacts with the different screen switching methods.

[2017-10-31 15:21] farxinu opened #977 "Blocking Waits"
Request by Hal in staff meeting.

Add a blocking wait that doesn't actually block the whole UI thread. However, as AI is designed to run essentially on the UI thread, this is not as straightforward as a simple pause/wait/block. The Clock Timer can be used in some ways to mimic this, but it's insufficient in (for example) robotics applications.

[2017-10-31 16:02] ColinTree commented on #977
Greetings!
The speed of execute blocks in appinventor is quite slow. As i know it is due to the processes of every block instructions need to go through many steps of processing. It may not very obvious when the block is not that much, but this is still affect a lot, like doing a heavy job in a event (having a large looping, ect.)
Can this be fixed?
thanks

[2017-10-31 17:57] ewpatton commented on #977
@ColinTree  The issue you raise is separate from this issue. This is a feature request for a `wait` block that will defer execution by n milliseconds.

[2017-11-02 14:44] ewpatton opened #978 "Upgrade to Java 7 minimum"
Starting with Java 9, it appears the ai.javac5 ant task breaks because 1.5 is no longer supported by the javac compiler. We need to update the build system to use Java 7, which is the earliest supported Java language in the Java 9 compiler. This will also require testing the buildserver and components to make sure we don't break functionality after upgrading.

[2017-11-02 14:52] halatmit commented on #978
Thank you.   How unpleasant!

== Hal

Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Thu, Nov 2, 2017 at 10:44 AM, Evan W. Patton <notifications@github.com>
wrote:

[2017-11-03 15:48] ewpatton opened #979 "Custom color picker doesn't dismiss on interaction elsewhere"
I opened the color picker and, without dismissing it using the Cancel or Done buttons, imported a project. Interacting with the menus should have dismissed the dialog with a "Cancel" state, but it remained even during the visual transition between projects.

[2017-11-03 20:43] ewpatton opened #980 "Add method to create Fusiontable"
The Fusiontables v1 API allowed one to create a new table using the SQL syntax. Version 2 provides a separate, HTTP API, for creating tables. We should add a method to the Fusiontables control to allow App Inventors to create tables to make up for the loss in functionality.

[Forum reference](https://groups.google.com/d/msg/mitappinventortest/nd3eD5iA6ps/f8S_zLGbCQAJ)

[2017-11-04 07:22] OnyxClover opened #981 "App inventor companion is not work on Android 8.1 Oreo"
I installed my Nexus 5X with Android 8.1 Oreo Developer Preview 1.

And I try to development application with App Inventor 2, App companion is not work.

(Application Live Debug Mode)

I think Google killed old APIs and It makes these problems.

Can you check about your APIs?

I think some APIs will be deprecated.

Thanks.

[2017-11-04 11:33] ewpatton commented on #981
Thank you for reporting this issue. If possible, please use adb logcat to obtain a stack trace of the crash and include it here as that will help target our efforts to address the problem.

[2017-11-04 14:00] ewpatton commented on #981
I've tested this with the API 27 image in the emulator and was able to build the TalkToMe tutorial without issue. @OnyxClover Can you open the companion? Is there a specific component you are using that crashes the companion app on the phone?

[2017-11-04 14:54] ewpatton opened #982 "Companion app "disconnects" when using Camera component"
When doing the Bootleg Snapchat tutorial, someone had an issue where after taking a picture with the Camera component, the activity returned to the Companion start screen, suggesting that the Companion's Screen1 was killed and brought back to life when the Camera activity completed. We would need to look into handling the onPause/onStop event in ReplForm so that when we return from a child activit

[2017-11-04 16:05] ewpatton opened #983 "Add support for extending components by extensions"
[From the forum](https://groups.google.com/d/msg/app-inventor-open-source-dev/w_j13OxEs38/rIYFjME0CAAJ): It would be nice if extension developers could add behaviors to existing components rather than implementing a whole component from scratch, especially when the behavior would otherwise be tied to an existing component.

[2017-11-04 16:17] moliata commented on #983
+1 on this idea

[2017-11-04 17:06] OnyxClover commented on #981
Yes, I opened application, and take a QR code.

And It is not work to debug mode.

[2017-11-05 03:55] ewpatton commented on #981
@OnyxClover Can you provide a project that fails when you connect with the companion? Does an empty project fail?

[2017-11-05 09:58] OnyxClover commented on #981
@ewpatton

First, I development my application with AI2.

And I try to connect my phone with AI2 Companion application, and try to connect QR code, It is work, but It can't go to debug mode.

But I need to check about that again.

[2017-11-05 10:22] OnyxClover commented on #981
Oh, It just network error.

Sorry about that. It is work :(
...

[2017-11-05 10:22] #981 closed

[2017-11-05 13:32] ewpatton opened #984 "Make "Highlight Procedure" move to block"
The Highlight Procedure context menu item on a call procedure block only selects the block. It does not shift the blocks workspace so that it comes into view if it is off screen.

[Forum reference](https://groups.google.com/d/msg/app-inventor-open-source-dev/y7RHNh-huW0/MEQgQdt4CAAJ)

[2017-11-05 18:04] ewpatton commented on #868
@farxinu @cavedunissin Would one of you be interested in taking a look at this?

[2017-11-05 19:15] ewpatton opened #985 "HTML tagged being escaped"
Updating the Google Closure Compiler appears to have broken some of our error messages in the blocks editor.

[Forum post for reference](https://groups.google.com/d/msg/app-inventor-open-source-dev/mma-v33Cwz8/h7_L4RyLCAAJ)

[2017-11-07 01:59] ewpatton commented on #911
@luvhalvorson Were you able to make any progress on this issue?

[2017-11-07 04:13] ewpatton commented on #500
Closed via #737

[2017-11-07 04:13] #500 closed

[2017-11-07 04:59] ewpatton commented on #514
Poked around this a bit and here's a record for later:

1. Created an APK with the bad label name per the original issue.
2. Attempt to install on phone, confirmed that the app does not install with the error given.
3. Looked in the sources for Android OSP and found that everything in the field name ought to pass the isValidMethodName/isValidMethodNameUtf8 check (either in the art or libdex module

[2017-11-07 05:36] ewpatton opened #989 "Minimize changes to Blockly core"
Some diffs were merged as part of the Blockly core without conflict (e.g., comments). We should minimize the changes to Blockly core and move them wherever possible to blocklyeditor. This will make updates to Blockly easier in the future.

[2017-11-07 15:18] ColinTree opened #990 "Companion does not reload extension after new extension uploaded."
after a new aix file is uploaded to appinventor's server, the connected companion would receive the new file but it seems like not loading it unless reconnnect.

[2017-11-07 16:57] ewpatton commented on #990
@ColinTree After you upload the new extension, you should see in the developer tools an HTTP call to /_extensions with the list of extensions in your project. Does that happen? Do you see any errors in adb logcat that indicate something went wrong?

[2017-11-07 16:59] ewpatton commented on #990
Also relevant is [`AppInvHTTPD.processLoadExtensionsRequest`](https://github.com/mit-cml/appinventor-sources/blob/master/appinventor/components/src/com/google/appinventor/components/runtime/util/AppInvHTTPD.java#L443).

[2017-11-07 17:01] ewpatton commented on #990
I wonder also if changing the blocks workspace would cause a recompile of the relevant code to use the updated version from the last version loaded into memory.

[2017-11-07 17:22] ColinTree commented on #990
1. i got an old extension return 1 when a specific method is called, and the new extension returns 2
2. upload old extension first, the return value is 1.
3. upload the new extension, there was an "OK" with "_extensions"
4. the screen on companion doesn't even get a refresh (so the components did not changed, just like nothing happened.) so the return value is still 1.
5. then i modify a name of a

[2017-11-07 18:21] farxinu opened #991 "Notifier Bug - reported from forums"
Reported here: https://groups.google.com/forum/#!category-topic/mitappinventortest/aIMYI9sVBkk

If there are two notifiers within a procedure, they display in reverse order from the order in the blocks themselves.

[2017-11-07 18:34] ewpatton commented on #990
Thanks. I'll look into this and get back to you.

[2017-11-07 18:38] #991 closed

[2017-11-07 18:39] ewpatton commented on #991
Actually this is not a bug. When one opens two notifiers, the first is put onto the activity stack and then the second. You see them in the inverse order because the last one is the top-most (both are "visible"). When you dismiss the topmost one, you get the one previously on the stack. When you only open one, this would be your activity, but in this case it is the first notifier. If we solved #97

[2017-11-07 18:41] farxinu commented on #991
I realized that after Taifun said something. I wasn’t thinking and just saw “Hey it’s a bug let me report it”.

From: Evan W. Patton [mailto:notifications@github.com]
Sent: Tuesday, November 7, 2017 1:40 PM
To: mit-cml/appinventor-sources <appinventor-sources@noreply.github.com>
Cc: Farzeen Harunani <farzeen@mit.edu>; State change <state_change@noreply.github.com>
Subject: Re: [mit-cml/appinventor

[2017-11-08 15:55] ColinTree opened #994 "Disable events does not work for Companion unless reload screen"
While using companion, enable an disabled event is applied immediately, but disable a event is not, it can still be called until the whole screen is reloaded.

[2017-11-08 16:24] ewpatton commented on #994
Related to #822

[2017-11-08 16:27] ewpatton commented on #994
The underlying cause of this issue is that define-event is only generated when the block is enabled. There isn't a macro, let's say `undefine-event` that can be used to clean up the old version. One thing that may make sense for the Companion is whether to, when the form is cleared, also clear out the known event handlers used by EventDispatcher. This would require a change in runtime.scm.

[2017-11-08 16:31] ewpatton commented on #994
Another wrinkle here is that all events in the Companion are in the same namespace. Therefore, let's say you have a disabled event in Screen1 and that same event in Screen2. Switching to Screen2 and back to Screen1 will overwrite the disabled event handler in Screen1 with Screen2's implementation, and firing of that event will invoke Screen2's behavior.

[2017-11-09 14:16] ewpatton opened #995 "Component method blocks do not appear in typeblocking"
When using typeblocking, properties and events appear in the list but methods for components do not.

[2017-11-09 16:01] ewpatton opened #996 "Unable to load project after upgrading BLE extension"
After updating a project with a newer BLE extension and reloading, the upgrader tries to run to bump the extension's version number. However, because this is an extension no upgrader is available. We need to have a check as to whether the component being upgraded is an extension and not throw an error due to lack of an upgrader.

[2017-11-09 16:01] ewpatton commented on #996
It's unclear whether this is related to #990

[2017-11-09 16:35] ewpatton opened #997 "Add menu option to hide Blockly workspace chrome"
[From the forum](https://groups.google.com/d/msg/mitappinventortest/if8-jacz9bw/Mi1MlWhnBgAJ): It would be nice to not have the backpack, trash, and zoom controls in the way when working on larger projects. Add a context menu option to hide these features. These features can also be accessed using keystokes (platform-specific copy/paste, mouse wheel, delete key, etc.).