[2021-09-14 03:02] tabacojt opened #2560 "b4557d64c8938e60298e5376157365c0c98a6b72"
**Describe the bug**

**Affects**

- [ ] Designer
- [ ] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Debugging
- [ ] Other... (please describe)

**Expected behavior**

**Steps to reproduce**

[2021-09-14 09:12] peanutbutterandcrackers opened #2561 "Local-hosted rendezvous server issue"
I am trying to localhost appinventor. Dev and build server works. I've also followed the instructions in [appinventor/misc/rendezvous/README.md](https://github.com/mit-cml/appinventor-sources/tree/master/appinventor/misc/rendezvous#readme) to run the rendezvous server inside a docker container. I can even access it from the web-browser of my android device (the everything-is-working webpage). Howe

[2021-09-15 11:11] rashydos opened #2563 "BackgroundImage repeat (Tile Mode)"
Hello,

Could you please add propertie repeat for BackgroundImage ?

equivalent of :
 bitmapDrawable.setTileModeXY(Shader.TileMode.REPEAT, Shader.TileMode.REPEAT);

Thanks

[2021-09-15 14:44] ewpatton opened #2565 "Implement a FilePicker component using Storage Access Framework"
**Describe the desired feature**

Newer Android versions lock down file access. There is a Storage Access Framework that allows the user to pick a file from the file system and grant the app access to that one file (or directory). It would be good if we implemented a new FilePicker, similar to ImagePicker, that uses the Storage Access Framework to prompt users to pick files for creation/editing/de

[2021-09-16 07:57] simple125345 commented on #2565
https://github.com/google/modernstorage
https://github.com/anggrayudi/SimpleStorage
https://github.com/tom5079/DocumentFileX

these libraries can help but those are written in Kotlin
Maybe kotlin support needed

using these we can access SAF easily

[2021-09-16 14:52] vknow360 commented on #2565
I don't think so. Kotlin can be impossible **only** if you want to be dependent on those libraries. But according to my experience of last few weeks, it is quite easy to implement SAF with DocumentsContract, however it is complicated to understand.

[2021-09-16 15:40] ewpatton commented on #2565
The Storage Access Framework doesn't seem particularly hard to use to begin with. I'm not clear what these libraries will buy us except for a lot of additional dependencies that we will have to maintain backward compatibility for. In any event, we'd want to think about how to handle fallbacks for versions of Android prior to 5.0 or 4.4, which are when most of the components of SAF were introduced.

[2021-09-16 15:58] vknow360 commented on #2565
Yes, that's is the reason we should try to stick with official APIs and libraries.
Here is an aix completely based upon DocumentsContract:
https://drive.google.com/file/d/1xs88D-iuGbQg__q1ktxxR2hsH61aaQkW/view?usp=drivesdk

Working fine on Android 11.
Since I was unable to test it on older versions so I have had to postpone its release.

[2021-09-16 20:11] ewpatton commented on #2561
These are two separate servers. The rendezvous server only is responsible for helping to establish the initial connection (rendezvous) between the browser and the companion app. Very little data actually traverse the rendezvous server.

In WebRTC connection mode, the browser sends YAIL commands to the companion over the WebRTC data channel to tell it which server to use and which assets to downloa

[2021-09-16 20:12] ewpatton commented on #2561
Also note that since it sounds like you're running your own rendezvous server, you'll need to make sure that you set the various properties appropriately, such as those in YaVersion.java, so that both browser and phone know to contact the same rendezvous server.

[2021-09-16 20:13] ewpatton commented on #2563
This seems like a good starter project for a UROP or GSOC student.

[2021-09-16 20:13] ewpatton commented on #2560
Marking this as invalid and closing without more information.

[2021-09-16 20:13] #2560 closed

[2021-09-16 20:14] #2291 closed

[2021-09-16 20:14] #2366 closed

[2021-09-16 20:18] ewpatton commented on #2549
This sounds fairly reasonable, but given how different the code paths are for renaming assets vs components you may want to implement a new subclass of DialogBox specifically for renaming the assets. We can figure out how to reconcile them later if it really makes sense to do so.

[2021-09-16 20:19] ewpatton commented on #2533
I think extending the event with a separate parameter `cancelled` that is a boolean to indicate whether the Cancel button is pressed, regardless of the user's language, would be the best option.

[2021-09-17 03:28] peanutbutterandcrackers commented on #2561
1. That makes sense. My suspicion is, since the rendezvous server is running inside a docker container inside the VM in which the App Inventor server is running, perhaps the communication channel between the rendezvous-server-inside-the-container and the app-inventor-server-in-the-bare-VM hasn't opened up? I just want confirmation that following the instructions in the [appinventor/misc/rendezvous

[2021-09-17 04:00] peanutbutterandcrackers commented on #2561
P. S: The [Vagrantfile](https://github.com/mit-cml/appinventor-sources/blob/master/Vagrantfile) and two other ports besides `8888` that is being forwarded. What are `9876` and `9990` used for?
For me, I am directly accessing the VM and thus the port forwarding does not matter all that much.

[2021-09-18 02:43] peanutbutterandcrackers commented on #2561
Update: So I changed [this line](https://github.com/mit-cml/appinventor-sources/blob/ce385622ff1ab810df4f3e6bd0200a80574fc171/appinventor/components/src/com/google/appinventor/components/common/YaVersion.java#L1489) to `127.0.0.1` (as the rendezvous server running inside the docker container is accessible at the host's port 80), and then ran `ant` to recompile everything. And retried the whole thi

[2021-09-19 06:09] preetvadaliya commented on #2517
@halatmit, sir I got the problem.

the problem is basically with **paint.setStrokeWidth()** method, this method set line width in a pixel unit and when we performed do it on getter block then it will divide results by device density [see this](https://github.com/mit-cml/appinventor-sources/blob/ce385622ff1ab810df4f3e6bd0200a80574fc171/appinventor/components/src/com/google/appinventor/components/ru

[2021-09-20 10:49] yichong96 commented on #2549
Hi @ewpatton I would like to open a pr soon for the new feature. I tried to run `ant tests` and only 50+% of the test cases pass. Is this to be expected? Also, I am not sure how to create a URL of an instance running the new code. Could you help me with that as well ?

[2021-09-23 19:31] aiotech-pub opened #2571 "Server error: could not upload file. Please try again later! after uploading only 23 little files."
**Describe the bug**

**Affects**

- [X ] Designer
- [ ] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Debugging
- [ ] Other... (please describe)

**I think AI2 should manage more media/assets files without any problem expecially if the aia file is well below the 10MB limit.**

**Steps to reproduce**

[2021-09-30 15:00] ewpatton opened #2576 "Typeblocking fails for some blocks"
**Describe the bug**

[From the forum](https://community.appinventor.mit.edu/t/typeblocking-is-quite-buggy/42530?u=ewpatton): The any component blocks do not appear to work with typeblocking. The for each element in list block also does not appear.

**Affects**

- [ ] Designer
- [x] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Debugging
- [ ] Other... (please describe)

[2021-10-03 14:32] n7-16 opened #2579 "Inaccessible Link in the Documentation"
**Describe the bug:**
[From the community](https://community.appinventor.mit.edu/t/missing-link-in-the-app-inventor-documentation-not-a-bug/42753): An _"Additional Information"_ link on the firebaseDB documentation does not work, returning an HTTP 404 Error.

**Affects:**
- [ ]  Designer
- [ ]  Blocks editor
- [ ]  Companion
- [ ]  Compiled apps
- [ ]  Buildserver
- [ ]  Debugging
- [x]  Other: Do

[2021-10-04 13:17] Ln11211 commented on #2563
@ewpatton, I might want to work on this. Can you please tell me what are the pre-requisites to work on this issue.
Thank you...

[2021-10-04 13:37] ewpatton commented on #2563
@Ln11211 You should start by taking a look at the README and follow the instructions there to set up and build App Inventor locally. Once you've done that, take a look at [How to Add a Property to a Component](https://docs.google.com/document/d/1ukpZXcd0fIn1fV0cNp4J00wrfwwA1daswU1yY6dqqfs/pub), since you'll need to add this property. You'll want to look at the various classes that have background

[2021-10-04 15:48] Ln11211 commented on #2563
@ewpatton , wow this project is well documented, I might want to do this but, like you said I will first start with README

[2021-10-07 19:15] ewpatton opened #2582 "Add menu item to remove all orphaned blocks"
**Describe the desired feature**

[From the forum](https://community.appinventor.mit.edu/t/no-way-to-mass-delete-orphaned-blocks/43110?u=ewpatton): During experimentation, one may accumulate many disconnected blocks that are not top level blocks. It may be desirable to clean up (i.e., delete) any non-declaration block (i.e., those blocks that aren't global definitions, procedure definitions, event

[2021-10-08 19:59] preetvadaliya commented on #2576
@ewpatton Typeblocking for block `for each number from is also not working properly.

[2021-10-08 21:33] ewpatton opened #2585 "Add 3D visualization components"
**Describe the desired feature**

App Inventor does not really provide any capabilities for manipulating/rendering 3D models.

**Give an example of how this feature would be used**

With new extensions like Facemesh, it would be useful to provide tools for manipulating 3D models based on inputs provided by other components.

**Why doesn't the current App Inventor system address this use case?**

W

[2021-10-09 12:51] preetvadaliya commented on #2576
@ewpatton, sure I would like to work on this can you please assign it to me?

[2021-10-14 18:11] Trisystema commented on #2550
What can we do instead of using listviews until this issue is fixed?

[2021-10-26 20:05] SusanRatiLane opened #2594 "ListView right/center text justification"
**Describe the desired feature**

Requested from the community forum: Ability to right justify text in ListView entries.

The feature should also include the ability to center and explicitly left-justify.

[2021-10-26 20:27] SusanRatiLane opened #2595 "New ListView layout: image, main text, detail text stacked vertically"
**Describe the desired feature**

ListView should have a layout that is image, main text, detail text stacked vertically.

A layout where the image has nothing beside it allow the image to be scaled much larger. Most horizontal (swipe left/right) layouts make use of large pictures, e.g. music album covers or people's faces. ListView can be oriented horizontally, but that feature currently isn't ve

[2021-10-26 20:56] SusanRatiLane opened #2596 "Blocks Toolkit: Blocks Editor does not update when toolkit is changed"
**Describe the bug**

In some cases, changing the Blocks Toolkit property on Screen1 does not cause the visible Built-In Blocks in the Blocks Editor to update. When the page is reloaded, the Blocks Editor will update.

**Affects**

- [ ] Designer
- [X] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Debugging
- [ ] Other... (please describe)

**Expected behavior**

When t

[2021-10-27 20:29] SusanRatiLane opened #2597 "ListView separator line between items."
**Describe the bug**

See community thread: https://community.appinventor.mit.edu/t/listview-items-missing-visible-line-separator-between-items/44384

The old ListView had separator lines between elements at least some of the time. The current ListView does not. Separator lines between elements would be cleaner than what we currently have.

[2021-10-28 17:05] XomaDev opened #2598 "Rtext fails to compile"
I have added an Android library (.aar) for testing in the libs directory, but while running the `ant` command, a Java error is shown.

It expects to define an explicit constructor for the generated R.java file. I tried adjusting the command arguments in `AARLibraries` class, but that doesn't seem to work.

[code]

[2021-10-28 18:31] #2598 closed, assigned to nobody

[2021-10-30 07:42] preetvadaliya commented on #2594
@SusanRatiLane can I work on this issue?

[2021-10-30 09:33] preetvadaliya commented on #2597
We can use [DividerItemDecoration](https://developer.android.com/reference/androidx/recyclerview/widget/DividerItemDecoration) to set item separator line.

[2021-11-01 14:36] SusanRatiLane commented on #2597
This seems like a good approach.

[2021-11-01 14:37] SusanRatiLane commented on #2594
Definitely.

[2021-11-02 07:04] yichong96 commented on #2549
Hi @ewpatton any updates on whether the feature can be merged with master ?

[2021-11-06 03:49] BuilderZou opened #2603 "Ant build failed org.json.JSONException: Expected a ',' or '}' at 3422 [character 113 line 74]"
ant BUILD FAILED
D:\CODE\GIT\appinventor-sources\appinventor\build.xml:16: The following error occurred while executing this line:
D:\CODE\GIT\appinventor-sources\appinventor\build-common.xml:299: The following error occurred while executing this line:
D:\CODE\GIT\appinventor-sources\appinventor\blocklyeditor\build.xml:95: org.json.JSONException: Expected a ',' or '}' at 3422 [character 113 line 7

[2021-11-06 03:53] josmas commented on #2603
Which version of Java are you using? You'll need Java 8 to compile successfully.

[2021-11-06 03:59] ewpatton commented on #2603
Based on the error message, it looks like you've modified at least one of the language files in blocklyditor/src/msg/ai_blockly. These files need to be valid JSON, otherwise they cannot be combined to produce the final message files. The error indicates that this is no longer the case.

[2021-11-07 15:27] I-Cat opened #2604 "http://phantomjs.org/"
@ewpatton

In your readme.md It ponits to http://phantomjs.org/ but the information says phantomjs is suspended.

[2021-11-07 15:32] preetvadaliya commented on #2604
Because of lack of contribution phantomjs is suspended but that doesn't mean that we can't use phantomjs anymore.

[2021-11-10 20:54] #2544 closed

[2021-11-10 20:54] #2550 closed

[2021-11-10 20:55] ewpatton commented on #2604
We continue to use phantomjs for running some of our unit tests. Eventually I'd like to migrate to another option, but we don't have a timeline to do so. In the meantime you can still use phantomjs and our Jenkins CI will continue to use it.

[2021-11-10 20:55] #2604 closed

[2021-11-10 20:58] #2603 closed

[2021-11-16 16:25] #2517 closed

[2021-11-16 16:25] #2540 closed

[2021-11-26 05:53] preetvadaliya opened #2612 "ListView FilterBar text color and background color not changing"
**Describe the bug**
From the community [post 1](https://community.appinventor.mit.edu/t/listview-search-bar-text-color-not-changing/46368), [post 2](https://community.appinventor.mit.edu/t/nb188-listview-filter-bar-issue/46035) the text color and background color are not changing according to device theme also there is no property for changing the text color and the background color of the filter

[2021-11-26 07:39] preetvadaliya commented on #2612
ListView is one of the most important of all visible components, and it needs to add a few more properties to increase the user experience. I've created a list of new properties that we can add to enhance the user experience, here is the list...

1. BackGroundColor property for FilterBar
2. TextColor property for FilterBar
3. HintText property for FilterBar (user defined HintText for FilterBar)
4.

[2021-11-26 12:50] halatmit commented on #2612
Is there a design doc for this?  We need to keep app inventor accessible to
beginners.

On Fri, Nov 26, 2021, 2:41 AM Preet P. Vadaliya ***@***.***>
wrote:

[2021-11-26 12:58] preetvadaliya commented on #2612
@halatmit sir, no there is not any design doc for this because in the morning I found this issue after then I was looking at the code of ListView and I realize that these properties also need to add to ListView.

[2021-11-26 13:27] halatmit commented on #2612
We need to make sure that this long list of properties does not become
overwhelming.  It's worth thinking about the UI here.

On Fri, Nov 26, 2021, 7:58 AM Preet P. Vadaliya ***@***.***>
wrote:

[2021-11-26 16:25] preetvadaliya commented on #2612
@halatmit sir, as your suggestion I have created this small design doc here is the link

https://docs.google.com/document/d/1x5SD1uo5gVJ92Q6x-wuFR4Q9UQ6Sugzo1hnjKWSQqrE/edit?usp=sharing

[2021-11-26 20:11] halatmit commented on #2612
Thanks for getting started on this,   It illustrates the result of
selecting different options.   But the design also
needs to indicate how users select these.   Are you planning a separate
property block for each of these with its own setter and getter?
That might be overwhelming for beginning users.  is there another way to do
this?

== Hal

Hal Abelson
***@***.***
Prof. of Comp. Sci. and Eng.
M

[2021-11-26 20:31] preetvadaliya commented on #2612
yes, but some of them are only designer property like we have FontTypeface is designer only in Label and TextBox components.

I think there is no other way to do this but instead of making designer properties, we can simply add them as block properties so if the user wants to change any of them then they can change or update by calling the setter blocks.

[2021-11-26 20:37] halatmit commented on #2612
It would be bad to have the number of blocks keep increasing and
increasing.   That would make it overwhelming for beginners.
We need to come up with a more usable design. See what you can suggest.

== Hal

Hal Abelson
***@***.***
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Fri, Nov 26, 2021 at 3:32 PM Preet P. Vadaliya ***@***.***>
wrote:

[2021-11-26 21:05] preetvadaliya commented on #2612
At this moment I can't able to find any other usable design, but I think ListView is a collection of components like there are TextBox for FilterBar, two Labels(textviews) for main text and detail text, so indirectly we can say that the ListView is 4 or 5 visible components so definitely it have more properties compare to others.

[2021-11-28 10:56] 06022000 commented on #2612
i can do it but i am not getting the file from where i should edit the code can you help me with that if possible

[2021-11-28 11:00] preetvadaliya commented on #2612
@06022000 I am already working on this but there is also some improvement need in filtering.

Searching operation become to slow when there is thousands of item in list.

[2021-11-29 16:25] SusanRatiLane commented on #2612
@preetvadaliya I don't think we want individual properties for the filter bar at this time. We do want the filter bar to visible in all themes, which is apparently an issue for one theme.

Filter performance is a much higher priority.

[2021-11-29 16:29] halatmit commented on #2612
Susan,

Let's chat about this.

== Hal

Hal Abelson
***@***.***
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Mon, Nov 29, 2021 at 11:25 AM Susan Rati Lane ***@***.***>
wrote:

[2021-11-29 16:37] preetvadaliya commented on #2612
note that the back-ground color of the filter bar is also not change when we change the back-ground color of the list view and it looks wired ugly.

[2021-11-29 16:53] SusanRatiLane commented on #2612
If the filter bar was visible in all themes in the previous single-text version of ListView, my first priority would be to make the behavior of the filter bar match that version. Anything beyond that we consider an enhancement. There are some good enhancement ideas here, but they need to be balanced against making the component more complicated and confusing. I'll discuss with Hal and the rest of

[2021-12-15 20:10] jisqyv opened #2619 "Attempts to upload an app with an external component should not generate 500 errors (but a friendly error)"
The Gallery currently prohibits the uploading of Apps with extensions. Attempting to upload an App with an extension results in a 500 error.

- [X] Designer
- [ ] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Debugging
- [ ] Other... (please describe)

A friendly error message should be given instead

Attempt to upload a project to the Gallery that includes an extension

[2021-12-16 20:06] SusanRatiLane opened #2620 "Convert internationalization of blocks to interpolated strings"
After most of our custom blocks were in production, Blockly rolled out a change to support internationalization with interpolated strings. This allowed a block with several inputs to be translated as a single string, and the inputs could be rearranged to suit the grammar of the language.

Dictionaries is translated in this way, so it can be a model for future work.

If the strings for blocks are c

[2021-12-17 21:00] arduino-monkey commented on #2619
Hey! I would like to work on this issue, unable to locate what's wrong, can you give a bit more detail of the problem? Thanks

Is it this error message being displayed in the console?

![image](https://user-images.githubusercontent.com/67004663/146601577-ac6d2ac3-ae0b-41a2-8bbd-036d01d051a3.png)

CC: @jisqyv

[2021-12-19 00:58] jisqyv commented on #2619
@arduino-monkey I am already working on an appropriate modification.

[2021-12-27 11:30] sanyud24 commented on #1517
Hi  @SusanRatiLane , Can I work on this issue ?

[2022-01-02 08:07] semicolon3253 opened #2624 "Problems in which descriptions of component blocks are not translated."
**Describe the bug**

![image](https://user-images.githubusercontent.com/47348424/147868344-f15ee8bb-af73-4161-ac45-eee7ec3bb3cf.png)
As shown in the picture above, the description of the component's events, procedures, and property blocks is displayed in English regardless of the set language.
This appears only in blocks of components(buttons, etc.) and screen, and does not appear in built-in blo

[2022-01-03 11:51] semicolon3253 commented on #2624
I found the reason for the problem.
Among the keys in the translation string, the key of the string related to 'description' seems to have changed from before.
The keys of the string related to the description of the event, method, and property were added with 'EventDescriptions', 'MethodDescriptions', and 'PropertyDescriptions' after the key, respectively(Example, Timer**EventDescriptions**).
How

[2022-01-03 19:01] SusanRatiLane commented on #1517
yes please. we really appreciate documentation updates.

[2022-01-05 15:45] sanyud24 commented on #1517
Hi @SusanRatiLane . I tried looking for the file I have to change, but I'm unable to find it. May I get some help over it .

[2022-01-08 05:30] ewpatton opened #2625 "Asset blocks cannot be dragged into the workspace (sometimes)"
**Describe the bug**

[From the forum](https://community.appinventor.mit.edu/t/image-picker-image-access-limitations/48392/23?u=ewpatton): In some cases it is not possible to drag the helper blocks from the block drawer into the workspace.

**Affects**

- [ ] Designer
- [x] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Debugging
- [ ] Other... (please describe)

**Expec

[2022-01-11 14:50] MDAmTrailer opened #2628 "Mit app inventor with adcolony ads"
![Screenshot_20220105-141736](https://user-images.githubusercontent.com/77635809/148965250-96c4d625-c30f-4326-a1dd-ae36569cae04.png)
![Screenshot_20220105-141730](https://user-images.githubusercontent.com/77635809/148965284-a254a377-c9a8-4b51-8449-dacef3a5e7d5.png)
![Screenshot_20220105-141723](https://user-images.githubusercontent.com/77635809/148965326-87fa4766-b919-456f-b830-f58fb7ff2ec8.png)

[2022-01-11 14:54] oseamiya commented on #2628
I guess you should ask them on AI2 community : https://community.appinventor.mit.edu/

[2022-01-11 15:01] MDAmTrailer commented on #2628
thank

On Tue, Jan 11, 2022, 4:54 PM Oseamiya ***@***.***> wrote:

[2022-01-11 15:05] SusanRatiLane commented on #2628
@MDAmTrailer I'm afraid we don't support ads. You can get help with requesting permissions on our forum. That is https://community.appinventor.mit.edu/ as @oseamiya  already mentioned.

[2022-01-11 15:05] #2628 closed

[2022-01-19 09:24] puranjayK commented on #2563
Hi @ewpatton , I am a new to this organization and would like to contribute to it. Can I take this issue as a good first issue and try to solve it?

[2022-01-21 07:27] johnthomas22 commented on #2579
Page

[(http://ai2.appinventor.mit.edu/reference/blocks/lists.html)]

contains a link to:

[http://ai2.appinventor.mit.edu/reference/concepts/lists.html]

Which results in:

Error: Not Found

[2022-01-21 11:40] shagungarg0 commented on #2563
Sir , I am a complete beginner here. I knew JAVA, HTML , CSS and JAVASCRIPT. .Can you guide me please how to start as i am aiming GSOC 2022...

[2022-01-22 05:41] GordonL0049 opened #2631 "Bug in MIT App Inventor Documentation"
**Describe the bug**

There is a bug in the MIT App Inventor documentation of some blocks are old and are not updated. For example, in the Math drawer, there is currently a 'square root' block, however, in the documentation, it is 'sqrt'. Advanced users can understand, but it might confuse new users.

**Affects**

- [ ] Documentation

**Expected behavior**

I expected the documentatin to match the

[2022-01-24 08:03] devarsh-mavani-19 commented on #2631
I want to work on this please assign me this task

[2022-01-24 08:24] devarsh-mavani-19 commented on #2631
@GordonL0049 I have fixed 2 small documenation bugs can you please check the pull request
https://github.com/mit-cml/appinventor-sources/pull/2632

[2022-01-24 08:51] devarsh-mavani-19 commented on #2631
I have solved this issues @GordonL0049 can you please approve this PR https://github.com/mit-cml/appinventor-sources/pull/2633

[2022-01-24 09:09] devarsh-mavani-19 commented on #2563
can you guide me where(I mean which package) can I find classes for creating a new property?

[2022-01-25 15:31] ewpatton opened #2635 "Non-ascii characters in media names cause issues"
**Describe the bug**

[From the forum](https://community.appinventor.mit.edu/t/media-asset-file-display-issue-when-using-diacritical-marks-bug/50102?u=ewpatton): Importing media files with non-ASCII characters in the file name causes a number of issues because in some cases the characters are URL-encoded and in other cases are not.

**Affects**

- [x] Designer
- [ ] Blocks editor
- [ ] Companion
-

[2022-01-26 22:08] devarsh-mavani-19 commented on #2563
i am working on it can you assign this issue to me?

[2022-01-31 20:25] devarsh-mavani-19 commented on #2582
Hi @ewpatton  i would like to work on this feature. can i get some guidance regarding same? I tried exploring blockly folder but couldn't find anything that can help.

[2022-02-02 04:08] preetvadaliya commented on #2585
@ewpatton I want to work on this issue.

[2022-02-02 14:11] halatmit commented on #2585
This is a new capability for App Inventor.  Whoever works on this should create not only the components, but also a few apps that demonstrate how kids and teachers might use it.   Also, look at other methods for doing this before creating something ad hoc.   For example, what if anything does Google MLKit do in Facemesh (which has versions both for Android and iOS)?

[2022-02-02 14:20] preetvadaliya commented on #2585
@halatmit sir,

I discussed with @ewpatton when I was looking for an Internship with MIT App Inventor, at that time he suggested me to read some thesis and also suggest me to implement it using OpenGL.

then I started exploring OpenGL and I found that it will not only help to draw and render 3D components also in the future we can implement Augmented Reality using [AR Core](https://developers.goog

[2022-02-02 14:25] ewpatton commented on #2585
@preetvadaliya You should probably start with a design document for what components you would add, what blocks they have, and how they work together.

[2022-02-03 01:15] halatmit commented on #2585
@preetvadaliya
AR Core sounds like a good thing to build on, since it supports both Android and iOS.
I agree with Evan that this should start with a design document.
Also, start with just a piece of AR Core and use it to implement an app that might be made by a kid.
That's better than starting by working to implement the entire platform.

PS: One drawback of AR Core is that it apparently can't run

[2022-02-03 04:27] preetvadaliya commented on #2585
@halatmit I started writing disign document for this, I already read the Nichole Clarke's thesis Evan sir suggested me this too.

This one thing can open lots of door for development in ML and AI because it is compatible with Tensorflow Lite, AI Core, ML kit.

[2022-02-03 16:03] Yash621 commented on #2635
@ewpatton can i work on this ?

[2022-02-03 19:58] Yash621 commented on #2620
@SusanRatiLane can i work on this ?

[2022-02-03 19:59] Yash621 commented on #2595
@SusanRatiLane can i work on this ?

[2022-02-06 18:23] devarsh-mavani-19 opened #2637 "Circular Progress Bar Component"
**Describe the desired feature**
The Circular Progress Bar Component can be useful to indicate loading.

The circular progress bar or loading indicator should have the functionality to change its colour and visibility.

**Give an example of how this feature would be used**
This feature can be very much useful as a loading indicator

This feature can be used by students in their app wherever they a

[2022-02-06 18:23] devarsh-mavani-19 commented on #2637
@ewpatton can i work on this issue?

[2022-02-07 06:35] devarsh-mavani-19 commented on #2595
@SusanRatiLane i have attached an image below. are you asking for that type of layout?
![Screenshot from 2022-02-07 12-03-53](https://user-images.githubusercontent.com/55136047/152737023-445c021c-e6b7-4398-a8cd-24e3ce440a03.png)

[2022-02-07 06:42] devarsh-mavani-19 commented on #2595
@SusanRatiLane are you asking for this type of layout?
![Screenshot from 2022-02-07 12-03-53](https://user-images.githubusercontent.com/55136047/152737776-c483afaa-22df-433d-84d6-49c19f2eac37.png)

[2022-02-07 19:09] ewpatton commented on #2637
@devarsh-mavani-19 Why is the ShowProgressDialog and DismissProgressDialog in the Notifier component not sufficient for this task?

[2022-02-08 06:02] devarsh-mavani-19 commented on #2637
@ewpatton In notifier component it shows extra space in dialog when text is empty. means it is not possible to show only a loading sign. also currently not possible to change color of notifier loading part. Nothing else major difference
![download](https://user-images.githubusercontent.com/55136047/152927633-5e6bb0c2-9c00-4861-b44c-42655631469d.png)

[2022-02-08 06:07] preetvadaliya commented on #2637
Yes, I also agree with @ewpatton, sir.

[2022-02-08 06:49] devarsh-mavani-19 commented on #2595
@SusanRatiLane ohk got it. if you haven't already started on this should i work on it?

[2022-02-08 07:29] Yash621 commented on #2595
@devarsh-mavani-19 lets work on it together ?

[2022-02-08 15:55] SusanRatiLane commented on #2595
I think it's probably too much for you both to try to coordinate working on it together. Since @Yash621 asked first, I'm assigning to him.

You're thinking in good directions, @devarsh-mavani-19 . I encourage you to look for another item.

[2022-02-08 18:43] Yash621 commented on #2595
@SusanRatiLane thank you ,I will raise a PR for this shortly.

[2022-02-08 19:14] pavi2410 commented on #2637
Google deprecated ProgressDialog class long ago in order to prevent blocking UI. The reason stated by them is:

ProgressDialog is a modal dialog, which prevents the user from interacting with the app. Instead of using this class, you should use a progress indicator like [ProgressBar](https://developer.android.com/reference/android/widget/ProgressBar), which can be embedded in your app's UI. Altern

[2022-02-09 05:04] devarsh-mavani-19 commented on #2595
@SusanRatiLane no worries I will work on something else thanks :)

[2022-02-09 16:24] Aarshhh commented on #2534
@PeterMathijssen I want to work on this issue.

[2022-02-09 16:26] Aarshhh commented on #2453
@ewpatton I would like to work on this issue.

[2022-02-09 18:25] Yash621 opened #2639 "Improvements for MIT app inventor website responsiveness and UI design"
I have been observing MIT app inventor website, and I found many issues related to responsiveness and UI design of the website.

Can we work on improving it ?

[2022-02-09 18:28] preetvadaliya commented on #2639
@Yash621 which website are you talking about? Landing page of the MIT App Inventor or Designer part of App Inventor (Builder UI)

[2022-02-09 18:38] Yash621 commented on #2639
@preetvadaliya landing page

[2022-02-09 18:53] SusanRatiLane commented on #2639
We're currently reviewing the landing page design. If you report your concerns, I can take them into account.

[2022-02-09 18:59] ewpatton commented on #2453
@Aarshhh This issue was resolved by #2475, but wasn't closed when the PR was merged. I'll close it now.

[2022-02-09 18:59] #2453 closed

[2022-02-09 19:04] preetvadaliya commented on #2639
@SusanRatiLane if I don't forget then there was a small user feedback post created by MIT student in community (I also talked with her on Google meet regarding this and we discussed about App Inventor gallery view) but i didn't find the link.

@Yash621 please try to search in community I hope you will find it.

[2022-02-09 19:07] Yash621 commented on #2639
I found some responsiveness issues on the landing page,like when i resize the browser some the `divs` and `text` are overlapping  .also I personally feel that we can work on improving the UI design more.

[2022-02-09 19:09] SusanRatiLane commented on #2639
We have a student doing user experience analysis right now. The post you're referring to was a survey that is now closed. I'm not sure if the post is still on the forum or not.

The forum is still a good place to post feedback about the landing page, however.

@Yash621 OK, I think those are concerns we're currently working on. Thanks.

[2022-02-09 19:10] Yash621 commented on #2639
@SusanRatiLane that's great ! thanks :)

[2022-02-09 19:12] Yash621 commented on #2639
@preetvadaliya I think @SusanRatiLane is right ,I also didn't found any such post on the forum.

[2022-02-10 16:43] #2639 closed

[2022-02-11 16:25] preetvadaliya commented on #2595
Probably you need to look at `ListView.java` `ListAdapterWithRecyclerView.java` which are in `component/` folder under `com.google.appinventor.components.runtime` package.

[2022-02-12 16:55] preetvadaliya commented on #2595
@Yash621 I have one question for you, are you familiar with App Inventor source? Because first you asked in which files you need to look and now you are asking about functionality.

I suggest you to explore more in App Inventor source.

[2022-02-15 12:22] AyProductions opened #2640 "Need a TExtBox TextAlignment block"
**Describe the desired feature**

A text alignment block is required for aligning text with blocks in some cases

**Give an example of how this feature would be used**

Suppose if someone is making a word processor, they need to set the text alignment using blocks in some cases, but there is no such block in the 'Blocks Editor'

**Why doesn't the current App Inventor system address this use case?*

[2022-02-15 12:26] preetvadaliya commented on #2640
@AyProductions good idea, and Text Justification can also be helpful.

[2022-02-15 12:27] preetvadaliya commented on #2640
@ewpatton I would like to work on this.

[2022-02-15 12:28] AyProductions commented on #2640
Oh and also FontBold and Italic and Underline please :)

[2022-02-15 13:20] preetvadaliya commented on #2640
@AyProductions I think **TextAlignment** is not that much important while you are taking input from users.

[2022-02-15 16:01] AyProductions commented on #2640
But as i am making a word processor so I went on with @TIMAI2's solution in the app inventor community :wink:

[2022-02-20 15:01] halatmit opened #2641 "Add languages to Yandex Translate"
**Describe the desired feature**

**Give an example of how this feature would be used**

**Why doesn't the current App Inventor system address this use case?**

**Why is this feature beneficial to App Inventor's educational mission?**

[2022-02-21 17:34] daki7711 commented on #2641
I found the part of the code and pinpoint where the Yandex Translate is located in the interface but I don't really know how to use this, simply I need help on how to debug this. Can someone send me an aia file or guide me a simple app that uses this so I can debug my code? @ewpatton Thanks

[2022-02-21 18:41] halatmit commented on #2641
I think a simple thing to do is to provide a preprocessing step in
YandexTranslate.java at the call to RequestTranslation (line 116)
that looks at the supplied
languageToTranslate to and converts it from , e.g. "es", to "Spanish",
using a translation table, provided the
supplied argument is in the table.  Otherwise it should leave it alone.

Please ping me or phone me if you have a question.

617-

[2022-02-21 19:05] preetvadaliya commented on #2641
@halatmit sir, what do you think about helper blocks for this?

[2022-02-21 19:15] halatmit commented on #2641
Here's a simple aia file to demonstrate the use a Yandex translate.  If
your change works, you should be able to input, say, german, as the
language.

https://drive.google.com/file/d/1HR0j2XsjHe3QzSlvr_f4xC6iaJmuNTUa/view?usp=sharing

== Hal

Hal Abelson
***@***.***
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Mon, Feb 21, 2022 at 12:34 PM David Young-Jae Kim <
***@***.*

[2022-02-21 19:32] preetvadaliya commented on #2641
@halatmit,

Currently, we are using this kind of user-defined input for translating the text, here is an example of this...

<br>
<div align = center>
<img width="509" alt="blocks" src="https://user-images.githubusercontent.com/80121827/155014718-1909aa63-73c7-431d-91be-05f210a9e4b6.png">
</div>
<br>

there are lots of possibilities for mistakes and users need to find the corresponding short form

[2022-02-21 20:42] halatmit commented on #2641
That's a nice idea.  One issue is that there are about 80 languages, so a
simple dropdown would be overwhelming.
Any ideas?

== Hal

Hal Abelson
***@***.***
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Mon, Feb 21, 2022 at 2:33 PM Preet P. Vadaliya ***@***.***>
wrote:

[2022-02-21 21:47] ewpatton commented on #2641
David, take a look at the block Liz added for Alexa. We can probably make use of that by converting it into a helper block.

 Separately, it's probably useful to see if there is a Blockly field for filterable dropdowns to address the usability of the large list of options. Coordinate with Li on that.

Sent from my iPhone

[2022-02-21 22:30] jisqyv opened #2642 "Reading images out of CloudDB is broken as of nb188"
**Describe the bug**

As the title says, reading images is broken. Attempting to do so results in a CloudDB Error.

**Affects**

- [ ] Designer
- [ ] Blocks editor
- [x] Companion
- [x] Compiled apps
- [ ] Buildserver
- [ ] Debugging
- [ ] Other... (please describe)

**Expected behavior**

Images should be able to be read from CloudDB

**Steps to reproduce**

Attempt to read an image out of CloudD

[2022-02-21 22:31] jisqyv commented on #2642
Note: A Pull Request is forthcoming to fix this

[2022-02-22 08:48] preetvadaliya commented on #2641
As I know the older version blockly does not have this type of filter bar for the dropdown list, it's probably useful to see if there is something for this in new Blockly plugins.

since we are updating our blockly source then we can consider adding a filter bar to the new custom dropdown field.

[2022-02-22 11:51] devarsh-mavani-19 commented on #2595
@Yash621 you haven't posted in a while. So just in case you are not working on it, I think I can solve this issue.

[2022-02-24 05:12] GordonL0049 opened #2645 "ShowZoom Block In Map Documentation Needs Update"
https://github.com/mit-cml/appinventor-sources/blob/d98db0be76dd3e86cae2fb9fed7f99a867028b71/appinventor/docs/html/reference/components/maps.html#L513

I find that the ShowZoom block in the documentation is exactly the same as ShowUser, the descriptions are the same. I suggest to change the description for ShowZoom  to be:

`Specifies whether to show zoom controls or not.`

[2022-02-24 05:15] devarsh-mavani-19 commented on #2645
If no one had yet done it I wold like to change it.

[2022-02-25 21:42] #2645 closed

[2022-03-01 11:53] AyProductions opened #2648 "Some projects can contain spaces..."
**Describe the bug**

This bug is always not triggered actually. When you type a project with spaces. App Inventor turns theme into underscore. But in some cases its not

![bug](https://files.catbox.moe/xb68o5.png)

**Affects**

- [ ] Designer
- [ ] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Debugging
- [x] Other

**Expected behavior**

We expect that no spaces shall

[2022-03-01 12:05] preetvadaliya commented on #2648
In which case or cases it is not working?

[2022-03-01 12:11] PeterMathijssen commented on #2648
Gordon_Lu explained in this topic when it happens.

https://community.appinventor.mit.edu/t/interesting-app-inventor-project-names/52539?u=peter

On Tue, 1 Mar 2022, 13:05 Preet P. Vadaliya, ***@***.***>
wrote:

[2022-03-01 12:15] AyProductions commented on #2648
@PeterMathijssen that is why I posted this report so it never happens again

@preetvadaliya follow that topic https://community.appinventor.mit.edu/t/interesting-app-inventor-project-names/52539?u=ayproductions

[2022-03-01 12:16] AyProductions commented on #2648
Will this be fixed??

[2022-03-01 12:30] ewpatton commented on #2648
Hmm. I thought I had already filed an issue on this but can't seem to find it. If someone wants to work on this, please go ahead.

[2022-03-02 09:39] AyProductions opened #2649 "A tab component (User Interface) would be implemented"
**Describe the desired feature**

We need a tab component like this, so we do not have to use any extension:
![image](https://user-images.githubusercontent.com/76834319/156335059-717d1b48-00e2-4571-9f8b-0bf34e043e77.png)

**Give an example of how this feature would be used**

The user can use it, just like a virtual screen without any screen creation issue

**Why doesn't the current App Inventor s

[2022-03-02 09:44] #2640 closed

[2022-03-02 16:28] devarsh-mavani-19 commented on #2648
I would like to work on this. Thanks : )

[2022-03-02 16:48] devarsh-mavani-19 commented on #2648
@ewpatton  I was going through the code and found that gallery is accessible at localhost:9001. I tried opening it but doesn't work. I think i need to start some server to setup gallery locally. Can you point me at doc where i can find how to setup gallery locally? Thanks

[2022-03-04 09:21] #2649 closed

[2022-03-05 05:15] AyProductions opened #2652 "The designer should show a friendly message"
**Describe the desired feature**

The designer isn't accurate to the real app design. So it shall show a message below the designer

**Give an example of how this feature would be used**

It will let the user know to not trust the designer always. As it is not accurate to real app

**Why doesn't the current App Inventor system address this use case?**

Required only for the designer

**Why is this

[2022-03-05 09:31] #2652 closed

[2022-03-08 17:51] devarsh-mavani-19 commented on #2526
@ewpatton I would like to work on this issue. Thanks

[2022-03-09 12:07] m93a opened #2653 "Procedure that does things and *then* returns?"
Google Blockly has these two kinds of blocks:
![image](https://user-images.githubusercontent.com/1671665/157436484-cb9a1919-5c36-4b39-a9a4-6c5081b01f3c.png)

They allow me to *first* do some code and *then* return a value. This is great for eg. finding things in lists. However, in AppInventor, there are only:
![image](https://user-images.githubusercontent.com/1671665/157436670-85fc9fd0-f0f6-4ca8-8

[2022-03-09 12:29] m93a commented on #2653
Oh, I completely missed the do-result block!
![image](https://user-images.githubusercontent.com/1671665/157441993-4c6f4041-7692-4239-a3aa-a8d6b8a28f57.png)

Disregard my last post, then!

[2022-03-09 12:29] #2653 closed

[2022-03-09 12:32] preetvadaliya commented on #2653
<img width="846" alt="blocks(1)" src="https://user-images.githubusercontent.com/80121827/157442347-99a49dca-5b7f-48e4-97a7-163cd47106ac.png">

[2022-03-14 10:12] AyProductions opened #2657 "Creating extensions using Kotlin would be greatly appreciated"
**Describe the desired feature**

We would like to create extensions using Kotlin. App Inventor can only handle Java extensions so we want support for Kotlin extensions also

**Give an example of how this feature would be used**

We would like to create extensions using Kotlin...

**Why doesn't the current App Inventor system address this use case?**

Not everyone knows Java, but are good at Kotli

[2022-03-14 10:31] oseamiya commented on #2657
https://github.com/mit-cml/appinventor-sources/pull/2323

[2022-03-14 10:32] oseamiya commented on #2657
See this PR by Shreyash,
https://github.com/mit-cml/appinventor-sources/pull/2323

[2022-03-14 16:51] #2657 closed

[2022-03-15 16:02] stezelMIT opened #2658 "Clock Timer not firing in Samsung SM-T500 series"
**Describe the bug**

If you study the attached AIA file with an Samsung SM-T500 series (which is what we recommended to Hong Kong and Sure Start) you will notice that the clock timer is not firing regularly as it should.  Interestingly the same project in iPhone seems to be working (aside from layout issues)
[TimerTest.aia.zip](https://github.com/mit-cml/appinventor-sources/files/8255060/TimerTes

[2022-03-15 16:06] stezelMIT opened #2659 "Sound recorder is not working on some tablets like Hua Wei Mate20"
**Describe the bug**

One of our Master Trainers is having sound recording issues with her Android device when doing the My Piano tutorial.

<img width="563" alt="Screen Shot 2022-03-15 at 12 07 04 PM" src="https://user-images.githubusercontent.com/44708504/158421109-40f9717b-b177-47f2-b019-f182836971cd.png">

The AIA file is here:
https://drive.google.com/file/d/1dBvH6f0ZK6thtWkiwTRDOIWEWljhxpBh/

[2022-03-18 13:59] ewpatton opened #2660 "Typeblocking "1" should prioritize number 1"
**Describe the bug**

[From the forum](https://community.appinventor.mit.edu/t/typeblocking-doesnt-always-produce-a-block/51475?u=ewpatton): Entering 1 in the typeblocking window includes the number 1 as the last entry rather than the first. The results should probably be sorted most-least specific but it seems to be opposite. It's much more likely for a program to contain the number 1 rather than

[2022-03-18 14:05] devarsh-mavani-19 commented on #2660
@ewpatton  I would like to work on this.

[2022-03-20 09:48] preetvadaliya commented on #2658
@stezelMIT, the same issue I have seen on Samsung community. here, I am attaching the link of the post please check this and follow the steps mention there...

1. https://eu.community.samsung.com/t5/galaxy-s9-series/timer-issues-in-clock/td-p/1303118
2. https://eu.community.samsung.com/t5/galaxy-s21-series/google-clock-app-no-sound-on-completion-of-timer/td-p/4397258

[2022-03-25 07:23] #2648 closed

[2022-03-25 07:29] Enderman8843 opened #2663 "Material UI 3 intergration"
**Material UI 3 intergration **

Material UI 3 intergration would help user to chnage Color accent according to user's preference and as devloper our User-interface would be more aesthetic and proper

Please Check this link for more information : https://m3.material.io/

**Instead of legacy kind of design we can use material UI 3**

It can be done in appinventor using some tweaks but if mit offici

[2022-03-26 06:58] #2663 closed

[2022-03-26 19:34] jisqyv opened #2665 "Add Instructions on Companion home screen"
Too many people download the app from the Google Play Store (and probably from the Apple App Store) without any understanding and then give us poor reviews when they do not know what the app is for.

This issue is to add some wording like (From Hal): To create appinventor apps, visit [ai2.appinventor.mit.edu](http://ai2.appinventor.mit.edu/) in your browser.   Use this companion app to install you

[2022-03-26 19:34] jisqyv commented on #2665
@halatmit I'm hacking on the Companion at the moment (new legacy mode) so I'll add this.

[2022-03-31 19:35] ewpatton opened #2666 "FeatureFromDescription does not work with dictionaries"
**Describe the bug**

FeatureFromDescription in the Map component assumes the data are constructed using associative lists built from YailList (Map predates the addition of dictionaries). If you hand FeatureFromDescription JSON decoded using the dictionary format, it fails to be processed correctly within GeoJSONUtil since that code attempts to cast YailDictionary to YailList, which results in a C

[2022-04-03 09:18] fsyzty opened #2667 "Connect -->USB AI2 Companion Can't preview, only white screen"
AI2 Companion 2.62u
v185a-169-g65e926ce

Uncaught TypeError: Cannot read properties of undefined (reading 'processRetvals')
    at XMLHttpRequest.conn.onreadystatechange (ode-0.js:325026:21)

Uncaught TypeError: Cannot read properties of undefined (reading 'processRetvals')
    at XMLHttpRequest.rxhr.onreadystatechange (ode-0.js:325065:46)

[2022-04-09 00:18] siyaoL1 opened #2669 "Unable to copy and paste component in TableArrangement"
**Describe the bug**

Copying and pasting a component in TableArrangement using the keyboard shortcuts(ctrl+c, ctrl+v) would cause an error in the Blocks editor.

**Affects**
As it's common for the content in a table to be similar, this bug affects user's ability to duplicate components in TableArrangement. Users would have to manually create copies of each component in the TableArrangement.

- [x

[2022-04-12 03:52] GordonL0049 opened #2671 "Scrollbar Not Present In VerticalScrollArrangement"
**Describe the bug**

According to the documentation, a scroll arrangement is defined as a "scrollable arrangement". However, when previewing in the Viewer, I do not see a proper scrollbar present in a vertical scroll arrangement.

**Affects**

This increases the inaccuracy of previewing the Designer, and may mislead beginners in app developing.

- [X] Designer
- [ ] Blocks editor
- [ ] Companion

[2022-04-12 12:26] GordonL0049 opened #2672 "Do It For Empty Space Block Returns Nothing"
**Describe the bug**

If you Do It a text block with an empty space, the Do It result will return nothing. It does not return a string, nor does it return anything.

![image](https://user-images.githubusercontent.com/88015331/162962106-77ace3d0-10d5-4942-afb4-c88716cac718.png)

**Affects**

- [ ] Designer
- [X] Blocks editor
- [X] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [X] Debugging
- [

[2022-04-13 13:48] halatmit commented on #2672
When I try this, I get

Do It Result: ""
----

Which seems correct.

Do you not get the  "" after Do It Result?

[2022-04-14 04:22] GordonL0049 commented on #2672
Nah, I get nothing after the Do It Result.

[2022-04-14 04:53] preetvadaliya commented on #2672
@GordonL0049 It is working correctly. I don't know why you didn't get `""` after Do It Result.

[2022-04-14 04:55] preetvadaliya commented on #2669
@siyaoL1 this looks like #2479

[2022-04-14 04:56] GordonL0049 commented on #2672
Woops, I figured it out. I used the companion version 2.62t3u on the main server. I updated it. Now working.

[2022-04-14 10:38] #2672 closed

[2022-04-14 19:09] siyaoL1 commented on #2669
@preetvadaliya Thanks for pointing it out! They are referring to the same bug. I will close this issue.

[2022-04-14 19:09] #2669 closed

[2022-04-16 10:41] TimCarterLinux opened #2673 "Canvas GetPixelColor Removes Container Positioning"
**Describe the bug**

Screen set to Landscape in Designer (same issue when Portrait)
A vertical arrangement Centre/Centre
A canvas with dimensions larger than the vertical arrangement, inside the vertical arrangement
An imagesprite, centred to the canvas

![image](https://user-images.githubusercontent.com/29841236/163671719-9a60a463-04e9-4b7e-879a-d2b0ed7eaf90.png)

If the GetPixelColor block is r

[2022-04-17 16:50] zeng-shuo opened #2674 "File not found at: /appinventor/appinventor-sources-master/appinventor/blocklyeditor/../lib/closure-library/closure/goog"
Such as title

[2022-04-17 16:50] zeng-shuo commented on #2674
when I run ant

[2022-04-18 05:35] preetvadaliya commented on #2674
Hi @zeng-shuo,
Have you followed the guide given in README?

[2022-04-18 05:37] preetvadaliya commented on #2674
`git submodule update --init` run this before compilation.

[2022-04-18 06:39] zeng-shuo commented on #2674
ok, I'll try.

[2022-05-05 08:26] anqizzz8989 opened #2675 "Call Canvas.DrawShape doesn't work on ios"
Canvas.DrawShape doesn't work on my iPhone 13 Pro (15.4.1) nor on my iPad Pro (14.6). It works on my Android device though.

[2022-05-10 19:44] #2624 closed

[2022-05-12 13:19] AbbasGas opened #2677 "Implementing google_services.json in MIT App inventor System"
Hello Guys is there anyone could help me add google_services.json to MIT App inventor I tried Adding it to assest and It is not fullfiling the google app id and google bucket to Strings.xml If anyone can help I will be grateful

[2022-05-12 13:32] ewpatton commented on #2677
I've replied to your thread on the community site.

[2022-05-12 19:14] #2625 closed

[2022-05-13 09:01] ANUKULJHA1506 commented on #2409
can i work on this issue??

[2022-05-13 09:02] ANUKULJHA1506 commented on #1685
can i work on this issue

[2022-05-16 08:29] ANUKULJHA1506 commented on #2594
can i work on this issue

[2022-05-16 08:31] preetvadaliya commented on #2594
@ANUKULJHA1506 thanks for your interest but I have already opened a PR on it please see #2609

[2022-05-21 09:14] HollowMan6 commented on #2603
Hi @BuilderZou , I guess you are trying to build on Windows and you are a Chinese user. I also encountered exactly the same issue. What causing this is that, on Windows with Chinese, the default character encoding for JDK 8 is always GBK, while the language files for those JSON encodings are all UTF-8.

So the solution is simple, you can set an environment variable with name `JAVA_TOOL_OPTIONS` an

[2022-05-21 18:07] onvaessayer opened #2681 "loadfromURL "image" and "fill" errors (geojson filesfor map)"
mapLoadFrom URL reads a geoJSON file to display geoJSON features on a map.

1) bug with the "image" and the "fill" property  :

"image" property is used to set geoJSON object icons on the map. If image property is a simple file name, it is searched in the app media (this works with png, jpg and most svg files). If image property is set as a full url "http://...", then icon is searched on the web.

[2022-05-22 05:37] Hrithik0210 opened #2682 "UI of your website also looks very basic ,so as a UI developer i want to update your UI ."
**Describe the bug
-->

**Affects**

- [x] Designer

**Expected behavior**

**Steps to reproduce**

[2022-05-22 08:11] rollinggulf opened #2684 "Build finished but still waiting"
**Describe the bug**

- background : I'm using my machine(winodows) as the main server and the build server, and I'm building the HelloPurr into an apk
- problem : the log of build server shows "BUILD 1 FINISHED" but the building progress bar is still stuck at  "Compiling part 2(please wait)" stage.(a snapshot is attached below)
- cause : I guess this is because I set the ip of the main server as

[2022-05-22 08:34] preetvadaliya commented on #2684
@rollinggulf see this thread on the App Inventor community...

https://community.appinventor.mit.edu/t/unable-to-load-file-upon-ai-companion-connection/16887

[2022-05-22 08:37] preetvadaliya commented on #2682
@Hrithik0210 Can you please tell me which UI you are talking about? The landing page of the MIT App Inventor or Builder UI?

[2022-05-22 08:42] Hrithik0210 commented on #2682
Yes sir landing page as well as builder UI

On Sun, 22 May 2022, 2:07 pm Preet P. Vadaliya, ***@***.***>
wrote:

[2022-05-22 08:51] preetvadaliya commented on #2682
As far as know and if I am not missing then someone from MIT is already working on it because there was small user feedback that happened in past for this.
Builder UI is made up of GWT(Google Web Toolkit) and written in Java programming language, if you want to contribute to UI you can focus on **`appengine`** folder.

[2022-05-22 08:54] Hrithik0210 commented on #2682
I would love to contribute.Thank you sir

On Sun, 22 May 2022, 2:21 pm Preet P. Vadaliya, ***@***.***>
wrote:

[2022-05-22 10:23] rollinggulf commented on #2684
@preetvadaliya thank you, but my problem seems to be different. I checked the HttpOnly and they were not set. Further more, I found that the first time I clicked connect -> AI Companion  , the transmission failed , but After the disconnect alert(snapshot below), I clicked connect -> AI Companion again , it worked. If I refresh the page or click connect -> Reset Connection , then in the next connec

[2022-05-25 01:57] fsyzty commented on #2667
Comparing the two files in https://github.com/mit-cml/appinventor-sources/commit/65e926ce5ff4b9bd029e50907fe052639e55f479, it is found that the Blockly.ReplMgr.loadExtensions of replmgr.js can be displayed normally after restoring.

[code]

[code]

[code]

[2022-05-31 00:36] ewpatton opened #2686 "Update to latest Blockly with plugin support"
The last update we did upstream with Blockly was in 2017. We should update to benefit from newer features, particularly the plugin system.

[2022-05-31 00:38] ewpatton commented on #2684
@rollinggulf Use 0.0.0.0 for the address of the server but in your browser access it via your computer's IP address on the LAN rather than localhost. The hostname used in the browser is also used to load the assets, but localhost will resolve to the phone on the phone, not your computer.

[2022-05-31 00:39] ewpatton commented on #2682
There is already a project underway to work on updating the UI for App Inventor, so I will close this for now.

[2022-05-31 00:39] #2682 closed

[2022-05-31 00:41] ewpatton commented on #2681
Thanks for the report. Indeed, it shouldn't be the case that this crashes the app so we will need to look into this. Possibly someone can tackle adding support for extra mappings of GeoJSON properties to App Inventor properties.

[2022-05-31 00:42] ewpatton commented on #2674
Please follow the instructions in the README. As @preetvadaliya has pointed out, this error is due to not having checked out the submodules.

[2022-05-31 00:42] #2674 closed

[2022-05-31 00:44] Hrithik0210 commented on #2682
Sir,Can you please give me time of today for updating ?

On Tue, 31 May 2022, 6:09 am Evan W. Patton, ***@***.***>
wrote:

[2022-05-31 03:03] Hrithik0210 commented on #2682
Sir,I am ready with my  UI of MIT APP can you please open so ,that i can
upload my UI

On Tue, May 31, 2022 at 6:09 AM Evan W. Patton ***@***.***>
wrote:

[2022-05-31 05:06] Hrithik0210 commented on #2682
Sir,This is your UI for Application of MIT App Inventor,I hope you like
this,if you give me time also do work on your website UI and make it more
attractive and user friendly

[2022-05-31 05:08] preetvadaliya commented on #2682
You can share screenshot or any figma prototype here also.

[2022-05-31 05:09] Hrithik0210 commented on #2682
![About](https://user-images.githubusercontent.com/79349648/171097067-c5eea667-8cc8-4541-8cba-f7d047ae0670.jpg)
![Blog](https://user-images.githubusercontent.com/79349648/171097072-c340ea29-d425-41a4-a1f2-9fa5cbaf1af6.jpg)
![First Page](https://user-images.githubusercontent.com/79349648/171097074-5dd4a7d3-b12c-4983-94b2-fb0cbe4c1c09.jpg)
![Home](https://user-images.githubusercontent.com/79349648/1

[2022-05-31 05:10] Hrithik0210 commented on #2682
This is your UI for Application of MIT App Inventor,I hope you like
this,if you give me time,  I also do work on your website UI and make it more
attractive and user friendly

[2022-05-31 05:12] Hrithik0210 commented on #2682
https://user-images.githubusercontent.com/79349648/171097510-58c0af3b-044d-4471-accc-aee8575b5097.mp4

[2022-05-31 05:15] preetvadaliya commented on #2682
What do you mean by application? This also required lots of branding, Red is not App Inventor's brand color also logo is not clearly visible on primary color.
Anyway good effort but as @ewpatton said the project is already on going so as per my suggestion you have to wait until first look of new design will not published.

[2022-05-31 05:25] Hrithik0210 commented on #2682
Thank you for your response ,I agree with you ,I will do that after your
confirmation because i did not got the proper resources of MIT app.

On Tue, May 31, 2022 at 10:45 AM Preet P. Vadaliya ***@***.***>
wrote:

[2022-05-31 13:47] ewpatton opened #2687 "Update App Inventor be compliant with Android SDK 31 requirements"
Starting August 2022, all new apps published in Google Play, and in November 2022, all updated apps, must target Android SDK 31 (Android 12). We should review the changes from SDK 30 to SDK 31 and file appropriate issues to track needed changes.

[2022-06-09 01:26] #2667 closed

[2022-06-09 01:26] fsyzty commented on #2667
ok

[2022-06-15 02:42] jisqyv opened #2695 ""Doit" is broken in legacy mode with nb189"
Yep

[2022-06-15 02:43] jisqyv commented on #2665
Done in Version 2.63+

[2022-06-15 02:43] #2665 closed

[2022-06-15 02:46] jisqyv commented on #2407
Done.

[2022-06-15 02:46] #2407 closed

[2022-06-15 10:31] ewpatton opened #2696 "Large "Do It" result kills WebRTC connection"
**Describe the bug**

When testing an app I was using "Do It". The data structure in question was fairly large (a couple thousand entries), and at least some of it comes across the wire but then the connection terminates abruptly. There doesn't appear to be any visual feedback to the user but you can see the log in the dev console.

We probably want to:

1) See if we can support larger payloads in

[2022-06-15 21:03] jisqyv opened #2697 "legacy connection fails on project with no assets"
Iff it is the first project opened in a session!

[2022-06-17 11:07] ewpatton opened #2700 "Image component is overly generous asking for permissions"
**Describe the bug**

The Image component's `Picture` property asks for READ permission for any path on the "external" storage partition. However, for Android SDK 19+, this is not needed for any files within the app-specific storage directory. This can lead to apps asking for permission when none is needed.

The easiest way to mitigate would likely be to replace the conditional of the if statement

[2022-06-17 11:40] ewpatton opened #2701 "Player component lacks @Assets annotation"
**Describe the bug**

The Player component does not include an `@Assets` annotation like other components, so it does not gain helper block support.

**Affects**

- [ ] Designer
- [x] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Debugging
- [ ] Other... (please describe)

**Expected behavior**

The blocks drawer for Player should include the asset helper block.

**Step

[2022-06-17 11:41] ewpatton commented on #2701
Note that while technically this changes a component, the change doesn't semantically effect anything in the companion. Therefore, the updated code can be submitted against master since it only deals with how the component is presented in the blocks editor.

[2022-06-17 17:01] ewpatton commented on #2684
I'm going to close this issue for now. If you continue encountering problems please ask clarifying questions in the open source group on our [community](https://community.appinventor.mit.edu).

[2022-06-17 17:01] #2684 closed

[2022-06-21 13:23] daki7711 commented on #2673
The example aia file doesn't seem to be a real aia file. Could you re upload in aia file format? Thanks

[2022-06-21 13:32] preetvadaliya commented on #2673
@daki7711 I think GitHub doesn't support `.aia` file format so maybe you need to rename the file after download.

[2022-06-23 15:25] daki7711 commented on #2673
@TimCarterLinux would it be possible for us to know which android version you used for this? Thanks

[2022-06-23 18:51] daki7711 commented on #2673
@TimCarterLinux thanks, does this problem still happen? Cause I wasn't able to replicate this problem with my device. Trying to figure out where the problem is stemming from

[2022-06-23 19:41] TimCarterLinux commented on #2673
Just retested on devices as above, and the problem still exists on both
A short webm video attached to demonstrate (remove the `.zip`)
[spritepixel.webm.zip](https://github.com/mit-cml/appinventor-sources/files/8970359/spritepixel.webm.zip)

[2022-06-25 16:57] TimCarterLinux commented on #2673
I tried re-uploaded the hland.jpg image, I even tried with a completely different image (and removing hland.jpg from the project), the same thing happens

[2022-06-29 15:15] daki7711 commented on #2673
@TimCarterLinux I think the first thing for me is to find a device that has the same problem. Until now all the devices (three chromebooks, two android tablet, one ipad) I tested works fine with this aia. Have you ever experience something similar with a different aia?

[2022-06-29 17:27] TimCarterLinux commented on #2673
I just tried it on my chromebook, and like you say no problem. Could possibly be an issue with My computer (Linux Xubuntu 20.04) and Chromium browser ? Just tested with Firefox and the problem persists.

[2022-06-29 18:17] preetvadaliya commented on #2673
@daki7711 please look at this method I am sure you will definitely find something realted this here. Especially on this line...

https://github.com/mit-cml/appinventor-sources/blob/77882bbd799214ddc44dc84d0d7fdae9d5e3b42b/appinventor/components/src/com/google/appinventor/components/runtime/Canvas.java#L448

[2022-07-04 07:45] pavi2410 commented on #2686
This will be great! I can see a lot of useful plugins [here](https://github.com/google/blockly-samples/tree/master/plugins)

[2022-07-04 07:47] pavi2410 commented on #2686
Together with this, is using Typescript a considered?

[2022-07-23 16:09] ewpatton opened #2704 "Update phone call to work on latest Android OS"
**Describe the bug**

the make phone call method does nothing.

One possible approach is to use activity starter?
Is there anything we can do for iOS

[2022-07-23 16:10] ewpatton commented on #2704
Note that I believe the issue here is that for any interaction with outside apps on Android 10+ we need to have a `<queries>` element in the manifest. This will require adding an `@UsesQueries` annotation to the PhoneCall component.

[2022-07-23 16:11] ewpatton commented on #2704
@jisqyv We should probably do this as part of the next Android companion release (2.65)

[2022-07-23 16:12] ewpatton opened #2705 "Update location sensor documentation on Android >= 10"
Clarify the document to make it clear when Android asks for permission.   Is it possible to simplify the interaction?

[2022-07-26 01:38] siyaoL1 opened #2706 "Provide destructive PHOLO blocks"
**Describe the desired feature**
Edit Soojin's code to support the destructive version of pseudo-higher-order list operators (PHOLO). Modify the mutator of the PHOLO blocks to switch between destructive(modify the input list) and non-destructive(return a new list).

**Give an example of how this feature would be used**
Users will be able to use the PHOLO blocks without creating new variables.

As

[2022-07-28 16:09] #2704 closed

[2022-07-31 20:47] ItsDedSec00 commented on #2328
It would be nice to be able to change the Icon background Color for adaptive Icons, so we can use transparent Icons. On Android 12 this affects the startup Animation Background Color too. The White Splash Screen is pretty harsh.

[2022-08-05 15:50] daki7711 commented on #2673
@ewpatton Do you think it is worth investigating different browsers?

[2022-08-05 15:57] ewpatton opened #2709 "Allow for full URLs in GoogleSheets component"
**Describe the desired feature**

Currently, the user must select the specific spreadsheet ID from the URL and paste it into the spreadsheet ID field. This might not be intuitive to users, so it is probably worth allowing pasting the whole URL and having App Inventor extract the ID.

[2022-08-16 14:17] anqizzz8989 opened #2712 "SoundRecorder Shows Error 802 - Cannot start recording, impacts CoolThink curriculum"
**Describe the bug**

When SoundRecorder is used, it shows Error 802 - Cannot start recording: ENOENT (No such file or directory).

Guess it's a directory issue for Android 10+

**Affects**

Compiled app shows error and cannot record sounds.
![Error 802](https://user-images.githubusercontent.com/82657958/184902327-e637f800-3839-46b1-bab6-6b8eec3671ce.jpg)

**Expected behavior**

I expect the Sound

[2022-08-22 18:00] XomaDev commented on #2700
#2716

[2022-08-30 13:11] ewpatton opened #2721 "MoveFile crashes when destination exists"
**Describe the bug**

[From the forum](https://community.appinventor.mit.edu/t/movefile-crash-when-the-destination-file-already-exists/64659?u=ewpatton): Moving a file when the destination already exists causes the app to crash.

**Affects**

- [ ] Designer
- [ ] Blocks editor
- [x] Companion
- [x] Compiled apps
- [ ] Buildserver
- [ ] Debugging
- [ ] Other... (please describe)

**Expected behavio

[2022-09-02 05:57] ewpatton opened #2723 "Enable extension support for emulator packages 3.0 and later"
Extensions require Android SDK 8 and the old emulator package bundles SDK 7. Starting with version 3.0 for macOS and version 30.263.0 for Windows, the emulator bundle will be able to support the use of extensions. However, replmgr does not even both trying to load extensions on the emulator connection path, so while the newer emulator bundles support it, projects with extensions will fail to initi

[2022-09-06 12:56] ewpatton opened #2725 "Clearer error messages when sending to gallery"
If one creates an app that contains an extension, sending to the gallery simply shows the error "Error sending project to the Gallery". We might want to add some logic to the client to check the project structure for extensions and not even make the API call. Regardless of whether we do that, the error message should indicate that the presence of extensions is likely the issue.

[2022-09-06 17:08] ewpatton opened #2728 "Should we use implicit coercion for JSON types?"
We implicitly convert strings to numbers if they are coercible in math operations, and likewise pretty much everything is coercible to string via Java's toString method. Something to consider is that if a string is passed to a list or dictionary block, App Inventor will balk at this, but we could parse the strings as JSON and upon success the block could proceed. This might be better than having t

[2022-09-06 17:29] ewpatton commented on #2659
@stezelMIT I believe that this should be fixed in the next release. You can try it out by using ai2-test.appinventor.mit.edu

[2022-09-06 17:39] halatmit commented on #2728
@ewpatton I don't understand your comment.  My sense is that we try to make coercion seamless and invisible to users.
Am I confused here?

[2022-09-06 18:17] ewpatton commented on #2728
@halatmit Currently we are only doing this for strings that parse as numbers. We are not attempting to coerce strings that look like JSON array or objects to their respective YAIL types. The purpose of this issue is to discuss whether this is something we want to do, and if so will serve to track any discuss and development until a PR is opened.

[2022-09-06 19:02] halatmit commented on #2728
@ewpatton My sense is that we do want to coerce strings to their respective Yail types, but I agree we should all think about it.

[2022-09-13 21:34] ewpatton opened #2732 "File.Exists does not work for assets"
**Describe the bug**

[From the forum](https://community.appinventor.mit.edu/t/file-component-file-exists-does-not-work-for-files-in-the-assets-with-the-apk-bug/65345?u=ewpatton): Testing for the existence of an asset using the FIle.Exists block does not work correctly for files that resolve to assets, either using FileScope.Asset nor FileScope.Legacy with the "//filename" approach.

**Affects**

[2022-09-24 05:07] ewpatton commented on #2687
Fixed by #2708

[2022-09-24 05:07] #2687 closed

[2022-09-24 05:11] ewpatton commented on #2721
Fixed by #2722

[2022-09-24 05:11] #2721 closed

[2022-09-24 05:11] ewpatton commented on #2712
Fixed by #2713

[2022-09-24 05:11] #2712 closed

[2022-09-24 05:11] ewpatton commented on #2709
Fixed by #2729

[2022-09-24 05:11] #2709 closed

[2022-09-24 05:12] ewpatton commented on #2695
Fixed by 2698

[2022-09-24 05:12] #2695 closed

[2022-09-24 05:13] ewpatton commented on #2660
Fixed by #2661

[2022-09-24 05:13] #2660 closed

[2022-09-24 05:18] ewpatton commented on #2659
This should be fixed by #2713, which is included in companion version 2.65. Please reopen if you encounter errors with that companion version.

[2022-09-24 05:18] #2659 closed

[2022-09-24 05:18] ewpatton commented on #2642
Fixed by #2643

[2022-09-24 05:18] #2642 closed

[2022-09-24 05:20] ewpatton commented on #2582
Fixed by #2638

[2022-09-24 05:20] #2582 closed

[2022-09-24 05:21] ewpatton commented on #2576
Fixed by #2586

[2022-09-24 05:21] #2576 closed

[2022-09-24 05:24] PeterMathijssen opened #2735 "Chart component Scatter type is crashing companion and apk."
**Describe the bug**

Chart component Scatter type is crashing companion and apk.

**Affects**

- [ ] Designer
- [ ] Blocks editor
- [X] Companion
- [X] Compiled apps
- [ ] Buildserver
- [ ] Debugging
- [X] Chart component

**Expected behavior**

Like all other Chart types the Scatter type shouldn't crash the companion of apk.

**Steps to reproduce**

Use these blocks with the scatter type of the

[2022-09-24 05:28] PeterMathijssen opened #2736 "Chart type should be set with blocks"
**Describe the desired feature**

You should be able to set the Chart type with blocks. At the moment  it is only possible in the designer. There is already a Char type block.

![image](https://user-images.githubusercontent.com/32273650/192081520-ab380e56-c19b-4a68-bea6-d4e415d253c3.png)

**Give an example of how this feature would be used**

This way you could present different views from the sam

[2022-09-24 05:39] ewpatton commented on #1882
Fixed by #2191

[2022-09-24 05:39] #1882 closed

[2022-09-24 05:41] ewpatton commented on #1833
Fixed by #2293

[2022-09-24 05:41] #1833 closed

[2022-09-24 05:43] ewpatton commented on #1685
Closing this for now as it is superseded by the new emulator.

[2022-09-24 05:43] #1685 closed

[2022-09-24 05:44] ewpatton commented on #1619
I'm closing this for now as a potential fix is part of companion 2.65. If the issue persists we can revisit it.

[2022-09-24 05:44] #1619 closed

[2022-09-24 05:47] ewpatton commented on #1388
The App Inventor companion uses this folder for storing project related asses. Starting with the SDK 30 release it is stored in the app specific directory, which is not accessible to other applications. This should no longer be an issue.

[2022-09-24 05:47] #1388 closed

[2022-09-24 05:48] ewpatton commented on #1322
Fixed by #2124

[2022-09-24 05:48] #1322 closed

[2022-09-24 05:52] ewpatton commented on #1232
aiStarter 3.0 was rebuilt on 10.10 with an older version of Python to fix this issue. The next release based on the latest updates to the build script may target a newer version of macOS.

[2022-09-24 05:52] #1232 closed

[2022-09-24 05:59] ewpatton commented on #797
Fixed by #2184

[2022-09-24 05:59] #797 closed

[2022-09-24 06:02] ewpatton commented on #260
The latest Windows emulator package installs and uses HAXM. Updates to the macOS and Linux versions will follow.

[2022-09-24 06:02] #260 closed

[2022-09-25 03:41] ewpatton commented on #2735
Confirmed that with the given blocks that this is an issue. I think the problem is that the scatter plot functionality expects that when adding an entry the X value is greater than or equal to the smallest X value. When randomly adding, this isn't guaranteed.

Here is a stack trace captured after implementing the above blocks:

[code]

[2022-09-25 03:48] ewpatton commented on #2736
This is something we need to think about. I think the original reason for not allowing programmatic adjustment of the chart type was because there are really two classes of chart types, depending on the nature of the independent (X) variable, specifically when the X variable is nominal (bar, column, pie) or interval (line, scatter).

If we allow users to change the type programmatically, we have t

[2022-09-26 17:31] puravidaapps opened #2738 "Add flags to UsesPermissions annotation"
Please update the UsesPermissions annotation and add the following flags

1) android:maxSdkVersion
Example:
[code]
2) android:usesPermissionFlags
Example:
[code]

see also https://developer.android.com/guide/topics/connectivity/bluetooth/permissions

Taifun

[2022-09-26 23:34] ewpatton commented on #2738
Actually, this is going to be needed to fix issues with both the builtin Bluetooth components as well as the BLE extension, so I'm going to increase the priority on this.

[2022-09-26 23:39] ewpatton opened #2739 "BluetoothClient upgrade path broken"
**Describe the bug**

[From the forum](https://community.appinventor.mit.edu/t/bluetooth-conection-problem-fail-message-in-the-browser/66107?u=ewpatton): Loading an existing project with a BluetoothClient component causes an error about upgrading. I believe this was the result of a path being dropped in YoungAndroidFormUpgrader.java because versioning.js does have an upgrader for version 7 but the

[2022-09-26 23:42] ewpatton opened #2740 "Need to ask for Android 12 dangerous Bluetooth permissions"
**Describe the bug**

[From the forum](https://community.appinventor.mit.edu/t/bluetooth-conection-problem-fail-message-in-the-browser/66107?u=ewpatton): When using blocks like Connect on Android 12, we must first ask for user permission for BLUETOOTH_* permissions. As a workaround, people can go into the settings app and grant permission that way.

**Affects**

- [ ] Designer
- [ ] Blocks editor

[2022-09-26 23:48] ewpatton opened #2741 "SendMessageDirect fails on Android 12"
**Describe the bug**

[From the forum](https://community.appinventor.mit.edu/t/runtime-error-targeting-s-version-31-and-above-requires-that-one-flag-of-flag-immutable-be-specified/66394?u=ewpatton): Using the Texting.SendMessageDirect block fails on Android 12 due to the need to specify a mutability flag in the PendingIntent, but we don't do so.

**Affects**

- [ ] Designer
- [ ] Blocks editor
- [

[2022-09-27 00:28] ewpatton opened #2744 "Web component erroneously wants write permission"
**Describe the bug**

[From the forum](https://community.appinventor.mit.edu/t/write-external-storage-web-component/65894?u=ewpatton): The Web component will check for write permission even if the target file doesn't require it. This can cause issues on Android 11 and higher, or if an option other than Legacy mode is used for the default file scope.

**Affects**

- [ ] Designer
- [ ] Blocks editor

[2022-09-27 02:06] ewpatton commented on #2697
Fixed by #2698

[2022-09-27 02:06] #2697 closed

[2022-09-28 19:35] gr3453m0nk3y commented on #2741
@ewpatton Any updates on this?

[2022-09-29 15:14] #2739 closed

[2022-09-29 16:03] ewpatton opened #2751 "NPE in FeatureFromGeoJSONDescription"
**Describe the bug**

While investigating an issue [reported here](https://community.appinventor.mit.edu/t/unable-to-access-national-weather-service-api/66547?u=ewpatton), I discovered a NPE thrown deep in our error handling code.

**Affects**

- [ ] Designer
- [ ] Blocks editor
- [x] Companion
- [x] Compiled apps
- [ ] Buildserver
- [ ] Debugging
- [ ] Other... (please describe)

**Expected behav

[2022-10-01 18:11] arjundevasi commented on #2740
Hi, I'm new to open sourcing but I have experience in building android apps, I think I can do this,
can you help me get started?

[2022-10-03 16:44] ewpatton opened #2756 "List of custom colors crashes app in ChartData2D"
**Describe the bug**

[From the forum](https://community.appinventor.mit.edu/t/questions-regarding-the-charts-components/66717?u=ewpatton): Passing a list of custom colors created with the `make a color` block to ChartData2D's Colors property causes the app to crash.

**Affects**

- [ ] Designer
- [ ] Blocks editor
- [x] Companion
- [x] Compiled apps
- [ ] Buildserver
- [ ] Debugging
- [ ] Other..

[2022-10-03 18:53] ewpatton opened #2758 "X- and Y-axis labels for Charts"
**Describe the desired feature**

The Chart component does not provide the ability to set the labels of the axes in the chart. I suggest adding XAxisLabel and YAxisLabel properties to the Chart component that will render in the corresponding positions (possibly with the YAxisLabel being rotated 90 degrees so that it doesn't take up too much horizontal space).

**Give an example of how this feature

[2022-10-03 19:55] ewpatton opened #2759 "Control rendering of X- and Y- values"
**Describe the desired feature**

Currently, for axis-based charts we coerce all values to doubles. This is problematic if the person wants to render numbers that are clearly intended to be integers (say, number of votes). For X values, we may also want the ability to interpret values as timestamps and render accordingly.

**Give an example of how this feature would be used**

To provide alternati

[2022-10-03 20:00] ewpatton opened #2760 "Custom label data for Charts"
**Describe the desired feature**

Rather than trying to infer labels and colors for the legend, allow the user to specify the information using an associative list or dictionary.

**Give an example of how this feature would be used**

For a single data series, the Chart erroneously tries to treat each element in the line as its own entry in the legend, making the feature effectively useless.

**Wh

[2022-10-03 21:12] jeff9315 commented on #2741
@ewpatton Any updates on this?

I want to use this to send text messages to a small group I'm in,  in the event of another hurricane or a tornado. So, time is of the essence if I'm going to use it this season. Otherwise, if it looks like it might be awhile, I'll go a different route.

Thanks!

[2022-10-03 22:58] ewpatton commented on #2741
@gr3453m0nk3y @jeff9315 You can try out the PR I submitted on this temporary server and verify whether or not it addresses the issue: http://nb190a-bugfixes.ai2-ewpatton-temp.appspot.com/

[2022-10-03 22:59] ewpatton commented on #2740
@arjundevasi Thank you for offering but I was already underway on fixing the issue when you sent your message. There is a PR open now at #2755 that should fix the issue.

[2022-10-03 22:59] ewpatton commented on #2738
@puravidaapps If you try to build an extension using #2754, you should be able to test it on this server: http://nb190a-bugfixes.ai2-ewpatton-temp.appspot.com/. Let me know if you run into any problems.

[2022-10-06 01:22] bentscholl commented on #969
What file(s) would this be implemented in? How would we go about this?

[2022-10-07 19:39] Gairick52 commented on #2760
@ewpatton i am new to open source can you suggest me some beginner friendly issues

[2022-10-15 13:59] shreyashsaitwal commented on #2738
@ewpatton What do you think about allowing extensions to have an `AndroidManifest.xml` packaged with them (like AARs) and getting it merged with the main manifest during compilation using the [manifest merger tool](https://mvnrepository.com/artifact/com.android.tools.build/manifest-merger)?

This will free extension devs from depending on AI2 to support new manifest elements.

[2022-10-15 14:09] ewpatton commented on #2738
It is something to consider. While the annotations have mostly tracked the AndroidManifest structure, one potential benefit of having a structure under our own control is that we can also extend it to support extensions for iOS when the time comes (we won't be able to hot-load code, but compiled apps could benefit).

[2022-10-15 14:46] shreyashsaitwal commented on #2738
I've never done iOS development, but assuming the iOS equivalent of the Android manifest isn't exactly a 1-on-1 mapping, won't this be more of a hassle since you'd then have to make sure that every Android manifest annotation translates well to the iOS equivalent?

[2022-10-15 20:11] ewpatton commented on #2738
One other thing that the annotations provide that the AndroidManifest approach won't is that we can conditionally include permissions etc based on which blocks are included. Therefore, we would have to continue to support both approaches.

Sent from my iPhone

[2022-10-16 04:27] nan805 commented on #2741
It works. The issue of the sendMessageDirect a runtime error can be fixed building by the temporary server.

[2022-10-16 07:53] shreyashsaitwal commented on #2738
The Android Gradle plugin allows using various XML attributes in the `tools` namespace to reconfigure the behavior of the manifest merger tool. Using the same technique, we can introduce a new attribute, say `tools:includeIfUsed`, which we could then use to process conditionals.

[code]

[2022-10-17 23:03] mintingle opened #2763 "Button with automatic height looks like fill parent on iOS"
**Describe the bug**

Bug found on Gallery app: https://gallery.appinventor.mit.edu/?galleryid=04e9008c-30b7-4a20-9ee2-d271c922a18b

On the beta version of the iOS companion, the first screen shows the "Peaceful" button filling the height, which is different from what the property is set to in the Designer and what the Android version displays.

Using the non-beta (App Store) version of the compan

[2022-10-17 23:43] mintingle opened #2764 "Make default TextBox and TextBox Hint easier to see on iOS"
**Describe the desired feature**

The default TextBox and TextBox Hint are hard to see on iOS. Example from Gallery: https://gallery.appinventor.mit.edu/?galleryid=24ca4f55-3fc1-40a5-b204-1cbc6be1172f

On the iOS companion (beta version), it would be hard to know that the TextBox for the token exists from visual cues alone. The prefilled textboxes with numerical values also look more like continua

[2022-10-17 23:49] mintingle opened #2765 "HorizontalArrangement and Buttons with improper layouts on iOS"
**Describe the bug**

Bug found on Gallery app: https://gallery.appinventor.mit.edu/?galleryid=24ca4f55-3fc1-40a5-b204-1cbc6be1172f

Using the beta version of the iOS companion, the HorizontalArrangements for spin and machine type don't look like they are properly set to Width = Fill parent even though that was set in the Designer. The Buttons for "Add noise & Setup" and "Reduce noise" also show t

[2022-10-19 20:28] ewpatton opened #2766 "Toggling the tutorial window does not 'resize' Blockly workspace"
**Describe the bug**

When the tutorial panel is open and the block workspace is active, turning off the toggle causes the SVG for the workspace to increase in size, but Blockly doesn't automatically update the positioning of its controls to account for the extra space.

**Affects**

- [ ] Designer
- [x] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Debugging
- [ ] Othe

[2022-10-21 16:47] ewpatton opened #2767 "ClearRange does not call FinishedClearRange on completion"
**Describe the bug**

[From the forum](https://community.appinventor.mit.edu/t/google-sheets-call-back-issue/68244?u=ewpatton): The ClearRange method on Spreadsheet does not call FinishedClearRange after the RPC completes.

**Affects**

- [ ] Designer
- [ ] Blocks editor
- [x] Companion
- [x] Compiled apps
- [ ] Buildserver
- [ ] Debugging
- [ ] Other... (please describe)

**Expected behavior**

O

[2022-10-24 13:37] vivek3210 commented on #969
@ewpatton I would like to pick up on this issue even though its been 7 years. If I'm understanding correctly, the Player.java file is the one that needs to be changed, correct?

[2022-10-27 14:59] pavi2410 commented on #2686
Are there any plans to serialize Blockly state in JSON format?

[2022-11-04 15:59] XomaDev opened #2770 "Ant Build Error: Unable to make protected final..."
An error while compiling ant

When I run the command `ant`, I face a weird error that I have never faced before. I dont know why it happened.

**Affects**

- [ ] Designer
- [ ] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Debugging
- [x] Other

I have done no changes at all, I installed the sub modules, created the auth key and ran the ant command.

[code]

## Java ver

[2022-11-07 01:30] Tarun-Sharma-DTU opened #2771 "No SSL ( Secure Sockets Layer ) present in your subdomain " http://ai2.appinventor.mit.edu/ ""
**Describe the bug**

SSL, or Secure Sockets Layer, is an encryption-based Internet security protocol.

SSL Certificate is not present in subdomain " http://ai2.appinventor.mit.edu/ ". Absence of SSL can help attacker or hacker to exploit website easily. SSL certificate must present in our website and its subdomain. If You want to read more about SSL use and its effects pls [Click Here](https://ww

[2022-11-07 15:21] jisqyv commented on #2771
@Tarun-Sharma-DTU We are working on this, it isn't trivial. See https://appinventor.mit.edu/explore/blogs/jeff/2022/03/25/why-no-https for more details.

[2022-11-07 15:21] #2771 closed

[2022-11-08 01:02] mark-friedman opened #2772 "Problem with the ImagePicker on Android 9 (i.e. sdk level 28)"
**Describe the bug**

Note that the issue might be limited to phones running Android  9 (i.e. sdk level 28) or previous.  Also, in case it matters, the phones was a Redmi Note 7.

The symptom appears to be that after selecting the image the companion is dying.  Here a super simple project that shows this behavior - pretty much just a an image component an image picker and a an AfterPicking block w

[2022-11-21 19:02] bobparks opened #2774 "Charts Causes App to Crash When Reading from Spreadsheet with Scatterplot On"
The app should read data into the Chart component from [this spreadsheet](https://docs.google.com/spreadsheets/d/1Hrxxa8kroOWKUQOA7x2OYJTtjxKSPweSWPqrKMahVL8/edit#gid=883443412).

When you set the Chart component to "scatter" type chart, the app crashes. It crashes whether live testing or packaged as an app.

This is problematic because many types of data (such as the lake ice example here) are pr

[2022-11-21 19:13] bobparks opened #2775 "ChartData2D Component ImportFromSpreadsheet method — "useHeaders" parameter does not work"
**Describe the bug**

If you set the userHeaders parameter as True (as shown in the attached AIA). Nothing happens. No data at all. Should it be reading the headers and setting them as labels for the axes? Or at least skip over them.

If you set the parameter as False, and the spreadsheet has headers (as shown in the [referenced spreadsheet](https://docs.google.com/spreadsheets/d/1Hrxxa8kroOWKUQOA

[2022-11-27 06:41] preetvadaliya commented on #2758
@ewpatton can you please tell me which lib is used for chart rendering?

[2022-11-29 15:14] ewpatton opened #2776 "Map Save does not serialize GeoJSON properly for polygons"
**Describe the bug**

[From the forum](https://community.appinventor.mit.edu/t/map-save-method-creates-an-geojson-file-that-is-not-usable/71103?u=ewpatton): Polygons should be closed by repeating the first coordinate at the end of the sequence (e.g., a rectangle should have 5 points where the first and last points are equivalent). However, Map does not do this and so the GeoJSON isn't parsable by