[2019-05-11 16:42] Amerkashi commented on #1683
Yes, after further reviewing code, got it.

[2019-05-11 16:42] #1683 closed

[2019-05-11 17:04] ewpatton commented on #1682
@PeterMathijssen Per your post on the dev group, I've updated the release notes to include that this is only available when Screen1's Sizing property is Responsive.

In the future we could consider making this option available in Fixed mode and playing with the CSS zoom property to mimic what happens on the device w.r.t. scaling.

[2019-05-11 17:04] #1682 closed

[2019-05-11 19:39] ewpatton opened #1685 "Investigate upgrade issues with new Windows emulator"
Steve reports that the new emulator package for Windows does not upgrade correctly with the latest release. Need to test the out-of-date upgrade path via App Inventor as well as dragging the latest APK into the emulator to upgrade.

[2019-05-11 23:31] ewpatton opened #1686 "Switch crashes compiled app in Classic theme only"
[From the forum](https://groups.google.com/d/msg/mitappinventortest/G7JeoC35tvk/r-sohwI3AwAJ): Using Switch in a compiled app with Classic theme will result in an app crash. The issue is likely that the theme doesn't define a switch style, and so the app ends up without the necessary resources resulting in a NPE or similar error.

[2019-05-11 23:33] ewpatton commented on #1686
I've marked this as affecting master since it can be deployed as a buildserver-only update. Everything appears to work fine in the companion.

@SusanRatiLane Do you want to take a look at this one?

[2019-05-13 13:00] ewpatton opened #1687 "Spanish translation shows German text for some untranslated strings"

[2019-05-13 13:02] SusanRatiLane commented on #1687
OK, this is perplexing. The German translation had trouble with some strings being in Spanish, and they fixed it. So now some strings show up in German on the Spanish translation?

Do we have a specific string? I haven't looked yet.

[2019-05-13 13:03] ewpatton commented on #1687
I'm pretty sure I know what the problem is and I should have a fix shortly.

[2019-05-13 14:22] ewpatton commented on #1685
So the issue in this particular case was that the APK file Steve attempted to load was the version with the WebRTC binaries. We only include armv7, arm64, and x86_64, but the emulator uses an x86 image. The APK was being rejected due to the fact that there wasn't a compatible shared library for the CPU architecture.

We should reenable the option to upgrade the companion for the emulator to allow

[2019-05-13 14:59] ewpatton opened #1690 "Document that Switch will not work on old emulator images"
The older emulators run Android 2.1, and the SwitchCompat implementation does not work on Android versions < 4.0. The newer emulator packages should be okay because they run 8.0 (Windows) and 5.1 (macOS). If people want to test the Switch in the emulator, they will need to upgrade.

[2019-05-13 15:15] ewpatton opened #1691 "Upgrade to target SDK 27"
We need to upgrade everything to support SDK 27 before Aug 1st.

[2019-05-13 16:27] ewpatton opened #1692 "Re-enable menu option to upgrade companion (for emulator)"
We need to re-enable the menu item to upgrade the companion, at least for the emulator, so that users who want to use the latest features, but have a new enough version of the companion it doesn't trigger a forced upgrade, can do so.

[2019-05-14 18:33] ewpatton opened #1694 "Implement AbsoluteArrangement"
The ability to lay out components using absolute positioning (a la Canvas) rather than horizontal and vertical arrangements has been requested a number of times. We should look into how we would do this. In particular, we likely wouldn't want to show the X, Y properties in the designer/blocks unless the parent container of the component was an absolute arrangement.

[2019-05-15 15:59] #708 closed

[2019-05-15 16:55] #1687 closed

[2019-05-15 16:55] ewpatton opened #1695 "Implement a component drawer"
It seems as though we may increasingly need a drawer for general operations on components that do not necessarily fit well as events/methods/properties of the components themselves.

Some possible things:
* getprops/setprops
* type of?
* copy/clone
* name of component/component by name (for symmetry; I actually prefer a Name read-only property on the component and have a branch that implements thi

[2019-05-15 16:55] ewpatton commented on #1695
cc @fturbak

[2019-05-16 13:17] ewpatton opened #1696 "Document any component blocks"
It appears that we do not document the "any component" blocks anywhere on our site or in the reference documentation. I think we should do so and adapt some of the material from @stezelMIT's Snow Globe tutorial to demonstrate the different aspects of this functionality.

[2019-05-16 14:17] pavi2410 opened #1698 "Bug in Blockly zoom and delete controls"
The bin icon is behind the blocks but the other buttons are not.

![image](https://user-images.githubusercontent.com/28837746/57860907-4f338900-7813-11e9-920b-6f9b645a064e.png)

[2019-05-16 14:52] ewpatton commented on #1698
We'll have to think about this. It has always been the case that the trashcan has been below the blocks because the intent was to simulate putting the blocks into the trash. You can see this behavior as well in the Blockly demo apps. The zoom controls, while newer, are also in the z order where Blockly core places them. We can change either of these, but it likely means modifying core (which I'd p

[2019-05-16 15:24] ewpatton commented on #1503
So #1654 broke this functionality completely. I should have a fix shortly.

[2019-05-16 20:36] ewpatton opened #1701 "Sharing fails if file type unknown"
We use MimeTypeMap to look up the mime type for a given file when using the Sharing component. However, if there isn't an entry in the map, the value is null, which causes the send intent to fail. Initially reported by @ram8647.

[2019-05-18 02:38] #1425 closed

[2019-05-19 09:06] jarwin123 opened #1707 "appinventor-sources cannot compile"
![图片](https://user-images.githubusercontent.com/8475971/57979973-12f06a80-7a57-11e9-8540-dddb77e9f659.png)

my os：
   centos 7
java：

![图片](https://user-images.githubusercontent.com/8475971/57980046-57c8d100-7a58-11e9-94cc-8ac96838ee79.png)

app engine:

![图片](https://user-images.githubusercontent.com/8475971/57980049-69aa7400-7a58-11e9-9590-793111552c0b.png)
ant :

![图片](https://user-images.githu

[2019-05-19 09:21] jarwin123 commented on #1707
this is compie log:
[a.txt](https://github.com/mit-cml/appinventor-sources/files/3194930/a.txt)

[2019-05-19 09:29] ankritisachan commented on #1707
Hi, this is not a bug actually.
To build successfully, you need to install 32-bit compatible libraries on your system (particularly zlib, libc, and libstdc++).
This has been discussed in our forum.
Solution for the same error is mentioned here - [Build Failed](https://groups.google.com/forum/#!msg/app-inventor-open-source-dev/9E3ql99V97Q/9vE1J-K9AQAJ).
You can also check here - [Additional Depende

[2019-05-19 10:07] jarwin123 commented on #1707
![图片](https://user-images.githubusercontent.com/8475971/57980625-67e4ae80-7a60-11e9-8ccd-f9677801e42a.png)
![图片](https://user-images.githubusercontent.com/8475971/57980630-7337da00-7a60-11e9-928f-bb90456a6854.png)

thank you,
i compie success,but when i run server , but the browser is empty,

my brower is chrome

[2019-05-19 10:09] jarwin123 commented on #1707
![图片](https://user-images.githubusercontent.com/8475971/57980707-34eeea80-7a61-11e9-9c56-a6fd0617f2f4.png)

[2019-05-19 10:16] jarwin123 commented on #1707
what wrong with my operator?  the web browser is empty.

[2019-05-19 10:25] ankritisachan commented on #1707
I am not sure about this. It should automatically direct you to the login page.
Maybe try: http://54.39.133.166:8888/login/

[2019-05-19 11:19] jarwin123 commented on #1707
try  input http://54.39.133.166:8888/login/  in my browser
i set my user,
![图片](https://user-images.githubusercontent.com/8475971/57981500-dfb7d680-7a6a-11e9-83c1-515ec022cf1f.png)

but my email no message from appinventor,

this version of appinventor cannot use normal?

[2019-05-19 11:25] jarwin123 commented on #1707
ant:
![图片](https://user-images.githubusercontent.com/8475971/57981589-c95e4a80-7a6b-11e9-9f56-5495fe8cedc0.png)
ant tests:
![图片](https://user-images.githubusercontent.com/8475971/57981586-b9466b00-7a6b-11e9-9dbe-bde34e8cfd82.png)

[2019-05-19 11:43] ankritisachan commented on #1707
After 'ant', run the main server using instructions [here](https://github.com/ankritisachan/appinventor-sources#running-the-servers).
Since you are running AppInventor on localhost, just use links without any change(you don't need to set password, etc.).
Use:
" Click Here to use your Google Account to login -> Log In " and you will be in.

[2019-05-19 11:48] jarwin123 commented on #1707
i also try your method, i cannot login ,

how to setup configure ?

[2019-05-19 12:01] jarwin123 commented on #1707
![图片](https://user-images.githubusercontent.com/8475971/57981932-c31e9d00-7a70-11e9-9e33-7537b34ef5b1.png)
![图片](https://user-images.githubusercontent.com/8475971/57981936-d7fb3080-7a70-11e9-93f0-72b0cf999a5d.png)

[2019-05-19 12:02] jarwin123 commented on #1707
![图片](https://user-images.githubusercontent.com/8475971/57981955-05e07500-7a71-11e9-9a0a-28e7deee5d51.png)

[2019-05-20 13:02] ewpatton commented on #1690
Revisiting this, we made it so that Switch will fall back to a Checkbox on devices older than SDK 14. The documentation should reflect that this will happen.

[2019-05-20 19:24] #1679 closed

[2019-05-22 02:49] mengds2016 opened #1710 "Upgrade failed"
I upgraded the latest source code and failed to compile. The results are as follows:
[java] May 22, 2019 6:58:30 上午 com.google.appinventor.buildserver.Compiler writeAndroidManifest
     [java] Info: VName: 2.52
     [java] May 22, 2019 6:58:35 上午 com.google.appinventor.buildserver.Execution execute
     [java] Info: ____Executing /tmp/aapt4685872592385425715 package -v -f -M /tmp/1558479508316_0.1

[2019-05-22 21:41] ewpatton commented on #1710
This is because we upgraded to a new version of aapt and that version is 64-bit. You should be able to replace it with a 32-bit version from the Android SDK if you are limited to a 32-bit architecture.

[2019-05-23 01:32] mengds2016 commented on #1710
Thank you! libc++.so replace?Does this mean that the basic installation environment is 64bit?

[2019-05-23 04:51] houcy opened #1713 "build failed on x64 platform"
This project failed to build on x64 platform. Would you please port the project to x64 system? Thanks a lot!

[2019-05-23 05:05] ewpatton commented on #1713
The system builds just fine on x86_64 platforms. Please read the instructions in the README.

[2019-05-23 05:05] #1713 closed

[2019-05-23 14:16] ewpatton commented on #1710
@mengds2016 If you install the Android SDK for your platform, you can copy the aapt from the build tools in the SDK over the aapt in lib/android/tools/linux/aapt to have the 32-bit support again. However, I wouldn't count on having 32-bit support for an extended period of time so you should consider upgrading to a 64-bit architecture in the future.

[2019-05-23 14:16] ewpatton commented on #1710
In the future, please ask build system questions on the [App Inventor Open Source forum](https://groups.google.com/forum/#!forum/app-inventor-open-source-dev).

[2019-05-23 14:16] #1710 closed

[2019-05-24 17:57] ewpatton commented on #1672
So I took a look at the Android version of the problem as I had noticed it on my phone and @petermathijssen also commented. Using the layout inspector, it looks like in the case where the scroll layout doesn't quite take up the whole screen the titlebar, even though it's not visible, has a size and the scroll view compensates by shrinking a little. I have yet to figure out why that happens.

[2019-05-24 18:13] PeterMathijssen commented on #1672
I had a discussion just a few weeks ago with a extension developer when we had a problem with the screen.

He gave me this answer on the following question i asked:
What does the Android viewtool do different from setting visibility with the visibility option of the arrangement?

There are 3 visibility options in android:
Visible = Self explanatory
Invisible = This view is invisible, but it still

[2019-05-24 20:28] #1686 closed

[2019-05-28 13:00] ewpatton commented on #1309
Closed via #1697

[2019-05-28 13:00] #1309 closed

[2019-05-28 13:00] ewpatton commented on #1503
Closed via #1700

[2019-05-28 13:00] #1503 closed

[2019-05-28 14:57] #1692 closed

[2019-05-28 20:47] #1467 closed

[2019-05-28 21:22] ewpatton commented on #1173
Closed via #1668

[2019-05-28 21:22] #1173 closed

[2019-05-28 21:50] ewpatton opened #1717 "Implement project property to present limited set of components"
This issue corresponds to the goal to polish the constrained sets feature for merging into the production system.

[2019-05-28 21:51] ewpatton opened #1718 "Port folders implementation to new Blockly"
Port the work of @fturbak's students to implement folders for grouping blocks in the workspace to the latest version of App Inventor.

[2019-05-28 21:53] ewpatton commented on #1613
Closed via #1660

[2019-05-28 21:53] #1613 closed

[2019-05-31 20:27] ewpatton opened #1719 "Fix PhoneCallEnded regression"
[From the forum](https://groups.google.com/d/msg/mitappinventortest/s3eV2jK0eaQ/7rk0lo5cBAAJ): PhoneCallEnded no longer works due to how conditional permissions work. We need to also check for READ_PHONE_STATE.

[2019-06-03 07:17] eugene-haas opened #1722 "How can I get a database dump?"
There is an error in the app inventory we manually installed,
I installed a new app-inventor on my docker.

Installation is referenced in README.md.
There is no manual database configuration.

How do I replicate the old system's database (user and project data) to the new system?

[2019-06-03 13:34] jisqyv commented on #1722
@eugene-haas You will have to say more about what you are doing for us to give you any help. Did you deploy the App Engine development server in a Docker container?

[2019-06-04 04:31] eugene-haas commented on #1722
Sorry for not giving you much information.

I have deployed the App Engine development server in a docker container.
The app inventor in the docker container works well.
Here is my app engine installation process.

apt-get -y update && \
export CLOUD_SDK_REPO = "cloud-sdk - $ (lsb_release -c -s)" && \
echo "deb http://packages.cloud.google.com/apt $ CLOUD_SDK_REPO main" \
| tee -a /etc/apt/sources

[2019-06-07 04:41] eugene-haas commented on #1722
I explained the installation process, but I can not get an answer, so I close the issue.

[2019-06-07 04:41] #1722 closed

[2019-06-12 09:22] ColinTree opened #1727 "Allow grouping up component methods"
Just like properties, methods should be also allowed to be collapsed, and decided if they are going to br shown in the component method list. (Just like Clock.AddDays etc.)

[2019-06-12 09:27] ColinTree commented on #1707
Try Google Chrome please

[2019-06-12 11:36] ewpatton commented on #1727
This was implemented as more of a hack than anything else, and mostly because the signatures of those methods are all the same does it work. Do you have a proposal for how to generalize this? I assume that this would mainly be used by extensions? Or are there other places in core App Inventor that you see this being used?

[2019-06-12 13:13] ColinTree commented on #1727
Hi @ewpatton

* I think this is necessary for all components, as you can see, drop down on Clock methods is even just a hack (totally not elegant).
* And there are a large amount of methods with similar functionality can be collapsed if there is such a functionality. Although those existing blocks may seems fine now, they would be better if they are not taking such a lot of space to be listed.
* A

[2019-06-25 20:04] derek-houseworth opened #1733 "Runtime Error from Companion on render Map containing invisible FeatureCollection"
To repro:

1. New project
2. Establish AI Companion connection
3. Insert Map
4. Insert FeatureCollection
5. Clear FeatureCollection's Visibility checkbox

Result:
Message box appears in Designer with following text; _Error from Companion: Attempt to invoke virtual method 'void android.view.View.setVisibility(int)' on a null object reference_

Expected:
No errors on valid operations.

[2019-06-28 08:24] leotey opened #1734 "How to kill the main server?"
The main server is running, I want to kill this server,how to do?

[2019-06-28 08:44] #1734 closed

[2019-06-28 12:50] conorshipp opened #1735 "Unbound variable dialog Do It button doesn't work"
Using ai2-test, connect the companion, add a label and create the blocks below:

![image](https://user-images.githubusercontent.com/25845449/60342984-da737300-99aa-11e9-9eed-68c8bc06d89f.png)

Right-click on the `Label.Text` block and select `Do It`

![image](https://user-images.githubusercontent.com/25845449/60343054-ff67e600-99aa-11e9-9fbb-44679ec5716b.png)

Now type in a value and select `Do It

[2019-06-28 15:23] ewpatton commented on #1727
Right, but the Clock implementation hack only really works because the arity of the methods is the same. Changing the method is really just changing the units involved in the computation. Method overloading was also something that I believe was explicitly excluded from the language for the purposes of discoverability and learning. If the methods have multiple potential meanings depending on the in

[2019-06-30 20:26] rodrigo123-cmyk opened #1737 "Supermarket in Mit app inventor"
432/5000
I'm trying to make a project that consists of a supermarket that sells food, clothes and appliances, where customers register and buy their products, and ask them to take them home.
But I'm having some difficulties because this is a language I'm still learning, which is the MIT app inventor, so I wanted to ask if anyone could help me or tell me if there is any site that can help me please

[2019-06-30 20:30] NmdOfficial commented on #1737
Ask your question at forum.
Here is the wrong place

[2019-06-30 23:15] rodrigo123-cmyk commented on #1737
Thank you.

[2019-07-01 12:29] moliata commented on #1737
@rodrigo123-cmyk it would be great, if you could close the issue.

[2019-07-01 19:38] #1737 closed

[2019-07-03 15:04] #1735 closed

[2019-07-12 13:20] PeterMathijssen opened #1740 "companion on Chromebook"
On my Acer Chromebook the companion of App Inventor looks not good. Fonts and buttons are much to big.

I compared the companions from the four biggest builders and added them here for reference. Two of them work as it should, two of them show the same effect of large fonts and buttons.

![Screenshot 2019-07-12 at 15 14 35](https://user-images.githubusercontent.com/32273650/61131036-6bbd0c00-a4b8-

[2019-07-12 13:35] ewpatton commented on #1740
This is an issue with the scaling factor computed by Fixed sizing mode. It also happens with any project that uses fixed sizing mode, and the easiest fix is to just put an app into responsive sizing. I believe that the fixed mode computes based on the screen width, not the window width, and so for apps that aren’t full screen on the chromebook the calculation is off. Try making a simple project li

[2019-07-12 15:20] PeterMathijssen commented on #1740
it has definitely to do with the fixed and responsive setting.

This is responsive
![Screenshot 2019-07-12 at 17 16 50](https://user-images.githubusercontent.com/32273650/61139146-13423a80-a4c9-11e9-873f-5c2e5fc5b956.png)

This is fixed size. But it looks much worse then my fixed size on my phone. So the resolution of the companion app on the Chromebook is lower in fixed size then on my phone.
![S

[2019-07-12 15:29] PeterMathijssen commented on #1740
Tested it with Kodular and it has the same exact problem as the App Inventor companion when run in Fixed size.

[2019-07-12 15:50] wxbit commented on #1740
@PeterMathijssen Would you mind testing this for me? https://app.wxbit.com/AI2Companion3.apk

[2019-07-12 19:02] PeterMathijssen commented on #1740
![image](https://user-images.githubusercontent.com/32273650/61152312-5f50a780-a4e8-11e9-8b52-d9e9c388a96b.png)
I got a bunch of chinese, japanese text but was able to get this image.

[2019-07-12 23:27] wxbit commented on #1740
@PeterMathijssen Thanks, is Chinese.I don't know why the buttons uses background image,I have changed them to text.

[2019-07-19 02:05] amyxiu opened #1741 "companion"

[2019-07-19 18:17] SusanRatiLane opened #1742 "Companion connection fails when Designer session is expired"
When the designer session is expired, it's possible to attempt to connect the companion. The process freezes on asset download. I did this repeatedly without seeing the expired session popup.

[2019-07-22 11:44] elatoskinas opened #1743 "Deleting MockContainer does not delete children components fully"
**Issue**
When deleting a MockContainer that has children components attached to it (in the Designer), the children disappear from the hierarchy. However, they are not entirely removed (neither onRemoved() nor delete() is invoked)

**Implications of the issue**
When adding new features, this behavior might not exactly be expected. For instance, a child component might be listening to certain event

[2019-07-27 02:04] #1741 closed

[2019-07-28 16:27] pavi2410 opened #1744 "Components annotations retention policy"
https://github.com/mit-cml/appinventor-sources/blob/77eccf1c640ca7bef6a25f5f4e3ec1115e0ed18b/appinventor/components/src/com/google/appinventor/components/annotations/androidmanifest/ActivityElement.java#L31

Should the annotations in `androidmanifest` directory be retained only at `SOURCE` level? I think that these annotations are not used at runtime (?)

[2019-07-30 17:39] #1013 closed

[2019-07-30 18:31] ewpatton opened #1745 "Support fill-opacity as an option for Map features"
[From the forum](https://groups.google.com/d/msg/mitappinventortest/EaqbByAhLkM/1oVN2_P1DwAJ): App Inventor supports SVG properties on features such as stroke, stroke-color, and fill-color. However, fill-opacity is not supported (and probably stroke-opacity). We should add support for these capabilities. It's important to note that we do support using ARGB hex values, so it can also be solved by u

[2019-07-30 18:39] ewpatton opened #1746 "Add "Target Android SDK" information to Help > About menu"
Feature request from the power users: Add the target SDK supported by App Inventor to the Help > About dialog.

[2019-07-30 18:41] ewpatton commented on #1744
@pavi2410 I don't believe we currently use the annotation on the device, so I expect that you are correct here. Have you tried switching it to `SOURCE`?

[2019-07-30 18:43] ewpatton commented on #1743
@lightingft What's the easiest way to confirm that the deleted mock components are still listening (e.g., how did you discover this initially)?

[2019-07-30 19:09] ewpatton opened #1747 "Promote CloudDB to Storage"
Now that we have stabilized CloudDB performance, consider promoting it to the Storage category from Experimental.

[2019-07-30 21:57] lightingft commented on #1743
@ewpatton I discovered this while working with Property Selectors. A relatively simple way to verify the behavior is through the following example:

1.In the YoungAndroidComponentSelector, add a Log message in the onComponentRenamed method under the if (oldName.equals(currentValue)) block.
2.In Designer, create a Map component, attach a LocationSensor to it, delete the Map and rename the LocationS

[2019-07-31 02:41] ewpatton opened #1749 "Address splash screen random scrolling"
We really need to explore and implement the best way to fix the interaction between the scroll link positioning feature implemented by browsers and how the GWT DeckPanel and DialogBox interact that results in the SplashScreen going off to wherever it pleases based on the browser window size.

[2019-07-31 11:49] conorshipp opened #1750 "Component search filter robustness"
The component search filter isn't as robust as one might expect. For example, when searching for "textbox", you would probably expect to see both the `TextBox` component as well as the `PasswordTextBox` component, but only the former is present. Another example could be searching for the "picker" components. You might expect to see the different picker components (`DatePicker`, `TimePicker`, `List

[2019-07-31 19:09] lightingft opened #1752 "CloudDB DataChanged non-deterministic order"
**Issue**
The CloudDB's DataChanged event seems to happen out of order in some cases, resulting in loss of DataChanged events whenever a value changes rapidly. A prime example of such a case is doing the following on a single tag:
1.Store tag
2.Get tag
3.Store tag
4.Get tag
5.Store tag
6.Get tag

**Implications of the issue**
In certain scenarios, DataChanged events are completely lost and undetec

[2019-08-01 17:43] ewpatton commented on #1752
@lightingft We'll have to think about this. Technically, the behavior you observed is valid, if unexpected. The only set operation that should be guaranteed to take effect is the last one. Depending on the speed of the phone and the network, we will locally overwrite changes if they occur before the next CloudDB message goes out in an attempt to reduce the amount of data going over the wire. It's

[2019-08-01 17:44] ewpatton commented on #1750
This is true. We implemented the search using a prefix trie, so while it is very fast it only allows searching components from the beginning of the name. How is the performance if you swap out the trie data structure with iterating over an array list? If it's comparable and you want to submit a patch, please do so.

[2019-08-02 13:56] kevinc123 commented on #1544
Thanks for the answer, we will use our own turn server

[2019-08-02 13:56] #1544 closed

[2019-08-03 07:23] pavi2410 opened #1756 "Should use SdkLevel.java to check Android version"
https://github.com/mit-cml/appinventor-sources/blob/2a7110ba62cf0cbe649dab4d78495b6463e6aae5/appinventor/components/src/com/google/appinventor/components/runtime/ScaledFrameLayout.java#L61

To check Android version, you should use [`SdkLevel.java`](https://github.com/mit-cml/appinventor-sources/blob/master/appinventor/components/src/com/google/appinventor/components/runtime/util/SdkLevel.java)

[2019-08-03 11:32] ColinTree opened #1757 "Duplicated line, can be optimized"
https://github.com/mit-cml/appinventor-sources/blob/2a7110ba62cf0cbe649dab4d78495b6463e6aae5/appinventor/appengine/src/com/google/appinventor/client/editor/simple/components/MockForm.java#L313
https://github.com/mit-cml/appinventor-sources/blob/2a7110ba62cf0cbe649dab4d78495b6463e6aae5/appinventor/appengine/src/com/google/appinventor/client/editor/simple/components/MockForm.java#L317
![image](https

[2019-08-03 16:44] ewpatton opened #1760 "Bitwise operators not appearing in nb178"
The bitwise operator blocks no longer appear due to the way BlockSubset was implemented. The additional blocks need to be added to drawer.js

[2019-08-03 16:49] conorshipp commented on #1760
The `break`, `reverse list` and `join items using separator` blocks seem to be missing too.

[2019-08-03 17:25] Piruzzolo opened #1761 ""Unable to load SVG from assets" on map longPressAtPoint"
I created a callback when longPress on the map, to create a marker. There appears a msgBox instead, with the message above.

The only instance in the code is here
https://github.com/mit-cml/appinventor-sources/blob/0d3364ee790ba0c8887b198cfa7b033359ce5869/appinventor/components/src/com/google/appinventor/components/runtime/util/NativeOpenStreetMapController.java#L942

Attached, the project file.

[2019-08-04 15:11] bartmathijssen commented on #1746
I think I made the correct changes to the source to solve this issue. If I am correct it will look like the following:

![Screenshot 2019-08-04 at 11 02 13](https://user-images.githubusercontent.com/25157850/62425281-631ab880-b6a7-11e9-9983-b6c4f9c6a334.png)

I unfortunately cannot test the code I wrote because I am currently working on my Chromebook. You can see the changes I made [here](https://

[2019-08-04 20:07] ewpatton opened #1762 "Update README to use newer commands based on Google Cloud SDK instead of App Engine SDK"
We should update the relevant documentation to use the Google Cloud SDK now that Google has officially deprecated the Google App Engine SDK and appcfg.

[2019-08-04 20:43] #1757 closed

[2019-08-05 15:58] jisqyv opened #1763 "Procedure Parameters not shown in Call block"
If you create a procedure with parameters, when you then open the blocks drawer the call block will not show parameters, nor will they appear when they are dragged out. To get the parameters to appear you need to click on the mutator wheel in the declaration. Then the parameters will appear.

This breakage is caused by the blocks toolkit change (I reverted that commit and the problem was resolved)

[2019-08-06 20:39] bartmathijssen commented on #1746
I found a constant in Compiler.java named `TARGET_SDK_VERSION`. I thought I had the right idea by importing the `com.google.appinventor.buildserver.Compiler` package into TopToolbar.java, but that doesn't seem the work. I get the following error when building with ant:
[code]

[2019-08-06 21:09] bartmathijssen commented on #1455
Can the templates get generated via http://templates.appinventor.mit.edu/trincoll/builder/index.html? That would make it much easier. I should I upload at the thumbnail field? The YR Media logo?

[2019-08-07 11:10] bartmathijssen commented on #1762
I setup App Inventor on my local machine using the Google Cloud SDK. The only differences I could find is that you need to install the `app-engine-java` component and the command to run appinventor has changed to:
[code]

[2019-08-08 15:27] #1760 closed

[2019-08-09 19:26] SusanRatiLane commented on #1717
Completed with rollout of this feature, renamed Blocks Toolkit, the week of 7/29/2019.

[2019-08-09 19:26] #1717 closed

[2019-08-13 02:05] halatmit opened #1772 "Canvas drags remain active if they exit the canvas"
If you start a drag motion inside a canvas, the Canvas.Dragged event fires with the end coordinates of the drag, even if these are outside the canvas boundaries.

[2019-08-14 00:01] ewpatton opened #1774 "Allow alternative Canvas origins"
Currently, the origin of the Canvas is the same as the underlying view's origin, that is to say the top-left. This doesn't always make sense though depending on the application being built. For example, a mathematics app that draws curves might want to have the origin at the bottom-left corner with +Y going toward the top of the screen, or have the origin at the center of the Canvas (no matter its

[2019-08-14 00:42] halatmit commented on #1774
There's also an important use case where people want to use the canvas for graphing, in which case they'd like the origin at the center and also have negative coordinates.

[2019-08-14 04:12] xnbx2012 opened #1775 "Add switch...case... block"
It'll be very nice to add a `switch...case...` block in the control type.
1. Usually I create dialogs/notifications with ID,we have to use lots of `if...else...` and `=` blocks to detect which dialog/notification it is so that I can do the right thing in the event.
2. Creating too much screen causes lots of problems in an project,so I usually use one screen and different arrangements to show diffe

[2019-08-16 20:58] #1747 closed

[2019-08-16 22:21] espertus commented on #1062
Implementing a non-blocking guide was trivial but would probably confuse the user. Should we offer a non-blocking option or just make it always blocking? A pro argument is so someone can have multiple glides take place at the same time. A con argument is that it's confusing to have multiple options. Let me know what you think and if I should post to the list.

In either case, we have to figure out

[2019-08-16 22:31] halatmit commented on #1062
Just off the top of my head, I think glide should block.  But I could be
convinced otherwise.

== Hal

Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Fri, Aug 16, 2019 at 6:21 PM Ellen Spertus <notifications@github.com>
wrote:

[2019-08-16 22:37] espertus opened #1777 "Fix Ball so the x- and y-coordinates are at the center"
For bad historical reasons, the X and Y properties of a Ball are not the coordinates of the center but of the upper left corner of the bounding box containing the Ball (a point that isn't even part of the circle). Users would expect the X and Y coordinates of a Ball to be its center.

[2019-08-16 22:39] espertus commented on #1777
I propose fixing this by adding a backwards compatibility flag. For existing programs, backwards compatibility would be enabled, and the behavior of Ball would stay the same.

If the backwards compatibility flag is false, the X and Y properties will represent the x- and y-coordinates of the center of the Ball.

I welcome suggestions of what to call the user-visible flag.

[2019-08-17 12:07] halatmit commented on #1777
We might want to fix this for image sprite also, and put the location of the sprite at the center of the sprite rectangle.  Better, we could make the location of the sprite be a settable property.   This change will be a little delicate, since it also affects sprite rotation and collision.

[2019-08-17 15:09] espertus commented on #1777
Sounds good. I suggest that ImageSprite be a separate issue and PR.

On Sat, Aug 17, 2019 at 5:07 AM hal <notifications@github.com> wrote:

[2019-08-17 17:55] halatmit commented on #1777
I think it's fine to defer the image sprite upgrades to a later issue and PR.

[2019-08-17 17:56] halatmit commented on #1777
For the compatibility flag, how about
Ball origin at ball center.
and
Ball origin at ball corner (deprecated).

[2019-08-18 20:41] halatmit commented on #1762
Going along with this, we need to update
How to build App Inventor from the MIT sources
https://docs.google.com/document/d/1Xc9yt02x3BRoq5m1PJHBr81OOv69rEBy8LVG_84j9jc/edit#

And integrate this with
Setting up an Appspot Instance to use Google Cloud Store (GCS)
https://docs.google.com/document/d/1JvexwXOQ4wW2Cccfyq3z83fXklP7Ob_1jPmMdxsv8WM/edit#
which also needs to be updated.

[2019-08-19 18:05] #1762 closed

[2019-08-19 18:23] ewpatton commented on #1691
Closed via #1716

[2019-08-19 18:23] #1691 closed

[2019-08-19 18:24] ewpatton commented on #1775
I'd like to see a design document for how this would be significantly different than using the if block's mutator to add more clauses.

[2019-08-19 18:27] ewpatton commented on #1763
Closed via #1770

[2019-08-19 18:27] #1763 closed

[2019-08-19 19:22] ewpatton commented on #1777
For brevity, maybe `OriginAtCorner`?

[2019-08-20 18:22] bartmathijssen commented on #1606
As there was little activity in pull request #1639 I started working on my own version. I used #1639 as a starting point. I now made it that the user's preferred font gets saved to the UserSettings object. I did run into an issue. When changing the font, the blocks' font gets changed, but the padding doesn't. It does render the blocks properly when reloading the page.

| Before reload  | After rel

[2019-08-20 18:33] ewpatton commented on #1455
Closed via a59ac22

[2019-08-20 18:33] #1455 closed

[2019-08-21 15:44] ewpatton opened #1782 "Add Timeout property to Web component"
To handle spotty or high latency connections, we should allow users to specify a Timeout property on the Web component so that if the component doesn't receive data after a period of time it cancels the connection and reports an error.

[2019-08-21 21:46] bartmathijssen opened #1786 "Remove horizontal scroll from template wizard dialog"
On ai2-test.appinventor.mit.edu the template wizard dialog has the option to scroll horizontally, but there is nothing to scroll to.

I have a branch ready. Just let me know if I need to make a pull request.

[2019-08-22 08:14] bartmathijssen commented on #1578
@ewpatton Is there a way for me to help with with the new documentation? I could start migrating the current documentation to Markdown.

[2019-08-22 13:25] ewpatton commented on #1786
@bartmathijssen If you've already have a fix, go ahead and make a PR.

[2019-08-22 13:38] ColinTree opened #1788 "MediaPlayer is not displaying"
Sound only

[2019-08-22 13:51] ewpatton commented on #1788
@ColinTree This should be fixed on ai2-test by PR #1780. Are you still observing the issue there?

[2019-08-22 14:06] #1786 closed

[2019-08-22 14:09] ewpatton commented on #1756
#1780 removed this check entirely, so I'm going to close this for now.

[2019-08-22 14:09] #1756 closed

[2019-08-22 14:12] ColinTree commented on #1788
Ah I see that patch, it does fixes this. Thanks @ewpatton

[2019-08-22 14:12] #1788 closed

[2019-08-23 01:52] halatmit opened #1789 "Add not-equals to text compare block"
Add this as a choice in the block dropdown along with =, <, and >

[2019-08-23 18:46] ewpatton commented on #1789
I'm marking this as affecting master since implementation wise all we need to do is wrap a check for `string=?` with `not` to negate its output. Nothing will need to be done companion-side to support this.

[2019-08-23 18:50] halatmit commented on #1789
That sounds right.  thanks.

== Hal

Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Fri, Aug 23, 2019 at 2:46 PM Evan W. Patton <notifications@github.com>
wrote:

[2019-08-23 18:57] bartmathijssen commented on #1276
@ColinTree What would be the benefit of having this feature in App Inventor?

[2019-08-23 20:12] bartmathijssen commented on #1719
Closed via 5a74fe2

[2019-08-24 17:13] espertus commented on #1777
How about `CoordsAtCorner`?

In any case, could an admin please assign this to me?

[2019-08-24 17:25] halatmit commented on #1777
OriginAtCorner ,  OriginAtCenter,  perhaps

 For scratch, you can set the this value and it's called origin.   It's
also the center of rotation.

== Hal

Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Sat, Aug 24, 2019 at 1:13 PM Ellen Spertus <notifications@github.com>
wrote:

[2019-08-24 17:47] espertus commented on #1777
Thanks. +1 to consistency with Slack

I was planning to do it as a boolean, so we'd have to choose either `OriginAtCorner` or `OriginAtCenter`. The former might be better for future changes to ImageSprite.

[2019-08-24 17:47] espertus commented on #1777
Could one of you please assign this to me?

[2019-08-24 17:54] ewpatton commented on #1777
@espertus Done.

What if the property was a dropdown instead, called `Origin`, and had possible values of `Top Left Corner` and `Center`? Possibly I could imagine we might want to eventually add other options, at least for the other corners (if not arbitrary coordinate as origin as far as rotation is concerned).

[2019-08-24 17:54] halatmit commented on #1777
OriginAtCorner is OK.
But I think OriginAtCenter (boolean with default true) might be better.
At some point, we should more to a settable origin, like Scratch.

== Hal

Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Sat, Aug 24, 2019 at 1:47 PM Ellen Spertus <notifications@github.com>
wrote:

[2019-08-24 17:56] halatmit commented on #1777
It's assigned to you.
== Hal

Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Sat, Aug 24, 2019 at 1:47 PM Ellen Spertus <notifications@github.com>
wrote:

[2019-08-24 18:00] halatmit commented on #1777
I think having a dropdown is not the right place we want to go eventually.
In Scratch the origin is the costume origin, and the way it's set reflects
the costume design.
Making the origin one of the corners seems unnatural in most cases.
But we should keep top-left for legacy purposes.

How about implementing the ability to set the origin as an offset from the
center of the image rectangle?
== Hal

[2019-08-24 18:29] espertus commented on #1777
Sounds good to me. Hal?

[2019-08-24 18:42] halatmit commented on #1777
Rather than the dropdown/select corner method for sprite center, I'd prefer
what Scratch does.
For Scratch, you can set the origin ("costume origin") as an offset from
the sprite geometric center.
That's useful because the "right" place for the origin will depend on the
shape and design of the sprite --
all the more so because the origin should also be the center of rotation
for the sprite.

So I'

[2019-08-25 02:40] espertus commented on #1777
For this PR, I'll only make OriginAtCorner/OriginAtCenter show up for Balls, not ImageSprites, so there really are only two options. I don't want to repeat the same mistake of clumsily exposing to the user that Ball and ImageSprite have the same abstract superclass.

I'm cool with making it a boolean or a dropdown. Which would make it easier to communicate that one of the options is deprecated?

[2019-08-25 09:57] bartmathijssen opened #1799 "Update designs for devices and statusbar in designer"
With #1797 updating the navigation bar to the new design I thought it would be a good idea to also update the status bar. I found images [here](https://material.io/design/platform-guidance/android-bars.html), but there is only a light version available.

Maybe it is also an idea to change the devices in the designer to more modern and generic ones. This makes it that App Inventor isn't tied to any

[2019-08-25 12:11] halatmit commented on #1777
I'd suggest making it a boolean.
== Hal

Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Sat, Aug 24, 2019 at 10:40 PM Ellen Spertus <notifications@github.com>
wrote:

[2019-08-26 16:03] ewpatton opened #1803 "Extension tooltips broken in nb179"
Power users report that extension tooltips no longer appear in the blocks editor. They are replaced with the name of the block instead.

[2019-08-26 18:34] bartmathijssen commented on #1799
@ewpatton This sounds interesting, I will look into this the coming weeks.

[2019-08-26 22:20] ewpatton opened #1806 "Address WebRTC needs on dev server"
Per the discussion in #1798, We need to think about a better way of supporting WebRTC mode when working with the development server so that eventually once we go to HTTPS for production we can remove the legacy code and clean up the REPL support.

[2019-08-27 00:32] #1803 closed, assigned to ewpatton

[2019-08-27 16:32] pavi2410 commented on #1744
@ewpatton Is building the companion alone and run it enough to test this?

[2019-08-27 20:14] halatmit commented on #1777
Thanks Ellen.

On Mon, Aug 26, 2019, 8:47 PM Ellen Spertus <notifications@github.com>
wrote:

[2019-08-28 13:22] ewpatton opened #1808 "Make ShowListsAsJson true by default"
ShowListsAsJson was first added in Companion 2.40 (Jan 27 2017). We are now at companion 2.55. At this point, I think it is fair to make this property true by default as more people are likely comfortable with the JSON syntax than the Scheme syntax for lists.

[2019-08-28 17:44] ewpatton opened #1810 "Display hidden components checkbox misbehaves after screen switching"
The "Display hidden components" checkbox that shows all components regardless of their Visible flag maintains its state between screens, but if there are multiple screens in the project, changing the state on one screen affects all screens.

We should decide whether the checkbox is project or screen level. The screens behave as if the state change is project-wide but the state of the checkbox is s

[2019-08-29 00:53] ewpatton opened #1812 "Implement typical DOM operations as a component or extension"
In response to a discussion on #1807, it might be useful for people who build apps that interact with web APIs to be able to process and interact with DOM documents (HTML, XML) using components with APIs similar to those one might get in the browser. For example, it might be useful to query for the element with a given ID, or for elements with an attribute matching a specific value. It would also

[2019-08-29 00:56] ewpatton commented on #285
@josmas Agreed. I don't think the deprecation is necessary. There may be many ways to solve the same problem. Some people might be inclined to look at TextBox as a way of hiding the keyboard, whereas others might look to the Screen. I think both ways are valid. (I'd also be willing to throw a block in control, but it's less clear to me that it should be there than something to do with screen manag

[2019-08-29 00:56] #285 closed

[2019-08-29 22:42] ewpatton commented on #1799
@bartmathijssen I'm going to assign this to you for now. If you decide you don't have time to look into it, let me know and I'll release it.

[2019-08-30 01:01] ewpatton commented on #1744
I believe so, but we should audit everything that gets compiled into AndroidRuntime.jar and runtime.scm to see if anything still references the annotations after compilation.

[2019-08-30 01:03] ewpatton commented on #1750
@conorshipp Did you or the rest of @mit-cml/kodular do any work on this? I'd be interested in knowing what you've found out.

[2019-08-30 08:58] conorshipp commented on #1750
No, not yet. I've asked @Vishwas-Adiga if it's possible to port our search function over to you as we have a different implementation.

[2019-08-30 13:47] Vishwas-Adiga commented on #1750
Kodular's search function iterates through all the component names and checks if the search input is a substring of any component's translated name.

This method ensures all components are listed, even if only a part of their names are entered. However, it can block the UI for a second or so, which is especially noticeable when there are lots of components. To prevent excessive blocking of the UI

[2019-08-30 19:08] ewpatton commented on #1750
@Vishwas-Adiga @conorshipp Take a look at
536a989

[2019-08-30 19:51] ewpatton commented on #1746
@bartmathijssen I think you were exploring this and you made the comment that shows as ghost. You would need to move the TARGET_SDK_VERSION into a common package (appengine doesn't depend on buildserver, so Compiler won't be available for import). Once you move the constant to a module that both appengine and buildserver depend on then you can do it this way. The most appropriate place is probably

[2019-09-03 14:04] ewpatton opened #1816 "Handle special cases of sin, cos, tan"
[From the forum](https://groups.google.com/d/msg/mitappinventortest/0S9EnMQEzmk/yEK18T6KBAAJ): Passing known good values to sin, cos, and tan (e.g., 0 degrees, 90 degrees, etc) result in very small errors. This is likely due to converting degrees to radians and then passing those values into the corresponding trig functions. We should confirm that this is true and consider adding checks to handle

[2019-09-03 15:00] ewpatton commented on #1719
Closed via 5a74fe2

[2019-09-03 15:00] #1719 closed

[2019-09-03 21:53] espertus commented on #1062
See proposal: https://docs.google.com/document/d/1fMbRtCLAjDqLaNrAlnHLa7fC5QvPGDKBBtTt554p1jU/edit?usp=sharing

[2019-09-05 09:23] bartmathijssen commented on #1627
@ewpatton What would the first step be to update the UI to use `<div>` elements instead of `<table>`s?

[2019-09-05 10:38] jerry73204 opened #1817 "About release versioning"
I noticed `v179` tag a few days ago. That would be a great convenience for me to find a _stabilized_ build. I would expect future stable releases follow this convention.

Since each AI2 build should pair up with correct AI2 companion version, Maybe we can plus the compantion version like `v179-XXX`, such that users have less trouble on finding correct version.

[2019-09-05 13:26] ewpatton commented on #1817
@jerry73204 Yes, the plan is that each release going forward from now will have a version tag that corresponds to `master` at the time the version was prepared. I'm not sure what the value is in the second half of your comment though. Who are "users" in this scenario? When we deploy App Inventor, we update the various companion URLs at the end of YaVersion.java, build the companions, place them in

[2019-09-05 13:54] jerry73204 commented on #1817
To elaborate, in case devs or sponsors like CAVEDU would like to setup an AI2 mirror, the extra companion version gives us convenience that we don't need to check each commit to see the version number.

For example, Apache Kafka 2.12 has to be paired up with correct version of Scala 2.3.0. The release is denoted as 2.12-2.3.0.

[2019-09-05 20:54] ewpatton opened #1818 "Removing an extension used on another screen corrupts project"
Steps to reproduce:

1. Create a project
2. Import an extension
3. Create a second screen
4. Add extension to screen
5. Reload
6. Delete extension
7. Reload again

Outcome: You will get an error saying Extension x could not be found. When deleting the extension, it is removed from all screens. However, only the active screen is saved (if the extension was present).

[2019-09-06 03:40] ewpatton commented on #1627
@bartmathijssen That's a really complicated project. Our plan is to start rewriting the UI using UiBinder starting in April as part of the next phase of our work in Hong Kong, so I would say this isn't worth trying to work on at this time.

[2019-09-06 13:03] ewpatton commented on #1817
That makes sense for when the dependencies are versioned independently (Kafka and Scala are two separately maintained projects with their own repos), but in our case the companion built at a given commit corresponds to that commit. The production version in the Play Store always is compatible with `master`. If you're not running the most recent version, then you will have to provide your own compa

[2019-09-06 18:21] #1201 closed

[2019-09-06 19:17] #1750 closed

[2019-09-06 20:15] espertus opened #1822 "Dragging sprites behaves differently from intended"
When testing a development branch, I discovered that Ball/ImageSprite.Dragged behaves differently from how I expected (as the original author) and, more importantly, how the user might expect.

Consider these blocks:
![blocks (2)](https://user-images.githubusercontent.com/661056/64451653-7ef3ee80-d099-11e9-9fc6-1526b38570db.png)

I thought this would cause the sprite (Ball or ImageSprite) to move

[2019-09-06 20:23] ewpatton commented on #1822
@espertus Good catch. If you have time to produce the updated reference documentation that would be great. @kdclang Do you have source files for the concept cards?

[2019-09-06 21:06] espertus commented on #1822
@ewpatton I was thinking of other changes to the sprite documentation, which I could do at the same time if you think they're a good idea. Right now, there is shared documentation for most of ImageSprite's and Ball's members, which refer to "sprites". I'm wondering if I should split out the documentation, since it might not make sense to a user to refer to a Ball as a sprite.

[2019-09-06 21:13] espertus commented on #1822
I saw other mistakes in sprite documentation: such as what `Enabled` affects. I'll fix that too.

[2019-09-07 17:51] bartmathijssen commented on #1799
@ewpatton I have been working on this the last day. I am in search of a couple of different images: Android Classic status and navigation bar, Android Holo landscape navigation bar, and an Android Material dark theme status bar. Do you maybe have an idea on where to get these resources? I found [this](https://material.io/design/platform-guidance/android-bars.html#status-bar) material status bar, b

[2019-09-07 18:53] #1746 closed

[2019-09-09 13:33] ewpatton opened #1824 "Reconcile ButtonBase and ToggleBase"
We should consider making `ToggleBase` a subclass of `ButtonBase` since so many properties are shared and all `ToggleBase` objects have `CompoundButton` as a view type (subclass of `Button`).

[2019-09-10 12:13] ewpatton commented on #902
As an update to this, both Android and iOS require that you provide icons at various dimensions. We should consider requesting larger icons (512px or 1024px square) and then shrink to all of the needed dimensions.

[2019-09-10 16:13] #1818 closed

[2019-09-10 18:18] #1606 closed

[2019-09-11 08:38] jerry73204 commented on #1817
Thanks your suggestion. I missed the commit message since my primary work was in early 2019. It's good that the versioning is made explicit.
In my point of view, the demand came from the fact the we maintain our patched AI2 release, and not always up-to-date to master. The commit message will give us more convenience to keep track of it. Thanks.

[2019-09-12 18:19] espertus opened #1830 "Replace deprecated canvas drawing cache code"
Canvas drawing caches were deprecated in API 28: "The view drawing cache was largely made obsolete with the introduction of hardware-accelerated rendering in API 11. With hardware-acceleration, intermediate cache layers are largely unnecessary and can easily result in a net loss in performance due to the cost of creating and updating the layer."

At some point, the code should be rewritten.

https

[2019-09-14 15:47] ewpatton commented on #1583
Implemented by #1612

[2019-09-14 15:47] #1583 closed

[2019-09-14 15:47] ewpatton commented on #1553
Implemented by #1637

[2019-09-14 15:47] #1553 closed

[2019-09-14 15:48] ewpatton commented on #1024
Fixed by #1644 and is pending a component release

[2019-09-14 15:48] #1024 closed

[2019-09-14 15:51] ewpatton commented on #1363
Assigning @barreeeiroo since he's opened #1731

[2019-09-14 15:55] #1707 closed

[2019-09-14 15:57] ewpatton commented on #1701
Fix was released in nb177

[2019-09-14 15:57] #1701 closed

[2019-09-14 16:02] ewpatton commented on #1436
Since this hasn't seemed to critical, it might be a good project for someone in @mit-cml/cornell-cs-5152-students-fall-2019 to look at

[2019-09-14 16:44] ewpatton opened #1833 "Add property to File to use app external data dir rather than whole storage partition"
Currently using File to read a file `/foo.txt` will read the file from the global storage directory, e.g., `/storage/emulated/0/foo.txt`. However, starting in Android Q this won't be possible. However, it is possible to have "app private" storage on this partition, e.g., `/storage/emulated/0/edu.mit.appinventor.aicompanion3/foo.txt` through an API call. We should have a way of migrating files usin

[2019-09-14 16:50] ewpatton commented on #1329
Given that FusiontablesControl won't be usable after December 3rd, I'm going to propose that we not fix this as the effort doesn't seem worth it.

[2019-09-14 16:50] #1329 closed

[2019-09-14 16:54] #1253 closed

[2019-09-14 20:51] ewpatton commented on #363
@thequixotic I know this is rather old, but have you considered submitting a PR for this work (and are you still interested in working on it)? I'm looking for potential student projects, but if you still have it and are close to done I'd rather not duplicate work.

[2019-09-14 20:55] ewpatton commented on #303
@josmas @jisqyv @SusanRatiLane @halatmit I was reviewing issues and this is one I'm thinking we should punt on because it would further tie us to Google services. For example, if we went this route we'd have to also have a fallback to use the standard location services model for non-Google Android versions (e.g., Amazon Kindle). I'm not sure the added complexity would buy us much.

[2019-09-15 14:50] ewpatton opened #1835 "Migrate contributing documentation to GitHub from Google Docs"
I'd like to start including more documentation in the repo that highlights the different things that need to be done when changes are made to the system, information about how to branch/commit/open a PR, and things to watch out for. As we continue making changes to the system, we can update the documentation as part of the change, and checking out the system at any point in time gets you the relev

[2019-09-15 14:54] ewpatton commented on #1835
In terms of organization, we might want to have a few different files:

- CONTRIBUTING.md: Main contributing file with high level things for people to keep in mind.
- CONTRIBUTING_BLOCKS.md: Contributing to the blocks language or blocks editor
- CONTRIBUTING_COMPONENT.md: Contributing to components (either with new features or whole components)
- CONTRIBUTING_UPGRADES.md: Notes on how to write upg

[2019-09-15 14:55] ewpatton commented on #1835
We should also think about using GitHub's template feature to have default templates for issues and pull requests (e.g., if your change affects the companion, did you branch from `ucr` and use `ucr` as the base branch?).

[2019-09-15 16:00] ewpatton opened #1838 "MockSprite dragging behavior"
I noticed this when testing #1823 but it also affects production. When dragging a MockBall, the ball disappears until the sprite is dropped. When dragging a MockSprite, the image is recreated, causing it to be redownloaded from the server and drawn. On slower connections with larger images you can see this more readily.

In both cases, the DOM elements should be reused for dragging and shouldn't r

[2019-09-15 18:08] ewpatton opened #1840 "Create issue and pull request templates"

[2019-09-16 11:10] kleffa commented on #363
https://puravidaapps.com/extensions.php

@ewpatton there is a extension for use the camera please check it

[2019-09-17 08:11] pasignature commented on #955
Okay, cool

[2019-09-18 08:52] aster94 opened #1841 "Read-Only Textbox"
hello,

I am not sure if this is the right place where to do feature request, but in my opinion the ability to have read only text box would be useful

A workaround would be to use a label instead but in some cases a text box suits better

once it was asked: https://github.com/niteshmourya/app-inventor-for-android/issues/1971

[2019-09-18 14:13] ewpatton commented on #1841
@mit-cml/cornell-cs-5152-students-fall-2019 One of you might want to take a look at this.

[2019-09-18 17:23] aster94 opened #1842 "add transparency/opacitu property for items in User Interface"
I think that adding a property for the transparency/opacity for some widget would be useful. Googling around a found a few solution like [this video](https://www.youtube.com/watch?v=Q_JGtfvwaMQ) (note that it has more then 13.000 views so I guess that many people wanted to do this) or [this article](http://inventorapp.altervista.org/colors-and-opacity-by-appinventor/).
Button, check box, label, sl

[2019-09-18 17:34] aster94 opened #1843 "add ability to pause the emulator"
Using the emulator in the last days I found that sometimes after a long time (>20 minutes) it stops working, while "coding" would it possible to pause it or is mandatory to kill and restart it later? Every time you kill/restart you would need 1-2 minutes to have it running again, while if there were the possibility to pause/freeze the emulator this would be faster. Another pro in following this ap

[2019-09-18 17:40] aster94 commented on #1405
Also a simple console where to write debug messages would be very useful (maybe not neat but works)
![image](https://user-images.githubusercontent.com/21184718/65171882-313d9580-da4c-11e9-8e7a-f87490d8db08.png)

[2019-09-18 17:48] aster94 opened #1845 "official support for wifi"
I know that there is an extension for wifi https://puravidaapps.com/wifi.php but since wifi nowadays is more* important that bluetooth why not officially support this working extension and bundle it in the Connectivity palette?

I am writing this mainly in the need of using a MCU with WiFi and I will control it with AI2. Since the  spread in the last years of these kind of boards (arduino, esp8266

[2019-09-18 18:29] aster94 opened #1847 "add ability to see source from visual blocks"
I wasn't able to find a way to see the text generated by the visual blocks. Is it possible to do this? Would it be a good addition for the project?

I know i can use the aia file but I was thinking about an easier way to share block of codes (as text) between different projects.

[2019-09-18 18:39] fturbak commented on #1405
I volunteer to do this. I've been looking for a smallish project on which
to get back into development mode. I also want to bring back the list
map/filter/reduce/sort work Soojin Kim did with me, but that's a little
bigger, so the variable watch feature would be a better one for me to get
back into the swing of things.

- lyn  -

On Mon, Nov 5, 2018 at 8:56 AM hal <notifications@github.com> wrote:

[2019-09-18 18:45] halatmit commented on #1405
Sounds great.  I was sad that watch didn't get in when it was first
prototyped.
== Hal

Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Wed, Sep 18, 2019 at 2:40 PM Franklyn Turbak <notifications@github.com>
wrote:

[2019-09-18 20:11] ewpatton commented on #1843
It is unclear to me what you mean by "pausing" in this context. The emulator is a virtual machine based on the qemu emulation system. "Pause" in that context would mean to store the state of the emulator on disk so that it can be restored later. If performance is your issue, that's unlikely to fix the problem because when you restore you will just end up with the same footprint as before.

[2019-09-18 20:11] ewpatton commented on #1350
I believe that this issue was fixed with #1781

[2019-09-18 20:11] #1350 closed

[2019-09-18 20:14] ewpatton commented on #1845
Most of the boards in question use HTTP as the means of communicating with them once connected. We have the Web component to do so. If you have specific use cases, I suggest that you first raise them either in the [user forum](https://groups.google.com/forum/#!forum/mitappinventortest) or on the [open source dev list](https://groups.google.com/forum/#!forum/app-inventor-open-source-dev).

[2019-09-18 20:14] #1845 closed

[2019-09-18 20:22] ewpatton commented on #1847
We do not have a textual representation of the blocks code. Code generation creates code in a special language called YAIL, which is a Scheme, that doesn't exactly have a 1-1 correspondence with the original blocks language. If you'd like to see what it looks like, you can look in the developer tools in your browser while using the companion app. The YAIL code is logged to the console. However, we

[2019-09-18 20:47] aster94 commented on #1847
Thanks a lot for the detailed answer, now is everything clear 😃 also I didn't know that the backpack was shared in all the project nor I knew that the png image could store the blocks.

Really wonderful tools! Thanks again

[2019-09-18 20:47] #1847 closed

[2019-09-18 20:57] aster94 commented on #1843
I know nothing about virtual machine so I am probably saying something not feasible/dummy. I thought that "pausing" the emulator it would have stopped to consume pc resources

In my idea the user could freeze the emulator so it won't get updated while he improve the app than when he wants to test it again he start again the emulator

[2019-09-18 21:01] aster94 commented on #1845
I completely agree that ai2 have the web component to communicate with these boards **after** they are connected, but how do we connect them?

I still think that a new user may be discouraged if he doesn't find the wifi module bundled inside the app at the same level of Bluetooth

[2019-09-18 21:19] ewpatton commented on #1843
The code running in the emulator is updated live as you make changes, so you shouldn't need to be restarting the emulator between edits. If you have a sequence of edits you make that don't get reflected in the emulator, please include them here so we can try and reproduce the issue. Please also include which operating system and aiStarter version you are using so we can replicate your setup.

[2019-09-18 21:27] ewpatton commented on #1694
Being worked on by @ObadaAL as #1792

[2019-09-18 21:30] ewpatton commented on #1048
@mit-cml/cornell-cs-5152-students-fall-2019 For those of you interested in some mobile development experience this might be a fun one to work on (and I know a lot of high school students who would be grateful for it).

[2019-09-19 07:43] aster94 commented on #1843
my idea was to add an option to start/stop the live update of the emulator

[2019-09-19 20:47] aster94 opened #1851 "Notifier.ShowChooseDialog wait for input"
It would be very useful to have a new option in the `notifier.showChooseDialog` that give the possibility to wait for the input from the user, something like `wait `where the user could put a `true `or `false`

![image](https://user-images.githubusercontent.com/21184718/65279811-57883180-db2f-11e9-965e-76828c29be87.png)

In the above block the commented if statement won't be executed because the c

[2019-09-19 21:18] lightingft commented on #1743
@ewpatton Provided that you would agree that this is indeed an issue, I could work on a fix for this.

[2019-09-19 21:26] #1851 closed

[2019-09-20 00:04] ewpatton commented on #1743
@lightingft Yes, I was able to confirm that this is a bug. If you have time to work on it, please do.

[2019-09-20 12:27] GOTFire opened #1853 "Google login for Compainion"
Is it possible add Google login to companion? Its make faster app development.We need just login google account same as ai2 account.So we dont need busy with reading qrcodes.

[2019-09-20 12:59] ewpatton commented on #1853
It is something we are considering, but it hasn't really been part of our typical usage scenario. The current connection mechanism is aimed for schools with shared devices where there isn't a 1-1 correspondence between student and device. The issue with logging in is that you need to remember to log out, otherwise the next student will have access to all of your projects. The QR code mechanism, by

[2019-09-20 13:01] ewpatton commented on #1853
I'll also note that this had additional complications for our other servers that don't use Google login. code.appinventor allows for anonymous login, the Ghangzhou server uses QQ, and our HK instance is wrapped in an educational portal infrastructure that uses its own (non-Google) accounts.

[2019-09-20 13:23] ewpatton commented on #1843
A concern I have with this proposal is that people might forget that they've stopped the live update and then become frustrated when they are making changes and they aren't seeing things update correctly. Even having done development over 20 years, I sometimes forget to re-compile and then end up wasting time debugging a problem that doesn't really exist. I don't know that this would be a good exp

[2019-09-20 14:25] aster94 commented on #1843
more that understandable, maybe to avoid this the screen of the emulator could be overwritten with a "pause" or something like that

[2019-09-20 14:47] pavi2410 commented on #1853
Also, using QR codes/key input is better way to connect with emulators than a login system.

[2019-09-20 15:26] matthewcoufal commented on #1841
@ewpatton Can I take this issue?

[2019-09-20 15:28] ewpatton commented on #1841
@matthewcoufal Sure. Please first test how Enabled works w.r.t. this and maybe investigate ways that others have done read-only text boxes on Android first. This will give us a good frame of reference before moving on to an implementation. For example, we might want to make it so that Enabled works correctly with large texts, or we might want to add a new ReadOnly flag that is less strict than the

[2019-09-20 17:16] aster94 opened #1854 "Add support for hexadecimal numbers without conversion"
can someone have a look at these blocks? I can't see any error

![blocks (1)](https://user-images.githubusercontent.com/21184718/65345659-10577a80-dbdb-11e9-8412-804b84c9aafc.png)

i get `0 - 0 - 0`

[2019-09-20 17:48] ewpatton commented on #1772
Fixed by #1773 and pending a component release

[2019-09-20 19:09] ewpatton commented on #1854
App Inventor doesn't include 0x as a prefix for hex. Of the blocks that you have, only the last one including the convert number block will do what you want, and only if you remove the `0x` prefix. Note that you'll need to use a text block instead because 'ff' is not a valid decimal number.

[2019-09-20 19:10] ewpatton commented on #1854
In the future, these types of inquiries should be directed to the [MIT App Inventor Forum](https://groups.google.com/forum/#!forum/mitappinventortest).

[2019-09-20 19:31] aster94 commented on #1854
Yes, sorry, it would be nice if something like this was in the doc http://ai2.appinventor.mit.edu/reference/blocks/math.html#bitwise_and people who cames from C could have problems to make this block working

[2019-09-20 21:16] GOTFire commented on #1853
Yes , qrcode is better for students and emulators but i think too many people use their devices for debug ,like me( we need better emulator :(  ).

I think we need qrcode and google login at the same time.So users can select own method.I can select Google Login  and the students or emulator users can select qrcode login.

Google login method is not avaible for all user as ewpatton said.Maybe we ca

[2019-09-20 21:21] GOTFire commented on #1843
I think we need enable/disable switch for live updates.When i makes changes on my  project and if my phone connected for debug.Its refresh ui too many times.I dont need sometimes live updates.Because  i do some batch renames/adds/changings . I dont want reset and rescan qrcode everytime.I just need little option to disable live updates when i do  batch changes

[2019-09-20 21:41] aster94 opened #1856 "Notifier.ShowMessageDialog doesn't pick new line \n but accept <br>"
It would be nice to have this fixed, i noticed while using

reference: http://teach.appinventor.mit.edu/forums/topic/new-line-in-the-notifiers-showmessagedialog/

[2019-09-22 19:39] lightingft commented on #1050
@ewpatton As pointed out above, using a Space would not be viable due to it being introduced in API14. What we could do is indeed add a Spacer component which simply uses an invisible underlying view as the underlying Android view component, for which the user could alter the height, width and visibility settings. We could also add a background color to allow for colored spaces.

I could take this

[2019-09-23 02:42] ewpatton commented on #1050
@lightingft I think that there are other higher priority items that could be explored. At the very least, people can (and do) use empty Labels as a workaround here.

[2019-09-23 14:53] kurtfchua commented on #1840
@ewpatton Hi Evan can I take this?

[2019-09-23 15:03] kurtfchua commented on #1048
@ewpatton Hi Evan can I take this?

[2019-09-24 17:33] #994 closed

[2019-09-24 18:25] #1749 closed

[2019-09-24 18:26] ewpatton opened #1861 "New code sent before assets"
Steps to reproduce:

1. Open App Inventor
2. Load Hello Purr from the built-in repo
3. Connect the companion (either WebRTC or legacy)
4. Open the Network panel in the browser dev tools
5. Upload a new image asset
6. Observe in the network panel that the asset is sent to the server but not the companion
7. Change the button picture from Wilson to the newly uploaded images
8. Observe in the network

[2019-09-24 18:27] ewpatton commented on #916
@mit-cml/cornell-cs-5152-students-fall-2019 If any of you are interested in a bug squashing mission, this would be a really helpful one to tackle.

[2019-09-26 12:34] #1840 closed

[2019-09-27 07:13] ColinTree opened #1862 "Length property (width/height) behaves differently in designer & runtime"
https://github.com/mit-cml/appinventor-sources/blob/33e6bd6640113e51f76fdefdd662251a7bdc00b8/appinventor/components/src/com/google/appinventor/components/runtime/AndroidViewComponent.java#L209

https://github.com/mit-cml/appinventor-sources/blob/33e6bd6640113e51f76fdefdd662251a7bdc00b8/appinventor/appengine/src/com/google/appinventor/client/editor/youngandroid/properties/YoungAndroidLengthProperty

[2019-09-27 12:47] ewpatton commented on #1862
The code is correct. In the first case, it is checking for an error state (that `pCent` isn't in [0, 100]) and reporting it. In the second case, it's checking whether v is in [0, 100] so that it can set the value.

I guess there is a minor error in that the latter case uses `v > 0` rather than `v >= 0`, which would disallow for a component to have 0% width or height, but given that it would effect

[2019-09-27 12:49] ewpatton commented on #1856
@mit-cml/cornell-cs-5152-students-fall-2019 One of you might want to take a look at this one.

[2019-09-27 12:56] ColinTree commented on #1862
The '0' is my point in this issue, although it does not actually bring any side effect.

[2019-09-28 14:15] ewpatton commented on #1862
I'd like to err here on the side of making the designer slightly more lenient rather than making the blocks slightly more restrictive. If for some reason someone is setting 0% width/height in the blocks, making it more restrictive will trigger an error where originally there wasn't one. If we allow for 0 in the designer, then it won't affect any existing projects since it wasn't something that cou

[2019-09-28 17:33] BeksOmega opened #1865 "FieldFlydown is generating detached nodes"
**Describe the bug**

FieldFlydown is calling createDom() multiple times, causing the generation of detached nodes.

**Affects**

- [ ] Designer
- [X] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Other... (please describe)

**Expected behavior**

There should only be one instance of the Flydown dom on the page.

**Steps to reproduce**

1. Grab a block that has field fl

[2019-09-28 18:03] PeterMathijssen opened #1866 "The text in the spinner is to long when choosing another preview size"
**Describe the bug**

There is a bug when choosing another language. I made a animated gif to show the effect.

The text in the spinner is to long when choosing another preview size. It may be just a translation problem from the time when you could only choose between phonesize and tabletsize with a checkbox. Because of the long text the preview isn’t looking as it should.

**Affects**

- [x] Desi

[2019-09-28 20:25] ewpatton commented on #1865
@BeksOmega I believe your diagnosis is correct. The flydown should only call createDom once.

[2019-09-30 00:37] austenjoa commented on #1856
I can take a look at this. Would there be any concerns of breaking already existing apps at all by changing the behavior of the message dialog?

[2019-09-30 16:22] lightingft commented on #1842
@ewpatton I could take this issue up and implement the property. A few concerns, however:

- What should we do with the existing selection of the opacity property for the color picker in Designer? Should we then only make the opacity property as a block-only property, since we may already use the color picker in Designer to select transparent colors?
- Should we implement this for all of the Andro

[2019-10-01 15:00] ewpatton commented on #1761
Confirmed this through a separate test when working with one of the power users. Specifically, the issue occurs if an app without a marker is compiled and a runtime marker is created. The buildserver doesn't include the marker asset since it wasn't used at compile time.

[2019-10-01 15:55] ewpatton commented on #1856
@austenjoa Yes that is a possible concern if people are showing HTML that includes `<br>` and \n. There might be a couple ways to approach it:

1. We just replace \n with `<br>`. People will have to strip out the \n if they don't intend to have multiple line breaks.
2. We detect whether the string contains HTML. If it doesn't, then we interpret \n as `<br>` otherwise we keep the existing behavior.

[2019-10-01 16:13] ewpatton commented on #1842
@lightingft

We could have it so that if they pick a color with an alpha we update the Opacity property accordingly. When opening the picker, set the alpha to the value of Opacity.

It probably makes sense for most AndroidVisibleComponents except for WebViewer, Map, and VideoPlayer. Basically, any component that has a BackgroundColor property should probably have an Opacity property as well.

The

[2019-10-01 17:43] #1761 closed

[2019-10-02 14:22] ewpatton opened #1869 "Make loops interruptible in companion"
**Describe the desired feature**

If one creates a while(true) loop, this blocks the main thread indefinitely. We should have a way to send a "break" command from App Inventor to interrupt the thread, such as if the developer changes the designer or blocks.

**Give an example of how this feature would be used**

An app inventor creates a while(true) block in a button click event. This causes an in

[2019-10-03 12:14] kunalkool opened #1870 "Facing Build Failed Issue !"
Hello Everyone , actually i am facing very strange issue when i did ant , an this the following issue
<code>
[java] WARNING: Could not open/create prefs root node Software\JavaSoft\Prefs at root 0x80000002. Windows RegCreateKeyEx(…) returned error code 5.
[java] Compiling module com.google.appinventor.YaClient
[java] Ignored 2 units with compilation errors in first pass.
[java] Compile with -stric

[2019-10-03 17:03] lightingft commented on #1842
@ewpatton Cheers for the answers. I agree to having the Opacity color update with the color picker as well. Then I suppose we can have both the BackgroundColor and the opacity property in the Designer properties.

Another point of interest is whether the value should be in percentage (integer from 0 to 100), or in an alpha value format (integer from 0 to 255)? I would personally think that having

[2019-10-03 17:12] conorshipp commented on #1870
You already asked in the open source forum... Why are you posting here after you've already been given the solution?
Also, this isn't an issue with the App Inventor sources so this isn't the correct place to ask.

[2019-10-03 19:14] austenjoa commented on #1856
2 and 4 are probably the least intrusive options. I'm not sure which is preferable between them; 2 seems to be more user intuitive-- would there be any possibility of user disruption? Not sure if there's some use for newline characters that wouldn't always call for an html break instead. 4 seems safer, but I'm not sure how visible it would be to users (I'm users that think to look for html vs. nor

[2019-10-03 21:40] TimCarterLinux commented on #1573
Apart from switching text on and off on listpickers after selection, also affecting images on buttons?
https://groups.google.com/forum/#!topic/mitappinventortest/uGjxpCwKstM
https://groups.google.com/forum/#!topic/mitappinventortest/Q2qcUpI07a8

[2019-10-06 22:17] ewpatton opened #1873 "Navigation component"
**Describe the desired feature**

We have a rich set of map components, but we lack the ability to navigate between points using a road or other path network.

**Give an example of how this feature would be used**

Students could use it to build a "navigate me home" type app. I'm also inspired thinking about the HK students who built an app for grandparents with dementia and how this might be used

[2019-10-06 22:43] ewpatton commented on #1873
@rgangela99 Take a look at https://github.com/GIScience/openrouteservice

[2019-10-06 22:46] ewpatton commented on #1870
Agreed with @conorshipp. You've made modifications and so this doesn't qualify as an issue with our repo. Please continue the conversation on the open source group.

[2019-10-06 22:46] #1870 closed

[2019-10-08 16:11] #1376 closed

[2019-10-09 04:29] ewpatton opened #1875 "Color-code event parameters based on types"
**Describe the desired feature**

Color-code event parameter entries based on type extracted from Java. If type doesn't map cleanly to a YAIL type (e.g., any) then use the variable orange color as we do today.

**Give an example of how this feature would be used**

There is sometimes lack of clarity about the type of an event parameter. Additional color coding could reveal this information in a mo

[2019-10-09 04:31] ewpatton commented on #1875
cc @kdclang @stezelMIT @fturbak @SusanRatiLane @halatmit @jisqyv

I'm curious what you all think about this proposal.

[2019-10-09 13:57] SusanRatiLane commented on #1875
Hmm. I'm not sure it makes sense to color code primitive types. We're very fluid about string vs number, etc. However, distinguishing between a primitive type and a data structure like a list or object makes a lot of sense.

[2019-10-09 15:40] ewpatton commented on #1875
This is true in how we interpret these things, but the value spaces of strings is larger than the value space of numbers, so knowing that a variable is a text versus number is useful. Also, in event handlers we should always be using the most appropriate type, I would consider it a bad design choice if we chose to provide a number as a String in the handler rather than using the appropriate int, l

[2019-10-09 19:09] #1865 closed

[2019-10-13 18:09] kkashi01 commented on #1806
@ewpatton IF not using "legacy" option, how do you pass the ip address of computer when starting the local dev server? Should updating --address to point to my computer ip do the trick (then using companion to access dev server and retrieving assets from dev server)?

[2019-10-13 21:03] GOTFire opened #1878 "Is it possible less permission request?"
**Describe the desired feature**
Hello.
I publised my app to play store.Its getting hits and users love my app.But there is a one star comments because my apps need WRITE_EXTERNAL_STORAGE .Its sensitive permission.Users think if i grant permission this app acces my private files/images.

Why we need request this permission? Can we use app folder? Is it possible?

Discussion link.

https://communit

[2019-10-13 21:15] pMertDogan opened #1879 "Components and needed permission"
**Describe the desired feature**
We cant see permission thats needed for components.

Some components needs special permissions.Like phone component.But we cant see this permission on development.We can see this permision request when we install app to device or when we open screen that screen uses this component.

Another reason we cant idenfity which component need this special permissions.ıf ou

[2019-10-13 22:53] ewpatton commented on #1878
I expect that we will probably move to App-private storage in the next API upgrade with legacy support for “external” storage as Google has removed global read write permissions in Android Q.

[2019-10-13 22:56] ewpatton commented on #1879
I’m weary of this because the whole point of MIT App Inventor is to lower the barrier to entry of making app development; having to ask app inventors to reason about the permission model is probably asking too much for most of them. Also, the permission model on Android and iOS are slightly different and we don’t necessarily want to make platform-specific allowances in the web UI as we move forwar

[2019-10-13 23:12] ewpatton commented on #1879
This is also complicated by the fact that some permissions are now enabled on a per-property/per-block basis. It wouldn’t just be on the component level put on each block potentially.

[2019-10-14 16:20] ewpatton opened #1880 "Support binary AIAs in repo parameter"
**Describe the desired feature**

Currently the repo URL expects to resolve the URL to a base64-encoded project file. It would be nice if we could support binary AIAs as well. This would allow, for example, someone to check their AIA into a GitHub repo, without needing to base64-encode it first, and then use the repo parameter to load it into App Inventor.

[Inspired by this post](https://groups.g

[2019-10-14 16:23] ewpatton commented on #1880
Somewhat related, but separate, we should allow to import from URL just like we do with extensions.

[2019-10-15 19:12] ewpatton opened #1881 "if-elseif-else broken with typeblocking"
**Describe the bug**

[From the forum](https://groups.google.com/d/msg/mitappinventortest/dE835VzFCrU/yZPJV5TqCgAJ): Create an if elseif else block with statements in the if and elseif portions. Try to add a new statement using typeblock. All of the statements from the bodies, plus the new statement, will be aggregated together into the else block.

**Affects**

- [ ] Designer
- [x] Blocks editor

[2019-10-16 00:16] ewpatton opened #1882 "App Metadata and Activity Metadata for extensions"
**Describe the desired feature**

Over the years we have received a number of requests for adding supplemental metadata to the Android Manifest. We do have a mechanism for doing this for new activities introduced by extensions, but these methods fall short if one wants to update metadata associated with Screen1 or with the app as a whole.

**Give an example of how this feature would be used**

I i

[2019-10-16 02:23] halatmit opened #1883 "implement repeat forever"
**Describe the desired feature**

**Give an example of how this feature would be used**

**Why doesn't the current App Inventor system address this use case?**

**Why is this feature beneficial to App Inventor's educational mission?**

[2019-10-16 11:31] 10MINT opened #1884 "GCP api keys exposed"
**Describe the bug**

For some apps I uploaded to Google Play, I got the error

Many people over at Kodular got this problem too, see https://community.kodular.io/search?q=gcp%20keys%20exposed

**Affects**

- [ ] Designer
- [ ] Blocks editor
- [ ] Companion
- [x] Compiled apps
- [ ] Buildserver
- [ ] Other... (please describe)

**Expected behavior**

 We should not have exposed keys in the platfor

[2019-10-22 23:19] ewpatton opened #1887 "Multiple component select in designer"
**Describe the desired feature**

Allow the developer to shift+click to select multiple components, and filter the properties list such that you can set common properties of the selected components.

**Give an example of how this feature would be used**

Consider an app with multiple buttons that all need to look the same. Right now, one way to do this is to put the buttons in a list and set their

[2019-10-24 16:32] aster94 opened #1889 "trash bin for projects"
**Describe the desired feature**

Add trash bin for project

**Give an example of how this feature would be used**

If an user, by mistake, delete a project it can't be undone. It would be useful to have a trash bin that contain the project for 7-30 days or something like this

[2019-10-24 16:33] ewpatton commented on #1889
Already being considered as #1783

[2019-10-24 16:33] #1889 closed

[2019-10-28 21:14] bartmathijssen opened #1893 "Sign in with Apple"
**Describe the desired feature**

Allow the user to sign in using their Apple account. With App Inventor having iOS support in the near future users would want to make applications specifically for their iPhone. It would only be logical for these users to be able to sign in using their Apple account, as some users probably only use services within the Apple ecosystem, and therefore don't own or ha

[2019-10-29 11:43] ewpatton opened #1894 "Block drag issue"
**Describe the bug**

[From the forum](https://groups.google.com/d/msg/mitappinventortest/yyqvUV8SdI0/PK4rvKhkDQAJ): Sometimes dragging a block out of the flyout causes the block to freeze.

**Affects**

- [ ] Designer
- [x] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Other... (please describe)

**Expected behavior**

Block dragging should occur as it would normally.

[2019-10-31 18:17] #1841 closed

[2019-11-01 18:23] #1894 closed

[2019-11-02 21:51] ewpatton opened #1897 "Polygon points undefined after drag"
**Describe the bug**

[From the forum](https://community.appinventor.mit.edu/t/bug-with-polygon-in-map-component/742?u=ewpatton): After dragging a polygon an attempt to get the points results in an error.

**Affects**

- [ ] Designer
- [ ] Blocks editor
- [x] Companion
- [x] Compiled apps
- [ ] Buildserver
- [ ] Other... (please describe)

**Expected behavior**

The points list of the polygon shou

[2019-11-04 14:12] ewpatton opened #1899 "Coercion failure in Points/HolePoints"
**Describe the bug**

[From the forum](https://community.appinventor.mit.edu/t/bug-with-polygon-in-map-component/742/5?u=ewpatton): If one attempts to set Points or HolePoints in a map feature using a list of text objects containing numbers, an exception is thrown. The problem is that we aren't performing the typical type coercion that App Inventor does for users when they include numeric values i

[2019-11-05 17:59] ewpatton commented on #1899
On further review, this is behaving as expected.

[2019-11-05 17:59] #1899 closed

[2019-11-06 20:10] ewpatton commented on #1883
@halatmit Is your vision of this a built-in block similar to what Scratch does, or something more akin to Clock's Timer just with 0 timeout? How does this differ from `while(true) do ...`?

[2019-11-07 03:07] halatmit commented on #1883
while (true) would be OK except for ANRs and the need for users to somehow
abort the program.  and
the alternative syntax Repeat Forever.

==Hal

On Wed, Nov 6, 2019 at 3:10 PM Evan W. Patton <notifications@github.com>
wrote:

[2019-11-07 18:11] ewpatton opened #1901 "Global keyword translation breaks language switching"
**Describe the bug**

[This change](https://github.com/mit-cml/appinventor-sources/commit/7eec108841a95aaf6da3340b46141156d6f8295b), which I implemented, broke the ability of a program with global variables to work when switching languages. Prior to this change, we always saved the keyword 'global' into the variable name in the XML, even in the case where the "global" keyword in the "initialize gl

[2019-11-08 16:28] ewpatton opened #1903 "Investigate Android App Bundles"
**Describe the desired feature**

Google Play is pushing hard on AABs for distributing apps via Google Play. We should at least have a better understanding of how we could update the buildserver to produce AABs in addition to APKs.

**Give an example of how this feature would be used**

It may be necessary in the future to distribute apps (such as the companion) using the AAB format.

**Why doesn'

[2019-11-13 15:12] #1901 closed

[2019-11-14 20:30] ewpatton opened #1905 "Camera does not request WRITE_EXTERNAL_STORAGE in compiled apps"
**Describe the bug**

Camera writes to external storage, but in compiled apps it doesn't bother to request WRITE_EXTERNAL_STORAGE permission. This isn't an issue in the companion because the companion requests WRITE_EXTERNAL_STORAGE on startup if it doesn't have the permission.

**Affects**

- [ ] Designer
- [ ] Blocks editor
- [ ] Companion
- [x] Compiled apps
- [ ] Buildserver
- [ ] Other... (pl

[2019-11-14 20:39] ewpatton commented on #1883
@halatmit I'm concerned that this basically requires a CPS solution if we turn it into a block that can be used anywhere in the code. We might be able to put some constraints on it, such as only allowing it at the top level of an event handler, but we'll need to think about what the right constraints are so that it doesn't become intractable without a complete rewrite of the code generator.

[2019-11-15 00:12] ewpatton commented on #1887
Fixed via #1891

[2019-11-15 00:12] #1887 closed

[2019-11-16 05:13] ewpatton opened #1909 "Update environmental sensor documentation"
**Describe the bug**

The documentation strings for the new environmental sensors all reference air pressure.

**Affects**

- [ ] Designer
- [ ] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [x] Documentation

**Expected behavior**

The documentation should match the sensors.

**Steps to reproduce**

See the documentation as deployed on ai2-test.

[2019-11-19 17:52] PeterMathijssen opened #1914 "Long text in textfield of textbox or label"
**Describe the desired feature**

When i want to add a long text to the about screen textfield i can make the field bigger.

![](https://community.appinventor.mit.edu/uploads/default/original/1X/794a37e24e444b12fd2af4278d2469eb2390c37c.png)

Would it be helpful if we can do the same with the text fields of a textbox and a label in the designer? Those are the components that might have the most tex

[2019-11-21 20:27] ewpatton commented on #1048
@kurtfchua Here's a library you can use: https://github.com/bumptech/glide. I would recommend looking at v3 for maximum compatibility with our code base.

[2019-11-22 07:54] pavi2410 commented on #1884
This is the reason. I have verified this myself.

[2019-11-22 15:33] ewpatton commented on #980
Fusion tables is being shut off in just over a week, so this issue is no longer valid.

[2019-11-22 15:33] #980 closed

[2019-11-22 15:43] halatmit commented on #980
Should we post something to alert people?

==Hal

On Fri, Nov 22, 2019 at 10:34 AM Evan W. Patton <notifications@github.com>
wrote:

[2019-11-23 03:41] ewpatton commented on #1810
Fixed by #1852

[2019-11-23 03:41] #1810 closed

[2019-11-23 03:49] ewpatton commented on #1473
#1916 removed the FusiontablesControl from general use and will go into the next release. I'm considering this "done".

[2019-11-23 03:49] #1473 closed

[2019-11-23 03:50] ewpatton commented on #1436
Fixed by #1888

[2019-11-23 03:50] #1436 closed

[2019-11-26 16:31] ewpatton opened #1918 "Mixing active and inactive event handlers of the same (component, event) tuple has mixed results"
**Describe the bug**

Having two event handlers for a specific event, one enabled and one disabled, will emit semantically different code depending on the placement of the event handlers relative to one another.

**Affects**

- [ ] Designer
- [x] Blocks editor
- [x] Companion
- [x] Compiled apps
- [ ] Buildserver
- [ ] Other... (please describe)

**Expected behavior**

If two event handlers exist,

[2019-11-26 18:11] #1918 closed

[2019-11-26 18:36] ewpatton opened #1920 "Add "Force Refresh Companion" menu item to "Connect""
**Describe the desired feature**

Add a menu item to the Connect menu called Force Refresh Companion that will resend all of the YAIL for the screen.

**Give an example of how this feature would be used**

On rare occasions we might not detect that the screen needs to be updated. In this case, the developer can use this option to force resending the entire screen (versus editing a designer propert

[2019-11-26 18:36] ewpatton commented on #1920
@mit-cml/cornell-cs-5152-students-fall-2019 @bartmathijssen One of you might want to take a look at this.

[2019-11-26 21:23] ajbufort opened #1922 "Enable Auto Backup Option Under Settings Menu (on by default)"
The current Settings menu in the top toolbar does not have an option to _automatically save (export for download) the current project (or all projects) and associated keystore at regular intervals_.

While students (and **everyone**) should definitely get in the habit of manually backing things up regularly, they ought not be penalized (at least too heavily) for failing to do so.  I propose such a

[2019-11-26 23:53] kalsheikh commented on #1920
Hey @ewpatton can you assign me to this? Also, can I get an idea of where I should look into for adding the menu item / the function for refreshing the companion app?

[2019-11-27 00:43] jisqyv commented on #1922
@ajbufort What is the user experience when the interval is up? Does it just pop up a download box in the browser?

[2019-11-27 04:28] ajbufort commented on #1922
@jisqyv Yeah.  I know it is not as seamless as it could be, and I debated going the full nine on my first go and having a settings wizard in order to control interval and location of saves so one is not repeatedly prompted, but in the end I left it that way (with the pop-up) for now, and with the interval as a presumed constant.  If the user is away from the page and then returns after the timer t

[2019-11-27 16:40] ewpatton commented on #1922
I don't see how this is possible. Maybe in a local instance wrapped with Electron it could work, but browser settings and sandboxing would effectively make this impossible since it is the user settings that control whether the download dialog would appear and you don't usually have direct access to the user's file system. Do you have a proof of concept that works from within an App Engine instance

[2019-11-27 17:52] ewpatton commented on #1920
@kalsheikh The menus are constructed in [TopToolbar#createConnectMenu](https://github.com/mit-cml/appinventor-sources/blob/82d04c8a3f0361f5095233bb0067d21514de781e/appinventor/appengine/src/com/google/appinventor/client/TopToolbar.java#L247) and an example of how to send the screen to the device is shown in [YaFormEditor#updatePhone](https://github.com/mit-cml/appinventor-sources/blob/82d04c8a3f03

[2019-11-27 20:54] ajbufort commented on #1922
The thing that bugs me most regarding your concerns is your second one:

That's the big dealbreaker to me.

As far as #1 goes, I suppose it would be up to the user then as to how they want to configure auto-save behavior in terms of a dialog or no.  I don't see that as a big deal because, if it always has to be manual via a dialog every time anyway, so what, right?  It's only a once-an-hour or mor

[2019-11-27 21:07] ewpatton commented on #1922
At least on Safari, I believe the default behavior is just for downloads to go into Downloads and you're not prompted where to save, so it might not necessarily be a case of the person accepting and putting it in the wrong place. Another possibility is that in the case where people are used to getting and accepting the prompt, they might just blindly click OK "because that's what you do" rather th

[2019-11-27 21:13] ajbufort commented on #1922
Ok, well given what you said regarding auto-backup to a Google Drive folder, i would support that, so these kids have at least some automatic protection.

[2019-12-02 16:06] #1881 closed

[2019-12-02 20:16] #1914 closed

[2019-12-04 04:00] ewpatton commented on #394
Fixed by #1895

[2019-12-04 04:00] #394 closed

[2019-12-04 04:03] ewpatton commented on #395
Fixed by #1895

[2019-12-04 04:03] #395 closed

[2019-12-04 04:04] ewpatton commented on #339
Closing because FusiontablesControl is no longer supported.

[2019-12-04 04:04] #339 closed

[2019-12-04 04:07] ewpatton commented on #749
Closing because FusiontablesControl is no longer supported.

[2019-12-04 04:07] #749 closed

[2019-12-04 04:10] ewpatton commented on #791
Discussion on #1014 resulted in us deciding that instead of adding an IgnoreSSLError flag we should instead allow the user to upload a certificate (potentially self-signed) that will be used for validating the connection rather than using the standard trust evaluation. This is more secure than ignoring all SSL errors.

[2019-12-04 04:11] ewpatton commented on #848
Closing because FusiontablesControl is no longer supported.

[2019-12-04 04:11] #848 closed

[2019-12-04 04:18] ewpatton commented on #1027
@jisqyv Is this live in nb180a or do we need to wait to close this after nb181 goes out?

[2019-12-04 15:04] #1542 closed

[2019-12-04 21:21] ewpatton commented on #942
Since we've never been able to replicate it and there's been significant work advancing Chrome as the Android System Webview on newer versions of Android, I'm declaring this as won't fix unless we see new reports.

[2019-12-04 21:21] #942 closed

[2019-12-04 22:12] #1862 closed

[2019-12-05 10:08] ColinTree opened #1931 "Properties description issue"
Related: 0e2a9adf42fb2aacf0acd27e08fb9a4657038f16 (#1825)

E.g.
![image](https://user-images.githubusercontent.com/22613139/70225276-ab4b0400-1789-11ea-92dc-f0c085e3d423.png)

[2019-12-05 10:19] conorshipp commented on #1931
This is already a known issue. It's fixed in #1911.

Also, I believe it was introduced in #1739 not #1825.

[2019-12-05 10:24] ColinTree commented on #1931
@conorshipp Thanks, I'll have a check

[2019-12-06 21:35] ewpatton opened #1936 "Cannot drag markers on ai2-test"
**Describe the bug**

Markers can no longer be dragged around in the designer on ai2-test.

**Affects**

- [x] Designer
- [ ] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Other... (please describe)

**Expected behavior**

Markers should be draggable.

**Steps to reproduce**

1. Create a new project with a Map
2. Place a Marker
3. Attempt to drag the marker. It won't mo

[2019-12-07 17:18] ewpatton commented on #1861
@jisqyv I don't know if you've looked much into this, but while I was looking at the behavior of #1934 I noticed that in `pollYail` we call `buildYail` before `RefreshAssets` ([ref](https://github.com/mit-cml/appinventor-sources/blob/4c86a2e1801b559bcba3aa72be64c3aba1223c19/appinventor/blocklyeditor/src/replmgr.js#L271)). It seems to me like they should be the other way around?

[2019-12-08 08:42] ColinTree opened #1939 "Request of adding a webhook in appinventor-sources repo"
Hello App Inventor Develop Team

I'm Colin and you may know that I'm from China. In China, we have a unique network environment which causes some people in China may not able to visit Github or it is very slow to load data from it, so to pull appinventor sources from Github is almost impossible for them.

To solve this, I had wrote a bot: https://github.com/ColinTree-bot/webhook . One task of this

[2019-12-09 18:38] #1140 closed

[2019-12-10 03:37] ewpatton commented on #1939
@ColinTree I understand your concern about being able to keep a reliable mirror in China. However, I'd be a bit concerned about having a webhook we can't validate being responsible for the synching. If possible, would you be willing to share the source so that we could deploy the webhook at MIT?

[2019-12-10 07:51] ColinTree commented on #1939
@ewpatton Fully understandable sir, it's right here, https://github.com/ColinTree-bot/webhook/blob/master/webhook.js#L112

P.S. I will possibly rewrite this with koa in the future

[2019-12-10 07:56] ColinTree commented on #1939
Oh sorry did you mean share the organization on gitee? And then yes of course I can even transfer the ownership to MIT team.

[2019-12-10 22:02] ewpatton commented on #1936
Fixed by #1937

[2019-12-10 22:02] #1936 closed

[2019-12-15 01:58] stezelMIT opened #1950 "CloudDB needs a ClearDB block"
Greetings  dear Developers,
I am working  on the YR Media "Book Yelp" project where we introduce  and use the CloudDB.  In the project   I needed to quickly clear the CloudDB of all content with a button but realized that you can only clear the DB *one tag at a time*.  I am not sure if there was a logic for this choice but it seriously complicates things for novice users.  The issue is that  to cl

[2019-12-15 02:00] ewpatton commented on #1950
@jisqyv This seems like it needs a Lua script on the CloudDB server in order to be atomic. Do you have any thoughts?

[2019-12-15 04:44] jisqyv commented on #1950
@ewpatton Does it need to be atomic? Indeed if it does, then we need to implement a "flushdb" equivalent (note: on a real redis server this nukes the database) that will remove all of the tags associated with a project.

[2019-12-16 14:50] ewpatton commented on #1950
@jisqyv I'm not sure it does, but I can imagine situations where the application is partially driven by some state that is synchronized in CloudDB, and it's unclear what happens if the state isn't flushed atomically. I'm reminded of something @mishuma's tire app where you have a list of keys mapping to files and probably want to clean it all up together before adding new entries to the freshly cle

[2019-12-16 16:48] #1235 closed

[2019-12-17 21:22] ellelili2025 commented on #939
@ewpatton How do we differentiate Dev mode vs prod mode on UI when saving a project right now or it needs to be added?

[2019-12-20 03:55] #264 closed

[2019-12-20 03:55] #968 closed

[2019-12-20 03:55] #1733 closed

[2019-12-20 03:55] #1745 closed

[2019-12-20 03:55] #1772 closed

[2019-12-20 03:55] #1777 closed

[2019-12-20 03:55] #1782 closed

[2019-12-20 03:55] #1808 closed

[2019-12-20 03:55] #1897 closed

[2019-12-20 03:55] #1905 closed

[2019-12-20 03:55] #1909 closed

[2019-12-20 15:13] ewpatton commented on #939
The first thing to check is whether `goog.DEBUG` is defined/true in RAW mode versus SIMPLE mode. That would be the easiest to key off of since the XML generation is all done in Blockly/blocklyeditor, and that's compiled by Google Closure Compiler.

[2019-12-20 15:52] ellelili2025 commented on #939
Goog.DEBUG is not defined by the mode. It is false when in both RAW/SIMPLE mode.

[2019-12-20 20:26] ewpatton commented on #1931
@ColinTree I think this has been resolved in our latest release. Can you confirm?

[2019-12-20 20:30] ewpatton commented on #1817
I'm going to close this because I think the discussion here is resolved. @jerry73204 Please reopen if I'm missing something.

[2019-12-20 20:30] #1817 closed

[2019-12-20 21:03] ewpatton commented on #1696
Fixed by #1860

[2019-12-20 21:03] #1696 closed

[2019-12-20 21:42] ewpatton commented on #936
@ColinTree I just tested this on Chrome and Firefox and don't see any issue. Are you still able to reproduce this? If so, which browser version?

[2019-12-20 22:00] ewpatton commented on #1027
This has been fixed as of release nb181.

[2019-12-20 22:00] #1027 closed

[2019-12-20 22:05] ewpatton commented on #902
Fixed by #1888

[2019-12-20 22:05] #902 closed

[2019-12-20 22:06] ewpatton commented on #882
@xuwenbin If you're still interested in an answer to this, please ask in the open source group at community.appinventor.mit.edu.

[2019-12-20 22:06] #882 closed

[2019-12-23 17:36] ewpatton commented on #947
@ellelili2025 I know you were working on this. Do you have a status update? See also this note from the community site: https://community.appinventor.mit.edu/t/problem-with-tinywebdb/1369/5?u=ewpatton

[2019-12-23 18:56] ellelili2025 commented on #947
@ewpatton I already had a pull request ready for review

[2019-12-23 19:16] ellelili2025 commented on #947
PR is at appinventor.mit.edu/gb/mit-cml/website/pull/23

[2019-12-23 20:40] ellelili2025 commented on #939
1. Downloaded latest plovr.jar.
2. put the following code in plovrConfig.js"define": {
     "goog.DEBUG": true
   },
3. set mode to "SIMPLE" in plovrConfig.js.
Got a compilation error complaining about illegal initialization of @define of goog.define('goog.DISALLOW_TEST_ONLY_CODE', COMPILED && !goog.DEBUG) (this hsould have already been fixed in latest clousre library) in base.js. Commented out th

[2019-12-25 12:45] ewpatton opened #1961 "Update SpeechRecognizer documentation for Legacy/non-Legacy discussion"
**Describe the bug**

SpeechRecognizer lacks sufficient documentation about the UseLegacy and partial recognition capabilities.

**Affects**

- [ ] Designer
- [ ] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [x] Documentation
- [ ] Other... (please describe)

**Expected behavior**

The reference documentation should adequately explain how the SpeechRecognizer's partial rec

[2019-12-26 04:57] ewpatton opened #1962 "Decide what to do about Jekyll failures"
**Describe the bug**

The build script is set up so that if Jekyll isn't found it will skip generating the markdown documentation and only use the HTML versions checked into the system. However, if Jekyll is on the path but missing required components this step will fail (cc @fturbak).

**Affects**

- [ ] Designer
- [ ] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [x] Buil

[2019-12-26 18:01] ewpatton opened #1963 "Simplify BluetoothClient/BluetoothServer code"
Since we've increased the minSdk to 7, we no longer need to use reflection to interact with the Bluetooth APIs (added in SDK 5). This will help simplify the Bluetooth code by no longer needing to use reflection and allow for better optimizations and type checking by the compiler.

[2019-12-27 16:13] ewpatton opened #1964 "Make generic breaks on collapsed blocks"
**Describe the bug**

Using the Make Generic menu option on a collapsed block breaks the block and the undo stack.

**Affects**

- [ ] Designer
- [x] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Other... (please describe)

**Expected behavior**

Make Generic should properly update a collapsed block and the operation should be undoable with Undo command.

**Steps to rep

[2019-12-27 16:48] espertus opened #1965 "Misleading error message reported for Texting.SendMessageDirect"
**Describe the bug**

A misleading error message is displayed when `Texting.SendMessageDirect` is used.

**Affects**

- [ ] Designer
- [X] Blocks editor
- [ ] Companion
- [X] Compiled apps
- [X] Buildserver
- [ ] Other... (please describe)

**Expected behavior**

A better error message would be shown either when adding the block, when building the app, or running the app. Specifically, the user sh

[2019-12-27 16:51] ewpatton commented on #1965
I think we should show a popup the first time the block is used in a project, and we can update the companion code so that if the companion doesn't have the permission (i.e., it's the Google Play companion), then we can report a more useful error. Compiled apps will automatically get the necessary permission and prompt when needed.

[2019-12-27 18:01] Abhik1998 commented on #1965
So should we redirect the user based upon the user's choice in the pop-up showing two options:- deny and allow

[2019-12-29 15:50] espertus opened #1969 "Add capitalize to upcase/downcase"
**Describe the desired feature**

I would like for there to be a built-in `Text` function to capitalize a word. It could appear in the dropdown on the block with `upcase` and `downcase`.

**Give an example of how this feature would be used**

I am writing a word game and wants words to be displayed with the same capitalization, no matter how they are entered.

**Why doesn't the current App Invento

[2019-12-30 17:22] ewpatton commented on #1965
@Abhik1998 I think what we will want to do is have an error message on the companion that is specific to this error that we throw when the conditions are met. Then in the blocks editor we can detect the message and show an internationalized prompt that allows them to install the companion by either opening the Help > Companion Information dialog or by just showing the QR code. The latter requires

[2019-12-30 17:31] ewpatton commented on #1965
@Abhik1998 Also, if you are planning to work on this, since it requires changes to the companion you will need to branch off of `ucr` rather than `master`.

[2020-01-02 18:37] #1920 closed

[2020-01-03 14:43] #1743 closed

[2020-01-03 21:02] ewpatton commented on #1969
This may be a good issue for a prospective GSOC student to work on.

[2020-01-05 03:40] ewpatton opened #1970 "Cannot switch set/get property name"
**Describe the bug**

Previously, one could use the property name dropdown to switch properties in the blocks editor. Now, the selection extends rather than changes ([original report](https://community.appinventor.mit.edu/t/ai2-web-block-editors-property-spinner-shows-weird-behavior/1862?u=ewpatton))

**Affects**

- [ ] Designer
- [x] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildse

[2020-01-05 20:56] #1970 closed

[2020-01-06 17:53] ewpatton commented on #1931
@ColinTree I'm going to close this for now. If you're still seeing the error, please reopen.

[2020-01-06 17:53] #1931 closed

[2020-01-06 18:18] ewpatton commented on #1939
@ColinTree It is set up. I've sent you email with an SSH public key you'll need to add to allow the server to push to the Gitee repo.

[2020-01-06 18:18] #1939 closed

[2020-01-08 03:01] killbotXD commented on #1969
I would like to work on this feature
.

[2020-01-08 04:14] ewpatton commented on #1969
@killbotXD To get started you'll want to familiarize yourself with how the existing upcase/lowercase block works. Here are the relevant files:

* Block definition: [text.js](https://github.com/mit-cml/appinventor-sources/blob/d6d09e1e2cdc56d552f6ea8d1b85d6accce9404f/appinventor/blocklyeditor/src/blocks/text.js#L207)
* Code generation: [text.js](https://github.com/mit-cml/appinventor-sources/blob/d

[2020-01-08 04:28] kkashi01 commented on #1969
@killbotXD If interested, below is an old extension that I developed:
https://amerkashi.wordpress.com/?s=textutils

[2020-01-08 13:20] ColinTree opened #1974 "Block level export / import improvement"
Base on the idea of #1706 , I would recommend App Inventor to add more import / export medium, like xml format files or xml texts.

[2020-01-08 13:54] ewpatton commented on #1974
@ColinTree What would be the use case for this?

[2020-01-08 14:08] ColinTree commented on #1939
I had just deployed the key, it should now works.
Thanks you and the whole team!

[2020-01-08 14:30] ColinTree commented on #1974
Core idea: texts take much fewer memory => easier to spread.

It would be very useful for those people (especially teachers) want to share blocks without a png / aia file. It's much harder to find a public storage for png / aia files than a piece of plain text / a plain-text file.
I'm not sure if the metadata will lost after compressing, but at least sharing text rather than image reduces the size

[2020-01-08 18:32] ewpatton opened #1975 "Include if-else and if-elseif-else mutations in blocks drawer"
**Describe the desired feature**

We should add if-else and if-elseif-else block mutations in the blocks drawer as using the mutator on the if block is not obvious. This is particular true of the if-else block because people often (wrongly) identify the if-then-else ternary block as the if-else block and wonder why it has a plug rather than statement notches.

**Give an example of how this feature

[2020-01-10 19:40] ewpatton opened #1981 "Show All Comments should not try to show comments of collapsed blocks"
**Describe the bug**

Attempting to show all comments for collapsed blocks results in an empty bubble that cannot be interacted with in any way.

**Affects**

- [ ] Designer
- [x] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Other... (please describe)

**Expected behavior**

No phantom bubbles should appear.

**Steps to reproduce**

1. Create a block
2. Add a comment
3

[2020-01-12 10:32] shivanik6z commented on #1975
Hi , I want to confirm if I got this right or not. Our motive is to replace current if-then block with mutator(which I am guessing is the settings sign on the block which helps in adding more branching statements) with a new block of "if-else" with mutator so people don't get confused when they wanna use if-else block and end up using if-then-else block which is wrong. If I got this right I would

[2020-01-13 21:26] #1981 closed

[2020-01-14 09:35] aashimgarg opened #1985 "Error in building the code base."
![Screenshot from 2020-01-14 15-04-59](https://user-images.githubusercontent.com/55639487/72331996-33082480-36df-11ea-9e8b-6c1050a058d3.png)

Error in building the vagrant setup.

[2020-01-14 09:53] bartmathijssen commented on #1985
@aashimgarg I would be better if you ask these types of question on the [App Inventor Community](https://community.appinventor.mit.edu/). Specifically, under the "Open Source Development" category. I did find a potential solution to this error. See if [this](https://github.com/dotless-de/vagrant-vbguest/issues/292#issuecomment-380521802) works. If it doesn't, feel free to ask any additional questi

[2020-01-14 10:44] aashimgarg commented on #1985
This works but we have to setup a vagrant environment after this.
Run 'vagrant init' to create a new Vagrant environment.

[2020-01-14 13:54] ewpatton commented on #1985
@aashimgarg Do not run `vagrant init`. It will wipe out the Vagrantfile in our sources and all of the other commands won't work. I would recommend following @bartmathijssen's suggestion and make sure you're running the latest version of vagrant. Alternatively, follow the manual instructions since you're on Ubuntu; the vagrant solution was intended more for people running on Windows where it's hard

[2020-01-14 19:35] aashimgarg commented on #1985
@ewpatton thanks for the advice.

[2020-01-15 01:31] ewpatton commented on #1975
@shivanik6z We are not replacing the existing block. The proposal is to add the additional mutations as options so that they don't have to be created by first discovering how mutators work. An example of how this is done already is the `lists_create_with` block, which has two variants--one without any sockets (create empty list) and one with two sockets. This is done by an entry in [blocklyeditor/

[2020-01-15 14:25] ewpatton opened #1987 "Multiselect fails when dealing with Cmd+action on macOS"
**Describe the bug**

On macOS, and possibly others but I haven't observed it, the browser doesn't always trigger the keyup event for the command key. This can cause App Inventor to think it is in multiple component select mode when it is really not. This results in all sorts of havoc with properties changing when they shouldn't because two or more components are selected when the user didn't inte

[2020-01-15 14:38] ewpatton opened #1988 "Add HelloPurrStarter project to built-in repository"
**Describe the desired feature**

Add @stezelMIT's HelloPurrStarter to the built-in repository. Currently it's in the gallery, which means that people wanting to participate in workshops and use code.appinventor cannot do so.

**Give an example of how this feature would be used**

Workshop instructors can ask participants to load the starter file from the repository rather than needing to craft sp

[2020-01-15 14:57] ewpatton opened #1989 "Scope-sensitive typeblock"
**Describe the desired feature**

When using typeblock, it would be nice if the setter/getter options for variables could be scope-dependent based on the currently selected block. For example, if you are using typeblock within an event handler, you cannot use it to reference parameters from the event block. This is also true of lexically-scoped local variables.

**Give an example of how this featu

[2020-01-15 16:41] conorshipp commented on #1975
So I just took a quick look at this and it seems to be quite straightforward. @ewpatton is this what you're expecting it to look like?
![image](https://user-images.githubusercontent.com/25845449/72450683-b21a5d00-37b2-11ea-90a1-6e9a5aeafc52.png)

@shivanik6z let me know if you still want to work on this issue so I know whether or not to commit my changes.

[2020-01-15 17:04] conorshipp commented on #1988
Where can we find this project?

[2020-01-15 17:32] shivanik6z commented on #1975
Yeah I got it. @conorshipp I guess you did it right, sure commit the changes:)

[2020-01-15 18:08] shivanik6z commented on #1964
I just reproduced the problem , it's still interactive(you can get component blocks)  but you can't expand it again. So we have to work on expand block functionality of the block which has been collapsed and made generic?

[2020-01-15 19:31] stezelMIT commented on #1988
Title is: HelloPurr_Starter
The gallery link is:
ai2.appinventor.mit.edu/?galleryId=5771384324751360

Hope this helps.
Selim

From: Conor Shipp <notifications@github.com>
Reply-To: mit-cml/appinventor-sources <reply@reply.github.com>
Date: Wednesday, January 15, 2020 at 12:04 PM
To: mit-cml/appinventor-sources <appinventor-sources@noreply.github.com>
Cc: Selim Tezel <stezel@mit.edu>, Mention <ment

[2020-01-16 14:12] #1988 closed

[2020-01-16 22:10] bartmathijssen commented on #1987
I just tested this and saw that the same behavior is happening using Firefox. I tested this by using the Ctrl+Tab key combination, this switches browser tabs. Also, I am not getting any visual representation of multiple components being selected. Only the counter of components selected in the top right.

[2020-01-22 16:49] SusanRatiLane opened #1997 "ProjectManager and Project List need refactoring"
Currently, the Projects View is built through a complicated relationship among ProjectListBox, ProjectList, and ProjectService. Adding the Trash feature made this even more complicated by adding TrashProjectListBox and TrashProjectList.

Code was copy-pasted between ProjectList and TrashProjectList.

Project lists and trashed project lists are maintained separately in ProjectManager and (Trash)Pro

[2020-01-23 04:11] ewpatton commented on #1997
👍

Since this might take a while, do you want to address this in the February sprint?

[2020-01-23 04:15] #1975 closed

[2020-01-23 16:01] ewpatton opened #1999 "Update how to build documentation"
The docs here are out of date and should be updated. We should also include a pointer telling people that the README file in the repo should always reflect the build process for a given checkout of App Inventor.

https://docs.google.com/document/d/1Xc9yt02x3BRoq5m1PJHBr81OOv69rEBy8LVG_84j9jc/edit#heading=h.txhtq5b9p44e

[2020-01-23 21:53] ewpatton commented on #1962
Fixed by #1976 and #1977

[2020-01-23 21:53] #1962 closed

[2020-01-24 20:18] #1343 closed

[2020-01-26 11:35] Abhik1998 commented on #1999
Hey, @ewpatton I think based upon the docs shared we need to update the README.md file corresponding to the build process for a branch of APP Inventor

[2020-01-26 14:10] jsuyash1514 commented on #1816
@ewpatton I would like to work on this issue.

[2020-01-27 20:42] #1861 closed

[2020-01-28 07:10] ewpatton commented on #1816
@jsuyash1514 Please take a look at runtime.scm under the buildserver module, and also look at the YailEvalTest.java file in the same module. The former is where the various block functions are defined and the latter is where the unit tests are located.

[2020-01-28 07:20] ewpatton commented on #1999
@Abhik1998 Would you mind clarifying a bit exactly what you think needs to be expanded upon? The README should be relatively sound, so if there's an issue you've encountered we should know about it.

[2020-01-30 13:28] jsuyash1514 commented on #1559
@ewpatton I would like to work on this issue.

[2020-01-30 17:30] ewpatton commented on #1559
@jsuyash1514 This is a pretty sophisticated project. If you're looking to target GSOC, it might be better as a proposal rather than as a starter task. I do have a prototype branch available though if you're up for a challenge.

[2020-01-30 19:06] jsuyash1514 commented on #1559
@ewpatton I will be more than happy to continue this as a GSoC project. Though I've started working on this issue and I have my basic mock classes ready. You can view them here.
[MockTabBarLayout](https://github.com/jsuyash1514/appinventor-sources/blob/issue%231559/appinventor/appengine/src/com/google/appinventor/client/editor/simple/components/MockTabBarLayout.java)
[MockTabBarArrangement](https:

[2020-01-31 03:46] ewpatton commented on #1559
@jsuyash1514 I've pushed my WIP branch here if you want to take a look and compare notes:

https://github.com/ewpatton/appinventor-sources/tree/feature/tab-layout

[2020-01-31 14:33] ewpatton opened #2008 "SoundRecorder doesn't ask for external write permission"
**Describe the bug**

SoundRecorder stores recordings to the external storage by default (or if the user gives it an external path). Further, it asserts this in `@UsesPermissions`. However, when we start recording we only ever ask for `RECORD_AUDIO` and not `WRITE_EXTERNAL_STORAGE`. We likely missed this in testing the SDK 26 update by only testing it in the companion (which does request write acc

[2020-01-31 16:56] xuwenbin opened #2009 "Build error when compiling official Look and PersonalImageClassifier extensions"
**Describe the bug**

Compilation of official Look and PersonalImageClassifier extensions consistently fails.

**Affects**

Look and PersonalImageClassifier extensions cannot be compiled for use with the latest AppInventor source code.

- [ ] Designer
- [ ] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [x] Other... (please describe)

**Expected behavior**

Look and Personal

[2020-01-31 17:31] ewpatton commented on #2009
@xuwenbin Try the fix in #2010. It should resolve the issue.

[2020-01-31 17:34] ewpatton opened #2011 "Sharing code documentation out of date"
**Describe the bug**

The Sharing Code page seems to give instructions for AI1 instead of AI2.

See: https://appinventor.mit.edu/explore/support/sharing-code

**Affects**

- [ ] Designer
- [ ] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [x] Documentation
- [ ] Other... (please describe)

**Expected behavior**

The instructions should reference menu items that are in AI2.

[2020-01-31 17:35] ewpatton commented on #2011
@ellelili2025 While you're working on some of the other documentation issues you might want to quickly address this one as well.

@jisqyv Is it possible this is another page where we had a clobbering between old and new content (thinking about the No texting while driving issue a while back)?

[2020-01-31 18:20] #2009 closed

[2020-01-31 20:04] singhalsara8 commented on #2008
@ewpatton I would like to work on this issue.

[2020-01-31 20:32] ewpatton commented on #2008
@singhalsara8 Sure. Take a look at the `TakePicture` method of Camera to see an example of how you can request multiple permissions. You'll want to adapt the code in SounderRecorder's `Start` method to be similar.

[2020-02-01 00:32] xuwenbin commented on #2009
Tried the fix in #2010. It does resolve the issue. So, closing the case.

[2020-02-03 15:58] ewpatton opened #2014 "Block definitions should declare variants"
**Describe the issue**

Currently, we define variations to be shown in the blocks drawer in drawer.js. We should have a general means of declaring variations on the block definition and remove the code from drawer.js. We may also want to think of a way to do this with component blocks more generally so that extension developers can hook into it as well.

**Affects**

- [ ] Designer
- [x] Blocks ed

[2020-02-03 16:35] ewpatton opened #2015 "Implement a Screen1 `AutoscaleImages` property"
**Describe the desired feature**

Due to possible resource limitations of the device, App Inventor has always scaled images down. This is done by computing a scaling factor in [MediaUtil](https://github.com/mit-cml/appinventor-sources/blob/b4bbaa77d1a958dd60881c672aa992a8523bef75/appinventor/components/src/com/google/appinventor/components/runtime/util/MediaUtil.java#L588). As devices have increas

[2020-02-04 18:41] SusanRatiLane opened #2016 "Switch property ThumbColorActive set to invisible in blocks"
**Describe the bug**

The block for the ThumbColorActive does not appears in the Blocks Editor. The property is fine in the Designer.

Forum report:
https://community.appinventor.mit.edu/t/switch-property-missing-thumbcoloractive-from-block-view/3207

**Affects**

- [ ] Designer
- [X] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Other... (please describe)

**Expected b

[2020-02-05 00:38] wxbit opened #2019 "Request foreach block for dictionary"
Iterate over key-value pair, as foreach for List do.

[2020-02-05 04:43] ewpatton commented on #2019
Note that you can technically do this as dictionaries will coerce into an associative list when used in a list operation. For example:

![blocks (33)](https://user-images.githubusercontent.com/1331253/73811617-f98b7c00-47a7-11ea-8700-c56721c9e547.png)

However, a version of the foreach that has two variables (key, value) might be more intuitive than unpacking the item into key and value.

[2020-02-05 06:43] wxbit commented on #2019
Thanks for your advice..There are many ways to iterate over dictionary. As you said, there are two variables that are more intuitive.BTW: It would be better if the foreach had 2 variables, one is item and other is the index of the current iteration.

[2020-02-05 10:17] jsuyash1514 commented on #2015
@ewpatton I would like to work on this issue.

[2020-02-05 12:34] ewpatton commented on #2015
Great. Let us know if you have any questions.

Sent from my iPhone

[2020-02-05 15:37] ellelili2025 commented on #947
@ewpatton PR has been updated with python 3.

[2020-02-05 16:33] ewpatton commented on #96
Resolved by #1982

[2020-02-05 16:33] #96 closed

[2020-02-05 16:34] ewpatton commented on #287
Resolved by #1982

[2020-02-05 16:34] #287 closed

[2020-02-05 16:34] ewpatton commented on #288
Resolved by #1982

[2020-02-05 16:34] #288 closed

[2020-02-05 16:34] ewpatton commented on #1740
Resolved by #1993

[2020-02-05 16:34] #1740 closed

[2020-02-05 16:54] #2016 closed

[2020-02-07 22:36] ewpatton opened #2023 "Dictionaries lookups fail when using joined strings"
**Describe the bug**

[From the forum](https://community.appinventor.mit.edu/t/remove-entry-for-key-doesnt-work/3334/4?u=ewpatton): Removing the key "key3" works fine, but using the key `join("key", 3)` does not. This is because HashMap evaluates the equality of the two elements, and since String("key3") != FString("key3") (Kawa's String type), the removal fails.

**Affects**

- [ ] Designer
- [ ]

[2020-02-07 22:44] ewpatton opened #2024 "List by walking key path does not work in a loop"
**Describe the bug**

[From the forum](https://community.appinventor.mit.edu/t/list-by-walking-key-path-in-for-loop-doesnt-work/3322?u=ewpatton): The list by walking key path block does not appear to work when placed in a lop.

**Affects**

- [ ] Designer
- [ ] Blocks editor
- [x] Companion
- [x] Compiled apps
- [ ] Buildserver
- [ ] Other... (please describe)

**Expected behavior**

The block sho

[2020-02-07 22:47] ewpatton commented on #2024
After looking into this further, it appears that the issue has to do with how Kawa handles (or rather, doesn't) having a fully qualified static field referenced from code that is within a macro. The walk all at level block maps to com.google.appinventor.components.runtime.util.YailDictionary:ALL. This seems to work when the code is a a top level construct, but once you put it inside of the loop, K

[2020-02-08 20:52] BeksOmega commented on #2019
I'd like to give this a shot. My idea is to make a "foreach key,value" block:
![Dictionary](https://user-images.githubusercontent.com/25440652/74091840-62f1e000-4a71-11ea-8922-bd5b020a7437.png)

That generates the same code as this combination of blocks:
![blocks (2)](https://user-images.githubusercontent.com/25440652/74091849-756c1980-4a71-11ea-9efb-40a579b166fb.png)
Does that seem like the corre

[2020-02-08 22:29] ewpatton commented on #2019
@BeksOmega that sounds reasonable to me, although we might want to have the text be for each [key] with [value] in dictionary

The block definition should be straightforward for you given your familiarity with Blockly. If you’re not familiar with the Scheme language, defining the behavior will be a bit more complicated. Take a look at the existing definitions in runtime.scm for the other for each

[2020-02-09 02:20] wxbit commented on #2019
@BeksOmega Please note that need to support the "break" block.

[2020-02-09 02:28] wxbit commented on #2019
@ewpatton How about adding the current iteration index to foreach? When using foreach in java, in order to get the serial number, you have to define a count variable or use for.It is more tedious in ai that requires at least 6 code blocks.

[2020-02-09 02:31] wxbit commented on #2019
@ewpatton How about adding the current iteration index to foreach? When using foreach in java, in order to get the index, you have to define a counter variable or use for.It is more tedious in ai that requires at least 6 code blocks.

[2020-02-10 05:00] singhalsara8 commented on #1106
@ewpatton I would like to work on this issue.

[2020-02-11 00:38] codeRunner1111 opened #2025 "Migtool deployment failure"
All in cmd prompt
I was trying to deploy my code to my org using Migtool which works through ANT.
When I select the--    ant deployChangesFromLocalToOrg    --  it checks my credential from my build.properties.xml and goes fine and asks me to select a commit which lists last 10 commits;
 I select one and copy and hit enter I get the below errors.
Please suggest to avoid these errors.
BUILD FAILED
C

[2020-02-11 14:41] ewpatton commented on #2025
@codeRunner1111  I don't really see how this is related to App Inventor?

[2020-02-11 22:35] ImanCol commented on #273
The truth is that I don't see any use for curiosity to hide the keyboard ... wait. Why can't I hide the keyboard when the user has stopped having activity on or on the touch screen? I would appreciate a solution.

[2020-02-12 05:53] ewpatton opened #2029 "Implement a replace all in text using mapping block"
**Describe the desired feature**

Implement a new text block `replace all in text using mapping` that replaces substrings in a text with one or more mappings provided by a dictionary or associative list.

**Give an example of how this feature would be used**

Currently we can use the replace all block to replace a single string with another string. However, if you want to provide potentially many

[2020-02-12 05:53] ewpatton commented on #2029
cc @stezelMIT

[2020-02-12 06:07] ewpatton opened #2030 "Investigate GWT module splitting to speed up loading time"
We should look into GWT's ability to split modules into multiple parts in order to speed up loading. There's two things that immediately come to mind:

1. The first check to getSystemConfig determines whether the user needs to log in, but it can only run once the entire bundle is loaded. If we can redirect people to log in sooner it may not appear (at least on slower connections), that nothing is

[2020-02-12 15:25] stezelMIT commented on #2029
Wow! This is amazing Evan!  Thank you! This can tremendously simplify the Eliza the Therapist BOT project we are developing for for YR Media.  Does this mean this feature has a reasonable chance of being implemented and released anytime soon?

[2020-02-13 15:50] stezelMIT commented on #2029
![blocks (6)](https://user-images.githubusercontent.com/44708504/74450724-91463580-4e4c-11ea-8b52-a34fb43d3491.png)
I thought quite a bit on this problem yesterday and became convinced that the order of the pairs in the replacement dictionary of such a procedure will matter.  For example if we use the order:
"you": "I"
"your: "my"
then "you love your mom" will become "I love Ir mom"
However if the

[2020-02-13 15:52] stezelMIT commented on #2029
Interestingly asterisk index asterisk did not show above when I used *'s

[2020-02-13 16:00] ewpatton commented on #2029
@stezelMIT Yes, a naive implementation that goes in order of the keys may produce nonsensical results. However, regular expressions are typically greedy so the longest key that matches should win if the block is implemented correctly.

[2020-02-13 16:07] halatmit commented on #2029
If the order matters in replace-all it's probably an implementation bug in
the coding of the replace-all block.

== Hal

Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Thu, Feb 13, 2020 at 10:50 AM Selim Tezel <notifications@github.com>
wrote:

[2020-02-13 16:19] halatmit commented on #2029
Do our semantics of dictionaries assue that the keys are ordered? (even
though our implementation might order them)
== Hal

Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Thu, Feb 13, 2020 at 11:01 AM Evan W. Patton <notifications@github.com>
wrote:

[2020-02-13 23:51] BeksOmega opened #2032 "Generalize break block warning logic"
### Problem Statement

There are a couple of things related to loops/break blocks that make adding new loops tricky.

There are a few discussions of how to improve this over on #2026, but I figured I'd create a new issue to keep things from getting lost.

#### Blockly_loopBlockTypes

This is used to check whether a block is inside a loop block (valid) or not (invalid).

Blockly core handles this b

[2020-02-14 00:34] BeksOmega opened #2033 "Generalize field_lexical_variable"
### Problem statement

There are a few parts of the field_lexical_variable that make it fiddly to edit and add blocks. And there are also some other things (mostly style) that could possibly be improved.

#### Block.type

Logic that accesses the type of a block could be moved to the block definition and documented. This would make it easier to add new blocks in the future.

#### Blockly.mainWorksp

[2020-02-14 15:29] ewpatton commented on #2029
YailDictionary is a subclass of Java's LinkedHashMap, so the order of iteration is the same as the order in which the keys are added to the map. I still think that for the proposed block the correct semantics are for the longest match to be replaced first to be consistent with greedy match semantics in regular expressions. One could even envision that to find the match we simply construct a regex

[2020-02-14 15:32] halatmit commented on #2029
All things being equal, it would be good to remain consistent with one of
Java, or R*RS, or Common Lisp.
== Hal

Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Fri, Feb 14, 2020 at 10:30 AM Evan W. Patton <notifications@github.com>
wrote:

[2020-02-14 17:31] #2025 closed

[2020-02-14 17:49] ewpatton commented on #2032
Thanks @BeksOmega for capturing the content of the other discussion. I also find the Blockly solution a bit odd since it requires modifying an object under the Constants namespace.

Regarding containedInLoop, I'm not sure whether we want to make it a property of the block or whether to keep a separate bookkeeping data structure on the warning handler.  I feel like storing on the warning handler is

[2020-02-14 17:57] ewpatton commented on #2033
@BeksOmega Could you maybe expand more on the changes you propose making with pointers to the code and what you'd change? It sounds like there are a few things here. As for the comments left by @fturbak, I think they're good historical context for why things were/are a certain way and I'd be weary of removing that information.

[2020-02-14 18:13] ewpatton commented on #2033
Also, I think if we're going to be making changes here we should start to work on improving the surrounding unit tests (or adding some) to ensure we don't break things.

[2020-02-15 00:45] BeksOmega commented on #2032
I think both places would be great, so I don't really have any thoughts there, but I wanted to bring up the memoization because I'm not sure if that affects the decision.

I was looking into how the warningHandler works (which is really cool!) and I was trying to trace back where it gets called from. Eventually I came to the [WorkspaceSvg fireChangeListener function](https://github.com/mit-cml/app

[2020-02-15 03:21] BeksOmega commented on #2033
### Blockly.mainWorkspace Changes

#### [getGlobalNames](https://github.com/mit-cml/appinventor-sources/blob/6a9dbfd3e769960fffee5c8e9956e70f252a4fad/appinventor/blocklyeditor/src/field_lexical_variable.js#L173)

This function is called by the [WarningHandler.checkAllBlocksForWarningsAndErrors](https://github.com/mit-cml/appinventor-sources/blob/a5efc617834fe5a584ddd8c84dfedc463d28714a/appinventor

[2020-02-16 02:59] BeksOmega commented on #2033
So firstly it seems #1902 makes it so the variable prefixing doesn't work quite right anymore.
![LocalName](https://user-images.githubusercontent.com/25440652/74598091-d53d6400-501f-11ea-9452-746ba756e452.gif)
So that would have to be fixed before the prefixing could be tested.

(Or alternatively the prefixing code could be removed)

Here is a (WIP) list of functions that need tests:
* getGlobalNa

[2020-02-16 18:35] BeksOmega opened #2035 "Typeblock for variables not translated"
**Describe the bug**

Typeblock for global variables does not seem to be translated. I can type in the translated name for "get" and the translated "get global name" block will not appear:
![TypeblockTranslation](https://user-images.githubusercontent.com/25440652/74610405-cef2ca80-50a7-11ea-8a1a-c5930169f777.gif)

**Affects**

- [ ] Designer
- [X] Blocks editor
- [ ] Companion
- [ ] Compiled apps

[2020-02-18 21:22] BeksOmega commented on #1964
This sounds like an interesting problem, but I feel like it needs a design decision so I wanted to post before working on it.

For solutions I can think of a few options:
1) Expand the block, modify it, and then collapse it again.
    This is the most visually appealing option, but it may lock up the interface because collapsing and expanding can be expensive. Testing this on the Blockly playgroun

[2020-02-18 21:26] ewpatton commented on #1964
Maybe a variant of 1: What happens if we call initSvg() and render() on the block after the Make Generic call?

Also, we have a mechanism in App Inventor's version of Blockly to only rerender a single block rather than the whole workspace. Using that will likely have better performance as changing the text on the collapsed block shouldn't force a rerender of the entire workspace.

[2020-02-18 21:38] ewpatton commented on #1964
@BeksOmega See [WorkspaceSvg.requestRender(block)](https://github.com/mit-cml/appinventor-sources/blob/c93be3f6203367bc94a4b641f08e2b964af25615/appinventor/blocklyeditor/src/workspace_svg.js#L1229)

[2020-02-18 21:54] ewpatton opened #2040 "Delete key does not prompt deletion in designer"
**Describe the bug**

The delete key does not appear to do anything after selecting a MockComponent. Selecting the same component in the source structure tree and pressing delete will prompt to confirm deletion.

**Affects**

- [x] Designer
- [ ] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Other... (please describe)

**Expected behavior**

Clicking on a mock component

[2020-02-18 22:27] conorshipp commented on #2040
Do you know which commit caused this regression?

[2020-02-18 22:27] BeksOmega commented on #1964
Just tested this and it doesn't look like its going to work :/ First bad thing is that the renderDown() function doesn't re-render if the block if it is collapsed. Second bad thing is that Blockly's collapsing system is just weird. All of the inputs still exist, they're just not visible so they won't rerender.

Alternative suggestion (that is hopefully more efficient):
Refactor render() so that if

[2020-02-18 22:39] ewpatton commented on #2040
@conorshipp I'm working on a bisect now. I should have the answer in a couple minutes.

[2020-02-18 22:53] ewpatton commented on #2040
This was the change that introduced the issue, but it's not obvious to me at the moment what I did to break it, possibly something around the null focusable object... 3776bb0a1da21c050a01cb81d01b427a44a06151

[2020-02-18 22:55] ewpatton commented on #1964
Are these updateCollapsed and rerenderCollapsed methods functions that you are proposing to add, or are they in a newer version of Blockly (keep in mind we are 3 years behind at this point).

[2020-02-18 22:59] BeksOmega commented on #1964
These are functions I'm proposing. But I do think that if it works these would be a great thing to push back to core. It would be really nice be able to edit collapsed blocks without having to expand them first.

[2020-02-19 13:57] ewpatton commented on #1964
@BeksOmega Also take a look at renameCollapsed in blocklyeditor/src/utilities.js. It's responsible for updating the names of variables inside of collapsed blocks. We might be able to repurpose it or write a similar method that can be used in this case. I think it's essentially the combined functionality of your two proposed functions. What do you think?

[2020-02-19 19:07] #2035 closed

[2020-02-19 19:07] #1989 closed

[2020-02-19 19:13] #1035 closed

[2020-02-20 19:37] adrijshikhar commented on #2014
@ewpatton i would like to work on the issue. i have already setup the repo, can you assign me the issue?

[2020-02-21 03:36] BeksOmega commented on #1964
So I did look at renameCollapsed! But before I talk about that I wanted to back up and redux what I said before, because I did a bad job communicating the first time.

So the rough idea is to change rendering to work like this:
1) Everything is the same until renderHere.
2) If the block is collapsed an updateCollapsed_() function is called at the beginning of renderHere
3) This function updates th

[2020-02-21 09:03] ColinTree opened #2045 "Automatically fix invalid project name input with spaces"
Currently Appinventor handle invalid project name with spaces like this:
![image](https://user-images.githubusercontent.com/22613139/75018841-edabf380-54e3-11ea-8547-691888b10de7.png)

Why not use underscore to replace space automatically?
Just like this:
![image](https://user-images.githubusercontent.com/22613139/75019403-e76a4700-54e4-11ea-8c88-20ecad22c349.png)

[2020-02-21 14:30] ewpatton commented on #2045
This sounds to me like a reasonable enough thing to do.

[2020-02-21 14:56] ewpatton opened #2046 "Allow for a subset of projects to be exported"
**Describe the desired feature**

[From the forum](https://community.appinventor.mit.edu/t/suggestions-for-improving-the-usability-of-the-app-inventor-ide/3813/24?u=ewpatton): If one checks multiple projects in the My Projects list, allow "Export Selected Project" to export those projects. Right now one can either export a single project or all projects.

**Give an example of how this feature woul

[2020-02-21 15:05] Abhijith4124 opened #2047 "Proguard for Extensions"
**Describe the desired feature**

Proguard Helps to Protect the Source Code from being reused without the permission of the Orginal Creator.

**Give an example of how this feature would be used**

It can help Developers make Orginal Content without others stealing their hard work. It can also be Helpful for Students to see how a Code Obfuscator works. Some Students might have limited bandwidth so

[2020-02-21 15:28] ewpatton commented on #2014
@adrijshikhar Thanks for looking into it. Please let us know if you have any questions.

[2020-02-21 15:29] ewpatton commented on #2047
@mit-cml/kodular I know we've discussed this in the past and I thought you were already doing this in Kodular. I don't mind having this for extensions if it is activated by a separate flag but off by default.

[2020-02-21 15:39] jsuyash1514 commented on #2015
@ewpatton I've added the required property to the form component.
Here's the link to my changes - [link](https://github.com/jsuyash1514/appinventor-sources/commit/ffb62faf97fe2de36f3d1c1148e82281839aa337)
But, during runtime, I'm getting the following error whenever I try to disable the autoscale feature.
![error](https://user-images.githubusercontent.com/32803444/75047811-74b19980-54ed-11ea-8d52-

[2020-02-21 17:56] barreeeiroo commented on #2047
@ewpatton right. I can make a version of the implementation I did at Kodular, to make it work with extensions, which would be disabled by default.
Can you assign me the issue?

[2020-02-21 19:28] ewpatton commented on #2015
@jsuyash1514 After you've compiled the system, make sure to install the companion from build/buildserver/ onto your device, otherwise you won't have the new functionality.

[2020-02-22 04:43] imdhruvgupta commented on #2045
@ewpatton I would like to work on this issue.

[2020-02-22 06:16] bhoomika01 commented on #2040
@ewpatton I would like to work on this issue.

[2020-02-23 03:58] ColinTree opened #2054 "Show menu when right click on asset list item & preview asset (if possible) on double click"
I'm talking about this menu:
![image](https://user-images.githubusercontent.com/22613139/75103027-316c3d80-5649-11ea-89ba-baa2e89230f9.png)

Codes at around https://github.com/mit-cml/appinventor-sources/blob/c5b3e2d22cb942d5b13e4fce7fce2236ff5f7467/appinventor/appengine/src/com/google/appinventor/client/explorer/youngandroid/AssetList.java#L98

Double clicking detect would a little bit hard witho

[2020-02-23 04:41] ColinTree opened #2055 "Multi-select status issue in design view"
**Describe the bug**

When user switch out of the web page with control pressed, the select mode of components would always multi-select mode unless use press and release control key again.

**Affects**

- [x] Designer
- [ ] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Other... (please describe)

**Expected behavior**

Would detect the status of control key more "smart

[2020-02-23 05:41] bhoomika01 commented on #2054
Right now when we click on the asset it shows the menu .
so it is suppose to show when we right click the asset item
@ColinTree
Am i right?

[2020-02-23 06:00] ColinTree commented on #2054
@bhoomika01  Yes I think that is doable.

[2020-02-23 06:14] bhoomika01 commented on #2054
@ColinTree  I would like to try this

[2020-02-23 06:18] ColinTree commented on #2054
@bhoomika01 That's surely ok for me, but I recommend you to wait for further suggestions from @ewpatton .

[2020-02-23 06:21] bhoomika01 commented on #2054
@ColinTree Ya sure.

[2020-02-23 06:54] ColinTree opened #2056 "Improve blocks' copy & paste behaviour"
**Describe the desired feature**

In #1974 , I mentioned about the idea of exporting plain text format of blocks, but concept of export can be downplayed more via changing the copy & paste hub.

There are two options that I can think of:

1. Add a right click menu item "Copy to system clipboard" and "Paste from system clipboard".
2. Change the behaviour of ctrl+c, ctrl+v on blocks, save & read the

[2020-02-23 15:26] BeksOmega commented on #2056
Does the [backpack](http://ai2.appinventor.mit.edu/reference/other/backpack.html) solve your usecase?

It seems like it should help with the case of transfering blocks between projects when you don't have permission to save files locally.

[2020-02-24 14:41] ewpatton commented on #2056
@ColinTree How is this different from what you're necessarily requesting in #1974? Does it make sense to merge the two issues?

[2020-02-24 14:42] ewpatton commented on #2055
Duplicate of #1987

[2020-02-24 14:42] #2055 closed

[2020-02-24 14:48] ewpatton commented on #2054
I think the double-click idea is compelling. But I fail to understand why right click is necessary given that the menu already shows on left click?

[2020-02-25 17:27] imdhruvgupta opened #2062 "Add forwarded port in Vagrantfile"
**Describe the bug**
Port 9876 should be added as a forwarded port in the Vagrantfile so that hot reloading can done as mentioned in the [readme](https://github.com/mit-cml/appinventor-sources#hot-reloading-gwt-code-with-super-dev-mode) .
Port 9900 is [present](https://github.com/mit-cml/appinventor-sources/blob/master/Vagrantfile#L28) as a forwarded port which I think is not used anywhere and sho

[2020-02-25 17:28] imdhruvgupta opened #2063 "Add forwarded port in the Vagrantfile"
**Describe the bug**
Port 9876 should be added as a forwarded port in the Vagrantfile so that hot reloading can done as mentioned in the [readme](https://github.com/mit-cml/appinventor-sources#hot-reloading-gwt-code-with-super-dev-mode) .
Port 9900 is [present](https://github.com/mit-cml/appinventor-sources/blob/master/Vagrantfile#L28) as a forwarded port which I think is not used anywhere and sho

[2020-02-25 17:30] imdhruvgupta commented on #2063
@ewpatton Please check. If you agree, i will open the pull request.

[2020-02-25 17:42] #2062 closed

[2020-02-25 17:43] imdhruvgupta commented on #2062
Created duplicate issue by mistake, hence closed this one.

[2020-02-25 18:00] ewpatton commented on #2063
Port 9990 is used for the buildserver. You can go ahead and add port 9876 for the SDM code server.

[2020-02-25 20:33] asayushg commented on #1965
Hi, @ewpatton I want to work on this issue if no one is working.

[2020-02-25 23:35] BeksOmega commented on #1238
Dug into this a bit b/c fields are my jam. Turns out this is a bug inside Blockly, but it's fixed in the latest version.

Explanation of why this occurs:
1. When you enter "cat" the validator returns null [here](https://github.com/mit-cml/appinventor-sources/blob/7f0e248486e100ab10c83daa85def731c63b744f/appinventor/blocklyeditor/src/blocks/math.js#L35).
2. This causes the field to reset the text t

[2020-02-26 08:28] imdhruvgupta commented on #2063
@ewpatton I have added port 9876 in the Vagrantfile. Still not able to reach the http://localhost:9876 .
I tried using curl and got the error `curl: (56) Recv failure: Connection reset by peer`.
I have looked at sources and found that it might solved by binding the Address 0.0.0.0 instead of the default 127.0.0.1 .
Can you please guide how I should approach that or do you suspect any other solutio

[2020-02-26 21:56] #1310 closed

[2020-02-26 22:24] ewpatton commented on #2063
@imdhruvgupta Are you actually running the code server in the VM? It doesn't start by default so you will need to run `ant devmode` from within a `vagrant ssh` session.

[2020-02-26 22:50] #2046 closed

[2020-02-27 01:52] BeksOmega commented on #1964
Giving this the gentlest of bumps.

I won't bump this anymore, I just realized I forgot to @ewpatton on the above, so I wanted to rectify that =)

[2020-02-27 02:17] imdhruvgupta commented on #2063
@ewpatton Yes, I am doing that. I even made curl request from within `vagrant ssh` and got the webpage content for `http://localhost:9876`. But it failed when i did the same from the host.

[2020-02-27 14:05] ewpatton commented on #1965
@Abhik1998 Have you made any progress on this or can @asayushg take it over?

[2020-02-27 14:18] Abhik1998 commented on #1965
Yep, I have almost done it. I will make the PR sometimes. Working upon the QR code part.

[2020-02-27 15:28] ewpatton opened #2069 "Hi-res download blocks as PNG"
**Describe the bug**

The download blocks as PNG function produces images that appear fuzzy on high resolution displays (versus screen capture).

**Affects**

- [ ] Designer
- [x] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Other... (please describe)

**Expected behavior**

Images should be of similar quality

**Steps to reproduce**

On a high resolution display, take

[2020-02-27 15:31] NirmalManoj commented on #2069
I am new to this project, but would love to work on this issue. I might take some couple of days to really understand how this codebase works. But if that is not a problem, can I take up this issue?

[2020-02-27 16:37] ewpatton commented on #2069
@NirmalManoj If you'd like to try this one, go ahead. All of the logic is in blocklyeditor/src/exportBlocksImage.js. I think it should be as straightforward as:

1. Create the canvas at 2x the current size
2. Draw the image to the canvas at 2x the current size
3. When we construct the PNG, add the pHYs chunk with the following 9 bytes: `00 00 16 25 00 00 16 25 01`

Note that the pHYs chunk needs t

[2020-02-27 16:46] ewpatton commented on #1964
@BeksOmega That sounds like a reasonable approach. Do you want to make a first pass at implementing it?

[2020-02-27 17:29] ewpatton commented on #2063
@imdhruvgupta I believe that we will need to modify the devmode target so that it binds to 0.0.0.0 rather than 127.0.0.1. The issue right now is that the vagrant port forward only forwards requests to the network interface, not to the machine's loopback interface. By default the SDM server only listens on loopback.

[2020-02-27 18:46] imdhruvgupta commented on #2063
@ewpatton Yes, Totally agreed. That's what I meant when I said -

I have searched and found that it can be done by passing `bindAddress` as a parameter with 0.0.0.0 as value but got the same result. How can we modify it?

[2020-02-27 19:35] ewpatton commented on #2063
The invocation is defined in appengine/build.xml in the devmode target there. You just need to change the arg line passed to the server.

[2020-02-27 21:49] BeksOmega commented on #1964
I would love to @ewpatton ! Here's an initial list of things I need to do before creating a PR:

- [ ] Fix icons getting reopened when the block is expanded.
- [ ] Incorporate your toString optimization from #2048
- [ ] Do speed tests to ensure this is efficient.
- [ ] Write unit tests? - I would love to write unit tests but I'm not sure how to do that within the current framework.

And if it work

[2020-02-28 14:49] ewpatton opened #2071 "Type name to delete project/screen"
**Describe the desired feature**

Rather than simply having a delete and cancel button to delete a screen or project (which is not undoable), instead prompt the person to type in the exact name of the thing to confirm deletion. Don't activate the button until the string is typed.

**Give an example of how this feature would be used**

This is intended to prevent accidental deletion of screens and

[2020-02-28 15:29] ewpatton commented on #1964
@BeksOmega We are definitely interested in expanding unit test coverage, so anything you can offer here is helpful.

[2020-02-28 15:30] ewpatton commented on #1238
@BeksOmega I would just go ahead and monkey patch it.

[2020-02-28 17:46] imdhruvgupta commented on #2063
Thanks @ewpatton for helping out. Please review, I have opened a PR.

[2020-02-28 19:47] beinganonymous commented on #2071
@ewpatton  Do you mean to implement same feature which GitHub is using to delete repositories, means GitHub ask to type correct repository name to delete and after that it enables ``delete`` button.
Then i would like to work on this issue.

[2020-02-28 20:14] ewpatton commented on #2071
@beinganonymous Yes, that's the general idea.

[2020-02-29 12:23] HimaniKaul commented on #2071
@beinganonymous Well I think you have a great idea.. but typing keyword before deleting screens would be too tedious. What if I have to delete 3 screens one after another for which I have to enter the keyword 3 times.

[2020-02-29 13:01] beinganonymous commented on #2071
@HimaniKaul What you are saying is correct, but it's better to Enter the keyword 3 times rather than dealing with accidental deletion of projects/screens. If you have any ideas, i am open for suggestions.

[2020-02-29 16:05] HimaniKaul commented on #2071
Well according to me typing keyword 3 times won't be better but I can suggest you that you can add check boxes for deleting more than 1 screen so that we have have to type keyword only once.

[2020-03-01 03:57] bhoomika01 commented on #2054
@ewpatton Should we add the feature to preview asset item on double click ?

[2020-03-01 10:28] barreeeiroo commented on #2047
@ewpatton should I implement it in this repository, or in https://github.com/mit-cml/extension-template?

[2020-03-02 14:07] ewpatton commented on #2047
@barreeeiroo I would Implement it here and then you can backport it to the template.

[2020-03-02 16:06] HimaniKaul commented on #1799
@ewpatton Is this issue still available?

[2020-03-02 16:16] ewpatton opened #2076 "ExternalComponentGenerator needs clean build directory"
**Describe the bug**

As written, the ExternalComponentGenerator only works if the build directory is clean. This causes issues with the new extension template repo because it is set up to reuse existing build files.

**Affects**

- [ ] Designer
- [ ] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [x] Other... Extensions

**Expected behavior**

Running `ant` multiple times s

[2020-03-02 17:06] bartmathijssen commented on #1799
@HimaniKaul I started working on this, but wasn't able to get it working the way I intended to. I am fine with the issue being reassigned to you.

[2020-03-02 18:08] HimaniKaul commented on #1799
@bartmathijssen Thanks! Waiting for @ewpatton

[2020-03-02 18:08] elatoskinas commented on #2029
To my understanding of the Java semantics, I do believe the union operator matches in order of appearance. So if we have: ` R1 | R2 | R3 | ... | Rn `, it will first match on R1, then R2, then R3 and so on (so the order does indeed matter). The sample program illustrates this:
[code]

This will print "you" and "you", so "your" was actually not even checked, since the match was lazy per union.

If w

[2020-03-02 18:16] elatoskinas commented on #2029
The following Java code snippet should accomplish the desired in the original thread; So if we input "this is a string" with the mappings `{"i": "x", "xs": "y"}`, we will get the desired result of "thxs xs a strxng"

[code]

If we want to preserve the longest-match first semantics mentioned above (however there are a few notes on that in the last comment), we could, for instance, create a new list

[2020-03-02 18:58] #1238 closed

[2020-03-02 19:11] beinganonymous commented on #2071
@ewpatton After we delete the project the App Inventor System moves the project to Trash and we can restore the project from Trash, but once deleted from Trash there is no way to restore it. So do you want me to implement this ``Type name to delete project/screen`` feature on ``Delete from Trash`` button or on the ``Move to Trash`` button?

[2020-03-04 15:33] ewpatton commented on #2063
Fixed by #2072

[2020-03-05 00:11] ewpatton opened #2078 "Group blocks into cross-category groups to hide complexity for new users"
**Describe the desired feature**

In order to reduce the blocks clutter, provide groups of advanced blocks that are disabled by default but can be enabled by the user. This could be added to the new Settings menu. Include an option to "enable all" for advanced users.

**Give an example of how this feature would be used**

@halatmit raised a concern that the number of blocks is becoming too overwhe

[2020-03-05 00:32] ewpatton commented on #2071
Eh. I would just focus on implementing for screens for now since we have the trash as a backup. If people go through the effort of both moving a project to the trash, going to the trash, and then removing it again, I'm okay with saying they really wanted to delete it. Currently, there is no such protection w.r.t. screens.

[2020-03-05 00:33] ewpatton commented on #2029
@elatoskinas You could implement it in a string utility and then call through via Kawa/Scheme. It will save a lot of effort given you already have a Java implementation.

[2020-03-05 00:36] ewpatton commented on #2029
For example, the join-strings implementation falls through to a Java implementation:

https://github.com/mit-cml/appinventor-sources/blob/47628a856bf9f6a4b55282c91056b37afdcc6d3a/appinventor/buildserver/src/com/google/appinventor/buildserver/resources/runtime.scm#L1533

[2020-03-05 00:40] ewpatton commented on #1799
@bartmathijssen @HimaniKaul Done.

[2020-03-05 00:41] ewpatton commented on #2054
@bhoomika01 Yes, if you want to go ahead and implement the double-click functionality that's fine.

[2020-03-05 07:26] PeterMathijssen opened #2081 "OpenDyslexic not working in the contextmenu in the block editor"
**Describe the bug**

Not all parts of the context menu in the block editor are using the OpenDyslexic font if selected. See the results as shown below.

![Screenshot 2020-03-05 at 07 59 29](https://user-images.githubusercontent.com/32273650/75957527-80706900-5eba-11ea-9364-f46acbb75ec8.png)

![Screenshot 2020-03-05 at 08 00 39](https://user-images.githubusercontent.com/32273650/75957538-88c8a400-

[2020-03-05 07:44] PeterMathijssen opened #2082 "Contextmenu in blockeditor doesn't disappear or stays in front after selecting an item in the main menu."
**Describe the bug**

If you select the contextmenu it will not disappear or go to the back if you for instance click on the menu item to start to build an apk.

![Screenshot 2020-03-05 at 08 38 53](https://user-images.githubusercontent.com/32273650/75958689-08577280-5ebd-11ea-93e5-8e58dbb5f425.png)
![Screenshot 2020-03-05 at 08 38 20](https://user-images.githubusercontent.com/32273650/75958695-0c

[2020-03-05 14:26] ewpatton commented on #2071
@beinganonymous I was thinking about this a bit more this morning. I think it might make sense to have a box (checked by default) in the dialog as well that is used to indicate that a checkpoint of the project should be taken. This way, if they delete a screen they can go back to a version of the project with the screen present. If they're confident they really don't need the screen any more, they

[2020-03-05 15:35] stezelMIT commented on #2029
Dear @elatoskinas thank you for your contributions!  It will be amazingly helpful -for the tutorial we are developing for YR Media (A version of Eliza the Therapist BOT)- if this block can be created by the upcoming release.  Submission cut off date is March 20th, if I recall correctly.  Is this possible?

[2020-03-05 15:45] elatoskinas commented on #2029
@stezelMIT Yes! I should be able to finish this block in the coming week. I am working on it right now as we speak.

[2020-03-05 15:47] stezelMIT commented on #2029
Oh wow!  That will be amazing!

From: Evaldas Latoškinas <notifications@github.com>
Reply-To: mit-cml/appinventor-sources <reply@reply.github.com>
Date: Thursday, March 5, 2020 at 10:45 AM
To: mit-cml/appinventor-sources <appinventor-sources@noreply.github.com>
Cc: Selim Tezel <stezel@mit.edu>, Mention <mention@noreply.github.com>
Subject: Re: [mit-cml/appinventor-sources] Implement a replace all

[2020-03-05 16:11] elatoskinas commented on #2029
@ewpatton @stezelMIT I would suppose the block could be defined as follows:

![image](https://user-images.githubusercontent.com/34982762/76000140-8fc7d480-5f03-11ea-9221-bd4d5522a92c.png)

This is an example usage of the situation described in the main post of the thread. Then, this would resolve to "thxs x a strxng".

We might want to change the namings a bit so that the block is a bit more self-

[2020-03-05 16:20] stezelMIT commented on #2029
Did you mean "thxs x**s** a strxng"?  ("s: in "is" has disappeared.)

repeated use of the word "mappings" feels redundant.  Two things to emphasize:
1)all instances will be replaced
2)replacement will follow the order of the dictionary items (if I understand @elatoskinas comment correctly)

so something like:
replaceAll (text, orderedReplacementDictionary)

[2020-03-05 16:26] elatoskinas commented on #2029
@stezelMIT Yes, you are right; It would indeed be "thxs xs a strxng".
I agree; We should probably decrease redundancy in the name there, and those are indeed good points to emphasize.

I am a bit concerned about the dictionary's ordering emphasis, though. On the higher level, do we let users believe that the dictionary's order should be unimportant, or do we indeed explicitly state that the dictio

[2020-03-05 16:34] stezelMIT commented on #2029
If there is a way in the back end code of the block to sort the keys for length first (longest to shortest) and then make the substitutions in this order, then this will take the burden away from the user to figure out what should come first.  I think whenever a dictionary of replacements are given, the implied intent is that longest keys are properly substituted first and then the shorter ones et

[2020-03-05 16:35] BeksOmega commented on #2029
Suggestion: Two blocks/modes. One that works based on ordering, and one that works based on the longest string. Since there seems to be a usecase for both.

You could toggle between the modes with a dropdown, or have two separate blocks.

[2020-03-05 16:41] elatoskinas commented on #2029
@stezelMIT I agree; This is a bit of a simplified view that we can apply (especially if this the most common semantic, although in the regex I usually encounter the order is defined by the order of operands in the union). So we can have the default solution implement this

@BeksOmega Nice suggestion! I agree that this would probably be sort of a best of both worlds option for the user that wants t

[2020-03-05 18:12] elatoskinas commented on #2029
@stezelMIT @ewpatton In spite of the previous recommendation (cheers @BeksOmega !) I figure we could have something like a block with an enumerator:
![image](https://user-images.githubusercontent.com/34982762/76011412-d1ad4680-5f14-11ea-86c7-19ced7902bb2.png)

The default value could be 'longest string' order, which would first replace all occurrences of 'your' and then 'you' in this case, giving

[2020-03-05 18:48] ewpatton commented on #2029
Another possible naming scheme for the block:

[code]

although it is a bit non-conformant by putting the dropdown into a dummy input at the end rather than attempting to inline it with the rest of the block text.

Also, a third order option might be "earliest occurrence", which is a function of the position that the keys are found in the text rather than by their length or position in the diction

[2020-03-05 19:41] stezelMIT commented on #2029
Evan's suggestion (in grey box above) looks reasonable to me.

[2020-03-05 21:32] BeksOmega commented on #2082
I believe this is the dreaded https://github.com/google/blockly/issues/2066 Both alshmiedt (https://github.com/google/blockly/pull/2359) and I (https://github.com/google/blockly/pull/2286) have tried to fix this before to no avail.

I'd like to take a look and see if there's a way to fix this for App Inventor specifically (and if it is indeed the issue I think it is). But my instinct is that this

[2020-03-05 21:36] ewpatton commented on #2082
I wonder if it is possible for us to install a mouse up event handler such that if the event doesn’t occur on an element with a parent of either the Blockly widget div or a Blockly SVG workspace root calls Blockly.hideChaff(). @ellelili2025 also worked on making sure we hide the Blockly chaff more frequently and may have insights to offer.

Sent from my iPhone

[2020-03-06 00:02] BeksOmega commented on #2081
Two options:
1) Add `.dyslexic .goog-menuitem .goog-menuitem-content,` [here](https://github.com/mit-cml/appinventor-sources/blob/47628a856bf9f6a4b55282c91056b37afdcc6d3a/appinventor/blocklyeditor/media/ai2blockly.css#L40).
2) Add `!important` [here](https://github.com/mit-cml/appinventor-sources/blob/47628a856bf9f6a4b55282c91056b37afdcc6d3a/appinventor/appengine/war/static/css/Ya.css#L49).

Not s

[2020-03-06 10:00] Mishrasubha commented on #1969
I would like to work on this issue.

[2020-03-06 13:16] beinganonymous commented on #2071
Okay that sounds good. I will implement this feature then.

[2020-03-06 14:50] ewpatton opened #2084 "Handle stale WebRTC events"
**Describe the bug**

Sometimes when WebRTC fails, our code or the browser code (not sure which) keeps trying to do stuff with the connection. Since the connection is in a failed state, this triggers the error handling code, which puts up the dialog with connection = failed. We don't reset state cleanly at this point because it can continue to happen, even if the user has begun to initiate a new c

[2020-03-06 17:09] elatoskinas commented on #2029
@ewpatton I'm a bit stuck in figuring out on how to link the the use case and the exact behavior for the "earliest occurrence" . For example, take the mappings:
`a -> d`, `b -> e`, `ab -> bc`, `ba -> cb`

Consider example 1:
`ab ba a b`; If we apply 'earliest occurence first', the first occurence is `a` tied with `ab` (let's take the longer one), then `b` (in `ab`), and finally `ba`. So we will ge

[2020-03-06 17:23] stezelMIT commented on #2029
Greetings all,
Forgive me for saying this but may I **_humbly_** recommend that we do not get into the nuances of many possible complex cases such as the "earliest occurrence" -quite yet.  The  two options in Evan's suggestion above (longest string first and dictionary order) should be more than enough for what we need at this point.  If there is general need for more elaborate functionality and m

[2020-03-06 17:34] halatmit commented on #2029
AGREED

Remember that our target users are kids and teachers.
I'm concerned about App Inventor becoming too complex.

== Hal

Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Fri, Mar 6, 2020 at 12:28 PM Selim Tezel <notifications@github.com>
wrote:

[2020-03-06 17:44] elatoskinas commented on #2029
@stezelMIT @halatmit Very good points. I have done a preliminary implementation to the earliest occurrence first mode while I was thinking about implementing the mode per suggestion, but we can (possibly) remove it for simplicity, for the reasons mentioned above.

[2020-03-06 17:53] elatoskinas commented on #2029
## Progress
The pull request is now open at: #2085. There are still some minor changes to do, but more or less the block conforms to the following layout:
![image](https://user-images.githubusercontent.com/34982762/76108750-709c7600-5fdb-11ea-846e-ff84c5c19a66.png)

The dropdown looks as follows:
![image](https://user-images.githubusercontent.com/34982762/76108776-7d20ce80-5fdb-11ea-8c71-24f11233e

[2020-03-06 18:00] elatoskinas commented on #2078
In the long run, as the number of blocks and functionalities tend to grow, would it be plausible to introduce some option to hide certain options from blocks as well?

For example, in the `is number?` block, we could hide `Base 10?`, `Hexadecimal?`, `Binary` choices, but keep the `number?` choice, as it is far more straight forward and simpler.

[2020-03-06 18:02] BeksOmega commented on #2029
With regard to the earliest occurance block, I think the problem is that you kind of need 2 earliest occurance options.
1. Earliest occurance: tiebreak based on key length.
2. Earliest occurance: tiebreak based on dictionary order.

And maybe even tiebreak based on found length (basically taking into account whitespaces as you mentioned @elatoskinas ).

[2020-03-06 18:06] stezelMIT commented on #2029
I vote to remove the "earliest occurrence" option altogether.  As Hal kindly reminded us, our main audience are kids and teachers.  All these nuances and subtleties will confuse them and are not needed for what we are trying to achieve.

[2020-03-06 18:21] halatmit commented on #2029
+1

== Hal

Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Fri, Mar 6, 2020 at 1:06 PM Selim Tezel <notifications@github.com> wrote:

[2020-03-06 21:54] ewpatton commented on #2078
@elatoskinas That sounds reasonable. The design therefore needs to be able to specify not only groups of blocks but groups of blocks and optional field values. The technical design is going to need some work and we'll also need to think about how to best present these to the user.

[2020-03-07 17:56] BeksOmega commented on #2082
@ewpatton @ellelili2025 Idea: What about adding a listener to the [TopToolbar](https://github.com/mit-cml/appinventor-sources/blob/master/appinventor/appengine/src/com/google/appinventor/client/TopToolbar.java)? or to the TopToolbar dropdowns? I think that should pretty much cover any time page navigation happens, or popups (like the apk building) are created. But I'm not familiar enough with App

[2020-03-07 21:41] mhk19 commented on #2045
I want to work on this issue

[2020-03-07 21:41] mhk19 commented on #2045
@ewpatton

[2020-03-08 02:30] imdhruvgupta commented on #2045
@mhk19 Please pick another issue, I am working on this one.

[2020-03-08 05:27] wxbit opened #2087 "A dictionary get from dictionary in foreach block was converted to Alist unexpectedly."
**Describe the bug**

A dictionary get from dictionary in foreach block was converted to Alist unexpectedly.
![image](https://user-images.githubusercontent.com/3827464/76157155-0b15ca00-6140-11ea-8ed0-f22b1a5e773a.png)

**Affects**

- [ ] Designer
- [ ] Blocks editor
-  Companion
-  Compiled apps
- [ ] Buildserver
- [ ] Other... (please describe)

#2019 #2026

**Expected behavior**

**Steps to rep

[2020-03-08 14:27] BeksOmega commented on #2087
Interesting, thank you for filing! I would like to give this a look if no one else is interested. Now I get to learn how the typing system works!

[2020-03-09 04:32] wxbit opened #2088 "Build APK failed when using Maps component with an asset named "Location.png"."
![image](https://user-images.githubusercontent.com/3827464/76182994-d702dd80-6201-11ea-8a2c-9cfcd3b6c873.png)

[2020-03-09 09:33] wxbit commented on #2087
I don't know if it's going to cause other problem.

![image](https://user-images.githubusercontent.com/3827464/76199892-a20b8080-622b-11ea-82f5-53c09419e7cb.png)
![image](https://user-images.githubusercontent.com/3827464/76200012-d5e6a600-622b-11ea-9a40-2674302248d0.png)
![image](https://user-images.githubusercontent.com/3827464/76200032-df700e00-622b-11ea-919e-9aae4c5b2fee.png)

[2020-03-09 12:11] HimaniKaul commented on #1799
@ewpatton Just thinking to start with Android Classic Designer Preview. I wanted to know what to keep in mind before starting with the designs!

[2020-03-09 12:53] dennishhwu commented on #1619
@wangiv2
Hello, I recently found the same issue, is it solved with any solution ?

[2020-03-09 16:05] ewpatton commented on #1799
@HimaniKaul Classic versus Material UI is a good starting point. I somewhat laid the groundwork for that with the Classic/Device Default theming. Ideally what we want is to have class names for the different components and then have stylesheets that we apply for the different themes so that for the mock form we can asset its class (.android-classic, .android-material, .ios). and have all of the co

[2020-03-09 16:07] ewpatton commented on #2087
I think it is safe to turn off the recursive option here. The design was so that alists and dictionaries could interoperate such that anywhere you could use an alist a dictionary could also be used, and vice versa. It might  have been premature (and costly) to rewrite the entire dictionary structure recursively into a list. We could just transform the topmost element as passing a nested dictionary

[2020-03-09 17:12] beinganonymous commented on #2071
@ewpatton As you told me to implement ``Checked Box`` in the dialog to store current checkpoint of project. So should i implement both ``Type name to delete screen`` and ``Checked Box`` feature in dialog box or just a ``Checked Box`` feature ?

[2020-03-09 19:05] BeksOmega opened #2089 ""Download blocks as image" does not include comment bubbles"
**Describe the bug**

Comment bubbles are not included in the image of the workspace when you select "download block as image" from the context menu.

Note that this is different from #624 as in that case bubbles were included, but the text did not show. Here there are no bubbles at all.

**Affects**

- [ ] Designer
- [X] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Ot

[2020-03-09 19:09] conorshipp commented on #2089
Duplicate of #892?

[2020-03-09 19:13] BeksOmega commented on #2089
Yessir! I did do a search before I posted this, but I must have missed that one. Thank you for the link :D

Closing as dupe.

[2020-03-09 19:13] #2089 closed

[2020-03-09 20:00] ewpatton commented on #2071
@beinganonymous I would do both and have the checkpoint option on-by-default.

[2020-03-09 20:37] ewpatton opened #2090 "Add UsesCamera property to WebViewer"
**Describe the desired feature**

With more people building models with tools like Teachable Machine and wanting to embed them in a webviewer, they need the WebViewer to ask for camera permissions. In our extensions we do this implicitly, but it won't always be the case that people will run these models through an extension. We should add a property to the WebViewer called UsesCamera that works li

[2020-03-10 15:19] fsyzty opened #2093 "java.io.FileNotFoundException: encoded_gs_key:L2dzL2Fw..."
Windows systems cannot create files with filenames containing ":".
For example: encoded_gs_key: L2dzL2FwcF9kZWZhdWx0X2J1Y2tldC80ODM3ODUxMTYyMjE0NDAwL2Fzc2V0cy9leHRlcm5hbF9jb21wcy9jby5jb20uZGVLzZFW2ZwWJF

严重: E:\ai2server\Ai2Server\DevServer\WEB-INF\appengine-generated\encoded_gs_key:L2dzL2FwcF9kZWZhdWx0X2J1Y2tldC81MDkyOTM3ODU5ODU4NDMyL2Fzc2V0cy8wLmpwZw (系统找不到指定的文件。): user=8740cc54-686d-47c4-ba9c-a

[2020-03-10 19:10] elatoskinas commented on #2090
I can look into this issue.

I figure we should have a project-wide setting in the browser that keeps track of this functionality, and then adds the required permission(s) for Android based on this setting, much like the Location permission does, or would this be somehow different?

[2020-03-10 20:02] elatoskinas commented on #2078
We would possibly also want to not affect the current users of AI, so it's a bit less confusing for people already familiar with the current set of blocks. Maybe in the initial step of the user registering it would make sense to prompt them with a dialog that asks them on their familiarity/experience with coding/development/apps in general and adjust the mode based on that?

[2020-03-10 23:13] ewpatton commented on #2093
This has nothing to do with App Inventor but rather it is an issue with how App Engine works. Make sure you're running the right version of Google App Engine. Also, if you've done an `ant clean` in a different window it will delete the directory where the currently running App Engine instance is expecting to write its files.

[2020-03-10 23:13] #2093 closed

[2020-03-11 11:47] wxbit opened #2095 "Text deobfuscate does not support Unicode"
![image](https://user-images.githubusercontent.com/3827464/76413794-0ca9f100-63d1-11ea-8c0f-9b9a43dab688.png)
![image](https://user-images.githubusercontent.com/3827464/76413832-1fbcc100-63d1-11ea-90d8-cf7c9cbe8992.png)

[2020-03-11 12:15] mhk19 commented on #1961
i want to work on this issue @ewpatton

[2020-03-11 14:16] mhk19 commented on #1961
@ewpatton please review it

[2020-03-11 14:18] ewpatton commented on #2095
Possible dupe of #1529

[2020-03-12 02:50] wxbit commented on #2095
it's the same…

[2020-03-12 09:33] NirmalManoj commented on #2069
@ewpatton Unfortunately, I got busy with some other work. I would finish this when I get time, probably in the next couple of weeks. If anyone else wants to work on this, please go ahead. Just comment here, so that in case I have made any progress, I could share those so that you won't have to do duplicate work.

[2020-03-12 17:42] jsuyash1514 commented on #1048
@ewpatton I would like to work on this issue.

[2020-03-12 18:45] #2081 closed

[2020-03-12 19:34] SusanRatiLane opened #2098 "OpenDyslexic menu option does not work in Firefox"
**Describe the bug**

In Chrome, the menu option Settings->Enable/Disable OpenDyslexic reloads the Designer and toggles the the OpenDyslexic font in the user interface. In Firefox, the page reloads, but the font status doesn't change.

If OpenDyslexic is enabled or disabled in Chrome, the setting carries over to the next time Firefox is reloaded.

**Affects**

- [X] Designer
- [ ] Blocks editor
-

[2020-03-13 11:34] beinganonymous commented on #2071
@ewpatton I have implemented all changes you have mentioned such as ``Type name to delete screen`` and ``CheckBox`` feature, please find attached gif and let me know if you want any changes.

![app](https://user-images.githubusercontent.com/30001594/76617608-a944ce00-654c-11ea-84ba-7c9b74ac1583.gif)

[2020-03-13 14:07] SusanRatiLane commented on #2071
@beinganonymous OK, since @ewpatton is on vacation, I'm looking at this.

This looks like the right design to me.

I don't think the checkpoint checkbox (say that three times fast) has a clear enough description. I'm not even familiar with checkpoints and will need to look them up. If I don't know what this refers to without research, I'm sure most users won't either.

Massaging the message text s

[2020-03-13 15:03] beinganonymous commented on #2071
@SusanRatiLane So, good to go with the design and regarding the CheckBox I'll put a user friendly message and make the pull request.

[2020-03-13 15:07] SusanRatiLane commented on #2071
@beinganonymous That sounds great.

[2020-03-13 20:07] #2098 closed

[2020-03-17 17:34] #2076 closed

[2020-03-18 10:19] #2095 closed

[2020-03-18 12:20] singhalsara8 opened #2102 "Add PasswordMode property to TextBox component."
**Describe the desired feature**

It would be useful if we merge the Password TextBox component and the TextBox component by adding a PasswordMode property in the TextBox.

**Give an example of how this feature would be used**

When the Password Mode property is checked, the TextBox will behave as a Password TextBox. Otherwise, It will be a normal TextBox.

**Why doesn't the current App Inventor s

[2020-03-18 12:22] singhalsara8 commented on #2102
@ewpatton I would like to work on this issue. Should I proceed?

[2020-03-18 19:16] Ansari1221 commented on #2102
Hyy I want to try to fix this issue ....may I?

[2020-03-18 19:24] #2047 closed

[2020-03-18 20:05] singhalsara8 commented on #2102
@Ansari1221  Sorry, I'm already on it and I'll be opening a PR soon for the same.

[2020-03-19 09:08] killbotXD commented on #1969
@kkashi01 I am very sorry for not being active. I had to travel from my college to home on very short notice last week due to the coronavirus outbreak and missed your comment.

yes, I am interested. I will start working this weekend asap.

[2020-03-19 10:38] Ansari1221 commented on #2102
OK well done .....actually I am student of BCA and all this things are new
for me ...so I m trying to understand everything... And trying to get more
and more knowledge and implement it by creating project's.... So please
help and suggest all your opinions for me as I m a fresher ..OK ..thank you
On Mar 19, 2020 1:35 AM, "singhalsara8" <notifications@github.com> wrote:

[2020-03-19 17:05] hassanrehman01398 opened #2105 "Email Sending Option"
I wish we could work on sending email directly form our mit app as it proceed to gmail first then it sends email.

[2020-03-20 01:44] #1854 closed

[2020-03-20 01:54] #868 closed

[2020-03-20 20:23] SusanRatiLane opened #2107 "Move to Trash menu item should change to Delete from Trash"
The drop-down menu item My Projects->Move to Trash should change to Delete from Trash when viewing the Trashcan.

- [X] Designer
- [ ] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Other... (please describe)

[2020-03-20 20:30] beinganonymous commented on #2107
can i work on this issue?

[2020-03-21 15:44] killbotXD commented on #1969
this was a very helpful comment. I would have had lost without these.

[2020-03-22 13:04] wwping opened #2110 "在部署线上项目的时候，总会时不时遇到无法保存项目的错误"
在制作app时，经常出现以下错误，并且，如果某个用户有一个有错误的项目时，其它项目就也无法正常操作，无法保存，无法编译，无法导出，无法上传项目文件
![3](https://user-images.githubusercontent.com/10977033/77250086-7901db80-6c80-11ea-8134-34dd8647ff94.png)
![5](https://user-images.githubusercontent.com/10977033/77250093-7d2df900-6c80-11ea-9e0b-1094d9bf3cfb.png)
![2](https://user-images.githubusercontent.com/10977033/77250098-815a1680-6c80-11ea-9281-a4a89b8b4c92.png)
![1](

[2020-03-22 13:05] wwping commented on #2110
在拥有一个有以上错误的项目时，即使新建一个项目也会出现这些错误，无法正常操作，
如果把有问题的项目删除，就又可以正常操作了
完全不知道是为什么，
希望得到解答，谢谢

[2020-03-22 14:48] beinganonymous commented on #2107
@SusanRatiLane I have implemented the changes, please find attached ``gif`` and let me know if you want any changes.

![mit2](https://user-images.githubusercontent.com/30001594/77252469-03930c80-6c7a-11ea-9ee9-259e81c8f126.gif)

[2020-03-23 14:06] SusanRatiLane commented on #2107
That looks correct. I look forward to the pull request.

[2020-03-23 18:58] beinganonymous commented on #2107
Yes, sure.

[2020-03-23 20:13] #1987 closed

[2020-03-23 21:06] ewpatton commented on #2110
@wwping Errors don't interfere between projects. If you can give us a copy of the project that is causing the initial error we can try and diagnose why it's happening.

[2020-03-24 17:11] killbotXD commented on #1969
@ewpatton I needed some help with blockly. I am editing the source code but the changes are not being shown by the google cloud server.

[2020-03-24 18:05] ewpatton commented on #1969
After you've made changes to files under blocklyeditor, you will need to run `ant noplay` to rebuild the site and then you can refresh in your browser.

[2020-03-25 08:11] killbotXD commented on #1969
okay. thanks alot.

[2020-03-25 17:25] ewpatton commented on #1997
Fixed by #2002

[2020-03-25 17:25] #1997 closed

[2020-03-25 17:55] #1026 closed

[2020-03-26 01:46] BeksOmega commented on #1339
I think I've got something for this mostly working, so I'd like to lay claim :D

[2020-03-26 01:55] halatmit commented on #1339
Please keep this simple.   App Inventor's target users are kids.  Introducing blocks or properties that control rounding options seems like a very advanced idea.   I'd advocate following R6RS and IEE 754.

[2020-03-26 13:17] ewpatton commented on #1339
@BeksOmega We may just want to update the documentation for the block, both in the Markdown and in the tooltip, to explain the type of rounding that's done rather than overwhelm people with different options.

[2020-03-26 14:00] BeksOmega commented on #1339
Sounds good to me! o7

[2020-03-26 15:30] BeksOmega commented on #1339
@ewpatton Just checked, [the docs](http://ai2.appinventor.mit.edu/reference/blocks/math.html#round) are already up-to-date. And the tooltip currently reads "Round a number up or down." which I think is ok when compared to the tooltips for ceil and floor: "Rounds the input to the smallest number not less then the input" and "Rounds the input to the largest number not greater then the input" respect

[2020-03-26 15:49] ewpatton commented on #1339
@BeksOmega Yes, we should amend the tooltip to include a note about rounding numbers ending in .5 to the nearest even integer.

[2020-03-26 20:19] BeksOmega commented on #2078
I also know of blocks editors that have a "level" menu above the toolbox, to allow people to easily switch between complexity levels. This can be useful because people often have trouble judging their own ability, and may pick the wrong option on startup. This also makes switching to the advanced option more discoverable.

[OzoBlockly](https://ozoblockly.com/editor?lang=en&robot=bit&mode=1) is a g

[2020-03-27 15:44] #1964 closed

[2020-03-27 16:51] #1339 closed

[2020-03-27 22:48] #2008 closed

[2020-03-27 22:48] #2019 closed

[2020-03-27 22:48] #2023 closed

[2020-03-27 22:48] #2024 closed

[2020-03-27 22:50] ewpatton commented on #2029
Resolved by #2085

[2020-03-27 22:50] #2029 closed

[2020-03-27 22:51] ewpatton commented on #2087
Fixed by #2091

[2020-03-27 22:51] #2087 closed

[2020-03-27 22:53] ewpatton commented on #1816
Fixed by #2004

[2020-03-27 22:53] #1816 closed

[2020-03-27 22:56] ewpatton commented on #1412
Fixed by #1932

[2020-03-27 22:56] #1412 closed

[2020-03-27 22:58] ewpatton commented on #1363
Fixed by #1731

[2020-03-27 22:58] #1363 closed

[2020-03-28 08:24] beinganonymous opened #2122 "Drag and Drop Support to upload files"
While uploading media files we have to select file from File chooser,  instead of that we can add Drag and Drop support for file uploading.
It is a common test case for file uploading in browsers.

[2020-03-28 13:26] ewpatton commented on #2122
I have a draft version of this functionality available here: http://dnd.ai2-ewpatton-temp.appspot.com/. More information [here](https://community.appinventor.mit.edu/t/upcoming-feature-preview/1176?u=ewpatton).

[2020-03-28 15:08] ewpatton opened #2123 "Add json decode/encode blocks to dictionaries drawer"
**Describe the desired feature**

Have blocks in the dictionaries drawer to encode/decode json.

**Give an example of how this feature would be used**

This would be used to store structured data in files without also needing to bring in a Web component for the serialization. The internal mechanism can still call the corresponding Web methods to prevent code reuse.

**Why doesn't the current App I

[2020-03-29 15:20] patryk84a commented on #2123
You can also add a sort selection when converting.

[2020-03-29 17:48] Zhangzqs commented on #2123
I think it's a great idea to add json decode/encode  blocks in dictionaries drawer. And I think the blocks should also be added to list drawer. When we want to decode json data like [1,2,"H",{"name":"Sam","age":22}]，we must use json decode block in list drawer.
And when we want to decode json data like {"name":"Pater","age":23,"interests":["computer","math","football"]}, we must use json decode bl

[2020-03-30 16:45] #2071 closed

[2020-03-30 17:21] pavi2410 opened #2126 "Allow setting Yandex Translate API key"
The Yandex Translate component doesn't have a API key property field. This restricts me from setting my own API key in the component when running the AI server offline. Using the component otherwise yields "Error 2201".

I propose to add a new String property to the Yandex Translate component.

**Give an example of how this feature would be used**
Users can choose to set their own API key.

**Why

[2020-03-30 20:03] ewpatton opened #2127 "BackPressed goes back even if event defined"
**Describe the bug**

Prior to nb183, providing a BackPressed event on a screen prevented it from going back to the previous screen. This is no longer the case in nb183.

**Affects**

- [ ] Designer
- [ ] Blocks editor
- [ ] Companion
- [x] Compiled apps
- [ ] Buildserver
- [ ] Other... (please describe)

**Expected behavior**

Providing a BackPressed event should not close the screen unless a "cl

[2020-03-30 20:05] ewpatton opened #2128 "BluetoothClient doesn't work on Android 4.2.2"
**Describe the bug**

[From the forum](https://community.appinventor.mit.edu/t/after-update-to-183-bluetooth-dont-work/5979?u=ewpatton): BluetoothClient connection to HC05 works on Android 10, but not on Android 4.2.2 for the same app.

**Affects**

- [ ] Designer
- [ ] Blocks editor
- [x] Companion
- [x] Compiled apps
- [ ] Buildserver
- [ ] Other... (please describe)

**Expected behavior**

Blue

[2020-03-30 20:08] ewpatton opened #2129 "Previewing screen sizes sometimes changes component size"
**Describe the bug**

[From the forum](https://community.appinventor.mit.edu/t/nb183-designer-ui-broken-change-phone-size-to-tablet/6007?u=ewpatton): Changing the preview size from phone to tablet sometimes resizes the selected component.

**Affects**

- [x] Designer
- [ ] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Other... (please describe)

**Expected behavior**

C

[2020-03-30 20:13] ewpatton opened #2130 "Multiple select sometimes results in validation errors"
**Describe the bug**

[From the forum](https://community.appinventor.mit.edu/t/multiple-object-selection-doesnt-work-since-update-183/6009?u=ewpatton): When picking components with properties that have validators, but the properties differ in value, the property editor is set to the empty string to signify the difference. This triggers the validator, which throws an error because empty string isn'

[2020-03-30 20:15] ewpatton opened #2131 "Korean translation of global variables"
**Describe the bug**

[From the forum](https://community.appinventor.mit.edu/t/another-variable-name-translation-bug/5962?u=ewpatton): Korean "global" keyword having issues again in the blocks editor.

**Affects**

- [ ] Designer
- [x] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Other... (please describe)

**Expected behavior**

Korean (and Polish, which I haven't tes

[2020-03-30 21:25] #2129 closed

[2020-03-30 23:43] BeksOmega commented on #2123
I think that would be a change from the current behavior. If you use list deserialization all objects get deserialized to a list of tuples. So this:
![blocks (3)](https://user-images.githubusercontent.com/25440652/77971961-f2af5000-72a4-11ea-95ce-91f8598f1907.png)

Gives me an output of:
[code]

Luckily the JsonTextDecodeWithDictionaries works with arrays as well. So this:
![blocks (4)](https://us

[2020-03-31 02:58] Zhangzqs commented on #2123
I think we should put decode/encode blocks in dictionaries and lists drawer.
For example
![image](https://user-images.githubusercontent.com/34616640/77981774-59804800-733d-11ea-8871-96d648e62381.png)
![image](https://user-images.githubusercontent.com/34616640/77982265-808b4980-733e-11ea-86e7-9f3f7d8db531.png)

[2020-03-31 03:41] BeksOmega commented on #2123
Ohhh I get you! Sorry - derrr on my part. I think that's a cool design!

[2020-03-31 07:46] Zhangzqs opened #2134 "appinventor loop blocks very slowly"
**Describe the bug**

Loop blocks such as for, foreach in list, while run very slowly.

**Affects**

- [ ] Designer
- [ ] Blocks editor
- [x] Companion
- [x] Compiled apps
- [ ] Buildserver
- [ ] Other... (please describe)

**Expected behavior**

For example:
There is a piece of code that calculates the factorial.
Theoretically, the time complexity of this code is O (n).
But when I run it on appin

[2020-03-31 16:26] #2130 closed

[2020-03-31 20:49] BeksOmega commented on #1678
@SusanRatiLane If I could add the ability to open up the collapsed blocks so you could see the warning, would you be interested in a PR? Or is this a low-priority thing?

Note that atm I'm not sure that I could get this working in a way that isn't horribly messy haha. I'd have to investigate further.

[2020-03-31 20:53] SusanRatiLane commented on #1678
@BeksOmega I think this would be very useful. If you want to investigate, you have my blessing.

[2020-04-01 06:32] wcy1231 opened #2138 "Docker"
Could you use docker to deploy?  Vagrant is good, but it can not be used on cloud.

[2020-04-01 07:40] Ramanathi opened #2139 "Trimming Project name"
Hello everyone,
lets say the project name is "hello"
but if the user types " hello  " it gives the white space error. Why can't we just trim the project name before processing?

[2020-04-01 07:41] Ramanathi commented on #2139
If it is valid issue, help me to contribute

[2020-04-01 08:06] Ramanathi commented on #2139
![Screenshot from 2020-04-01 13-33-07](https://user-images.githubusercontent.com/55206019/78113611-9facd880-741d-11ea-9e95-a47e95c74394.png)
![Screenshot from 2020-04-01 13-33-17](https://user-images.githubusercontent.com/55206019/78113648-ab989a80-741d-11ea-8081-4e646ab40612.png)

like this!!

[2020-04-01 12:36] ewpatton opened #2140 "Make Camera component create Pictures directory if not exists"
**Describe the bug**

[From the forum](https://community.appinventor.mit.edu/t/error-201-the-camera-did-not-return-an-image-on-samsung-device-android-8-0/6024?u=ewpatton): Camera fails to return an image if the Pictures directory does not exist.

**Affects**

- [ ] Designer
- [ ] Blocks editor
- [x] Companion
- [x] Compiled apps
- [ ] Buildserver
- [ ] Other... (please describe)

**Expected behavi

[2020-04-01 13:18] ewpatton commented on #2139
@Ramanathi I think this could be combined with #2045

[2020-04-01 13:58] Ramanathi commented on #2139
@ewpatton yeah I'm working on #2045 also.

[2020-04-01 15:02] singhalsara8 commented on #2140
@ewpatton I would like to work on this issue.

[2020-04-01 15:52] ewpatton commented on #2140
@singhalsara8 Please go ahead. I've assigned you the issue.

[2020-04-02 05:40] Ramanathi commented on #2139
Hello @ewpatton
I've solved #2045.

Approach :
changed geterrorMessage function in Textvalidator.java
changed validator in newYoungAndroidprojectwizard.java
and also LabeledTextbox.java

I want to get checked if I made a mistake

[2020-04-02 17:22] bhoomika01 commented on #2054
I've implemented double click functionality.
@ewpatton
![bandicam-2020-04-02-22-31-54-476](https://user-images.githubusercontent.com/58931490/78278719-163bfa00-7534-11ea-96bb-ea3df4abc1b0.gif)

[2020-04-03 07:40] Ramanathi commented on #2069
@ewpatton I didn't get what the bug is, Can u explain it further?

[2020-04-03 09:05] bhoomika01 commented on #2054
#2145

[2020-04-03 09:13] bhoomika01 commented on #2054
#2145 Modified AssetList.java to preview asset on double click.

[2020-04-04 16:06] BeksOmega opened #2147 "Disabled blocks in backpack are handled ambiguously"
**Describe the bug**

Currently adding disabled blocks to the backpack acts unexpectedly:
![Backpack](https://user-images.githubusercontent.com/25440652/78455294-4c6f9b80-7652-11ea-84bc-0a1b20427d74.gif)

The blocks do not appear to be disabled (they are black instead) and you are able to drag them out of the flyout.

**Affects**

- [ ] Designer
- [X] Blocks editor
- [ ] Companion
- [ ] Compiled a

[2020-04-05 10:48] Ramanathi commented on #2069
Hello @ewpatton
I didn't get why this works and how to implement.
Could you suggest any per-requisite to solve this or any help??

[2020-04-05 12:16] Ramanathi commented on #2069
Can I get any help to solve this? @ewpatton

[2020-04-06 01:14] ewpatton commented on #2147
I would recommend option 3. It is the case the disabled blocks can be moved in App Inventor, so I don't see why that should prevent people from being able to drag disabled blocks into or out of the backpack.

[2020-04-06 01:17] ewpatton commented on #2069
@Ramanathi Rather than decoding the PNG manually, you could use the PNG object code I wrote and then just use array splice to insert the pHYs chunk at the right location. Also, make sure that in addition to doubling the size of the canvas that you actually draw the blocks at double the size.