[2013-04-04 22:49] agajania opened #9 "customtinyweb.zip should be updated for python27"
The instructions to use Tiny Web DB are to extract the following zip archive, change the first line, and then upload it to Google App Engine with appcfg.py.

 appinventor/docs/learn/reference/other/tinywebdbassets/customtinywebdb.zip

When the customtinyweb folder was uploaded to Google App Engine, the following warning message was displayed:

WARNING: This application is using the Python 2.5 runt

[2013-04-13 21:43] #9 closed, assigned to nobody

[2013-05-05 15:32] puravidaapps opened #17 "newblocks: Label.Text=List-from-csv-table(some text) is not possible"
I cannot connect the "list from csv table" block to the "Set Label.Text to" block, see also this thread https://groups.google.com/d/msg/ai4a/_qfwNoCp9qY/pBKdUDYfA5AJ

[2013-05-06 15:32] puravidaapps opened #18 "newblocks: after collapsing blocks it's hard to find what you are looking for..."
see the difference between collapsed blocks in App Inventor classic and new blocks in the screenshots:
![blocks2](https://f.cloud.github.com/assets/2848474/466685/ff29efcc-b661-11e2-89cf-d84cbaa1b4fa.jpg)
![collapse_nb](https://f.cloud.github.com/assets/2848474/466686/07abe61e-b662-11e2-8412-043d1df18034.jpg)

[2013-05-06 16:05] puravidaapps opened #19 "newblocks: cursor does not move while editing texts or comments"
trying to edit a text or a comment: cursor does not move while using the keyboard, only works with mouse, using Chrome Version 26.0.1410.64 m

[2013-05-06 17:25] puravidaapps opened #20 "newblocks: AI Companion does not update design or code changes"
added 2 new buttons in the Designer window, then switching back to the Blocks window. The new blocks are shown in the Blocks window successfully. But the AI Companion app does not display the new components on the screen....

Additionally changing some logic in the Blocks window does not always update the logic on the connected device...
I used a web component and changed the Web.Url using the joi

[2013-05-10 20:04] puravidaapps opened #21 "newblocks: MIT NewBlocks Companion does not like to connect anymore"
MIT NewBlocks Companion doesn't like to connect anymore with my project (project name=couch_nb2)... I could successfully connect to a very simple project.

As you probably can see from the log, the backup of the project (couch_nb1) will be displayed correctly, but not the new version (couch_nb2)... I will restart from the backup of that project now...

Btw: a reset button in the Companion app woul

[2013-05-10 21:05] puravidaapps opened #22 "newblocks: deleting a web component results in error next time project will be opened"
create a project with 2 buttons and 2 web components
![1](https://f.cloud.github.com/assets/2848474/490258/dee7c67a-b9b4-11e2-8e4e-1471bf302627.jpg)
then rename Web2 by Web1
![2](https://f.cloud.github.com/assets/2848474/490264/fa8f0668-b9b4-11e2-966f-8b278491e6a1.jpg)
then delete Web2 and reopen the project, you will get this error
**The blocks area did not load properly. Changes to the blocks fo

[2013-05-11 16:38] puravidaapps opened #23 "newblocks: App Inventor classic projects are currently not compatible with App Inventor newblocks"
I uploaded an old project from App Inventor classic to save some time to not have to redo the design and just to redo the blocks... Trying to package the project results in **Server error: could not save one or more files. Please try again later!**

Packaging a very simple project created with App Inventor newblocks (e.g. just 1 button) works fine. Probably this error occurs only after uploading a

[2013-05-13 02:05] #19 closed, assigned to josmas

[2013-05-24 15:39] #17 closed, assigned to nobody

[2013-06-18 20:46] #22 closed, assigned to nobody

[2013-07-12 21:15] jovanchohan opened #29 "Opening the Blocks Editor results in Java IOException"
I downloaded the latest appinventor source code, built the code with ant 1.8.2 and ran the code using the Google App Engine 1.7.6 SDK. When clicking the "Open the Blocks Editor" button on the main page, the AppInventorForAndroidCodeblocks.jnlp downloads fine, but when launching the jnlp, I get the following exception:

java.io.IOException: Cannot find cached resource for URL: http://localhost:8888

[2013-08-15 16:54] puravidaapps opened #31 "newblocks: Screen1.Initialize calls procedures twice"
I'm using Build Aug02 nbVersion112 and the following blocks

![unbenannt](https://f.cloud.github.com/assets/2848474/969817/0f9aa6cc-05cb-11e3-8e11-b4a6de51504b.JPG)

the procedure is called twice
how can I attach the example project here?

[2013-08-15 21:39] #29 closed, assigned to nobody

[2013-08-15 21:39] #21 closed, assigned to nobody

[2013-08-15 21:40] #18 closed, assigned to josmas

[2013-08-15 22:20] puravidaapps opened #32 "newblocks: deleting a label results in "An internal error has occurred" (UmbrellaException)"
create a button and a label and these blocks:

![unbenannt](https://f.cloud.github.com/assets/2848474/972319/aabcb848-05f8-11e3-982c-206867433e21.JPG)

Then go to the designer window and delete the label component:

Deleting this component will delete all blocks associated with it in the Blocks Editor. Are you sure you want to delete?

An internal error has occurred. Click ok for more information.

[2013-08-20 02:57] #32 closed, assigned to nobody

[2013-08-23 23:09] jovanchohan opened #33 "Logout in sdk leads to server error screen"
Downloaded and compiled appinventor code with 1.8.0 sdk (by changing the build.xml) and ran using the sdk. When logging out, it should redirect back to the login screen, but instead goes to /ode/userinfo and shows a server error screen.

[2013-08-25 11:43] javmarina opened #34 "Final words of toast not shown"
When a toast appears, it doesn't show the full message, the last words are not visible

[2013-08-27 20:18] #31 closed, assigned to josmas

[2013-09-11 12:38] javmarina opened #38 "Problem with special characters"
Special characters show up as a question mark inside of a black diamond "�". Example of this characters are á, é, ñ... (spanish), å, ä, ö (swedish). This issue didn´t happen in App Inventor Classic.

https://groups.google.com/forum/#!topic/app-inventor-open-source-dev/UU6tm8ZS5_M

[2013-09-12 19:25] themadrobot opened #39 "Usb connection in AI2 not working"
I am getting an error when starting    python aiDaemon.py

below is the error:

C:\AI\appinventor-sources\appinventor\misc\emulator-support>python aiDaemon.py
  File "aiDaemon.py", line 53
    print "Device = %s" % device
                      ^
SyntaxError: invalid syntax

I am running windows 7 64bit and have python 2.7.5 installed.

Any idea why this is?

[2013-09-16 23:00] puravidaapps opened #40 "AI2: X and Y parameters to the ATAN2 function are backwards compared to AI1"
see Brian's post in the forum https://groups.google.com/d/msg/app-inventor-instructors/6OGcKXqIjoQ/yD-TLmb5rEUJ

[2013-09-17 03:50] fgmart-zz opened #41 "suggestion: My Projects list with case-insensitive sort"
My Projects lists your project files using a case-sensitive sort, so that all projects with upper-case first letters are listed first, followed by projects with lower-case first letters.

Once you have more than a screenful of projects, this is confusing. I don't expect to have to search all the way down for my lower-case projects (I'm fairly inconsistent as to whether I use an upper or lowercase

[2013-09-19 02:16] #38 closed, assigned to jisqyv

[2013-09-23 19:01] puravidaapps opened #44 "AI2: Twitter.TweetWithImage does not work"
how does a correct image path to the image look like?
all tests I tried did not work, see also screenshot
and yes: I did set the TwitPic Api Key...
Taifun
![twitter](https://f.cloud.github.com/assets/2848474/1194258/4667cf42-2482-11e3-999e-3e33ea0b4047.JPG)

[2013-09-23 21:14] #44 closed, assigned to nobody

[2013-09-24 15:53] rivista opened #45 "Build Error with AI2 Apps That Include Media"
Build failed! Can not contact the BuildServer at newblocksbuildserver.appinventor.mit.edu

AI2 does not seem to be able to package apps that include media.  If I remove the media file (400KB mp4), the build succeeds.  If I add the file back, the build fails.  I have tried multiple mp4 files of various sizes and it seems that they all cause the Package process to fail.

Thanks for any information y

[2013-09-24 16:12] #45 closed, assigned to nobody

[2013-09-30 16:34] #40 closed, assigned to nobody

[2013-12-12 18:48] marcopsr opened #74 "Problem with special characters"
Hi, I have the same problem as this issue:

https://github.com/mit-cml/appinventor-sources/issues/38

Is it not working yet? The special characters like é á à ç don't appear in the notifiers

Thank you

[2014-01-03 13:29] javmarina opened #77 "Assets are copied to the incorrect folder"
When a new apk is builded, all assets of the application go to assets/ folder inside "project".apk

According to Android Developers Documentation, drawables (images) must be saved in res/drawable/ folder, which App Inventor doesn't do.

[2014-01-17 13:36] #74 closed, assigned to jisqyv

[2014-04-21 10:11] krupong opened #95 "spinner and listview make other components gone"
Added some components in screen work correctly in emulator.
But when adding spinner and listview all components are gone.

[2014-04-21 15:40] #95 closed, assigned to nobody

[2014-04-26 19:03] pdurbin opened #96 "JSON support"
Support for parsing JSON would be great!

I'd like to do a GET of a RESTful API that returns JSON , parse the response, and display some values in my app.

Perhaps it could have semantics like jq: http://stedolan.github.io/jq/

Something like this, perhaps:

curl -s 'http://localhost:8983/solr/collection1/select?rows=100&wt=json&indent=true&q=*' | jq '.responseHeader.params | {rows,q}'

[2014-05-28 21:12] #34 closed, assigned to nobody

[2014-05-28 21:12] #20 closed, assigned to nobody

[2014-05-28 21:13] #39 closed, assigned to nobody

[2014-08-14 17:00] #77 closed, assigned to nobody

[2014-08-14 17:01] #23 closed, assigned to nobody

[2014-09-30 14:08] #33 closed, assigned to jisqyv

[2014-10-02 06:08] bennettbrowniowa opened #125 "proposal: "Initial Properties" in Designer"
In the Designer view, a panel is named "Properties." Values displayed are initial values rather than current values, as they should be. Pedagogically, it is not obvious to new programmers that a program/environment must set an initial value for a variable and must also keep track of the current value. I think it would be more clear to learners if this panel was labeled "Initial Properties" in the

[2014-10-02 13:20] #125 closed, assigned to nobody

[2014-10-02 17:06] josmas opened #126 "Time and Date pickers don't seem to work on certain devices"
Certain Samsung phones seem to be not working properly. More information in the thread here: ​https://groups.google.com/forum/#!topic/mitappinventortest/gQZ-1MOO-Ic

Same code works in a different phone, but not in an samsung S3. This needs to be reproduced with the specified phone (or find other models/brands that behave like the one listed).

[2014-10-02 17:08] josmas opened #127 "Character Encoding with Yandex Component"
There seems to be something funky going on with encoding in the Yandex component. The following words in Turkish generate gibberish for special characters.

ışık = light
çocuk = kid, child
ağaç = tree
bağış = donation

Reported in the forum; thread: ​https://groups.google.com/d/msg/mitappinventortest/ZO7gQJBRHVc/l8aZEj85fbkJ

[2014-10-02 17:29] josmas opened #128 "Bad behavior on user sign out"
This is an old issue that turns up now and again (intermittent).

**From bug report**
Hi all, I found a bad piece of user experience in the newest build of AI2, but not sure if this counts as a bug. I tried with numerous different accounts and encountered the same thing:
After I clicked "sign out" at the top right corner, the page refresh and I got redirected to a blank AI2 page, nothing was loade

[2014-10-02 17:32] josmas opened #129 "Project that signals error when trying to delete it"
See thread for the project source:
​https://groups.google.com/forum/#!category-topic/mitappinventortest/MzUuDPUDpD8

Load this project. Then go to the projects page, mark it, and press delete. This produces an error (FF or Chrome). I don't see anything shown in the JS console. If you then press delete a second time, the project is deleted.

**Notes**
*Dec 1*
I tried to delete a project by ticking

[2014-10-02 17:35] josmas opened #130 "Misplaced label and text box"
**User report**
When you put a label above a text box, the bottom of the label's text gets hidden under the text box.

**Notes**
Try to reproduce this first; it might be an issue with particular phones.

[2014-10-02 20:12] luckcolors opened #131 "Please create misc/runbuildserver.bat"
I need to run the build server under windows.
Can you create an batch file for that please?
Thanks in advance

[2014-10-02 20:24] #131 closed, assigned to nobody

[2014-10-04 02:19] kkashi01 opened #132 "Spinner AfterPicking invoked even when no item selected"
Spinner AfterPicking immediately invoked even if it has not been opened.

Steps:
Drop Spinner component onto designer
For its ElementsFromString, enter csv values such as a,b,c,d,e
Add in a label; e.g. Label1
From BlocksEditor, Select, Spinner1.AfterPicking handler
In there, set Label1.Text to Spinner1.Selection.

Connect the companion and you'll notice that immediately Label1.Text will be set to

[2014-10-09 23:03] #41 closed, assigned to nobody

[2014-10-10 19:12] josmas opened #139 "User procedures preceded by 'undefined' when typeblocking"
When typeblocking, procedure calls should look like 'call procedure_name' but they look like 'undefined procedure_name'.

Reproducing:
- Create a procedure
- Type block the procedure name

See screenshot in original report by Scott at: https://code.google.com/p/app-inventor-for-android/issues/detail?id=2823

My initial intuition is that this was introduced during internationalization changes.

[2014-10-11 20:04] kkashi01 opened #140 "Notifier AfterPicking not triggering when using ShowMessageDialog"
As title says, the Notifier AfterPicking does not get triggered when using ShowMessageDialog. However, it does get triggered when using ShowChooseDialog.

Device: Samsung Galaxy s3

[2014-10-12 13:10] themadrobot opened #141 "SoundRecorder component issue causing app to crash"
There's currently an issue with the SoundRecorder component which causes the app to crash. The issue happens if the Microphone is already in use when the SoundRecorder.Start block is executed

To demostrate this add 2 SoundRecorder components to the same app start both recorder and the app will crash.

<h3>Possible Solution</h3>
- Add code to check the mic is not in use when the SoundRecorder.Star

[2014-10-12 15:11] #140 closed, assigned to nobody

[2014-10-19 21:23] halatmit opened #146 "lookup in pairs should have the notFound input default to "not Found""
Being able to specify this argument is important for advanced users, but others should just have a default.

[2014-10-26 18:13] #127 closed, assigned to nobody

[2014-11-01 15:40] chance86 opened #154 "How can I get the Older releases? Built: August 11 2014 Version: nls-281-g85a8d30-dirty"
How can I get the Older releases? I need the releases:

Built: August 11 2014 Version: nls-281-g85a8d30-dirty
Use Companion: 2.20ai2zx1

How can I get it? Who can help me? My E-Mail is chen2872841@163.com
Thanks.

[2014-11-01 16:03] #154 closed, assigned to nobody

[2014-11-01 23:26] #146 closed, assigned to halatmit

[2014-11-02 00:33] halatmit opened #155 "Many property setters should use dropdowns for their inputs"
There are many examples of properties that can take on specific values.  For example,
screen.AlignVertical can take only the arguments: left, center, or right, and the designer provides a dropdown that has only those options.    In the blocks, however, the setter takes a numeric input.  The user needs to know which number corresponds to the desired value, and the implementation code must check whe

[2014-11-04 17:39] #139 closed, assigned to jisqyv

[2014-11-08 13:54] halatmit opened #160 "Cenceling a notifier input shoud hide the keyboard"
From the forum:
https://groups.google.com/forum/#!category-topic/mitappinventortest/TTCdAVr72eM

My app uses a text box notifier to enter some text.  If you enter text, the keyboard nicely hides itself as the notifier closes.

If you hit the Cancel button, however, the keyboard remains and you must manually force it to go away.  Is there a way to make it go away automatically when the Cancel butto

[2014-11-10 04:01] halatmit opened #161 "change the name of number->string in Kawa"
IN runtime.scm we define our own version of number->string that shadows the Kawa version.  We should not shadow it.  That confusion caused problems for the open source group.

[2014-11-10 15:32] themadrobot opened #162 "New math convert unit blocks"
A request that has been asked a number of time is for a way to convert decimal values to hexdecimal. I have created a few maths blocks that allow Unit Conversion such as:

- Decimal to Hexdecimal
- Hexdecimal to Decimal
- Decimal to Binary
- Binary to Decimal

[2014-11-12 18:39] #161 closed, assigned to jisqyv

[2014-11-19 05:57] toop1382 opened #168 "ttttt.apk"
tttt

[2014-11-19 11:40] #168 closed, assigned to nobody

[2014-11-23 22:28] halatmit opened #169 "Possible parsing bug relating to CR and CLF"
See forum issue

https://groups.google.com/forum/#!topic/mitappinventortest/tzoNdh4HyYY

together with sample app.

[2014-11-29 17:57] halatmit opened #170 "Update emulator to Gingerbread"
@afmckinney
When we push new setup packages, update the emulator, probably to Gingerbread.

[2014-12-07 17:42] halatmit opened #172 "Change designer selections for "visible""
They currently say "visible" and "hidden", although the actual values are true and false.   Probably should change this to a checkbox, like the other boolean properties.

[2014-12-08 22:28] marksherman opened #173 "Prevent AIA files from being uploaded to projects as media assets"
It is possible for beginners who are trying to load a template AIA source file to upload them into an existing project as media assets. Beginners may be susceptible to this mistake if they had recently learned how to upload media assets, which is commonly a 1st or 2nd session event.

This mistake was observed during a teacher training.

I propose a feature that checks media uploads. If the user at

[2014-12-12 14:36] halatmit opened #174 "Slashes in picture filenames handed differently in live development vs. packaged mode"
See Lyn's report on the poweruser forum at

https://groups.google.com/forum/#!topic/aipowerusers/WQQQB3d5Ty4

This is a bug, but also look at the documentation on specifying media files and see if that needs to be updated.

Taifun's comment:
see also Accessing Images and Sounds, however in the documentation is an error (this already has been reported)
this is wrong:
/sdcard/Music/Blondie/The Best

[2014-12-12 17:03] marksherman opened #175 "checkbox.setChecked is deprecated"
in file: BooleanPropertyEditor.java

This file defines the boolean checkbox property (such as visibility or enabled) in the designer palette.

It uses checkbox.setChecked() and checkbox.isChecked() which are deprecated.

Full file location: ./appengine/src/com/google/appinventor/client/widgets/properties/BooleanPropertyEditor.java

[2014-12-14 14:55] halatmit opened #178 "Add fontsize property to ListView"
This should be simple.  Look at ListView.ItemsToColoredText and include AbsoluteSizeSpan similar to ForegroundColorSpan.   Set dp flag to true. Or do we really want RelativeSizeSpan?

[2014-12-15 17:28] marksherman opened #180 "useFront property of camera no longer works"
This property relied on an undocumented feature of the android camera system, so there was a well-known risk that it may stop working someday. That day came faster than anticipated.

It appears that the feature has been removed from nearly all androids, including older ones. My guess is a google play services update was pushed out that removed it, even to old 2.3 devices.

Leaving the useFront fea

[2014-12-17 15:45] halatmit opened #181 "Check the tutorials on the MIT App Inventor web site and update them if necessary"
The stock quote tutorial gives errors when you load it (in the references to the inputs).  Presumably other tutorials have atrophied as well.  Go through all the tutorials (aia and apk files) and fix the ones that need fixing.

[2014-12-17 20:41] #181 closed, assigned to nobody

[2014-12-18 01:10] halatmit opened #182 "Filter bar in listview is broken"
See this thread, and the comment from Taifun

https://groups.google.com/forum/#!topic/mitappinventortest/1K3FwCmgGSc

[2014-12-19 15:32] marksherman opened #184 "Request: In asset upload, coerce bad characters in file names into good ones"
Instead of simply failing to upload, rename the file automatically during upload to become valid.
For example: changing dashes and spaces to underscores.

Solution may be related to #173
@jisqyv

[2014-12-23 02:40] halatmit opened #187 "Listpicker orientation not linked to screen orientation"
If you open a listpicker, the orientation of the list (portrait or landscape) is determined by the orientation of the physical device, even when the screen orientation property is set to portrait or landscape.
Presumably the open listview is a separate activity and we are not setting the screen orientation correctly for that.   Similarly, check listview and the other pickers.

See issue

https://g

[2014-12-23 18:34] marksherman opened #188 "MediaUtil is slow when filenames have case-insensitive match"
When loading an image (say to a sprite's picture), if the image file and request string are case-different, it triggers a super-slow case insensitive search, but only when compiled to APK.

For a full discussion, see https://groups.google.com/forum/#!searchin/app-inventor-dev/app$20really$20slow$20when$20installed/app-inventor-dev/sPFLptUj_mc/EL22HVtMsbAJ

I just validated that this bug is still p

[2014-12-25 03:39] #160 closed, assigned to nobody

[2014-12-25 17:31] halatmit opened #193 "Explore using scalable fonts"
Check on switching to scalable fonts after moving to API Level 4.
Consider also following the Android style guide of mostly using 12, 14, 18, 22  scalable.
And also providing the textAppearance property.

[2014-12-26 21:15] halatmit opened #194 "Bug on property tooltip generation"
@jisqyv
@afmckinney

Something is wrong with block generation for properties.  I can't believe that this used to be in App Inventor, and I don't know when it appeared.  Perhaps a side-effect of internationalization?  Could someone look at this and let's check it.

Here's the bug:

(1) The the tooltips on the proprty blocks with dropdowns are wrong.  There generate the tooltips for a property other

[2014-12-28 02:40] halatmit opened #195 "Create setter blocks that select from a list of values"
Implement property setters that choose from a selection of values.  For example, the setter for screen.alignvertical should allow only top, center, and bottom.  This could be implemented with a new kind of block that incorporates a dropdown.  Make sure the dropdown uses the list-of-pairs method to accommodate internationalization.
Implement a new property editor type that generates this block from

[2014-12-28 02:58] halatmit opened #196 "Create margins on labels"
Currently in the designer, components like labels and button have small margins, but there are no margins on the phone.
For simplicity, I think we should have only three margin values, and the top/bottom/left/right margin should all be the same: done with a margins property for visible components.
Margins should have only three values: tight, default, and loose
These should be implemented in the d

[2014-12-29 13:52] #169 closed, assigned to nobody

[2014-12-29 19:52] #194 closed, assigned to fturbak

[2014-12-30 03:50] halatmit opened #200 "Sound not ready error 710"
See the issue and blocks at:
https://groups.google.com/forum/#!category-topic/mitappinventortest/specific-programming-issue/lCt2Rh-D93M

Problem is that Sound gives errror 710 if not ready.

[2014-12-31 15:59] halatmit opened #203 "Designer startup glitch on ScreeScrollable"
Create a project with a canvas and make it's vertical fill_parent.

You'll see that it doesn't fill in the designer.

To fix this, go to the screen proprties in the design.  Check Screen "scrollable" and then uncheck it and the canvas should fill.    It looks like the startup for the Form(?) assumes the screen is Scrollable even though the designer says that it's not.

[2014-12-31 16:03] halatmit opened #204 "ItemTextColor property for ListPicker"
Add a property to Listpicker that determines color of the text items, similar to ListView.  Note that this is called TextColor in LisstView, but ListPicker already has a different property called TextColor that controls the text on the listPicker Label.

[2014-12-31 17:09] #187 closed, assigned to kkashi01

[2014-12-31 20:07] halatmit opened #205 "Commas should not be allowed in component names"
Including a comma breaks building the apk file.

What other bad characters are we permitting?

[2015-01-01 14:30] josmas commented on #180
code to mark bad blocks has been around for quite a while: https://github.com/mit-cml/appinventor-sources/pull/112

[2015-01-02 18:41] kkashi01 commented on #204
How about ItemTextColor or ElementTextColor

[2015-01-02 19:33] weihuali0509 commented on #129
@halatmit @josmas I don't see an option to close this issue, I guess I don't have the admin right. Please close it for me.

[2015-01-02 19:34] halatmit commented on #129
closed

[2015-01-02 19:34] #129 closed

[2015-01-02 19:54] halatmit commented on #204
ItemTextColor sounds good.  Maybe we should also change ListPicker.TextColor to ListPicker.ItemTextColor.

[2015-01-02 20:01] kkashi01 commented on #204
@halatmit For 2nd part, are you referring to ListView.TextColor to ListView.ItemTextColor
If so, should the block be marked as bad?

[2015-01-02 20:14] halatmit commented on #204
Maybe I'm confused be don't want to mark it as bad -- just change the
property name, which is one of the things the upgrader should do,

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Fri, Jan 2, 2015 at 3:01 PM, kkashi01 <notifications@github.com> wrote:

[2015-01-02 20:19] kkashi01 commented on #204
If we just rename ListView.TextColor to ListView.ItemTextColor, doesn't it break existing apps that had used ListView.TextColor?

[2015-01-02 20:30] halatmit commented on #204
One of the functions of the upgrader is to rename existing blocks when
projects are read in. We've been doing that since Google days in AI Classic.

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Fri, Jan 2, 2015 at 3:19 PM, kkashi01 <notifications@github.com> wrote:

[2015-01-02 21:29] #196 closed

[2015-01-03 01:23] halatmit commented on #172
Pull request was merged on Dec. 26.  (change 1318)

[2015-01-03 01:23] #172 closed

[2015-01-03 13:02] #188 closed

[2015-01-03 21:50] halatmit commented on #205
handled by pull request #206

[2015-01-04 13:28] halatmit opened #208 "Transfrom CRLF to \n"
Change blocklyeditor/src/generators/yail.js, quotifyForREPL  so that CR followed by LF is treated the same as LF, i.e., transformed to an unescaped \n

This is to handle lines read in from Windows systems.
See forum issue

https://groups.google.com/forum/#!category-topic/mitappinventortest/tzoNdh4HyYY

[2015-01-04 16:08] halatmit opened #209 "Close application should be permitted in live development mode"
I think our current mechanism can handle this in the case of multiple screens, but we need to think about how to handle services.  It might be that it's OK to just kill the process.

[2015-01-04 18:30] halatmit opened #210 "Add a filer event to indicate when the file has been written"
The output side equivalent to File.GotText.

[2015-01-04 18:35] kkashi01 commented on #210
@halatmit Can you provide more explanation? What is a filer event?

[2015-01-04 18:44] halatmit commented on #210
This would be similar to File.GotText, but on the output side.   It's an event that would be signaled at the completion of a File.SaveFile or File.AppendToFile command.
For implementation, look in File.java at how ReadFrom uses AsyncRead and do the analogous with Write.

[2015-01-07 16:19] marksherman opened #211 "Spinner component lacks many properites"
Brought up in the dev forum by @EnisM  and @fturbak
https://groups.google.com/forum/#!topic/app-inventor-dev/VZ37e9sOPuM

The Spinner needs properties added:
- enabled
- background color
- font bold/italic/size/typeface/color
- text alignment
- height
- BeforeSelecting event and handler

The most critical is probably the BeforeSelecting handler, which will allow elements to be set when the Spinner

[2015-01-09 22:20] halatmit opened #213 "Player bug with Lollipop (and Kitkat?)"
There's a bug with starting and stopping the player (and mediaplayer in general?) that has appeared with Lollipop and Kitkat.   Please try the example aia file here.  Both Taifun and I have verified this broken behavior.

https://groups.google.com/forum/#!topic/mitappinventortest/eQqqvwSdc1Y

It looks like the bug and the solution are discussed here:

http://stackoverflow.com/questions/21790824/me

[2015-01-10 02:52] halatmit opened #214 "Improve error message when Fuision Tables gets a bad query"
Currently it just returns "error" as the query result.

[2015-01-11 02:15] cdalsass commented on #208
I think the proper place to fix this is within the CSV parsing functions such as CsvUtil.java. quotifyForREPL deals with escaping strings from Blockly passed to REPL, and doesn't deal with what's inside CSV files.

FYI: feel free to assign this issue to me.

[2015-01-11 02:44] halatmit commented on #208
I agree:  It seems like a simple change to quotifyForREPL

[2015-01-11 02:51] halatmit commented on #208
Assigned (and invited as a developer)

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Sat, Jan 10, 2015 at 9:15 PM, cdalsass <notifications@github.com> wrote:

[2015-01-11 04:24] halatmit opened #215 "pizza party tutorial broken? -- check cache control in webviewer"
The pizza party tutorial is broken in that the webviewer doesn't show new orders.   It seems like a cache issue -- maybe kitkat or lollipop added a cache?   Please check this out and fix it by adding a cache control property to the webviewer, or a load-no-cache or something like that.

[2015-01-12 20:48] halatmit opened #219 "SetFocus for textboxes"
Here's a suggestion form Enis for a new useful feature.

Here's the reference from the SDK:

Added in API level 1

Call this to try to give focus to a specific view or to one of its descendants. A view will not actually take focus if it is not focusable (isFocusable() returns false), or if it is focusable and it is not focusable in touch mode (isFocusableInTouchMode()) while the device is in touch

[2015-01-13 00:09] halatmit commented on #205
merged

[2015-01-13 00:09] #205 closed

[2015-01-13 02:59] cdalsass commented on #208
I don't think this is a bug. Rather, the original poster seems to have been confused about the API. (He should not have been putting CRs or LFs into a CSV "row" unless it was surrounded by quotes). This led to discussion which got somewhat off track from original problem. See my response at https://groups.google.com/d/msg/mitappinventortest/tzoNdh4HyYY/Q1hc3xMoUOgJ

[2015-01-13 03:15] halatmit commented on #208
Whether or not it's the original issue with CSV, the problem to fix here arises from reading a file from a Windows machine, which ends lines with CR LF, unlike Mac and Linux, which ends them with just LF.   The solution we decided on is for the parser to transform occurrences of CR followed by LF into and unescaped LF, just as if it had read an LF without the CR.

[2015-01-13 04:59] jisqyv commented on #215
@halatmit I added a ClearCache function to the webviewer and verified that it worked. However it still didn't fix the issue with the Pizza Party tutorial. I believe Google's servers are not updating the web server in real time. In particular I cleared the webviewer cache before each fetch of the URL of the Pizza Party fusion table, and the table still took some time (measured in 10's of seconds) t

[2015-01-13 12:06] halatmit commented on #215
Thanks.

We should update the tutorial once you add the ClearCache, and also add a
note so people wont expect to see thte update immediately.

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Mon, Jan 12, 2015 at 11:59 PM, Jeffrey Schiller <notifications@github.com

[2015-01-13 20:11] cdalsass commented on #208
I do understand the problem. However, I disagree that quotifyForREPL in yail.js is the best place to make changes. (But maybe I am misunderstanding the code - I apologize if that's the case).

Question: Has there has been a persistent problem in AI2 with newline issues, prior to this post? (From reading the original Google post, it appears to me the bug was just noticed in December - which contrad

[2015-01-13 21:40] jisqyv opened #220 "Screen Switching should send all Yail in one shot"
This should make screen switching both faster and less error prone.

[2015-01-13 21:43] halatmit commented on #208
Taifun, Lyn:

What do you think about Charlie's comment?

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Tue, Jan 13, 2015 at 3:11 PM, cdalsass <notifications@github.com> wrote:

[2015-01-13 22:56] puravidaapps commented on #208
I don't know, if the problem already existed earlier, but this actually is not relevant, is it?
I'm sorry, I can't comment on where is the best place to make changes in the code.
Btw. in the forum there is currently another discussion about \n, see here https://groups.google.com/d/msg/mitappinventortest/bwLwrGNk-Mo/PnjPJNa9PIwJ which probably also  is relevant for this issue?
Taifun

[2015-01-13 22:59] halatmit commented on #208
+ charlie, lyn

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Tue, Jan 13, 2015 at 5:56 PM, Taifun <notifications@github.com> wrote:

[2015-01-14 16:44] cdalsass commented on #208
Thanks so much for the feedback, Taifun!

If there are not ongoing problems reported with Window and Mac compatibility, it may be better use of time to focus on other bugs. I don't see a trivial, yet clean (e.g. well-designed) solution to this problem. Still open to other suggestions. (Might be better to discuss in person).

p.s. the link you provided appears to be a different issue.

[2015-01-16 12:19] halatmit opened #221 "Add the ability to define the center of rotation for an image sprite"

[2015-01-16 13:03] josmas commented on #221
@themadrobot It would be a matter of extracting just that bit of functionality and apply it to the existing component. If that can be done, that's great, if not, I'll take this ticket for open academy as a starting project.

[2015-01-16 14:18] halatmit commented on #221
@josmas @themadrobot
I think this in itself would be too small a project for OpenAcademy, but if it's included in a collection to thins to support gaming, that would make a nice project.    I expect a lot lot of that can be build on Gareth's work.
I might try to assign this more limited rotation and center project  to a student here.   But in the meantime it would be good to scope out the larger e

[2015-01-16 15:48] josmas commented on #221
@halatmit I'd say it's big enough as a starter project (not as a main project) but sure, if there's someone closer to the team to take this on, that would be better and easier.

I'm thinking about new components for Open Academy, instead of patching up the old ones. High level components such as a '2D platformer' component with more than one main concept built in, like the work I started with maps

[2015-01-16 15:52] halatmit commented on #221
Sounds like a good project.

If you really want to expand things, how about creating an OGL canvas
component?

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Fri, Jan 16, 2015 at 10:48 AM, Jos <notifications@github.com> wrote:

[2015-01-16 18:03] josmas commented on #221
I like the idea but OpenGL views on Android sound really complicated. On the other side, and again following ideas tested in the unfinished maps component, it should be possible to integrate with a library like [three.js](http://threejs.org/) and have very similar functionality in a web view, programming it all in js. Definitely something to consider :)

[2015-01-17 17:39] halatmit commented on #208
How did you decide to handle this?

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Tue, Jan 13, 2015 at 3:11 PM, cdalsass <notifications@github.com> wrote:

[2015-01-17 18:17] cdalsass commented on #208
Hal, if you are asking me (sorry, but I can't tell who your question is directed to)...  'close as not a bug' unless there are persistent problems with Windows/Unix text files. If there are ongoing problems, I'd recommend you reopen as new bug describing the problem more generally. I'd also add some simple test cases, so we can be sure it's fixed.

[2015-01-17 19:17] halatmit commented on #208
Taifun,

Would you like
to comment?
 On Jan 13, 2015 3:11 PM, "cdalsass" <notifications@github.com> wrote:

[2015-01-17 22:42] halatmit commented on #208
Taifun,

Could you comment on this?  My understanding is that we need this change in
App Inventor in order for people to read files, independently of whether
the files were produced by Mac/Linux vs. Windows.

Is that your understanding?

Charlie, if you don't think this fix is necessary, how would you propose to
deal with the issue?

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept

[2015-01-17 22:49] halatmit opened #224 "Blocks editor bug: typeblocked user procedures lack parameter sockets"
Please see this thread

https://groups.google.com/forum/#!topic/mitappinventortest/5V1JeWv2jYA

[2015-01-18 13:01] puravidaapps commented on #208
yes, exactly.

From a user point of view it doesn't matter if a file was created with Windows or Linux/Mac, the user only wants to get rid of the invisible newline character (be it CRLF or LF only)
so this currently works only for Linux/Mac files (LF), but not for Windows files (CRLF)...
If I use the replace all block to replace \n, I would expect to get the newline character(s) removed (be it CRL

[2015-01-18 14:04] halatmit commented on #208
I find Taifun's comment convincing.   Charlie, do you want to take this on, or should someone else do it?

[2015-01-18 14:41] cdalsass commented on #208
OK.

I'd like to finish it up.

I'll probably modify ReadFrom -> AsyncRead() in File.java line line 261. Trivial to replace text directly there as I have it in memory as String.

I wonder if we should include a backward-compatibility option for case (a) below. Do you think that's an issue knowing what scripts people have developed?

I am still have some concerns:

a) I bet will there will be a few

[2015-01-18 14:56] halatmit commented on #208
I was imagining putting the change in quotifyForREPL because that's the
same place we worry about backslashed \n, and it seems safer to localize
all of that transformation stuff in the same place.

I don't know what the implications are of putting it in file.java.   What
happens, for example, if a user types

abc\r\ndef

into a text box, retrieves the contents, and hits DoIt.  What is shown in
the

[2015-01-18 15:17] halatmit commented on #224
This is pull request 121.
@josmas @evanrthomas @jisqyv @afmckinney
Evan, will you be finishing this up?  Do you need help?

[2015-01-18 17:30] EnisM commented on #211
To add to what Mark posted above, I think the MOST important thing is fixing the issue:
#132 https://github.com/mit-cml/appinventor-sources/issues/132

first,  If these other properties can be added great.

One property missing from the list above is VISIBLE!  You need to be able to hide and show these puppies.

[2015-01-18 18:01] cdalsass commented on #208
Yes, I am also worried about unexpected bugs (if I modify File.java).

Maybe you are right all along, saying quotifyForREPL is the best place to modify.

This solution doesn't feel right to me because it means making changes in a place completely unrelated to text files, violating single responsibility principle and confusing developers in the future. "I'm quotifying for REPL, but I also just happ

[2015-01-18 18:03] josmas commented on #224
Just adding link to #121 so we close this when the other one is closed

[2015-01-18 18:17] halatmit commented on #208
Thanks, take a look.

I'd feel safer if all the backslashy stuff was handled at the same place in
the code.

But let me know.

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Sun, Jan 18, 2015 at 1:01 PM, cdalsass <notifications@github.com> wrote:

[2015-01-19 13:27] themadrobot opened #228 "Wrong appengine SDK specified in AI Developers guide"
Currently in the AI Developers guide https://docs.google.com/document/pub?id=1Xc9yt02x3BRoq5m1PJHBr81OOv69rEBy8LVG_84j9jc under section 5.1 it states

AppEngine SDK ( https://developers.google.com/appengine/downloads )
a. The current supported version for MIT App Inventor is 1.6.4.1.

This needs to be changed to something like
a. The current supported version for MIT App Inventor is minimum versio

[2015-01-20 14:21] cdalsass commented on #208
I took another look at quotifyForREPL this morning.

I alert()'d the arguments passed to quotifyForREPL and exercised the functionality of uploading a media file, reading it etc. At no time are the **contents of media files** ever passed into this function. (Perhaps this point is where there is confusion in our discussions. Perhaps you think the file contents are entered in a text box? They are no

[2015-01-20 16:36] marksherman commented on #211
updated list to include visibility

[2015-01-21 06:34] EnisM commented on #211
Thanks Mark...

On Tue, Jan 20, 2015 at 11:36 AM, Mark Sherman <notifications@github.com>
wrote:

[2015-01-21 14:12] #228 closed

[2015-01-24 05:11] EnisM commented on #211
BTW, #132 needs to be done as well when these other items are added, or before.  That's a pretty annoying issue too...

[2015-01-24 12:51] halatmit commented on #132
@jisqyv
should this issue be closed now?

[2015-01-24 12:54] halatmit commented on #155
This is the same as issue #195

[2015-01-24 12:54] halatmit commented on #195
This is the same as issue #155

[2015-01-24 17:27] EnisM commented on #211
Sorry... Visibility is there.  I was actually using it and completely drew a blank... It should be removed from Mark's list above...  Again, sorry about that...  Mark, can you remove that from the list? and remove your Updated List comment and I'll remove my other two...

[2015-01-25 02:23] EnisM commented on #132
Jeff said he tested and merged PR 134, but I'm not sure if this is fixed. I asked him but haven't heard back yet... It's a pain though... I've been working a lot with spinners lately and this AfterPicking, and when it's triggered is really annoying.

[2015-01-25 02:54] halatmit commented on #132
@jisqyv
Jeff, Did you fix this as part of working on PR 134?

[2015-01-25 03:06] jisqyv commented on #132
@EnisM Yes, this is fixed. Keep in mind that it isn't in the release yet, just in the master branch.

[2015-01-25 03:06] #132 closed

[2015-01-25 03:07] EnisM commented on #132
Great... Yes, I know merged and released... I'm still content it's merged
as it means we'll see it fairly soon... Thanks Jeff...  Another one off the
list... congrats!

On Sat, Jan 24, 2015 at 10:06 PM, Jeffrey Schiller <notifications@github.com

[2015-01-25 03:15] halatmit commented on #132
Thanks!  I thought that might be the case.

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Sat, Jan 24, 2015 at 10:06 PM, Jeffrey Schiller <notifications@github.com

[2015-01-25 22:32] jisqyv commented on #224
#121 merged, this is fixed.

[2015-01-25 22:32] #224 closed

[2015-01-26 01:30] jisqyv commented on #204
#207 is merged. Closing this issue.

[2015-01-26 01:30] #204 closed

[2015-01-26 01:44] jisqyv commented on #208
#230 merged. Closing this issue.

[2015-01-26 01:44] #208 closed

[2015-01-30 14:57] halatmit opened #235 "Incorrect error message"
See this thread on an incorrect error message in the Chinese verison

https://groups.google.com/d/msg/mitappinventortest/mxmM5mD31os/7CrFZDA62A8J

This question is why is this saying that the error is in applying the + operation, when there doesn't seem to be any + block here.

[2015-01-30 23:18] halatmit opened #236 "Sound recorder not working on some phones"
A user claims that evey app that uses the sound recorder component crashes on some phones, including  THL 5000 and  the Elephone p8 Pro.  The phones are running Android 4.4.2.
Check whether this happens with 4.4.2 in general, or whether it's something about those phones.

Look here for the original comment

https://groups.google.com/forum/#!category-topic/mitappinventortest/16Pv_0WT_yc

[2015-01-31 15:16] halatmit opened #237 "Let sound recorder specify the file where the sound is saved"
Add someething like canvas.saveAs, or add a property to soundRecorder to let users specify where the recording should be saved.

[2015-01-31 15:18] halatmit commented on #162
This is being handled in pull request 165.

We'll close this issue when that has been finished.

[2015-01-31 21:49] halatmit commented on #235
I'm unable to duplicate this.  Asked the user to send the aia file.
Is it possible that "add item to list" was somehow being rendered in the error message as "+", because of a bug in the translation?  That doesn't seem to be happening now.

[2015-01-31 22:05] halatmit commented on #200
I cannot duplicate this.   I've asked Enis to send  a project that elicits it.

[2015-02-01 03:36] ReachAayush commented on #237
Hello @halatmit,

Do you want users to be able to specify the path to where the recording is being stored?

If we added a method block to allow user to set fileName would this satisfy your request?

[2015-02-01 13:42] halatmit commented on #237
I think it should be a property rather than a method.  I'll add this to the fix I'm currently making to SoundRecorder in PR #238

[2015-02-02 01:51] jbensal commented on #211
I'm going to look into this! I'm Jay from Open Academy '15.

[2015-02-02 01:53] halatmit commented on #211
Thanks!

[2015-02-02 02:50] halatmit commented on #237
This is implemented in pull request #238

[2015-02-02 03:25] ReachAayush commented on #219
Hello @halatmit

I have started working on this and have come up with a setter and a getter for the Focus property of textboxes.

This is a screenshot of what the options look like from the textbox methods menu:
![screenshot](https://cloud.githubusercontent.com/assets/2350321/5995170/14dcec14-aa5a-11e4-9457-18e1ea40b214.png)

[2015-02-02 03:32] halatmit commented on #219
Looks good.  Thanks!

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Sun, Feb 1, 2015 at 10:25 PM, ReachAayush <notifications@github.com>
wrote:

[2015-02-02 03:39] halatmit opened #242 "Type blocking is broken on current master"
Typeblocking does not work.  And any When blocks created by type blocking appear as black blobs,
This problem exists on the current master, but no on the current release.
What things got merged between then and now?

[2015-02-02 17:06] jisqyv commented on #242
@halatmit I'll have a pull request to fix this shortly. Just testing it out now.

[2015-02-02 19:28] jisqyv commented on #242
Fix has been merged.

[2015-02-02 19:28] #242 closed

[2015-02-03 19:07] jisqyv commented on #237
MERGED

[2015-02-03 19:07] #237 closed

[2015-02-04 08:25] halatmit commented on #219
Like the looks of this... This will REALLY help....

On Sun, Feb 1, 2015 at 10:32 PM, Hal Abelson <hal@mit.edu> wrote:

[2015-02-04 08:27] EnisM commented on #211
Jay... I'm one of he people that brought this up... if you need some
testing on this set of thing, email me...

Enis

On Sun, Feb 1, 2015 at 8:53 PM, hal <notifications@github.com> wrote:

[2015-02-04 08:42] ReachAayush commented on #219
Added pull request #244

[2015-02-04 17:39] EnisM commented on #200
Posting one on the forum... Run it in the emulator... First click on a button (only first 4 do anything), get error.  Click again, works...

[2015-02-04 22:26] EnisM opened #245 "Really Need a Processing Dialog Message"
This probably isn't that difficult to do and it would be VERY helpful, especially in situations when you know what you're going to do in AI Code will be time consumptive...

![prog1](https://cloud.githubusercontent.com/assets/10585909/6051391/a9480158-ac95-11e4-84b8-50f4c5738612.png)

Could have two blocks... one to turn it on and add a message:
![waitingblock1](https://cloud.githubusercontent.com

[2015-02-04 22:57] halatmit commented on #245
This should probably be a emthod in the Notifier component, rather than a separate component.

[2015-02-04 22:59] EnisM commented on #245
Agreed, if it doesn't screw the Notifier up... It would be MUCH clearer if it could be included in the Notifier component because it is indeed, a notifier of sorts!

[2015-02-04 23:11] kkashi01 commented on #245
How about:
ProgressShow(String title, String message)   //if empty title, then remove title -- always cancellable
and
ProgressDismiss()  // cancels if already on

[2015-02-05 00:43] EnisM commented on #245
No need for title... just message... These things don't usually have titles... just a simple message telling the user what's going on in the background (please stand by, Loading File, Merging Text etc.)

[2015-02-05 18:49] halatmit commented on #200
This is working as intended, as far as I can see.   See my note on the forum.

[2015-02-05 18:49] #200 closed

[2015-02-06 04:07] halatmit commented on #235
I can't duplicate this and there's been no response to the request for an example.  We can revisit this if the problem surfaces again.

[2015-02-06 04:07] #235 closed

[2015-02-06 06:31] EnisM commented on #211
Would like to add a property to this please!  A count of total items in spinner list...

[2015-02-06 18:19] jisqyv commented on #219
Pull Request #244 merged.

[2015-02-06 18:19] #219 closed

[2015-02-06 19:05] jisqyv commented on #215
I have added the Clear Caches operation to the WebViewer. However it doesn't always make Pizza Party work as expected. There appears to be a delay on Google's side from when a change it made via the API and when the Fusion Tables webinterface sees the change.

[2015-02-06 21:33] jisqyv opened #248 "Add a Test to make sure YaVersion is updated"
A common mistake when updating components (and reviewing same) is to forget to update the component version in YoungAndroidFormUpgrader and YaVersion.java. We need a more automated way to catch this problem when performing our unit tests.

[2015-02-07 00:00] halatmit opened #250 "Bug when string passed in multi-screen apps contains spaces"
From Ghica, and verified by Hal

I have this super simple app with 2 screens. You open the second screen, type something in the text box, the text should contain spaces, and then press return button.
The text in the first screen contains only the text before the first blank.
Strange!

Verified by Hal

This might have to do with the fact that values passed in intent.putextra are XML encoded.

[2015-02-07 16:51] halatmit commented on #250
I just tried this again, and the problem wasn't there.    Hmmm.....  Needs more investigation.

[2015-02-08 01:54] halatmit opened #251 "Fix the activity starter and documentation"
The documentation in  "How to Use the Activity Starter" is obsolete.  And many of the examples are now wrong,  See

https://developer.android.com/guide/components/intents-common.html

Upgrade the activity starter so that is can handle most (all?) of the examples on the common-intents page, and maybe more.   This should  be.   App Inventor users should be able to provide a lot of keys rather than j

[2015-02-10 15:33] halatmit opened #254 "End application operation needs to end the application, not just the activity"
Currently this block ends only the activity, which is not the right thing when there are multi-screen apps, or when we'll have services.
Same thing for the end application operation in the menu.

Also need to check how this works in live development mode.

[2015-02-10 20:32] jisqyv commented on #254
@halatmit This one is tricky. I just implemented close Application by having it locate all of the running Forms (screens) and calling finish() in each one (instead of calling System.exit()). This *should* leave services alone that are running because we don't kill the process.

HOWEVER the side effect is you cannot restart the App from the launcher. If you do, it appears to immediately exit (not s

[2015-02-10 21:24] jisqyv commented on #254
OK. I'm confused now. I went back to the Master branch and built a three screen app.

Screen1 => Screen2 => Screen3

If I invoke the close application block on any screen, the application exits as expected.

Now the "close application" block does call System.exit(), so we need to think about what this means when we implement services.

-Jeff

[2015-02-10 21:24] #220 closed

[2015-02-10 21:27] jisqyv commented on #254
@halatmit OK. To be clear. The "close application" block does work as expected in a packaged application. It is not supported currently in the Companion.

It would be easy to change this, very easy.

-Jeff

[2015-02-10 22:13] halatmit commented on #254
See the comment at line 1338 Form.java about why close application works
with multiscreen.

I doubt that works for services.  I think there's a way to say "clobber
this thing and any services it started" but I don't know what it is.

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Tue, Feb 10, 2015 at 4:24 PM, J

[2015-02-11 02:31] jisqyv commented on #254
Oh, System.exit(0) will clobber services, they run in the same Java process as the activities (though there may be a way to start them in their own process).

[2015-02-11 02:39] halatmit commented on #254
Good.  I didn't realize that.

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Tue, Feb 10, 2015 at 9:32 PM, Jeffrey Schiller <notifications@github.com>
wrote:

[2015-02-13 02:57] halatmit opened #256 "check the Text-to-speech documentation"
From Steve:

When you all get around to updating documents...the TextToSpeech languages should be updated as per this thread.
Perhaps it is only more recent Android versions get Korean and Japanese or units manufactured in Asia?

[2015-02-13 19:04] kkashi01 opened #257 "type blocking on join block"
When performing type blocking on join, it returns the block with no sockets. I believe previously, it was returning 2 sockets.
![image](https://cloud.githubusercontent.com/assets/8935543/6193436/2f1958be-b389-11e4-90dd-1136bb53803d.png)

[2015-02-13 20:02] josmas commented on #257
This is happening to all blocks with mutators (try + or * in math, or 'add items to list').

[2015-02-14 14:30] halatmit opened #260 "Create simple ways for people to use the Intel HAX modue and/or Genymotion"
Both of these approaches can speed up and improve the use of the emulator, but are not simple to install.   We could provide documentation and/or some help from our installer.   How well can we do?

The HAX information is at
https://software.intel.com/en-us/android/articles/intel-hardware-accelerated-execution-manager

and setup documentation for my class with Genymotion is at

https://docs.google

[2015-02-14 19:14] halatmit opened #261 "Player bug"
I think the issue is that the player isn't released when the app exits

See this thread for the issue, and a test case:

https://groups.google.com/forum/#!msg/app-inventor-dev/M7gPjTwx6Q8/HfSuzGNUIIMJ

[2015-02-14 20:41] josmas commented on #175
closing issues; merged #177

[2015-02-14 20:41] #175 closed

[2015-02-14 20:44] josmas commented on #178
Is this fixed with https://github.com/mit-cml/appinventor-sources/commit/231a2b0d376f4239305872d66f5cdae32ff6cc6e ? Please close if that's the case (ignore the comment if it's not) cc/ @cooper-sloan @halatmit

[2015-02-14 20:46] josmas commented on #203
This might be related to the change made for screens being non-scrollable by default. It's a good bite-size (needs a bunch of debugging in the designer). Will change labels now.

[2015-02-15 16:39] halatmit opened #264 "XMLTextDecode cannoit handle the !CDATA flag"
See this thread

https://groups.google.com/forum/#!msg/mitappinventortest/TZO5InFSIkU/nqGwb4dPrUcJ

[2015-02-15 16:50] halatmit opened #265 "Renaming components that have collapsed events"
rename a component that has a collapsed  event handler , e.g. Button1.Click

this will not rename the collapsed block...
you first have to expand it to get the new name...

[2015-02-15 17:50] halatmit commented on #256
There seems to be no good (stable) source of documentation.  But it looks like we can add a command to get the available languages.   AI does this in ternally in TextToSpeech, and we should be able to expose it without much effort.

[2015-02-15 18:50] halatmit commented on #214
fixed with pull request #214

[2015-02-15 18:50] #214 closed

[2015-02-15 21:34] halatmit opened #266 "Create developer documentation for internationlization and upgrading"
It's not  documented what  developers need to to do when they add properties and methods and events to components, and change blocks.

We need documentation for this.   Currently the best we have is in the comments in Yaversion.java and versioning.js

[2015-02-16 02:54] halatmit opened #267 "Update activity starter documentation"
This is out of date for App Inventor 2.  It should be rewritten and also reformatted to permit user comments.  Also add tooltips  and consider renaming "plainText" to "rawText".

[2015-02-17 00:23] jisqyv commented on #257
Fixed by #258 which is merged.

[2015-02-17 00:23] #257 closed

[2015-02-17 18:39] josmas commented on #221
Hi @cooper-sloan, are you working on this? or is it up for grabs?

[2015-02-17 18:41] josmas commented on #182
@kkashi01 @halatmit Hi guys, what's the state of this issue? Has it been merged?

[2015-02-17 18:51] josmas commented on #141
This seems to have been fixed in #238 so closing now.

[2015-02-17 18:51] #141 closed

[2015-02-17 18:53] kkashi01 commented on #182
@josmas ListView was not returning the correct index. That fix was put in and addressed in [1]. This made it behave the same way as ListPicker. However, there was a request that when FilterBar is used and data is filtered, keep the original indices. Neither ListPicker nor ListView has fix for this.

[1]
https://github.com/mit-cml/appinventor-sources/pull/199

[2015-02-17 18:58] josmas commented on #182
@kkashi01 I see that #199 is still open; has it not been merged/reviewed?
It looks like it might need rebasing if it hasn't been merged yet.

If the PR fixes the first issue, I would suggest reviewing/merging and closing both the PR and this issue, and to open a new issue with the new request. What you guys think? cc/ @halatmit @jisqyv

[2015-02-17 19:03] kkashi01 commented on #182
@josmas Looking at code base, seems like this has been merged in.
Gerrit: https://gerrit.appinventor.mit.edu/#/c/1350/

[2015-02-17 19:07] josmas commented on #182
@kkashi01 is it this commit? https://github.com/mit-cml/appinventor-sources/commit/0db6ce014e3d816a503fc4f0fcbdb562c553af38

I am closing this guy now then. Feel free to reopen if that's not the case.

[2015-02-17 19:07] #182 closed

[2015-02-17 20:49] cooper-sloan commented on #221
I have everything done for rotating the sprite, however I'm still working
on changing the location of the sprite to be the center of location as
opposed to the upper left corner. It's trickier than I thought.

      - Cooper

On Tue, Feb 17, 2015, 1:39 PM Jos <notifications@github.com> wrote:

[2015-02-17 20:52] josmas commented on #221
Alright, no probs; just wanted to check in case it should be assigned to someone else. Have fun! :)

[2015-02-17 22:06] halatmit commented on #182
I agree.  Please merge and close this, and then open a new issue for the
new request

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Tue, Feb 17, 2015 at 1:58 PM, Jos <notifications@github.com> wrote:

[2015-02-17 22:21] halatmit commented on #221
Sounds good.   Get in touch if you need help.

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Tue, Feb 17, 2015 at 3:49 PM, Cooper Sloan <notifications@github.com>
wrote:

[2015-02-18 01:32] jisqyv commented on #203
The fix for this has been merged into master.

[2015-02-18 01:32] #203 closed

[2015-02-19 18:08] EnisM opened #273 "Need a Hide Keyboard Block for the Screen"
There are times when you want to hide the keyboard.  Presently, this can only be done in specific textboxes.  But, you may want to hide the keyboard after a spinner selection is made, for example.

We should have a Screen-Wide Hide Keyboard block:

![hk](https://cloud.githubusercontent.com/assets/10585909/6273779/0b5ad388-b840-11e4-9cb6-c05e3b6c04c7.PNG)

[2015-02-19 21:52] #178 closed

[2015-02-19 22:00] jisqyv commented on #273
There should probably be a complimentary OpenKeyboard block as well.

[2015-02-19 22:03] EnisM commented on #273
Agreed!  Great... Thanks Jeff...

[2015-02-19 22:10] EnisM commented on #273
Actually, what would you need the OpenKeyboard block for?  The only reason to have the keyboard open is for text boxes, and they self open the keyboard when they get touched.  On the screen itself, opening the keyboard makes no sense because it would be an arbitrary keyboard for nothing.

I can see having an OpenKeyboard for the textbox/password textbox components, but not for anything else...

Ju

[2015-02-19 22:32] jisqyv commented on #273
Actually, I agree with you now that I think about it...

[2015-02-19 22:46] puravidaapps commented on #273
you always can close the keyboard using the Textbox1.HideKeyboard method
which means, a screen wide hide keyboard block does not make sense imho...
Taifun

Am 19.02.2015 um 16:10 schrieb EnisM:

[2015-02-19 23:13] EnisM commented on #273
Taifun... You can't know when the user is done with their input until they move to another textbox.  Sometimes, the keyboard comes up for a text box.  Let's say, for argument's sake, there's two spinners underneath that textbox.  So, the user inputs into the textbox and then clicks on the spinner.  The keyboard stays open.

You can't anticipate that the user has jumped to another component, but if

[2015-02-19 23:39] puravidaapps commented on #273
so which event would you use in this case?
probably a Spinner.BeforeSelecting event would make more sense, then you
could put a Textbox1.HideKeyboard block in there...
Note: it doesn't matter which textbox opened the keyboard,
Textbox1.HideKeyboard will close it...
Taifun

Am 19.02.2015 um 17:13 schrieb EnisM:

[2015-02-19 23:41] EnisM commented on #273
That would be fine if there WERE a Before Selecting/Picking block for
spinners... Unfortunately, there isn't.

On Thu, Feb 19, 2015 at 6:39 PM, Taifun <notifications@github.com> wrote:

[2015-02-19 23:44] EnisM commented on #273
Oops... misread your message Taifun.  Yes, BeforeSelecting would be ideal
too.

Isn't it just simpler right now to be able to close the keyboard from
anywhere?

On Thu, Feb 19, 2015 at 6:41 PM, Enis Moran <shadowandmax@gmail.com> wrote:

[2015-02-19 23:47] puravidaapps commented on #273
I know... therefore I asked you: which event would you use in this case?
to introduce a Spinner.BeforeSelecting event would make more sense
instead of creating a screen wide hide keyboard method...
Taifun

Am 19.02.2015 um 17:41 schrieb EnisM:

[2015-02-20 00:04] puravidaapps commented on #273
if you want to close the keyboard before a spinner is clicked, you need
a Spinner.BeforeSelecting event
a method to close a keyboard from "anywhere" is already there, it is
called Textbox1.HideKeyboard
but "anywhere" can only be inside an event...
Taifun

Am 19.02.2015 um 17:44 schrieb EnisM:

[2015-02-21 13:37] halatmit opened #277 "Incorrect dropdowns on doc pages being served from Github"
The dropdown menus at the top of our website pages are incorrect on the pages that are being served from Github/ai2.   It looks that these were never changed when we updated the ones on the drupal server.  Is there some uniform way to update these?

[2015-02-22 16:41] halatmit opened #280 "Need a way to clear error triangles on blocks"
If you generate a red error triangle on a block, for example by running "do it", there seems to be no way to clear the error.  Can we do this with a dropdown selection?  Or have the error clear automatically in some other way?   For comment balloons we have "remove comment"

[2015-02-22 16:43] halatmit opened #281 "Do-it on a local variable gives nonsense value"
If you run do-it on a local varaible, you get a result like value:  "package $x" where x is the name of the variable.   If we can't make doiit work on locals, then at least we should give a sensible result.

[2015-02-22 18:03] jisqyv commented on #280
@halatmit If you fix the error and re-run "do it", the red triangle should clear. But I agree, it wouldn't hurt to have a simpler approach.

[2015-02-23 02:55] halatmit commented on #254
We should also think about the interaction with services.  Should a task be able to do close-application?

[2015-02-23 03:04] halatmit commented on #215
The Clear Cache operation deals with this, although it's not perfect.  Closing the issue.

[2015-02-23 03:04] #215 closed

[2015-02-24 21:05] EnisM commented on #281
Or eliminate the DoIt for the local variables altogether.

[2015-02-24 21:08] EnisM commented on #280
And along these lines, and Neil responded to a message to app-dev about this, there needs to be a way to show the error/warning triangles on collapsed blocks...  If you have 100 collapsed blocks and an error shows up, the only way to find it is to expand EVERY block, check it, then collapse it again...

[2015-02-24 21:09] EnisM opened #284 "Close Application Block Only Closes Screen if Not on Screen1"
If you have a Close Application block on any screen other than Screen1, the only thing that gets closed is that screen, and you're returned to Screen1.

[2015-02-24 21:54] puravidaapps commented on #284
???
I can't confirm this, if you open and close screens correctly, for
example using the manager screen method, you can use the close
application block on any screen to close the app...
@Enis: you might want to prepare an example proejct and we can take a
look at it...
Taifun

Am 24.02.2015 um 15:09 schrieb EnisM:

[2015-02-24 21:57] EnisM commented on #284
OK... In my app, there are ONLY two screens... If I try to close the app
from screen2, it closes screen2 and brings me back to Screen1.  I'll come
up with a sample...

On Tue, Feb 24, 2015 at 4:54 PM, Taifun <notifications@github.com> wrote:

[2015-02-24 22:17] halatmit commented on #284
I suspect that Taifun is correct here.   App Inventor's "close application"
closes a screen, and then the screen that started it, and then the screen
that started that , and so on.   See the code in
components/runtime/Form.java

Enis, could you create a test as Taifun suggests, and confirm?

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media La

[2015-02-24 22:27] EnisM commented on #284
Yes, I'll create a test tonight.
On Feb 24, 2015 5:17 PM, "hal" <notifications@github.com> wrote:

[2015-02-24 22:42] halatmit commented on #284
Thanks

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Tue, Feb 24, 2015 at 5:27 PM, EnisM <notifications@github.com> wrote:

[2015-02-24 22:54] EnisM commented on #284
I'll close the issue for the time being... In a basic, nothing in there
app, it works as expected.  I was thinking that maybe the BackPressed block
was interferring, but it's all working as a basic system, so i'll try to
find what's causing it to not work properly on my end...

On Tue, Feb 24, 2015 at 5:42 PM, hal <notifications@github.com> wrote:

[2015-02-24 22:54] #284 closed

[2015-02-24 23:03] EnisM commented on #284
OK, I found my issue... Terribly sorry to raise that flag...

I did this in a Notifier AfterChoosing, and passed the wrong dialog box (I
handle all of them by using a Global naming which dialog called the
notiofier) name so it's indeed working as expected.
​

On Tue, Feb 24, 2015 at 5:54 PM, Enis Moran <shadowandmax@gmail.com> wrote:

[2015-02-25 04:04] halatmit opened #285 "change HideKeyboard to be a single block under control"
.. rather than a method of textboxes.

[2015-02-25 04:33] halatmit opened #286 "add brackets to separate the aguments in error message"
I.e., a message such as

The operation + cannot accept the arguments: 30 and more
should instead be
the operation + cannot accept the arguments: [30] [and more]

[2015-02-25 04:38] jisqyv commented on #285
@halatmit So we should deprecate the TextBox.HideKeyboard method (and convert the blocks to the new generic block on project upgrade?).

[2015-02-25 04:40] halatmit commented on #285
Yes, that's what we should do.

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Tue, Feb 24, 2015 at 11:38 PM, Jeffrey Schiller <notifications@github.com

[2015-02-25 23:27] EnisM commented on #285
Thanks Hal...

[2015-02-27 09:12] #273 closed

[2015-02-27 16:51] halatmit opened #287 "Create listOfPairsToJson encoder for Web component"
We need a way to generate JSON.

Teh Web component can decode JSON to lists of pairs, and we should have an operation that goes the the other way.    There's also a desire to include dictionaries as an AI data type that should also translate back and forth to JSON, but let's not wait for that in before adding this simpler version.  Include an example of posting JSON to a Web service.

[2015-02-27 16:54] halatmit opened #288 "Create doc page on using JSON with Web services"
This should be analogous to the doc page on JSON and web services.

The doc should probably be done in conjunction with issue #287

[2015-02-27 23:14] halatmit opened #289 "Create a doc page on posting and emailing images"
We ought to have something in the "other" part of the documentation.

For posting, we can update Hossein's tutorial

https://amerkashi.wordpress.com/2014/02/27/how-to-develop-a-photo-boot-android-app/

There's also Eni's digital face painting app.

With either of these, there needs to be a shorter version that gives the gist, without going through the details of tutorial app construction.  Maybe t

[2015-02-28 01:32] halatmit opened #290 "Fix bug in clock documentation / methods"
From Emily

While I was using AI2 with services, I noticed a mistake in the documentation for the Clock sensor component:

In MakeInstant(text from), the documentation says the instant is specified as "MM/DD/YYY hh:mm:ss or MM/DD/YYYY OR hh:mm", when I think it  means to say "MM/DD/YYY hh:mm:ss or MM/DD/YYYY hh:mm” — I looked online, and there are a few users who are having problems using this met

[2015-02-28 01:43] halatmit opened #291 "documentation update for screen orientation"
From Taifun

http://ai2.appinventor.mit.edu/reference/components/userinterface.html#Screen

the current documentation is this

ScreenOrientation
    The requested screen orientation. Commonly used values are unspecified (-1), landscape (0), portrait (1), sensor (4), and user (2). See the Android developer docuemntation for ActivityInfo.Screen_Orientation for the complete list of possible settings.

[2015-02-28 01:45] halatmit commented on #267
documentation is done, but still need to do the renaming

[2015-02-28 03:31] halatmit commented on #286
this is PR #292

[2015-03-01 01:21] jisqyv commented on #286
Fix in master

[2015-03-01 01:21] #286 closed

[2015-03-01 19:05] halatmit commented on #256
Addressed in #293

[2015-03-01 21:55] jisqyv commented on #245
#268 Merged into master. ProgressDialog added.

[2015-03-01 21:55] #245 closed

[2015-03-01 21:56] EnisM commented on #245
Thanks Jeff... Can't tell you how useful this will be.  Very much
appreciated...
On Mar 1, 2015 4:55 PM, "Jeffrey Schiller" <notifications@github.com> wrote:

[2015-03-01 21:58] jisqyv commented on #245
@EnisM Thank Yash, he did the work. I just reviewed it...

[2015-03-01 22:04] EnisM commented on #245
Yes, I know, but you merged it and that means it's coming...

Thanks Yash... really appreciated...

On Sun, Mar 1, 2015 at 4:58 PM, Jeffrey Schiller <notifications@github.com>
wrote:

[2015-03-02 04:25] halatmit opened #295 "Internationalize the About menu in Form"
"about this application", etc.

requested in

https://groups.google.com/forum/#!category-topic/mitappinventortest/NhRJDbp793g

[2015-03-02 08:29] EnisM opened #296 "Need to Add SetFocus to the PasswordTextbox as well"
SetFocus for text boxes works perfectly.

Also need it for PasswordTextboxes...

[2015-03-02 09:30] josmas commented on #295
@halatmit as far as I know, there's no infrastructure in place to internationalize anything on the Android part of the system (error messages, and so forth).

[2015-03-02 15:35] halatmit commented on #295
Bummer.   We'll need to fix that.

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Mon, Mar 2, 2015 at 4:30 AM, Jos <notifications@github.com> wrote:

[2015-03-02 18:14] jisqyv commented on #277
Fix merged.

[2015-03-02 18:14] #277 closed

[2015-03-02 20:19] jisqyv commented on #296
I think the right thing to do is move the RequestFocus handler from TextBox to TextBoxBase which should cause it to be available to all subclasses of TextBoxBase which includes TextBox, PasswordTextBox and EmailPicker.

[2015-03-02 20:21] EnisM commented on #296
Thanks Jeff...

[2015-03-03 00:53] jisqyv commented on #296
Change merged into master

[2015-03-03 00:53] #296 closed

[2015-03-03 01:23] halatmit opened #298 "update the pizza party tutorial to include how to make a service account"
Notes from Aubrrey:

ADDITIONAL STEPS:

    In the Developers Console, where you created a Public API access key for your fusion table, click the Create new Client ID button. Select the Service account option, and click Create Client ID.
    A file called the KeyFile (ends in extension .p12) will automatically download onto your computer. Save it in a place you will remember. Once the creation is

[2015-03-04 16:26] jisqyv opened #300 "How about more color choices in the Designer"
When you look at the list of choices available for colors in the blocks editor you get a much nicer UI widget with a wide variety of colors. By comparison, the version available in the Designer (presumably part of GWT) has a much more limited selection of colors.

[2015-03-04 16:26] jisqyv opened #301 "How about more fonts/typeface choices in the Designer"
The font typefaces available within the Designer are somewhat limited, can we offer more?

[2015-03-04 19:45] EnisM opened #302 "Spinner (and probably ListPickers & ListViews) Don't Resize for Landscape"
I have a Spinner with a list of laboratories in English, and when in Bangla, the corresponding list in that language.  In English, they're very short and show properly in the spinners when they open.  In Bangla, they're very long and show with the ellipsis at the end because they exceed the width of the showing list.

When I change to Landscape, the width of the buttons change, but not the width o

[2015-03-05 01:07] halatmit opened #303 "Rewrite the location sensor component to use Googel sevices location Api"
See

https://developer.android.com/google/play-services/location.html

[2015-03-05 03:30] halatmit opened #305 "Improve language selection for text to speech in the designer"
We could make this a dropdown showing the available languages.
Maybe something similar for countries, but we migth need a 2-D dropdown since there are so many countries.

[2015-03-05 11:34] josmas commented on #303
@halatmit note that this needs [Play Services](https://developer.android.com/google/play-services/setup.html) in place, which in turn needs either a device running 2.3+ or an emulator running 4.2.2+

The level 4 API code is a good step towards this though.

[2015-03-06 02:54] halatmit commented on #298
Aubrey did this

[2015-03-06 02:54] #298 closed

[2015-03-06 03:00] halatmit commented on #250
This is not a bug.  The bad behavior is being causes by the misuse of close screen with text to return a raw text value to another screen, which is rxpecting a JSON encoded string.    The way to fix this is to rename CloseScreenWithText to somethng that will not lead people into misusing it.   Maybe Return Raw Text to External App, and Return to External App?

[2015-03-06 05:12] halatmit opened #307 "Dividing two integers should not return a rational"
App Iventor right now follows Kawa (and MIT Scheme) in producing rationals as the result of a division, e.g.,
(/ 1 2) --> 1/2
It would be less confusing to novices to produce a decimal.

[2015-03-07 01:31] EnisM commented on #300
+++

Never understood this... But at the same time, in that color list in the designer is almost impossible to reach all items on the drop down color list unless you've zoom WAYYYY out... Would be nice if the same selection box that pops up in blocks could pop up in the designer too...

[2015-03-07 01:35] EnisM commented on #260
I can help with this... I think the only difficult part is setting up Oracle's VirtualBox, which at first I struggled with a bit as I didn't understand all of the options...

[2015-03-07 14:58] halatmit opened #309 "Need to create default initial value for Spinner"
See this thread https://groups.google.com/forum/#!category-topic/mitappinventortest/Q2f0fyPsVk8

the user currently has to set the spinner selectionindex to a value (for example 1) to be able to do some data validation
probably a default value = 1 could be set automatically by App Inventor, in case the user forgot to do this?

[2015-03-07 18:51] halatmit opened #310 "Fix the MapIt tutorial"
Form Hossein:

Based on a recent posting HERE, I found out that there are differences between the MIT MapIt tutorial HERE and the one that I had initially developed and posted on my blog HERE. The MIT .aia source is missing some blocks, even though the tutorial talks about it. Could it be that the MIT version was reproduces by one of the students? At any rate, the .aia and .apk can be found at bot

[2015-03-09 18:45] EnisM commented on #309
My workaround for this was to create a dummy first item in the list... "Select Item..."

Then, when I do anything with the list, I check to make sure the selectionindex is > 1.

[2015-03-10 16:39] halatmit opened #311 "Bug in lookup-in-pairs"
See

https://groups.google.com/forum/#!msg/mitappinventortest/2hEzhiJEfkQ/fbTak248bZAJ

The problem is that a string "123" is not recognized as equal to a number 123.   Because Hal programmed it to use Kawa equal? to compare keys.  Need to account for number-string conversion.

[2015-03-12 23:18] ReachAayush commented on #309
Hello, I was looking to fix this as I am also tackling issue #211.

I was thinking that a possible solution would be to set the "String selection" to the empty string when the Spinner is created. Currently the selection string is null until a user selects something, which seems inconsistent with the fact that the default SelectionIndex is 0 if nothing is selected.

Please let me know if this worka

[2015-03-12 23:38] EnisM commented on #309
Personally, I think initial selection has to be the first item.

In my case, I worked around this by adding a dummy "Select..." item at the
top of the list, and then in processing, I check the selectionindex, which
oddly enough always starts out as 1 even though the value is null, and if
selectionindex = 1 then put up an error message.

Ideally, the thing should have the first item selected, but t

[2015-03-13 01:23] puravidaapps commented on #309
the default SelectionIndex is 0, so yes, empty string would be fine for
the default Selection imho
Taifun

Am 12.03.2015 um 17:38 schrieb EnisM:

[2015-03-14 15:42] halatmit opened #314 "Rewrite the Python "BOM" code in Java"
We use python to add the BOM (byte order marker) to the beginning of the blockly-all.js file (needed so Chinese characters are not corrupted).

Rewrite this in Java to remove the dependency on Python.

[2015-03-14 18:21] halatmit commented on #254
When fixing this fix the name "close application with plain text" to be more descriptive and hopefully less confusing

[2015-03-15 18:44] halatmit commented on #311
#315

[2015-03-16 01:35] halatmit commented on #291
#317

[2015-03-16 02:54] halatmit commented on #307
#318

[2015-03-16 16:58] jisqyv commented on #291
Change in master branch

[2015-03-16 16:58] #291 closed

[2015-03-17 01:26] halatmit commented on #307
I was wrong about this.    App inventor does produce decimals.   the issue that was reported was because of something else.  closing this issue

[2015-03-17 01:26] #307 closed

[2015-03-17 07:17] myrtleTree33 opened #320 "Accessing Textbox properties in another component's event causes compiled program to fail (Thread issue?)"
Hello everyone,

I am creating a new component, and my test app uses TextBox component as a debugger.

When the event is dispatched, the text view's background and text are changed.

However, this results in the following thread error:

![screenshot_2015-03-17-15-06-49](https://cloud.githubusercontent.com/assets/1506937/6682785/415a0210-ccb8-11e4-91cd-3ce754169116.png)

I can verify that the compo

[2015-03-17 17:54] josmas commented on #320
Hi @myrtleTree33 how are you dispatching the events from your own event code? This seems to happen only in your new created component, so most likely the problem is in that code. If you point us to a branch we can have a peek.

[2015-03-18 02:18] #311 closed

[2015-03-19 01:33] halatmit opened #321 "List from CSV row is missing in the documentation"
see

see missing documentation here http://appinventor.mit.edu/explore/ai2/support/blocks/lists.html#listfromcsvrow
and this thread https://groups.google.com/d/msg/mitappinventortest/sMQ5t7LnQf8/HLQTGlFJFcgJ

[2015-03-20 17:32] marksherman opened #322 ""One Potato" example not quite right for text split"
The following text could be confusing in a subtle way. The example for the split text block says splitting the string
"one-potato,two-potato,three-potato,four" at "-potato"
renders the list "(one two three four)".

This is wrong, as the split token needs to include the comma.

The problem is in the english, and appears to have propagated to spanish and italian translations. I'm not really competen

[2015-03-21 01:21] halatmit opened #324 "rename Canvas.WhenTouched parameter"
rename touchedAnySprite to TouchedSprite

[2015-03-21 11:03] hasitpbhatt commented on #324
@halatmit
You want to revert this change?
https://sites.google.com/site/mitfall2013/canvasnamechange

[2015-03-21 12:26] halatmit commented on #324
@hasitpbhatt

Hmm...   That's a good point.    Probably what we should really do is change that callback so it produces the sprite that was touched rather than just a boolean.   The requires a little thought.  I''l abandon this issue and close it for now.
Thanks for catching this.

[2015-03-21 12:26] #324 closed

[2015-03-21 12:38] halatmit opened #325 "change descripion on ListPicker.BeforePicking"
change it to

BeforePicking()
    Simple event to raise when the component is started by the user clicking the ListPicker button or using the open block but before the picker is actually displayed.

[2015-03-21 14:25] marksherman commented on #322
@weihuali0509 could you check these, please? (This is what Hal is linking.) I think they're ok. If it needs correction, just comment with the updated text and I'll submit it. Thank you!

[2015-03-21 15:35] halatmit opened #326 "Arrangement fill parent not reserving enough size"
I'm not sure what the root cause is, but a vertical arrangement of height fill parent sitting inside a horizontal arrangement of height automatic doesn't seen to be doing the right thing.

The following project illustrates the bug

people.csail.mit.edu/hal/misc/horizVertsizeBug.aia

[2015-03-21 19:17] halatmit opened #327 "formatting numbers for pickers"
When we print numbers in App Inventor, the conversion a numbers to it's string representation is handle by our formatting code.  We don't have a similar control for items displayed by ListPicker, ListView and others.   So, for example, dividing 2 by 7 and putting the result in a listPicker shows a number with many more decimal places than putting that same result into a label.

[2015-03-22 06:59] hasitpbhatt commented on #326
@halatmit
Actually, how can the child fill the area which the parent doesn't own?
Consider it an android concept, or a limitation, but, it's very important to limit the child, so that it does not acquire area of some other layout.

For more information you can refer to
http://stackoverflow.com/questions/4606613/combining-wrap-content-on-parent-and-fill-parent-on-child
http://developer.android.com/

[2015-03-22 13:33] halatmit commented on #327
#318

[2015-03-22 17:48] hasitpbhatt commented on #326
@halatmit ,
wrap_content only takes minimum area required, and fill parent fills the whole area it's parent has.

http://developer.android.com/reference/android/view/ViewGroup.LayoutParams.html#FILL_PARENT

And consider it a concept or bug, layout containing,

<LinearLayout
        android:layout_height="wrap_content"
        android:layout_width="wrap_content"

        <Button
            android

[2015-03-22 22:52] Eagles2F commented on #322
@marksherman  For the first part, things in the zh_cn and zh_tw are broken.  Comma is also missing. It should be:  "则返回列表“（一      ，二     ，三     ，四）”"

For the second part, I haven't got where you have corrected.  Are you saying to represent the list you should use (ba  ap) instead of (ba,ap) ?

[2015-03-23 00:42] marksherman commented on #322
Thank you! And yes, the list representation is space-delineated, not comma. That's what I fixed in the English. I also found that second example was very broken in italian (in a new way), which is why I ask it be looked over again.

[2015-03-23 14:19] halatmit opened #330 "Clock returning incorrect error message"
See

https://groups.google.com/forum/#!topic/mitappinventortest/D7N53lRo_2Q

[2015-03-23 18:00] Eagles2F commented on #322
Ok, then for the second part,  the Chinese list (稥,苹) is also comma-delineated which should be against your modified version.  The space-delineated one should be (稥 苹)

[2015-03-23 18:42] halatmit opened #331 "add the 6.s198 doc on genymotion to the app inventor site."
remember to edit out part about changing adb

[2015-03-24 12:02] marksherman commented on #281
I know he's on vacation, but sounds like we need the opinion of @fturbak

[2015-03-24 21:15] jisqyv commented on #327
#318 MERGED

[2015-03-24 21:15] #327 closed

[2015-03-24 23:11] marksherman commented on #322
Would you mind applying the edits to the whole chunk, so I can paste in the whole thing? I am really uncertain about making small edits to a language I don't know. I don't confidently know what I need to replace with your edits.

Thank you, @Eagles2F.

[2015-03-25 19:10] Eagles2F commented on #322
For the first one:
zh_cn:
'''
Blockly.Msg.LANG_TEXT_SPLIT_TOOLTIP_SPLIT = '以指定文本作为分隔符，将字符串分解为不同片段，并生成一个列表作为返回结果。\n'
    + ' 如以","(逗号)分解"一,二,三,四"，将返回列表"(一 二 三 四)"，\n'
    + ' 而以"-土豆"作为分隔符分解字符串"一-土豆,二-土豆,三-土豆,四"，则返回列表"(一 ,二 ,三 ,四)"。'
'''

zh_tw:
'''
Blockly.Msg.LANG_TEXT_SPLIT_TOOLTIP_SPLIT = '以指定文字作為分隔符號，將字元串分解為不同片段，並產生一個清單作為傳回結果。\n'
    + ' 如以","(逗號)分解"一,二,三,四"，將傳回清單"(一 二 三 四)"，\n'
    + ' 而以"-土豆"

[2015-03-25 19:12] Eagles2F commented on #322
The second one:
zh_cn:
[code]

zh_tw:
[code]

[2015-03-26 23:31] halatmit opened #336 "Converting floats to strings produces commas as decimalls in certain countries"
Divide 3 by 4 and you'll get 0.75.  But if you set the phone language to Italian, you'll get 0,75.

On the other hand, in Italian, 0,75 is not recognized as a number.

A quick fix could be to always generate 0.75.   It would be better to make something that works internationally.

[2015-03-27 12:57] marksherman commented on #322
Thank you so much, @Eagles2F . Once I entered the whole block, I was able to see the diff, and now I understand the changes you made. It looks to me like like all the patterns match up now. The pull request #323 has been updated, so everyone can see for themselves. I think everything is fixed.

[2015-03-27 22:05] halatmit opened #338 "improve the camera component"
Access use the Camera API to improve the Camera Compnent.   Espcially the ability to control fron-tfacing vs back-facing, and image orientation.

See

http://developer.android.com/guide/topics/media/camera.html

[2015-03-27 22:40] halatmit commented on #338
also see pull request #335

[2015-03-28 01:42] halatmit opened #339 "fix error message in fusion table API call to match service account behviors"
From Taifun

I just tested the fusiontable update and we get a nice error message again, great!

However there is a difference between the service account method and the api key method:
in case of an error, the service account method triggers additionally an error 2601 in the Screen.ErrorOccurred event, the api key method not...
what do you think: shouldn't that be consistent?

Taifun

[2015-03-28 02:29] halatmit opened #340 "highlight selected item in listView"
See here:

public boolean getItemsCanFocus ()
Added in API level 1
Returns

    Whether the views created by the ListAdapter can contain focusable items.

public void ListView.setItemsCanFocus (boolean itemsCanFocus)
Added in API level 1

Indicates that the views created by the ListAdapter can contain focusable items.
Parameters
itemsCanFocus true if items can get focus, false otherwise

Once we s

[2015-03-28 02:45] #256 closed

[2015-03-28 02:49] halatmit commented on #180
see pull request #335

[2015-03-28 14:31] halatmit opened #342 "Integer values for pickers should print without a decimal point"
see comment in

https://groups.google.com/forum/#!topic/mitappinventortest/GzjeqE8bC7U

[2015-03-29 14:03] halatmit commented on #321
@jsheldonmit
The text has been added, but the image is currently of the block List from CSV table.  It needs to be replaced.

[2015-03-29 14:07] halatmit commented on #325
This was already fixed.  Closing the issue.

[2015-03-29 14:07] #325 closed

[2015-03-29 14:18] jisqyv commented on #342
Fixed by #343 which is now merged.

[2015-03-29 14:18] #342 closed

[2015-03-29 14:41] halatmit commented on #336
fixed in pr #343

[2015-03-29 14:41] #336 closed

[2015-03-30 12:00] marksherman commented on #338
This is absolutely the right answer.

[2015-03-30 14:27] weihuali0509 commented on #322
@Eagles2F @halatmit @marksherman The Chinese translation looks good to me. Moving to the pootle server.

[2015-03-30 14:33] weihuali0509 commented on #322
@tiffanyle couldn't figure out how to do these in the pootle server. Please go ahead or teach me how to do that :)

[2015-03-30 18:40] jsheldonmit commented on #321
Fixed on Drupal server - not staticfied yet, and then may need to be propagated to CSAIL local server

[2015-03-31 01:57] halatmit commented on #321
Thanks

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Mon, Mar 30, 2015 at 2:40 PM, jsheldonmit <notifications@github.com>
wrote:

[2015-03-31 01:58] halatmit commented on #321
@jsheldonmit

[2015-03-31 01:58] #321 closed

[2015-04-01 14:04] puravidaapps opened #346 "scrollable arrangements"
scrollable arrangements are an often requested feature, see this thread in the main forum https://groups.google.com/d/msg/mitappinventortest/lG4qQ_M924c/SZczMK4BGcQJ and this issue in the Google issues list https://code.google.com/p/app-inventor-for-android/issues/detail?id=2150

Gareth already was working on this, see here https://groups.google.com/d/msg/app-inventor-open-source-dev/KVVsJdj-qtQ/B

[2015-04-04 03:56] EnisM commented on #280
BTW, Neil may have already done this thing in his Blockly update...  I'm pretty sure he's already done the warnings on collapsed blocks...

[2015-04-06 01:42] halatmit commented on #322
#323 done

[2015-04-06 01:42] #322 closed

[2015-04-08 01:17] Eagles2F opened #353 "Bug in the Document: How to Add a Property to a Component"
In section 1.3,   the setter function has a bug.
The original one is:
[code]
Which I think should be:
[code]

[2015-04-08 08:01] josmas commented on #353
Thanks @Eagles2F I have changed it in the doc.

[2015-04-08 08:01] #353 closed

[2015-04-08 11:18] E-Hon commented on #305
Instead of a 2-D dropdown, how about a scrollable dropdown? Does it serve the same purpose?

[2015-04-08 11:51] E-Hon commented on #300
Is it possible to use the color input element instead?
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Input/color

OSX Safari, IOS Safari, IOS Chrome don't support it though. Android Firefox supports it but the choices are limited.

OSX, WIndows and Ubuntu all have a color picker

[2015-04-09 01:45] halatmit commented on #305
Good idea to use a scrollable drowdown!

[2015-04-09 02:06] E-Hon commented on #305
any default value for the two fields?

[2015-04-09 02:09] halatmit commented on #305
I don't know.

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Wed, Apr 8, 2015 at 10:06 PM, E-Hon <notifications@github.com> wrote:

[2015-04-10 01:49] E-Hon commented on #305
AvailableCountries and AvailableLanguages do not exist in master branch...
But I can see them on the web

[2015-04-10 01:54] halatmit commented on #305
???  I see them in the master branch:

https://github.com/mit-cml/appinventor-sources/blob/master/appinventor/components/src/com/google/appinventor/components/runtime/TextToSpeech.java

line 336ff

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Thu, Apr 9, 2015 at 9:49 PM, E-Hon <notifications@github.com> wrote

[2015-04-10 01:57] E-Hon commented on #305
Oh, I forgot to pull the latest updates. my bad :p

On Fri, Apr 10, 2015 at 9:54 AM, hal <notifications@github.com> wrote:

[2015-04-10 02:04] halatmit commented on #305
:)

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Thu, Apr 9, 2015 at 9:57 PM, E-Hon <notifications@github.com> wrote:

[2015-04-10 06:57] E-Hon commented on #305
The 2 fields are device-dependent; only when AI is connected to a device/emulator can it retrieve the possible values. While it works in Blocks view, does the current Designer view support this sort of dynamic update?

[2015-04-10 13:15] halatmit commented on #305
The designer doesn't support dynamic update.

But I dont' understand the issue.  There are lots of fields (e.g., location sensor info) whose value is not know unless a devce is connected.   Is this any different?

[2015-04-10 22:04] E-Hon commented on #305
It's that those dynamic values can't be input to the fields in Designer.
The values of a field in Designer have to be known before hand. For
example, emulator supports 5 countries while Galaxy Nexus supports more. It
doesn't know how many and which countries should be put to the fields in
Designer for users to select.

Or did I misunderstand this?

On Fri, Apr 10, 2015 at 9:15 PM, hal <notificatio

[2015-04-11 00:22] halatmit commented on #305
Ah, you are right.  For now, just leave them both blank in the designer, so
you can move ahead. Then create an issue to fix this, and we'll get to that.

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Fri, Apr 10, 2015 at 6:04 PM, E-Hon <notifications@github.com> wrote:

[2015-04-16 00:33] halatmit commented on #340
see pr #357

[2015-04-16 06:54] colinwirt opened #361 "Spinner AfterSelecting is now invoked only on every 2nd pick after elements are set using the Elements property setter."
A change was made to suppress the call to AfterSelecting when an item is initialized, however now the call is also suppressed for the first user initiated selection after Elements is set.

This is not a problem for ElementsFromString which does not set isInitialized = false;

Only a problem for Elements as isInitialized is set to false again.

See this note:
https://github.com/mit-cml/appinventor-

[2015-04-17 06:17] E-Hon commented on #361
Hi @colinwirt
Would you have a look at #354 ?
Does it solve this issue?

[2015-04-18 03:46] colinwirt commented on #361
Hi @E-Hon,
Unfortunately I haven't set up my own build environment to test changes like this, so I can't provide feedback myself.
Is there an AI server I can test this change on?

[2015-04-18 04:28] thequixotic opened #363 "Canvas Camera Live Feed"
https://github.com/josmas/OurBricks_AppInventor/wiki/Live-Feed-Design

Changed the Canvas Component.
Did some mutation to CanvasView to make it surface view.

Drawing order :
Camera Feed (optional) // drawn only if CameraFeed is set to true
Background Color / Image
Canvas Bitmap
Sprites (in order of their addition)

Maybe suggestions on the new properties to be added.
Right now ..
CameraFeed boole

[2015-04-18 04:39] E-Hon commented on #361
@colinwirt I can set up a server for this change but the companion will not support this so you can't really test it there.

Here is an apk you may try though
https://www.dropbox.com/s/3yobkuw5y0d510i/SpinnerTest.apk?dl=0

I mentioned this issue in that pull request. Let's wait for the reviews' update

[2015-04-18 12:04] halatmit commented on #363
I tried loading the apk and running it and it crashed with

E/QCameraHWI_Parm( 1566): Invalid preview size requested: 320x300
D/AndroidRuntime(30434): Shutting down VM
E/AndroidRuntime(30434): FATAL EXCEPTION: main
E/AndroidRuntime(30434): Process: appinventor.ai_admin.canvasCamera, PID: 30434
E/AndroidRuntime(30434): java.lang.RuntimeException: setParameters failed
E/AndroidRuntime(30434): 	at an

[2015-04-18 12:13] thequixotic commented on #363
yea the that preview size is not supported for your camera. I ll fix that asap. I need to set supported preview sizes.

Right now the preview size blindly takes the Canvas size. Entire Canvas is used for preview. Unfortunately not all cameras support all preview size.

@josmas
What do you suggest to do if the Canvas size is not a supported camera preview size ?
use only a part of the canvas for pr

[2015-04-18 13:00] colinwirt commented on #361
Thanks @E-Hon -- I normally test by installing an apk anyway, but am happy to leave my project on the backburner until I can redeploy via the MIT install.

[2015-04-18 13:11] thequixotic commented on #363
@halatmit
I tried now previewing at supported preview sizes only.
what device do you use ?
New APK link https://drive.google.com/open?id=0B6TjsdbpeaqcMXVFQVlDWk5XaGs&authuser=0

[2015-04-18 13:14] halatmit commented on #363
I have a Nexus 4 running android 5.1

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Sat, Apr 18, 2015 at 9:11 AM, thequixotic <notifications@github.com>
wrote:

[2015-04-18 13:15] thequixotic commented on #363
Does the new APK work?
https://drive.google.com/open?id=0B6TjsdbpeaqcMXVFQVlDWk5XaGs&authuser=0

[2015-04-18 13:45] halatmit commented on #363
This works better.   Nice!!
One problem is that when i try to take a picture, except for the very first time, I get an error "can't connect to camera" (logcat below).   When you fix this up for merging into App Inventor, make sure it works back to Gingerbread, or at least degrades gracefully.    Also check what's going on with pull request #335, which is talking about changing the camera component

[2015-04-18 20:11] #330 closed

[2015-04-18 23:15] halatmit commented on #281
@jisqyv @mark-friedman
Jeff:  I've been looking with this, and I'm mystified.   After playing around, it looks like if you evaluate an unbound variable foo in Kawa lexical environment, the value returned is the list (package foo).
I'm wondering whether this somehow has to do with the companion.  Maybe we could look at it together.
Mark:  Any idea?

[2015-04-19 02:06] jisqyv commented on #281
@halatmit You are correct. If you look at an unbound local variable in Kawa, you get the package object. I don't know if this behavior changes in a compiled environment.

-Jeff

[2015-04-19 02:46] halatmit commented on #281
I've been playing more and this does not happen if you type directly at the
kawa-1.11 jar that is in our lib directory.
I wonder where the difference is coming from.

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Sat, Apr 18, 2015 at 10:06 PM, Jeffrey Schiller <notifications@github.com

[2015-04-19 03:11] jisqyv commented on #281
I won't be able to play with this more until tomorrow. But I'm pretty sure
I was able to reproduce this with just the Kawa command line. I'll double
check tomorrow.

-Jeff

On Sat, Apr 18, 2015, 10:46 PM hal <notifications@github.com> wrote:

[2015-04-19 03:13] halatmit commented on #281
Let me know how you did this with the Kawa command line.   I tried, and
Kawa worked fine -- but I hope you're right since that would make a lot
more sense.

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Sat, Apr 18, 2015 at 11:11 PM, Jeffrey Schiller <notifications@github.com

[2015-04-19 12:51] halatmit opened #364 "aiStarter launch agent not being restored on Mac"
I had to do some testing on my Mac, which involved deleting my Launch Agents.   The next time I used App Inventor and tried to connect to the phone, the system told me that aiStarter wasn't running.  (Of course).   Then I started aiStarter by hand.

But then, when I logged out and logged back in, I got the same complaint that siStarter wasn't running, and the launch agent had not been restored.
Ca

[2015-04-19 23:23] jisqyv commented on #281
@halatmit So I have not been able to reproduce this issue with just the Kawa command line. I have been looking over various source. When you do a "do it" on a lexical variable, the Yail "(lexical $var)" is sent to the companion. The Companion wraps this in a "delay" which is then wrapped with a Runnable which forces the resulting promise. This Runnable is then actually run in the Android UI thread

[2015-04-20 00:06] halatmit commented on #281
I'm playing with it.  Still investigating.

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Sun, Apr 19, 2015 at 7:23 PM, Jeffrey Schiller <notifications@github.com>
wrote:

[2015-04-20 12:39] halatmit commented on #281
tl;dr There's an issue with environments in the way we're using Kawa.

I've been looking at issue #281 -- trying do-it on a local variable FOO returns the (strange) result -- package FOO.   What you'd expect instead is an error, since FOO is unbound in the context of to do-it evaluation.

After messing around, it looks like any reference to an unbound variable behaves the same way:   referencing a

[2015-04-20 13:03] halatmit commented on #289
Hal pinged Hossein about this on April 20

[2015-04-20 13:05] kkashi01 commented on #289
Yes, completely forgot about it. Will take care of this. Thanks for
reminder.

On Mon, Apr 20, 2015 at 9:03 AM, hal <notifications@github.com> wrote:

[2015-04-20 13:21] halatmit commented on #289
Thanks.    Just point me at the doc when it's ready.

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Mon, Apr 20, 2015 at 9:05 AM, kkashi01 <notifications@github.com> wrote:

[2015-04-20 21:24] halatmit commented on #281
EEK!
This seems to be an issue with Kawa and Android.   If you call Kawa's Scheme.eval with an unbound symbol like HELLO!!  from the App Inventor code running on the phone, the result is package HELLO!!!.
This does not happen when running Kawa from the command line.   So either we're not using the same Kawa, or there's something funny about Kawa in the Android environment.

Is the kawa jar in the

[2015-04-20 21:47] jisqyv commented on #281
Yes, and I have been doing my tests using that jar file, so I am using the
same version.

At the moment I am in the depths of the Kawa source code, down the symbol
table hash tables...

-Jeff

On Monday, April 20, 2015, hal <notifications@github.com> wrote:

--
_______________________________________________________________________
Jeffrey I. Schiller
Information Systems and Technology – MIT App I

[2015-04-20 22:23] halatmit commented on #281
You are a brave man to go into that code.

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Mon, Apr 20, 2015 at 5:47 PM, Jeffrey Schiller <notifications@github.com>
wrote:

[2015-04-21 00:36] halatmit commented on #331
#367

[2015-04-21 01:24] halatmit commented on #266
This is now a lot simpler because of the change Jeff made.  But we should put in something about not hardcoding strings.

[2015-04-21 17:35] halatmit commented on #281
I've been looking more and not making any progress.   What I've been trying to do is rebuild kawa from the source so I can have source code to play with.    I took kawa-1.11 and reapplied Mark's patches.  The system build fine.  Then I try to build app-inventor with the resulting kawa library a get a bunch of errors that think are happening in the pre-dexing stage.  That might just be another rath

[2015-04-21 18:57] jisqyv commented on #281
What version of Java are you using?

-Jeff

On Tuesday, April 21, 2015, hal <notifications@github.com> wrote:

--
_______________________________________________________________________
Jeffrey I. Schiller
Information Systems and Technology – MIT App Inventor
Massachusetts Institute of Technology
77 Massachusetts Avenue  Room E17-110A, 32-392
Cambridge, MA 02139-4307
617.910.0259 - Voice
jis@mit.e

[2015-04-21 19:03] halatmit commented on #281
I'm using java 1.7.0_45

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Tue, Apr 21, 2015 at 2:57 PM, Jeffrey Schiller <notifications@github.com>
wrote:

[2015-04-22 00:52] jisqyv commented on #281
I wonder if we have to "target" the compiler to generate java 1.6 bytecodes
in order for Dalvik to work.

-Jeff

On Tue, Apr 21, 2015, 3:03 PM hal <notifications@github.com> wrote:

[2015-04-22 00:55] halatmit commented on #281
Let me know how to do that, and I'll play with it.

Right now, I'm clueless about what to try next.
And why dalvik would want 1.6 (if it does) is itself a mystery.

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Tue, Apr 21, 2015 at 8:52 PM, Jeffrey Schiller <notifications@github.com>
wrote:

[2015-04-22 13:09] marksherman commented on #281
Does it behave the same under ART?
On Tue, Apr 21, 2015 at 8:55 PM hal <notifications@github.com> wrote:

[2015-04-24 21:46] halatmit opened #368 "background issue when scrolling a list picker"
Please see the following bug report:

https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/mitappinventortest/6068fs9UQlM/1rKmNIPZIpoJ

I verified this and saw the following behavior:
I created a project whose only element is a listpicker.   I set the background color of the listpicker to orange.  I set the elements of the listpicker to the 12 numbers 1,2,3,4,5,6,67,8,9,10,11,1

[2015-04-25 00:48] josmas commented on #368
@halatmit did you mean to close this issue?

[2015-04-25 01:09] halatmit commented on #368
Sorry, my mistake.  I'll fix it.

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Fri, Apr 24, 2015 at 8:48 PM, Jos <notifications@github.com> wrote:

[2015-04-28 01:06] kkashi01 commented on #289
Hi, Please see document here: https://drive.google.com/open?id=0B5b44rWoeEG8fl9nMy14cWM1Z1N5NnM0cTczWjBsSTV2OVJTN2RaYzVieXJIWmUxaEgwd0k&authuser=0

[2015-04-28 12:27] jisqyv opened #371 "BackgroundImage vs. BackgroundColor"
There appears to be an interaction between setting a BackgroundImage vs. setting a BackgroundColor. At the moment we always set the Color first followed by the Image which results in code that works. However if we set the BackgroundImage first, things do not work correctly. However the order here shouldn't matter. Clearly we need to get a better understanding of the relationship of setting a Backg

[2015-04-28 12:47] reza89 commented on #371
tanks

[2015-04-29 01:09] halatmit opened #372 "Missing icons in blocks editor component list"
From Taifun:

create an empty project and drag a TinyDB component into the working space, now go to the blocks editor and you will see this (the TinyDB icon is missing)
now go back to the designer, add a slider control, go back to the blocks editor and you will see this: (TinyDB icon appears in component list on the left, Slider icon is missing)

add a button and the slider still is missing, delet

[2015-04-29 01:45] jisqyv commented on #368
#369 fixes this issue and it has been merged into the "ucr" branch pending the next component release.

[2015-04-29 01:45] #368 closed

[2015-04-30 14:42] halatmit opened #374 "Add 24-hour time option to TimePicker"
It is a little annoying for us users outside the US that the TimePicker is using 12 hour format on an device that is configured for 24 hour format. Maybe the java-code 'behind' this functionality need a change to something like: "new TimePickerDialog(this, mOnTimeSetListener, time.hour, time.minute, DateFormat.is24HourFormat(this));"?

[2015-05-01 20:24] halatmit commented on #331
#367 was merged

[2015-05-01 20:24] #331 closed

[2015-05-02 02:59] halatmit commented on #266
This seems to be done now.

[2015-05-02 11:17] josmas commented on #266
@halatmit where is this documented? I still see the old instructions in the docs: https://docs.google.com/document/pub?id=14c1X19s6pXYHdDBOJJELcmOghWbm2FPekRvGzX0ENps#h.2g0jyctaq6go

[2015-05-02 12:24] halatmit commented on #266
There are some comments in YaVerison.
But I'd forgotten about this doc.
Do you want to upgdate it?  Or we can file a new issue that makes it clear
which doc needs to be updated anad also, add a comment into the doc making
people aware that there is more to do

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Sat,

[2015-05-02 12:53] josmas commented on #266
someone that knows what's going on should update the docs.

[2015-05-02 13:09] halatmit opened #377 "Improve our template documentation"
The AI site doesn't point people at template documentation in a clear way.

We currently have two pieces:

Keith wrote an introduction to templates  here:
https://docs.google.com/document/d/184G1j8ipZK_jB1yEco_tq0VBv8l8FRz-NKvR7yqyd6k/edit
It has a good introduction, but is missing the part on how to create repositories.

There's also this part by Ralph

https://docs.google.com/document/d/1QGf0gM4

[2015-05-02 14:03] halatmit commented on #266
add the documentation to
https://docs.google.com/document/d/1xk9dMfczvjbbwD-wMsr-ffqkTlE3ga0ocCE1KOb2wvw/edit#

[2015-05-02 20:06] halatmit opened #378 "Update the App Inv documentation on debugging"
http://appinventor.mit.edu/explore/learn/live-development-testing-and-debugging.html

The part about the Java system log is about AI classic.   Update it for AI2 and talk about Javascript.

[2015-05-03 20:48] halatmit commented on #289
done

[2015-05-03 20:48] #289 closed

[2015-05-03 20:59] halatmit commented on #128
I tried clicking "sign out"  and was sent (correctly) to the Google login page.   I'm going to close this issue.

[2015-05-03 20:59] #128 closed

[2015-05-03 21:30] halatmit commented on #250
I added a note to the tooltip for CloseScreenwithText saying not to use it when returning a value to an App Inventor screen.  That should help, although people might still ignore the advice.   I'm closing the issue.

[2015-05-03 21:30] #250 closed

[2015-05-04 03:58] E-Hon commented on #305
see #380

[2015-05-04 20:24] jisqyv commented on #267
Change merged into master

[2015-05-04 20:24] #267 closed

[2015-05-06 18:50] e40614 commented on #378
I want to update the documentation.
But I don't know how to share my modification.

Is it correct?
1.Download "live-development-testing-and-debugging.html" in the docs/learn
2.Make some modifications
3.pull request(Comparing shows that there are 48 files change,because I download all the web page.)
I think this method is a little strange.

[2015-05-10 03:29] halatmit commented on #378
@e40614
Thanks for offering to update the documentation.   We don't use pull requests for this.  Instead, make comments and suggested edits in this Google doc:

https://docs.google.com/document/d/1BeLh_HKtVwmphKZZJyemtr8x5j1whLD8V4v6-QHj8TE/edit#heading=h.tav27sktyepa

That doc is not linked into the App Inventor site yet, but it will be when we do the next release.
== Hal

[2015-05-10 03:30] halatmit commented on #378
#384

[2015-05-10 12:04] josmas commented on #265
Taking this over in befhalf of @shrutirij which will start looking into it when GSoC starts.

[2015-05-10 13:09] halatmit commented on #374
#379

[2015-05-10 13:55] shrutirij commented on #265
Thanks @jos.

-----Original Message-----
From: "Jos" <notifications@github.com>
Sent: ‎10-‎05-‎2015 05:34 PM
To: "mit-cml/appinventor-sources" <appinventor-sources@noreply.github.com>
Cc: "Shruti Rijhwani" <shrutirijhwani@gmail.com>
Subject: Re: [appinventor-sources] Renaming components that have collapsedevents (#265)

Taking this over in befhalf of @shrutirij which will start looking into it whe

[2015-05-10 16:29] jisqyv commented on #378
#384 is now merged and should be in this afternoon's release

[2015-05-10 16:29] #378 closed

[2015-05-10 17:10] halatmit commented on #377
Hal dealt with this.   Issue closed.

[2015-05-10 17:10] #377 closed

[2015-05-14 00:38] halatmit commented on #290
assign to Grace Ryu

[2015-05-16 19:28] Momoumar opened #386 "French Translation for MIT App Inventor"
Hi team,
MIT App inventor is translated into 3 languages (Spanish, Chinese, Italian). Which is great for internationalisation. I was thinking about making a french translation.
Some statistics can make it relevant:
"
•Along with English, French is one of the only two languages spoken on all five continents.
• Alone, or along with other languages, French has the status of an official language in 32

[2015-05-16 19:33] halatmit commented on #386
Please look here for information:

https://docs.google.com/document/d/1v_Sy9u1Da4pmVo1KGR0691kq_AweZjguTJMI0nJA0eQ/edit

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Sat, May 16, 2015 at 3:29 PM, Mouhamadou Oumar Sall <
notifications@github.com> wrote:

[2015-05-16 19:39] Momoumar commented on #386
Thanks @halatmit , I've never come across this document.

[2015-05-16 19:55] halatmit commented on #386
We've just put it up.  There's now a note pointing to it on the main
appinventor page :

appinventor.mit.edu

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Sat, May 16, 2015 at 3:39 PM, Mouhamadou Oumar Sall <
notifications@github.com> wrote:

[2015-05-18 18:15] Momoumar commented on #372
I experienced this also, It occurs in Safari and Chrome but not in Firefox. The thing is that, it doesn't display the first icon of a nonVisibleComponent.
For example:
If you create an empty project and drag two TinyDB component it will only show the icon of the second TinyDB component on the Block Editor.
If you create an empty project and drag a button and a TinyDB component it will only show th

[2015-05-20 14:19] graceRyu commented on #290
I would like to focus on this part of the issue:

“Similarly, I think there are some methods where the output format could be clarified, namely FormatDate and FormatDateTime. Because other methods ask for the date as MM/DD/YYYY, users may think that the FormatDate and FormatDateTime have an output in that format, when that is not the case.”

I am thinking to modify FormatDateTime and FormatDate me

[2015-05-23 10:44] colinwirt commented on #361
#354 will fix this problem -- any help needed to get that released, or to rollback the poorly tested commit that broke the spinner?

[2015-05-23 10:56] E-Hon commented on #361
@colinwirt oh really? that's nice that it solved this issue. could you add a comment in #354 to let them know this too? thx

[2015-05-23 20:47] halatmit opened #388 "Provide contact info for people on the translate page"
We need contact info for people leading the translation efforts listed on the translate page

https://docs.google.com/document/d/1v_Sy9u1Da4pmVo1KGR0691kq_AweZjguTJMI0nJA0eQ/edit

Actually it would be good to have each language lead provide a web page with information about their project and its status, and out translation page to link to these.

[2015-05-23 20:49] halatmit commented on #386
@monmoumar
Have you done anything about contacting the people doing the French translation.
Can we close this issue?

[2015-05-24 01:30] Momoumar commented on #386
@halatmit
 I joined the App Inventor Translation Server and I saw that the French translation was almost over
(99%).  Yes we can close it .

[2015-05-24 01:32] halatmit commented on #386
closing

[2015-05-24 01:32] #386 closed

[2015-05-24 01:32] halatmit commented on #386
Thanks.

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Sat, May 23, 2015 at 9:30 PM, Mouhamadou Oumar Sall <
notifications@github.com> wrote:

[2015-05-24 01:38] halatmit commented on #281
Liz says that her Qualcom code works with the latest version of dx.jar.  We should trey using that and see if Kawa now compiles and works in App Inventor.

[2015-05-24 18:26] josmas commented on #338
is this taken care of by #363 ?

[2015-05-24 18:29] josmas commented on #320
closing this for now; feel free to re-open if needed.

[2015-05-24 18:29] #320 closed

[2015-05-24 18:32] josmas commented on #221
@cooper-sloan still working on this or up for grabs?

[2015-05-24 18:41] halatmit commented on #221
I haven't heard from Cooper in a while, so I assume it's up for grabs.

Cooper, are you there?

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Sun, May 24, 2015 at 2:32 PM, Jos <notifications@github.com> wrote:

[2015-05-24 20:01] halatmit commented on #338
@josmas
I don't think that #363 covers this, but I'm not sure.

[2015-05-24 20:50] josmas commented on #338
#363 is re-writing the component based on an [old design from GSoC12] (https://github.com/josmas/OurBricks_AppInventor/wiki/Live-Feed-Design) that uses a surface view to do the live feed, instead of the default camera, so this should be scoped into that work.
@thequixotic are you going to work on this over the summer?

[2015-05-25 00:35] Momoumar commented on #261
I am using the latest version of MIT App Inventor Companion v2.26 and I am also experienced this:
**How to reproduce**
Using the aia file Taifun made:
https://groups.google.com/group/app-inventor-dev/attach/83205463ccaef41d/soundrecorder.aia?part=0.1&authuser=0&view=1

1. Record a sound
2. Press Start to play the sound
3.Simulate a call and hangs up immediately, the previous sound will start playi

[2015-05-25 02:25] halatmit commented on #261
The meanings of the states are described in Player.java at line 103.

I haven't tried to debug this, but it seems that the error could be at
onResume in relation to state 4.  Try adding some print statements to show
the state at various points for the rpocessing when the phone call starts
and ends.

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT

[2015-05-25 02:34] Momoumar commented on #261
I haven't paid attention to the description  of the states.
Thanks @halatmit for the hint, I will try that.

[2015-05-25 18:38] cooper-sloan commented on #221
I had most of it worked out, but I couldn't figure out how to work out some
of the bugs.  Jos, I have a lot of code written that may be helpful if you
want to pick it up.

         - Cooper

On Sun, May 24, 2015 at 11:41 AM hal <notifications@github.com> wrote:

[2015-05-26 08:05] fmntf commented on #195
Hi! I would like to try to implement this, as it is already implemented in [Espruino Web IDE](https://github.com/espruino/EspruinoWebIDE). I need this in [my fork](https://github.com/fmntf/appinventor-sources).

Which Blockly version are we used? Is it clean or patched by the AI team?

[2015-05-26 13:34] halatmit commented on #195
@fmntf @afmckinney @jisqyv @NeilFraser
Thanks for wanting to work on this.  We have our own copy of the Blockly code here in the App Inventor source tree.  We try not to modify our version of the Blockly core much, and Andrew periodically merges in the new Blockly updates from Neil.

There are some non-obvious aspects to what needs to be done here.  For example, the block that sets the value of a

[2015-05-27 09:06] fmntf commented on #195
Hi @halatmit. Espruno propose a fixed list of values on a dropdown menu, but it allows to delete the dropdown and plug other blocks (like variables or procedure calls). See this [screencast](https://drive.google.com/file/d/0B400VKg9Vc0rbU9sQThTczlCNG8/view).

Do you think it would be enough?

[2015-05-27 11:18] halatmit commented on #195
@fmntf
That looks very good.  Your video doesn't show this working with external inputs, but I assume it does.
It would be great if you could finish this up and submit it as a pull request, so we can all play with it.  thank you so much!

[2015-05-27 21:42] Zhenit-606 opened #392 "Build failed! Sorry, can't package projects larger than 5MB."
Do not you think you should remove this limitation?
There is no point in running a local server with this limitation.

[2015-05-27 23:22] halatmit opened #393 "Orientation changed event does not fire in Android 5.1"
See post at

https://groups.google.com/forum/#!category-topic/mitappinventortest/specific-programming-issue/mit-appinventor-2/QhnBOVUiYUM

[2015-05-28 00:32] halatmit opened #394 "Don't build if there are warnings. [Was: Faulty check for empty slot?]"
I just looked at a project that contains the following block:

![screen shot 2015-05-27 at 8 17 10 pm](https://cloud.githubusercontent.com/assets/789431/7850343/efba5566-04ae-11e5-98ec-db126b8bac1d.png)

In the blocks editor, there was no red triangle, and I was able to select build, which then generated an error about the Yail procedure being called with the wrong number of arguments.

Why was th

[2015-05-28 15:11] marksherman opened #395 "App does not load in companion if unfilled socket in event handler"
If I have an open socket, like this:
![screen shot 2015-05-28 at 11 03 37 am](https://cloud.githubusercontent.com/assets/2035149/7863258/51d9b51e-0529-11e5-8090-87db91ccb973.png)

and try to connect with the companion, it does not work. Specifically:
- After scanning a code, the code window on the computer immediately disappears (good)
- After scanning a code, the companion app does nothing. It do

[2015-05-28 16:00] marksherman commented on #395
Seems related to #394 , and discovered at about the same time.

[2015-05-28 19:18] halatmit commented on #393
This apparently works on 5.0.2
Let's wait to see if Taifun can learn more.

[2015-05-28 21:58] halatmit opened #396 "Rewite the image picker"
The current image picker saves an extra copy of the picked image, which is unnecessary and overly complex.

There is a much easier implementation of the component which is illustrated by this use of the Activity Starter:
https://puravidaapps.com/snippets.php#2imagepicker

Rewrite the ImagePick using this method.

[2015-05-29 14:25] Momoumar commented on #213
What's the status of this bug?
I've tested the example app in the forum, on a One Plus One running android 5.0.2 and it works fine.

[2015-05-29 14:30] Momoumar commented on #248
Are there many parts of MIT App Inventor which need, lack automation?
I would love to work on to enhance that if it worths it.

[2015-05-29 15:58] marksherman opened #398 "File component deals with file paths differently than everything else"
SUMMARY: Most components use absolute paths, with the <ExternalStorageDirectory> included in the string. The File component does not. The File component prepends an additional <ExternalStorageDirectory> when it finds a leading slash, creating invalid paths when handed an already-absolute path. The assumption of what a leading slash means in MediaUtil-using components and File are opposite.

I am h

[2015-05-29 19:37] halatmit commented on #213
All I know is what's in the issue report on the forum.
Is it possible that this was fixed with Android 5.1?

Can someone check?

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Fri, May 29, 2015 at 10:25 AM, Mouhamadou Oumar Sall <
notifications@github.com> wrote:

[2015-05-29 19:37] halatmit commented on #248
@jisqyv
Jeff: Do you have advice here?

[2015-05-29 19:51] halatmit commented on #372
@Momoumar @jsheldonmit
This "happens in chrome but not in Firefox" behavior tends to be some kind of HTML bug.   Firefox is somethimes more forgiving than Chrome about things like balancing quote or tags.

[2015-05-29 20:04] halatmit commented on #398
Mark,

the reason the file component is different is that they were done by
different people, and we did not test carefully enough.

Thanks for the great explanation.

Let's see it there's someone who can pick up the issue.   the trick will be
in not breaking old projects.

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Fa

[2015-05-29 21:34] halatmit commented on #372
See the forum thread here
https://groups.google.com/forum/#!msg/app-inventor-dev/kPZGchQgfCQ/aKZR9dfA4aQJ

[2015-05-29 22:33] marksherman commented on #398
Whoever did it was very good to document it, so this job shouldn't be too
bad to fix.
On Fri, May 29, 2015 at 4:04 PM hal <notifications@github.com> wrote:

[2015-05-29 23:04] halatmit opened #400 "Image sprite rotation leaves does not fill enclosing rectangle on Android 5.1.1"
See thread with attached aia file

https://groups.google.com/forum/#!category-topic/mitappinventortest/specific-programming-issue/EDMn85XAlg0

[2015-05-30 02:34] halatmit commented on #393
Orientation event does fire on 5.1.1.  I'm closing the issue for now.  I have a suspicion that there's something going on, though.  So we might need to revisit this.

[2015-05-30 02:34] #393 closed

[2015-05-30 05:11] liyucun commented on #326
In the aia project, the Horizontal Arrangement's layout height is stetted as Automatic, and the inner Vertical Arragement's layout height is stetted as Fill Parent.

In the below explanation from source code, it says that actual height of the horizontal arrangement is determined by the tallest component whose height property is not set to Fill Parent.

In this project, because there is a button, w

[2015-05-30 21:58] Momoumar commented on #400
Thanks @halatmit, I will look on it.

[2015-05-30 21:59] Momoumar commented on #372
Thanks @halatmit, I will look on it.

[2015-05-30 22:33] halatmit commented on #266
I added a section to How to add a component
and How to add a property to a component.

Closing this issue

[2015-05-30 22:33] #266 closed

[2015-05-31 00:34] halatmit commented on #395
I just tried  another example, and I looks like App inv now does not have the ability to detect empty slots at all :(

[2015-05-31 02:08] halatmit commented on #394
Jeff and I looked at this, and it seems that the real problem is that you can build or run do-it when there are warnings.  In this case, and empty slot produces a warning (not an error).
So the fix would be to not allow those builds or do-its.

[2015-05-31 02:12] halatmit commented on #394
Fixing this should also take care of #395 .  Check that when this is fixed.

[2015-05-31 11:36] Momoumar commented on #400
Adding  ``` java rotatedDrawable.setAlpha(254) ``` just before ``` java rotatedDrawable.draw(canvas) ``` around **line 140** of the **ImageSprite.java** component seems to "fix the bug".
I don't really understand why.

There must be a nicer solution.

[2015-05-31 17:53] halatmit commented on #400
@jisqyv
Momoumar,
That sounds like the right fix, but I don't see the pull request in our public appinventor/sources repo.
I don't understand  why it's not there, since it's apparently in your fork.

[2015-06-01 00:00] halatmit commented on #261
pull request #390

[2015-06-03 01:21] halatmit opened #406 "Correct value of selection index with filtered list pickers"
Below sample shows how filtering works. Select 1st a and then last a. On each selection, the selected text, index will display.

Next, toggle filter and click on same selections. Notice the selectionIndex. Taifun's recommendation is to keep / show the original unfiltered index. I can see the benefit in it, but not sure on how to accomplish it.

Try test app here: http://3nportal.com/temp/TestListV

[2015-06-03 01:30] halatmit opened #407 "Improve the drawing code for image sprites (and rotating them)"
This in an exchange between Hal and Dan Sandler of the Android team regarding how we rotate sprites.     You'll see that Dan suggest changing how we do the drawing.    Try this, and see if it's an improvement.  Make sure it does not have the "black border" bug that was fixed in pr #403

Here's how we create the spriteL

We initially create a BitMapDrawable from an image:

InputStream is2 = openMed

[2015-06-03 09:23] halatmit commented on #400
pull request #403

[2015-06-03 09:42] Momoumar commented on #407
@halatmit,
The implementation of the second method seems to fix the black background bug in passing.
Ref : pull request #408

[2015-06-03 12:55] shrutirij commented on #265
@halatmit @josmas, pull request #409 has been opened for this.

[2015-06-03 16:11] fmntf commented on #195
Hi. As said in Google Groups I have [started](https://github.com/fmntf/appinventor-sources/commit/52bec86f344b26baac5403ae1b934a764baf1abf) to implement this feature on the UDOO branch. You can see the result [here](https://drive.google.com/file/d/0B3XWqfvziv2WbVdab05qM01MUWs/view).

Some useful features could be:
 1) if I try to set an argument like pin/mode/value to color/list/something else inv

[2015-06-03 18:19] halatmit opened #410 "Alignment in arrangements is may have unnecessary restrictions"
See this thread in the forum:

https://groups.google.com/forum/#!category-topic/mitappinventortest/JthYE6ZdxWU

Note that the problem is fixed by changing the HorizontalArrangement  to give is a fixed height and making the VerticalAlignment centered.  But should that be necessary?

Also, in general, if you have a horizontal arrangement whose height is Automatic, then you cannot change the vertical

[2015-06-03 18:48] William-Byrne opened #411 "Drop-downs not working properly when Google Chrome is pinch zoomed"
When using App Inventor on Google Chrome, after zooming using the pinch-to-zoom feature, clicking on a DropDownButton in the TopPanel triggers a drop-down shifted to the right some distance from where it should be. Similar problems exist for drop-downs in the PropertyPanel with various offsets. The size of the offset depends on how far the browser is zoomed in. Interestingly, there is no issue wit

[2015-06-05 13:03] jisqyv commented on #261
Fix merged into "ucr" branch and will be in the next component release

[2015-06-05 13:03] #261 closed

[2015-06-05 14:14] jisqyv commented on #407
#408  Merged into ucr branch.

[2015-06-05 14:14] #407 closed

[2015-06-06 18:47] halatmit commented on #400
handled in pull reuest #408

[2015-06-06 18:47] #400 closed

[2015-06-15 22:56] halatmit commented on #396
I'm abandoning this issue.  Making the copy seems to be the most straightforward way to handle things.   One could instead have the ImagePicker return a content URL.  But that would not work with the sharing component.

[2015-06-15 22:56] #396 closed

[2015-06-16 00:17] halatmit opened #419 "Improve registration of drag events for canvas drawing"
See the issue described here:

https://groups.google.com/forum/#!topic/mitappinventortest/HY8zPjEugjY

The reporters talk about "drag delay".   I don't know if that's what's really going on.  But working on this bug will be a useful way  understand how the Canvas touch events are process.

[2015-06-16 02:53] halatmit opened #420 "Set screen bakcground color to none when there is a backgorund image"
Background images do not show up unless the background color is none.   People always get confused by this -- they think the image is missing, or something.  So let's just set the background color to NONE when there is a background image.  This seems like a simple fix, although it might require some fancy footwork in the designer to keep the background color selection consistent with whether or no

[2015-06-19 00:27] E-Hon commented on #251
@halatmit the tasks are to
1. upgrade activity starter to support the common-intents listed on the site
2. allow users to use more than one key-value pair for extra data
3. update the obsolete doc
is it correct?

[2015-06-19 00:35] halatmit commented on #251
Yes, this is correct.   Note that some activities might use various keys for returning data.
Thanks.

[2015-06-21 13:09] E-Hon commented on #251
@halatmit
for 2, can we simply allow users to enter comma-separated values into ExtraKey and ExtraValue such that the first key corresponds to the first value, etc?

[2015-06-21 14:37] halatmit commented on #251
You can have a mode where users enter in CSV format, but also provide a way to specify the keys,values as  actual list of pairs.  It's similar to how ListPicker has both Elements (a list) and ElementsFromString (a comma-separated string).   You might want to restrict the CSV form to where the values a strings without spaces so you don't get into issues about quoting the input elements, or create a

[2015-06-22 08:06] E-Hon commented on #251
see #424

[2015-06-22 17:38] William-Byrne commented on #420
Just an FYI, Justus figured out how to fix this issue in another way by making sure a BackgroundImage overlays a BackgoundColor and not the other way around.

[2015-06-22 18:35] halatmit commented on #420
Closing this, given Justus's better approach.

[2015-06-22 18:35] #420 closed

[2015-06-22 21:05] halatmit opened #425 "Update the activity starter documentation"
Update this to mach the component upgrade to permit more keys, and make additional examples.

[2015-06-23 08:16] fmntf commented on #195
Hi @halatmit @NeilFraser
have you got the chance to see my implementation?

I need some feeback to go on, to understand if I'm taking the right direction. Advices on how to implement some protection logic (see the first point in the previous post) are also welcome!

Thank you,
Francesco

[2015-06-23 22:54] halatmit commented on #195
Franceso,

The video looks great.   But it's hard for me to review the code unless you
submit it as a pull request, where you start building from the App Inventor
master branch, so we can pull down that branch and built it and run it.
Can you do that or do you have questions?

Paul:  Comments?
Lyn: comments?

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp.

[2015-06-23 23:44] mark-friedman commented on #195
I didn't see anything in the video showing the new property editor in the designer that you would use for specifying that this is an 'enum' type of property.  You would associate that property editor with properties that want to use it via the editorType attribute of the DesignerProperty annotation on the property.  Presumably in such an editor you would enable the user to specify a set of name/nu

[2015-06-24 00:20] paulmedwal commented on #195
Good job getting it this far. In the long run, it will be important that these blocks are generated based on information passed in from the designer. Creating lots of single purpose blocks like "arduino_pin_mode" and "arduino_pin_value" will be harder to maintain. Instead, as Mark said, marking properties as having drop downs, and using that drop down information to generate the block will make it

[2015-06-24 08:02] fmntf commented on #195
Thank you for your feedback!

I think there are two different cases. The first is about properties values (and it is related to issue #195) - we should make users able to select properties values from the blocks editor.
The second case - the one I need for UDOO - is to let users provide correct arguments to methods calls. Those lists are only related to the blocks editor (so I wouldn't use `Design

[2015-06-24 22:15] halatmit opened #429 "arrangement causes blocks to become misaligned"
from Emery (gerndto@wellesley.edu)

I discovered that when you rearrange the blocks, either vertically, horizontally, or by category, the blocks become misaligned and not quite fit together,

At first glance, this bug would go unnoticed because each rearrangement only moves the blocks apart a very small amount. But the more you rearrange them, the more noticeable the misalignment becomes. It shoul

[2015-06-25 16:06] jisqyv opened #431 "Splash Screen should be dismiss-able"
Add a "Do Not Show Again" checkbox to the splash screen. When checked, we will store the version of the splash screen shown. We will keep track of the version of the current splash screen and only show it when it is greater then the version dismissed.

[2015-06-25 22:50] mark-friedman commented on #195
@fmntf

Maybe it's creating a separate issue which covers the work you are doing on functions, since issue #195 explicitly deals with properties.

[2015-06-25 23:13] fmntf opened #432 "List of values for functions arguments"
Similarly to #195  we should make it possible to let users select arguments values from a list of predefined choices. This is fundamental for the [UDOO components](https://groups.google.com/forum/#!topic/app-inventor-open-source-dev/brCGFefOuMQ) I am developing, but it could be probably used somewhere else in AI2 (eg. "open another screen" could offer a dropdown list containing all screen names).

[2015-06-25 23:13] fmntf commented on #195
@mark-friedman I totally agree. I have created a separate bug: #432. Thank you!

[2015-06-26 00:08] halatmit opened #433 "Image picker does not see the pictures taken by the camera"
These images are in
The image is stored at  file:///storage/emulated/0/Pictures/
The image picker does seem to see that directory.
From Ralph:

Our teachers and I just noticed  that there's an apparent disconnect between the Image Picker and the Camera components.   If you take a picture with the Camera component, there seems to be no way to retrieve that picture from your device by using the Imag

[2015-06-26 00:25] #162 closed

[2015-06-27 14:49] halatmit opened #436 "Implemend a FIND button for the blocks editor."
This would be useful, but it should wait until we've dealt with miniscreens and other navigation aids.

[2015-06-28 23:52] halatmit commented on #305
#380 was closed

[2015-06-28 23:52] #305 closed

[2015-06-30 00:25] halatmit opened #441 "add documentation to conversion blocks"
and give an example
This is a documentation-only fix.  Nothing in the code.

[2015-06-30 02:05] halatmit commented on #441
documentation added

[2015-06-30 02:05] #441 closed

[2015-06-30 23:48] halatmit opened #442 "Spinner afterSelection not being called when expected"
See this issue:
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/mitappinventortest/nvG3l15o86c/06VqqHYdnBwJ

This might also relate to #361

[2015-06-30 23:49] halatmit commented on #361
Also see #442

[2015-07-01 15:26] graceRyu commented on #433
Hi Hal,

It turns out that a default media contents provider(e.g. Gallery, Google Photos) has to go through scanning to recognize newly added pictures or files. The disconnection between ImagePicker and Camera component was caused because the scanning was not occurred immediately. (In other words, if you wait long enough, the pictures taken by Camera component show up eventually. )

To make the pi

[2015-07-01 19:01] William-Byrne opened #446 "Malformed Component Help Widgets"
In the Designer Palette, certain component help widgets produce malformed popups. The Sharing, BluetoothClient, and BluetoothServer components are affected to name a few, but I have noticed unreleased components with similar problems.
![ComponentHelpWidgetBug](https://cloud.githubusercontent.com/assets/4909086/8462424/d07811d4-2001-11e5-98d7-2e1bfdf1cfde.png)

[2015-07-03 00:42] jisqyv opened #447 "TextToSpeech: Need a "Default" choice"
Particularly in the Designer pulldown there should be a default choice which means "the devices locale."

[2015-07-03 02:50] E-Hon commented on #447
see #448

[2015-07-03 03:46] jisqyv commented on #447
@E-Hon Looks good. I'll do the formal review tomorrow.

[2015-07-04 17:03] halatmit commented on #126
@josmas Is it OK to close this issue?

[2015-07-04 17:06] halatmit commented on #170
@afmckinney Was this issue fixed?   If not, are we still planning to fix it, and can you do it?

[2015-07-04 17:13] halatmit commented on #184
@marksherman
I suggest that we not do this.  It seems a little dangerous that you upload a file and then don't know exactly what name that file might be written under.   I know we could provide a mechanism to handle this, but I'll feeling conservative, and also feeling that we have too may open issues.  If you want to take ti on, go ahead.  But otherwise, let's just close it, OK?

[2015-07-04 18:30] marksherman commented on #184
Ok with me. It was a common hitch-up point we saw in some middle schools,
but, yes, it does fail safely.

On Sat, Jul 4, 2015, 1:13 PM hal <notifications@github.com> wrote:

[2015-07-04 18:40] halatmit commented on #184
Closing the issue

[2015-07-04 18:40] #184 closed

[2015-07-04 18:41] halatmit commented on #184
Thanks.  I'll close this.

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Sat, Jul 4, 2015 at 2:30 PM, Mark Sherman <notifications@github.com>
wrote:

[2015-07-04 18:56] josmas commented on #126
@halatmit yeah, will close for now. It can always be reopened if issues arise again.

[2015-07-04 18:56] #126 closed

[2015-07-04 19:27] halatmit commented on #126
Thanks.

We've got too many open issues, so I want to be careful about leaving
things hanging aournd.

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Sat, Jul 4, 2015 at 2:56 PM, Jos <notifications@github.com> wrote:

[2015-07-06 10:42] fmntf commented on #372
I have no access to app-inventor-dev forum, by the way I investigated a little bit.
The icon is missing since the `<img>` tag has `style="width:0px;...`. The width is computed in `$buildTree` via `$getWidth(this$static.iconImage)`. Calling `$getWidth` twice leads to a the width  computed correctly.

`$getWidth` just returns `iconImage.element.width`. Probably the issue is related to a not ready ye

[2015-07-06 10:56] halatmit commented on #372
@Momoumar
@fmntf
Francesco, thanks for finding that.missing tag.   Momoumar will be looking at this.

[2015-07-06 19:19] Momoumar commented on #372
@fmntf Thank you for noticing this.
@halatmit,
Regarding Francesco's note, a solution might be, seeing that the size for icon Image is fixed (16x16), we could just pass those values to ``` MockComponent::ClippedImagePrototype(String url, int left, int top, int width,
      int height) ```  instead of calling ```iconImage.getHeight()``` and ```iconImage.getHeight()```

[2015-07-07 00:45] halatmit opened #455 "Create a way to work with EV3"
This could be done with David Tseng, who is working on and EV3 component.  And/or has simpel examples of controlling EV3 from Bluetooth.  And/or see what Liz can do.

[2015-07-07 10:09] fmntf commented on #372
Yes, that could be a solution.
If you put a breakpoint on `$buildTree` you can see that `this$static.iconImage.element` is something like  `<img src="data:image/png;base64,iVBORw....." width="16" height="16" class="gwt-Image">`

The image is rendered 16x16 via attributes which are then converted to style. If it is easy, instead of defining new size constants (ICON_IMAGE_WIDTH, ICON_IMAGE_HEIGHT) a

[2015-07-07 10:53] fmntf opened #456 "`&` in AppName causes apk build failure"
If Screen1.AppName contains `&`, the apk build fails with:

`WARNING: YAIL compiler - AAPT execution failed.`

Should we prevent users to put characters like `&` in AppName? Are there other characters not allowed?

[2015-07-07 13:23] halatmit commented on #456
Could you send a specific example of how to create this error?   App Inventor already has a check to remove ampersands in project names, but I guess we need more checks.  I'd like to see where they are missing.

[2015-07-07 13:45] fmntf commented on #456
Create a new project. In Designer, type (or copy/paste) in Screen1.AppName "foo & bar".
The ampersand is not removed.

[2015-07-07 18:46] weihuali0509 commented on #456
I am looking into that.

[2015-07-07 22:50] Momoumar commented on #372
@fmntf Where is the ```width="16"``` constant ?
Do you mean  replacing ```ClippedImagePrototype(iconImage.getUrl(), iconImage.getOriginLeft(),iconImage.getOriginTop(), ICON_IMAGE_WIDTH, ICON_IMAGE_HEIGTH)``` with  ```ClippedImagePrototype(iconImage.getUrl(), iconImage.getOriginLeft(),iconImage.getOriginTop(), ICON_IMAGE_WIDTH, ICON_IMAGE_WIDTH)```

[2015-07-08 09:28] fmntf commented on #372
No, I meant that the `<img>` elements when it is created already has `width="16" height="16"`.
By the way, I cannot find where the 16 comes from.

I think your commit 8397ee54f915736693e0ee6eb7ff8389f8cc6e37 is fine to be merged (with separate width/height constants).

[2015-07-08 14:57] jsheldonmit commented on #310
Aware of this - will have Arezu or Aaron Traylor (volunteer intern starting July 17) look at this & resolve.

[2015-07-08 15:02] jsheldonmit commented on #388
this is part of a bigger issue of how to manage the translation requests - right now, the process to start a new localization is fairly manual, even for admins on the pootle system.

What I suggest we do for contact information is to request each set of admins set up a mailing list (using their system of choice) and include a master google group email address on that mailing list, if that's possib

[2015-07-08 15:04] jsheldonmit opened #457 "streamline localization process"
1) easier for admins to create new language
2) better user documentation?
3) #388 - ability to contact language admins
4) are translations going into source control?
5) how to deploy translations
6) how to update/refine translations as they are improved after deployment
@jisqyv

[2015-07-08 15:11] jisqyv commented on #457
@jsheldonmit This isn't really an issue for the sources. We need to redesign how we are handling translations. We should have a meeting to just deal with this issue. I should be in on Monday, and I can do a hangout on Friday (and maybe Thursday afternoon depending on how things go that morning).

[2015-07-08 15:21] jsheldonmit commented on #457
Gotcha.

On the topic of meetings, maybe Thursday or Friday, and if not, then later next week, as I’m traveling to CSTA on Monday/Tuesday 7/13&7/14.

If this doesn’t go in sources issues, do you have a suggestion for where we track this kind of issue? Start another github project that exists mostly for issue tracking?

Thanks
josh
================
Josh Sheldon
Director of Strategic Programs – MIT

[2015-07-08 15:54] #457 closed

[2015-07-09 01:25] Momoumar commented on #372
@fmntf  The 16 comes from here: https://docs.google.com/document/d/1xk9dMfczvjbbwD-wMsr-ffqkTlE3ga0ocCE1KOb2wvw/pub

4. Implementation
    4a. Creating an Icon

[2015-07-09 08:06] fmntf commented on #372
Ok, but that's a specification document. I mean, when the <img> element is created, before to set width/height (with `ClippedImagePrototype`), the image has already a size of 16x16 px (I don't think Chrome adds width/height attributes according to the real image size). Who creates the `<img>` with `width="16" height="16"` ? I coudn't find that.

If we could find where that 16 cames from, we could

[2015-07-09 14:01] afmckinney commented on #455
I will start by talking with David.

[2015-07-09 15:59] afmckinney commented on #431
Jeff is this done now. ?

[2015-07-09 19:56] jisqyv commented on #431
@afmckinney Done. Thanks for pointing this out. I'm closing this issue.

[2015-07-09 19:56] #431 closed

[2015-07-10 15:16] halatmit commented on #388
There are a couple of issues here, including that the Pootle server setup
should be changed.  (Ask Jeff.)

But the immediate thing is to have clear steps to people who want to
contribute to existing translations or create versions for new languages.

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Wed, Jul 8, 20

[2015-07-11 16:47] halatmit commented on #442
Close this issue when issue #354 is done

[2015-07-11 19:58] jisqyv commented on #374
#379 Merged into UCR

[2015-07-11 19:58] #374 closed

[2015-07-12 23:52] jisqyv commented on #372
Fixed in #454 Which is merged into the ucr branch

[2015-07-12 23:52] #372 closed

[2015-07-13 03:26] liyucun commented on #410
The possible explanation i can find is that this feature might be used for guiding user to set layout alignment. That can avoid a user wondering why there is no changes after setting AlignVertical to centre when layout height is Automatic.

[2015-07-13 17:07] halatmit commented on #442
#354
 was merged

[2015-07-13 17:07] #442 closed

[2015-07-13 17:08] halatmit commented on #447
#448 was merged

[2015-07-13 17:08] #447 closed

[2015-07-13 17:09] halatmit commented on #433
#444 was merged

[2015-07-13 17:09] #433 closed

[2015-07-13 17:11] #361 closed

[2015-07-13 17:12] halatmit commented on #340
#357 was merged

[2015-07-13 17:12] #340 closed

[2015-07-13 19:45] halatmit commented on #410
Adding ghica's comment:

Try the attached .aia
The height of the 2 buttons will become not equal, if they have different amount of text lines in them, also in the test version given here.
The workaround now is: Go to the design view, set the height of the Horizontal Arrangement to something fixed, then set AlignVertical to center. Then you can set the height back to automatic if you wish. After th

[2015-07-14 13:01] arve0 opened #461 "Export/share blocks of code (preferably to HTML)"
Hi!
I'm a volunteer in a Norwegian code club which wants to start an App Inventor course. We base a lot of our activity around [tutorials](http://arve0.github.io/oppgaver/). For Scratch we use [a generator](http://scratchblocks.codeclub.org.uk/generator/) for exporting projects and [scratchblocks2](https://github.com/tjvr/scratchblocks) for rendering the code blocks. In example, [this code](https:

[2015-07-14 13:07] halatmit commented on #461
We're working on several approaches to copying blocks.  they won't be exactly like what Scratch has, but better than what we have now.   I'm going to close this issue, since we won't be taking it up other than in what we're already working on.  thanks for the suggestion.

[2015-07-14 13:07] #461 closed

[2015-07-14 13:11] arve0 commented on #461
Thanks for the heads up! Do you have any issues/PRs that I can subscribe to and be kept updated?

[2015-07-14 13:15] halatmit commented on #461
All the issues and PR on Github are public.   What we need is people to
work on them.

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Tue, Jul 14, 2015 at 9:11 AM, Arve Seljebu <notifications@github.com>
wrote:

[2015-07-14 13:21] arve0 commented on #461
Sorry for not being clear.

Found #179 and #458, guess that's all copy features that's in the works now?

[2015-07-14 13:29] halatmit commented on #461
You can track it on Github.

You're also welcome to participate in the App Inventor Open source forum
and the App Inventor support forum.

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Tue, Jul 14, 2015 at 9:21 AM, Arve Seljebu <notifications@github.com>
wrote:

[2015-07-14 22:47] halatmit commented on #410
Yucun,
Here is a picture.
![mail google com](https://cloud.githubusercontent.com/assets/789431/8686917/ba2aca64-2a58-11e5-9e46-5508fbebaee9.png)

It shows the screen after the top "try" button is pressed, and it shows that the buttons are not properly aligned.

​I also uploaded a new, modified .aia, to make it (I hope) easier to see what is wrong.
Try the "try" buttons from top to bottom. The firs

[2015-07-14 22:54] halatmit commented on #410
adding Mark's comment:

So, it seems that there are some inconsistencies between App Inventor behavior and the documentation, as well as the UI inconsistency I pointed out earlier.

The AI documentation for the HorizontalArrangement (see here) states that the AlignVertical property has no effect if the arrangement's height is automatic.  Ghica's app shows that this is not the case.  Changing the A

[2015-07-15 01:27] williamhub opened #462 "Inconsistency for showing long text button in layout"
When I am working on issue#410, i found an inconsistency between app inventor site ui viewer and the final view on phone. Basically, if I add a long text button (the length of text is longer than the width of screen) to a HorizontalAlignment, there will be an inconsistency for showing the view:

<div id="images">
<img width="323" height="500" alt="app_inventor_screen" src="https://cloud.githubuser

[2015-07-15 01:27] halatmit opened #463 "Thumb-enabled deselect breaks app"
See thus post by Greg Jensen.

https://groups.google.com/forum/#!topic/aipowerusers/kc9N6dDeEB4

[2015-07-16 02:03] weihuali0509 commented on #456
I can confirm the symptom - build failed when the app name contains the *&*, ampersand.

After several intense debugging session, I found out there is no problem in the implementation, but rather a bug in the android *aapt*.  An ampersand in the name string breaks AAPT and other places in Android.

This bug is also described in this Java file, line 300
https://github.com/mit-cml/appinventor-source

[2015-07-16 13:40] kkashi01 commented on #456
You can use &amp; also

[2015-07-17 12:34] halatmit commented on #170
@afmckinney Has this been fixed?

[2015-07-18 19:27] halatmit opened #467 "Change the AI2 "You don't have any projects" message"
See lIz/s comment in the thread at

https://groups.google.com/forum/?fromgroups#!topic/app-inventor-dev/YJJY3n2q68s

[2015-07-18 20:52] liyucun opened #468 "Align button in arrangement problem"
This problem is originally reported from issue#410, and there are some related discussion in developer group: https://groups.google.com/forum/#!topic/app-inventor-dev/wcw6iKvAJrQ

*if I have a horizontal arrangement, with only 2 buttons in it, who have fixed and equal height, they should be aligned so that their bottom and top are equal. But that is not the case, if they contain text with multiple

[2015-07-18 21:34] halatmit commented on #468
Yucun,

Thank you for verifying that!  That sounds like a bug in linear layout.  I
wonder if it's been reported on the web. In any case, if that's a bug
there, we won't try to patch around it in App Inventor.

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Sat, Jul 18, 2015 at 4:52 PM, liyucun <notifications@gi

[2015-07-18 22:59] halatmit opened #469 "Image sprite rotation losing resolution"
See this bug report by Taifun:

https://groups.google.com/forum/#!msg/mitappinventortest/1m-qIrXIkSQ/aMkG2ahmx14J

I think this used to work, and the degeneration is due to the new rotation code that was installed here:

https://github.com/mit-cml/appinventor-sources/pull/408/files

[2015-07-18 23:09] liyucun commented on #468
Hi @halatmit ,

It turns out that this problem is related to baselineAligned attribute of LinearLayout (http://developer.android.com/reference/android/widget/LinearLayout.html#attr_android:baselineAligned).

As below shows:
![image](https://cloud.githubusercontent.com/assets/4750970/8763820/a6f12222-2d7d-11e5-9f80-355af59172b3.png)
These two button above are aligned according to their text instead

[2015-07-18 23:20] halatmit commented on #468
Would it work to just set BaseLineAligned to false?   It would be good if
App Inentor users didn't have to deal with this.  Or is there a reason why
App Inventor users might  sometimes was it set to true?   If so then you
should go ahead and add the property -- but be sure to document it in a way
that App Inventor users can understand it.

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MI

[2015-07-19 00:06] Momoumar commented on #469
I'm looking into this.

[2015-07-19 00:22] halatmit commented on #469
Thank you!  I was hoping you would take this on.   I think I created the
problem when I changed the rotation method.   Please explore that.

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Sat, Jul 18, 2015 at 8:06 PM, Mouhamadou Oumar Sall <
notifications@github.com> wrote:

[2015-07-19 11:22] halatmit commented on #469
@Momoumar
There are a couple more complaints about image resolution on the forum today.   Let me know if you make progress on this issue, so we can see if it addresses those complaints.   thanks.  file a pull request when you have something. Thanks.

[2015-07-19 12:28] halatmit commented on #425
Documentation updated.

[2015-07-19 12:28] #425 closed

[2015-07-19 12:34] halatmit commented on #210
handled in pr #438

[2015-07-19 12:34] #210 closed

[2015-07-19 12:48] halatmit commented on #410
See also #468 and check whether fixing that helps this issue.

[2015-07-19 12:49] halatmit commented on #468
See if this helps with issue #410

[2015-07-19 13:50] fturbak commented on #436
My student Cece Tsui is working on this. I don't have permissions to make assignments; can someone please assign this to me?

[2015-07-19 13:55] fturbak commented on #287
I'm against this idea. How can you distinguish a list of pairs that's supposed to be a dictionary from a list of pairs that's not supposed to be a dictionary? We should just add dictionaries soon and do The Right Thing rather than doing a kludge we'll have to fix later.

[2015-07-19 14:17] halatmit commented on #287
Do you want to sign up to add dictionaries?

This would be a pretty big change.    By the way, isn't there some book
with a preface by some guy named Perlis that says:

"It's better to have 100 functions that operate on one data structure than
to have 10 functions that operate on 10 data structures".
 ;)

Think about it.

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. E

[2015-07-19 14:18] halatmit commented on #436
I assigned it to you.

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Sun, Jul 19, 2015 at 9:50 AM, Franklyn Turbak <notifications@github.com>
wrote:

[2015-07-19 14:45] fturbak commented on #287
Yes, you can sign me up for this.  It's on my near term to do list (i.e,
something I want to complete before the fall semester).

As for Perlis's advice, there are two compelling reasons to add
dictionaries to AI:

   1. JSON is a standard data interchange format with a well-defined
   semantics. Any attempt to specially treat list of two-element lists like
   JSON objects (i.e., dictionaries) wil

[2015-07-19 14:56] halatmit commented on #287
Understood.

But also think about how/if to deprecate the list-of-pairs stuff.   (And
note that we just added it to EXTRAS in the ActivityStarter).

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Sun, Jul 19, 2015 at 10:45 AM, Franklyn Turbak <notifications@github.com>
wrote:

[2015-07-19 14:58] halatmit commented on #467
Closed with #470

[2015-07-19 14:58] #467 closed

[2015-07-19 16:49] Momoumar commented on #469
@halatmit,
I'm looking into it. Actually this seems not to be caused by our latest drawing algorithm. I've reversed to the commit before we changed the drawing and the bug remains the same. I'm exploring other solutions.

[2015-07-19 16:55] halatmit commented on #469
@Momoumar I'm surprised that this was not caused by the change in algorithm.
Let me know what you discover.
Thanks

[2015-07-19 17:04] halatmit commented on #419
PR #471

[2015-07-19 17:19] halatmit commented on #456
#464 was closed

[2015-07-19 17:19] #456 closed

[2015-07-19 17:21] halatmit commented on #309
#354 was closed

[2015-07-19 17:21] #309 closed

[2015-07-19 18:18] liyucun commented on #468
Hi @halatmit

By setting BaseLineAligned to false, it can solve that problem. But for sure, it will definitely have influence for most app which using Vertical/Horizontal Arrangement. I have been working on finding side effects by setting that. For button or textview(baseline is mainly used to the view showing text), there won't be any problem problem for them. Just like Android documents said: it

[2015-07-19 18:26] halatmit commented on #468
Setting baselineAligned to false sounds like the right thing to do.

Why don't you put up a test ins\stance that we can invite people to
experiment with

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Sun, Jul 19, 2015 at 2:18 PM, liyucun <notifications@github.com> wrote:

[2015-07-19 18:31] liyucun commented on #410
Hi @halatmit

As Mark said, this unnecessary restrictions is different from issue #468. I have made a App Inventor instance for fixing this issue, in which the align editor is remove if height or width is automatic. If this looks fine, I can make a pull request for solving this issue.

The link for this issue: http://spinner-issue.appspot.com/

[2015-07-19 18:50] halatmit commented on #410
I'm not sure this is correct.   Here's an example with the system you just
put out.
It's a horizontal arrangement whose height is automatic.   Inside that is a
button with height 150 and a button with height 75.   It looks good.

[image: Inline image 1]

Now suppose I want to change this so that the two buttons are aligned at
the top (while the button texts are vertically centered withing each
but

[2015-07-19 19:30] halatmit commented on #213
This works in 5.1.1.   Closing the issue.

[2015-07-19 19:30] #213 closed

[2015-07-19 19:32] halatmit commented on #290
I'm closing this because #405  was closed.

[2015-07-19 19:32] #290 closed

[2015-07-19 20:17] halatmit commented on #173
@jisqyv
I can put this check in, but I don't know where to put it.   Somewhere in FileUploadWizard??

[2015-07-19 20:48] liyucun commented on #410
Hi @halatmit

This scenario is related to issue #468. The button with 75 height is in centre of horizontal arrangement, it is because arrangement's baselineAligned attr is True by default so that two button have to be aligned based on their text.
![image](https://cloud.githubusercontent.com/assets/4750970/8767504/ffe0c9fa-2e2c-11e5-85ae-8d35c5881b5b.png)
As this pic shows, two buttons are aligned

[2015-07-19 20:54] halatmit commented on #410
What I want is what's in the bottom of your two pictures in the case where
the Horizontal Arrangement alignVertical property is set to Top.

What I also want is that the two buttons should be center aligned when the
Horizontal Arrangement alignVertical property is set to Center.

And similarly, the bottomw of the buttons should line up when the
Horizontal Arrangement alignVertical property is set

[2015-07-20 03:09] liyucun commented on #410
Hi @halatmit

Yes, this instance covers all these three cases you described.

[2015-07-20 11:13] halatmit commented on #469
I'm working on this.  Wait for me.

[2015-07-20 12:56] halatmit commented on #392
We should review this to see if it can be increased.   Also think about relation to stand-alone systems.
Also, can we issue a warning to people who are exceeding that limit, e.g.,when they add assets (with a pointer to documentation about how to build projects that setup their assets so as to not run into the limtation).

[2015-07-20 13:24] halatmit commented on #436
@cecetsui Welcome to the team, and thanks!

[2015-07-20 22:48] liyucun commented on #468
The instance is running on: http://spinner-issue.appspot.com/
The Ai Companion can be found at: https://drive.google.com/open?id=0B82XjlreSEX_TzNPdFc0cGN5ZW8
More detail about this instance can be found in issue #410 discussion.

[2015-07-21 13:32] halatmit commented on #469
@Momoumar
I'm going to take this over and finish it and file a pull request.  I had to change the rotation algorithm.  Thanks for looking at it.

[2015-07-22 00:23] halatmit commented on #469
PR #472

[2015-07-22 00:41] halatmit commented on #469
#472 was closed

[2015-07-22 00:41] #469 closed

[2015-07-23 12:08] halatmit commented on #410
@liyucun
Please submit a pull request for this, so we can experiment with it and do a review.  Thanks.

[2015-07-23 21:22] halatmit commented on #468
Yucun,

This look good on the phone.  Can you fix it in the designer?

The code is in

appinventor/appengine/src/com/google/appinventor/client/editor/simple/components/MockHVLayoutBase.java

== Hal

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Mon, Jul 20, 2015 at 6:48 PM, liyucun <notifications@github.com> w

[2015-07-23 23:27] liyucun commented on #468
Hi @halatmit ,

Yes, I am going to fix that as well.

[2015-07-24 21:33] #411 closed

[2015-07-24 21:33] William-Byrne commented on #411
Fixed.

[2015-07-24 22:11] halatmit commented on #419
#471 was merged

[2015-07-24 22:11] #419 closed

[2015-07-25 20:50] halatmit commented on #463
fixed by pull request #478

[2015-07-25 22:52] halatmit opened #479 "Setting the background color on a button changes the height"
I created a project that had a button.   The button height was 48.
Then I set the background color.  The button height changed to 38.

[2015-07-29 12:31] halatmit opened #481 ""Export all projects" disabled in My projects view"
I am exporting my students' work from earlier this month.

I've noticed that if I go to the projects listing from the top-level "My Projects" button, then the menu option to "Export all projects" is not available.

OTOH, if I go there by choosing Projects > My projects, then it's available.

I think this is a bug.

[2015-07-31 11:24] halatmit opened #485 "clean up top menu"
The top menu is a bit of a mess, with the reference link both under Guide and Help.
And there's a link called Moderation (only under sdministrators) that pertains only to the gallery.  And there's a My Projects that's also under Projects.

This should be rationalized and cleaned up.

[2015-08-02 19:41] halatmit opened #486 "DoIt result boxes broken in Chrome"
Working in Chrome, create a project that contains a button.
Connect the Companion
Now go to the block editor, pull out the block for the width of the button, and select Do-It.
The result box will create a white vertical strip that obscures everything on the screen below it.
Happens when the box is highlighed, i.e., if you reload the project the problem goes away but appears again if you click to m

[2015-08-02 19:48] halatmit commented on #486
Also see forum thread
https://groups.google.com/forum/#!category-topic/mitappinventortest/W-u-dW4AxPg

[2015-08-02 22:55] halatmit commented on #486
fixed by #488

[2015-08-03 03:24] be1be1 commented on #481
Dear Prof. Hal, has this issue be fixed already? I am trying to do it and I have one question. As a normal user, should I be allowed to export all projects when I am in the designer/block view?

[2015-08-03 04:17] liyucun commented on #479
Hi Hal, I tried your way but not able to reproduce that problem.

[2015-08-03 12:22] halatmit commented on #479
@liyucun What was the button height before you set the background color, and what was it afterward?  This migth be messier than it seems.  But let's at least see if you are seeing the same behavior.  But also, there are more important issues to work on.

[2015-08-03 12:26] halatmit commented on #251
#424 was merged.  Closing this issue

[2015-08-03 12:27] #251 closed

[2015-08-03 13:08] halatmit commented on #481
@bxie
Yes, I think you should be able to do it from the designer view.
I'll assign the issue to you.

[2015-08-03 19:29] halatmit commented on #486
#488 was merged

[2015-08-03 19:29] #486 closed

[2015-08-05 10:47] josmas commented on #265
This was merged at #409. Closing now.

[2015-08-05 10:47] #265 closed

[2015-08-05 22:04] halatmit opened #493 "Investigate the 5MB limit"
See if it makes sense to increase the 5MB limit on projects.
And/or create documentation on workarounds, like delayed uploading of assets.
See Taifun's advice  here:
https://puravidaapps.com/filebyfile.php

[2015-08-06 18:57] #481 closed

[2015-08-07 15:31] JoshESheldon opened #495 "Sharing Component does not pass text to Facebook App, or text in message + file to Facebook or Instagram App"
This occurred after a recent update to the instagram and facebook apps (~Aug 4, 2015).

See https://groups.google.com/d/topic/mitappinventortest/YwNjVnV_KlU/discussion

and aia attached to that discussion in the forum

[2015-08-07 20:24] halatmit commented on #463
#478 was merged
closing

[2015-08-07 20:24] #463 closed

[2015-08-11 11:44] halatmit opened #499 "update developer documentation on how to add a property to a component"
Update this document:
https://docs.google.com/document/d/14c1X19s6pXYHdDBOJJELcmOghWbm2FPekRvGzX0ENps/edit
The upgrade section needs to be rewritten for App Inventor 2.

[2015-08-11 16:13] thequixotic opened #500 "CheckBox MockComponent Resizing"
As of now, the CheckBox in Designer does not change its size based upon the text content inside it.
Its not really a problem just after dragging it to the Designer (because the size is big enough).
But if you change the Text of the CheckBox to small text length or blank. And then reload the website. Then the bounding box becomes really small and It will get kinda annoying.

It would be nice if Che

[2015-08-11 16:16] thequixotic commented on #500
@William-Byrne ... interested ?
Here is a brief.
![checkbox2err](https://cloud.githubusercontent.com/assets/4526473/9203003/38f1d4c6-4072-11e5-914f-86ddacd5cde2.png)

The green bounding box, size is determined by the first text content of the CheckBox. Change it so that it kinda behaves like a button.

[2015-08-11 16:18] halatmit commented on #500
It's fine to look at this, although there are other probably more critical
issues.   But if you do work on this, try do to make an ad-hoc solution for
the check box.  Won't labels and buttons have similar issues?

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Tue, Aug 11, 2015 at 12:13 PM, thequixotic <notific

[2015-08-11 16:25] thequixotic commented on #500
No a label and button does not have similar issues.
Tested them both. CheckBox does have this error.

[2015-08-11 16:40] halatmit commented on #500
Try to make checkbox use whatever methods label and button use if that's
possible, rather than implement something unique to checkbox.

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Tue, Aug 11, 2015 at 12:25 PM, thequixotic <notifications@github.com>
wrote:

[2015-08-11 16:53] William-Byrne commented on #500
@thequixotic
I will look into this a little bit later today.

[2015-08-12 13:36] halatmit opened #501 "implement multitouch"
This should not be difficult, but should probably wait until Hal finishes work on sprites and animation.

[2015-08-12 16:44] halatmit commented on #285
I think that we should do this in two stages:

(1) Add HideKeyboard as a screen method.
(2) Deprecate TextBox.HideKeyboard.

Let's do only (1) for now.   It doesn't hurt to keep the TextBox method around.

[2015-08-12 18:00] kkashi01 commented on #285
@halatmit If you like, you can assign this to me

[2015-08-12 18:54] marksherman commented on #285
@halatmit, you've said it two different ways, and I'd like to clarify. Do you want the new "hide keyboard" block to be under the Screen menu, or under the built-in Control menu?

(question derived from talking with @farxinu)

[2015-08-12 19:15] halatmit commented on #285
@marksherman I think we should make it s method of Screen, not a new builtin under Control.

[2015-08-12 19:17] halatmit commented on #285
@kkashi01 Thanks for volunteering, but I'd like to assign this to Farzeen, since it's a good starter project.   Anything else you'd be interested in taking.

[2015-08-12 19:58] kkashi01 commented on #285
@halatmit NP. I'll take a look at list of issues

[2015-08-14 16:24] thequixotic opened #503 "Loading Assets after the Companion is connected."
Currently in AI, after you connect the companion. Then you upload an image (asset) to the project (AI Client) the image won't be shown in the phone.
Users would have to reconnect the companion to see the asset on the phone.

Because the image isn't transferred to the phone at all.
I stumbled this bug when importing Extensions after the Companion was connected.The extension wasn't being loaded into

[2015-08-14 16:48] halatmit commented on #503
I don't think this was a security feature -- at least not an intentional
one.
I think you should fix it.
On Aug 14, 2015 12:25 PM, "thequixotic" <notifications@github.com> wrote:

[2015-08-14 20:18] halatmit commented on #155
Here's another nice use for dropdown blocks in specifying widths and heights:
see
https://groups.google.com/forum/#!topic/mitappinventortest/h6I7RHVW8GU

<img width="391" alt="screen shot 2015-08-14 at 4 16 01 pm" src="https://cloud.githubusercontent.com/assets/789431/9283213/ed335ed0-429f-11e5-842a-7cc343f620d0.png">

[2015-08-14 20:21] halatmit opened #504 "Change wdith/height property editors to use dropdowns rather than radio buttons"
See
https://groups.google.com/forum/#!topic/mitappinventortest/h6I7RHVW8GU

example

<img width="271" alt="screen shot 2015-08-14 at 4 19 03 pm" src="https://cloud.githubusercontent.com/assets/789431/9283273/7959f8d8-42a0-11e5-8078-5a6b139ac5c3.png">

[2015-08-15 00:17] halatmit opened #506 "aistarter launch in windows does not work on some non-US machines"
See this thread on how the path is wrong:

https://groups.google.com/forum/#!category-topic/mitappinventortest/Qgt88guIgmc

[2015-08-15 02:46] jisqyv commented on #503
@thequixotic Nope, its just a bug!

[2015-08-15 16:28] thequixotic commented on #503
Sorry @halatmit , @jisqyv  .

It was a false alarm.
The assets are being transferred. There is an error though.

scheme.eval is only triggered when there is a change in the Yail code.

Sometimes scheme.eval is executed before the asset reaches the phone.
When this happens, the asset is not seen on the phone. (because the asset wasn't really there when scheme.eval was executed)
So to see the asset

[2015-08-15 16:31] #503 closed

[2015-08-15 16:32] halatmit commented on #503
Sounds like there should be a command to trigger scheme.eval

Jef, doe that make sense?

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Sat, Aug 15, 2015 at 12:28 PM, thequixotic <notifications@github.com>
wrote:

[2015-08-15 17:02] thequixotic opened #507 "Companion fails to "connect" to a YA app with error!"
Connecting Companion to a Project with errors in it will cause a crippled connection.
The problem is only there during connecting. The companion will be connected (technically) to the AI client.
But the companion will fail to load anything.

For example try connecting to a project that has blocks as shown below
![start_companion_error](https://cloud.githubusercontent.com/assets/4526473/9289872/047

[2015-08-15 17:25] halatmit commented on #507
@jisqv PTAL

[2015-08-15 17:51] jisqyv commented on #507
Ack. I'll look at this tonight or tomorrow.

[2015-08-16 02:13] jisqyv commented on #507
@thequixotic @halatmit So I figured this one out. The problem is that during the initial load of the app there is a (begin expr ...) where each expr is one of the scheme expressions that sets up a component. An error in an early expr stop execution so later components do not get setup.

The work around is to fix the problem in the project and then make a change in the designer (any change). A chan

[2015-08-16 02:14] jisqyv commented on #507
@thequixotic @halatmit P.S. I may want to defer the final fix until after we merge the changes for "watch" which also hacks a lot of the code in that neighborhood.

[2015-08-16 21:37] halatmit opened #509 "Responsive mode seems to apply to screen 1 only"
See this message from Ghica:

Hi, I am trying the pending release of the responsive system.
(http://ai2-test.appinventor.mit.edu)
I have a very simple testcase (aia attached) with two screens, both with a canvas of 100px square. If I use responsive mode, the width of my screen is 600 on my first screen, but whatever I do, it stays 320 on the second screen.
Here a link to the test case.

https://dr

[2015-08-17 11:50] halatmit opened #510 "Export all projects exceeds the connection time limit for too many projects"
It looks like "export all projects" fails if there are too many projects.    Probably the connection time limit is exceeded and the result is that the export fails and the user gets no feedback on that.   This needs to be varified.   Is there a way we can fix this?   How did Debbie implement the system to write these to Docs?  Or did the case there never arise because people didn't have that many

[2015-08-17 11:54] kkashi01 commented on #510
I have also experienced the same when too many projects or when there are few projects with lots of screens/blocks

[2015-08-17 12:15] halatmit opened #511 "black bars in some layouts in fixed mode"
See Ghica's comment below.    I've confirmed this on my tablet and phone:

There is a bug in the companion, the running app in the companion and also in the resulting apk that causes black sidebars on my phone and a half black screen on my tablet when you turn the screen from landscape to portrait or v.v. It does not matter whether you have specified the ScreenOrientation attribute to something fi

[2015-08-17 15:04] jisqyv commented on #509
I believe I can fix this without a component release!

[2015-08-17 15:05] jisqyv commented on #510
#491 Will permit selected projects to be exported. It is currently under review.

[2015-08-17 15:28] jisqyv opened #512 "Fix typeo in document title"
the page describing responsive design
http://ai2.appinventor.mit.edu/reference/other/responsiveDesign.html
The title has "Deaign" - spelled wrong.

[2015-08-18 01:15] halatmit opened #514 "Some componet names break dex"
The attached project has a label whose name is LBL_​2214598160'
The project builds (apparently) but when you got to install it you get an INSTALL FAILED DEXOPT error.
An look at the log shows:

E/dex2oat (28607): Failed to open dex from file descriptor for zip file '/data/app/appinventor.ai_halatmitdotedu.badlbl-1/base.apk': Failure to verify dex file '/data/app/appinventor.ai_halatmitdotedu.badlb

[2015-08-18 01:38] halatmit opened #515 "Explore "designed for phones" on app published on Google Play"
We can probably get rid of "designed for phones" in apps published on Play by moving to minSDK API11 and iincluding image folders for hi-res screens.  Check what's needed here and see if we want to include  "build fro tablets" option.

[2015-08-19 11:36] halatmit commented on #509
#513 was closed

[2015-08-19 11:36] #509 closed

[2015-08-19 11:39] halatmit commented on #512
Issue #516

[2015-08-19 12:05] halatmit opened #518 "Check and document image.ScalePictureToFit"
Check that this works correctly and document it with a tooltip and in the reference web page.
This probably also shoulf be true by default.
And look at whether scaling should preserve aspect ratio (and/or make that an option).

[2015-08-19 12:37] halatmit opened #519 "add a note to doc that Screen.sizing is screen1 only"

[2015-08-19 13:10] halatmit opened #520 "Button font size reported incorrectly"
Create an app with a single button.   the (defaut) test font size is 14.   but if you read the size, it's reported as 28.   It looks like this is off by a factor of 2 in general.
doesn't seem to matter whether this is fixed or responsive sizing.

[2015-08-19 22:16] halatmit commented on #519
pr #521

[2015-08-20 17:09] Momoumar commented on #406
@halatmit,
I was not able to reproduce this bug on a One Plus One running Android 5.0.2.

[2015-08-20 17:16] halatmit commented on #406
Are you saying that the selection index now refers to the position in the
unfiltered list?
If so, we can close the issue.

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Thu, Aug 20, 2015 at 1:09 PM, Mouhamadou Oumar Sall <
notifications@github.com> wrote:

[2015-08-20 17:21] Momoumar commented on #406
Yes that is correct. The index are fine whether or not filter is toggled.

[2015-08-20 17:24] Momoumar commented on #406
Oh I think I've missedsomething.
The bug is that the filtered text should show the index of the unfiltered one ?

[2015-08-20 17:33] halatmit commented on #406
The correct behavior is that the selection index should be the index in the
unfiltered list, not the index in the filtered list.

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Thu, Aug 20, 2015 at 1:24 PM, Mouhamadou Oumar Sall <
notifications@github.com> wrote:

[2015-08-20 17:41] Momoumar commented on #406
Noted.

[2015-08-21 02:40] halatmit opened #524 "Document how to build the setup tools"
PLease README files to the folders on appinveentor-setup fro Win and Macos, siimilar to the notes in the Linux folder, that explain how to build the installer packages.

I have the old versions from Google if you need them.

[2015-08-22 18:19] halatmit opened #527 "Videoplayer issues with API4"
It looks like the video sizing is wrong in Fixed mode with API4.   Responsive mode is better, but still a bit funny, I think.

But I also tried setting the player to fullscreen, and got an NPE crash.  All this needs to be looked into and we need to make sure the VideoPlayer works.

E/InputEventReceiver(22254): Exception dispatching input event.
E/MessageQueue-JNI(22254): Exception in MessageQueue

[2015-08-22 21:58] halatmit commented on #519
#521 was closed

[2015-08-22 21:58] #519 closed

[2015-08-22 22:05] halatmit commented on #512
#516 was merged

[2015-08-22 22:05] #512 closed

[2015-08-23 15:57] halatmit commented on #130
Mouhamadou was unable to duplicate this on Aug, 23, 2015.

Closing

[2015-08-23 15:57] #130 closed

[2015-08-23 21:27] halatmit opened #533 "Blocks editor is broken on Chrome in versions > 45 (urgent)"
App Inventor works OK on Chrome 45.0.2454.46 beta (64-bit)
But not on versions of 45 (not sure where) and on Version 46.0.2486.0 dev (64-bit)

When you open the Blocks editor, you don't see any blocks, and even the column of all blocks at the left of the screen is blank.

I took a look with the debugger and I think the bug message comes up in the console as

blockly-7663623d-4c1e-4c85-8f39-44aed14

[2015-08-23 23:53] halatmit commented on #533
I did a little more hunting around.  Now I'm let certain my guess above is correct.  I don't know what's going on.  Need some Javascript help.

[2015-08-24 00:16] cpseager commented on #533
I suspect this translation has the double quote and single quote around the wrong way, JSON wants double quote around a string. We've had similar issues in other Blockly apps, Blockly gives up completely on this type of error.

Blockly.Msg.LANG_TEXT_APPEND_TOOLTIP='Añade texto a una variable "%1".';

[2015-08-24 00:22] halatmit commented on #533
@cpseager Thanks for the tip.  We'll take a look,  But note this error does not happen  in Chrome version 44 and below.

[2015-08-24 00:27] cpseager commented on #533
Indeed, Chrome 44 is fine for me, but Canary 47 crashes on that Spanish translation line:

![image](https://cloud.githubusercontent.com/assets/7423187/9430977/2a5380cc-49ff-11e5-8934-853877470d52.png)

[2015-08-24 00:34] halatmit commented on #533
Hmm ... Very interesting!!
Does it also crash on Developer 46?    Whatever is crashing for us started
happening at some point in the beta 45 series.
I'll play some more.

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Sun, Aug 23, 2015 at 8:27 PM, scraxe <notifications@github.com> wrote:

[2015-08-24 01:33] halatmit commented on #533
@cpseager @jis @josmas @afmckinney @NeilFraser

Wow!   It looks like you're right!    I didn't start looking for specific malformed quotations yet -- I suspect there are a lot.   But I removed all of the translation strings files from the App Inventor source, and the problem has gone away.   No to track sown an fix the actual offenders.

Thank you so much!  I can't imagine how I would have found t

[2015-08-24 09:48] cpseager commented on #533
@halatmit Glad it helped, I suspected this error as I'd seen it before in our own use of Blockly.

We now always run the translation files through jsonlint.com as it tends to find any mistakes that will kill off Blockly

[2015-08-24 10:51] halatmit commented on #533
Thanks! We'll try it.

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Mon, Aug 24, 2015 at 5:48 AM, scraxe <notifications@github.com> wrote:

[2015-08-24 13:16] Momoumar commented on #520
@halatmit,
The issue is that we use  [```public float getTextSize()```](http://developer.android.com/reference/android/widget/TextView.html#getTextSize()) to get the fontSize of a TextView which is returned in **px(pixel)** . On the other side we use [``` public void setTextSize (float size)```](http://developer.android.com/reference/android/widget/TextView.html#setTextSize(float)) which sets the

[2015-08-24 14:38] halatmit commented on #520
@Momoumar
That great that you've figures this out.   I agree with using the second solution.  the key thing is that if the user sets the size to X, then reading the size should produce the same X.

Can you go ahead and make the changes?

[2015-08-24 18:59] jisqyv commented on #533
@cpseager @jis @josmas @afmckinney @NeilFraser I got things to work by removing the BOM at the beginning of the combined blockly.js. This is something we added years ago when we first added the Chinese translation. Without it Chrome would assume that the file was encoded as ASCII and fail when it found the Chinese characters (it would display them as ?'s or something equally useless). The BOM (U+F

[2015-08-24 19:11] Momoumar commented on #520
Yes I will.

[2015-08-24 20:30] puravidaapps commented on #398
let me add (as suggested by Mark in our discussion here https://groups.google.com/d/msg/aipowerusers/goXjHo1kHjA/A-oOJd8vAAAJ) an inconsistency of the Sharing component: that component expects a full path starting with file:///, for an example see also https://puravidaapps.com/snippets.php#2share

[2015-08-26 21:15] halatmit opened #538 "Videoplayer crashes if set sizes to percentage"
Create an app that has only a video player in it.   Nothing else, and you don't need to set the source to anything.
Use fixed sizing.
Set the width and height to some number of pixels, say 100 x 200 and connect the companion.
Now set the width to 40%, and the companion will crash.    Logcat excerpt below.

You also get a crash if this is done with responsive sizing.

E/SurfaceFlinger(  172): dimen

[2015-08-26 21:19] halatmit commented on #538
close when #537 is merged

[2015-08-26 21:20] halatmit commented on #527
also see issue #538

[2015-08-26 21:21] halatmit commented on #538
also see issue #527

[2015-08-26 21:21] halatmit commented on #533
This has been fixed

[2015-08-26 21:21] #533 closed

[2015-08-26 21:22] halatmit commented on #511
Fixed by #537

[2015-08-26 21:22] #511 closed

[2015-08-27 22:02] jisqyv commented on #538
@halatmit Fixed in #539

[2015-08-27 22:02] #538 closed

[2015-08-27 22:16] halatmit commented on #527
This should have been fixed in #537

[2015-08-27 22:16] #527 closed

[2015-08-28 15:52] farxinu commented on #398
I've read through this bug, the source code, and played a bit locally on my machine with these files--is there a disadvantage to merging FileUtil and MediaUtil [as in, only one "util" for file access]?

[2015-08-28 17:44] halatmit commented on #398
There needs to be an explicit proposal for how to do this, including how to not break existing projects.

[2015-08-29 19:57] Momoumar commented on #314
@halatmit, @jisqyv,
I think this can be closed regarding this commit
https://github.com/mit-cml/appinventor-sources/commit/154a9ae0dc3e57068e42e796f6888ec65bf705dc

[2015-08-29 20:13] #314 closed

[2015-08-30 23:18] halatmit opened #545 "Add backgrounds to screen arrangements"
See

https://groups.google.com/forum/#!msg/mitappinventortest/5DIcuVl0Jck/0cMmcnSRDAAJ

[2015-08-31 02:38] kkashi01 commented on #545
Having git push issues. Will upload in a day. Sample .apk here: http://www.3NPortal.com/temp/LayoutTest.apk

[2015-08-31 02:43] halatmit commented on #545
Please test this for the interaction between background color and image,
that was part of Mouamar's PR.

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Sun, Aug 30, 2015 at 10:38 PM, kkashi01 <notifications@github.com> wrote:

[2015-08-31 12:54] halatmit opened #546 "Internationalize "Stop this application" and "About this app" menu button titles"
Do this after pr #517 has been merged.

See forum post:
http://ai2.appinventor.mit.edu/reference/other/responsiveDesign.html

[2015-08-31 18:23] halatmit commented on #520
#542 was closed

[2015-08-31 18:23] #520 closed

[2015-09-03 02:36] halatmit opened #551 "Image seems too small in responsive mode."
This bug arose when working on
https://groups.google.com/forum/#!category-topic/mitappinventortest/iO3BUP1H3XY
but it's not the entire bug.

Create an app that has a canvas of dimensions fill_parent.
IN the app add a sprite at x = 0 y=0 hat has dimensions fill_parent.
Set the sprite picture to the attached image, which is a 320x480 jpg.

This looks fine if fixed more, but if you switch to responsi

[2015-09-11 04:13] jerry73204 opened #556 "Troubles with Python scripts shebangs"
I have troubles with Python script shebangs "#!/usr/bin/python" in most of Python scripts since the path
"/usr/bin/python" on my system (ArchLinux) is symlinked to Python 3.x binary by default.
These Python sources seems to be Python 2.x scripts and thus this causes these scripts failed.
I would recommend changing the shebangs to this one "#!/usr/bin/env python2".
It explicitly calls Python 2.x in

[2015-09-11 08:19] josmas commented on #556
Hi there, which scripts are you trying to use? The only script used for building is not a dependency anymore, so not sure why you are having issues. What are you trying to do?

[2015-09-11 19:13] jerry73204 commented on #556
Oops, I found I was building the server on an old repo not following newer commits. It solved after git pull. Sorry for that and thanks for your reminder.

[2015-09-12 00:11] #556 closed

[2015-09-20 19:26] halatmit opened #559 "Wrong block type generated for "false" in typeblocking?"
From Ralph:

If you pull a 'false' block out of the drawer you get a block whose type is logic_false
If you type 'false' in the background, you get a block whose type is logic_boolean

If you pull 'true' out of drawer, you get a block whose type is logic_boolean
If you type 'true', you get a block whose type is logic_boolean

If you pull 'false' out of the drawer and change it to 'true', its type

[2015-09-20 19:31] halatmit commented on #559
PS from Ralph:
Actually, it looks to me like the blocktyping cases are correct -- i.e  assuming the correct type should be "logic_boolean".   I assume the blocktyping code covers when you type on the workspace background.  Everything is fine in those cases.

The only anomalous case is when you pull the false block out of the drawer.  In that case its type is "logic_false".

[2015-09-20 20:46] josmas commented on #559
This seems to be by design in the drawers (typeblocks behaves correctly).
If you have a look at the types for 'and' and 'or', they behave in the exact same way (types
are logic_boolean and logic_or). They seemed to be used on blocks that use dropdowns, to have two (or more) blocks appear in the flyout, and the generator function just calls the 'generic' one as in https://github.com/mit-cml/appinve

[2015-09-20 22:06] halatmit commented on #559
@josmas @ram8647 @jis @afmckinney
From Paul:
These blocks were added before Blockly had the ability to customize the toolbox (ie the drawers) like you can today. Back then, blocks appeared in the order that they were in the file, so to get a "true" and "false" block, we needed two different block definitions. The blocks shared the same yail definitions since they generated the exact same code.

Th

[2015-09-21 00:28] halatmit commented on #501
I did a version of the pinch detector as an extension.   That ought to be suffiecient for now.  And Xinyue Deng will be investigating other gestures for he superUrop.
Closing this issue.

[2015-09-21 00:28] #501 closed

[2015-09-22 12:47] halatmit commented on #559
Given the comments here, we'll hold it for future work.

[2015-09-22 12:54] halatmit opened #562 "Procedure call missing sockets in type blocking"
I noticed that when I use type-blocking and I choose a procedure that I have defined, the call-procedure block that appears sometimes does not have the sockets for the arguments.
Here's some steps to reproduce:
1. From the Built-in Procedures drawer, drag out a to-procedure-do block. Change the name to proc_with_two_args and add two arguments: x and x2.
2. From the Built-in Procedures drawer, drag

[2015-09-22 15:16] colinwirt commented on #562
I have also struggled with this problem for some time, but am normally very busy when I come across it and just work around it.

I'll take a look myself if I get some time.

[2015-09-23 12:55] halatmit commented on #562
Thanks.

Let us know if you have time.

== Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.
MIT Media Lab, Second Class Faculty

On Tue, Sep 22, 2015 at 11:16 AM, Colin Wirt <notifications@github.com>
wrote:

[2015-09-26 18:00] halatmit commented on #410
#474 was closed

[2015-09-26 18:00] #410 closed

[2015-09-26 18:00] halatmit commented on #468
#474 was closed

[2015-09-26 18:00] #468 closed

[2015-09-28 11:19] halatmit commented on #394
Shruti will work on this.

[2015-09-29 01:33] halatmit commented on #546
Do we want the local language to be something set by the developer at build time, or should it be set by the phone's local setting?

 Do we want the translations to be created in the same way as the localized command and component names?   If so, it might be nice to put the translations in messages.java but that that is (a) not in the right package for use by the components; (b) needs a mechanism

[2015-09-29 12:20] halatmit opened #565 "Check out App Inventor with Marshmallow"
Are there issues with Marshmallow?  We need to run some tests

[2015-09-30 23:53] halatmit opened #567 "Add backpack documentation to doc site"
After doing this, show Ralph how to update the documentation.

See Abraham and Steve's comments:
https://groups.google.com/forum/#!topic/aipowerusers/ajX9FeVqRug

[2015-10-02 17:01] fmntf opened #572 "Twitter component not working"
Hello. I've tried to use the Twitter component: Twitter1.TweetWithImage(status, imagePath).
Unfortunately it does not work.

Error 306 is triggered with message "set status failed. need to login?"

It looks to be [broken since 2012](https://code.google.com/p/app-inventor-for-android/issues/detail?id=2303) and never fixed. Am I wrong?

[2015-10-03 01:14] halatmit commented on #567
doine.   closing

[2015-10-03 01:14] #567 closed

[2015-10-03 01:16] halatmit opened #573 "Fonts on buttons in alerts screwed up in chrome"
This is on El Capitan with Chrome 46.0.2486.0 dev (64-bit).
Here's an example, but there are others.

<img width="611" alt="screen shot 2015-10-02 at 9 12 53 pm" src="https://cloud.githubusercontent.com/assets/789431/10260747/c74eb738-694a-11e5-8e82-4a6e16a81dd6.png">

[2015-10-04 15:33] halatmit commented on #573
This has disappeared with Chrome 45.0.2454

closing for now

[2015-10-04 15:33] #573 closed

[2015-10-05 21:00] halatmit opened #574 "bizarre swapping of arguments"
See Scott's post in this thread, and parameters being changed when saving.

https://groups.google.com/forum/#!topic/aipowerusers/FJGbvrXeSz0

[2015-10-06 02:31] ajcolter opened #575 "Canvas Draw functions only draw on the line y = -x"
The Canvas component drawing functions (DrawCircle, DrawPoint, DrawLine) seem to be broken. They will only draw along the line y = -x (so the X value is always correct, the Y is always the negated value of X).

Here's a link to a sample AIA: https://www.dropbox.com/s/yf343b8mjtz7dgy/PaintPot.aia?dl=0