[2018-08-14 14:32] ewpatton commented on #1329
@NmdOfficial Does the Fabric report include the version of Android?

[2018-08-14 14:33] NmdOfficial commented on #1329
Full report:

# Crashlytics - plaintext stacktrace downloaded by Makeroid at Tue, 14 Aug 2018 14:33:13 GMT
# URL: https://fabric.io/makeroid4/android/apps/io.makeroid.application/issues/5b72dc3e6007d59fcdc34b76?time=last-seven-days/sessions/5B72DBC301340001275BF4A752DA4457_DNE_0_v2
# Organization: Makeroid
# Platform: android
# Application: Makeroid Builder Apps
# Version: 1.0 (2)
# Bundle Identif

[2018-08-14 14:35] NmdOfficial commented on #1328
Full report:

# Crashlytics - plaintext stacktrace downloaded by Makeroid at Tue, 14 Aug 2018 14:35:36 GMT
# URL: https://fabric.io/makeroid4/android/apps/io.makeroid.application/issues/5b72c2036007d59fcdc0e9f9?time=last-seven-days/sessions/5B72D58001CF00013EC0F68F0FDFF25E_DNE_0_v2
# Organization: Makeroid
# Platform: android
# Application: Makeroid Builder Apps
# Version: 1.0 (1)
# Bundle Identif

[2018-08-14 17:32] moliata commented on #1327
This is not the right place to request extensions.

[2018-08-15 05:29] guptahemant65 commented on #1327
@moliata Can you please guide me where is the right place to request extensions?

[2018-08-15 06:07] michael-winkler opened #1330 "Upgrade BackPressed codes"
We have following commit on https://github.com/mit-cml/appinventor-sources/blob/308f1f33e82a313ebd8ec0c5afaa10de30fb1678/appinventor/components/src/com/google/appinventor/components/runtime/Form.java#L480
  /*
   * Here we override the hardware back button, just to make sure
   * that the closing screen animation is applied. (In API level
   * 5, we can simply override the onBackPressed method rat

[2018-08-15 06:17] NmdOfficial opened #1331 "Button - Error report"
We receive a lot of problems with the button clicks and dispatchevents:

`Fatal Exception: java.util.ConcurrentModificationException
       at java.util.HashMap$HashIterator.nextEntry(HashMap.java:787)
       at java.util.HashMap$KeyIterator.next(HashMap.java:814)
       at com.google.appinventor.components.runtime.EventDispatcher.delegateDispatchEvent(EventDispatcher.java:219)
       at com.googl

[2018-08-15 09:03] moliata commented on #1327
@guptahemant65 App Inventor Sources repository is for working on the App Inventor platform itself, if you need an extension it's best to do so in either App Inventor, Thunkable, AppyBuilder or Makeroid communities. Messaging a specific extension developer may help as well.

[2018-08-15 09:27] michael-winkler opened #1335 "Videoplayer - Bug report"
We in makeroid receive many issues from following component:
VideoPlayer.java in line

https://github.com/mit-cml/appinventor-sources/blob/308f1f33e82a313ebd8ec0c5afaa10de30fb1678/appinventor/components/src/com/google/appinventor/components/runtime/VideoPlayer.java#L640

and in line
https://github.com/mit-cml/appinventor-sources/blob/308f1f33e82a313ebd8ec0c5afaa10de30fb1678/appinventor/components/

[2018-08-15 09:28] luckyman20 commented on #1327
@moliata I meant that there should be a in-built extension for this thing in App Inventor, I was not talking about external extension. I think it is called component in App Inventor language.

[2018-08-15 10:09] moliata commented on #1327
You said an extension, an extension is an addon/plugin in other words (from word extends). You may want to use word Component instead of Extension.

[2018-08-15 10:11] moliata commented on #1335
Can you first of all replicate the following issues yourself on the App Inventor platform. It's not really a good practice to post issues from a separate platform without replicating it.

[2018-08-15 20:17] moliata commented on #1335
If you can't replicate the issue, even though it's the same file, it's no way to ensure that the same is caused on the App Inventor. Giving crash reports from a different platform even with a lot of similarities won't help. It's better not to post all the issues from your platform. Better give something that we could look into and try to fix. For example, project files.

[2018-08-15 20:40] #1158 closed

[2018-08-15 20:40] #1220 closed

[2018-08-17 23:50] ewpatton opened #1336 "Cannot compile project with reserved keyword for name"
Projects with reserved Java keywords will not compile correctly, e.g., `final`. We should have a check in the project naming dialog that disallows these names. I expect that this also affects screens.

[2018-08-18 22:46] jisqyv opened #1338 "Target SDK 26 -- Sizing(Fixed) is broken"
Apps behave as if they are in Sizing(Responsive) even when Sizing(Fixed) is in effect.

Note: I have a 1st order understanding of what is going on and expect to have this issue fixed in a day or so.

[2018-08-18 22:49] jisqyv commented on #1311
@barreeeiroo Sorry for the slow response. These properties are used by the Security/Sharing Shim that we put in front of Redis that permits us to use one Redis server shared between multiple people. The clouddb.secret is used to "sign" the CloudDB Tokens issued by the CloudDB component. It is shared between the MIT App Inventor server and the security shim.

The clouddb.uid.secret is used to perfo

[2018-08-18 22:50] jisqyv commented on #1308
@p4ssw0rd @josmas https://github.com/jisqyv/appinventor-sources/tree/wip-target-sdk-26-jis is the current branch we are working against. It is used for ai2-test (and I expect to update ai2-test this weekend) as well as the second buildserver we use for "Build for Google Play"

[2018-08-19 20:16] jisqyv commented on #1338
This is fixed by:

https://github.com/jisqyv/appinventor-sources/commit/8bd1afd31a3307f1fb335cea98a869e83f477ea2

[2018-08-19 20:16] #1338 closed

[2018-08-19 20:16] jisqyv commented on #1338
Note: this is deployed in the production Google Buildserver

[2018-08-20 11:33] barreeeiroo opened #1339 "Round Operator Issue"
As seen here: https://community.makeroid.io/t/the-round-operation-bug/9144/8?u=barreeeiroo

If you input `2.5` to the _round_ block in _Math_ category, it outputs `2`, while the correct output should be `3`

[2018-08-20 14:55] ewpatton commented on #1331
@NmdOfficial That is only an issue if `click` is called from a non-UI thread, which I don't believe it is in our sources, and according to the stack trace you included it is being called as part of the onClick event handler (UI thread). Instead, it is likely that another component is dispatching events not on the UI thread and causing the event handler map to be modified concurrently with the butt

[2018-08-20 15:05] ewpatton commented on #1330
@NmdOfficial Correct, now that we have dropped support for SDK levels 4-6, we should be able to switch to overriding onBackPressed.

[2018-08-20 15:07] ewpatton commented on #1330
The important thing is that we need to test any change on a range of devices and OS levels. We should also make sure to test with a phone with a physical keyboard.

[2018-08-20 19:21] ewpatton opened #1340 "Heading behavior and documentation mismatch"
[From the forum](https://groups.google.com/d/msg/mitappinventortest/cq7TaW-BGbw/PesPuCJlEAAJ): The documentation for `Flung` for Canvas and Sprites claims that `heading` will be in the range [0, 360). However, values reported by a test app show that values are in the range [-180,180).

So there are three things we should consider:

1. Update the documentation so that the range is [180, 180) and be

[2018-08-20 19:34] ewpatton commented on #1336
[Another possible project where the name is `new`](https://groups.google.com/d/msg/mitappinventortest/G-J-HjXRzDM/-GA8TIteEQAJ)

[2018-08-22 12:00] ewpatton opened #1341 "Extension update does not handle asset deletion"
When updating an extension with assets, if the new version lacks an asset contained in the old version, the client will still attempt to send old version assets to the companion because we never provide a list of deleted assets to "forget" about. This results in an HTTP 500 error because the asset does not exist server side (should be 404), stalling the connection. Refreshing fixes the issue becau

[2018-08-23 07:00] NmdOfficial commented on #1336
"switch" & "case" should too not work

Iam not sure what happens with:
"void" "String" "boolean" bool" or "public" and "private".

What about "static" or "abstract" or "class" ?

[2018-08-26 18:42] jac2969 commented on #1232
could you please send me aiStarter version 3.0.1rc1? Thanks,

[2018-08-27 13:31] ewpatton opened #1343 "Interaction between if-then-else, typeblock, and undo/redo breaks program semantics"
[From the forum](https://groups.google.com/d/msg/mitappinventortest/2sYT0THUYnE/BUwF-LEcBQAJ):

![iftenif](https://user-images.githubusercontent.com/1331253/44662504-f2b9e080-a9db-11e8-9ac7-cd35e50f8cb1.png)

[2018-08-27 16:24] ewpatton opened #1344 "Fill Parent does not work in Scrollable on Android 7+ with target SDK 26"
[From the forum](https://groups.google.com/d/msg/mitappinventortest/awf1V2cNItk/HmCuMkxRBAAJ): With SDK 26, using Height = FillParent in a Scrollable Form no longer, the view ends up with 0 height instead of fitting the intrinsic content size (Android < 6 behavior).

[2018-08-27 16:29] ewpatton commented on #1232
@jac2969 You can find it [here](https://www.dropbox.com/s/s4g8wwuz2mb92jc/MIT_App_Inventor_Setup_3.0.1rc1.dmg?dl=0). Please let us know whether or not it works for you.

[2018-08-29 12:30] ewpatton opened #1345 "Add Stop method to VideoPlayer"
Power user Chris Ward suggests implementing a Stop method for the VideoPlayer. While technically one could call `Pause()` and then `SeekTo(0)` to implement `Stop()` semantics in blocks, it is more intuitive to just have a `Stop()` method.

[2018-08-29 12:44] halatmit commented on #1345
Sounds good.

== Hal

Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Wed, Aug 29, 2018 at 8:31 AM Evan W. Patton <notifications@github.com>
wrote:

[2018-09-05 15:39] #979 closed

[2018-09-06 15:01] ewpatton commented on #1325
A random thought that occurred to me, so I'll record it here. It might be interesting to adjust the dispatchErrorOccurredEvent code so that you can have an installed error handler (similar to other languages) and have the form be the root of that stack. The try-catch block could then "install" a handler to intercept errors and handle them in the blocks at that point. The challenge with the try-cat

[2018-09-06 15:54] ewpatton opened #1347 "List reverse block"
We should add a new block to the language for reversing a list. While it is possible to build a procedure to do it using the built-in blocks, it would be better for beginners if the language simply provided it as a built-in operation.

[2018-09-07 13:17] SusanRatiLane commented on #1238
Additional testing indicates that this is a display problem. The change event for the number block is never called, and the stored value is not saved. The block displays as if it has changed until the project is reloaded.

[2018-09-07 14:46] halatmit commented on #1325
This sounds like it will require a lot of thought.   Would be a nice thing
to discuss with Jerry when he's around.

== Hal

Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Thu, Sep 6, 2018 at 11:02 AM Evan W. Patton <notifications@github.com>
wrote:

[2018-09-07 19:43] michael-winkler opened #1349 "Recreate screen - Why ?"
Why do we call "recomputeLayout();" on onConfigurationChanged ?
It does not make any sense to me to recreate all after such a change.

[2018-09-07 20:52] ewpatton commented on #1349
The important part of this is really in handling the Sizing property and updating the width/height of all components that are a percent of the screen size due to going from one orientation to another. We might be able to optimize by refactoring [Form.java lines 966-962](https://github.com/mit-cml/appinventor-sources/blob/master/appinventor/components/src/com/google/appinventor/components/runtime/F

[2018-09-08 08:04] NmdOfficial commented on #1349
Is a call on the main layout with invalidate or requestlayout not enough for that kind of redraw?

[2018-09-08 15:09] danielkwan0516 opened #1350 "Restarting an app without killing the emulator?"
How can I restart an app without killing (closing) the emulator? I mean, force connecting the app without resetting. (Maybe that's just my problem.)

[2018-09-08 15:22] danielkwan0516 opened #1351 "Splitting text does not trim empty item in the front"
*For example:*

    split text "10010"      at ""  => (*empty-string* 1 0 0 1 0)
    split text "Hello"      at ""  => (*empty-string* H e l l o)
    split text "10010"      at "1" => (*empty-string* 00 0)
    split text "1110010111" at "1" => (*empty-string* *empty-string* *empty-string* 00 0)
    split text ",,,,,,"     at "," => ()
    split text ",,,Huh?,,," at "," => (*empty-string* *empty-st

[2018-09-08 16:39] danielkwan0516 opened #1352 "Suggestions on buttons in "Blocks""
I think a pointer cursor (`cursor: pointer`) should be shown when users move the cursor to the following 4 buttons.
![image](https://user-images.githubusercontent.com/29452642/45256295-3e4e9000-b3c7-11e8-8c8f-50104c86566a.png)
Also, it's hard to see the buttons since they are only in gray color (grey colour). And the rubbish bin becomes under the blocks.
![image](https://user-images.githubusercont

[2018-09-10 14:32] #1336 closed

[2018-09-11 14:49] #1091 closed

[2018-09-12 13:37] NmdOfficial commented on #1344
What about that?

if (scrollable) {
            frameLayout = new ScrollView(this);
            ((ScrollView) frameLayout).setFillViewport(true);
        } else {
            frameLayout = new FrameLayout(this);
        }

[2018-09-12 18:57] SusanRatiLane commented on #1318
My testing showed this problem in Oreo. It looks like it's a bigger regression than just old versions of Android.

[2018-09-12 20:40] ewpatton opened #1355 "Migrate built-in blocks documentation to GitHub"
The built-in blocks are documented in the Drupal site, but components and other documentation are versioned in this repo. We should move the blocks documentation here so that it can follow the language versioning.

[2018-09-13 00:39] ewpatton opened #1356 "Clean up AI1 code"
I've noticed that there are some build steps that are still hanging around from AI1, e.g., XmlComponentDescription. It would be a small optimization to audit the build system and remove any vestigial steps from the build since they are no longer required.

[2018-09-14 00:06] ewpatton commented on #1355
@SusanRatiLane I think we should put this onto `ucr` and then once it is merged we can rebase #1354 and update the documentation there so that it is versioned.

[2018-09-14 12:58] SusanRatiLane commented on #1355
This makes sense to me.

[2018-09-14 18:45] ewpatton commented on #1245
Rather than introduce a `@UsesXml` annotation with overloaded semantics, I would suggest instead that we update the extension mechanism and compiler to allow for the inclusion of an AndroidManifest.xml and res/... directory structure similar to how Android Archive (.aar) files work. Then, we can have aapt handle merging these along with any .aar files and the application's AndroidManifest.xml simi

[2018-09-14 20:45] SusanRatiLane commented on #1318
In my testing, the change from TextViewUtil.setBackGroundColor to view.getBackground().setColorFilter in commit 769fe75 didn't restore the ripple effect to buttons in newer Android versions. It did cause the problem with the None button color. Both operations appear to affect the drawable.

Restoring the ripple effect looks like it will take some design work. Research indicates that it could be do

[2018-09-14 20:48] SusanRatiLane commented on #1318
Additionally, current buttons in that theme with background color set to None have no visible indication of click at all.

[2018-09-16 04:18] kangris-sket opened #1359 "Error Compile Ucr-26 if add simpleCompTypesString.contains?"
Im try add component on New Bracnh Ucr-26..
I add code  compiler.java

      if (simpleCompTypesString.contains("AdMob")  && isForCompanion) {
        System.out.println("Android Manifest: including AdMob tag");
        out.write("<activity android:name=\"com.google.android.gms.ads.AdActivity\" android:configChanges=\"keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScree

[2018-09-16 04:36] ewpatton commented on #1359
You should test whether the FQCN of the component is in `simpleCompTypes`. There is no field `simpleCompTypesString`, which is why you receive the error. For an example, search for `NearField` in Compiler.java.

[2018-09-16 04:48] kangris-sket commented on #1359
Thanks sir :smiley:

Thanks sir 😄
I will try use "simpleCompTypes.contains"

[2018-09-16 11:55] macomzzl opened #1360 "how to debug appinventor-sources"
I am new to appinventor-sources. I want to develop some more function and modify the source-code, **is there a way to import appinventor-sources to eclipse or intellij so that I can use them to debug the appinventor-sources?** I have already read the document, but I can not find the answer.
  Could anyone give me a  document for it?

[2018-09-17 13:18] ewpatton commented on #1359
In the future, please keep these types of questions on the [open source development forum](https://groups.google.com/forum/#!forum/app-inventor-open-source-dev).

[2018-09-17 13:18] #1359 closed

[2018-09-18 12:54] GOTFire opened #1361 "Its not easy find warnings on big projects"
Hello
When removing component,procedure ... its makes warning on block side its normal.There is problem with finding this warnings on blocks.If user have huge projects like me its not easy find this warnings location.

Solution
Is it posible add warning icon to colapsed blocks.So ı can use colapse all blocks and sort all block for find warning easy.

Another solution
When clicked warning icon its

[2018-09-18 16:37] p4ssw0rd commented on #1361
The second option is better, https://app.wxbit.com has implemented, clicking the icon will loop to show an error or warning.

[2018-09-18 16:44] ewpatton commented on #1361
See also #1004, which is the cycling option.

[2018-09-18 16:46] ewpatton commented on #1004
@SusanRatiLane Another good candidate for you to investigate.

[2018-09-18 18:35] ewpatton opened #1362 "Implement Scale for Map"
[From the forum](https://groups.google.com/d/msg/mitappinventortest/3mZ0VeDXODA/EMD4qubZFQAJ): It would be useful to have a scale on the map.

[2018-09-18 18:37] ewpatton commented on #1362
I took a quick look at it and [implemented a preliminary draft](https://github.com/ewpatton/appinventor-sources/tree/feature/map-scale-bar) of this. However, it isn't integrated into the MockMap at all. I just verified that it would show up in the companion.

[2018-09-18 18:49] ewpatton opened #1363 "Investigate magnetometer as a component"
[From the forum](https://groups.google.com/d/msg/mitappinventortest/qQbvAkCB4U4/aM_L7JjeFQAJ): Someone looking to build an app for Google Cardboard wants to interact with the app via the magnetic "button" on the cardboard. However, we don't have direct access to the magnetometer in a way that might be useful. I suggested looking at the OrientationSensor as a stand-in.

[2018-09-19 14:35] ewpatton opened #1364 "Clock.Timer not firing correctly in API 26 builds"
We have had a couple of reports about the Timer event of Clock not firing correctly on newer versions of Android when compiled with API 26 support. An initial look at the code shows it is likely not an issue related to background processing because Clock posts its timer messages on the main thread, just delayed by TimerInterval.

[2018-09-19 22:29] ewpatton opened #1365 ""Help" for do-return control block opens do-return procedure block help"
During testing of #1358 I noticed that right-clicking on the Do-Return control block and selecting Help would open the help for the do-return procedure block. The problem is in the Block definition [here](https://github.com/mit-cml/appinventor-sources/blob/860cd7652ecd97b8cf15e71b256d11112b8899f5/appinventor/blocklyeditor/src/blocks/control.js#L481). It is a quick fix to update to the correct HELP

[2018-09-19 22:42] ewpatton opened #1366 "Logical or block has help menu item disabled"
In testing #1358 I noticed that if one right-clicks on the logical or block, the help menu item is disabled. The problem is that in logical_or, the HELPURLS and TOOLTIP functions are not called prior to accessing the operator, and since "AND" and "OR" are not members of the Function type, `undefined` is returned. Lines 228 and 233 of logic.js need to be changed to call the method prior to the look

[2018-09-19 22:49] ewpatton commented on #1366
Also seems to affect the following:

* min/max math blocks
* unary operators like neg, round
* convert number

[2018-09-19 23:06] ewpatton commented on #1084
Rachel implemented the ability to focus on an arbitrary block that also takes into account the workspace zoom level. See [`WorkspaceSvg.centerOnBlock` in Blockly master](https://github.com/google/blockly/blob/1d9fad068ecca184f74bdc419590e24e7f943a1b/core/workspace_svg.js#L1647). Since we don't have the bandwidth to handle another merge at this point, we may want to copy it wholesale into blocklyed

[2018-09-19 23:07] ewpatton commented on #1004
@SusanRatiLane Also take a look at my comment on #1084, which solves step 1 for us.

[2018-09-19 23:09] SusanRatiLane commented on #1004
I was researching how to do this exact thing an hour ago. Great.

[2018-09-20 12:52] ewpatton commented on #1364
Based on the reports so far, it looks like this has just been affecting SDK 26 builds running on Android 8.0+.

[2018-09-20 19:34] SusanRatiLane opened #1368 "Block name in documentation does not match block name in App Inventor"
The help page for the "neg" block uses the name "-" instead. Probably the name was changed at some point to avoid conflict with the minus operation.

There are probably other places where the blocks and documentation diverge. We need an audit of the documentation with corrections.

[2018-09-20 20:27] SusanRatiLane commented on #1365
This was a quickie, so I just knocked out.

[2018-09-21 09:41] michael-winkler opened #1370 "Button bug - width is not returned correct"
![blocks](https://user-images.githubusercontent.com/29900947/45873645-3b727880-bd93-11e8-80cd-4089636507e1.png)

When I click now the button for one time I get not 300 back as result in the label text.
The wrong value I get is something like "122" but not 300.
(NOTICE)
Just the return value is wrong, the button width is set correct on screen.

**Working solution to get the correct result:**
I have

[2018-09-21 10:05] NmdOfficial commented on #1318
Simple solution we use in makeroid:

![blocks](https://user-images.githubusercontent.com/29900947/45874991-a8d3d880-bd96-11e8-8b76-7c6bbf77003b.png)

[2018-09-21 15:53] SusanRatiLane commented on #1318
@NmdOfficial I'll give this a try.

Is there anything noteworthy you're doing in setShape when the shape is not default?

[2018-09-21 16:34] NmdOfficial commented on #1318
On set shape I add there again margin for the button (other shapes as default have no margin)
and too I add there a rippledrawable.
We in makeroid use much more things as default app inventor.

[2018-09-21 16:43] ewpatton opened #1371 "Make BarcodeScanner UseExternalScanner false by default"
Now that Eclair is the minimum supported version of Android, we should consider changing the default value of UseExternalScanner to false from true. Otherwise, people add a barcode scanner and if they don't have a compatible app on their phone, it just doesn't work.

[Related forum post](https://groups.google.com/d/msg/mitappinventortest/bu7zhQa_zYQ/VBi6V8gXCQAJ)

[2018-09-21 19:42] SusanRatiLane commented on #1318
Whoops, sorry. The above was my error.

When I use the code above, the no color background appears as it should. However, it switches back to default when I click it. I imagine there's more code to restore the Alpha after click?

Once the button is restored to default, the ripple effect works fine of course.

Note: I got the correct background behavior using getBackground().setColorFilter(backgrou

[2018-09-21 20:05] ewpatton commented on #1318
We should also check to see that these changes work when the background color is manipulated from the blocks.

[2018-09-22 05:17] ewpatton commented on #1370
This is due to the fact that once we update the layout parameters a pass needs to be made to update the view. The updated layout isn't applied until the next render pass, and that doesn't occur until after the blocks finish executing. This isn't so much a bug as a mismatch between people's perceptions and the actual event processing model in App Inventor / Android.

[2018-09-23 07:55] NmdOfficial commented on #1318
The problem in AI button code is on Touch event.
There is the alpha value set on every touch down and up

[2018-09-24 13:53] SusanRatiLane commented on #1318
@NmdOfficial OK, fair. I will experiment.

Can you confirm that this approach preserves the ripple effect? Issue #1324, which I see you submitted, reports that changing the Alpha destroys the ripple effect. We are trying to reengineer this whole approach to deal with newer Android better.

[2018-09-24 18:49] SusanRatiLane commented on #1213
I'm not clear why we want the the behavior of accepting a text input to a numeric operation?

From testing indicates that validation is being run before an action rather than after. If a string passes validation and has already been linked to an operation at the beginning of a change, altered text does not appear to be recognized as failing validation until it is edited a second time.

[2018-09-24 19:59] ewpatton commented on #1213
I think we want to check that the validator behavior has the following two constraints:

1. The value validator is checked at every key stroke to ensure that "0" is allowed but "0i" is not (for a number-ish block). We also need to make sure the validator is more robust to the fact that `parseInt` and `parseFloat` will parse the first portion of the text that is a number even if not all of the text

[2018-09-24 21:29] #1365 closed

[2018-09-25 08:16] NmdOfficial commented on #1318
This code:
TextViewUtil.setBackgroundColor(view, backgroundColor);

was removing the ripple effect from the buttons.

On newer android versions we have by default a touch down and up animation on buttons.
setAlpha in the touch event was surely created to make such a effect on older devices.
But as you can see it breakes some new things.. You wrote

[2018-09-25 19:34] ewpatton opened #1375 "Make "Do It" disabled when REPL not connected"
Right now the current behavior of the "Do It" command is to present a dialog if the companion isn't connected (note: this is broken right now). It might make more sense to disable the menu option (with a parenthetical about connecting), to make it clear that it isn't an available option when not connected.

[2018-09-26 12:13] #1366 closed

[2018-09-26 14:09] ewpatton opened #1376 "Reenable convert number block translations in zh_tw, zh_cn"
The translations for zh_tw and zh_cn for the various convert_number block options are commented out. This results in the blocks showing English rather than Chinese.

[2018-09-26 14:10] ewpatton commented on #1376
@halatmit Is there a reason we shouldn't enable these translations? They were commented out in the commit that added the block.

[2018-09-26 18:35] ewpatton commented on #1375
Here's an example of what it could look like:

![image](https://user-images.githubusercontent.com/1331253/46101230-698ff800-c199-11e8-9d00-b2d8972765ce.png)

[2018-09-28 12:18] hongtaozhang commented on #1185
how can i fix this issue?  change the url "rendezvous.appinventor.mit.edu" to another?  which host in guangzhou ?

[2018-09-29 00:32] sunkechenjing opened #1378 "compile error"
I use the development environment Windows 7 64, blockly mit, appengine 1.9, ant1.9 Java 1.8 compiler appinvneitor error report, error content is as follows, please help find a problem. Thank you!

Buildfile: D:\aiy\appinventor\build.xml

all:

init:

MakeWarLibsDir:

common_BlocksEditorHttpConstants:

init:

BlocksEditorHttpConstants:

common_CommonUtils:

init:

CommonUtils:

common_CommonVersion

[2018-09-29 05:37] #1378 closed

[2018-09-29 05:38] sunkechenjing commented on #1378
solved

[2018-09-30 17:30] ewpatton opened #1379 "Exception thrown in MockCircle addToMap on project load"
Reported by @MrMazzone: When opening a project with a circle centered at (0, 0), the following internal error occurs:

[code]

This makes it impossible to open the project without hacking the AIA.

As far as I have worked out, the problem is due to the fact that when we initialize the circle, we do not initialize with coordinates (expecting them to be set by the Latitude and Longitude properties,

[2018-10-01 05:05] moliata opened #1381 "TitleVisible affects Scrollable in Designer"
If Scrollable is checked in the designer, you are able to scroll the screen, but if you change (check or uncheck) TitleVisible or StatusBarVisible properties, even though Scrollable property is checked, you are no longer able to scroll in the Designer, to be able to scroll again, you have to uncheck and check again Scrollable property.

[2018-10-03 23:10] kangris-sket opened #1385 "Help,Build error YAIL compiler - DX execution failed?"
Help,Build error YAIL compiler - DX execution failed?

I have add some component,and get this error!
What is error?How to fix?

`
[java]
     [java] UNEXPECTED TOP-LEVEL EXCEPTION:
     [java] com.android.dex.DexIndexOverflowException: method ID not in [0, 0xffff]: 65536
     [java]     at com.android.dx.merge.DexMerger$6.updateIndex(DexMerger.java:484)
     [java]     at com.android.dx.merge.DexM

[2018-10-04 12:12] moliata commented on #1385
This is a problem with your project and not the App Inventor. DX Execution mostly fails because of a) external extensions b) incorrectly placed blocks c) messed up things in project's configuration files.

[2018-10-04 14:11] kangris-sket commented on #1385
thanks sir for replay 👍

i try correctly again my external extension

[2018-10-04 16:05] moliata commented on #1385
You may want to close the topic until then.

[2018-10-04 18:19] josmas commented on #1385
closing this one for now. For this type of request, please use the [Open Source forum](https://groups.google.com/forum/#!forum/app-inventor-open-source-dev).

[2018-10-04 18:19] #1385 closed

[2018-10-04 23:12] josmas commented on #1351
Are your first two examples correct? how are you generating the YAIL?

For the other results, Kawa is [calling the java function directly](https://github.com/mit-cml/appinventor-sources/blob/master/appinventor/buildserver/src/com/google/appinventor/buildserver/resources/runtime.scm#L2332), and this seems to be a **_feature_** of Java as explained in the [split docs](https://docs.oracle.com/javase/

[2018-10-07 02:41] Donlon opened #1386 "APK build failed in projects with specific name"
Hi, I'm building my app using App Inventor in http://ai2.appinventor.mit.edu. I failed to generate APK file and got some strange error outputs as following:

which actually doesn't contain useful information to pinpoint where errors located. So I built my local AI server and noticed that terminal output said

It indicates that the project name ("try") conflicts with Java keywords. So if some users

[2018-10-07 06:34] moliata commented on #1386
Have you updated your instance of the App Inventor? PR 1348 should have fixed that

[2018-10-08 01:43] Donlon commented on #1386
@moliata Thanks, I've checked my files and it turns out that my BuildServer is built from the latest sources code but front-end "YaClient" is not. The latest version does work.
To @SusanRatiLane and @ewpatton who is related to #1348, I've read #1348 which solved this by preventing users to create "illegal" things, and it just verifies the name in user's browser, anyway, I don't consider it as an e

[2018-10-08 03:19] ewpatton commented on #1386
The primary reason we can’t do what you propose is due to backwards compatibility. It was a design decision that the project name be used to construct the package name for the app. If we introduce a prefix to protect package names, then it will prevent people from publishing new versions of their apps in the Play store (without repackaging using their old package name) and breaks any uses of Activ

[2018-10-08 03:33] Donlon commented on #1386
Thanks for your reply.

[2018-10-08 03:33] #1386 closed

[2018-10-08 18:51] ewpatton opened #1387 "FeatureCollection does not show features from GeoJSON string"
[From the forum](https://groups.google.com/d/msg/mitappinventortest/I0tVqaGhiOQ/GSutfwZkAAAJ): Loading a feature collection from a string displays the collection correctly in the designer view, but the features do not appear on the device (Android 4.2.2).

[2018-10-09 16:36] SusanRatiLane commented on #1084
This is addressed as part of #1004

[2018-10-09 16:40] SusanRatiLane commented on #1004
This issue and #1084 are being addressed in [branch](SusanRatiLane/appinventor-sources/tree/1004-Cycle-through-warning-error-blocks)

[2018-10-11 09:07] #1284 closed

[2018-10-11 09:08] #1212 closed

[2018-10-11 09:45] kangris-sket opened #1388 "Request - Hiden folder "AppInventor" on storage?"
Request - Hiden folder "AppInventor" on storage?

for default ,after install app inventor create folder "AppInventor/asset" n "data" .
cant it hiden ?

thanks.

[2018-10-12 21:34] Amerkashi opened #1389 "Player issue"
This issue was discovered by a user. When playing and stopping the Player, Player crashes. Attached is a .aia - please rename from .zip to .aia (github didn't allow for uploading .aia)

[test_audio_copy.zip](https://github.com/mit-cml/appinventor-sources/files/2474649/test_audio_copy.zip)

[2018-10-14 04:09] wxbit opened #1390 "AI Companion failed to start with an empty local variable definition"
![failed](https://user-images.githubusercontent.com/3827464/46912502-553f4f80-cf3c-11e8-905f-1edb045c6a4a.png)

Tested in ai2-test without WebRTC, return message:
java.lang.RuntimeException: invalid syntax in eval form:\n<string>:7:5: body with no expressions\n

[2018-10-18 13:49] ewpatton opened #1392 "Implement Switch"
[Relevant forum post](https://groups.google.com/d/msg/app-inventor-open-source-dev/XqrJYN5rnZQ/ySXFq5ohBAAJ): For Android starting with 4.0, and for iOS, Switch is the preferred UI element for boolean inputs. We should implement a Switch component so that apps can better fit the look and feel of newer OS versions.

[2018-10-19 00:03] SusanRatiLane commented on #1392
Development is on this branch: https://github.com/SusanRatiLane/appinventor-sources/tree/Toggle-control

[2018-10-21 07:08] kunalkool opened #1393 "How to add any extension as components"
I want to add extensions i made for app inventor in my builder as a components .
How i can do that please explain in very method .

[2018-10-21 15:46] #1053 closed

[2018-10-21 17:37] kunalkool commented on #1393
no for example if i am using any body else extension with permission then i
am saying

On Oct 21, 2018 10:53 PM, "Jos" <notifications@github.com> wrote:

[2018-10-21 18:39] josmas commented on #1393
Oh, I see, so it is not your extension. That makes more sense.
You might get some help in the [open source forum](https://groups.google.com/forum/#!forum/app-inventor-open-source-dev), please try asking there instead of opening an issue. Thanks and good luck.

[2018-10-21 18:39] #1393 closed

[2018-10-29 05:44] kangris-sket opened #1396 "[Ask] How to deploy AppInventor to appspot or hosting?"
[Ask] How to deploy AppInventor to appspot or hosting?
Please guide me,

i dont find on google 😞

Thank you

[2018-10-29 11:42] SusanRatiLane commented on #1396
A more appropriate place for this question would be our App Inventor forum: https://groups.google.com/forum/#!forum/mitappinventortest

[2018-10-30 21:00] #1390 closed

[2018-11-01 16:38] ewpatton opened #1401 "Whitespace in Base64-encoded project causes "Server cannot load template" error"
When loading a base64-encoded AIA using the `repo` query string argument, the string length must be a multiple of 4. The challenge is that the base64 utility on macOS silently adds a carriage return to the end when it encoded a file, so now the length is a multiple of 4, plus 1, and it results in a decoding exception on the server side with a relatively generic error message.

[2018-11-02 14:19] GOTFire opened #1404 "When i use my own account,Uncaught exception in Firebase runloop (2.5.0"
Hello
I can do same operation with the default firebase account but when i added my own account ı cant.

Please add your own firebase account and test it

Block photos and aia file
[https://drive.google.com/file/d/19ca8BdobzCgY-kWU39gY_y1jpxLykF6Y/view?usp=sharing](url)

[https://drive.google.com/file/d/15QusLT-VhKgqb2adbUI2RywY59rU5ZYS/view?usp=sharing](url)

`
java.lang.RuntimeException: Uncaugh

[2018-11-02 20:59] #1401 closed

[2018-11-05 11:31] GOTFire opened #1405 "Suggest : Variable Watch"
Hello
Is it possible add watch windows or any other think for watch variables? I use notifier or label for watching variables.When i building my app.Its not easyly see changes on variable.When building complex app.Sometimes its not its to find bugs.If we can watch variable in real-time i think its help alot

Thanks

[2018-11-05 13:54] ewpatton commented on #1405
A version of this feature was developed a couple years ago by @fturbak's students. I have the branch somewhere and it could probably be made current with `master`. I do not have the bandwidth right now to bring it current, but if someone wants to take this project on please let me know. We also have a debugger feature in the works.

[2018-11-05 13:56] halatmit commented on #1405
This might be a goo thing for a urop to fix.
==Hal

On Mon, Nov 5, 2018 at 8:55 AM Evan W. Patton <notifications@github.com>
wrote:

[2018-11-05 14:30] GOTFire commented on #1404
I create this demo for cacth bug on my app.Its compiled app.Already installed on my phone.

[2018-11-07 16:10] ewpatton opened #1407 "GeoJSON fails to parse with BOM"
[From the forum](https://groups.google.com/d/msg/mitappinventortest/G38U97yrCtI/-FA727OPBAAJ): GeoJSON from a tutorial has a BOM, which prevents parsing by the browser for use in the FeatureCollection component. We need to clean up the JSON string before passing it into JSON.parse.

[2018-11-07 18:10] ewpatton opened #1408 "Features in MockFeatureCollection are not removed when deleting source"
When testing the fix for #1407 I noticed this issue. If you delete the source file for a FeatureCollection from the media list, the child components of the FeatureCollection will be removed but their layers on the Map are not removed. We need to make sure that the Leaflet layers are cleaned up properly when the components are removed.

[2018-11-07 19:47] gabrielcbe opened #1410 "aiStarter doesn't work in Raspberry Pi"
After following the instructions on how to install aiStarter in Linux/Debian, still couldn't make it work, getting errors like.  "Error in the Exec format" - and when trying to run as a Sudo "Syntax error: work unexpected (Expecting ")");

We're using OS Raspbian (based in Linux/Debian) and the processor has an ARMHF architecture.
I'm not sure, but I think the some of the problems might be due to

[2018-11-08 14:08] ewpatton commented on #1410
Your intuition is correct. The .deb file bundles only x86 binaries, it does not include arm binaries. A rough sketch of how you might be able to work around it:

1. `sudo apt-get install adb` to get adb installed
2. Download the aiStarter.py and bottle.py files from appinventor/misc/emulator-support
3. Create a directory to house your "aiStarter" installation (INSTALLDIR), and create a directory `

[2018-11-08 19:11] gabrielcbe commented on #1410
Hey man, thanks for the help.
I tried doing what you said, it seem that i can connect my phone in the adb and run the aiStarter separately, but as soon as I connect my phone and try to Connect>USB in the website I'm getting some error like this (image below).

![2018-11-08_17-04-35](https://user-images.githubusercontent.com/43211813/48221170-7ac34b80-e378-11e8-88c1-0db20b1522be.png)

I might have

[2018-11-08 21:29] ewpatton commented on #1410
The problem is that you need the adb command to be the version that is compiled for arm. If you haven't replaced /usr/google/appinventor/adb, then you are still using the x86 version bundled in the deb. Remove the copy of adb there and replace it with a symlink to the one in /usr/bin (if installed using apt-get) and it should no longer give you the exec format error. Well, assuming that apt-get in

[2018-11-09 11:40] gabrielcbe commented on #1410
Worked like a charm!
thanks a lot @ewpatton!

[2018-11-09 19:29] #1408 closed

[2018-11-09 19:29] #1407 closed

[2018-11-09 20:01] ewpatton opened #1412 "Default button color changes"
I was not able to reproduce this in 2.46 but it happens in production in the 2.47 companion. I have an app with a button and a set of buttons that control the former's background color. Upon picking a color using the set of buttons, I change the background color of the first button in the designer. When the screen refreshes, the set of buttons to choose color take on the last background color of t

[2018-11-10 10:53] #1410 closed

[2018-11-10 19:23] pavi2410 opened #1413 "About File location"
Why is [OnInitializeListener](https://github.com/mit-cml/appinventor-sources/blob/master/appinventor/components/src/com/google/appinventor/components/runtime/util/OnInitializeListener.java) not in the parent directory like other listeners?

[2018-11-10 19:56] josmas commented on #1413
I'm pretty sure I recall that being an oversight during review. No actual design decision or anything, more of a mistake than anything else.

[2018-11-11 17:40] #1413 closed

[2018-11-11 21:16] GOTFire commented on #1404
I can confirm this bug.

[2018-11-12 21:00] moliata opened #1416 "Phone and SMS permissions security update."
https://android-developers.googleblog.com/2018/10/providing-safe-and-secure-experience.html

[2018-11-13 14:15] ewpatton commented on #1416
@moliata We are aware of this issue. It may end up that we take these permissions out of the companion depending on Google's determination.

[2018-11-13 17:04] caldog6 commented on #726
any chance of this being implemented? having to recreate elements of a page alongside doing hacky stuff just to duplicate screens feels very archaic and it's a waste of time

[2018-11-14 14:23] ewpatton opened #1421 "Add error reporting for dangerous permissions"
For the SDK 26 update, there isn't a good way for the app inventor to determine whether an error occurs because of a permission not being granted by the user or because of some other problem. We need to be able to differentiate errors due to permissions from other types of errors so that the app logic can handle it correctly (e.g., prompt the user for permissions).

[Relevant forum post](https://g

[2018-11-14 15:50] ewpatton opened #1422 "Show/hide all comments"
At one of our events a teacher requested the ability to show/hide all comment bubbles, with the reason being that they want to encourage students to comment their code, but that managing all the bubbles becomes burdensome in a reasonably sized project. We could easily add these as options in the workspace context menu to make it easier to manage comments. When implementing, make sure to call the `

[2018-11-15 21:45] ewpatton opened #1425 "Title not being populated in MockPolygon"
We need to refactor how properties are set when importing a GeoJSON file into a MockFeatureCollection. The behavior of properties is inconsistent and we should leverage the class hierarchy so that behaviors are consistent for properties defined at the different levels of the hierarchy.

[2018-11-17 11:40] barreeeiroo commented on #1416
Hi @ewpatton
I have submitted a request to Google's Team to whitelist our companion
I'll let you know if we are allowed to keep those permissions

[2018-11-19 16:00] #1071 closed

[2018-11-19 21:57] ewpatton opened #1428 "Add more screen size options for designer"
[From the forum](https://groups.google.com/d/msg/mitappinventortest/vaeiv_JLoYQ/fxU5CTkLAQAJ): Given the many variants of resolutions/screen available today, it would be nice to have more options for preview size the designer beyond phone/tablet. It would also be useful for those who have larger monitors to use the Viewer box rather than having it mostly taken up by whitespace.

[2018-11-19 22:07] ewpatton commented on #1428
One thought is that the developer could add entries with the width/height for different devices, and this could be stored as a UserFileData so that it is available across projects.

[2018-11-20 18:07] ewpatton opened #1431 "Add password textbox option to Notifier"
[From the power users](https://groups.google.com/d/msg/aipowerusers/rNrKQhdWrSU/wEK_i5CZAQAJ): Notifier could benefit from having an option to prompt for a password. Currently, one can only prompt for plaintext.

[2018-11-20 18:58] SusanRatiLane opened #1433 "Label does not resize properly in the designer"
If a label contains enough text that it needs to wrap, the height remains the same in the designer, but the text wraps anyway, leading to text overlapping other controls.

Example:
![screen shot 2018-11-20 at 1 51 58 pm](https://user-images.githubusercontent.com/43011595/48795865-11beca80-eccc-11e8-91e9-ad5434886e19.png)

When loaded on a phone, the text of the label wraps as expected. Example:

!

[2018-11-20 19:17] #1379 closed

[2018-11-20 19:24] #1421 closed, assigned to ewpatton

[2018-11-20 20:10] fm9610 commented on #1416
Deadline for update your app or submit a Permissions Declaration Form is January 9, 2019.

[2018-11-21 13:04] SusanRatiLane commented on #1355
Closed by #1358

[2018-11-21 13:04] #1355 closed

[2018-11-21 15:27] ewpatton opened #1436 "Investigate adaptive (round) icons on Android Pie (SDK 28) and higher"
Starting on Android Pie, the launcher expects apps to use an adaptive icon. Legacy icons (like the ones we have today) are shrunk down and displayed inside a white circle for "compatibility." We should investigate how we can convert existing icons into adaptive icons so that developer-specified icons work on Android Pie and higher. This also affects the companion's icon starting on Pie.

[2018-11-21 16:59] ewpatton commented on #1436
Updating to reflect that this seems to be affecting Pie, not Oreo. Below is a screenshot of what the icon looks like:

<img width="104" alt="screen shot 2018-11-21 at 11 57 09 am" src="https://user-images.githubusercontent.com/1331253/48856611-d7653400-ed84-11e8-9c83-850bf4b964c4.png">

[2018-11-24 15:33] ewpatton opened #1437 "Add dateCreated field to AIX simple_components.json"

[2018-11-24 15:34] ewpatton commented on #1437
We should also add a way to show this information in the help widget, similar to how we show the HELPURL for the extension.

[2018-11-24 21:51] ewpatton opened #1438 "Add versionName field to @DesignerComponent"
Related to #1437, for extensions we should add a versionName attribute so that, it can be shown to developers in place of the version code. We can then include additional information (beta/release candidate, build number, etc.) that we can't include in the integer version number.

[2018-11-26 19:30] SusanRatiLane opened #1439 "German translation for AI"
Create properties file for german translation using existing completed project on Pootle (http://www.google.com/url?q=http%3A%2F%2Fpootle.appinventor.mit.edu%2F&sa=D&sntz=1&usg=AFQjCNGq4eLVh7Wh8j3wISC7fnvAq3cbxQ). That's an outdated project, so we'll have to see how well it matches existing strings.

[2018-11-26 21:48] ewpatton opened #1440 "Context menu premature dismissal"
[From the forum](https://groups.google.com/d/msg/mitappinventortest/CSXb8O9BgK4/slyIA5IhAwAJ): If the Blockly context menu is called up underneath the mouse, then the mouseup event will trigger the menu item underneath the cursor. There should be a separate mousedown event before a mouseup event should be considered valid for choosing a menu item. The challenge here is that this is either somethin

[2018-11-29 18:18] ewpatton commented on #1364
Fixed by 3b3f7d0

[2018-11-29 18:18] #1364 closed

[2018-11-29 18:18] ewpatton commented on #1344
Fixed by 3b3f7d0

[2018-11-29 18:18] #1344 closed

[2018-11-29 18:18] ewpatton commented on #1254
Fixed by 3b3f7d0

[2018-11-29 18:18] #1254 closed

[2018-11-29 18:19] ewpatton commented on #1252
Fixed by 3b3f7d0

[2018-11-29 18:19] #1252 closed

[2018-11-29 18:19] ewpatton commented on #1066
Fixed in 3b3f7d0

[2018-11-29 18:19] #1066 closed

[2018-11-29 18:19] ewpatton commented on #1067
Fixed in 3b3f7d0

[2018-11-29 18:19] #1067 closed

[2018-11-29 18:20] ewpatton commented on #1190
Fixed in 3b3f7d0

[2018-11-29 18:20] #1190 closed

[2018-11-29 18:49] ewpatton commented on #1351
I don't think we want to change the semantics of the block because existing applications may already rely on this behavior. As @josmas mentions, it is just passing through to Java's string splitting function, and so it aligns with the existing semantics in the underlying framework.

[2018-11-29 18:49] #1351 closed

[2018-11-29 19:02] #1318 closed

[2018-11-29 19:04] ewpatton commented on #1324
Closed via 9ebfb0d.

[2018-11-29 19:04] #1324 closed

[2018-11-29 19:06] ewpatton commented on #1313
I believe that this has been fixed by #1115. If you continue to see a problem with new projects created after this commit, please reopen this issue.

[2018-11-29 19:06] #1313 closed

[2018-11-29 19:07] ewpatton commented on #1308
Closed via 3b3f7d0

[2018-11-29 19:07] #1308 closed, assigned to nobody

[2018-11-29 19:08] ewpatton commented on #1296
I figured out how to keep the SDK 26 update backward compatible with the old emulator. Closing for now.

[2018-11-29 19:08] #1296 closed

[2018-11-29 19:09] ewpatton commented on #1237
Hardware acceleration is on-by-default if target SDK is greater than or equal to 14 and the app is running on SDK greater than or equal to 14.

Closed via 3b3f7d0

[2018-11-29 19:09] #1237 closed

[2018-11-29 19:13] ewpatton commented on #1185
I'm closing this for now. If you are still having issues with the rendezvous server (which has been updated), please consider asking for help on the [MIT App Inventor Forum](https://groups.google.com/forum/#!forum/mitappinventortest).

[2018-11-29 19:13] #1185 closed

[2018-11-29 19:19] ewpatton commented on #961
I think we have this bug fixed between #1115 and 853908e. However, projects that were affected remain affected because they lost their positioning. Projects created after the next release should not exhibit the problem.

[2018-11-29 19:19] #961 closed

[2018-11-29 19:31] ewpatton commented on #754
Fixed in 37c4a0c

[2018-12-03 07:29] fm9610 commented on #1416
Is there any response from Google? Must I submit a Permission Declaration Form before the January 9, 2019 deadline? Thanks!

[2018-12-03 16:59] SusanRatiLane opened #1444 "Update TinyDB documentation for namespace usage"
Most documentation of TinyDB still needs to be updated to explain namespaces.

Example in http://ai2.appinventor.mit.edu/reference/components/storage.html#TinyDB:

"Each app has its own data store. **There is only one data store per app. Even if you have multiple TinyDB components, they will use the same data store.** To get the effect of separate stores, use different keys. You cannot use the Tin

[2018-12-03 17:06] SusanRatiLane opened #1445 "Add CSV documentation for single-column tables"
Current documentation for list from csv table reads:

"Parses a text as a CSV (comma-separated value) formatted table to produce a list of rows, each of which is a list of fields.
Rows can be separated by newlines (\n) or CRLF (\r\n)."

People with single column tables should split at \n block to get their desired 1-dimensional list.  Otherwise, they will get a list of single item lists.

[2018-12-03 17:10] ewpatton opened #1446 "repo/galleryId parameters no longer works"
#1441 breaks when the user info hasn't been populated from the server. In the normal flow, this isn't a problem, but repo and gallery links log before the userInfoService is called, resulting in an error that prevents the system from continuing to initialize.

[2018-12-03 17:21] SusanRatiLane opened #1448 "LocationSensor documentation updates"
Suggestions from Steve Gradijan attached for review.

[LocationSensor.docx](https://github.com/mit-cml/appinventor-sources/files/2640519/LocationSensor.docx)

[2018-12-03 17:25] SusanRatiLane opened #1449 "Screen1 Documentation"
Proposed change to Screen1 documentation:

"Icon (designer only):  The image used  for your App's display icon should be a 48x48 pixel or 96x96 pixel png or jpeg image.  Larger images cause compiling to fail. These image dimensions are standard for Android devices."

App icon documentation must also change when adaptive icons are supported.

[2018-12-03 17:38] SusanRatiLane opened #1450 "Screen development guidance"
Update Help and ebook documentation to provide guidance for proper development using screens. Screens must be closed on leaving to release memory and avoid crashing the App.

Proposed changes to help documentation in Control Blocks:

1. control.html, under Open Another Screen:
"The screenName must be one of the Screens created using the Designer. The screenName should be entered into a Text compon

[2018-12-03 17:43] SusanRatiLane opened #1451 "Update Maps Component Marker documentation"
It is not obvious how to make use of Any Component blocks for Map Markers.

Suggestion from Steve Gradijan:

[MapsComponentMarker.docx](https://github.com/mit-cml/appinventor-sources/files/2640590/MapsComponentMarker.docx)

[2018-12-03 17:46] SusanRatiLane opened #1452 "Update Procedure Blocks documentation"
Update proposed by Steve Gradijan:
[ProcedureBlocks.docx](https://github.com/mit-cml/appinventor-sources/files/2640610/ProcedureBlocks.docx)

[2018-12-03 17:54] SusanRatiLane opened #1453 "Document relationship between Date- and TimePicker"
Forum Thread: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/mitappinventortest/-NHTytRBzdQ/lfm6ZYSKAwAJ

DatePicker gives a time at midnight. TimePicker provides a time adjusted for time zone. This means that if a user at GMT+1 asks for the date of 0 milliseconds, the answer will be "01/01/1970 01:00:00 AM".

This nuance is not made clear in the documentation.

From Ghic

[2018-12-03 18:02] SusanRatiLane opened #1454 "Explanation of file name prefixes"
Forum thread: https://groups.google.com/d/msg/mitappinventortest/NXZbMYu1hyA/iNFEA7HBAAAJ

From Abraham Getzler:
--------

File names can be affected by:

1. the run time file creation environment
   1. Companion
   1. Built
1. The component that created the file
   1. Canvas
   1. Web component
   1. File component
   1. Sound recorder
   1. Camera
   1. Media folder upload
1. the run time file r

[2018-12-03 21:43] ewpatton opened #1455 "Create built-in repo for YR Media templates"
Right now, if one wants to start with the YR Media tutorials, they must launch them from the [App Inventor homepage](http://appinventor.mit.edu). We should also make a built-in repo in App Inventor so that one can open them from right inside App Inventor, similar to how we can open Hello Purr.

[2018-12-03 23:51] #1446 closed

[2018-12-04 13:53] ewpatton opened #1456 "Loading US States GeoJSON results in internal exception"
Reported by Beryl: Loading the US States GeoJSON file in nb172 results in an internal exception. In nb171 and prior it would load successfully.

[2018-12-04 14:11] ewpatton opened #1457 "URI is not absolute error"
When calling File.ReadFrom with a file name starting with `//`, we do not construct a complete file URI. This then gets passed to FileUtil, which throws an exception.

[2018-12-05 19:59] SusanRatiLane opened #1459 "Update texting component documentation"
Proposed changes to the texting component documentation attached. Suggested by Steve Gradijan.
[TextComponent.docx](https://github.com/mit-cml/appinventor-sources/files/2650386/TextComponent.docx)

[2018-12-05 20:05] SusanRatiLane opened #1460 "StockQuotes tutorial is no longer valid"
Yahoo Finance is no longer free. It is probably not possible to make this tutorial work.

There are other APIs that could be used to make a tutorial, perhaps Wikipedia's API.

Thread for reference: https://groups.google.com/forum/#!category-topic/mitappinventortest/2N_j1exzQi4

[2018-12-05 20:05] SusanRatiLane opened #1461 "TinyWebDB creation instructions are out-of-date"
Report from user: https://groups.google.com/d/msg/mitappinventortest/uIvvEgjxgPw/nuaBaotCAQAJ

[2018-12-06 15:27] ewpatton opened #1463 "Backpack doesn't respond to click event in Firefox"
When testing another bug, I noticed that in Firefox if I click the backpack icon it doesn't open. The mousedown event is captured by Blockly and used for dragging, and so the mouseup event doesn't get translated into a click event.

[2018-12-06 15:34] ewpatton opened #1465 "Cannot connect blocks"
[From the forum](https://groups.google.com/d/msg/mitappinventortest/RbRigAFIdtI/YETZe8HUAwAJ): Starting in release nb172, blocks cannot be connected after opening a project. The problem is that the connection database is empty. I have replicated the issue and believe that this is a regression caused by #1115.

[2018-12-06 18:39] #1456 closed

[2018-12-06 18:48] SusanRatiLane opened #1467 "Remove from backpack fails for duplicate blocks"
If a block is added to the backpack, then then the same block added again, "Remove from Backpack," on the second block in the backpack does nothing.

Should it even be possible to add the same block to the backpack multiple times? The same one can already be dragged from the backpack multiple times.

[2018-12-06 18:49] #1463 closed

[2018-12-06 20:12] ewpatton commented on #1467
So here's the issue. The problem occurs when you add EXACTLY the same block to the backpack twice. The reason this is a problem is because we serialize the block to an XML string, and the backpack is just an array of these. When you open the backpack, the strings are parsed into an XML DOM, and then then each set in turn is converted into blocks to be appended to the workspace. Now, when you parse

[2018-12-07 03:43] linchenyu1988 commented on #1457
Still having the issue by using File.ReadFrom with //. Keep getting "URI is not absolute" error. Any suggestion about how to read a csv file?

[2018-12-07 12:39] J0hnL0cke commented on #1452
"App Inventor will not let you define two procedures in the same app with the same name". Shouldn't that be "App Inventor will not let you define two procedures in the same **screen** with the same name"?

[2018-12-07 14:50] ewpatton commented on #1457
@linchenyu1988 The fix is PR #1462 and is under review.

[2018-12-07 16:07] zmd94 opened #1470 "Read from File Path Error"
Hi. Today, I try to read myCall.csv file from AI2 asset folder using path `//myCall.csv`. I already upload the file in AI2 server. Yet, I get error with URI is not absolute. Just see below image:

![image 2](https://user-images.githubusercontent.com/8069305/49658388-e6363100-fa7c-11e8-8522-fe6604e990d9.jpg)

So, I try to read the myCall.csv file from SD card, by change the path to `/myCall.csv`. B

[2018-12-07 17:16] ewpatton commented on #1470
This is a regression and is being tracked by #1457. The fix is being tested in #1462.

[2018-12-07 17:16] #1470 closed

[2018-12-07 22:13] zmd94 commented on #1470
Will wait for the fix being merged into master branch. Many thanks for fast response.

[2018-12-08 21:36] kangris-sket opened #1471 "I Get Error " Java returned: 1" ?"
I Get Error " Java returned: 1" ?

Im clone source 5day  ago...
with last Commits on Dec 4, 2018

How to fix sir?

Thanks

[2018-12-10 13:44] kangris-sket commented on #1471
Thanks you sir Evan for referenced 😄

But still confiuse 😅
What slash / ,must i edit 😄

Thanks

[2018-12-10 15:34] SusanRatiLane commented on #1452
Great. Thanks.

[2018-12-10 23:06] kangris-sket commented on #1471
ok thank you sir Evan
I see
I understand
I edit the compiler. java

to

Thank you

[2018-12-10 23:06] #1471 closed

[2018-12-11 17:47] moliata opened #1473 "Fusion Tables is turning down"
Google Fusion Tables is shutting down and their API will be turned off on December 3, 2019.

[2018-12-12 03:57] ewpatton commented on #1473
@moliata We also got the notice. Our immediate plan is to add a notice when someone imports a FusiontablesControl that Google is discontinuing support in December of 2019, but we don't yet have a long term plan for a replacement (if any).

[2018-12-12 15:56] #630 closed

[2018-12-12 15:56] #1148 closed

[2018-12-12 20:07] SusanRatiLane commented on #1412
Cannot reproduce on current master or production. It's possible this was fixed as a side effect of #1377

[2018-12-12 21:00] #1437 closed

[2018-12-12 21:00] #1438 closed

[2018-12-13 14:55] ewpatton commented on #1460
We decided to pull the tutorial down from the website. We will write a replacement tutorial using a different web API.

[2018-12-13 14:55] #1460 closed

[2018-12-13 16:24] BeksOmega commented on #1467
Hello,

I'm not completely versed in how app inventor works but I recently added a flyout to the trashcan (so you can get back deleted blocks) based on the way the backpack works, and I figured out a way to disallow duplicate blocks.

I believe all I would have to do is change [this](https://github.com/mit-cml/appinventor-sources/blob/63738ecb43e80f7eee199181858a186ce19a0501/appinventor/blocklyedi

[2018-12-13 22:02] moliata commented on #1473
@ewpatton great idea, we can add the Firebase's experimental warning and just add it to the FusiontablesControl component, not a huge hassle. I can take a look on the weekend.

[2018-12-14 16:34] SusanRatiLane commented on #1445
Proposed language:

Note: This produces a list of lists. CSVs containing a single-column table should instead be split at \n to produce a 1-dimensional list.

[2018-12-14 16:38] SusanRatiLane commented on #1449
Added as suggested.

[2018-12-14 18:22] ewpatton commented on #1451
Another option we might want to consider is making it so that if there is a Map present, you get the Any Marker blocks in addition to Any Map.

[2018-12-14 18:45] SusanRatiLane opened #1477 "FeatureCollection struggles with large input files"
This file caused trouble in the designer when loaded into a FeatureCollection.

The file is large, and it may not be an issue we want to fix, but it's worth taking a look.

[StatesGeoJSON.json.txt](https://github.com/mit-cml/appinventor-sources/files/2681328/StatesGeoJSON.json.txt)

[2018-12-15 20:51] #1457 closed

[2018-12-16 14:35] linchenyu1988 commented on #1457
Does the fix be applied yet? The "URI is not absolute" error is still there. Thanks

[2018-12-16 22:03] kdclang commented on #1451
I agree with Evan's suggestion - if you have a Map component, add the Any Marker blocks too. Then there is no need for an invisible Marker if you don't already have Marker components in your project.

[2018-12-17 12:20] ColinTree opened #1478 "Add direct link to download in Barcode link dialog"
Like this:
![image](https://user-images.githubusercontent.com/22613139/50086812-2e054700-0239-11e9-8ab2-16ff2f7b0215.png)

[2018-12-17 14:15] ewpatton commented on #1478
Because the "Save to my computer" triggers an automatic download. If you are planning to scan from the phone, then you probably don't want that.

[2018-12-17 15:17] ewpatton commented on #1467
@BeksOmega I'm not sure I follow how your suggested change prevents duplicate blocks, unless at some other point in your code you are comparing all of the strings you are putting into your content array. My reading of the code you linked is that it normalizes the blocks by removing all ids and coordinates. The proposed change would also break how our code for removing an individual block stack fro

[2018-12-17 17:40] ewpatton opened #1479 "Save locale in UserSettings"
[From the forum](https://groups.google.com/d/msg/mitappinventortest/qogmIisZtxc/Sw3o51JYCgAJ): It would be nice if App Inventor remembers the user language selection. Otherwise, it always defaults to English unless the user goes to the specific locale URL.

[2018-12-17 20:41] SusanRatiLane opened #1481 "Map Maker Any Component availability"
Currently, in order to use the Any Component Marker block for a Map, there must be at least one map Marker on the map at design time. If the user doesn't want an initial marker, they're advised to set the dummy marker as invisible.

The Any Marker block should be available when there is a Map present instead of a Map Marker.

[2018-12-17 20:45] SusanRatiLane commented on #1445
As per conversation with @ewpatton and @halatmit, this is normal behavior that is not what some users importing single-column tables expect. It's not clear that the documentation should change, but we might want to add a block for importing this sort of file. A single-column table isn't really what the CSV format was designed to handle.

[2018-12-19 14:23] ewpatton commented on #1467
@BeksOmega The trick with your approach will need to be ensuring that the behavior is `O(n)` for operations like Copy All to Backpack. As proposed, it sounds like it would be `O(n^2)`, which for large App Inventor projects will lock up the browser for an extended period of time.

[2018-12-19 15:32] BeksOmega commented on #1467
So if I understand correctly you're saying that the code would look something like this:
[code]
And the foreach loop inside the foreach loop would kill larger projects. Hm...

Well we obviously couldn't get rid of the outer loop, so we would need to do something with the inner one. Maybe we could store it as some sort of map instead of as an array? Then it would look more like this:

[code]

What

[2018-12-19 17:23] ewpatton commented on #1467
Yes, the latter is more appropriate. If you look at the history of Blockly's events.js file, and in particular the Blockly.Events.filter method, you'll see that we did a similar rewrite to deal with nested for loops to reduce the computational complexity of the method (for reference, some App Inventor projects have O(1000) top level blocks and O(10000) total blocks).

[2018-12-19 21:08] SusanRatiLane commented on #1461
Updating the instructions to point to the current location of App Engine Launcher.

The power user FAW contains steps for setting up a local redis server for CloudDB operations: https://groups.google.com/forum/#!msg/mitappinventortest/GPtZN2viC3E/Cna0GhAeEgAJ

This could be adapted and added to our help site.

[2018-12-20 16:09] BeksOmega commented on #1467
Hello,

I noticed that getContents returns an array rather than a hashmap like we want to change it to, but it's a public function so I don't want to change what it returns. So I'm wonder what the best approach would be for accessing the hashmap. Here are a few ideas:

1) Have .getContents set the .contents property (public) as well as a .contentsHash_ property (private) and then any callback func

[2018-12-20 17:40] #1200 closed

[2018-12-20 20:47] #1422 closed

[2018-12-20 22:56] ewpatton opened #1485 "Switch to headless Chrome for blocklyeditor unit tests"
We currently use phantomjs for the Blockly unit tests, but the developer has since abandoned the project. There is also a really annoying bug in phantomjs on macOS that causes the tests to take minutes to run (every exit has a multiple second delay). We should investigate using headless Chrome to run the unit tests and move off of phantomjs.

[2018-12-20 23:03] halatmit commented on #1485
+1  (absolutely).

== Hal

Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Thu, Dec 20, 2018 at 5:56 PM Evan W. Patton <notifications@github.com>
wrote:

[2018-12-21 17:12] ewpatton commented on #1362
Closed via 5f54ee0

[2018-12-21 17:12] #1362 closed

[2018-12-25 21:32] GOTFire opened #1488 "Sidebar layout"
I use Makeroid layout as sidebar feature its really usefull for proffesional desing.There is too many apps use sidebar on the market and app inventor dont have built in sidebar option for this.Is it posible add using layouts as sidebar? I know its already integrated to Makeroid but its really usefull for all.

This option can work like this
1.We can select layout for sidebar.
We can use layouts in

[2018-12-28 22:13] SusanRatiLane opened #1491 "CloudDB documentation insufficient"
Existing instructions on setting up your own CloudDB aren't enough for a user to actually accomplish it

[2018-12-31 16:21] ColinTree opened #1493 "A possible problem of android lib path in build.xml"
https://github.com/mit-cml/appinventor-sources/blob/49013feb17620b813dcd8d02500061777e0ca414/appinventor/build.xml#L102

Should this be `/android/android-26/android.jar`?

[2018-12-31 17:10] ColinTree opened #1494 "v4-support.jar seems empty"
https://github.com/mit-cml/appinventor-sources/blob/master/appinventor/lib/android/support/support-v4-26.1.0.jar

This empty jar got only 1kb, and would eclipse classpath not work with this while some code references the v4 support classes (e.g. ActivityStarter requires FileProvider)

[2018-12-31 18:47] ewpatton commented on #1494
FileProvider is located in support-core-utils. If you are importing into Eclipse, you should include all of the JAR files in that directory to resolve imports.

Once upon a time, all of the support files were in support-v4, but Google decided to split them out into different parts so that different subsets could be included without including everything. I believe now it's just left to include the

[2018-12-31 18:47] #1494 closed

[2018-12-31 19:21] ewpatton commented on #1493
Thanks for catching this @ColinTree. I've submitted #1495 to address this.

[2019-01-01 14:13] ColinTree opened #1496 "Lacking lifecycle common library"
It should be between this line,
https://github.com/mit-cml/appinventor-sources/blob/49013feb17620b813dcd8d02500061777e0ca414/appinventor/components/build.xml#L122
and this line
https://github.com/mit-cml/appinventor-sources/blob/49013feb17620b813dcd8d02500061777e0ca414/appinventor/components/build.xml#L123

![image](https://user-images.githubusercontent.com/22613139/50573603-677dab00-0e12-11e9-8f2

[2019-01-02 15:52] ewpatton commented on #1496
I'm not sure that we actually need the lifecycle library in App Inventor. At least, I haven't seen any bugs that we could ascribe to the fact that we don't compile against it. Are you tripping on something that is caused by us missing this when compiling the components module?

[2019-01-02 15:55] ColinTree commented on #1496
Yes, in original App inventor sources, there are no problem without this, but it is some times required by some functionalities.
As we have already stored this lib in the repo, why dont we add it to classpath just like the other support libs?

[2019-01-02 16:30] SusanRatiLane commented on #1491
Related to #1461

[2019-01-02 18:41] SusanRatiLane opened #1497 "Helpurl link missing for Time and DatePicker"
The "Help" option in the right-click context money for Date and Time Pickers is grayed out.

[2019-01-02 19:14] SusanRatiLane opened #1498 "HELPURLs for components point to nonexistent anchors"
The HELPURLs defined for components feature four distinct links: default, properties, events, and methods. Example:

`    Blockly.Msg.LANG_COMPONENT_BLOCK_IMAGEPICKER_HELPURL = '/reference/components/media.html#ImagePicker';
    Blockly.Msg.LANG_COMPONENT_BLOCK_IMAGEPICKER_PROPERTIES_HELPURL = '/reference/components/media.html#imagepickerproperties';
    Blockly.Msg.LANG_COMPONENT_BLOCK_IMAGEPICKE

[2019-01-02 19:50] barreeeiroo opened #1499 "aiStarter is broken with WebRTC"
I've been testing the new WebRTC feature, and I noticed that the script aiStarter with WebRTC is not working properly (or hasn't worked for me)
It crashes after attemping to load Form on Companion

ADB Logcat displays this:
[code]

I then realized that the error comes from this line: https://github.com/mit-cml/appinventor-sources/blob/master/appinventor/components/src/com/google/appinventor/compon

[2019-01-02 20:09] SusanRatiLane commented on #1497
Also ListView, Spinner

[2019-01-03 16:01] ewpatton commented on #1499
@barreeeiroo I haven't had any issues when using the companion in the emulator. Under what circumstances are you triggering this error? Are you using the latest rendezvous code under misc?

[2019-01-03 17:16] barreeeiroo commented on #1499
I have copied all files from WebRTC commit, and updated rendezvous.js
Companion through WiFi works as intended, but USB Connection doesn't

[2019-01-03 19:00] ewpatton commented on #1499
I'm not able to replicate this. I tested with Companion 2.49 running on an Amazon Kindle Fire tablet and was able to successfully connect using the USB option.

[2019-01-03 20:48] #1497 closed

[2019-01-03 20:48] #1498 closed

[2019-01-03 23:30] barreeeiroo commented on #1499
Humm, I will debug it more in depth. I should have made something wrong in the process
Thanks for your help, I'll update the issue when I get any news

[2019-01-04 10:54] kwankiu commented on #1478
Hello, i would like to ask if anyone know where can i edit this dialog ?
I would like to try adding this

[2019-01-04 10:55] kwankiu commented on #1488
I think what you mean would be the Android Navigation Drawer which is currently available in Kodular, Thunkable X, Android Studio, Sketchware, etc.

[2019-01-04 10:57] kwankiu commented on #1488
Maybe this could help ?
https://community.thunkable.com/t/free-extension-sidebar-navigation-update-12-04-2018/5376

[2019-01-04 11:01] kwankiu commented on #1201
I think some tablet and android 2.x's navigation bar is at the bottom, isn't it ?

[2019-01-04 12:13] GOTFire commented on #1488
Nope its not work correctly  and we cant use own desings

[2019-01-04 15:49] SusanRatiLane opened #1502 "Default behavior for Maps LoadFromURL"
Currently, the Map.LoadFromURL method takes a string containing a GeoJSON URL as input but fails silently if the GotFeatures event is not defined to process the features from the file. This isn't necessarily intuitive behavior.

Default behavior should be to loop through features defined in the file and create those features using the FeatureFromDescription method.

Default behavior can be overrid

[2019-01-04 16:38] SusanRatiLane opened #1503 "Loading Maps features from URL loading only one feature"
This test application is designed to load the New England states from the States Quiz tutorial when the "Load Map" button is clicked.

The GotFeatures event appears to receive a list that is 6 elements long, but only the state of Rhode Island is loaded onto the map.

(Remove the spurious extra .zip I added. The upload rejected the aia extension.)

[MapNewEngland.aia.zip](https://github.com/mit-cml

[2019-01-04 16:58] #1481 closed

[2019-01-04 19:56] SusanRatiLane commented on #1503
Addendum: Polygon type will not display from this file, but MultiPolygon will. Converting state definitions to MultiPolygons containing only one Polygon (i.e. adding another set of [] around the coordinates) causes the state shape to display on the map when the code is executed.

[2019-01-05 02:38] ewpatton opened #1505 "Combine properties and blockProperties data structures into one structure"
We currently maintain two parallel descriptors for properties, one for the designer and one for the blocks. We should combine them into a single descriptor as there is no longer a need to keep two copies of the object around since everything is in the same JavaScript environment.

[2019-01-05 12:31] barreeeiroo commented on #1416
_Bumping Issue_

Any update on this?
There are only 4 days left to reach the 9th January

[2019-01-07 17:42] GOTFire opened #1510 "Swicthing screen causes bug on Firebase"
I currently using firebase on my project and my app already installed more than 1k so when i looking statics about usage of my firebase plan there is somethink wrong with it.

I used 12,9GB!
 My app use firebase for download questions and question size is 200kb and my firebase usage is 12.9 Wow

There is a bug and i find it.

I use Firebase database profiller tool to check database.There is no pro

[2019-01-07 17:43] ewpatton opened #1511 "Migrate ComponentDescriptionGenerator to use JSON library for serialization"
While I was working on #1506 I made a few errors in serializing the conditional information. It might make sense to switch to constructing a JSON object and serializing it out. It would also simplify some of the code, making it easier to maintain in the future.

[2019-01-07 17:56] ewpatton commented on #1510
I'm not sure that this is a bug in App Inventor. The Firebase library will attempt to retrieve existing keys that have already been requested when it connects to the DB. If you're requesting the tag from the DB, then you will get 2 copies (one automatic from Firebase on start and your request from the blocks). You might want to redesign your app so that you also use a TinyDB to check if you have a

[2019-01-07 18:20] ewpatton commented on #1451
@SusanRatiLane I'm thinking that given we have merged and released #1500 that we might be able to close this one. Let's propose it to Steve and see what he thinks.

[2019-01-07 19:14] SusanRatiLane commented on #1451
Ah, that makes sense. Yes.

[2019-01-07 19:14] #1451 closed

[2019-01-07 19:15] GOTFire commented on #1510
Nope ,you dont understand me.I dont need somethink like tinydb.Its just test project.I dont use any get or any other firebase block.I created this project for hunt bug.These block just added to fill my empty test project.There is a problem with Firebase.When opened x screen and if x screen has firebase its try get all data by itself.I dont use any get block when screen init or clicked button.I add

[2019-01-07 23:58] neilmunday opened #1512 "EV3 Bluetooth Messaging support"
Could support for the Lego EV3 mindstorms Bluetooth "mailbox messaging" support to be added please?

"Jerry" has had some success by implementing the feature in the App Inventor designer (see: https://r.jander.me.uk/index.php/2016/09/04/ev3-mailbox-messaging/#comment-408) but it would be great if a App Inventor had an EV3 Messaging component that could handle sending text, logic and numeric values

[2019-01-08 00:56] kangris-sket opened #1513 "JsonComponentDescription Error with new Library?javac: invalid flag: -?"
JsonComponentDescription Error with new Library?

Im use new commit and try add component admob with library.
and get error :(

`JsonComponentDescription:
    [mkdir] Created dir: E:\appinventor-sources\appinventor\components\build\classes\JsonComponentDescription
    [javac] Compiling 236 source files to E:\appinventor-sources\appinventor\components\build\classes\JsonComponentDescription
    [jav

[2019-01-08 10:48] alineniggeler opened #1514 "ant build fail: build.xml:21"
building the appinventor-sourcers with ant, before the "new" release with webRTC worked fine for me but since then I get the following error message:

BUILD FAILED
/home/aline/appinventor-sources/appinventor/build.xml:21: The following error occurred while executing this line:
/home/aline/appinventor-sources/appinventor/buildserver/build.xml:237: Java returned: 1

java version: 10.0.2 2018-07-17 f

[2019-01-08 14:46] ewpatton commented on #1514
master builds for us, so please ask about issues related to your specific setup in the [App Inventor open source forum](https://groups.google.com/forum/#!forum/app-inventor-open-source-dev). You should also provide information about the build prior to the BUILD FAILED message so that we can better assist you.

[2019-01-08 14:46] #1514 closed

[2019-01-08 14:50] ewpatton commented on #1512
The core team doesn't have the bandwidth to implement this, but it sounds like it would be a good student project. I've marked it as "help wanted" if someone wants to implement this.

[2019-01-08 15:04] ewpatton opened #1516 "Use JsonInterop for component data model"
Related to #1511, we create three copies of every object in the simple component database, due to having parallel instances in GWT and Blockly, and serializing/deserializing between the two. The more efficient thing to do in both time and space complexity is to have a single JSON model we can manipulate from both sides of the Java/JS bridge. GWT has JsonInterop as a mechanism for doing this.

[2019-01-08 15:12] SusanRatiLane opened #1517 "Documentation regarding methods to share apps is no longer valid"
Link: Sharing Your App (http://appinventor.mit.edu/explore/ai2/share.html)

Many email clients, including Gmail, no longer allow user to attach an apk file.

[2019-01-08 20:38] SusanRatiLane commented on #1453
@ewpatton @jisqyv
I am not sure what to make of this issue.

I'm attaching a demo application with a date, a time, and a variety of ways to format and combine them.

Converting the date and time by converting the picker instants into milliseconds, adding them together, and converting the result back to an instants adds a time zone offset to the result. Converting to milliseconds is the method the

[2019-01-09 00:43] fsyzty opened #1518 "When the selected language is not English, the page where the password is incorrectly returned http://127.0.0.1:8888/login is blank"
When the selected language is not English, the page where the password is incorrectly returned http://127.0.0.1:8888/login is blank instead of http://127.0.0.1:8888/login/?error=Invalid%20Password

appengine\src\com\google\appinventor\client\explorer\youngandroid\GalleryList.java
// Add panels to main tabPanel
    appTabs.add(appRecent, "Recent");
    appTabs.add(appTutorial,"Tutorials");
    appT

[2019-01-09 14:31] SusanRatiLane commented on #1453
OK, so this is intended, if unintuitive behavior.

Whenever you convert an instant to milliseconds, you get the number of milliseconds from the epoc in UTC. The DatePicker and the TimePicker both produce their own Instants. When you convert both to milliseconds, combine, and convert the result back to an Instant, you're effectively getting:

Date + timezone_offset + Time + timezone_offset => DateT

[2019-01-10 11:05] GOTFire commented on #1488
I already using Kodular thanks for it.I think app inventor 2 need have a built in option for this.

[2019-01-11 10:27] NmdOfficial opened #1520 "Permission request code"
I get following IllegalArgumentException with the new permission system:

[code]

Reason in Form.java file:
int nonce = permissionRandom.nextInt(100000);

Solution:
int nonce = permissionRandom.nextInt(65535);

[2019-01-11 12:59] ewpatton commented on #1520
According to this post <https://stackoverflow.com/questions/25529865/java-lang-illegalargumentexception-can-only-use-lower-16-bits-for-requestcode>, this is due to using FragmentActivity rather than Activity as the base class for Form (or AppInventorCompatActivity if you’re using that). Since we don’t using FragmentActivity, I don’t think we will see this issue in App Inventor, but it would be eas

[2019-01-11 14:04] ewpatton commented on #1518
I think there are two separate issues here. One is the login issue and the other is the internationalization of the gallery.

For the former, I'm willing to accept that it is a bug, but given that we don't use the login page for production I'm not particularly concerned about dedicating our core team to fixing it (if anyone wants to submit a patch, we will gladly accept the help).

For the issue a

[2019-01-11 14:21] NmdOfficial commented on #1520
We from Kodular (old name Makeroid) use `Form extends AppCompatActivity` for our forms.
But AI use `public class AppInventorCompatActivity extends Activity`.

Maybe that's the difference.

[2019-01-11 15:48] Amerkashi commented on #1520
AppCompatActivity extends FragmentActivity which extends Activity

App Inventor Form extends AppInventorCompatActivity which itself extends Activity, so AI won't have the issue:
AI:          int nonce = permissionRandom.nextInt(100000);

AppCompat:
static void checkForValidRequestCode(int requestCode) {
      if ((requestCode & -65536) != 0) {
         throw new IllegalArgumentException("Can only

[2019-01-11 17:00] ewpatton opened #1521 "Marker visible does not take immediate effect"
[From the forum](https://groups.google.com/d/msg/mitappinventortest/ZYbebUGT2to/E-eirRlqEgAJ): The Marker.Visible property no longer takes immediate effect.

I confirmed that this worked in 2.46 and does not work in 2.47 or later. Using git bisect I tracked the issue to change 2820e72af17ec36071af6debffb89ee114bbab1f where I added custom zoom controls.

[2019-01-11 20:46] ewpatton commented on #1520
Ok. So I propose the following. Let's make a constant called `MAX_PERMISSION_NONCE` with a value of 100000 and replace the magic number in the code. This way, if you need to change the value to something different you can, and if we ever touch the code it won't result in a merge conflict since the actual definition is elsewhere.

[2019-01-13 00:57] fsyzty commented on #1518
appinventor\appengine\src\com\google\appinventor\server\LoginServlet.java

  private void fail(HttpServletRequest req, HttpServletResponse resp, String error) throws IOException {
    resp.sendRedirect("/login/?error=" + sanitizer.sanitize(error));
    return;
  }
-----------------------------------------------------------------
  private void fail(HttpServletRequest req, HttpServletResponse resp,

[2019-01-13 02:09] fsyzty commented on #1518
appinventor-sources\appinventor\appengine\war\login.jsp
----------------------------------------------------------------------------------------------
`<center><p><a href="/login/sendlink"  style="text-decoration:none;">${passwordclickhereLabel}</a></p></center>`
----------------------------------------------------------------------------------------------
`<center><p><a href="/login/sendlink?loca

[2019-01-14 15:06] ewpatton opened #1522 "Move ComponentListGenerator constants into common"
Currently, ComponentListGenerator (components) defines constants used as keys in the descriptions of components that are consumed by Compiler (buildserver). However, rather than referencing the constants, we duplicate the definitions in Compiler.java. The appropriate thing to do here would be to refactor the constants into the common module and then reference the single definition from both the Co

[2019-01-14 16:15] Walkerljo opened #1523 "No Working Cloud Database System"
As many of you may know, Google is discontinuing the use of Fusion Tables (I assume to go along with the sweep of changes in the Google cloud platform.) I believe that Firebase has also had a significant number of changes occur as well.

I found this paper on using Firebase along with App Inventor from 2015; https://drive.google.com/file/d/0B3jsksMcCW5bMENnTTk1TF9BLWM/view

on using Firebase, howe

[2019-01-15 09:24] HanderWei opened #1524 "Buildserver return 503 ERROR"
I run the app engine development server and the buildserver, but when i visit localhost:8888, it returns 503 ERROR.

![2019-01-15 5 20 38](https://user-images.githubusercontent.com/5194035/51170844-635d8d00-18ea-11e9-9e59-c8c81d502d13.png)

[2019-01-16 06:31] kangris-sket commented on #1513
I think tis get error from merger to ucr...?
because commit compinion 2.49 is fine... but after 2.50 get error :(

[2019-01-16 14:19] ewpatton commented on #1523
The option you are looking for is under Project Settings > Service accounts > Database secrets for how Firebase is used in App Inventor. We do not support the new forms of Firebase authentication since they are tightly integrated with Google Play Services.

[2019-01-16 14:21] ewpatton commented on #1524
The build server runs fine on both our development machines and in production. If this is a setup specific issue, or if you modified the sources in some way, I recommend that you instead ask your question in the [App Inventor open source forum](https://groups.google.com/forum/#!forum/app-inventor-open-source-dev).

[2019-01-16 14:21] #1524 closed

[2019-01-18 15:46] #1453 closed

[2019-01-18 16:09] ewpatton commented on #1513
I would recommend that you ask this in the [open source forum](https://groups.google.com/forum/#!forum/app-inventor-open-source-dev), as this is not an issue with the App Inventor sources but your modifications.

[2019-01-18 16:09] #1513 closed

[2019-01-18 19:02] ewpatton opened #1527 "Investigate issues with Dark theme components on Android 5-7"
There are some reports on the forums that date/time picker dialogs do not look correct on Dark theme on some versions of Android.

[2019-01-18 20:08] #1368 closed

[2019-01-18 20:08] #1444 closed

[2019-01-18 20:08] #1461 closed

[2019-01-19 08:56] ColinTree opened #1528 "Remove codes of second buildserver after target API updated?"
Those are not effective anymore, as all apps are built with target SDK version 26 now.

[2019-01-20 20:03] GOTFire opened #1529 "Obfuscated text and non-Eng words"
I tested Obfuscated text and i found bug.Its not work correct for non eng words

If i will try non-eng word in obfuscated text its display false on the label

Blocks
https://yadi.sk/i/Ya5BHTmd-1ZUfg

Here result
https://yadi.sk/i/D4ZqjiXDn0Awcw

[2019-01-20 23:22] barreeeiroo opened #1530 "Safari doesn't like WebRTC"
As the title sais, it seems like Safari doesn't like the new WebRTC implementation. One of our users reported that they cannot use the Companion in Safari, but it worked in Chrome.
Safari's console output was this:

![image](https://user-images.githubusercontent.com/19251112/51446433-728d7200-1d12-11e9-9b98-f28aca3ca301.png)
![image](https://user-images.githubusercontent.com/19251112/51446435-7588

[2019-01-21 07:52] ColinTree opened #1531 "Companion: project loading issue & merge mistake"
1. `0d0a` -> `\r\n` brokes appengine loading it:
  ![image](https://user-images.githubusercontent.com/22613139/51459448-a361bb80-1d93-11e9-834d-c87a5525a21d.png)
  ![image](https://user-images.githubusercontent.com/22613139/51459572-f89dcd00-1d93-11e9-8ae9-c5bbe829467c.png)

------

2. This should be a merging mistake?
  ![image](https://user-images.githubusercontent.com/22613139/51459509-ce4c0f80

[2019-01-21 09:39] ColinTree commented on #1531
Also, Checkbox1 might need to be renamed with a meaningful name, like `useLegacyCheckbox`.

[2019-01-21 20:13] palivoda commented on #950
Right after import extension works fine. Then, after extension stays untouched for a week on server, I've got the exception. Different apps same problem.

Stacktrace:
`Error from Companion: java.lang.RuntimeException: invalid syntax in eval form: :3:3258: caught exception in inliner for # - java.lang.RuntimeException: no such class: com.puravidaapps.TaifunBilling gnu.bytecode.ObjectType.getReflect

[2019-01-21 22:49] #1493 closed

[2019-01-22 16:00] ewpatton opened #1533 "Add MakeInstant method using individual components"
Chris Ward suggests that we have a version of MakeInstant that can compose an instant from the constituent parts rather than from a string (see screenshot).

![makeinstant](https://user-images.githubusercontent.com/1331253/51547489-6f8aa280-1e34-11e9-95b6-6a38e280fd0f.png)

I think this is good idea, but I think the ordering should be major-minor, i.e., year month day hour minute second. We might

[2019-01-22 22:36] ewpatton commented on #1530
Actually there are two different issues. I just tested WebRTC with Safari 12.0.2 and the WebRTC connection failed due to an exception: `Member RTCIceServer.urls is required and must be an instance of (DOMString or sequence)`. However, the issue that you are facing has to do with the fact that aiStarter doesn't include an SSL certificate and only serves HTTP. You cannot make an HTTP call from a pag

[2019-01-22 22:39] ewpatton commented on #1529
@GOTFire I'm confused. Neither of the screenshots include the word false? Can you attach an AIA file that exhibits the problem (rename AIA to ZIP to attach).

[2019-01-22 22:40] ewpatton commented on #1529
I have a hypothesis that the issue here is that we end up generating a string of bytes that are an invalid UTF-8 sequence.

[2019-01-22 22:41] ewpatton commented on #1528
@ColinTree We are leaving the support for a second buildserver in place intentionally. These will eventually become the buildserver options for iOS.

[2019-01-22 22:41] #1528 closed

[2019-01-22 22:44] ewpatton commented on #1531
If you'd like to submit a patch for handling the possible Windows carriage return, that's fine, but the issue here is that when you use Git for Windows the default behavior is to checkout files using Windows line endings. If you download the raw file from GitHub and look at the line ending for Screen1.scm, you'll see that it's a Unix-style line ending (0x0a), which is what App Inventor is expectin

[2019-01-22 22:55] barreeeiroo commented on #1530
@ewpatton But the test wasn't done with aiStarter, it was done using WiFi Network
So, I don't think the issue could be releated with the starter at all, no?

[2019-01-23 00:39] jisqyv commented on #1530
@ewpatton @barreeeiroo Interestingly, this is due to a TYPO on my part. I meant to type "urls" : ... but instead typed "url" : ... The "url" property is deprecated, but still supported in Firefox and Chrome, but not Safari. Just changing it to "urls" (and making it a list, which isn't necessary) causes it to work in Safari and Chrome (and I need to test Firefox, but I'm about to do that). I'll pos

[2019-01-23 14:39] GOTFire commented on #1529
Here
https://yadi.sk/d/EzrkZCM9xEOGjA

[2019-01-23 15:23] #1530 closed

[2019-01-23 21:01] #1521 closed

[2019-01-24 08:54] GOTFire commented on #1529
Yes,i cant get orijinal string if i use obsfuscated

[2019-01-24 19:07] GOTFire commented on #1510
I succesfully downgrade my download with the new Kodular update.With the New update i can change firebase url and bucket. So i changed firebase url to firebaseurl/dummyvalue and added change firebase url to screen init block. With this litle trick firebase do not download all of my database.

 Its try get dummyvalue and dummyvalue/projectbucket. This tag is empty so its not download anythink when

[2019-01-25 14:01] conorshipp opened #1542 "Any Component blocks for form show in typeblock but not in palette"
As you can see from the screenshots below, there is no way to select the "Any Form" blocks from the blocks palette - they can only be accessed by using typeblock.
![image](https://user-images.githubusercontent.com/25845449/51750181-268f5400-20a9-11e9-8433-159583c5b59d.png)
![image](https://user-images.githubusercontent.com/25845449/51750132-08c1ef00-20a9-11e9-8187-59b56810d7c3.png) ![image](https:

[2019-01-25 15:38] ewpatton commented on #1542
Is this a regression? I'm not sure it would make sense to allow for Any Screen blocks because you can only ever access the current screen (in App Inventor at least).

[2019-01-25 15:57] conorshipp commented on #1542
Yes, you're right, it doesn't make sense to use these blocks, that explains why there's no palette button to access them.

w.r.t. the typeblock, I'm not sure how long this has been happening or when it was introduced. It happens on both ai1 and ai2-test.

[2019-01-25 22:35] ewpatton commented on #1143
Implemented as part of #1506

[2019-01-25 22:35] #1143 closed

[2019-01-27 11:39] GOTFire commented on #1404
I think there is same problem with this issue.
https://github.com/mit-cml/appinventor-sources/issues/1150

If we use append value and change project bucket at the same time its crash firebase.Hope you can fix it.

[2019-01-28 15:15] ColinTree opened #1543 "ListView is not able to display large number"

[2019-01-28 18:50] #1496 closed

[2019-01-29 09:34] kevinc123 opened #1544 "About Turn Server"
About Turn Server: turn.appinventor.mit.edu
I know that is needed for WebRTC.

How does it affect third-party builders? We need to setup our own third party server for Turn service ?

https://github.com/mit-cml/appinventor-sources/blob/3e533338121229ba20b23d35d06093e2638ae26f/appinventor/components/src/com/google/appinventor/components/runtime/util/WebRTCNativeMgr.java#L214

[2019-01-31 16:48] ewpatton commented on #1543
So it seems like the Calendar object is first being cast to an int, which gives it the value of INT_MAX, and then it is converted to a string in the first case. In the latter case, the correct behavior occurs by stringifying the Calendar as a long rather than an int.

[2019-02-01 08:21] ewpatton opened #1545 "Handling AI Classic documentation"
Given that we have turned off AI Classic, we should consider making the AI Classic documentation pages redirect to the corresponding AI2 pages.

[2019-02-02 21:13] KenNichols commented on #1085
https://developer.android.com/reference/android/widget/ListView.html#setSelection(int)

"If in touch mode, the item will not be selected"

I've tested the following code via an extension and it works without issue on Android OS 8.0:

listView.requestFocusFromTouch();
listView.setSelection(position);

[2019-02-03 15:13] GOTFire commented on #1523
Is there is a plan for firebase? New update? New features?

[2019-02-03 20:31] ewpatton commented on #1085
Hi Ken,

That’s great that it works with Android 8.0. Can you confirm that it works back to Android 2.1? I’d prefer if you submit the change as a PR rather than a comment so that we can credit you appropriately.

Cheers,
Evan

[2019-02-03 20:36] ewpatton commented on #1523
We are not keen on updating Firebase because Google has tightly integrated it into Google Play services. In particular because we would like to support people who might prefer publishing apps via alternative means (eg FDroid, Amazon) and Play services are tightly coupled to systems that use Google Play. We will continue to support Firebase so long as Google supports the existing wire protocol as w

[2019-02-03 20:41] KenNichols commented on #1085
Both requestFocusFromTouch &  setSelection where added in API level 1 so it should be OK.

The oldest device I have has 4.2.2 JellyBean_MR1, I will test it on that asap.

I've never done a PR, I'll look into it.

[2019-02-03 23:10] GOTFire commented on #1523
I understand. But we need good alternative for firebase

You know there is firebase alternative CloudDB and its redis based so we need setup own redis Server for use it private. There is free redis CloudDB services like redislabs.com but free plan is not usefull for app inventor users.

https://groups.google.com/forum/m/#!searchin/mitappinventortest/Redislab/mitappinventortest/JcVDvm0HJTs

Firebas

[2019-02-04 19:43] bnnaor opened #1547 "slider does not support custom colors in android 5.0"
tested on a galaxy note 3 running android 5.0
changing the slider's left/right colors, does not work,
colors stay the with the default orange/gray

[2019-02-05 17:07] ewpatton commented on #1547
Based on the colors, it sounds like this is an issue with the classic theme. Can you please confirm which theme you are using in your app?

[2019-02-05 17:23] ewpatton commented on #559
I think that the important thing here is that the semantics of the language are correct. The block types could easily be SHA256 hashes of the names and it wouldn't change anything so long as the YAIL that is generated is correct. We can't ever remove the existing definitions anyway because it would break loading older projects. If there's a strong objection, we can reopen this, but I think we shou

[2019-02-05 17:23] #559 closed

[2019-02-06 17:30] ewpatton commented on #1140
I think what we need to do here is call `Blockly.hideChaff()` when we transition to another display other than the blocks editor.

[2019-02-08 16:51] ewpatton commented on #1502
Closed via #1538

[2019-02-08 16:51] #1502 closed

[2019-02-09 19:00] ramiAbdou commented on #1352
@ewpatton looking to fix this right now. Can I get some direction to where in the code base this is?

[2019-02-09 19:20] josmas commented on #1352
Hey @ramiAbdou there seem to be two different issues here. The second part, the controls, are inherited from [Blockly](https://developers.google.com/blockly/). You can have a look and see if there is a way to customise the look and feel when they are loaded in the page.

The other part, regarding the pointer cursor, the files to look at are most likely those that start with _backpack_ in the _bloc

[2019-02-09 19:22] xueyuanw commented on #1533
I can take a look at this issue!

[2019-02-09 19:29] kuan9611 commented on #1431
@ewpatton @josmas thinking of tackling this one. Is [this](https://github.com/mit-cml/appinventor-sources/blob/master/appinventor/components/src/com/google/appinventor/components/runtime/Notifier.java) the file I should look at?

[2019-02-09 19:33] josmas commented on #1533
hey @xueyuanw this is the [file to look at](https://github.com/mit-cml/appinventor-sources/blob/master/appinventor/components/src/com/google/appinventor/components/runtime/Clock.java). Have a go at changing or adding methods and see how that changes in the UI. The [docs here](http://appinventor.mit.edu/appinventor-sources/#documentation) will be helpful.

[2019-02-09 19:36] josmas commented on #1431
Hey @kuan9611 that seems to be the right place.

[2019-02-09 19:38] hsun1316 commented on #1210
@ewpatton @josmas I would like to work on this issue, is there anywhere I can look to get started with this?

[2019-02-09 19:41] ZhengCornell commented on #1428
@ewpatton @josmas thinking of solving this one.

[2019-02-09 19:52] josmas commented on #1210
hey @hsun1316 it seems like the deletion is done [here](https://github.com/mit-cml/blockly/blob/65b130840f56961767320904929d0abf4794a218/core/blockly.js#L231). That might give you some idea on where to look at next.

[2019-02-09 19:58] josmas commented on #1428
hey @ZhengCornell [here's](https://github.com/mit-cml/appinventor-sources/blob/master/appinventor/appengine/src/com/google/appinventor/client/editor/simple/SimpleVisibleComponentsPanel.java#L86) when the current setting can be changed. I would recommend reading this [document](https://docs.google.com/document/d/1rOsvtd6ZjmRYqBdL9OWRhtwf735lJydDQjvkjCYVJ6E/pub) although it was written for app inven

[2019-02-09 20:41] ewpatton commented on #1431
@kuan9611 This post may also be relevant [via StackOverflow](https://stackoverflow.com/questions/7453925/password-field-in-alertdialog).

[2019-02-10 18:04] kuan9611 commented on #1431
@ewpatton @josmas PR [here](https://github.com/mit-cml/appinventor-sources/pull/1550)

[2019-02-10 20:17] ewpatton commented on #1177
As pointed out by @hsun1316, this doesn't seem to be happening in production. @ColinTree if you can give us more information to reproduce this we can reopen it.

[2019-02-10 20:17] #1177 closed

[2019-02-10 20:57] hsun1316 commented on #997
@ewpatton @josmas I was thinking about exploring this feature, is this something we want to have implemented still?

[2019-02-10 21:10] ewpatton opened #1553 "Improve the welcome screen"
The welcome screen could use some TLC. I'd like to imagine that when you open App Inventor for the first time, the welcome would give you some options for next steps, such as Start a New Project, the Talk To Me tutorial, Hello Purr, or a YR media tutorial, as buttons. An option to configure these (or randomly select from a list) might also be useful. Buttons with screenshots/graphics to indicate w

[2019-02-10 21:10] ewpatton commented on #1553
@ramiAbdou You might want to mock this up first to show what it would look like so that others can comment on it before you implement.

[2019-02-10 23:48] josmas commented on #997
@hsun1316 It would be a nice addition to the editor.

[2019-02-11 22:10] ewpatton opened #1558 "WebViewer documentation out of date"
The WebViewer documentation is missing the addition of the WebViewStringChanged event. We should also update the text that describes how to interact with the web view string to also include the fact that the WebViewStringChanged event will run when setWebViewString is called from JavaScript.

[2019-02-11 22:11] ewpatton commented on #1558
@mit-cml/cornell-cs-5152-students This is an easy one if one of you wants to take it on.

[2019-02-12 16:27] kuan9611 commented on #1347
@ewpatton @josmas Thinking of working on this one. It seems the main additions would be made [here](https://github.com/mit-cml/appinventor-sources/blob/master/appinventor/blocklyeditor/src/blocks/lists.js) and [here](https://github.com/mit-cml/appinventor-sources/blob/master/appinventor/blocklyeditor/src/generators/yail/lists.js). Are there other files I should pay close attention to?

[2019-02-12 16:28] kuan9611 commented on #1558
@ewpatton I'm looking into #1347 right now, but I can also do this first since it should be pretty straightforward.

[2019-02-12 16:43] ewpatton commented on #1558
Sure @kuan9611

[2019-02-12 16:55] ewpatton commented on #1347
@kuan9611 A few others pieces to flesh this out:

* blocklyeditor/src/generators/yail.js: Add a constant for the new operation used in the generator
* blocklyeditor/src/msg/en/_messages.js: Add a constant for the translated block name here so it can be internationalized
* buildserver/src/com/google/appinventor/buildserver/resources/runtime.scm: Implement the opeartion here in Scheme (there is a se

[2019-02-12 23:55] ewpatton opened #1559 "Implement a tab bar layout"
Tab bar is a useful way to organize and give access to content. While you can mock something up using buttons and a horizontal arrangement, it would be nice if we had this natively implemented as a layout and it could use the platform-specific implementation of this technique. It might also provide a better way for people to organize their data rather than using multiple screens, which is error-pr

[2019-02-14 06:55] ColinTree opened #1562 "name of getVersionName translations are not updated"
Since 3362b27151037ac90b43e5e659b8b9f6cb151774 renamed `PhoneStatus.getVersionName` with `GetVersionName`, the translation of this block cannot be loaded correctly (following cap is from the PlayApp)
![image](https://user-images.githubusercontent.com/22613139/52768286-15ae7e80-3068-11e9-980b-279b4603a29a.png)
To fix, just need to change only a single character in every locales.
e.g.
https://github

[2019-02-14 15:48] ewpatton commented on #1562
Given that the PhoneStatus is an internal component (at least as far as the base App Inventor platform is concerned), it's not a high priority to fix this. It is a relatively small change though if someone wants to take it on.

[2019-02-14 22:36] weihuali0509 commented on #1562
@ColinTree Can you please fix it in the MIT App Inventor version as well? thanks!

[2019-02-15 13:03] #1558 closed

[2019-02-15 16:40] ZhengCornell commented on #1522
I can take a look at this issue. What do you mean by the common module?

[2019-02-15 17:12] ewpatton commented on #1522
@ZhengCornell I consider each directory under the top level appinventor directory to be a module (appengine, buildserver, etc.). There is one called common. However, after looking at how the sources are organized, I think that it might be better to put the constants into components/src/com/google/appinventor/components/common. This package gets compiled into a CommonConstants.jar file that is used

[2019-02-15 18:27] ZhengCornell commented on #1522
So only shared constants should be put into ComponentDescriptorConstants. Or all private static final constants must be put into this file? Besides, except these three files, do I have to modify others?

[2019-02-15 19:57] #1428 closed

[2019-02-15 20:21] ewpatton opened #1566 "Swap the order of copy from and paste to backpack workspace menu items"
If one right-clicks on the workspace, you will see that there are options to copy to and paste from the backpack. The problem is that these are in the opposite order from every other GUI in existence (typically, Copy then Paste, but we have them the other way around). It should be a straightforward change to swap the order of the two menu items.

[2019-02-15 20:23] ewpatton opened #1567 "Move "Empty Backpack" menu item to backpack menu from workspace menu"
I went to go empty my backpack by right-clicking on the backpack and selecting the "Empty Backpack" menu item... except that it doesn't live there. The "Empty Backpack" menu item lives in the workspace menu. I think we should move the menu item to the backpack's menu. This may require updating the [backpack documentation](https://docs.google.com/document/d/14-VRxyUNDsYqzFplWHspThbkTQTL8gr0siAqPqYW

[2019-02-15 20:46] #1449 closed

[2019-02-15 20:46] #1450 closed

[2019-02-15 20:46] #1452 closed

[2019-02-15 20:46] #1459 closed

[2019-02-16 20:16] ZhengCornell commented on #1567
I can take a look at this issue.

[2019-02-18 17:05] ramiAbdou commented on #1553
@ewpatton What exactly did you mean by:
"Buttons with screenshots/graphics to indicate what is accomplished in the project, rather than text, might also be preferred for internationalization purposes."

[2019-02-18 17:09] xueyuanw commented on #1566
I can take a look at this issue!

[2019-02-18 18:04] kuan9611 commented on #1347
@ewpatton maybe I'm missing something, but it seems none of the other list operations have a constant defined in [generators/yail.js](https://github.com/mit-cml/appinventor-sources/blob/master/appinventor/blocklyeditor/src/generators/yail.js)?

[2019-02-18 18:43] ewpatton commented on #1347
@kuan9611 In that case, you can provide the string directly to match the existing code.

[2019-02-18 19:02] ewpatton commented on #922
@mit-cml/cornell-cs-5152-students Here's another opportunity to improve the user experience on the Android side.

[2019-02-18 20:57] Amerkashi commented on #922
@farxinu So, the selection isn't really changed if already on element 1. Android community suggests adding a <Please Select> item as 1st entry.
@ewpatton I think the link you provided is private repo

[2019-02-19 01:53] ewpatton opened #1571 "Make preview size listbox invisible when Sizing = Fixed"
Per recommendation by @jisqyv, it would be more intuitive if the preview dropdown didn't appear when Sizing is Fixed.

[2019-02-19 01:54] ewpatton commented on #1571
@ZhengCornell I assigned this to you since it is based on your PR.

[2019-02-19 02:43] ewpatton commented on #1571
Also somewhat related to #1024

[2019-02-19 03:58] ramiAbdou commented on #1553
@ewpatton @josmas Just created a mockup of a welcome screen. Let me know what comments you guys might have.

![image](https://user-images.githubusercontent.com/38056800/52989272-a5d62600-33d0-11e9-8f38-c757dda25120.png)

[2019-02-19 04:12] ewpatton commented on #1553
I think this is a good start. A couple things that jump out at me: We should make sure that the Codi logo is integrated in some way. I also think that the last line should be "Or click here to start a new project"

cc @jsheldonmit @kdclang @stezelMIT for their thoughts

[2019-02-19 04:19] ewpatton commented on #922
@Amerkashi If you were referencing my most recent comment, that was a group mention to tag the students who are working with us from Cornell.

I'm not sure that the proposed solution 100% solves the problem though because the issue is not just about moving from the first element but also subsequent events if you repick the selection. What we need to look into is if we can determine when the spinne

[2019-02-19 04:21] ewpatton commented on #1024
Recently we added a `alwaysSend` field to `@DesignerProperty` to cope with different defaults in earlier versions of the companion. If someone tackles this, that field should be set to `true` for this property until such time as all allowed companion versions have responsive as the default.

[2019-02-19 16:25] ramiAbdou commented on #1553
Okay sounds, let me know what other changes need to be made so I can get started creating the HTML.

![image](https://user-images.githubusercontent.com/38056800/53030487-e10c3f80-3438-11e9-9dec-8dc4c6484674.png)

[2019-02-20 16:57] SusanRatiLane opened #1573 "Possible bug with table arrangements and button text"
Report in the forum that bears some investigation: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/mitappinventortest/p90GeTURVPg/-mCtbiHJAAAJ

[2019-02-20 21:49] PeterMathijssen commented on #1573
I think i found what is causing it. It is the automatic setting in the table arrangement. If it is set to pixels or percentages then it works. only when set to automatic the text disappears when returning from the listpicker.

[2019-02-21 06:53] PeterMathijssen commented on #1553
According to the styleguide for the use of the logo you have top put a white hexagon around codi when using on a colored background.

![selection_999 339](https://user-images.githubusercontent.com/32273650/53149342-b263a580-35ad-11e9-87bc-831922909456.png)

[2019-02-21 13:38] quitte74 commented on #1293
Any update here? I'm facing the exact same issue.

[2019-02-21 14:33] SusanRatiLane commented on #1293
We don't have a resolution at this time. Updates to the Twitter API have broken authorization on our Twitter component, but we don't have an alternate means to authorize right now.

[2019-02-21 17:11] ewpatton commented on #1210
Closed via #1551

[2019-02-21 17:11] #1210 closed

[2019-02-22 06:38] PeterMathijssen commented on #1545
Is there something i can do to help you with this issue?

[2019-02-22 12:25] jsheldonmit commented on #1553
Good call, Peter.

This looks great.

Can we code it so that the “Start a new project” link pops up the name the project alert directly, bypassing the start new project button in the my projects screen?

Similarly, I’ve lost track of which tutorials we have sidebar versions of, but it would be ideal if we could make the tutorial links go to a starter project with assets loaded & the tutorial in th

[2019-02-22 12:42] ewpatton commented on #1553
That was the plan. I just wanted some input from the other team members on the design before Rami starts implementing the technical changes. It sounds like we are ready to move forward on this.

Rami: I will send you the PNG for the logo with hexagon as well as the HTML color codes for styling.

[2019-02-22 13:13] halatmit commented on #1545
That would very helpful.
Evan, Jeff, is the some easy way to do this?

== Hal

Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Fri, Feb 22, 2019 at 1:39 AM Peter Mathijssen <notifications@github.com>
wrote:

[2019-02-22 14:18] ewpatton commented on #1545
Based on a quick grep at the command line, it looks like the following files are the ones that need to be modified:

[code]

We have a module already enabled in Drupal to handle redirecting from other URL paths. What I haven't tested yet is whether we can redirect from URL aliases that start with `node/`. For starters though, it might make sense to build a spreadsheet mapping the above URLs to the

[2019-02-22 15:10] PeterMathijssen commented on #1545
Ok, i can start with making the spreadsheet for this.

[2019-02-22 17:00] PeterMathijssen commented on #1545
https://docs.google.com/spreadsheets/d/18Dt29deR3ediJUlSznkm5snSqViGbIBA0dT_7O0AdPw/edit?usp=sharing

Made a spreadsheet with all the pages that should be linked.

[2019-02-22 20:36] PeterMathijssen commented on #724
Found this issue from a long time ago. Maybe use the images from openclipart. https://openclipart.org/developers
The images are all in the public domain.

For instance Libre Office uses them also in their software.

[2019-02-22 21:46] kuan9611 commented on #1345
@ewpatton Thinking of picking up this one next. I'm guessing `videoView.stopPlayback()` is the method to call? The [VideoView documentation](https://developer.android.com/reference/android/widget/VideoView) doesn't really have anything on it.
There's also already a `FULLSCREEN_VIDEO_ACTION_STOP` constant in [FullScreenVideoUtil.java](https://github.com/mit-cml/appinventor-sources/blob/master/appin

[2019-02-22 22:24] #1567 closed

[2019-02-22 22:47] ewpatton opened #1577 "Implement a join-with-separator block"
Many languages have a join function that can join elements of an array using a given separator. For example, in Javascript:

[code]

will be true. Right now, one needs to implement their own version of this function in App Inventor because the join operator we provide only joins one or more given string values provided via the block mutator. It would be convenient to have a block that provides sim

[2019-02-22 23:49] halatmit commented on #1577
If you make this block, look at how test split is done with a dropdown that
allows people to have split and splitAtFirst as variants of the same basic
block.
so join and join-with-separator could be similar variants
== Hal

Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Fri, Feb 22, 2019 at 5:47 PM Evan W. Patton <notifications@github.com>
wrote:

[2019-02-23 00:05] ewpatton commented on #1577
@halatmit My concern with that approach (although I can’t verify at the moment on mobile) is that the split block variants have the same arity, argument types, and return type. The join and join-with-separator blocks would have different arity and input types, so switching between the two would immediately need to disconnect any connected blocks.

Sent from my iPhone

[2019-02-23 14:05] halatmit commented on #1577
I realze that the arity would change, but maybe there's a way to make it
work - but I haven't tried doing that.   another idea is to alway include
the separator argument and default it to empty.

== Hal

Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Fri, Feb 22, 2019 at 7:05 PM Evan W. Patton <notifications@github.com>
wrote:

[2019-02-23 20:32] PeterMathijssen opened #1578 "Documentation system"
The documentation system off App Inventor is rather primitive in my view. Has there ever been any discussion about using another system? Maybe like MKdocs, ReadTheDocs or Docusaurus. Everything could probably be hosted on Github pages.

Another idea i have is that there should be a way for other users to translate the docs that are made by the development team into other languages. Not only in tex

[2019-02-24 19:00] ramiAbdou commented on #1553
@ewpatton sounds great, looking forward to receiving that!

[2019-02-24 19:00] ZhengCornell commented on #1272
I can take a look at this issue.

[2019-02-26 21:20] #1004 closed

[2019-02-26 21:20] #1084 closed

[2019-02-26 21:20] #1361 closed

[2019-02-26 21:34] #1571 closed

[2019-02-27 09:05] jerry73204 opened #1580 "Considering automatic dependency resolution with Apache Ivy?"
Hi team,
It seems the project so far manages jar dependencies in manual way. That is, adding any new deps requires you to download, unpack and git commit from scratch. Would you consider introducing automatic dep resolution? For existing ant solution, I would suggest Apache Ivy.

Loading Ivy is as easy as copying the snippet from this [site](http://ant.apache.org/ivy/history/2.3.0/install.html). T

[2019-02-27 13:52] jerry73204 commented on #1580
Here is [example](https://github.com/jerry73204/appinventor-sources/tree/ivy-integration) on my fork.

[2019-02-27 15:15] josmas commented on #1580
I personally like the idea of not having to clone hundreds of MBs of jar files, although the are certain things that would have to stay as jars if they are not published in any public repos.

At the same time, the real deal here would be to move to gradle instead of patching up ant. Don't know what others think.

[2019-02-27 17:12] yashk2000 opened #1581 "Adding Hindi translation."
There are translations for many languages. I would like to add Hindi translations.

[2019-02-27 17:13] yashk2000 commented on #1581
@ewpatton should I proceed with adding Hindi translations?

[2019-02-27 19:12] ewpatton commented on #1581
@SusanRatiLane Please advise @yashk2000 what needs to be done to integrate Hindi translations.

[2019-02-28 06:10] yashk2000 commented on #1581
Thanks for the prompt response @ewpatton. @SusanRatiLane could you please guide me on how to proceed with adding Hindi translations?

[2019-02-28 07:44] yashk2000 commented on #1581
I am planning to `extended property` of Hindi in this file. `appinventor/appengine/src/com/google/appinventor/YaClient.gwt.xml`.
Then adding Hindi in `appinventor/appengine/src/com/google/appinventor/client/languages.json` and `appinventor/blocklyeditor/ploverConfig.js`. To make Hindi appear in the language switch, I will also make changes in `appinventor/blocklyeditor/src/language_switch.js`. The

[2019-02-28 17:13] ewpatton commented on #1272
Ok @ZhengCornell. I think that @SusanRatiLane has already done this but a second look just to confirm everything is worthwhile. If everything checks out, please let me know and we can close this issue.

[2019-02-28 17:20] ewpatton commented on #1581
@yashk2000 You have the right idea. If you want to get started just editing the files, first build App Inventor following the instructions in the readme. This will produce a directory called extras under appengine/build, and this will contain an English properties file for OdeMessages to serve as a starting point for the OdeMessages file. There's already an English translation under blocklyeditor

[2019-02-28 17:24] ewpatton commented on #1580
I would second a move to Gradle over Ivy, especially because I would like to see the components library grow into a proper Android Archive. However, we also like to follow the airplane test, which to paraphrase @jisqyv, means that you should be able to build the system after checking out the sources without needing an Internet connection.

[2019-02-28 17:28] SusanRatiLane commented on #1581
As an alternative, we have a translation system using Google Translator Toolkit. Provided a Google account address, I can add you to that. If you prefer to submit the translation directly to Github, that is also fine. The result is the same -- Google Translator Toolkit is simply an attempt to simplify things for translators.

[2019-02-28 18:25] ewpatton commented on #1345
@kuan9611 That sounds reasonable to me. While you are in there, we should simplify the logic at [line 106](https://github.com/mit-cml/appinventor-sources/blob/4bfa0e3546e82e7aa429f069e35c627fe3b73454/appinventor/components/src/com/google/appinventor/components/runtime/util/FullScreenVideoUtil.java#L106), as we target Eclair and higher.

[2019-02-28 19:08] yashk2000 commented on #1581
@ewpatton I have built the project and found the files which have to be changed. Thanks a lot for the help.

@SusanRatiLane I would like to try using the Google Translator Toolkit and make the translations using that. My Google account address is `yashsja@gmail.com`

[2019-03-01 01:42] jisqyv commented on #1580
@jerry73204 @ewpatton Not only do I not want to require an internet connection, but I also want it to be the case that you can checkout a old version of the source and build it. One of the issues I have seen with other projects is that over time you loose the ability to build older versions because the maintainers of the dependencies remove old versions, so you cannot reliably download them. That

[2019-03-01 15:53] #1562 closed

[2019-03-01 16:12] ewpatton commented on #1580
When I was at RPI I ran a maven cache so that any dependencies were cached "locally". We could run a similar service at MIT to cache any dependencies and do backups to GitHub, AWS, etc. to make sure we always have a copy around. This would give us the benefit of being able to automatically resolve dependencies while making sure we can keep a copy around for historical reasons.

[2019-03-01 16:41] ZhengCornell commented on #1272
I think it works well on my side.

[2019-03-01 16:45] ZhengCornell commented on #923
I can take a look at this issue

[2019-03-01 16:51] ewpatton commented on #1272
@ZhengCornell Sounds good. I will consider this issue closed.

[2019-03-01 16:51] #1272 closed

[2019-03-01 16:52] ewpatton commented on #923
@ZhengCornell I have assigned it to you. Do you have enough information to get started?

[2019-03-01 17:02] ZhengCornell commented on #923
Not much, do you have more detailed information or documentation that I can read?

[2019-03-01 17:31] ewpatton commented on #923
Not much in the way of documentation, but here's a general flow of what happens and where the bug occurs:

1. In AndroidViewComponent.java (components module), the `Width` and `Height` setters will make a call to `registerPercentLength` on `Form` if the width/height indicates a percent. This is used so that if the screen changes orientation, the width/height can be recomputed in response to the di

[2019-03-02 20:07] ewpatton opened #1583 "Refine "Sort Blocks by Category" operation"
The "Sort Blocks by Category" menu item doesn't really do what its name implies. Most blocks are sorted by category, yes, except for procedure and component blocks, which they are sorted by name, and except for any-component blocks, which are all "Component" for the purposes of sorting.

I propose that we refine the sorting algorithm to do the following:

1. Global defs first, lexicographically so

[2019-03-02 21:10] halatmit commented on #1583
+1

== Hal

Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Sat, Mar 2, 2019 at 3:08 PM Evan W. Patton <notifications@github.com>
wrote:

[2019-03-03 21:12] lightingft commented on #1577
I would like to help out on this issue!

I believe that choosing the option proposed by @ewpatton would be more suitable for implementing this block, and as mentioned above, setting the separator to the "" could be the default, which would act as joining multiple strings together (except the types would not necessarily be text)

Before working on the issue (if, of course, it's still available to w

[2019-03-04 03:09] kuan9611 commented on #1345
@ewpatton Actually I've probably been over complicating things. According to [this post](https://stackoverflow.com/questions/22744692/how-resume-playback-after-stopplayback-android), `stopPlayback()` will release the current media player instance, which doesn't seem like what we want. If the intended behavior is simply to rewind video to beginning, maybe it's best to simply call `Pause()` and `See

[2019-03-04 13:23] ewpatton opened #1584 "Use keydown/keyup in typeblocking for non-printable keys"
Starting in Firefox 65 (and presumably in Chrome somewhat soon), non-printable characters (e.g., arrow keys, ESC) won't be reported via the keypress event. This breaks typeblocking. We should switch to using keydown or keyup to handle these. [Relevant Firefox issue](https://www.fxsitecompat.com/en-CA/docs/2018/non-printable-keys-no-longer-fire-keypress-event/).

Some experiments to run:

1. How di

[2019-03-04 13:24] ewpatton commented on #1584
On second thought, most of the typeblocking functionality is provided by the Google Closure Library's autocomplete widget. It might just be a matter of upgrading to the latest version of the closure compiler (which will also need some testing).

[2019-03-04 20:35] ewpatton commented on #1577
For this block, my vision was for it to take two arguments, the separator and the list, making it semantically equivalent to the JavaScript join function as I presented it above. The current join block would then be equivalent to `join-with-string(separator: "", list: make-a-list(...))`

[2019-03-04 20:56] lightingft commented on #1577
@ewpatton So if I understood this correctly, the block should look something like this:

![image](https://user-images.githubusercontent.com/34982762/53762182-b5249b80-3ec7-11e9-98ca-0bbabaa397a6.png)

And the result of this should be the text object: '1-2-5-9'

Is that correct? In which case, in my eyes, I believe this would be the suitable way to proceed with this idea. I would love to work furth

[2019-03-04 21:52] ewpatton opened #1586 "CSS broken on blocks reference pages"
[For Example](http://ai2.appinventor.mit.edu/reference/blocks/). We should replicate all of the CSS resources on ai2. This worked when we deployed it, but since every static run of the website changes the CSS file names, the URLs no longer match up. Rather than rely on the resources hosted on GitHub, we should just include them in the ai2 sources.

[2019-03-04 21:52] ewpatton commented on #1586
cc @SusanRatiLane

[2019-03-05 00:32] ewpatton commented on #1577
@lightingft Yes this matches what I have in my head. If you want to implement this one, it's yours.

[2019-03-05 00:38] lightingft commented on #1577
@ewpatton I would definitely like to implement this block. Feel free to assign me to the issue!

[2019-03-05 00:46] SusanRatiLane commented on #1586
We're talking about replicating the same CSS file in multiple places? Or changing the source of truth? Is there a way to place the same file in multiple places in the staticify step to keep from having to make a change in two places?

[2019-03-05 01:15] halatmit commented on #1577
+1

== Hal

Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Mon, Mar 4, 2019 at 3:36 PM Evan W. Patton <notifications@github.com>
wrote:

[2019-03-05 01:26] ewpatton commented on #1586
Given that the component reference pages are fine, I think we might be able to get away with updating the script/style tags in the block reference pages to point to the same locations as the component reference pages.

[2019-03-05 01:27] ewpatton commented on #1577
@lightingft I invited you to join our external collaborators group. Once you do so I can assign you the issue.

[2019-03-05 21:24] ewpatton commented on #1522
Fixed via 516cd43

[2019-03-05 21:24] #1522 closed

[2019-03-05 21:26] ewpatton commented on #1566
Closed via 545bd08

[2019-03-05 21:26] #1566 closed

[2019-03-05 21:27] ewpatton commented on #997
@hsun1316 Sorry that I missed your comment earlier. I've assigned you the issue.

[2019-03-06 18:52] AwaiisLaTif commented on #1488
You can use Android Navigation Drawer for developing a sidebar. As I understood from above, you can use the Android Navigation Drawer on multiple screens and customize its design on each screen. It is an easy and good option for this one. much professional use this for the sidebar.

[2019-03-06 21:43] ewpatton opened #1591 "ShowListsAsJson changes Do It values"
Create the blocks `join("foo", "bar")` in a blank project and run "Do It". You will get back `foobar` as the value. Then change the ShowListsAsJson property to True on Screen1. Run "Do It" again and the value will be `"foobar"`. This is just a presentation issue as calling `length()` on the output will yield 6 in both cases.

[2019-03-07 11:47] jerry73204 opened #1592 "`ObjectifyStorageIo.getUser()` has weird behavior on correcting user's email"
The `ObjectifyStorageIo` class queries user in two ways: `getUser(userId, nullableEmail)` and `getUserFromEmail(nonNullEmail)`. It seems they assume users are associated with unique email because `getUserFromEmail()` never checks duplicated results.

The implementation `getUser()` is a bit complex. It attempt to hit on userId at first. If such user is found but results in different email, it [corr

[2019-03-07 12:36] jerry73204 commented on #1592
This only place calling `getUser(userId, email)` is [google login page](https://github.com/mit-cml/appinventor-sources/blob/66b2a13ad0e5676bd9e9c4573484a57fa0525415/appinventor/appengine/src/com/google/appinventor/server/LoginServlet.java#L121). It queries by both userId given by App Engine's user service and email. Another source of users is local [/setpw](https://github.com/mit-cml/appinventor-s

[2019-03-07 18:48] ewpatton commented on #1592
This would be a problem except for the following:

1. Google IDs are not UUIDs. Therefore, there will never be a collision (unless Google decides to change to using UUIDs, which would have a whole host of other issues).
2. We only ever enable Google authentication in production. Local login is only used for development. Therefore only one of the code paths will ever be followed.
3. Unless Google c

[2019-03-07 21:29] GOTFire commented on #1488
Yes but i vote for layout option because it is more  customizable.We can desing every think.Same as layout

[2019-03-08 09:08] jerry73204 commented on #1580
My point is that dependencies are not managed. We would run the risk of duplicated and conflicting dependencies by manual means. For example, A depends on B == 2.0, while C depends on B == 3.0. Including both breaks the satisfiability. That may not be easily discovered.
Besides @ewpatton points out, we can further cache jars in repo and commit them. That would solve the internet connection problem

[2019-03-08 09:26] PeterMathijssen commented on #1586
I did a simple copy and paste
https://github.com/PeterMathijssen/appinventor-sources/commit/3311057f45fe521a94211acdc2f260a4d5d52225#diff-040c74093cc5d378e65af36c94691bce

And my testdocument looks like this now.
![selection_999 369](https://user-images.githubusercontent.com/32273650/54019889-a7536c80-418c-11e9-88d0-00aba0aea46b.png)

[2019-03-08 09:47] jerry73204 commented on #1592
Even with production case, do you implicitly assume users are uniquely determined by emails (without explicit constraint)? I looked into the google login code. It queries the user and potentially [discard](https://github.com/mit-cml/appinventor-sources/blob/66b2a13ad0e5676bd9e9c4573484a57fa0525415/appinventor/appengine/src/com/google/appinventor/server/LoginServlet.java#L125) the original userId.

[2019-03-08 11:38] lightingft commented on #1058
@ewpatton I would like to handle this issue.

Also, this seems to be the case for the Width & Height blocks. Should documentation be added for these also?

[2019-03-08 14:31] ewpatton commented on #1058
@lightingft It's yours.

[2019-03-08 14:44] jisqyv commented on #1592
@jerry73204 @ewpatton Once upon a time this code was very clean. Users were *always* looked up by Google Provided UserId. Google User Ids are long integers, which do not collide with UUIDs, but are unique. However they are only unique to your site. I.e., If you run an instance of App Inventor and look at the Google assigned ID when you login, then setup a second instance (different App Engine App)

[2019-03-08 15:46] yashk2000 commented on #1581
@ewpatton I am a bit busy right now. Can I work on these translations later?

[2019-03-08 15:53] SusanRatiLane commented on #1581
Sure. Work as it as you have effort to spare.

Could you confirm that you got the invitation to Google Translator Toolkit?

[2019-03-08 15:56] yashk2000 commented on #1581
Yes. I got the invitation to the Google Translator Toolkit. I even started with the translations. The Google Translator Toolkit makes things way easier than they otherwise would be.

Thanks for allowing me to work on it later. I will complete the translations as soon as possible when I have time.

[2019-03-08 16:23] ewpatton commented on #1586
@SusanRatiLane To capture our conversation, we'll move the `<style>` element from the maps documentation page into a new css file, and add all of the necessary `<link>` elements to replace the `<style>` elements in the blocks pages (similar to what @PeterMathijssen has done).

[2019-03-08 17:09] #1448 closed

[2019-03-08 20:07] ewpatton commented on #708
This was fixed, but now is not. I need to track down why this is broken again.

[2019-03-08 20:09] ewpatton commented on #708
See the screenshot on [this post](https://groups.google.com/d/msg/mitappinventortest/wy_5l5sOWr4/WbkT4xKiBgAJ) as an example.

[2019-03-09 01:04] lightingft commented on #1371
Since this was a matter of changing two lines, I have made a pull request as a quick fix for this issue: #1596

[2019-03-09 01:27] ledeni56 commented on #1235
I will start working on this issue.

[2019-03-09 07:51] mayank97 commented on #1591
Hi Evan.
I want to apply for GSoC, 19 with MIT App Inventor and as a part of community introduction phase, I would like to take this up.

[2019-03-09 08:12] ewpatton commented on #1591
@mayank97 Sounds good to me, but I think we need to decide what the best thing to do here is. Personally, I think it's better to have the quoted (JSON) value because it also would allow us to replace the use of `*empty-string*` with `""`, which is closer to the blocks representation. It also differentiates the string "0" from the number 0, which in the Scheme printing are identical. Note that the

[2019-03-09 08:14] ewpatton commented on #1235
@ledeni56 Thanks for taking a look. I think I've already spelled out most of the steps you'll need to take to finish this task, but let me know if you have any questions.

[2019-03-09 09:05] ankritisachan commented on #1013
Hi ! Is this issue open to work ? I would like to work on it.

[2019-03-09 09:29] ankritisachan commented on #1520
Hi. I want to work on this bug. Please provide me some background reading and how can I reproduce this ?

[2019-03-09 17:27] ledeni56 commented on #1235
@ewpatton Can you please check out my commit:
https://github.com/ledeni56/appinventor-sources/commit/a00b63f5d1508bb04a11b1b124464b39e0672070
I'm still trying to understand the code and how it all works.
What else do I need to add to have the event appear on the Web application as a block in WebViewer?

[2019-03-09 21:06] xueyuanw commented on #1583
I would like to take a look at this issue!

[2019-03-09 21:09] ewpatton commented on #1583
@xueyuanw It’s all yours.

[2019-03-09 21:22] xueyuanw commented on #1583
May I know what files I should look into? Thanks!

[2019-03-10 03:58] ewpatton commented on #1583
@xueyuanw The logic for sorting by category is defined on line 627 of blocklyeditor/src/workspace_svg.js

[2019-03-10 06:56] ewpatton commented on #1520
@ankritisachan Technically this isn't a bug with App Inventor but rather downstream sources. We generate a request code in the range [0,100000), which works fine for our purposes because of the fact that we extend the Activity class provided by the Android frameworks. However, if one switches to using FragmentActivity as the superclass, it restricts the range to [0,65535]. What I proposed in my ea

[2019-03-10 11:24] ankritisachan commented on #1520
Okay, so I understand what needs to be done here. Please correct me if I am wrong.
1) I just need to add a line in Form.java -
public static final int MAX_PERMISSION_NONCE = 100000  and
replace '100000' of line no. 2520 to MAX_PERMISSION_NONCE.
Am I correct?
2) I read about the background of Fragment class vs FragmentActivity class and when they are used.
I wanted to know if AI is not using Fragme

[2019-03-10 19:20] rallen911 opened #1599 "Project Merge Tool - "Invalid File Name" error is not helpful"
I have two projects that I was trying to merge, and I got to the point where I was prompted for a file name for the merged project, and I got a "Invalid file name" error pop up.  The error should be more descriptive, so that I can try and rectify the problem.

I don't know if it was the file name I was trying to save to, "test.aia", or if one of the file names in the project was causing a problem

[2019-03-10 22:35] MinaMourice commented on #1172
@ewpatton I want to try to implement this as a GSoC challenge , How can i start ?

[2019-03-11 16:54] ewpatton commented on #1172
@MinaMourice I would start by sketching out a quick design document. I expect that we will want comments to be accessible through the project list, but we don't provide any editing capabilities in that interface, so either we have to create a new interface or we need to add something in the project designer view that would allow setting the comment. For example, we might want to add a textarea bel

[2019-03-11 16:55] ewpatton commented on #1599
@rallen911 Can you email me the two projects in question? It will help us narrow down the problem.

[2019-03-11 17:07] ewpatton opened #1602 "Add help sidebar"
Similar to how we have the tutorial panel sidebar (leading edge), it would be nice to have a help sidebar (trailing edge) that can show the help documentation rather than launching a new tab. If we do this, then we should have a button to also open it in a tab in case people want to split screen the two windows. Note that we would need to be able to open this from both the designer and the blocks

[2019-03-11 17:52] utkarshg6 commented on #1201
I am a student of GSoC and I would like to work on this issue. Can anyone tell me which files to look into for making changes?

[2019-03-11 23:27] Ujjwal0501 opened #1603 "'Palette' not shows on deleting screen in 'Blocks'"
When there is more than one screen available, and we close one screen from the 'Blocks' section, then it takes us to the 'Designer' section, but then the palette does not show up until you go back to 'Blocks' and then come back to 'Designer' section.

[2019-03-12 08:20] NmdOfficial commented on #1201
The file where all is done is the MockForm file

[2019-03-12 09:02] ankritisachan commented on #1520
@ewpatton Need your views on the above comment. Please have a look. Thanks.

[2019-03-12 10:00] ColinTree commented on #1325
It is possible with #1565, but I'm not sure what to catch... original Throwables (with name)?

[2019-03-12 10:51] RobertoNegro opened #1604 "Error in "ant extensions" after commit 516cd43"
After commit [516cd43](https://github.com/mit-cml/appinventor-sources/commit/516cd43b023f1d57ae2111449aef17d97b4994fe) when I try to launch the command ant extensions it fails and in terminal I get:

BuildServer:
    [javac] Compiling 5 source files to /path/appinventor/buildserver/build/classes/BuildServer
    [javac] warning: [options] bootstrap class path not set in conjunction with -source 1.7

[2019-03-12 10:52] RobertoNegro commented on #1604
Reverting the changes of that commit in my local fork resolve the issue.

[2019-03-12 13:15] ewpatton commented on #1604
So this is a somewhat subtle bug in the build system. If I build the full system and then run ant extensions, it works correctly, but if I ant clean and then run ant extensions, it fails. The problem is that in 516cd43 we take advantage of the fact that building the website comes before building the buildserver, and so CommonConstants.jar is available at that point in the build process. When build

[2019-03-12 13:23] ewpatton commented on #1520
@ankritisachan

1. Yes, that's correct.
2. There is no way to do this in App Inventor. App Inventor is open source, and others (like @NmdOfficial) have added new functionality and run their own copies. I consider these distributions, similar to how there other distributions of Linux that mix and match new functionality based on user needs (e.g., CentOS, Ubuntu).

While technically it isn't somethi

[2019-03-12 13:53] ankritisachan commented on #1520
@ewpatton Okay, Thanks a lot for clarifying my doubts. I will submit a PR.

[2019-03-12 14:54] ewpatton commented on #1604
@RobertoNegro You can try PR #1605 to see if it resolves your issue.

[2019-03-12 17:04] ewpatton commented on #1583
Another subtlety here that we should consider is when ordering by component name, if the component names end with numerals, we might want to sort those numerical rather than lexicographically, e.g., Button10 should sort after Buttons 2-9, not before.

[2019-03-12 17:09] ewpatton commented on #1603
@Ujjwal0501 Thanks for the report. I was able to confirm this behavior. Additionally, it seems as though the components/media panels end up below the blocks panel, which is also wrong.

[2019-03-12 17:10] #1604 closed

[2019-03-12 17:28] jisqyv commented on #1199
Not a bug to fix

[2019-03-12 17:28] #1199 closed

[2019-03-12 19:38] Ujjwal0501 commented on #1603
I want to look into the issue. But since I'm unfamiliar with the codebase, I will need some guidance to proceed to correct the problem.

[2019-03-12 20:02] ewpatton commented on #1603
@Ujjwal0501 The discrepancy comes from how the loadDesigner and unloadBlocksEditor methods interact in YaFormEditor and YaBlocksEditor, respectively. I believe that the issue reduces down to the fact that the unload method shows the palette panel and assets panel, but if the screen has been deleted then technically it won't be available and onHide (which calls unloadBlocksEditor) won't trigger. At

[2019-03-12 21:12] MinaMourice commented on #1172
@ewpatton
[Design Report](https://docs.google.com/document/d/1YQYJ5nbjcLtFYmpAAIsWJWOMqjT6X59IpCQ4hwswlTg/edit?usp=sharing)

[2019-03-13 13:04] ewpatton opened #1606 "Add OpenDyslexic font as alternative user setting"
[From the forum](https://groups.google.com/d/msg/mitappinventortest/KFkF0ZfUI6g/rhRAIFUJBQAJ): Adding the ability to use a font such as OpenDyslexic to improve the readability of the web interface would benefit app inventors. I don't think we want to make it the default, but having an option to switch it on (and store the state in UserSettings) would make the platform more accessible.

[2019-03-13 13:07] ewpatton commented on #1606
This would also benefit from #1593, since it moves the loading of UserSettings earlier in the app initialization, which means we can also apply a stylesheet with the font at that time.

[2019-03-13 19:25] lightingft commented on #211
I can look into this issue if it is still relevant.

[2019-03-13 20:11] ankritisachan commented on #1013
@ewpatton Can I work on this issue?

[2019-03-14 07:56] utkarshg6 commented on #1201
I think for the screen with this aspect ratio usually have the Navigation bar at the right side.

[2019-03-14 14:36] utkarshg6 commented on #1201
Hey, @NmdOfficial , to make changes I think we need to create an if condition in `class NavigationBar ` that checks `if ( PROPERTY_NAME_SCREEN_ORIENTATION == "landscape")` and then make changes in that if condition. Am I thinking correct?

[2019-03-15 14:00] Ujjwal0501 commented on #1603
@ewpatton I added the line to call _selectedFileEditor.onHide()_ in ProjectEditor.closeFileEditors(String[]) and the __issue was resolved__.

I'll do the required code cleaning. :)
Thanks

[2019-03-15 14:45] ewpatton commented on #1603
@Ujjwal0501 Great! Thanks for testing it and I look forward to a PR.

[2019-03-15 17:06] choichifai2005 commented on #1013
@ankritisachan Thank you for your interest! I have wait for someone to implement this for more than one year! now just wait MIT to reply you.

[2019-03-15 18:32] ewpatton commented on #1013
@ankritisachan Yes, it's available if you want to work on it. It will require some significant work though because the current implementation uses Intents to launch a speech recognizer activity outside App Inventor. The component will need to be rewritten to use the [SpeechRecognizer](https://developer.android.com/reference/android/speech/SpeechRecognizer) interface. Also, the SpeechRecognizer int

[2019-03-16 14:02] ewpatton commented on #211
@lightingft Okay. You might want to start by comparing the set of properties on Button with Spinner to see what's missing first and include it in a comment here before starting implementation just so we can decide what if any properties shouldn't be implemented. Also, when implementing, you'll want to test any properties that change the appearance on all 4 themes.

[2019-03-16 14:07] ewpatton commented on #1201
@utkarshg6 That sounds like a good start. One problem is that currently the navbar is implemented as a single horizontal image. What we should consider doing instead is having 3 images representing each of the different buttons, and then we can use CSS rules to position them horizontally or vertically.

[2019-03-16 14:09] ewpatton commented on #1201
If we use CSS, we can apply the appropriate class to the navigation bar in [`setScreenOrientationProperty(String)`](https://github.com/mit-cml/appinventor-sources/blob/5389d42648b9b11ac94be3f5c6cd8e8c228c032e/appinventor/appengine/src/com/google/appinventor/client/editor/simple/components/MockForm.java#L517).

[2019-03-16 14:25] ewpatton commented on #1603
@Ujjwal0501 You can open a PR with the fix and we can review it incrementally as you make improvements. Once complete, it will get squashed down into a single change.

[2019-03-16 15:15] utkarshg6 commented on #1201
@ewpatton I think instead of using three images of diffrent buttons we can use these horizontal and vertical images of  newer navigation bar by Google. Does this looks like a good idea?

### Vertical
![Group 295](https://user-images.githubusercontent.com/32920299/54477249-1fc0ca00-482c-11e9-87e6-264e3435831c.png)

### Horizontal
![navbar](https://user-images.githubusercontent.com/32920299/54477155

[2019-03-16 19:19] lightingft commented on #211
@ewpatton
The following properties are in Button but not in Spinner:
* Enabled
* FontBold, FontItalic, FontSize, FontTypeface
* Height
* Image
* Shape
* ShowFeedback
* Text
* TextAlignment
* TextColor

Also, then there's the mentioned BeforeSelecting event & handler, which can be implemented.

Are there any of these that do not need to implemented?

[2019-03-17 10:33] tasos12 commented on #1128
Hello Evan
I would like to apply for GSoC 2019 with MIT App Inventor and help resolving this issue as part of the community introduction phase.

[2019-03-17 13:25] kukudemajia commented on #1031
This error still exists until now.

[2019-03-18 02:47] Ujjwal0501 opened #1611 "Unexpected behaviour on first reload after language change"
When the language preference is changed, (say from English to Spanish or vice-versa), reload happens, and it takes us to 'My Projects' section. Now when you start a new project, and you already have some older projects, instead of just showing the 'New Project' dialogue it automatically opens up the last edited project. Some welcome dialogues also appear on top of the existing 'New Project' dialog

[2019-03-18 16:49] 27vinayvyas commented on #1606
I wanted to give it a try, know how to do in android studio.
Can u please show me where to make the required changes.
I m new in here.

[2019-03-18 17:03] 27vinayvyas commented on #1606
If i m not wrong,there must be a folder for fonts , and there the Open Dyslexic font is to be added but i cannot figure out where is that fonts folder

[2019-03-18 18:37] ewpatton opened #1613 "Implement a UI for evaluating with a local context"
An old issue ([281](https://github.com/mit-cml/appinventor-sources/issues/281)) continues to crop in the forum when people use Do It on a block of code that contains a lexical variable bound in an outer unevaluated scope. We should be able to detect this scenario and prompt the user to provide values for any variables used in the code that are defined in a scope (excepting globals) outside the blo

[2019-03-19 12:37] lightingft commented on #211
@ewpatton Currently I'm thinking of the following approach:
* Make Spinner extend ButtonBase instead of AndroidViewComponent
* Extend Spinner with ButtonBase events (I believe it's also useful to have GotFocus, LostFocus, TouchDown and TouchUp events on the Spinner as well)
* Make both Click() and LongClick() on the Spinner call the DisplayDropdown() method

And as a result, we have all the attrib

[2019-03-19 16:19] ankritisachan commented on #1013
@ewpatton I have been trying to understand android speech recognizer. I found that the intent based method creates an external dialog for speech recognition. Another method uses RecognitionListener interface implemented in the main class. I understood their basic implementation and use in an android app.
I need your help in clarification of a few things with your above comment.
SpeechRecognizerCon

[2019-03-19 18:15] ewpatton commented on #1013
@ankritisachan That's pretty close. The only thing is that I don't think we can stop the IntentBasedSpeechRecognizer once it starts (which is why we need to consider this approach to begin with). If you think it can be done, it would be a good experiment to try before refactoring to use the interface approach. Otherwise, it sounds like you understand what to do.

[2019-03-19 18:19] ewpatton commented on #1606
@27vinayvyas Fonts are located in `appengine/war/fonts/`.

The real challenge here is the design for how this is presented to the app developer. We've tried to keep discovery somewhat easy by putting most things in the designer view. But one might want to turn this feature on before they start a project, or even before they've created an account (in the case of code.appinventor.mit.edu). A simple

[2019-03-19 18:21] ewpatton commented on #1201
@utkarshg6 That sounds like a reasonable approach. The benefit of breaking into three smaller images would be the possibility of reducing the file size by reusing the three smaller pieces to compose the toolbar rather than storing two larger images. Given that they are PNG files, it might not make that much of a difference though.

[2019-03-19 18:22] lightingft commented on #211
@ewpatton In order to transfer most functionality from Button to Spinner (as well as the attributes), I propose the following solution:
* Split ButtonBase into two classes. This way, we reach more abstraction, and our newly made class can be reused for other components (either new or existing)
* Make Spinner extend the new class.
* Override click methods for Spinner accordingly
* As a result, Spin

[2019-03-19 18:49] ewpatton commented on #211
@lightingft It would be good to get an idea of what the class hierarchy looks like and where each property ends up in this refactoring. Take a look at how #1432 refactored Checkbox to handle the fact that Switch is very similar. Unfortunately, it's harder to cleanly approach this because ButtonBase and Spinner don't have a common ancestor except for View. Therefore, anything that is common to view

[2019-03-19 19:37] lightingft commented on #211
I would imagine something like this:

![AppInventorSpinnerUML](https://user-images.githubusercontent.com/34982762/54636023-c18f2380-4a85-11e9-9efa-89256c89fea2.png)

I've left out some data in the diagram that will not be touched from ButtonBase, AndroidViewComponent and Button.

I have separated the Text attributes between Spinner and Button, since they are different here. For the Spinner, each I

[2019-03-19 19:41] tasos12 commented on #1512
Hello guys as part of the introduction phase of GSoC 2019 i would like to help resolving this issue. I have both knowledge and access to Ev3 software and hardware. This is my first time contributing to the project so is it possible you can give me some guidelines and advices before I start researching this issue?

[2019-03-20 08:44] wangiv2 opened #1619 "EROFS Error in SoundRecorder Component"
Hello,

when i tried to use the SoundRecorder component, can not record sound in android devices, it popup "cannot start recording: *.amr:open failed:erofs(read-only file system)" error message. Anyone can help to advise how to fix it?

[2019-03-20 11:50] ankritisachan commented on #1013
@ewpatton I also tried to find some solution to stop IntentBasedSpeechRecognizer, but couldn't find any. So, considering the current state, I was thinking if we really need a SpeechRecognitionController interface for both the implementation of SpeechRecognizer. Intent-based do not have any start or stop method as such. Only service-based SpeechRecognizer will be able to justify start and stop meth

[2019-03-20 11:58] ewpatton commented on #1619
@wangiv2 Try adding a `Screen1.AskForPermission` block in `Screen1.Initialize` with the permission name `android.permission.WRITE_EXTERNAL_STORAGE` and see if you can start a recording afterward (you may be prompted for permission).

[2019-03-20 13:20] 27vinayvyas commented on #1606
I m having problem understanding how to do this
What does these two arguments in bold mean and what would be there value in this case??

fileItems.add(new DropDownItem(WIDGET_NAME_EXPORTPROJECT, **MESSAGES.exportProjectMenuItem()**,
        new **ExportProjectAction()**));

[2019-03-20 14:06] vagish123 commented on #1602
@ewpatton I'm interested in solving this issue. A few things I would request you to elucidate :
1) what is trailing and leading edge
2) I can find the tutorial option inside the help option(please find attached the photo of the same) which opens a new window on clicking it. As such I can't find any sidebar for tutorial panel. If there's anywhere else where there is tutorial option other than insid

[2019-03-20 14:54] jisqyv opened #1620 "Need to fix the case of joinwithseparator.PNG to lower case the png"
This file was added in ceb27bf

[2019-03-20 16:00] Ujjwal0501 commented on #1603
@ewpatton

I looked into the code. The way onshow/onhide are implemented, they call another load/unload functions which do all the clearing and visibility related operations.
What I can think of is remove the load/unload and perform all the operations in onshow/onhide functions itself.

What is your suggestion?

[2019-03-20 21:57] lightingft commented on #1371
#1596 Made mentioned changes.

[2019-03-20 23:20] lightingft commented on #211
Also, I believe that TextViewUtil isEnabled() and setEnabled() can be moved to the TouchComponent in the above diagram, since the superclass View in Android has all the methods used in the TextViewUtil. Or was there some sort of specific reason why it was put in TextViewUtil?

[2019-03-21 02:03] wangiv2 commented on #1619
Hi Ewpatton,

Thanks for your help. But after trying, still the same error popup, below is my setting in block, if there is any wrong? i can not find the android permission so just add as text value. Can you help to advise? Many thanks.

![image](https://user-images.githubusercontent.com/7232767/54729816-85141280-4bc0-11e9-9966-ed3d055cadb5.png)

[2019-03-21 17:02] lightingft commented on #211
On my local branch, I have pretty much restructured the code as in the diagram. However, there are a few things that raise questions to me:
* Should GetFocus be in Spinner? Spinners in Android seem to not gain focus unless explicitly specified by setFocusableInTouchMode() or by adding requestFocus() to some click method, therefore should this be included in the AppInventor Spinner?
* Should the He

[2019-03-22 06:28] ewpatton commented on #1436
So I took a look at this to better understand what we could do w.r.t. App Inventor. The ideal thing would be to represent our icon as a Android vector file and use that to generate the icon. However, that would make supplying icons from the users really hard since most would probably prefer to use a raster icon. Another approach is that we can provide an upsized icon and then generate mipmaps, whi

[2019-03-22 06:32] ewpatton commented on #1436
Using the aforementioned solution would also resolve #902

[2019-03-22 06:32] ewpatton commented on #1436
Note to self: tools/adt/idea/android/src/com/android/tools/idea/npw/assetstudio/LauncherIconGenerator.java

[2019-03-22 12:18] SusanRatiLane commented on #1436
I was going down the Android Studio solution, but in my tests it didn't work properly. I'd like to review with you. It's likely I missed a part of the build process.

[2019-03-22 14:36] ankritisachan commented on #1013
@ewpatton Please let me know your opinion.

[2019-03-22 16:42] #1620 closed

[2019-03-22 20:40] #1531 closed

[2019-03-22 21:07] ewpatton commented on #1512
@tasos12 You should read through the contributing section in the README.md file. For this project, make sure you branch from the `ucr` branch rather than `master`. You might also want to familiarize yourself with how some of the other Ev3 components work, such as [Ev3Motors](https://github.com/mit-cml/appinventor-sources/blob/master/appinventor/components/src/com/google/appinventor/components/runt

[2019-03-22 21:09] ewpatton commented on #1013
@ankritisachan We might consider other options in the future, such as embedding our own neural network or integrating with a service such as Amazon Alexa (on Kindle Fire tablets). I think we should just be consistent and have every option implement the interface. In some cases, like the intent based version, it will be a no-op, but that's okay because that's already what we have today w.r.t. stop

[2019-03-23 13:14] suvamjain commented on #1128
Hi @ewpatton ,
looking to fix this issue. Can I get some more information like where to find this in the code base?

[2019-03-23 13:21] suvamjain commented on #1015
Hi @ewpatton ,
I'm looking to fix this issue. Can I get some more information like where to find this in the code base?

[2019-03-23 22:02] ewpatton commented on #1015
All of the reference documentation is in the docs/reference/ directory. You’ll want to update the social.html file.

[2019-03-23 22:06] ewpatton commented on #1128
This requires a few changes. Here’s a rough sketch:

1. Add the new field to DesignerProperty.java (in components...annotations)
2. Update ComponentDescriptionGenerator to include the new field in the json description of the property (in components...scripts)

Somewhere I have a branch that includes the property helpstrings in the UI that will use this. I will send you a pointer once I put it up.

[2019-03-24 11:21] jerry73204 opened #1626 "Survey on build server callback url issue"
Current implementation assumes [hard-coded callback url](https://github.com/mit-cml/appinventor-sources/blob/c51e829a3e9b62ab14c8cf0e91a203b211a13640/appinventor/appengine/src/com/google/appinventor/server/project/youngandroid/YoungAndroidProjectService.java#L831) for build server under development env. I haven't seen a _canonical_ way to solve this in GAE. I consider it a bad pattern, and want to

[2019-03-24 11:44] me9Manisha commented on #1299
I am looking forward to resolving this issue, can I get some direction to where in the code base this is?

[2019-03-24 12:16] me9Manisha opened #1627 "Add Scrollbars for convenience"
Pallete, components and properties panel must have there own scrollBars for proper access. To get rid of affecting the whole screen from the current single scroll, so that inventor can easily navigate to panels without losing focus to the main app screen in webview.

[2019-03-24 18:17] suvamjain commented on #1015
<img width="1002" alt="GV doc changes" src="https://user-images.githubusercontent.com/29479040/54883743-f688e500-4e8e-11e9-9aaa-7aba37b559c1.png">

Please verify the last paragraph in the above mentioned screenshot.

[2019-03-24 18:39] ManishaProg commented on #1602
Hi @ewpatton, I want to resolve this issue.
That's exactly you are talking about for tutorials sidebar.

![sidebar](https://user-images.githubusercontent.com/30600661/54883605-45ce1600-4e8d-11e9-8d10-c6f6e2566b5e.png)

Same could be beneficial for the users in case of help sidebar. right now we have options available in help drop down menu. these options will go inside the help sidebar, right?

![

[2019-03-24 20:51] suvamjain commented on #1128
I have implemented steps 1 and 2 @ewpatton, @ColinTree. Now can you please guide me further, how to add a helpstring icon near designer properties and how do they show the property description on clicking it. **Changes referring to step 1 and 2 in the respective files are highlighted in the screenshots attached below** -

### Step 1 --> changes in ../components/annotations/DesignerProperty.java

!

[2019-03-24 20:57] suvamjain commented on #1128
Also @ewpatton, can you please assign this issue to me

[2019-03-25 02:18] mejvi91246 opened #1629 "Getting error java returned 1"
Others have had similar issues but not identical.  I am getting the below log when attempting to compile - any help would be greatly appreciated...

PlayApp:
     [java] Mar 24, 2019 9:13:33 PM com.google.appinventor.buildserver.ProjectBuilder build
     [java] INFO: temporary project root: C:\Users\Rob\AppData\Local\Temp\1553480013981_0.9611548065801465-0
     [java] Mar 24, 2019 9:13:34 PM com.g

[2019-03-25 02:27] josmas commented on #1629
Please discuss this type of issues in the forum. It seems to be the same issues as other people are reporting on windows _Unable to parse file - cannot locate beginning of $JSON section_.

Closing this now. If you need help, please use the forum.

[2019-03-25 02:27] #1629 closed

[2019-03-25 02:45] mejvi91246 commented on #1629
Thank you!  I am new to git hub and appreciate the help.  I did go to the forum and tried to enter the search string below but got no matches – any advice on what I am doing wrong??

Thanks again,
Rob

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Jos <notifications@github.com>
Sent: Sunday, March 24, 2019 9:27:48 PM
To: mit-c

[2019-03-25 02:50] josmas commented on #1629
https://groups.google.com/forum/#!searchin/app-inventor-open-source-dev/cannot$20locate$20beginning$20of$20$24JSON$20section%7Csort:date

[2019-03-25 02:51] mejvi91246 commented on #1629
Thank you!

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Jos <notifications@github.com>
Sent: Sunday, March 24, 2019 9:50:07 PM
To: mit-cml/appinventor-sources
Cc: mejvi91246; Author
Subject: Re: [mit-cml/appinventor-sources] Getting error java returned 1 (#1629)

https://groups.google.com/forum/#!searchin/app-inventor-open-s

[2019-03-25 04:26] grufelous commented on #1553
Hi, is there still any requirement of updates on the welcome screen?

[2019-03-25 04:47] ewpatton commented on #1626
@jerry73204 The likely bigger issue here is that you are trying to use the dev server as a production server. That's not really the intended use of the dev server and is probably going to cause more problems than it will solve. Also, in the case of GAE, frontend operations are limited to 60 seconds, so SSE or WebSockets won't work if a build takes longer than that.

FYI you can specify a callback

[2019-03-25 04:49] ewpatton commented on #1553
@grufelous This is still being worked on by @ramiAbdou.

[2019-03-25 04:54] ewpatton commented on #1619
@wangiv2 That looks right. Did you get prompted for storage permissions when the app started? If not, does everything work if you go to Settings>Applications and then turn the permission on manually?

[2019-03-25 05:00] ewpatton commented on #1603
@Ujjwal0501 I think we can close this for now since your PR fixed the issue. It's probably worth filing a separate issue to track the technical debt.

[2019-03-25 05:00] #1603 closed

[2019-03-25 05:08] ewpatton opened #1630 "MockSwitch does not respond correctly to font size changes"
Per @PeterMathijssen: If one changes the font size of the text with the switch in the designer, the switch graphic won't vertically align. Instead, after enabling the switch the SVG will be resized to match the height of the font. On the device, the correct behavior occurs and the switch is vertically aligned and its size doesn't change.

Note that I'm putting this in the milestone but it's low ri

[2019-03-25 05:08] ewpatton commented on #1630
[Animated GIF demonstrating the issue](https://www.google.com/url?q=https://drive.google.com/file/d/1Qben4VdiqFbPMlvpGvRGdruErgP4dZGO/view?usp%3Dsharing&sa=D&ust=1553424546429000&usg=AFQjCNHbtgVaWvFb0VIDFv4k9QL_vhFtrQ)

[2019-03-25 05:18] ewpatton commented on #1299
@me9Manisha Currently the background color is set on lines 496-503 in components/src/com/google/appinventor/client/editor/simple/components/MockForm.java. Theme setting is handled starting on line 670. Note that the dark theme is controlled by adding/removing a "Dark" style to the form, but in setBackgroundColorProperty we always assume white as the default background color. What we should do inst

[2019-03-25 11:34] me9Manisha commented on #1627
looking forward to resolving this issue, where do will get the related code in appinventor-sources?

[2019-03-25 11:36] me9Manisha commented on #1627
looking forward to resolving this issue, where will I get the related code in appinventor-sources?

[2019-03-25 16:19] SusanRatiLane commented on #1630
Resolved by #1631

[2019-03-25 16:19] #1630 closed

[2019-03-25 16:24] jerry73204 commented on #1626
It's good to have the flag that I didn't notice. I'm working on an alternative build of App Inventor 2 Ultimate. That's why these issues become my headache. This thread can be closed. Thanks.

[2019-03-25 19:03] me9Manisha commented on #1299
After analyzing both the designer and companion sides very closely  for the dark theme I came to the point that the  problems in:
1.Companion side
           The label widget text got invisible only when text color is black but visible with other Text colors. rest is working fine in companion with a dark theme.

2.Designer side
            In this case, the dark theme is only reflected for buttons

[2019-03-25 20:52] ewpatton commented on #1128
@suvamjain It seems reasonable to me. I'll try to find the branch I have for properties and get it up as a PR. Do you want to submit this?

[2019-03-25 20:54] ewpatton commented on #1015
@suvamjain I don't believe the text about Marshmallow is correct. GoogleVoice uses different permissions than the built-in texting permissions. The issue was that Google changed the Google Voice UI which we parsed for sending/receiving texts. I implemented a fix for sending texts but never updated receiving texts. I think the text should say that one can send texts with GV but not receive them.

[2019-03-26 03:56] #1626 closed

[2019-03-26 04:13] ewpatton commented on #1299
The theory behind my suggestion builds on how CSS works. Rules are applied from least specific to most specific (and by order of CSS files, but that's irrelevant here), but styles on elements override any inferred style from CSS. So, we should really define a base style for components, then have the light/dark themes apply the relevant CSS to get that style. Then, when the developer sets a non-def

[2019-03-26 05:26] suvamjain commented on #1128
Yes, I want to submit this. If I'm right I just have to commit the code on my forked repo and then a pull request should be sent, correct?

[2019-03-26 06:00] suvamjain commented on #1015
![image](https://user-images.githubusercontent.com/29479040/54974484-37c9e380-4fba-11e9-8b2f-0ef9406fa01e.png)
What about this one?

[2019-03-26 14:06] lightingft commented on #1235
@ledeni56 The code you have written is sufficient for the block to appear in the AppInventor. Simply run the ant build again on your local machine, then run the server and open the AppInventor application via your localhost, and test to see if it works!

[2019-03-26 15:23] ewpatton commented on #1627
@me9Manisha This is actually a lot harder than it sounds because of the fact that GWT turns most of the content into table-based layouts, which naturally want to size the cells so that all of the content fits without scrolling. To make this happen, we'd need to update the UI to use `<div>` elements instead of `<table>`s, and that's a non-trivial change that will need a lot of testing to make sure

[2019-03-26 15:30] ewpatton commented on #1235
@ledeni56 Functionally it looks good, but one change I would recommend is including the URL of the page loaded as a parameter in the event. As @lightingft mentions, run the build again to update the blocks list for the web viewer. Don't forget per the other points on my checklist to update the version number in YaVersion.java and add upgrade paths in YoungAndroidFormUpgrader.java and versioning.js

[2019-03-26 18:30] ankritisachan commented on #1013
@ewpatton I have been trying to implement IntentBasedSpeechRecognizer initially just make sure that current method is up and running. But currently, I am unable to retrieve results from IntentBasedSpeechRecognizer.java to  SpeechRecognizer.java. I am also not sure if the result is being stored appropriately in the result variable of IntentBasedSpeechRecognizer(line 11 of https://pastebin.com/jdeky

[2019-03-27 04:28] ewpatton commented on #1013
@ankritisachan `SpeechController` will need to provide a way so that `SpeechRecognizer` can register to get the result. In both of the approaches (i.e., Intent and Service), the detection is happening in a non-blocking way. When you launch the intent, Android starts a new activity on top of the App Inventor activity where speech recognition occurs and our code keeps going (it doesn't block). There

[2019-03-27 04:32] ewpatton commented on #1015
@suvamjain Adding the GoogleVoiceEnabled blocks shouldn't add the dangerous permissions prevented by Google Play's newest policies. Google Voice defines its own similarly named (but not the same) permissions for sending/receiving Google Voice messages. I think the text in bold is unnecessary. The important thing that we need to be highlighting is that receiving no longer works. The component has r

[2019-03-27 04:33] ewpatton commented on #1128
@suvamjain Yes, that's correct. For this change, you can submit the PR against master.

[2019-03-27 04:34] ewpatton commented on #1128
Note that the recommended best practice is to create a feature branch and commit your work there. This way your copy of master stays in step with ours. Submit the PR for the feature branch to master.

[2019-03-27 05:37] diloop commented on #791
Hello, are there any blockers that prevent from implementing this feature? Having the ability to install custom certificate chains would be a very powerful feature.

[2019-03-27 07:51] sharif582 commented on #1232
Is aiStarter 3.0 available for windows?

[2019-03-27 15:42] ZhengCornell commented on #1516
I can take a look at this issue.

[2019-03-27 18:25] suvamjain commented on #1128
Just for confirmation, PR stands for Project Repository right?

[2019-03-27 18:27] josmas commented on #1128
@suvamjain  PR stands for [Pull Request](https://help.github.com/en/articles/about-pull-requests).

[2019-03-27 18:37] suvamjain commented on #1128
Oh!! thanks @josmas 😅

[2019-03-27 18:40] DigitalCoin1 opened #1635 "API level"
I'm trying to post my app to the Google Play Store, but I get the following error:

I'm using version 4.6 of the AI2U

[2019-03-27 19:10] josmas commented on #1635
Hi there, you are going to have to ask for help to the AI2U maintainers. That distribution is built from these same sources, but we have nothing to do with it. Closing this now. Best!

[2019-03-27 19:10] #1635 closed

[2019-03-27 22:28] tasos12 commented on #1512
@ewpatton
This is a class skeleton for a new component that supports Ev3 Bluetooth messaging
`public class Ev3Mailbox{
    public Ev3Mailbox(){}

    //Sends a string to ev3
     public SendMailboxText(String message){
         byte[] command = Ev3BinaryParser.encodeSystemCommand(Ev3Constants.SystemCommand.WRITEMAILBOX, false, message);
         sendCommand(functionName);
     }

     //Sends an i

[2019-03-28 03:46] ewpatton commented on #1512
It looks like a good start. Please read through https://docs.google.com/document/d/1xk9dMfczvjbbwD-wMsr-ffqkTlE3ga0ocCE1KOb2wvw/pub for more information about writing new components.

Also, are those the only two types of data that one can send to the mailbox?

Sent from my iPhone

[2019-03-28 06:33] neilmunday commented on #1512
You can write a string, float or Boolean to an EV3 mailbox.

[2019-03-28 10:48] tasos12 commented on #1512
Yes indeed but the method Ev3BinaryParser.encodeSystemCommand has no case for a boolean or a float passed as an argument.  I believe two more cases should be added for each type and then build the rest of the Ev3mailbox component.  I will also test if it works properly with text before going into further changes.

[2019-03-28 11:24] ewpatton commented on #1512
Please do add the other variants for encodeSystemCommand so that we can cover the full range of types.

[2019-03-28 13:01] vagish123 commented on #1602
Hey Evan
I've created a sidebar(empty) which responds to a button on the design toolbar. A few things left to do:
1) I want to inflate it with the help documentation and a button in case one needs to open in a new tab. Please assist me in this.
2) setTutorialURL(String newURL)  in Ode.java and createImageDialog(String img) I need to know where these functions are being called in order to pass the

[2019-03-28 15:56] ankritisachan commented on #1013
@ewpatton Thanks a lot! I implemented the listener and both the Recognizer Methods are working now.

Going for this now,

What is this property about? I didn't understand the meaning of Legacy here. How will this property work?

What does this line mean above?

[2019-03-28 15:57] #682 closed

[2019-03-28 16:53] ewpatton commented on #1602
@vagish123

1. There are a few places you'll need to hook in. The first is in `ComponentHelpWidget`, which is the popup that appears if you click the ? icon next to a component name in the palette. The second is the Help menu in the blocks editor. To do that, add a new implementation for `Blockly.BlockSvg.prototype.showHelp_` in `blocklyeditor/src/block_svg.js`.
Rather than opening a new tab, you'

[2019-03-28 16:54] ewpatton commented on #1586
Fixed by #1601

[2019-03-28 16:54] #1586 closed

[2019-03-28 17:06] #1584 closed

[2019-03-28 20:29] 27vinayvyas commented on #1606
@ewpatton
Sorry for the delay but its finally working(changing font to opendyslexic on a button click)
What i have done is that i have REMOVED  all the font-family attributes  from Ya.css and gwt.css EXCEPT from the body tag which has Roboto as default.
On clicking the Dyslexic font button, the Roboto font attribute is removed and the opendysleic font is added to the body tag.
All the other elemen

[2019-03-29 06:13] 27vinayvyas commented on #1455
Hello @ewpatton
I was trying for this issue but could not understand what exactly we are supposed to do?
From where can we access "Hello Puff" inside app inventor??

[2019-03-29 13:09] tasos12 commented on #1512
I managed to build a component that is able to send text and the tests were succesfull.  Heres the code.
[code]

I think now it's safe to add the rest methods supporting float and boolean values
Should i proceed with the changes or is anything left?

[2019-03-29 19:45] ewpatton commented on #1455
If you go to Projects > Import aia from repository, you can see that Hello Purr is provided as a sample app. I'd like it if we can import all of the tutorials listed [here](http://appinventor.mit.edu/explore/app-building-guides.html) as projects as well.

In the sources, the Hello Purr template is located at `appengine/war/templates/`. You should be able to use the directory there as a prototype f

[2019-03-29 22:37] vagish123 commented on #1602
Hey @ewpatton
Till now I've created the help sidebar having a trailing edge.
The Toggle Help button is created in the DesignToolbar.java and its functionality has been defined in ToogleHelpAction() as follows:

private class ToogleHelpAction implements Command {
    @Override
    public void execute() {
      Ode ode = Ode.getInstance();
      boolean visible = ode.isHelpVisible();
      if (visib

[2019-03-29 23:37] ProstoSanja commented on #1542
The only reason i see to have "Any screen" option, is for when there might be too many screens in project to scroll for specific one, although this one is also pretty stretched argument.
Quick solution to this is in `appinventor/appengine/src/com/google/appinventor/client/editor/simple/components/MockComponent.java`
where there is currently specific check against it.
Removing it though shows anoth

[2019-03-29 23:53] lightingft commented on #1024
@ewpatton I can look into this. So, if I understand correctly, the upgrader should handle setting the default value to responsive too, is that correct?

[2019-03-30 00:34] ewpatton commented on #1024
@lightingft Yes, it is conceptually very similar to the other change you worked on with the BarcodeScanner component.

[2019-03-30 00:47] ewpatton commented on #1542
@ProstoSanja I don't think that's the issue here. You'll see that Form/Screen is already filtered out under the "Any Component" category in the structure explorer. The issue raised here is that those blocks still manifest themselves via the typeblocking interface. To prevent that, we need to modify the typeblock function for component_event, component_method, and component_set_get to filter out th

[2019-03-30 00:52] ewpatton commented on #1602
@vagish123

Note that you can collapse your if/else block into `ode.setHelpVisible(!ode.isHelpVisible());`

The next step will be to change the ComponentHelpWidget so that when it's More Information link is clicked you open the help sidebar and show the content of the URL there. Look at how the URL is set for the tutorial sidebar as an example of how to accomplish this step.

[2019-03-30 00:53] ewpatton commented on #1512
I would like to see the full breadth of types supported, so go ahead and implement the boolean and float operations as well. Once that's done, please submit a pull request. It would be nice if you include an example program for the Ev3 so that we can test it here.

[2019-03-30 01:00] ewpatton commented on #1013
@ankritisachan We try not to change behavior in a way that is unexpected for people developing apps with App Inventor, so we need to support swapping in the new speech recognizer in a way that doesn't disrupt existing projects. For example, the flow of an existing app might be based around the current Intent-based approach, and the app creator may need to change the flow to use the new approach. W

[2019-03-30 20:22] ankritisachan commented on #1013
@ewpatton Please have a look at following files.
I was doubtful about the implementation of 'UseLegacy' property, please verify that. Also, one thing i.e. checking for partial results implementation is left to be done. Rest all is mostly done. I took the help of a few internet sources too.
Following are the files -
 [SpeechRecognizerController](https://pastebin.com/ig94g60f), [SpeechRecognizer](ht

[2019-04-01 07:40] choichifai2005 commented on #1013
@ankritisachan In my opinion, the stopListening() function is very useful, it should be an individual block can call manually.
the existing problem now is: "the system waiting for finish listening". if the speech recognizer is use in a silent place, this is great, however, if in a place with noisy background, the system don't know where is the end of listening, so we need to implement a stopListen

[2019-04-01 23:23] acmanica commented on #1179
Hi do you have the link for this error?

[2019-04-01 23:48] josmas commented on #1179
@acmanica most likely this: https://groups.google.com/d/msg/app-inventor-open-source-dev/cawjX-EB9ck/5aY3YJzOBAAJ

[2019-04-02 18:47] #1479 closed

[2019-04-02 21:22] lightingft commented on #211
Also, forgot to include the screenshots of property changes on all 4 themes:

#### Device Default
<img src="https://user-images.githubusercontent.com/34982762/55436997-0fd01680-559e-11e9-9aae-37f08cb7dd6d.png" width="300">

#### Classic
<img src="https://user-images.githubusercontent.com/34982762/55436980-03e45480-559e-11e9-996f-ae1ced23441c.png" width="300">

#### Dark
<img src="https://user-imag

[2019-04-07 19:12] suvamjain commented on #1128
Hi @ewpatton, Please review the PR I just submitted.

[2019-04-07 19:44] suvamjain commented on #1015
Hi @ewpatton, Please review the PR I just submitted.

[2019-04-08 18:37] bhogteyash99 commented on #1553
Make a splash screen that will welcome the user and and then the further activity may arise.
The procedure for making the splash screen is:-
1.Make a full screen image that will be my branding screen
2.Set the Background Image property of Screen1 to this image
3.Add a Clock (from the Sensors section of the Palette) to the app
4.Make sure the Timer Enabled property is checked
5.Set the timer to how

[2019-04-08 22:35] pasignature commented on #955
Hi Evan, I'd be glad to help work on this issue.

Would you please give me more hints and some insights.

thanks

[2019-04-09 12:03] dhruv1220 commented on #1559
Should this be done using tab host or bottomnavigationview?

[2019-04-09 15:35] harshsaver commented on #1553
Maybe also ask you what kind of application you want to build, and setup the required conditions for you.
For example, if someone wants to develop a game, and chooses the 'game' option, then the first screen will already have a canvas in it and a pop up will show me useful tips and links to how to make good games.

Another use case will be when the developer needs to have a database in the app, an

[2019-04-09 18:53] ewpatton opened #1651 "Improve BluetoothClient and BluetoothServer documentation"
As noted by the power users, the SendXByteNumber methods of the Bluetooth client/server components is rather underspecified.

In particular, we should note that a 1-byte number is restricted between -128 and 255, a 2-byte number is restricted to -32768 to 65535, and that a 4-byte number is between -2^31 to 2^32-1. It was also noted that an example for each function may be useful.

[2019-04-09 19:51] GOTFire opened #1652 "List from csv row change space to empty list item"
I find a bug with list from csv row.

I want make a list  with 3 item = a,(space),b = a, ,b

So I use csv from list block and learned its change a,(space),b to a,(empty),b

Tested with make a list block its work correctly

Test result
https://yadi.sk/d/xoV50Hq9YCLFiw

https://yadi.sk/i/mqVcsz35dGpT-w

[2019-04-09 20:11] ewpatton commented on #1652
Confirmed that this is an issue. I would expect the following to be true, but it's not:

<img width="902" alt="image" src="https://user-images.githubusercontent.com/1331253/55831771-ea816200-5ae1-11e9-8443-fc71b51a5656.png">

(note that the "empty" text blocks contain a single space). It seems there are two issues that we have to deal with:

1. Whitespace is trimmed from strings during parsing but

[2019-04-10 01:40] aryanrauniking opened #1653 "Error While Making Component"
Whenever I Add Any Component Then About 75% Complete To Build AI Play App And Get Error java.lang.NullPointer Expectation Why Is It So?
DOES IT HAS ANY SOLUTION TO STOP Null Pointer Expecatation

[2019-04-10 19:53] ewpatton commented on #1653
It's unclear that this is an issue with the sources but is rather how you're coding your component. The issue would be better discussed on the [open source forum](https://groups.google.com/forum/#!forum/app-inventor-open-source-dev).

[2019-04-10 19:53] #1653 closed

[2019-04-11 22:21] doct0rX commented on #1478
I think it's on the appinventor/appengine/src/com/google/appinventor/client/TopToolbar.java class where I can change the ```DropDownButton buildDropDown``` instead of instantiating it as a ```new DropDownButton``` and putting the List of created BuildItems for (Barcode and Download) I make it call ```new BarcodeAction()``` inner {line 447} class directly. This must shows the Barcode dialog when bu

[2019-04-12 15:55] ewpatton opened #1656 "Investigate GWT Material UI to reimagine the project list"
There is a library called [GWT Material UI](https://gwtmaterialdesign.github.io/gwt-material-demo/) that provides some nice GWT widgets and styling following the Material UI guidelines. It would be nice if we could adopt this library to reimagine the project list as cards to make it more visually appealing.

Some things to think about:
* How are cards selected with this library?
* What shortcut bu

[2019-04-13 06:08] 27vinayvyas commented on #1656
Hello
I want to contribute in this.
There are direct code snippets given in the website about card view and rest of the UI components you asked for(some attractive table views, buttons and others).
But we have to figure out how to implement these on our project. This thing is also given there but its not clear to me how we are going to implement that in our project.
Can you please help me in what

[2019-04-13 18:29] ellenspertus opened #1658 "Texting.SendMessage opens texting app"
When the attached app runs Texting.SendMessage, it opens one of my separate texting apps, rather than sending it quietly using internal App Inventor libraries. This happened while using the AI2 Companion 2.51a on a Pixel 2 running Android version 9 (April 5, 2019). Please let me know what other information would be helpful.

[MillsRaffle.aia.zip](https://github.com/mit-cml/appinventor-sources/file

[2019-04-13 19:39] ankritisachan commented on #1658
Hi. Just confirming, do you want your app to  send messages without opening default messaging app of your phone?
There is this method, Texting.SendMessageDirect() which sends message immediately without opening any other messaging app.

[2019-04-13 20:20] ellenspertus commented on #1658
Yes.

I had not realized the behavior of the original method had changed. Thank you for letting me know what to use in the future.

[2019-04-13 21:03] ankritisachan commented on #1658
No worries. Both these methods(Texting.SendMessage() and Texting.SendMessageDirect()) are available for use depending upon developers' requirements.

[2019-04-13 22:16] ewpatton commented on #1658
Note that the reason for this change is because of Google Play policy changes with respect to texting and phone call permissions. We were not allowed to keep the permissions needed for the old behavior in the companion app distributed through the Play Store. If you want to test the functionality you will need to install the version from AI2 under Help>Companion Information. The version is 2.51au.

[2019-04-14 00:32] lightingft commented on #922
I could look into the issue.

However, since View.INVSIBLE generates the view mass, it might be an issue, as mentioned.

Perhaps a viable approach if the view mass is an issue is to have the Spinner as View.GONE and set to View.INVISIBLE when the dropdown menu is opened, and then set it back to GONE when it's closed.

[2019-04-14 06:38] 27vinayvyas commented on #1656
Hello , is someone else already working on this project??
Is so, i can move to some other issues.

[2019-04-14 11:38] ankritisachan commented on #1658
@ewpatton, Okay. I just checked version history regarding changes done in Texting so far. Thanks for the information.

[2019-04-14 17:57] ramiAbdou commented on #1656
@27vinayvyas Yes, I was planning on working this ticket actually.

[2019-04-14 19:04] 27vinayvyas commented on #1656
@ramiAbdou
It seems to be a bigger issue. If you allow, i could work on some smaller parts?
If you know the involved tech, can you please guide me with the above query?

[2019-04-15 16:53] ewpatton commented on #1656
@27vinayvyas Thanks for the help offer, but @ramiAbdou is working on this as part of a class assignment. I can help you identify a different issue to work on if that would be helpful.

[2019-04-15 17:26] 27vinayvyas commented on #1656
@ewpatton
Okey i got your point.
If you have some issue specifically to be worked upon, i can move to that issue.
Else i can explore something on my own.
Thnx

[2019-04-16 07:46] ankritisachan commented on #1658
@ewpatton Shouldn't we close this issue or anything needs to be done here?

[2019-04-16 12:59] #1658 closed

[2019-04-24 20:23] ewpatton commented on #1173
@ZhengCornell Here's a small issue you could take a look at if you have time. It will require changing Blockly core though so let me know when you start to work on it.

[2019-04-25 16:08] ewpatton commented on #1611
This sounds like it is potentially a symptom of a slow Internet connection or a really large project. When you log in, we read the last opened project ID from your user settings and then open that project. This should be pretty quick, and wouldn't necessarily give time to open the New Project Dialog before that transition occurs. However, if it takes a long time to load the project from the server

[2019-04-25 23:39] KenNichols opened #1665 "Duplicate Activities when launching app"
Launching an app useing the Play Store Open button causes a new Activity to be created.
This is a big problem for apps that play audio because it will play multiple audio streams at one time, causing an echo like effect.
It will also cause the other activities to move to the top of the stack when trying to exit the app.

In the following video you can see when I launch the app via the Home Screen

[2019-04-26 02:17] #1375 closed

[2019-04-30 03:33] SpencerHowell commented on #1381
I have tested this issue in both Chrome and Edge, and it appears that this problem has been fixed. The user is still able to scroll after pressing any combination of the two check boxes.

I believe this issue can be closed.

[2019-05-01 20:41] ewpatton commented on #1017
Resolved by #1354

[2019-05-01 20:41] #1017 closed

[2019-05-01 20:42] ewpatton commented on #997
Resolved by #1600

[2019-05-01 20:42] #997 closed

[2019-05-01 20:46] ewpatton commented on #829
Resolved by #1634

[2019-05-01 20:46] #829 closed

[2019-05-02 11:15] ewpatton commented on #1352
Resolved by #1552

[2019-05-02 11:15] #1352 closed

[2019-05-02 11:21] ewpatton commented on #1381
@SpencerHowell I'm also seeing that this isn't a problem. @moliata Can you verify that this still affects you and what browser you're using if that's the case?

[2019-05-02 11:25] ewpatton commented on #1665
We expect that this might break how apps behave if they use an open another screen block to open a screen that was previously opened. Currently, this will create a new copy of the screen on the activity stack. Switching to singleTop will likely mean that using the open another screen block will switch to the existing screen that is open.

[2019-05-02 11:29] ewpatton commented on #1516
This turned out to be a more complicated project that we originally thought. It also interacts with #1505.

[2019-05-02 11:30] ewpatton commented on #1478
@kwankiu @doct0rX Did either of you make an attempt at this issue? If so, do you have something that you would like to submit as a PR?

[2019-05-02 11:38] ewpatton commented on #1416
Resolved by #1506

[2019-05-02 11:38] #1416 closed

[2019-05-02 11:44] ewpatton commented on #1412
I was able to repro this on master (project attached).

1. Load test project
2. Connect companion
3. Click "Red" button
4. In the designer, change the background color of the big button from Blue to something else
5. The buttons at the bottom will change background color to Red

Note that Button5.BackgroundColor ("Red" button) reports 0 (default) even though it visually is different, so it seems t

[2019-05-02 13:39] moliata commented on #1381
No longer a problem, closing the issue.

[2019-05-02 13:39] #1381 closed

[2019-05-02 17:38] bartmathijssen commented on #1545
I based this solution on the code in https://github.com/mit-cml/mit-cml.github.com

I made a simple python script that loops over every row of the spreadsheet that Peter created. It goes to the file specified in the first column and then pastes in the HTML code that would redirect the page to the url specified in the second column.
[code]
For this code to work I did have to make some minor modific

[2019-05-06 16:13] SusanRatiLane opened #1672 "Scale frame layout does not handle all aspect ratios"
On the iphone X and, we believe, some extra-tall Android phones, content displays as if the bottom if the screen does not exist. We believe that the max aspect ratio enforced by AI doesn't handle some of the more recent XL screens.

Example: First kitty (button) is squashed vertically and second kitty (image) is proportionally sized smaller, but there's actually quite a bit of vertical screen spac

[2019-05-06 16:19] SusanRatiLane opened #1673 "Fixed sizing layout does not size correctly on initial load"
When Screen1 sizing is set to Fixed, components are not resized to fit on the screen until some event that causes the screen to be redrawn.

Example.

Initial load:
<img width="334" alt="Screen Shot 2019-05-06 at 12 16 43 PM" src="https://user-images.githubusercontent.com/43011595/57239121-01d84000-6ff9-11e9-8e89-3ceace61bbdc.png">

After image is made invisible and then visible again:
<img width=

[2019-05-07 11:41] guckuck commented on #1232
Still not work with 3.0rc3.

[2019-05-07 21:10] #1431 closed

[2019-05-08 03:16] ewpatton commented on #1577
Resolved by ceb27bf233d93e61ef741e9255149e1bb3e8ff8c

[2019-05-08 03:16] #1577 closed

[2019-05-08 03:16] ewpatton commented on #1533
Resolved by 294905feb31ce8f2bd29b5950ac2b328646da35a

[2019-05-08 03:16] #1533 closed

[2019-05-08 03:17] ewpatton commented on #1520
Resolved by 5d0e66cf83541b74180a1c9835d6919b11097142

[2019-05-08 03:17] #1520 closed

[2019-05-08 03:17] ewpatton commented on #1392
Resolved by c0cabd21e3b57d8a8b946f628994b89300b98b4a

[2019-05-08 03:17] #1392 closed

[2019-05-08 03:18] ewpatton commented on #1347
Resolved by b3ce6b5878e592b5e0fd93379eb6e9445ad227c9

[2019-05-08 03:18] #1347 closed

[2019-05-08 03:18] ewpatton commented on #1345
Resolved by b2d4a63c3db4a652c173a381ab52191eaa88f5d3

[2019-05-08 03:18] #1345 closed

[2019-05-08 03:29] ewpatton commented on #1439
Resolved by e11af9db4f71a4cb9a512e1ea9610da08e31e7d7

[2019-05-08 03:29] #1439 closed

[2019-05-08 03:34] ewpatton commented on #1058
Resolved by 7c0d6677e51a4a4457eb66d04f1ed1d1cedcce28

[2019-05-08 03:34] #1058 closed

[2019-05-08 03:35] ewpatton commented on #1015
Resolved via 1e04a9f03db639ef6a52604fcaa2081d31796f3f

[2019-05-08 03:35] #1015 closed

[2019-05-08 03:41] ewpatton commented on #923
Fixed in 3abb556f0308ce241e3a4c2ba1bdc69ba4ab32b9

[2019-05-08 03:41] #923 closed

[2019-05-08 04:17] ewpatton commented on #1223
Resolved via 4ddd02dbb020dbcbf99483c1edeeb784e0d4f895

[2019-05-08 04:17] #1223 closed

[2019-05-08 13:27] ewpatton opened #1678 "Investigate warning/error stepper with collapsed blocks"
From a beta tester of nb176:

[2019-05-08 13:41] conorshipp opened #1679 "Cycling through warning blocks shows -1 warning"
While doing some testing, I discovered a bug with the warning cycling feature.

I don't have any blocks with warnings but the warning counter says -1.

Steps to reproduce:
1. Create some duplicate event blocks so that they show an error.
![image](https://user-images.githubusercontent.com/25845449/57379487-e9a22580-719e-11e9-848b-aff8143079c9.png)

2. Press the 'down' error (red) button

3. Press t

[2019-05-11 04:06] PeterMathijssen opened #1682 "Dropdown menu designer screen size doesn't show when set to fixed."
I noticed that the dropdown for switching the designer screen size to allow for more size options only appears when the screensize is set to responsive. When it is set to fixed there is no dropdown menu.

[2019-05-11 10:43] conorshipp commented on #1682
This is intentional as apps in Fixed mode are created at a fixed resolution which isn't designed to be scaled to larger screen sizes.

You may also remember how the tablet preview checkbox could only be activated when responsive sizing was enabled.

[2019-05-11 12:51] PeterMathijssen commented on #1682
I shouldn't post issues early in the morning when waking up. ;-)

[2019-05-11 13:43] Amerkashi opened #1683 "MockForm - landscape width / height are reversed"
Why are landscape width / height reversed? Was this logic intentional?

    PORTRAIT_WIDTH = width;
    PORTRAIT_HEIGHT = height;
    LANDSCAPE_**WIDTH** = **height**;
    LANDSCAPE_**HEIGHT** = **width**;

[2019-05-11 16:33] ewpatton commented on #1683
Assuming that you are referencing the configuration on lines [297-300 of MockForm.java](https://github.com/mit-cml/appinventor-sources/blob/897d96d396128b27df57293e4a51ac91b3eff0a4/appinventor/appengine/src/com/google/appinventor/client/editor/simple/components/MockForm.java#L297), this was intentional. The `width` and `height` parameters represent the physical dimensions of the screen in portrait