[2020-04-06 03:30] BeksOmega commented on #2147
@ewpatton That's a special flyout-specific thing. If you have a disabled block in a flyout that means it can't be dragged out -- actually pretty weird behavior now that I think about it lol. It was originally used for implementing that 'maxBlocks' functionality. [Here's](https://github.com/mit-cml/blockly/blob/ddb37e2ebf89deec0a4a43d0327c79c453ebf687/core/flyout.js#L1225) the relevant code.

To fi

[2020-04-06 04:06] ewpatton commented on #2147
@BeksOmega Thanks. I don't like the idea of disabled being a substitute for maxBlocks (especially since the latter is not a feature of Blocky we use in App Inventor). I'm wondering if we can get this changed upstream?

[2020-04-06 06:47] Ramanathi commented on #2069
![Screenshot from 2020-04-06 12-14-17](https://user-images.githubusercontent.com/55206019/78529957-60590000-7800-11ea-8e5e-2785e9389051.png)

left is downloaded, right is screenshot! (you can see the percentages of sizes )

[2020-04-06 07:51] Ramanathi commented on #2069
[pngLog.txt](https://github.com/mit-cml/appinventor-sources/files/4436783/pngLog.txt)

This is it's pngchunk data

[2020-04-06 13:56] ewpatton commented on #2069
@Ramanathi Do you want to submit a PR for us to review? It's hard to determine whether the behavior is correct simply from the screenshots.

[2020-04-06 15:41] BeksOmega commented on #2147
@ewpatton If we wanted to make disabled blocks instantiable by default, I don't think that change would be accepted :/ (even though I think it's a good idea). The problem is that this is [documented as a feature](https://developers.google.com/blockly/guides/configure/web/toolbox#disabled) so I doubt that core would be willing to change it.

But if we can't change the default I think another option

[2020-04-07 00:53] Ramanathi commented on #2069
Yes @ewpatton  I will submit a PR.

[2020-04-07 12:07] Vaibhav-creator opened #2153 "The Backpack Bug"
**Describe the bug**
It seems that there is a bug related to adding blocks in the backpack. After adding any block to the backpack if we click (a simple left click) on that block, the block gets added/duplicated in the backpack on every simple click.

**Affects**

The blocks are duplicated in the backpack

**Expected behavior**
No block should be added to backpack on simple click

**Steps to repro

[2020-04-07 13:17] ewpatton commented on #2153
@Vaibhav-creator Thanks for the report. I am able to replicate the issue. @BeksOmega Do you want to take a look at this?

[2020-04-07 13:38] BeksOmega commented on #2153
@BeksOmega Do you want to take a look at this?

I would love to!

[2020-04-07 15:57] Ramanathi commented on #2040
@ewpatton I want to work on this issue!

[2020-04-07 17:00] #2153 closed

[2020-04-07 21:15] pavi2410 commented on #2126
@mit-cml/staff Is the Yandex Translate API key set manually by you? I could't find any code that sets the API key in question.

[2020-04-07 21:31] ewpatton commented on #2126
@pavi2410 We have a branding branch that we apply to master before building, and one of the commits sets the key for YandexTranslation.

[2020-04-07 21:51] jisqyv commented on #2126
@pavi2410 @ewpatton It is pretty easy to add a property for the key. I'll take this one...

[2020-04-07 22:28] ewpatton commented on #2040
@Ramanathi Sure. If you want to take a look please go ahead.

[2020-04-08 14:48] ewpatton commented on #1573
Seems to have started happening in Android 7.0. I've tried emulator images for 5.1, 6.0, 7.0, 8.0, and 8.1. Prior to 7.0, the buttons don't have any issues. Starting with 7.0, even tapping elsewhere in the table arrangement, causes the button text to disappear.

[2020-04-08 18:29] ewpatton opened #2156 "Make flyouts horizontally scrollable"
**Describe the bug**

If the backpack contains a block stack that is very wide, it may cause the backpack flyout to be wider than the workspace, making it difficult to interact with blocks. There isn't any horizontal scrolling capability.

**Affects**

- [ ] Designer
- [x] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Debugging
- [ ] Other... (please describe)

**Expect

[2020-04-08 18:44] ewpatton commented on #2156
Post on the forum that prompted this: https://community.appinventor.mit.edu/t/backpack-cannot-scroll-horizontally/6628?u=ewpatton

[2020-04-08 18:53] beinganonymous commented on #2156
@ewpatton I would like to work on this issue

[2020-04-08 19:13] ewpatton commented on #2156
@beinganonymous Sure. You'll want to start by looking at blocklyeditor/src/backpackFlyout.js. This might end up requiring you to make changes to our fork of Blockly in order for it to work.

[2020-04-08 19:34] ewpatton commented on #2147
Let's just override `isBlockCreatable_` to always return true in App Inventor. That's sufficient for what we need.

[2020-04-08 20:25] beinganonymous commented on #2156
okay, got it

[2020-04-08 22:30] #2126 closed

[2020-04-09 14:11] Ramanathi commented on #2040
Hello @ewpatton,
Could you suggest the files to work on. I'm finding it difficult.

[2020-04-10 18:56] BeksOmega commented on #2147
@ewpatton I'm not sure if anyone watches the mit-cml/blockly repo, so I wanted to give you a ping.

I put up a [PR](https://github.com/mit-cml/blockly/pull/6) over there because I believe doing it that way will make it easier to upgrade (you should be able to just drop the commit).

[2020-04-13 13:42] ewpatton opened #2160 "Cannot delete media from project"
**Describe the bug**

When attempting to delete a media asset from the project, an IllegalArgumentException is thrown in DeleteFileCommand.

**Affects**

- [x] Designer
- [ ] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Debugging
- [ ] Other... (please describe)

**Expected behavior**

Attempting to delete an asset should follow the standard flow and not cause an excep

[2020-04-13 21:12] ewpatton commented on #2160
Fixed by #2161

[2020-04-13 21:12] #2160 closed

[2020-04-14 16:25] ewpatton commented on #2147
@BeksOmega Thanks, but you should also update the submodule in lib/blockly and make a PR here so that our master will be in sync. Once you submit the PR here I can review both.

[2020-04-14 17:26] BeksOmega commented on #2147
@ewpatton Done! See https://github.com/mit-cml/appinventor-sources/pull/2164

[2020-04-14 21:56] #2147 closed

[2020-04-14 21:59] #2082 closed

[2020-04-15 04:07] ewpatton commented on #2069
Fixed by #2152

[2020-04-15 04:07] #2069 closed

[2020-04-15 07:36] Ramanathi commented on #2040
@ewpatton
Is there any difference between selecting a component in Designer and in SourceExplorer other than this delete key prompt ?

[2020-04-15 11:56] amsdamsgram opened #2165 "Add a `onCreateListener`"
Hi,

**Describe the desired feature**
Could it be possible to add a `onCreateListener`? The same way there is already a `onDestroyListener` [here](https://github.com/mit-cml/appinventor-sources/blob/8d2490a2ecce9987faaf37a055821103416722cb/appinventor/components/src/com/google/appinventor/components/runtime/OnDestroyListener.java)

**Give an example of how this feature would be used**
I’m building

[2020-04-15 12:50] ewpatton commented on #2165
Every component can define a void noargs method called `Initialize` that is invoked once the activity has been created. Unless the app is running on an older device where we have to pause to load multiple dex files, this will be called from within the context of the `onCreate` method. You could technically also call it in the constructor of your extension, which will be called before `Initialize`

[2020-04-15 13:00] amsdamsgram commented on #2165
Thank you for your answer.
I'll try calling these methods in the constructor extension as it doesn't seem to work when I call it in a Initialize function called in the screen Initialize function:

[code]

[2020-04-15 13:06] ewpatton commented on #2165
@amsdamsgram If there is a property involved, then the correct way is to do it with Initialize. Component properties are set after the constructor is called but before Initialize. You may want to take a look at the code for FirebaseDB, which has similar constraints and also needs to do some static initialization of its framework.

[2020-04-15 13:08] amsdamsgram commented on #2165
Thanks for your answer again!
I'll take a look at the code for FirebaseDB and close this issue as it is not related anymore.

[2020-04-15 13:08] #2165 closed

[2020-04-16 12:47] #1678 closed

[2020-04-17 15:47] #2139 closed

[2020-04-17 16:15] ewpatton commented on #2127
Released in nb183a

[2020-04-17 16:15] #2127 closed

[2020-04-17 16:16] ewpatton commented on #2045
Fixed by #2143

[2020-04-17 16:16] #2045 closed

[2020-04-17 16:17] ewpatton commented on #2084
I believe this was fixed by #2159. Closing for now but we can reopen if we observe it in the future.

[2020-04-17 16:17] #2084 closed

[2020-04-17 16:24] ewpatton commented on #1873
Released in nb183

[2020-04-17 16:24] #1873 closed

[2020-04-17 16:27] ewpatton commented on #1573
More information: Using the layout inspector, I noticed that the measured width/height of the button change after it is clicked in the table arrangement. This likely means that the text is still there, but since it is vertically centered and the button thinks it is larger than it is, the text is drawn outside of the clipping bounds of the button.

[2020-04-17 17:38] BeksOmega commented on #2033
Hi! I wanted to tell you guys that I'm planning to start work on this again now that automated blockly testing is in.

And I also have someting to discuss: I think that the logic for local variable prefixing should be removed. I have a few reasons for this, which could be disputed:

1) The feature hasn't been used in [sevenish years](https://github.com/mit-cml/appinventor-sources/commit/f89e5bef15

[2020-04-17 18:55] HimaniKaul commented on #1799
@ewpatton I am working according to what you advised above so if we are introducing themes as components, where do you suggest they should appear in Palette's category or in Properties Panel?

[2020-04-17 20:30] #1326 closed

[2020-04-17 20:30] #2122 closed

[2020-04-17 22:06] ewpatton commented on #2033
@BeksOmega On the one hand, don't fix it if it ain't broke. On the other hand, removing dead code that we don't have an intention of using is likely technical debt worth addressing. I'm leaning toward removing it if only because enabling it might somehow change the semantics of existing programs, and therefore is a bad idea.

That said, I'd definitely recommend implementing tests first, and then a

[2020-04-17 22:10] ewpatton commented on #1799
Screen1 typically controls the app theme in general, with Classic being the Android pre 3.0 look and feel, and the other variants being some other form (Holo on Android 3.0-4.4.2, Material on Android 5+, and iOS). My gut reaction is that we should do something similar to how Sizing works by providing a theme preview dropdown above the Screen. The dropdown appears if Theme != Classic, similar to ho

[2020-04-18 06:35] Ramanathi commented on #2040
@ewpatton ?

[2020-04-18 11:05] HimaniKaul commented on #1799
@ewpatton If we add dropdown above the screen just like sizing dropdown then we still need to keep the dropdown option in properties panel so that the dropdown above the screen could be visible and invisible accordingly..

[2020-04-18 14:05] ewpatton commented on #2040
@Ramanathi I'm not 100% sure how to proceed, so this one is going to require some experimentation. I think we might want to try making it so that the MockForm is focusable by giving it a tabindex and then when a component is selected also call focus on the MockForm. Then, we can bind a key handler that checks to to see if the MockForm is `document.activeElement` and if so triggers the delete of th

[2020-04-18 15:18] Ramanathi commented on #2040
@ewpatton Thank you, I will work on that

[2020-04-19 05:32] pavi2410 opened #2167 "Move AIMerger to its own repo"
The aimerger and aimerger_for_appinv_classic modules are separate applications and should be moved, as they are totally independent of the developments in this repo.

I also have a working version of AIMerger which uses Gradle. The advantage of this is that they are simple and easy to build and run.
https://github.com/pavi2410/appinventor-sources/tree/gradle/aimerger

[2020-04-20 06:50] Ramanathi commented on #2040
@ewpatton
Here, I found a strange thing happening.

Process :
1. create a project
2. Add any two components into the designer and call them c1, c2
3. Select c1 in source structure tree
4. And without clicking any where, select c2 in designer and press 'DELETE' or 'BACK_SPACE'
5. You'll see a Delete prompt for c2

Is this a bug or a part of application ?

[2020-04-20 06:59] 89lixx opened #2168 "Error code about receiving apk"
**Describe the bug**

**Affects**

- [ ] Designer
- [ ] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Debugging
- [ ] Other... (please describe)

**Expected behavior**

**Steps to reproduce**

[2020-04-20 07:24] 89lixx opened #2169 "Error about apk built from web page to server"
**Describe the bug**

I tried to change the server port from 8888 to 80. When I bulit the apk of an app, the server should send the apk to port 80. But the fact is that the apk has been sent to port 8888. I cannot connect the server except by port 80, so this setting will make problems in this condition.

**Affects**

- [ ] Designer
- [ ] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [x ] Bu

[2020-04-20 14:19] Ramanathi commented on #2040
@ewpatton ??

[2020-04-22 20:53] ewpatton commented on #2040
@Ramanathi This isn't a bug, it's the expected behavior. The issue is that it only happens when selecting the component in the source tree, not when you select the component by clicking on it directly. We had previously taken out a select call to prevent focusing on the source tree because it caused the browser to visually jump around the workspace. My previous discussion outlines a potential solu

[2020-04-23 16:47] ewpatton opened #2173 "Update App Inventor to SDK 29"
New apps compiled with App Inventor need to target SDK 29 by August 1st, 2020 in order to be accepted by Google Play.

Documentation of potential affecting changes here: https://docs.google.com/document/d/1JZH9ZXffsU69V2tYsj1Recd02E2isS0ZLAe3Kv2Mp7g/edit?usp=sharing

[2020-04-23 20:09] santolucito opened #2174 "Player PlayOnlyInForeground property does not work between screens"
If PlayOnlyInForeground is set to true, the Player should pause the audio file when the OnPause() android method is called (by leaving the app). This functionality works correctly when a Player starts playing audio on a screen, and the user leaves the app from that screen.

However, when a Player plays audio and a new screen is opened, the OnPause call no longer works, and the audio continues to p

[2020-04-24 19:33] ewpatton commented on #2174
@santolucito Are you seeing this in the companion, compiled apps, or both?

[2020-04-24 19:41] ewpatton commented on #2167
Yes and no. AIMerger is highly dependent on the project format. If we were to change the project format here, support would need to be introduced into AIMerger as well. As it stands, the version you check out with App Inventor will work for that version (and in this hypothetical example it would hold true). This is the same reason for moving the documentation into this repo rather than hosting it

[2020-04-24 21:21] pavi2410 commented on #2167
It was because while working on migrating build system to Gradle, I noticed that these modules were independent of the build chain. Also, these modules haven't had any significant change in so many years. So, I thought it'd be better to have them separated, and opened this issue to know your opinion.

But, I still doubt that aimerger_for_appinv_classic is required because it doesn't work for AI2.

[2020-04-24 21:43] BeksOmega opened #2176 "LineString.PointsFromString Tooltip Incorrect"
**Describe the bug**
It seems that the tooltip for the LineString.PointsFromString function is incorrect. It reads:

But this doesn't seem to actually be the case. This is confirmed by two users over on [this post](https://community.appinventor.mit.edu/t/error-text-description-linestring-pointsfromstring/7732/2), as well as my own testing.

**Affects**

- [ ] Designer
- [X] Blocks editor
- [ ] Com

[2020-04-25 01:28] ewpatton commented on #2176
@BeksOmega The English documentation is generated from the source code. We use Weblate to manage the translations, so when we update the English documentation it will mark the existing translations as needing review. I'm not sure at the moment that we have any translations for the LineString properties.

[2020-04-25 01:30] BeksOmega commented on #2176
@ewpatton Oh sweet! That's a really nice system. Does that mean I can give updating the source-code-doc a shot?

[2020-04-25 01:32] ewpatton commented on #2176
@BeksOmega Sure. You'll want to make the changes to the Javadoc for PointsFromString in components/.../LineString.java and then rebuild the system. When you do, it should update the Markdown and HTML versions of the documentation under docs/. You may need to install ruby and bundler on your machine if you haven't already (not 100% sure of your setup).

[2020-04-25 01:39] ewpatton commented on #2169
My understanding is that `appengineHost.get()` doesn't return the right thing. Given that the AppEngine SDK has changed quite a bit, it may be the case that this returns something sane. Do you want to try that out and submit a patch if it works?

[2020-04-25 01:39] #2168 closed

[2020-04-25 01:52] 89lixx commented on #2169
Thanks. But I didn't learn this code in depth. To prevent to cause a bigger problem, I just want to give you my advice. 😁

[2020-04-27 15:03] #2176 closed

[2020-04-28 23:26] BeksOmega opened #2180 "Comment bubbles positioning is inconvenient"
**Describe the bug**

How comment bubble positioning works is not very convenient.

Firstly, when you open a comment it will often position itself offscreen where you can't see it. This is obviously not helpful haha. I have previously fixed this behavior in blockly core, and I would be happy to move those changes over.

Secondly, this bad positioning means you often want to move your comment to a

[2020-04-29 02:59] ewpatton commented on #2180
@BeksOmega I think for now we should just try to bring it in line with what core does.

[2020-04-29 03:28] BeksOmega commented on #2180
@ewpatton Sounds good! Should I get started on that, or should I wait until after the meeting on the 7th? (I saw there was going to be discussion of a Blockly upgrade)

[2020-04-29 17:27] ewpatton commented on #2180
@BeksOmega Let's wait on that. @ellelili2025 has been working on the upgrade, so once that work is done we should gain your functionality from core.

[2020-04-29 19:06] BeksOmega commented on #2180
Oh sweet that's awesome! Have you thought about moving to the node distribution? It would be fun to move some things like the typeblock system over to plugins :D

[2020-04-29 19:28] ewpatton commented on #2180
@BeksOmega I don't think we will be able to move to using Blockly in any other way until core has enough extension points that we no longer need to monkey patch or rewrite parts of core to make it work with App Inventor.

[2020-04-29 21:49] BeksOmega commented on #2180
@ewpatton Darn, well that's pretty unlikely to happen :/ I get where you're coming from though. It's definitely easier to "manually" upgrade blockly periodically than to start over from scratch.

But it got me thinking - the Blockly team /has/ to have a recommendation for repos in this situtation. I mean it was so common to fork Blockly before, that I'm pretty sure Sam would have some thoughts on

[2020-04-30 01:52] santolucito commented on #2174
I saw this on the companion. I have not tried on the compiled app - I have been meaning to, but not got the chance yet. I will try (hopefully) tomorrow.

[2020-05-04 15:55] #1213 closed

[2020-05-12 18:03] m93a opened #2186 "Consider moving to Scratch Blocks"
**Describe the desired feature**
[Scratch](https://scratch.mit.edu/) developed its own version of Google Blockly, called [Scratch Blocks](https://github.com/llk/scratch-blocks). While it can't do everything that Blockly can, it is graphically superior and simplifies some of the concepts significantly.

I'm a teacher who teaches kids in both Scratch and App Inventor. I noticed that my students ofte

[2020-05-16 12:42] ewpatton commented on #2186
We will take this into consideration as we think about our UI refresh as part of our CoolThink project. However, I want to note that:

1. The App Inventor language is more sophisticated than Scratch, so design decisions that were made for Scratch may actively work against the use of Scratch blocks in App Inventor. We're also looking at adding new language constructs such as inline procedures for m

[2020-05-16 12:54] ewpatton commented on #2186
@kdclang @stezelMIT I'd also be curious what your thoughts are on this.

[2020-05-18 16:50] m93a commented on #2186
Hey @ewpatton,
Thanks for your reply!

**“[Scratch is simpler] so design decisions that were made for Scratch may actively work against the use of Scratch blocks in App Inventor.”** In a mostly procedural-style code, I think Scratch Blocks will do much better than Blockly. How will Scratch Blocks deal with the spaghetti code that sometimes comes up in AppInventor, that is an open question. My gues

[2020-05-19 10:28] markconnolly opened #2189 "Allow x- and y-coordinates are at the center for ImageSprite"
**Describe the desired feature**

Similar to the fix for Ball, make it possible to position the ImageSprite by using its center.

[2020-05-19 15:26] ewpatton commented on #2189
@espertus Would you have any time and interest to work on this, or should we offer it up as a student project?

[2020-05-19 15:34] stezelMIT commented on #2186
I personally would love a smoother transition to App Inventor from Scratch but this may not be possible unless we have a beginner's version of App Inventor with less much components and with Scratch like blocks.  However, I agree with all of Evan's concerns outlined above.  Re-writing of old tutorials with a new UI is an on-going concern not just for us but other organizations that produced curric

[2020-05-19 20:20] BeksOmega opened #2190 "Location Sensor Time Interval"
**Describe**

Steve mentioned on my design doc that the TimeInterval designer UI is a bit unintuitive. I didn't think that fell under my project (at least not the first pass) but I wanted to create an issue so that it doesn't get lost.

![TimeInterval](https://user-images.githubusercontent.com/25440652/82374042-5b789600-99d3-11ea-9b4e-6512a78b2c10.png)

The current options provided for the TimeInt

[2020-05-19 22:10] kdclang commented on #2186
I agree with Evan's points. While Scratch is great for a particular audience, our 14 millions+ users are used to our syntax and are comfortable with it. The amount of work redoing all the screenshots in hundreds of documents/webpages to accommodate a change like this would be overwhelming.

[2020-05-21 17:31] santolucito commented on #2174
The compiled app does demonstrate different behavior than the companion. In the compiled app, PlayOnlyInForeground causes audio to play only when the screen with the associated media is in the foreground. Switching to a new screen (even in app) causes the audio to stop. I am not sure what the intended functionality is at this point.

[2020-05-21 17:49] puravidaapps commented on #2174
you probably are switching screens incorrectly? Let me recommend you to use the manager screen method, see also https://puravidaapps.com/manager.php... using this metho starting the player in Screen1 should keep it running also in other screens...

[2020-05-21 18:24] ewpatton opened #2192 "Add Patch method to Web component"
**Describe the desired feature**

The Web component provides methods for many common HTTP operations. However, some web APIs make use of the PATCH verb, for which there is no App Inventor equivalent.

**Give an example of how this feature would be used**

Any RESTful web API that uses PATCH for operations would be available for use in App Inventor.

**Why doesn't the current App Inventor system ad

[2020-05-21 18:27] ewpatton commented on #2192
Note that this should be a very straightforward change for anyone looking to get started with App Inventor. Review how the Post block in the Web component works and make a similar function that performs Patch instead.

[2020-05-21 20:12] ewpatton commented on #2174
This is the correct functionality. A player is tied to a screen. If the screen isn't in the foreground, then the player shouldn't play (if PlayOnlyInForeground is true).

The companion is only a single screen but simulates multiple screens by clearing itself and drawing the new screen. Therefore, it isn't ever really out of the foreground (unless you switch to another app). What I think we need to

[2020-05-25 18:31] AKBIROCK3 opened #2194 "build tool"
hi i want to ask why app inventor has never update builder lib and why it doesn't merge to d8 ?
it's on Builder version 1.3.0 from a long time and it doesn't support D8 or R8 at all

[2020-05-26 09:20] #2194 closed

[2020-05-26 09:25] AKBIROCK3 opened #2195 "update android builder version"
**Describe the desired feature**
i wish you could update builder version from version 1.3.0 to newer one
https://github.com/mit-cml/appinventor-sources/blob/master/appinventor/lib/android/tools/builder-1.3.0.jar
the current one is outdated
i tried to update it myself but many classes were removed in the new version

[2020-05-26 09:31] AKBIROCK3 opened #2196 "add full support for aar files"
**Describe the desired feature**

hi i wish you can add full support for aar files
https://developer.android.com/studio/build/manifest-merge

**Give an example of how this feature would be used**
like in android studio all the tags in androidmanifest.xml in the aar will be transfered to the main project that will help reduce the time and the work while creating compnents by keep us away from add a

[2020-05-26 17:24] ewpatton commented on #2195
As you've pointed out, updating requires an investment of time and development resources as doing so is nontrivial. What's the case for updating the build dependency? The current version doesn't inhibit us from getting our work done.

[2020-05-26 17:26] ewpatton commented on #2196
@pavi2410 @barreeeiroo One of you may want to think about supporting this as part of your GSOC projects.

[2020-05-26 17:41] pavi2410 commented on #2196
I can take this up. But, does that mean that this should be added to the same design doc for the project I am currently doing?

[2020-05-26 17:45] ewpatton commented on #2196
@pavi2410 I would keep it separate so that it isn't on the critical path of the main part of your GSoC project. I would recommend you coordinate with @barreeeiroo because we have discussed refactoring the compiler logic to make updating it more manageable and this will have potential implications for that work.

[2020-05-26 17:50] pavi2410 commented on #2196
I got it! 👍

[2020-05-26 18:59] AKBIROCK3 commented on #2195
@ewpatton Thanks for your understanding but i disagree with you as you can see here
https://developer.android.com/studio/releases/gradle-plugin

there's so many changes and improvementss happend it would make app inventor generate more
optimized apps and open a door to many new features that developers can benefit from
Hope you think about it again

[2020-05-26 20:14] AKBIROCK3 opened #2197 "jetifier and D8"
**Describe the bug**

so i was adding the changes of #2034 and https://github.com/ewpatton/appinventor-sources/pull/13 to my project the i faced a problem jetifier requires to add lines in DexExecTask.java file which was removed in order to add D8 and it has no function
so where should i add the lines of jetifier ?
**Affects**

- [x] Buildserver

[2020-05-27 07:30] pavi2410 commented on #2197
It doesn't matter much except readability.

#2034 removed DexExecTask.java because D8 could run as a simple function just like other Android build tools used in the Compiler.java

ewpatton#13 added Jetifier into the DexExecTask.java because it doesn't use D8 and I felt it fit better there because that class is also responsible for pre-dexing.

[2020-05-27 08:16] AKBIROCK3 commented on #2197
THANKS for your reply could you guide me what i did is adding all the lines like you did

then add this line
`DexExecTask dexTask = new DexExecTask();`
to
`			    List<String> jetifierClasspath = new ArrayList<>();
    for (String path : JETIFIER_CP) {
      jetifierClasspath.add(getResource(JETIFIER_DIR + path));
    }
    dexTask.setJetifierClasspath(Joiner.on(File.pathSeparatorChar).join(jetifi

[2020-05-27 08:52] barreeeiroo commented on #2196
Yes, we can surely talk and coordinate for something after finishing the main parts of our GSoC projects.

[2020-05-27 15:59] AKBIROCK3 commented on #2197
UPDATE:Since i was trying to migrate to androidX i forget to add some jars for that the compile was fail but i fix it now but still there's a problem with jetifier i add all the lines but it doesn't load while building the app the code doesn't function at all

[2020-05-27 17:59] jerinjacob1999 opened #2198 "getExternalStorageDirectory() is deprecated in API level 29"
### Method getExternalStorageDirectory() is deprecated in API level 29
As per Googles [documentation](https://developer.android.com/reference/android/os/Environment#getExternalStorageDirectory())

android.os.Environment.**getExternalStorageDirectory()**

**Affects**
- [ ] Companion
- [ ] Compiled apps

[2020-05-27 18:23] #2198 closed

[2020-05-27 18:30] jerinjacob1999 commented on #2198
Please delete this issue

[2020-05-28 05:24] pavi2410 commented on #2197
I can't say for sure, because I lost track of the Jetifier PR. There are a couple of things left to do.

[2020-05-28 10:11] AKBIROCK3 commented on #2197
i see so you can't fix it anymore btw thnx for starting this great idea i'll try to fix it by myslf

[2020-05-29 16:42] pavi2410 opened #2199 "Represent spaces as dots in Text blocks"
**Describe the desired feature**

Spaces in Text blocks are often hard to read, especially when they are in the start or end of the text.  Due to the use of non-monospaced fonts, it is even more difficult to know how many spaces are there.

My suggestion is to represent spaces in the Text blocks with dots visually. These dots won't replace spaces but just indicate the presence of spaces.

In most

[2020-05-29 17:34] conorshipp commented on #2199
I feel like this could cause confusion for users that are seeing the dots for the first time, they might not understand why the dots are there. Some users also may not want this feature so if possible there should be a setting to toggle it.

6?

[2020-05-29 17:40] PeterMathijssen commented on #2199
I like the idea of @pavi2410 . Maybe you could make a kind of shadow dot like the shadow blocks in this proposition. https://community.appinventor.mit.edu/t/what-is-your-opinion-about-helper-blocks-in-app-inventor-gsoc-project-user-feedback/9057

We indeed have users who have problems with their blocks and just have some space character somewhere that you can not see.

[2020-05-29 17:49] halatmit commented on #2199
what happens in the case where I use the text of a label as part of the
interface to my app?
Do the dots show up only in the blocks editor, but not in the app or the
designer?

== Hal

Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Fri, May 29, 2020 at 1:41 PM Peter Mathijssen <notifications@github.com>
wrote:

[2020-05-29 18:28] ewpatton commented on #2199
I imagine we could implement this in a similar way to how word processing software has the option to show non-printable characters. This way it is a setting that is off by default (so as not to confuse people), but can be turned on for people who prefer the extra sanity check.

[2020-05-29 18:30] pavi2410 commented on #2199
Yes, this should be customizable by changing a user setting.

Yes, it is 6! 😁 (1 in the start + 5 in the middle)

---

Yes, the dots are for visualization purposes only.  The original text will still have spaces in it. Just the spaces will be rendered as dots.

There can be problem when the character we use for representing a space is the same as what the user would type. But it all depends on the

[2020-05-29 18:56] BeksOmega commented on #2199
Just noting that getting that to work would be a bit trickier than just creating a css selector. It would actually require building a custom field.

Blockly doesn't have /great/ css support atm, so text inputs actually have the same css class as label text. If we want to apply custom css to the /just/ text inputs we'll have to create a custom text-input subclass that appends an extra css class. An

[2020-05-31 16:36] conorshipp commented on #2189
According to this comment, it seems like the property was purposely not added to the ImageSprite
https://github.com/mit-cml/appinventor-sources/blob/ae1488696407a0e88f8e849fbec47ebc15969b41/appinventor/components/src/com/google/appinventor/components/runtime/Sprite.java#L395

If there is a specific reason why the property wasn't added, it might be useful to know before someone starts working on th

[2020-05-31 17:43] markconnolly commented on #2189
A different comment makes me think the reason might be more about just addressing the Ball request.

https://github.com/mit-cml/appinventor-sources/blob/ae1488696407a0e88f8e849fbec47ebc15969b41/appinventor/components/src/com/google/appinventor/components/runtime/Sprite.java#L152

Also, this is by no means an important request.  I can work around this in code blocks with my own offset calculations

[2020-05-31 20:38] espertus commented on #2189
See #1777 where @halatmit said:

[2020-06-03 16:56] AKBIROCK3 opened #2200 "run in Background Function"
**Describe the desired feature**
from a long time app inventor apps can't run in background once it's closed it stop
this prevent developers from creating new kind of apps with more features
so i wish you can make app inventor apps work in background or start with the phone

[2020-06-05 06:23] mikebarkmin opened #2202 "German translations for web-component are the same"
**Describe the bug**

The put and post-block are translated exactly the same in German:

Post-Block:
https://github.com/mit-cml/appinventor-sources/blob/c9c961e1895c44872bb7e0b2830de6593c6afc99/appinventor/appengine/src/com/google/appinventor/client/OdeMessages_de.properties#L345-L347

Put-Block:
https://github.com/mit-cml/appinventor-sources/blob/c9c961e1895c44872bb7e0b2830de6593c6afc99/appinvent

[2020-06-05 06:29] mikebarkmin commented on #2202
I also want to add that PostTextWithEncodingMethods would be better translated to SendeTextMitKodierung. Verschluesselung can be translated to Encryption, which does not suit the block.

[2020-06-05 06:31] mikebarkmin commented on #2202
I can create a pull-request, if these changes are ok for you.

[2020-06-05 20:33] ewpatton commented on #2202
@mikebarkmin We're managing our translations through https://weblate.appinventor.mit.edu. You should create an account there and then ping @SusanRatiLane so she can grant you access to the German translation.

[2020-06-06 03:45] PeterMathijssen opened #2203 "Documentation of compare texts block not complete"
**Describe the bug**

The compare texts block documentation at http://ai2.appinventor.mit.edu/reference/blocks/text.html#compare isn't complete. The not equal sign is not explained in the text.

**Affects**

- [ ] Designer
- [ ] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Debugging
- [x] Other... Documentation

**Expected behavior**

For a user all possible options of

[2020-06-06 08:15] mikebarkmin commented on #2202
@SusanRatiLane I have created an account (mikebarkmin). Can you please grant me permission?

[2020-06-08 06:01] xuwenbin opened #2205 "Make a list with text (string) blocks failed to save string values"
**Describe the bug**

The value(s) of "Text (string)" block in "Make a list" are not saved.

**Affects**

- [ ] Designer
- [*] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Debugging
- [ ] Other... (please describe)

**Expected behavior**

Strings typed in should be saved and restored after project is reopen.

**Steps to reproduce**

1. Drop a "Make a list" block onto d

[2020-06-08 08:45] PeterMathijssen commented on #2205
Hi @xuwenbin

I did just as you described but for me the strings are saved.
![Selection_999(1260)](https://user-images.githubusercontent.com/32273650/84010408-e3b7de80-a974-11ea-8918-77600020d30d.png)

Can you tell what version of App Inventor you are using?
http://ai2.appinventor.mit.edu/
http://code.appinventor.mit.edu/

Can you post an aia that shows this behavior?

[2020-06-08 09:42] xuwenbin commented on #2205
What browser are you using?
- Google Chrome Version 83.0.4103.97 (Official Build) (64-bit)

Can you tell what version of App Inventor you are using?
- I downloaded, complied and ran AI2 (the latest code) in my own Ubuntu server

Can you post an aia that shows this behavior?
- See below

[2020-06-08 10:25] PeterMathijssen commented on #2205
I tried your aia and followed the steps you took. Still working for me.

[2020-06-08 10:39] conorshipp commented on #2205
So... this is the same issue that we had at Kodular.

Here's what I found out after a bit of sleuthing:

After editing the text of a text block, you get an NPE in the Chrome Console. Once this NPE happens, all sorts of weird behaviour can be observed in the blocks editor.
![image](https://user-images.githubusercontent.com/25845449/84019848-c5a0ad00-a979-11ea-99e8-b9a428a7ace8.png)

The NPE is occu

[2020-06-08 12:13] #2203 closed

[2020-06-08 13:41] BeksOmega commented on #2205
Thanks for the ping @conorshipp ! Looks like an easy fix. I should be able to get a PR up today :D

[2020-06-08 13:53] xuwenbin commented on #2205
@BeksOmega @conorshipp thanks for the efforts. Am I supposed to get the fix in main trunk once you finish the PR?

[2020-06-08 13:55] BeksOmega commented on #2205
@xuwenbin It should be merged into the `master` branch, and then you'll be able to pull it :D

[2020-06-08 14:03] xuwenbin commented on #2205
Roger that, great thanks!

[2020-06-09 14:05] #2205 closed

[2020-06-12 02:05] #726 closed

[2020-06-12 02:05] #840 closed

[2020-06-14 10:09] AKBIROCK3 opened #2209 "Add changable value to meta data tag in androidManifest.xml"
hi so
i added this https://github.com/mit-cml/appinventor-sources/pull/2191 1
to my project i really liked it but what if i want to add a changable value ? like app ID to meta data ? so whatever i write in property transfers to meta data
how to do it ? is it possible ?

[2020-06-17 00:01] #2200 closed

[2020-06-18 16:41] ShreyashSaitwal commented on #679
Hi @josmas,
Do you have any plans regarding adding an annotation for using Service? Thanks.

[2020-06-18 17:04] josmas commented on #679
Hi @ShreyashSaitwal no plans at the moment.

@ewpatton is this worth adding, in your opinion? I don't currently have a use case for it, but can look into it at some stage.

[2020-06-18 17:19] ShreyashSaitwal commented on #679
@josmas
There's definitely no use case for this in the core system, but it could be very useful for extensions. I was working on an extension which needs to add some service tags in manifest, but since it's not currently possible, I'm unable to proceed further.
I'd greatly appreciate it if you could work on it.
Thanks.

[2020-06-18 17:47] josmas commented on #679
@ShreyashSaitwal this could be used in core too, what I mean is that I personally do not have an use case for it at the moment, unlike when I worked on broadcast receivers.

I don't see how you can be unable to proceed though, you have the sources, you can follow https://github.com/mit-cml/appinventor-sources/pull/703 and I'm sure people here can provide feedback and suggestions, so why don't give

[2020-06-19 04:27] ShreyashSaitwal commented on #679
At first, I was going to try it myself, but saw this issue and hence, pinged you.
Anyways, I'll give it a try now and reach out to you here if I faced any issues.
Thanks.

[2020-06-20 18:47] #1242 closed

[2020-06-22 18:46] ewpatton opened #2214 "Add ability to provide default text for notifier text dialog"
**Describe the desired feature**

Add the ability to specify the default text of a text prompt in the Notifier component.

**Give an example of how this feature would be used**

When the app requests information from the user, it can provide a default value for the user if there is one that makes sense.

**Why doesn't the current App Inventor system address this use case?**

There is no way to cur

[2020-06-24 19:42] BeksOmega opened #2216 "Deprecation in components works inconsistently"
**Describe the bug**

Each type of component feature (event, method, or property) reacts differently to deprecation.

Events: Nothing happens.
Methods: Marked as badBlock() and disabled.
Properties: Get a warning saying "Block is not defined. Delete this block!"

![Deprecation](https://user-images.githubusercontent.com/25440652/85619164-be82cb80-b616-11ea-8486-a802163b7ec1.png)

**Affects**
- [ ]

[2020-06-26 04:43] ShreyashSaitwal commented on #679
Hi @josmas,
I just recently created #2217 which adds annotations for Services as well as Content Providers. Will you please review it?
Thanks.

[2020-06-29 07:46] aryanrauniking opened #2218 ".aar Library Support For Extension"
From Many Days AppInventor Team Is Able To Add Support Of Many Features  ....Which Was Supposed To Impossible To For External component :/
But adding .aar support For Extension Will Be More Awesome :) If AppInventor Team Will Help To Add This Feature than It Would Be Great :)

[2020-06-29 13:47] ewpatton commented on #2216
@BeksOmega I agree. If you have time please go ahead and make a PR.

[2020-06-29 20:51] BeksOmega opened #2221 "Components as dictionary keys do not round-trip through JSON"
**Describe the bug**
If you add a component as a dictionary key, then serialize and deserialize the dictionary, you can no longer use the component to access values in the dictionary.

**Affects**

- [ ] Designer
- [X] Blocks editor
- [X] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Debugging
- [ ] Other... (please describe)

**Expected behavior**
I would still be able to use components t

[2020-06-30 20:07] josmas commented on #679
Hey @ShreyashSaitwal thanks a million for working on this; I see it's just merged. Congrats and thanks for the contribution!

[2020-07-01 03:12] wxbit opened #2225 "Validate exception after displaying mutatable menu"
**Describe the bug**

https://github.com/mit-cml/appinventor-sources/pull/2184

Test server: https://ai2-test.appinventor.mit.edu

![ezgif-2-e7300e95c9e5](https://user-images.githubusercontent.com/3827464/86198401-2347a400-bb8a-11ea-9d8e-a8c66f1d8a12.gif)

**Affects**

- [ ] Designer
- [x] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Debugging
- [ ] Other... (please de

[2020-07-01 12:25] ewpatton commented on #2225
@wxbit Thanks for the report. This should be fixed in #2220

[2020-07-01 12:45] ewpatton commented on #2221
App Inventor has no theory about serializing components, so this is to be expected. One challenge if we do eventually allow for serializing components is it might have security implications when used with components like CloudDB.

[2020-07-01 13:05] halatmit commented on #2221
I agree that serializing components could be tricky and that we should stay
away from this for now.

== Hal

Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Wed, Jul 1, 2020 at 8:46 AM Evan W. Patton <notifications@github.com>
wrote:

[2020-07-01 15:35] BeksOmega commented on #2221
I wonder if we could fake it so that from the perspective of people interacting with the blocks editor, it looks like the component is serialized, when really we're just serializing something that says "hey dictionary, look here to find that component".

For example if components had some sort of stringify-able UID, we could store that as a value in the Yail-side dictionary instead of storing the

[2020-07-01 16:10] ewpatton commented on #2221
Some form of UID would be good potentially. We have one on the design side but it's not included in the code gen. Some possible edge cases we'd have to think about include:

In the companion, I load project A and then serialize some data with Label1 to TinyDB
I open project B and read out data from TinyDB, but I don't have Label1. Or, by random chance that project has a different component with th

[2020-07-01 16:12] ewpatton commented on #2221
Another potential problem is that people might expect if they serialize "the component" that they are serializing its state rather than its identifier. We see this with people trying to write, say, a TextBox or Label to a TinyDB and then having the string come back as the Java serialized name of the component instance rather than the text of the textbox/label. Implementing this might cause further

[2020-07-01 16:50] ewpatton commented on #679
@josmas I'm going to close this for now as @ShreyashSaitwal's work has filled out most of the missing links. I think now we're just down to application-level metadata as a missing feature, which I don't think is that common.

[2020-07-01 16:50] #679 closed

[2020-07-02 09:56] ShreyashSaitwal commented on #1245
Hi @SusanRatiLane,
Are you still working on this?

[2020-07-02 16:40] BeksOmega commented on #2221
I open project B and read out data from TinyDB, but I don't have Label1. Or, by random chance that project has a different component with the same UID.

I think different people will probably have different preferences for this. But I like the behavior where it would just return the "not found" option. Or in the case that the dictionary is converted to a list, the Label1 value would be turned into

[2020-07-03 07:14] matrix1550 opened #2231 "Firebase Error: "Previous value was empty""
642/5000
Good morning
I wanted to ask for your help with this problem that has been presenting me several times while generating the apk in the inventor app 2

many times it works without problem but there are days or weeks where the same code generates the error "Previous value was empty" when try use firebase

then it can be solved without me doing anything it just works again,
I summarize my er

[2020-07-05 14:53] ShreyashSaitwal commented on #1245
@SusanRatiLane?

[2020-07-06 21:02] AKBIROCK3 opened #2232 "add ability to add strings in strings.xml"
**Describe the desired feature**
a feature to make us able to add custom strings to strings.xml file

**Give an example of how this feature would be used**
it would be used for firebase services it will help extensions developers
for example if you want to add firebase analytics or firebase auth you need to add strings from google-services.json file to strings.xml
without those strings the service

[2020-07-07 15:33] ewpatton opened #2233 "SourceStructureExplore causes jumping"
**Describe the bug**

When there are many components in the source structure explorer and the browser is not at the top of the page, selecting a component will jump the browser up the page, typically all the way to the top. This means that whatever the user was focusing has suddenly shifted in the display and makes the UI harder to follow.

**Affects**

- [x] Designer
- [x] Blocks editor
- [ ] Com

[2020-07-07 16:30] ewpatton commented on #2233
Link to original thread: https://community.appinventor.mit.edu/t/listboxes-scroll-up-to-top-automatically-when-selecting-items/2825?u=ewpatton

[2020-07-08 19:57] ewpatton opened #2236 "Bad UX for FieldFlydown on mobile"
**Describe the bug**

When developing an app on a touchscreen, one cannot hover over event/procedure parameters to open the flydowns. There is a workaround to drag in the "get" block from the Variables drawer, plug them in, and then change the variable.

**Affects**

- [ ] Designer
- [x] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Debugging
- [ ] Other... (please desc

[2020-07-08 19:58] ewpatton commented on #2236
@BeksOmega My guess is you would have a pretty good idea of how we could fix this given your work on fields in Blockly.

[2020-07-08 20:20] BeksOmega commented on #2236
Hmmm, well currently flydown fields have two modes (1) edit mode (triggered by click), and (2) flydown mode (triggered by hover), which are mutually exclusive:

![Hover](https://user-images.githubusercontent.com/25440652/86965661-be0d2900-c11c-11ea-9f23-426483970b47.gif)

So if we make it so that click/tap opens the flydown, people would have no way to rename their vars.

In my mind we have a two

[2020-07-10 16:38] BeksOmega commented on #2221
Was talking to Mr. Lyn about this yesterday and he also suggested just throwing an error/warning if a user tries to serialize a dictionary that contains things which cannot be serialized. This would at least inform the users that think components can round-tripped that they can't. And if we just threw an error we wouldn't have to worry about the edge cases of deserializing a component reference in

[2020-07-10 17:11] ewpatton commented on #2221
That’s probably better for now. We can always relax the restriction in the future. However, we should still have a way of serializing them for display (e.g., Do It) even if they won’t round-trip.

[2020-07-10 17:24] halatmit commented on #2221
sound like a good way to go, at least at the start

== Hal

Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Fri, Jul 10, 2020 at 12:39 PM Beka Westberg <notifications@github.com>
wrote:

[2020-07-11 13:46] halatmit opened #2239 "Speech to text fails on Acer Chromebook"
**Describe the bug**

This is on the Acer R13 Chromebook:  Trying to SpeechRecognizer.getText gives the error
No Activity Found to Handle Intent ..RECOGNIZE_SPEECH

The Chromebook settings have Google Assistant enabled (which is what I thought the problem was)
This is a 32-bit Chromebook.

**Affects**

- [ ] Designer
- [ ] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] D

[2020-07-12 16:13] #2233 closed

[2020-07-13 20:11] #2225 closed

[2020-07-14 17:04] indianplans opened #2242 "CloudDB Error."
**Describe the bug**

**Users may suspect that there was an error **

- [ ] Designer
- [ ] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Debugging
- [ ] Other... (please describe)

**There is no necessary to the Msg Box and Message Alert
![WhatsApp Image 2020-07-14 at 10 32 36 PM](https://user-images.githubusercontent.com/31260134/87454707-f7b0c900-c621-11ea-88e1-0840e1

[2020-07-14 19:49] ewpatton commented on #2242
@indianplans If you don't provide a token there is nothing for CloudDB to do and you really should just remove it then. What is your use case for not setting the token?

[2020-07-15 06:11] indianplans commented on #2242
Sir, I have set the Token and all the fields required for the CloudDB. This bug was not before, But from the last 6 or 7 days I see this error.

[2020-07-16 20:43] abhinavk99 commented on #1599
Is there any further insight about this? A family member is having the same issue.

[2020-07-16 20:46] ewpatton commented on #1599
@abhinavk99 What version of the project merge tool are you using? I was not able to replicate this issue in v1.2 ([link](https://appinventor.mit.edu/explore/resources/ai2-project-merger)). If you are having issues with 1.2, please send us the AIA files so we can further debug.

[2020-07-16 21:18] ewpatton commented on #1599
Thanks. I've used your projects to reproduce the issue.

[2020-07-17 00:28] AKBIROCK3 opened #2245 "implement manifest-merger"
First sorry cause this is my second time asking this
i wish you add support for manifest-merger
i've started learning how to create extensions recently and i've create some extensions
when i was trying to learn the most thing i hated is write activities lines and meta-data line from the aar
and sometimes i write it wrong while sometimes i need to decompile my app to check if it was correct or not

[2020-07-17 19:32] ewpatton commented on #2236
I'm not so sure about option 1 because I feel like the intents are quite different and probably shouldn't be tied to the same gesture. Long press could be an option, but I thought that is supposed to open the context menu (or initiate a drag of the block). What if we had single tap to open the flydown and double tap to edit?

[2020-07-18 19:03] BeksOmega opened #2246 "Procedure Flydown"
**Describe the desired feature**

Procedure names would act as a [flydown](https://github.com/mit-cml/appinventor-sources/blob/master/appinventor/blocklyeditor/src/field_flydown.js).

![procedures_defnoreturn](https://user-images.githubusercontent.com/25440652/87859998-86f20100-c8ee-11ea-9cbc-8b283d193f81.png)

When the flydown is opened it would contain a call block associated with the procedure.

[2020-07-18 19:08] ewpatton commented on #2246
I think this is fine to implement, but I don't think it will be as useful as it would first seem.

Flydowns really work for when you're grabbing the variable in a visually proximate location, such as the event parameters or a local lexical variable declaration. Given that procedures can be called from anywhere in the workspace, being able to mouse over the procedure name is of limited utility if i

[2020-07-18 19:36] BeksOmega commented on #2236
That could work! I think I want to leave this until a separate PR though since Mr. Lyn is currently reviewing the one I mentioned.

[2020-07-18 23:33] xuwenbin commented on #2169
@89lixx I encountered the same issue a year ago and solved it by changing exactly the same code you pointed out before. appengineHost.get() reads below setting in appengine-web.xml. It works like a charm.

<property name="appengine.host" value="localhost:8880" />

@ewpatton I'd like to submit a patch for that. Can you show me how to do that?

[2020-07-18 23:37] ewpatton commented on #2169
@xuwenbin If you want to make the change it should be straightforward enough with the GitHub UI. However, I need to emphasize that the App Engine dev server isn't really secure and you probably shouldn't be running it on port 80.

[2020-07-18 23:44] xuwenbin commented on #2169
@ewpatton thanks for the security alert. @89lixx you should be aware of this potential impact.

[2020-07-18 23:51] xuwenbin commented on #2169
@ewpatton submitted changes and pending for review.

[2020-07-19 09:48] dheerajjaggi commented on #791
Please let me us know how can we upload potentially a self-signed certificate while creating the APP.

[2020-07-20 08:40] pavi2410 commented on #2218
Duplicate of https://github.com/mit-cml/appinventor-sources/issues/2196

[2020-07-20 08:40] #2218 closed

[2020-07-20 08:43] pavi2410 commented on #2245
Duplicate of https://github.com/mit-cml/appinventor-sources/issues/2196.

I did my research on integrating manifest merger earlier and I will be working on that soon.

[2020-07-20 08:43] #2245 closed

[2020-07-20 23:50] BeksOmega opened #2251 "Local variables inside events not captured correctly"
**Describe the bug**

When a local variable is named to match an event parameter the variable is not captured correctly, so both identically named variables show up in the dropdown as selected.
![DoubleEnglish](https://user-images.githubusercontent.com/25440652/87997039-d5e39600-caa8-11ea-80de-44cdcbd844fa.png)

This does not happen if you normally nest local variables intializers, or put a local

[2020-07-21 09:01] pavi2410 opened #2253 "Make clear use of Components' type name in the code"
**Issue**

Some portions of code uses simple name (class name) of components/extensions and other uses FQCN (oackage name + class name) which makes it really hard to figure out which returns what. And the return type of String gives a sense of ambiguity because it can be anything, unless there is a well defined variable/method name to it.

For instance,

The `onComponentTypeAdded` callback method

[2020-07-21 14:13] SusanRatiLane opened #2254 "afterOrientationChange listeners for extensions"
Forum reference: https://groups.google.com/g/app-inventor-open-source-dev/c/QHBlzClp-u8/m/OGzP3pX_AAAJ

User requests ability to set listener to trigger after a screen orientation change.

A listener can be added that triggers before the change, but not after.

[2020-07-22 05:35] PeterMathijssen opened #2256 "Commentblock doesn't display the right width value after Do it."
**Describe the bug**

After a Do it the value displayed in the comment block isn't always the right one.

**Affects**

- [ ] Designer
- [x] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Debugging
- [ ] Other... (please describe)

**Expected behavior**

Commentblock always display the right value after a Do it.

**Steps to reproduce**

Open the companion and connect to a

[2020-07-22 06:34] PeterMathijssen commented on #2239
I  have an Acer CP311 series Chromebook and get the same result as Hal.

[2020-07-22 07:05] PeterMathijssen commented on #2256
I got this response from Mika.

![Selection_999(1366)](https://user-images.githubusercontent.com/32273650/88145258-73021400-cbfa-11ea-830c-8e5f5ed63d2c.png)

[2020-07-22 11:28] conorshipp commented on #2256
Is this related to #1370?

[2020-07-22 11:55] PeterMathijssen commented on #2256
It seems to be.

[2020-07-22 16:58] pavi2410 commented on #2253
https://repl.it/@pavi2410/AppInventorComponentNameClass

The above implements the idea of having a `ComponentName` type

[2020-07-22 20:46] BeksOmega opened #2257 "Empty property descriptions override previous non-empty descriptions"
**Describe the bug**
Empty (long) property descriptions override previous non-empty (long) property descriptions. This is bad because the long descriptions show up in documentation.

An example of this is the ScaleUnits property of the Map component:
[code]
The docs end up looking like [this](http://ai2.appinventor.mit.edu//reference/components/maps.html#Map.ScaleUnits):

**Affects**

- [ ] Design

[2020-07-23 14:07] fsyzty opened #2258 "login.php locale"
`<a href="/login/sendlink"  style="text-decoration:none;">${passwordclickhereLabel}</a>`

===================>

`<a href="/login/sendlink?locale=<%= locale %>"  style="text-decoration:none;">${passwordclickhereLabel}</a>`

[2020-07-23 14:19] fsyzty commented on #2258
`private void fail(HttpServletRequest req, HttpServletResponse resp, String error) throws IOException {
    resp.sendRedirect("/login/?error=" + sanitizer.sanitize(error));
    return;
  }
`
=========================>
`private void fail(HttpServletRequest req, HttpServletResponse resp,String locale, String error) throws IOException {
    resp.sendRedirect("/login/?locale="+ locale +"&error=" + URL

[2020-07-25 16:47] aryanrauniking opened #2259 "<Meta-Data> For Extension"
Is There Any Way That I Can Implement <meta-data >tag in AndroidManifest.xml Using Aix , If Yes Then How Can I Add It And If Not Then Can AppInventor Make It Possible Because It Really Need To Be Added🙂

[2020-07-26 07:52] pavi2410 commented on #2259
https://github.com/mit-cml/appinventor-sources/pull/2191

[2020-07-26 07:52] #2259 closed

[2020-07-28 14:44] ewpatton commented on #2258
@fsyzty We don't use the login page in production so this isn't a particularly high priority item for us to fix. If you want to go ahead and submit these as a PR then we can review and merge it.

[2020-07-29 07:54] xuwenbin commented on #2258
@fsyzty thank for locating this bug. Please submit a PR. For those who use local login page would be very thankful for this fix.

[2020-07-29 10:22] sarthakhanda commented on #2257
please allow me to work on this issue!

[2020-07-29 11:39] ewpatton commented on #2257
@sarthakhanda I'm fine with that assuming that @BeksOmega wasn't intending to do this (or already has it done).

[2020-07-29 13:48] BeksOmega commented on #2257
Yeah absolutely @sarthakhanda go ahead :D It would be great to get this fixed!

[2020-07-31 12:17] fsyzty commented on #2258
https://github.com/mit-cml/appinventor-sources/pull/2262  :).

[2020-08-02 12:59] pavi2410 opened #2264 "Change name of "My Projects" toolbar menu to "File" or something else"
**Describe the bug**

![image](https://user-images.githubusercontent.com/28837746/89123445-05ed5900-d4ed-11ea-89ee-8e916cc940a8.png)

The buttons highlighted in yellow are same, but the one in blue is different and therefore, should have different name to it to avoid confusion.

**Affects**

- [x] Designer
- [ ] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Debugging
-

[2020-08-03 15:16] 10MINT opened #2266 "And block does not look good with external inputs"
**Describe the bug**

The and/or block does not look good with external inputs
![grafik](https://user-images.githubusercontent.com/10596945/89197640-5081da80-d5ac-11ea-8bf1-b4f3a654f70b.png)

**Affects**

- [ ] Designer
- [x] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Debugging
- [ ] Other... (please describe)

**Expected behavior**

The blocks should look something

[2020-08-05 12:46] halatmit commented on #2239
I found this on stackoverflow
https://stackoverflow.com/questions/9479846/no-activity-found-to-handle-intent-act-android-speech-action-recognize-speech

Does it help?

Vipin's solution works. I personally used this as my APP_PACKAGE_NAME: com.google.android.googlequicksearchbox

So to recap the full solution you would do the following: (I modified it a little to first try the market:// scheme firs

[2020-08-05 23:23] BeksOmega commented on #2156
I'd like to take a look at this, but I'm having a bit of a problem. In the [mit-cml/blockly repo](https://github.com/mit-cml/blockly/tree/master/core) the flyout_horizontal and flyout_vertical files seem to exist. But in the commit checked out by this repo, it seems like they're still combined in the flyout.js file.

I think I want to make changes to the flyout_vertical.js to add a horizontal scro

[2020-08-05 23:36] ewpatton commented on #2156
Make sure you are looking at mitmaster instead of master. master reflects the Google master whereas mitmaster is the one we deploy for App Inventor.

Sent from my iPhone

[2020-08-06 05:18] #2173 closed

[2020-08-06 05:18] #2140 closed

[2020-08-11 15:10] pentanol2 commented on #861
Could you explain this point, which path do you mean ?

[2020-08-12 04:24] suryadevelope opened #2277 "Need help in creating workspace like appinventor"
hai

i am working to make a webpage to write program using blockly.

i used the following files to create the workspace:

* Blockly_compressed.js
* Blocks_compressed.js
* javacsript_compressed.js
* en.js

from the google blockly repository https://github.com/google/blockly

so i created workspace using

`Blockly.inject('divforworkspace',options);`

then i got the following workspace

https://commu

[2020-08-12 04:28] ewpatton commented on #2277
You've already asked about this in the community. It's not an issue with the App Inventor sources so I'm closing this.

[2020-08-12 04:28] #2277 closed

[2020-08-12 05:07] #2266 closed

[2020-08-12 05:08] #2257 closed

[2020-08-12 13:53] halatmit commented on #2239
After checking within Google, it seems that they've got implemented speech recognition on chromebooks in a way that can be used by appinventor.   They might be working on something,  but it's not there yet.

[2020-08-12 14:05] ewpatton commented on #2264
I'd be happy with the main button being "Projects" instead of "My Projects". However, there's also a few items on that menu not really related to projects, such as keystore management, but they're probably fine to stay.

[2020-08-12 15:42] ewpatton opened #2278 "Discuss cloning components a la Scratch"
**Describe the desired feature**

It's a relatively common request by users to dynamically create components. Scratch has a clone feature for sprites. What might a similar feature look like for App Inventor

**Give an example of how this feature would be used**

Students might use this feature to dynamically change what information is on the screen. It's also common for them to build games so havi

[2020-08-12 15:44] halatmit commented on #2278
+1

On Wed, Aug 12, 2020, 11:42 AM Evan W. Patton <notifications@github.com>
wrote:

[2020-08-12 18:51] #1599 closed

[2020-08-14 16:41] pavi2410 commented on #2278
Is this meant for cloning sprites in Canvas component or any component?

[2020-08-14 16:47] ewpatton commented on #2278
Sprites would be the easiest to start with since their positioning information is already user-editable in the blocks. For other components, we'd have to think about issues such as where the components appear in the parent, should they be allowed to have a different parent than the original, etc.

[2020-08-16 19:22] BeksOmega opened #2280 ""open another screen" block with a value of Screen1 works unexpectedly"
**Describe the bug**

<img width="362" alt="blocks" src="https://user-images.githubusercontent.com/25440652/90342055-ffb1af00-dfb9-11ea-8cc3-1b150787f374.png">

Whenever you call the open another screen block it pushes a new instance of the activity onto the activity stack. Usually the only problem this causes (afaik) is more memory use on the phone. But if a user calls it with a value of "Screen1

[2020-08-17 15:44] SusanRatiLane opened #2281 "Do not load extensions into the palette from simple_components.json"
When components appear in simple_components.json with type EXTERNAL should be ignored when loading component palettes. These are extensions that were present in the source code when the designer was compiled. They should only be imported from aix files by the user.

[2020-08-17 15:57] BeksOmega commented on #2281
I thought it wasn't possible to load extensions when testing on a local instance.

[2020-08-17 16:00] ewpatton commented on #2281
More specifically, we should check when the SimpleComponentDescriptor's getExternal() returns true, just in case we decide to allow for extensions to appear in other categories in the future.

[2020-08-17 16:09] SusanRatiLane commented on #2281
Importing extensions on a local instance works the same as in the production instances.

[2020-08-17 17:05] ewpatton opened #2282 "Allow sharing files from app private data directory"
**Describe the desired feature**

When using the Sharing component, allow files in the private app data directory to be shared. Currently, the ShareFile method prepends "file://" if the filename doesn't start with that, and tries to load said file. If "foo.txt" is written with the File component, it is written to the app private data directory. If this relative path is given to ShareFile, this att

[2020-08-17 17:17] ewpatton commented on #2281
Another thing that fits into this is some work I did to optimize App Inventor memory use wherein the SimpleComponentDatabase populated by simple_components.json is shared across all open projects/screens and each project has a separate SimpleComponentsDatabase specifically for its extensions. Having this split would help us understand when we are loading simple_components.json versus an extension,

[2020-08-17 20:29] patryk84a opened #2283 "Error in ListView component. Multiple selection of an item in the list."
**Describe the bug**

After selecting one item in the list, more items are checked (highlighted). This only happens when the list is longer and scrolls. Link: https://community.appinventor.mit.edu/t/listview-selection-color-is-highlighting-every-5th-item-in-list/6117

**Affects**

- [ ] Designer
- [ ] Blocks editor
- [x] Companion
- [x] Compiled apps
- [ ] Buildserver
- [ ] Debugging
- [ ] Other..

[2020-08-17 20:32] ewpatton commented on #2283
I believe this is fixed by #2170. @elatoskinas is my understanding correct?

[2020-08-17 20:35] patryk84a commented on #2283
Everyone thought so :). Unfortunately the problem is still in n184.

[2020-08-17 20:38] ewpatton commented on #2283
It hasn't been merged yet, so it not in that release.

[2020-08-17 20:45] patryk84a commented on #2283
Then I misunderstood the posts on the community saying that it should be fixed in n183 :). In that case, you can close and wait for the patch to be deployed :).

[2020-08-17 21:57] ewpatton opened #2284 "Implement a "contains any" text block"
**Describe the desired feature**

Add a built-in text block called "contains any" that takes a text and a list of texts (similar to the "contains" block) and returns true if any of the items in the list occur in the text.

**Give an example of how this feature would be used**

In the voice calculator, we need to check if the input text contains any of ["multiply", "product", "times", "*', ...]

**

[2020-08-17 22:06] BeksOmega commented on #2284
I can take this :D

[2020-08-17 22:08] ewpatton commented on #2284
@BeksOmega Go for it!

[2020-08-17 22:39] BeksOmega commented on #2284
If someone passes in an empty list, do you want it to return true or false?
<img width="356" alt="blocks (1)" src="https://user-images.githubusercontent.com/25440652/90450970-ade35480-e09f-11ea-9c87-53f78254d2e8.png">

[2020-08-17 22:43] halatmit commented on #2284
might be better to have this as an alternate form of contains, with a mutator to select it,
similar to how split is done with split at and split at any

[2020-08-17 22:44] ewpatton commented on #2284
I think the semantics should be for a given string S and a set of elements Q, ∃x∈Q x⊆S. Therefore, if |Q| == 0, the block is false because there isn't an element to be found.

[2020-08-17 22:45] ewpatton commented on #2284
@halatmit The challenge with that is that you can't pass a variable since we don't have a block equivalent to `apply`. This allows us to use any number of elements if they are stored in a list, which could be dynamically changed at runtime.

[2020-08-17 22:48] halatmit commented on #2284
I'm not sure I understand.  Wouldn't split have the same issue?

[2020-08-17 22:50] halatmit commented on #2284
@BeksOmega I think containsAny with the empty list should be false.   It's like having an OR with no clauses.

[2020-08-17 22:53] ewpatton commented on #2284
Double checked on the 'split' block. It uses a field rather than a mutator. Changing the field changes the second argument to "at (list)", which I think is acceptable for this block. When you said mutator I was imagining in my head something closer to the "add items to list" block, which uses a mutator to add more arguments to the block.

[2020-08-17 22:59] halatmit commented on #2284
Right.  That was a little hack I did with the split block.  When I wrote
"mutator" I wasn't remembering correctly.
== Hal

Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Mon, Aug 17, 2020 at 6:54 PM Evan W. Patton <notifications@github.com>
wrote:

[2020-08-19 14:28] suryadevelope opened #2287 "Need help in creating workspace with backpack and all others"
i need to create a workspace as appinventor ,so i have coded as below

1).injected a workspace then
2).made as below for backpack

`var opts={

	collapse : true,
	disable : true,
	trashcan : true,
	comments:true,

	css : true,
	rtl : false,
	scrollbars : true,
	sounds : true,
	setMetrics:{
		absoluteLeft:100,
		absoluteTop:10,
		contentHeight:100,
		contentTop:10,
		contentLeft:10,
		contentWidth:

[2020-08-19 14:31] suryadevelope commented on #2287
Actually what is this bind error and how to solve it..

[2020-08-19 16:37] BeksOmega opened #2288 "Block that takes a list of substrings and a string, then returns a list of substrings found in the string"
**Describe the desired feature**

From @PeterMathijssen [here](https://github.com/mit-cml/appinventor-sources/pull/2286#issuecomment-675895730):

**Give an example of how this feature would be used**

To be provided by @PeterMathijssen

**Why doesn't the current App Inventor system address this use case?**

This can be implementing using a procedure block, but it requires looping over a list, addi

[2020-08-19 16:39] BeksOmega commented on #2288
I think this is an interesting idea, but my one concern is how to represent this within the blocks language. Should it be added to the contains block as another option? Or should it be its own block? If it is added as an option, what would the display text be?

Once those things are figured out, it shouldn't be difficult to add (if desired).

[2020-08-20 03:39] PeterMathijssen commented on #2288
Hi @BeksOmega

**Usecase 1:**
Well i just thought of a practical case. Just say you want a user to type in a sentence during a quiz, and in that sentence you expect to find a number of words to indicate if a user has acquired the knowledge needed to proceed.

![image](https://user-images.githubusercontent.com/32273650/90713354-67f7dd80-e2a5-11ea-9855-225b705d02de.png)

With the contains any block

[2020-08-20 07:10] PeterMathijssen commented on #2288
I was thinking if this block could also be part of the contain family. What if we have another option in the dropdown menu called "contains any, return as list"?

[2020-08-20 08:40] sachin-0102 commented on #2283
If the issue is still open, Can I work on it

[2020-08-20 12:54] halatmit commented on #2288
Peter,

Those are good exampl, but I'd rather leave things so that contains (and
variants) return booleans.
What we're missing in App Inventor is a filter operation, as in Lisp or
Python.   So, for your example,
we would take the list of words (civil, war, slavery, ...) and filter it to
return the words that the sentence
contains.
We've been working on (and prototyping) the set of map, filter, red

[2020-08-20 12:59] halatmit commented on #2288
As I wrong above, I'd rather do this sort of thing with a filter operation.

== Hal

Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Thu, Aug 20, 2020 at 3:11 AM Peter Mathijssen <notifications@github.com>
wrote:

[2020-08-20 13:16] PeterMathijssen commented on #2288
Hi Hal,

Thank you for your comment. I educated myself on the concept of filtering
https://en.wikipedia.org/wiki/Filter_(higher-order_function)
And that is exactly what i was talking about. Would be great if we could do that for numbers and strings.

Peter

[2020-08-20 13:23] halatmit commented on #2288
We'll try to get this into App Inventor (also map and reduce).

== Hal

Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Thu, Aug 20, 2020 at 9:17 AM Peter Mathijssen <notifications@github.com>
wrote:

[2020-08-20 18:47] BeksOmega commented on #2283
Hello @sachin-0102 I think this issue has already been handled, but there are some other issues we would love help on! Anything tagged with [help-wanted](https://github.com/mit-cml/appinventor-sources/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22) is fair game. Since you were interested in this issue you might also like the [Add Patch method to Web Component](https://github.com/mit-cml/a

[2020-08-20 21:16] elatoskinas commented on #2283
Indeed, the fix is handled in that pull request

[2020-08-23 16:14] shreyashsaitwal opened #2290 "Outdated Android dependencies"
In the recent release, support for the **`androidx`** libraries was added. It was an overall nice change, except for the `androidx` libraries being very old. There might be no effect of this on the main repo, but for extension devs who need to access the newer Android APIs, this is a major issue. I've no idea why these old libraries were used instead of the newer ones. Do the new versions of these

[2020-08-24 19:19] pavi2410 commented on #2290
Old version (v1.0.0, to be precise) is a typical approach used to make the upgrade from Support libs to AndroidX possible without breaking code and finding unexpected changes in the API.

Now that AndroidX libs are being used, these libs can be easily upgraded.

[2020-08-25 05:02] ShreyashSaitwal commented on #2290
That sounds great! I'll submit a PR with updated libraries soon.

[2020-08-25 16:37] BeksOmega opened #2291 "Ev3GyroSensor should reset previousValue in setMode?"
**Describe the bug**

It seems that the Ev3GyroSensor should reset its previousValue to -1 inside its [setMode](https://github.com/mit-cml/appinventor-sources/blob/9638c167f559ad4b40fccd310ee5baf3ce6f76ad/appinventor/components/src/com/google/appinventor/components/runtime/Ev3GyroSensor.java#L178) function to match the behavior of the [Ev3ColorSensor](https://github.com/mit-cml/appinventor-sources

[2020-08-26 19:21] ewpatton commented on #2291
Thanks @BeksOmega. I think this is a trivial fix based on our earlier back and forth. However, until we can get access to the Ev3 hardware in the lab we can't really test it. Do you want to prep a PR? If not, please go ahead and mark this as help wanted.

[2020-08-27 16:24] seghier opened #2295 "Remove appname window"
Hello
please add option to remove or hide appwindow name when the finished app start.
your companion app already have this feature
always it take 2 seconds or more before the app start and it look bad

![gh](https://user-images.githubusercontent.com/6026588/91468437-5066b900-e892-11ea-8226-7275c57a01b4.JPG)

[2020-08-29 15:37] barreeeiroo opened #2298 "Cancelling asset deletion throws error"
**Describe the bug**

When you mistakenly hit "Delete" asset, and then click on "Cancel" to avoid its deletion, an error appears.
Asset does not get deleted, but the error pops.

`java.lang.IllegalArgumentException: node must be a YoungAndroidProjectNode`

**Affects**

- [x] Designer
- [ ] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Debugging
- [ ] Other... (please de

[2020-09-01 06:25] suryadevelope commented on #2287
how to create block workspace as app inventor not the design part need only blocks using javascript need a guide throw it

[2020-09-01 06:26] suryadevelope commented on #2287
@NeilFraser

can u help me with that please

[2020-09-01 13:40] ewpatton commented on #2287
I think we should continue this discussion on the forum as it doesn't actually pertain to the App Inventor sources.

[2020-09-01 13:40] #2287 closed

[2020-09-01 13:45] ewpatton commented on #2298
Yes, I think it's fine to remove the exception.

[2020-09-04 14:11] ewpatton opened #2305 "Component named quote breaks apps"
**Describe the bug**

[From the forum](https://community.appinventor.mit.edu/t/error-from-companion-attempt-to-invoke-virtual-method-java-lang-class-java-lang-object-getclass-on-a-null-object-reference/15679?u=ewpatton): Companion gives cryptic error about not being able to invoke `getClass()` on null object. The issue was due to a component being named `quote`, which I expect caused issues with t

[2020-09-04 14:12] ewpatton commented on #2305
We should think of other syntaxes that might be problematic, e.g., `if`, `def`, `define`, etc.

[2020-09-04 14:44] conorshipp commented on #2305
This seems straightforward to resolve. Can I self-assign this?

`if` has already been added as a reserved word so that can't be used but I also tested with `def` and `define` and they didn't seem to show the error.

I did find that "begin" is problematic but I'm yet to find any others.

[2020-09-04 14:45] ewpatton commented on #2305
@conorshipp Go for it!

[2020-09-04 18:21] #2298 closed

[2020-09-07 20:42] alanscot opened #2307 "BACKPACK has no scroll bars"
This is a major problem that makes the BACKPACK UNUSABLE!
 Please give it high priority.
The BACKPACK has no scroll bars !
And defaults to left justifying everything mostly off screen !

[2020-09-08 15:40] conorshipp commented on #2307
Duplicate of #2156

[2020-09-09 00:28] alanscot commented on #2156
Also look at --- if the browser is not fullscreen or if it is less than around 1000 pixels wide then the VERTICAL SCROLLBAR does not appear.
Current workaround is make the browser full screen or widen it enuf,  move the horizontal scrollbar all the way to the left   THEN click on the BACKPACK !

[2020-09-10 03:23] ewpatton opened #2309 "Translate contains any/contains all strings into zh_CN and zh_TW"
The new variations of the text contains block, contains any and contains all, need to be translated to Chinese as part of the CoolThink work.

[2020-09-10 03:24] ewpatton commented on #2284
Was merged and released in nn185.

[2020-09-10 03:24] #2284 closed

[2020-09-10 20:34] #2309 closed

[2020-09-11 20:01] ghost opened #2311 "Spelling mistake in README.md File."
**Describe the bug**
Spelling mistake in README.md file

Under Checkout dependencies:
"For developers who will be working on **Blocky** within the context of App Inventor"

![spelling](https://user-images.githubusercontent.com/65233229/92966647-8bbdd600-f495-11ea-882a-8c964820f83c.png)

**Affects**

Creates confusion among new contributors & ruins the aesthetics of Read-Me file.

- [ ] Designer
-

[2020-09-11 20:05] sarthakhanda commented on #2311
please review & approve it if the issue raised is correct, so i can link the pr.

[2020-09-18 14:58] ewpatton opened #2317 "String split behavior changes on Android 10+"
**Describe the bug**

Splitting a text with an empty string would result in a list starting with an empty string followed by each character in its own element. Apparently the split semantics changed in Java 8, and Android 10 is adopting the new semantics. Under the new semantics, the beginning empty string will no longer be present.

**Affects**

- [ ] Designer
- [ ] Blocks editor
- [x] Companion

[2020-09-20 15:35] halatmit opened #2318 "change the name of text-to-speech attribute"
Change from "available countries" to "available countries and regions"

[2020-09-21 23:13] #2311 closed

[2020-10-04 21:12] sarthakhanda commented on #2318
please confirm if the changes are requested here.

![avac](https://user-images.githubusercontent.com/71185918/95027157-099b8880-06b4-11eb-9cec-3d5b2270dc2c.png)

otherwise please elaborate on where are the changes requested.

Thanks!

[2020-10-06 04:17] HimaniKaul opened #2327 ""ShowStatusBar" checkbox in the properties panel does not work in check or in unchecked state."
**Describe the bug**
"ShowStatusBar" checkbox present in the properties panel does not hide or show the status bar when checked or unchecked.

**Affects**

- [x]  Designer
- [ ] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Debugging
- [ ] Other... (please describe)

**Expected behavior**
After fixing the bug users can hide or see the status bar in the designer as per t

[2020-10-06 16:17] Vishwas-Adiga opened #2328 "Adaptive icons have white edges"
**Describe the bug**
Adaptive icons often have white edges that are at most a few pixels wide.
![image](https://user-images.githubusercontent.com/28251020/95227673-028f8a00-081c-11eb-86cb-c9b3b9919e7c.png)

These edges are a result of the background layer of the adaptive icon being set to `#FFFFFF`. On square images, the edges appear only on the centres of the top, bottom, left, and right edges. O

[2020-10-06 17:15] ewpatton commented on #2328
It seems like option 2 would be easiest to implement and the fastest to verify and deploy. I think option 3 is a better long term solution.

[2020-10-11 03:36] RedstoneBlocks commented on #2278
A workaround is using Canvas component and drawing stuff to it, which can be done dynamically. You can also get gesture events such as dragging, taping, and flinging. It wont preform as well, and it takes 10 times longer to write, and has 10 times more bugs, but it can be done.

[2020-10-11 06:37] HimaniKaul commented on #2327
#2331

[2020-10-13 10:55] ChrisWard2k2 commented on #1433
I think this issue should be of higher priority because it is extremely difficult to layout other components properly.

related to:
https://community.appinventor.mit.edu/t/bug-designer-label-height-automatic-background-shown-wrong-size/18171/2

[2020-10-13 16:48] ewpatton opened #2333 "And/Or block has wrong infix labels after changing dropdown"
**Describe the bug**

[From the forum](https://community.appinventor.mit.edu/t/strange-or-and-behaviour-in-blocks/17778?u=ewpatton): Having an and/or block with > 2 inputs and changing the dropdown causes the and/or labels between inputs to change to true/false.

**Affects**

- [ ] Designer
- [x] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Debugging
- [ ] Other... (pl

[2020-10-13 20:22] ChrisWard2k2 commented on #1433
Well, wouldn't you know it, the TextBox component is unhelpful too. If you input multiple lines of text, even with the MultiLine option checked, only one line is displayed (to the width of the parent, so not the whole line). The component height setting has no effect.

[2020-10-21 18:27] #2333 closed

[2020-10-21 18:33] #2281 closed

[2020-10-24 07:38] patryk84a commented on #2317
In my opinion, the split from android 10 is better. Dlaczego android 9 dodaje pusty element na początku? Idąc tym rozumowaniem pusty element powinien też być na końcu. In my opinion, it is necessary to get rid of illogical behavior.

[2020-11-04 08:30] rupesh-kumar-lpu opened #2336 "Redesigned Status Bar of Designer"
**Describe the desired feature**

I would like to redesign the status bar as shown in the emulator below-
![statusbarMITnew](https://user-images.githubusercontent.com/46577873/98084247-8aab9280-1ea1-11eb-9bcc-dd1149b52081.JPG)

I believe it will enhance the look and feel of the design view. Two files need to be changed-

1.  https://github.com/mit-cml/appinventor-sources/blob/master/appinventor/ap

[2020-11-05 06:20] wxbit opened #2337 "Cannot read file in screen initialization event."
**Describe the bug**

Try to read the file when the screen is initialized, but the get text event did not trigger.

![image](https://user-images.githubusercontent.com/3827464/98191467-34e3f280-1f54-11eb-95f7-dde7dad19a4b.png)

After tracking the code, it is found that the screenInitialized tag is set after the screen initialization event, which determines whether other events will be dispatched.

[2020-11-05 07:40] ewpatton commented on #2337
We will need to determine the underlying cause of what you're seeing, but the code is correct here. If anything, the bug is likely in how permissions are handled. The file read operation happens on a different thread than the UI thread. Once the operation has finished the results are dispatched on the UI thread, which will have finished executing the blocks and set the initialized flag in the mean

[2020-11-05 07:59] wxbit commented on #2337
My fault. The cause of the problem is that the full absolute path is not supported.
Can only be:  /Download/test.txt

![image](https://user-images.githubusercontent.com/3827464/98213222-b3a25500-1f7f-11eb-9135-a9ee77e47b82.png)

[2020-11-05 08:16] wxbit commented on #2337
After further digging, I think we still need to set the flag before the initialization event. Otherwise, the error event will not be triggered.

![image](https://user-images.githubusercontent.com/3827464/98214920-14329180-1f82-11eb-9e1e-af0dfa777fac.png)
![image](https://user-images.githubusercontent.com/3827464/98214961-2280ad80-1f82-11eb-8ec5-6fd1e00689c8.png)

[2020-11-21 19:53] AMamdo7 commented on #2015
Hi all,
i 'm having an issue as i upload a FHD (1080x1920) images to be (Screen BackgroundImage) for a multiple screen app in app inventor but their quality get lowered automatically ,whether the sizing was Fixed or Responsive .is there a way or even a work around to get the original quality of the background?
note:
tested on AppInventor release nb186

[2020-11-25 16:44] nikzdreamer opened #2342 "Background Processes"
**Background process**
As Background process is one of the

**Give an example of how this feature would be used**

**Why doesn't the current App Inventor system address this use case?**

**Why is this feature beneficial to App Inventor's educational mission?**

[2020-12-01 16:24] #2107 closed

[2020-12-01 17:32] #2327 closed

[2020-12-01 20:42] #2305 closed

[2020-12-03 03:34] adnan0350 opened #2343 "yusufcihan Dynamic Components add"
pleass new update in yusufcihan Dynamic Components add in mit app appinventor-sources

https://github.com/ysfchn/DynamicComponents-AI2

[2020-12-04 03:05] rupesh-kumar-lpu opened #2344 "More than Sufficient classes in MainDexList produces Dex Error"
**Bug Description**
I doubted that more classes in the Main Dex List file (main-classes.txt)  produce errors as it must not exceed the 65k methods limit according to the official Android developer's documents(https://developer.android.com/studio/command-line/d8).

Testing with 8 Screens with some palette resources and setting dex verbose to true showed the following error.

![MainDexListCapacityEr

[2020-12-04 03:29] ewpatton commented on #2344
Can you provide an AIA file that exhibits the problem?

Sent from my iPhone

[2020-12-04 03:35] rupesh-kumar-lpu commented on #2344
Sure Here it is -
[CheckDex.zip](https://github.com/mit-cml/appinventor-sources/files/5640426/CheckDex.zip)
I added thousands of palette resources by automating a drag and drop task with this tool - https://www.murgee.com/auto-mouse-click/

[2020-12-07 17:16] ABasral commented on #2199
I have a solution in mind, instead of dots, we can just add a shadowed bar there, so there won't be confusion of dots and spaces will be clearly visible

[2020-12-07 17:42] ABasral opened #2345 "UI improvements on MIT app inventor website."
**Current Landing website of MIT App inventor has many bugs related to UI which can be improved and making it more clean and user friendly**

Current Website have issues like:
1.Buttons not properly aligned like learn more button on the banner, search button, more button on news and events cards, etc.
2. All the text is center aligned, which does not seem uniform, justifying text will create unifo

[2020-12-13 15:24] hypotyposis opened #2347 "Too big cache.js file in use."
I deployed the app inventor in manual way, it works well but one of the js files is too big(34MB actually). It takes decades for my backend to post it to frontend. the js file seemingly has not been compressed at all. I think compress it will greatly reduce its size thus i tried uglify-js but it doesn't work for me. Can anyone help me or give some advice?  Thanks a lot!

[code]

[2020-12-13 15:46] ewpatton commented on #2347
The default build creates a development build, not a production build. At a minimum, you should remove `<collapse-all-properties/>` from YaClient.gwt.xml. If you want to do more, you also need to add `-optimize 9` to the options in appengine/build.xml and change the mode from raw to simple in blocklyeditor/ploverConfig.js.

[2020-12-13 15:46] #2347 closed

[2020-12-16 05:00] Preet-Vadaliya commented on #1656
Dear Sir @ewpatton

I would like to suggest you to use MDC web component or MDL for design new app inventor design.

Basically my idea is we will make all panels using HTML panel(GWT) and load extra css and js file in our index.html so we can easily implement Material design in app inventor.

Thank you

[2020-12-16 14:41] Preet-Vadaliya commented on #2345
Can you explain bit more about problem because i have confusion between builder ui or landing page of MIT App Inventor.

[2020-12-16 17:17] Preet-Vadaliya opened #2350 "Material Design App"
## Describe the desired feature
My request is regarding implementation of material design in app inventor.

## How it different from current MIT App Them
### Dark Theme
![Screenshot_20201216-214142](https://user-images.githubusercontent.com/74655219/102381864-c2087580-3fef-11eb-90ca-261566c98243.png)
### Classic Theme
![Screenshot_20201216-213125](https://user-images.githubusercontent.com/74655219

[2020-12-16 18:08] ewpatton commented on #2350
@Preet-Vadaliya I'm not sure I understand what you are requesting here. On devices running Android 5+, the device default theme is Material UI. We use the appcompat themes, which will ensure that at each Android version the app will get the same theme as other apps on the device. We only default to Classic theme for backwards compatibility reasons.

[2020-12-16 18:36] Preet-Vadaliya commented on #2350
@ewpatton Sir
i am using Samsung Galaxy M01 with Android 10 my device default theme is not material design so that's why i open this issue.

basically what happened when i create app with device default theme the theme is material in stoke android but i can not see material theme in other device.

motorola g5s with device default theme == Material Theme
Samsung galaxy M01 == not material design

[2020-12-17 02:53] hypotyposis commented on #2347
thank you! It works for me. And, where exactly should i add `- optimize 9` to the appengine/build.xml pls?

[2020-12-17 03:09] ewpatton commented on #2347
Locate the line that mentions -style pretty and replace that with -optimize 9

Sent from my iPhone

[2020-12-18 11:26] ABasral commented on #2345
I am talking about the landing page of MIT App Inventor.
![Screenshot (722)](https://user-images.githubusercontent.com/32901089/102609709-fc8a2380-4151-11eb-85e7-0de4ae090a51.png)

[2020-12-18 11:31] Preet-Vadaliya commented on #2345
Thank you for responding.
@ewpatton sir I want to work on this issue.

[2020-12-18 17:48] Preet-Vadaliya commented on #2350
Dear Sir @ewpatton

Please look at the result;

### Device Default theme in Moto G5s
![Screenshot_20201218-230811](https://user-images.githubusercontent.com/74655219/102644154-57d60900-4186-11eb-9232-7333ab7e3322.png)

### Device Default theme in Samsung M01
![Screenshot_20201218-230948](https://user-images.githubusercontent.com/74655219/102644263-848a2080-4186-11eb-9b02-dbfadaa6cdd2.png)

### Con

[2020-12-19 12:05] pavi2410 opened #2352 "Disallow duplicate keys in Blockly editor"
**Describe the bug**

Dictionary in the blocks editor allows duplicated keys which could be possibly avoided by the blocks editor itself. This can create confusion among newcomers.

![image](https://user-images.githubusercontent.com/28837746/102688396-771f7580-421c-11eb-9f79-1d96deca00eb.png)

**Affects**

- [ ] Designer
- [x] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [

[2020-12-19 13:08] halatmit commented on #2352
The current behavior follows what Python does:

{'a': 3, 'b': 2}

It might be better to remain "bug compatible", especially if we're thinking about someday
interacting with Python libraries.

[2020-12-19 13:26] pavi2410 commented on #2352
There can be a case where there is a typo causes two keys to match exactly and hence, may result in unexpected behaviour.

IntelliJ shows a warning
![image](https://user-images.githubusercontent.com/28837746/102690408-3f6bfa00-422b-11eb-8cae-301d4bea8112.png)

Similarly, it'd be great if we could identify little mistakes in the blocks statically and report it to the user for them to take further a

[2020-12-19 14:04] ewpatton commented on #2352
Making this a warning could be useful. Documentation improvement is fine. I do think that more analysis would be better. It could make for a good GSOC project given that adding new warnings is very incremental so we just do as many as we can. We might want to create an issue to track common problems we would like to report to the user.

Sent from my iPhone

[2020-12-19 14:22] halatmit commented on #2352
Evan's idea sounds good.

[2020-12-19 16:06] BeksOmega commented on #2352
I think it would be better to prevent the user from connecting blocks this way, rather than displaying a warning. In my opinion, one of the coolest things about blocks languages is that you can prevent users from making static semantic errors before they even occur. This not only prevents users' code from ever being in a bad state, but it also allows them to learn what is and is not allowed with m

[2020-12-19 16:27] halatmit commented on #2352
Good thought by Beka.
Keep in mind that this can be done only when the keys can be checked
statically, e.g., when they are literals.

== Hal

Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Sat, Dec 19, 2020 at 11:13 AM Beka Westberg <notifications@github.com>
wrote:

[2020-12-21 17:38] ewpatton commented on #2352
That's the thing though, this scenario is valid code and the result is absolutely known and can be reasoned about. If a key is used multiple times, only the last value will be present as it effectively overwrites the existing mapping. I think it would be better for the type checker to not be involved with this because it's not an issue of typing. Having a warning is better like @BeksOmega notes be

[2020-12-21 17:40] ewpatton commented on #2352
On the latter point, we could automatically disable intermediate keys that are effectively no-ops because they'll be overwritten. This is similar to what IntelliJ does for setting a variable many times without ever reading it. However, we don't have a way to differentiate things automatically disabled due to semantic equivalence versus user-initiated disabling. We might want to modify Blockly to a

[2020-12-24 13:32] vermalisa11 commented on #2336
can i work on this issue?

[2020-12-25 01:40] rupesh-kumar-lpu commented on #2336
@vermalisa11 the PR #2227 is already in progress with the feature.

[2020-12-29 10:45] AndroidBuilder-ab commented on #1193
![screenshot-localhost-8888-login-1609238581807 (1)](https://user-images.githubusercontent.com/73874346/103278205-f2d5ab00-49f0-11eb-98fe-daf97bc2bae5.png)
we are facing this after adding the css and asstets but this code is not show the css files and assets

[2020-12-30 11:10] sajeedmehrab opened #2356 "Creating an API that takes in a project file (.aia file) and outputs an APK file."
I am working on a project that requires me to generate APK files from MIT App Inventor Project files (my_project.aia, for example).

I am aware that I can do this by uploading the aia file to the App Inventor Server, building the project, and downloading the apk. I have run the app inventor server locally and can hence perform this step offline as well.

I would like to make an end-to-end API wher

[2020-12-30 11:14] sajeedmehrab opened #2357 "List of all functionalities and components in the App Inventor Sources"
Which source code files are responsible for listing/generating all functionalities (blocks) for the components? The attached photo shows the functionalities for a button. Which source code files are responsible for all the components and their functionalities that we have in the appinventor website?
<img width="457" alt="app_inventor_functionalities" src="https://user-images.githubusercontent.com/

[2020-12-30 11:17] barreeeiroo commented on #2356
Yes, you are right, you can programmatically export AI2 projects as APK by providing the AIA file. Actually, that is how the Companion is generated: you generate it from command line using `ant PlayApp`, and not from the "standard web UI". See [this ant build target](https://github.com/mit-cml/appinventor-sources/blob/master/appinventor/buildserver/build.xml#L189) with the code that triggers the A

[2020-12-30 15:29] sajeedmehrab commented on #2356
@barreeeiroo Thank you so much!

I am getting a lot of compilation errors. Here's what I have tried:

I have built the project using ant from the appinventor folder. I have then tried compiling the Main.java file from the terminal using the javac command. The main error is caused by the absence of the package org.kohsuke.args4j. (package org.kohsuke.args4j does not exist)

I have also run the buil

[2020-12-30 19:41] rupesh-kumar-lpu commented on #2357
MIT App Inventor uses a separate block editor based on a javascript library called Blockly. Blockly Editor is responsible for reflecting the respected blocks based on the components added in the designer frame. [Here](https://github.com/mit-cml/appinventor-sources/tree/master/appinventor/blocklyeditor/src) you can find the sources for Blockly Editor.
You may join the official MIT App Inventor Comm

[2021-01-01 07:01] Preet-Vadaliya commented on #2357
Basically all components are present in **`components`** folder under **`com.google.appinventor.components.runtime`** package and **`components.js`** `appinventor/blocklyeditor/src/blocks/components.js ` file is responsible for convert java code into blockly blocks.

[2021-01-01 13:46] sajeedmehrab commented on #2356
@barreeeiroo
Should this [`ant build target`](https://github.com/mit-cml/appinventor-sources/blob/master/appinventor/buildserver/build.xml#L318) do what you have just mentioned?

I have tried running this with an input zip file (tried both .aia and .zip file). I get an error - "[java] SEVERE: Problem opening inout zip file: test.zip"

[2021-01-02 16:22] BeksOmega opened #2359 "FirebaseDB DeveloperBucket not available in designer (even though documented as available)"
**Describe the bug**

The [FirebaseDB documentation](http://ai2.appinventor.mit.edu/reference/components/experimental.html#FirebaseDB) states that there is a DeveloperBucket property that should be available in the designer, but this property is *not* available in the designer.

**Affects**

- [X] Designer
- [ ] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Debugging
-

[2021-01-02 21:21] tomer2526 opened #2360 "Block issue: replace all"
I recently discovered that if I try to replace the character: $ with the block replace all then it is not replaced (the character itself is deleted but not replaced with $), in addition if I attach the character ($) to the join block with a mathematical number I get an error.
My temporary solution is to use the character ＄ (this character is very similar to the $ character, but is less common - it

[2021-01-03 01:17] jonas-klein opened #2361 "Switch-Control design dont matches with Companion / has worng layout boundaries"
**Describe the bug**

When i place in the designer a switch-Control with a long text, the text don't takes a line break. If the "Width"-property of the control ist set to "Fill parent...", the description text breaks, but the size of the layout boundaries of the control remains to the old one. In the companion-app, the rendering is flawless. Refer to the screenshots at the bottom.

**Affects**
- [

[2021-01-04 14:51] ewpatton commented on #2360
I'm reclassifying this as a documentation issue for now. The replace all block allows for regular expressions, and the `$` is a special character indicating the end of the match. If you want to use `$` you need to escape it with a `\`, i.e., `\$`. This could be better explained in the documentation.

[2021-01-04 14:53] ewpatton commented on #2357
I think @Preet-Vadaliya 's answer is the one you are looking for. However, in the future these types of questions are better asked in our [open source community](https://community.appinventor.mit.edu/c/open-source-development/10). This issue tracker is only used for bug/features.

[2021-01-04 14:53] #2357 closed

[2021-01-04 14:55] ewpatton commented on #2361
I believe when @SusanRatiLane implemented this we knew that this was an issue at the time and it has to do with how GWT calculates (or rather, doesn't) the height of the label. This is something that we might be able to address during the UI work.

[2021-01-04 15:03] ewpatton commented on #2359
Thanks for the report @BeksOmega. This was "restored" when we moved to using automatic documentation generation. It's an internal API though and so we should make sure it isn't presented in the documentation. I did add an escape hatch of sorts in MarkdownDocumentationGenerator that allows us to remove properties from the output documentation. Short term fix would be to include DeveloperBucket ther

[2021-01-04 15:06] ewpatton commented on #2356
As mentioned this functionality already exists in the sources, so I'm going to close this issue as it is redundant. If you have further issues getting it to work in your environment please ask clarification questions in the [open source community](https://community.appinventor.mit.edu/c/open-source-development/10).

[2021-01-04 15:06] #2356 closed

[2021-01-04 15:06] SusanRatiLane commented on #2361
Yes, I remember this behavior, but I don't remember why it was challenging to fix. I'll get it in my queue to take a look.

[2021-01-04 15:10] ewpatton commented on #2345
We will take these items under consideration. The website is managed using a separate system, so I'm going to close this issue as it is unrelated to this repository.

[2021-01-04 15:10] #2345 closed

[2021-01-04 15:13] ewpatton commented on #2361
IIRC, the issue was that the size of the label is computed outside of its DOM hierarchy, which allows it to be "infinitely" wide, so its height is always 1 line of text. This is then used by our layout calculations to position the items following the label. However, when placed in context the label does wrap because its width is no longer "infinite", so it takes up more space than used in the layo

[2021-01-04 15:18] ewpatton commented on #2343
If we were to add functionality with similar effect as what the extension is trying to accomplish, we would likely make it built-in blocks rather than a component. If you need the functionality, just use the extension.

[2021-01-04 15:18] #2343 closed

[2021-01-04 15:20] #2342 closed

[2021-01-04 15:23] ewpatton commented on #2328
As a bit of background, when this was first implemented we discussed doing something similar to option 3 first but the timeline made it not feasible. If you want to take a stab at implementing that I think that'd be best.

[2021-01-04 17:43] Vishwas-Adiga commented on #2328
I'll try and work on it sometime this month and see if I can have a working solution 👍

[2021-01-05 15:59] jonas-klein opened #2364 "The blocks area did not load properly / Empty block area"
**Describe the bug**

When i load my project, there appears an error message: "The block area did not load properly. Changes to the blocks for screen ... will not be saved." (refer to the picture at the bottom. I've censored the code, i don't know if it contains sensitive information). I don't know, what i've did wrong. Yesterday, i saved my project and today, the errormessage appears and the bloc

[2021-01-06 04:05] importlogic commented on #2364
Hello developers,
I am new to open source and I already know Java and how to use Git and Github but I am not able to understand this project. Can anybody help me and point me in the right direction so I can know about the the technologies used in this project. I have been using MIT App Developer from a long time and now I want to contribute to this project.

[2021-01-11 09:30] Preet-Vadaliya commented on #2364
@importlogic

Project is using **`Java, JS`** as a programming languages.

[2021-01-11 20:07] SusanRatiLane opened #2365 "Global variable error when switching translations"
**Describe the bug**

User examples on this thread: https://community.appinventor.mit.edu/t/global-variable-error-in-korean-language/24211/17

Users report that the problem occurs only with certain evaluation order of global variable blocks. This is likely a code path we missed when fixing a similar-looking error when the last update to the Korean translation was rolled out.

**Affects**

- [ ] De

[2021-01-12 11:27] patryk84a commented on #2364
The error described here occurs when blocks that do not exist in the project have been added to the project. If there are expansion blocks in the backpack that are not in the design and we paste such blocks from the backpack then the design crashes. It is impossible to save the project, so no changes are made. It only helps to edit the AIA file manually and get rid of the bad blocks.
A similar err

[2021-01-12 11:30] patryk84a commented on #2361
I think that the view in the designer is not that important and will never be 100% identical to the view on the phone. A trivial thing.

[2021-01-12 12:04] patryk84a opened #2366 "Dragging on the canvas"
**Describe the desired feature**

Could someone take a look at the canvas component? The idea is to modify the component so that some event returns all the coordinates from touching the canvas to moving to releasing. There is a "when.CanvasDraged" event but it shows the position only after 15 pixels. Link to the topic on the forum:

https://community.appinventor.mit.edu/t/asking-for-the-canvas-dra

[2021-01-12 16:03] AnujSinghal12 commented on #2214
**My understanding of this issue:**
In the `textInputDialog` method in `Notifier` component, there is no way to define a default text which will be used in case the user of the application provides empty input.

**Proposed Solutions:**
1. Adding a separate block which will have all properties of the `ShowTextDialog` block with the added property `defaultText` which will specify the default text to

[2021-01-12 20:12] ewpatton commented on #2214
This is implemented in #2271 but hasn't been merged yet.

[2021-01-12 20:32] SusanRatiLane opened #2367 "Unit tests for ListView using Recyclerview"
ListView was reimplemented using Recyclerview as part of GSoC 2019. The new ListView needs unit tests.

[2021-01-13 12:16] bobanss commented on #2364
Only doable by to editing the AIA file manually!

[2021-01-13 14:14] #1903 closed

[2021-01-13 14:16] ewpatton commented on #2366
Per the discussion on the forum, I think the best course of action is to make the drag threshold a user-settable property with the default being the existing threshold for backward compatibility. This could be a good starter project for someone looking to contribute to App Inventor.

[2021-01-13 15:37] ewpatton commented on #2364
@jonas-klein If you have a sample project that exhibits the problem, it will help us to better understand how we can fix this issue.

[2021-01-13 15:45] tomer2526 commented on #2360
Got it, thanks for the explanation.  Is it necessary to close the issue?

[2021-01-14 11:36] peanutbutterandcrackers opened #2369 "Vagrant w/ libvirt"
Hey there!

I was trying to run a local version of this app using vagrant and libvirt. But I only managed to go so far. Any pointers would be much appreciated.

Here's the change that I have made to the Vagrantfile (so far):
[code]
And this is the error I'm currently stuck at:
[code]

I would appreciate any pointers regarding the matter. Thank you.

[2021-01-14 13:10] jonas-klein commented on #2364
@patryk84a

How is this possible? If im not mistaken, the aia-File is a binary one. Is there another programm,
in which i can open these files?

@ewpatton
I have already the work reconstructed on the basis of an older backup. You mean, i should upload the aia-File? Here it is. I've tried to send via serial bluetooth a null-char (0x00) to seperate two userinputs. The idea was to create a string-blo

[2021-01-14 15:47] bobanss commented on #2364
@ewpatton It's the same issue I've reported two months ago https://community.appinventor.mit.edu/t/broken-project/19594?u=boban

![bild](https://user-images.githubusercontent.com/5558402/104613269-5e717680-5687-11eb-88fb-4afd820c947a.png)

@patryk84a here you have a working one [Hauptuhr_Control.zip](https://github.com/mit-cml/appinventor-sources/files/5815393/Hauptuhr_Control.zip)

https://commun

[2021-01-14 16:12] ewpatton commented on #2364
@bobanss Yes I recalled seeing your post but wasn't finding it when I searched. I did some initial work on a fix at that time. I'll try to resurrect that work.

[2021-01-14 18:54] ewpatton commented on #2364
@bobanss @jonas-klein Potential fix #2370 deployed here: http://pr2370.ai2-ewpatton-temp.appspot.com/

[2021-01-14 21:08] bobanss commented on #2364
@ewpatton Works like a charm on Firefox..

[2021-01-15 04:50] Himanshu2107 commented on #2366
Hi,
I am new to MIT App Inventor and would like to contribute. @ewpatton Can you assign this issue to me?

[2021-01-15 05:28] peanutbutterandcrackers commented on #2369
Update:

The following change fixes this issue:
[code]

However, I have ran into further issues which aren't related to this.

I'm leaving this here for anyone who might want to run appinventor locally w/ libvirt.

[2021-01-15 05:28] #2369 closed

[2021-01-15 05:49] ColinTree opened #2371 "Code threatened by multithreading issues"
https://github.com/mit-cml/appinventor-sources/blob/cc121a481d7edd75878f24c3ccac70fa8584daa8/appinventor/appengine/src/com/google/appinventor/client/editor/simple/components/MockHVArrangement.java#L75-L84

https://github.com/mit-cml/appinventor-sources/blob/cc121a481d7edd75878f24c3ccac70fa8584daa8/appinventor/appengine/src/com/google/appinventor/client/editor/simple/components/MockHVArrangementHel

[2021-01-15 16:12] ewpatton commented on #2371
Technically there aren't any multithreading issues when run in the client because JavaScript is single threaded. However, I do think we should fix it with the proposed change. I actually have a branch for a different feature that switches to using generics so that the expected layout type can be specified so the cast is unnecessary.

[2021-01-15 16:13] ewpatton commented on #2369
@peanutbutterandcrackers You may want to consider submitting these changes as a PR so it will be easier for folks in the future rather than hiding it in a closed issue.

[2021-01-15 22:47] ewpatton commented on #2366
@Himanshu2107 Go for it!

[2021-01-16 14:17] peanutbutterandcrackers commented on #2369
@ewpatton - I am afraid I might need to tweak a few things before this is PR-worthy. I will submit a PR as soon as I am done figuring the current (my-machine-specific, I'm sure) issue that I'm struggling with.

[2021-01-16 14:59] jonas-klein commented on #2364
Yup, works like expected 🥇 nice, thank you

[2021-01-16 15:33] MartinHerraizH commented on #1150
I had a similar problem: "Previous value was empty" error when trying to append to in FireBase.
I discovered that the problem only happens when the firs item of the list of the existing content in FireBase (to which I tried to append) contained an space " ". Like when puting your name and surname together in a single text box.
I also observed that, when trying to retreive information from the data

[2021-01-17 06:14] hypotyposis opened #2372 "How to enable AI companion download link in self-deployed app inventor website?"
I have deployed App inventor on my own server. I noticed that a download link should appear when the `about AI companion` button clicked. In which way could I enable this link?

[2021-01-17 20:09] ArjunInventor commented on #1950
I found these - `flushAll()` and `flushDB` - that deletes all keys in the db. Is this the desired functionality? - https://www.javadoc.io/doc/redis.clients/jedis/3.0.0/redis/clients/jedis/BinaryJedis.html#flushDB--

[2021-01-18 00:54] shaurya0806 commented on #2105
can i work on this

[2021-01-18 06:20] hassanrehman01398 commented on #2105
Sure. We both can if you want.

[2021-01-18 13:05] sunkechenjing opened #2373 "Getting error java returned 1"
PlayApp:
     [java] 涓?鏈? 18, 2021 8:44:20 涓嬪崍 com.google.appinventor.buildserver.ProjectBuilder build
     [java] 淇℃伅: temporary project root: C:\Users\ADMINI~1\AppData\Local\Temp\1610973860682_0.2881151188770893-0
     [java] 涓?鏈? 18, 2021 8:44:20 涓嬪崍 com.google.appinventor.buildserver.ProjectBuilder extractProjectFiles
     [java] 淇℃伅: extracting C:\Users\ADMINI~1\AppData\Local\Temp\16109738606

[2021-01-18 19:25] ArjunInventor commented on #2282
@ewpatton Now that there is an [extension](https://community.appinventor.mit.edu/t/get-the-path-of-the-asd-app-specific-directory/17004) available to access the private app data directory path, would it still make sense to implement this in the `Sharing` component?

If yes, I can give this a try...looks like a good beginner-friendly issue for me to start with.

[2021-01-19 05:59] Preet-Vadaliya commented on #2373
Hi @sunkechenjing

Are you building app inventor first time in your local system ?

[2021-01-20 06:30] peanutbutterandcrackers opened #2375 "Broken symlinks"
I am [trying to get a locally hosted app inventor running on my machine w/ libvirt](https://github.com/mit-cml/appinventor-sources/issues/2369) instead of virtualbox. And because [the normal shared folder is not working properly](https://github.com/vagrant-libvirt/vagrant-libvirt/issues/1201), I had to [switch to rsync](https://github.com/vagrant-libvirt/vagrant-libvirt#synced-folders) instead of

[2021-01-20 06:34] ewpatton commented on #2375
You should be able to ignore these warnings. If it's a particular concern, try running `npm install` in your virtual machine to update them for your platform to see if that helps. The node modules are only used for running some of the unit tests and aren't critical for regular development work.

[2021-01-20 06:52] peanutbutterandcrackers commented on #2375
I see. Thank you very much! I will try it out right away (and close this issue afterwards)

[2021-01-20 07:21] peanutbutterandcrackers opened #2376 "ant: BlocklyCompile failure"
I'm following [these instructions](https://github.com/mit-cml/appinventor-sources#setup-instructions-vagrant) to [run appinventor w/ vagrant/libvirt](https://github.com/mit-cml/appinventor-sources/issues/2369). I went ahead, `vagrant ssh`-ed, and ran `ant`, and it fails at BlocklyCompile with the following errors:
[code]

I am certain that this is not enough information. Please do give me a few po

[2021-01-20 07:24] peanutbutterandcrackers commented on #2376
Ah! Here!

(so, basically `ant` is like `make`)

More info (output of `ant BlocklyTest`):
[code]

[2021-01-20 07:25] peanutbutterandcrackers commented on #2376
Wait... I think I missed some `git submodule`-related instruction. Looking at it again.

[2021-01-20 07:55] peanutbutterandcrackers commented on #2376
Okay. Done. I'd missed a `git submodule` instruction.

[2021-01-20 07:55] #2376 closed

[2021-01-20 07:56] peanutbutterandcrackers commented on #2375
Done. This issue does not affect running a local version of app inventor w/ vagrant/libvirt.

[2021-01-20 07:56] #2375 closed

[2021-01-20 10:13] peanutbutterandcrackers opened #2378 "Question: How to set rendezvous server on AI companion for self-host AI?"
Related to #2372, somehow, I suppose, but I am not sure.

[2021-01-20 15:42] #2373 closed

[2021-01-20 19:10] ewpatton opened #2382 "Compare texts not equal gives wrong answers"
**Describe the bug**

The compare strings block when checking for inequality returns false for the strings "0" and "0.0", which it should not (for example). [Original thread](https://community.appinventor.mit.edu/t/bugs-in-string-functions-split-at-and-compare/23633?u=ewpatton). This is due to the not-equals version mapping to `yail-not-equals?`, which invokes typecasting when potential numeric va

[2021-01-20 19:26] AnujSinghal12 commented on #2236
Has this issue been resolved? If not, I'd like to work on it.

[2021-01-20 20:26] ewpatton commented on #2372
You have to set the appropriate URLs at the bottom of YaVersion.java for those links to appear. In the future, you should ask questions of clarification in the [open source community](https://community.appinventor.mit.edu/c/open-source-development/10).

[2021-01-20 20:26] #2372 closed

[2021-01-20 20:33] ewpatton commented on #2378
In addition to running the rendezvous server code from under the misc directory, you need to specify the default rendezvous server in YaVersion.java and change the default rendezvous server in Screen1.yail of the companion you build. In the production companion, you can change the rendezvous server via the Settings menu item.

In the future, please ask clarifying questions in our [open source comm

[2021-01-20 20:33] #2378 closed

[2021-01-20 21:07] #2131 closed

[2021-01-20 21:07] #2365 closed

[2021-01-21 10:02] pavi2410 opened #2384 "Support default arguments in function blocks"
**Describe the desired feature**
Allow components and extensions to define default values for any/all/none of the parameters.

**Give an example of how this feature would be used**
This will ease the use of functions with many parameters. Users won't have to fill every parameter by themselves.

**Why doesn't the current App Inventor system address this use case?**
It does with the Notifier.ShowCho

[2021-01-21 10:09] pavi2410 commented on #2264
Fixed by #2279

[2021-01-21 10:09] #2264 closed

[2021-01-21 11:45] Vishwas-Adiga commented on #2384
It might also be worth looking into using shadow blocks for these default parameters

[2021-01-21 12:34] SuPythony commented on #2384
@Vishwas-Adiga
What are shadow blocks?

[2021-01-21 14:48] Himanshu2107 commented on #2366
I am getting an issue.
The variable was declared in inner class `MotionEventParser` as
`public static final int TAP_THRESHOLD = 15`
This value is used by `parse(MotionEvent event)` to determine whether it is a tap or a drag. To make this a user settable property
I had put `TAP_THRESHOLD` as `private int tapThreshold = 15` in the main class `Canvas` and updated references to `TAP_THRESHOLD` to `tap

[2021-01-21 15:30] ewpatton commented on #2366
App Inventor only sends a property if it is different from the default. You're probably running this with the production companion. Once you've built all of App Inventor (or at least run `ant PlayApp`), you will need to install the APK produced at `build/buildserver/MIT AI2 Companion.apk` on your phone in place of the version you get from the Play Store. In the `@DesignerProperty` annotation, make

[2021-01-21 15:34] ewpatton commented on #2384
We have previously discussed using shadow blocks among the team and the power users. At the time we decided against it. At the very least, there are a number of changes here that need to be made to support annotating this information in the parameters and storing that information in simple_components.json. Drawer.js will also need to be modified to accommodate this. We'll also want to change the e

[2021-01-21 15:35] ewpatton commented on #2384
Before anyone takes on this task I'd prefer that we discuss the design first w.r.t. the annotations and changes to simple_components.json.

[2021-01-21 15:40] halatmit commented on #2384
Should we be asking people to create design docs?

== Hal

Hal Abelson
hal@mit.edu
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Thu, Jan 21, 2021 at 10:36 AM Evan W. Patton <notifications@github.com>
wrote:

[2021-01-21 16:06] ewpatton commented on #2384
@halatmit Yes, I'd like to see a more formal document of what this will look like prior to investing a lot of time implementing it.

@pavi2410 Do you have concrete thoughts on this? I have my own and can start drawing something up.

[2021-01-21 16:12] pavi2410 commented on #2384
I do not have any concrete thought on this except a few ideas on the components side.

Here's how Thunkable X implements this using shadow blocks
![image](https://user-images.githubusercontent.com/28837746/105378152-86397f00-5c31-11eb-9152-410790e11071.png)

[2021-01-21 16:13] ewpatton commented on #2384
I've started a design doc here: https://docs.google.com/document/d/1is90WHxQxX3g6wiq46Vnzb6QkDeX1e4tw7X1bBk2-pk/edit#

[2021-01-21 17:23] pavi2410 commented on #2384
Could this be extended to support block properties as well? Or is it beyond the scope for now?

[2021-01-21 17:33] ewpatton commented on #2384
I'm not sure much if anything needs to be done for properties. We should be able to infer this information from the designer property default value and the type information for the property. I did a prototype of this back in 2017 in fact.

[2021-01-21 17:57] ewpatton opened #2386 "Select all projects checkbox"
**Describe the desired feature**

[From the forum](https://community.appinventor.mit.edu/t/suggestion-select-all-button-for-managing-projects/24506?u=ewpatton): It is suggested to add a checkbox in the upper left corner of the project list to select all projects, which could be useful for bulk emptying the trash, among other things.

**Give an example of how this feature would be used**

After rem

[2021-01-21 18:58] ewpatton opened #2387 "Refactor editor hierarchy"
The editor refactor in the IOT repository needs to be cleaned up and ported back to this repository in support of our Alexa work. This will allow us to bring that tech into the production system.

[2021-01-21 23:03] BeksOmega commented on #2384
Actually I think I did most of the work to support this last summer =) When I created the system to support dropdown blocks I tried to make it extensible enough so that new annotations could be defined and associated with new types of helper blocks (eg booleans, text inputs, etc). See my documentation on [Adding New Types of Helper Blocks to the Blocks Editor](https://docs.google.com/document/d/1c

[2021-01-22 04:03] AnujSinghal12 commented on #2386
Hi! I would like to work on this issue. Can you assign it to me?

[2021-01-22 04:05] ewpatton commented on #2386
@AnujSinghal12 Sure. The necessary changes should mostly be scoped to ProjectList.java under the appengine module.

[2021-01-22 16:05] Himanshu2107 commented on #2366
Yes, that was it. By installing the new app, the changes are running perfectly.

[2021-01-22 16:07] Himanshu2107 commented on #2366
Yes, that was it. By installing the new app, the changes are running perfectly.

[2021-01-22 16:29] Himanshu2107 commented on #2366
Before creating a pull request, I should first pull from upstream ucr and then push to my fork. After that I should create a pull request. Right?

[2021-01-22 18:17] ewpatton commented on #2366
I think your PR was fine with the exception of the fact that you merged `master` into your branch based on `ucr`. We typically only do that step just before a companion release. As long as you keep all of your component change logic based off `ucr` GitHub should resolve things correctly. You could try reverting 373c59d on your branch and then pushing that up to see if it will correct. If not, crea

[2021-01-22 18:24] ewpatton commented on #2384
@BeksOmega Your documentation I do think is helpful for the annotations piece, but I am imagining that these would not be new blocks but that the engine would construct the constructor block for the given type (logic_boolean, text, math_number, etc.) rather than defining a brand new block.

[2021-01-22 21:47] BeksOmega commented on #2384
Coolio, if I understand what you're saying, that should work fine! You'd just skip section 5 of the doc and move straight to section 6. For example:
[code]

[2021-01-23 14:20] ewpatton opened #2391 "Update python scripts to Python 3"
Since Python 2 is EOL we should update all of the supporting scripts in misc to run with Python 3. It would also be good for us to write up some documentation for those as well.

[2021-01-23 14:29] ewpatton opened #2392 "Contributor documentation"
We should have more documentation for potential contributors, especially with GSOC around the corner. This would also be good for on boarding UROPs.

[2021-01-23 15:28] ArjunInventor commented on #1838
@ewpatton Can I work on this?

I looked into the problem and here are my observations:
- HTML Canvas DOM object (which MockBall uses through GWTCanvas) when cloned does not preserve the contents of the Canvas itself. Therefore when the  `ClonedWidget` method is used, the cloned HTML Canvas element does not contain the contents of the original Canvas.
-  Similarly, in HTML Image DOM object, the pro

[2021-01-23 20:26] Himanshu2107 commented on #2366
The branch I worked on was created off master but it should have been created off ucr. So I had to create a new branch off ucr and make changes there. GitHub is now resolving things correctly. Thank You @ewpatton for your support.

[2021-01-25 05:02] ArjunInventor commented on #1838
This seems to solve the image reloading problem with `MockImage` and `MockImageSprite`. The image is no longer being fetched from the server each time the user drags the component. Please let me know if you'd like me to open a PR for this.

(MockImageBase.java)
[code]

[2021-01-25 07:17] ArjunInventor commented on #2123
If there is going to be both a `dictionary from json` and `list from json`, would the ideal behavior be for these blocks be to throw an error if:
- A JSON string with an Object as the root element is passed to the `list from json` block
(or)
- A JSON string with an Array as the root element is passed to the `dictionary from json` block

[2021-01-25 10:34] AnujSinghal12 opened #2394 "Only one project restored from trash even when multiple selected"
**Describe the bug**

The restore button in the Deleted Projects menu only restores one project at a time even when more than one projects have been selected. The restored project is the one which is selected first. I came across this bug while working on the issue number #2386
**Affects**

- [ ] Designer
- [ ] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Debugging
- [

[2021-01-25 11:01] AnujSinghal12 commented on #2394
Please assign this issue to me, I found the fix.

[2021-01-25 15:12] ewpatton commented on #2394
@AnujSinghal12 All set

[2021-01-25 15:16] ewpatton commented on #2123
More generally, the error should be raised when the type doesn't match what the block expects. Technically, `true`, `"a string"`, `5` are all valid JSON but clearly not parsable by the proposed blocks if you expect that a dictionary or list should be the result. This was one of the reasons we punted on having built-in blocks for using the web component since there is no expectation of what the ret

[2021-01-25 16:19] ArjunInventor commented on #2123
That makes perfect sense. Thanks, @ewpatton!

[2021-01-26 23:27] #2394 closed

[2021-01-27 07:00] ewpatton opened #2399 "Backport property categories from PUNYA"
Backport the grouping of properties by category from PUNYA. We should consider making this a setting controllable by the user.

[2021-01-27 07:02] ewpatton opened #2400 "Backport help icon for properties from PUNYA"
Backport the help icon for designer properties implemented for PUNYA to App Inventor.

[2021-01-27 13:57] hypotyposis opened #2401 "How to complete translations?"
I notice that App Inventor has offered many language translations. The Developers have done a good job. However, a few words are not translated yet. I want to do the localization job by myself. Take simplified chinese for example, it seems these 2 files——`OdeMessages.java` and `OdeMessages_zh_CN.properties`(both under `appinventor/appengine/src/com/google/appinventor/client/`) are related to trans

[2021-01-27 14:03] ewpatton commented on #2401
Please create an account at https://weblate.appinventor.mit.edu and then ping @SusanRatiLane with your username so she can grant you access.

[2021-01-27 14:49] ewpatton opened #2402 "Parameter moving under cursor cancels field editing"
**Describe the bug**

![6760a473e83aedae1db609b18aae8225ce4c483c](https://user-images.githubusercontent.com/1331253/106007597-7b914680-6084-11eb-9d71-446f2bb2ad9f.gif)

(GIF courtesy of @PeterMathijssen)

**Affects**

- [ ] Designer
- [x] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Debugging
- [ ] Other... (please describe)

**Expected behavior**

The flydown should n

[2021-01-27 16:40] ewpatton commented on #2189
I think it would be good if we do this to make it so that it can be an arbitrary point in the image sprite. Have a special property editor that specifies the origin in coordinates and then have a button that would show an indicator on the image itself that can be dragged to change the location. This would allow for specifying the location numerically (such as in the blocks) or visually in the desi

[2021-01-27 17:00] halatmit commented on #2189
This should be a property of the canvas (or possibly of the sprite -- need to think about this).
Along withs, the canvas coordinates should match standard cartesian coordinates with (0,0) at the center and increasing upward and to the right.

As a related issue, there should be a better algorithm for detecting when two sprites are touching.

[2021-01-27 17:34] Siddharth1010 commented on #2402
Hi @ewpatton, I would like to work on this. Could you please let me know which file this issue lies in?

[2021-01-27 18:46] ewpatton commented on #2402
@Siddharth1010 I haven't looked into it yet, but I expect that what needs to be done is in to add another check in field_flydown.js in `showFlydownMaker_` that tests whether `Blockly.WidgetDiv.DIV` is non-null.

[2021-01-27 18:47] ewpatton commented on #2189
@halatmit I think that's really a different issue, which should also be addressed but separately from the ImageSprite's origin.

[2021-01-28 04:56] Siddharth1010 commented on #2402
@ewpatton There does not seem to be a `Blockly.WidgetDiv.DIV` component in `field_flydown.js ` . I had added `Blockly.WidgetDiv.Div != null` in `showFlydownMaker_` . But on executing `ant tests` the Blockly tests seem to be failing.
![image](https://user-images.githubusercontent.com/59433969/106091735-050f4a00-6153-11eb-846b-58ce685ea5e4.png)

Also, I am unable to reproduce this exact issue using

[2021-01-28 07:46] pavi2410 commented on #2384
Question: Should we allow default values that are not primitive or complex?

IMO, we shouldn't. What is your take on this?

[2021-01-28 21:10] patryk84a commented on #2402
You need to add an input variable to the procedure. Click on that blue badge in the upper left corner of the block.

[2021-01-28 21:16] BeksOmega commented on #2384
Hmm I don't really have an opinion. But I am curious, why don't you think they should be allowed? Is it just for XML size reasons, or is it something else? Also, just to be clear, by not primitive/complex do you mean things like lists/dictionaries?

[2021-01-29 07:53] Siddharth1010 commented on #2402
@ewpatton @patryk84a , Yes I have added an input variable and I am able to recreate the issue. But isn't this issue related to `Blockly.FieldTextInput` as opposed to `Blockly.WidgetDiv.DIV`?

[2021-01-29 13:04] manavroX commented on #2105
can i work on this too?

[2021-01-29 15:30] ewpatton opened #2404 "Canvas can no longer be really big"
**Describe the bug**

[Power users group](https://community.appinventor.mit.edu/t/bug-large-canvas-crashes-companion-and-apk/25491?u=ewpatton): It used to be that the canvas could have really large width/height, but this is no longer the case. Making a large canvas crashes the app. This is due to the fact that in older versions of App Inventor we used software rendering but newer versions of App I

[2021-01-29 21:42] BeksOmega commented on #2402
Hi @Siddharth1010 =) The widget div is non-null whenever a text input field is being edited (the place where your text goes when you're typing is the widget div). So If you only want the flydown to open when a text input field is /not/ being edited, you should be able to use the widget div to check for that state. I hope that helps!

[2021-01-30 15:20] Siddharth1010 commented on #2402
Hi @BeksOmega , thank you so much :) . So logically, if we check `Blockly.WidgetDiv.DIV===null` (not being edited) in the `showFlydownMaker_` function, it should work. And it does, sort of. The problem is, now the flydown does not show up at all. Even if I am not editing the text field.

Fix:

![Peek 2021-01-30 20-44](https://user-images.githubusercontent.com/59433969/106360090-9d1c5780-633c-11eb-

[2021-01-30 15:29] BeksOmega commented on #2402
Hmmm you're right it looks like DIV never gets set back to null after it's created... maybe try the `Blockly.FieldTextInput.htmlInput_` instead? It looks like it gets [set](https://github.com/mit-cml/blockly/blob/99604ec642a36d202e04533076ddf80f6eb009dc/core/field_textinput.js#L185) and [unset](https://github.com/mit-cml/blockly/blob/99604ec642a36d202e04533076ddf80f6eb009dc/core/field_textinput.js

[2021-01-30 16:26] Siddharth1010 commented on #2402
@BeksOmega Yes  `Blockly.FieldTextInput.htmlInput_` seems to be working fine :)

![Peek 2021-01-30 21-49](https://user-images.githubusercontent.com/59433969/106361898-e4f3ac80-6345-11eb-9eac-9f6cb18b3a96.gif)

Shall I create a pull request?

[2021-01-30 17:28] BeksOmega commented on #2402
@Siddharth1010 I'm not an official maintainer hehe, but I'd say it looks like you're good to go!

[2021-01-30 17:38] Siddharth1010 commented on #2402
@BeksOmega Oh okay. Thank you for your help  :)

[2021-01-30 22:21] patryk84a commented on #2402
Will the fix work for other blocks as well?

[2021-02-01 14:28] #2402 closed

[2021-02-01 14:35] #2386 closed

[2021-02-01 16:27] ewpatton opened #2407 "Update TokenAuth"
PR #2406 added new fields to TokenAuth, but the Java file was not updated due to dependency issues. Once the dependency issues are resolved we should update the Java code.

[2021-02-01 21:50] BeksOmega commented on #2402
Yeah it should fix all of the relevant blocks because the fix is in the root cause (the field). So you should be good! Be sure to write back if you find anything else that isn't working though :D

[2021-02-02 23:53] ewpatton opened #2408 "Dictionary constructors coerces list-of-lists to dict"
**Describe the bug**

[Forum post](https://community.appinventor.mit.edu/t/problem-with-dictionary-of-list-of-lists/25850/2?u=ewpatton): Passing a list-of-lists as a value in the dictionary constructor converts it into a dictionary unexpectedly. Using a set block to update an empty dictionary does the correct thing (storing the list in the dict).

**Affects**

- [ ] Designer
- [ ] Blocks editor
-

[2021-02-03 04:50] AnujSinghal12 commented on #2408
Hi I'd like to work on this issue, could you assign it to me?

[2021-02-03 14:39] ewpatton commented on #2408
@AnujSinghal12 Go for it!

[2021-02-03 18:51] SusanRatiLane opened #2409 "App not working in newer tablts"
**Describe the bug**

 that the attached project worked on some older tablets (Galaxy Tab A (2016) SM-T280 Android 5.1.1) but not on other new ones (Galaxy Tab A SM-T510 Android 10).  Specifically the ListView did not show and the Gallery image upload page did not work on the newer tablet.  I am not sure what is going on but given that we have recommended the latter tablet for the entire Hong Kong

[2021-02-03 19:43] AnujSinghal12 commented on #2408
There are 3 constructors for `makeDictionary` in YailDictionary.java under components , to test out which one help the bug I replaced then with methods which return an empty dictionary. This did not change anything in the app i was using to test (I'm using the same app as the one used in the forum thread), it they still returned the same Dictionary as it was doing prior to me editing the code to r

[2021-02-03 20:05] ewpatton commented on #2408
runtime.scm invokes `makeDictionary(List<Pair>)`, and looking at that method it branches if the list is an alist. My guess is that we want to eliminate that branch and always take the else condition.

[2021-02-04 00:23] BeksOmega opened #2410 "Combine createAllComponentBlocks and componentTypeToXMLArray in drawer.js"
**Describe the bug**

These functions basically do the same thing. The only difference (as far as I can tell) is that componentTypeToXMLArray passes the `is_generic: true` property to the mutator attributes. They should be combined to keep the codebase DRY.

My recommendation for people that want to work on this would be to create a single function that takes in an isGeneric parameter, which you c

[2021-02-04 06:45] Siddharth1010 commented on #2410
Hi @BeksOmega :)
I cant seem to find `createAllComponentBlocks` in `drawer.js file`. Is it in another js file by any chance?

[2021-02-04 07:02] Siddharth1010 commented on #2410
Oh wait did you mean `blockTypeToXMLArray` ?
What I understand is, instead of using a separate function like `blockTypeToXMLArray`  , we could implement it inside `componentTypeToXMLArray` as the `is_generic` paramter is true anyway.

Please correct me if I'm wrong

[2021-02-04 21:17] BeksOmega commented on #2410
Oh sorry @Siddharth1010 ! Apparently I moved all of the logic [here](https://github.com/mit-cml/appinventor-sources/blob/4a41f72de4c39d7150d7b2f6a978ff809b79e80e/appinventor/blocklyeditor/src/drawer.js#L261) into a `createAllComponentBlocks` function as part of my [dropdown blocks work](https://github.com/mit-cml/appinventor-sources/pull/2301). But that isn't merged into ucr yet hehe. It has been

[2021-02-05 14:43] Siddharth1010 commented on #2410
Oh that's alright. No worries :)

[2021-02-05 17:51] sakshi-1604 commented on #2391
I am on it.

[2021-02-06 13:29] RajaHarshVardhanSolanki commented on #2384
I want to give a proposal to the developers, It is very useful feature in Extension making, Set a default value of Property Blocks in @DesignerProperty.

[2021-02-08 21:41] BeksOmega opened #2412 "Drag and drop media file to create asset helper block"
**Describe the desired feature**

Add the assets helper block to the workspace when the user drags a file from the media container (in the blocks tab, not the designer) to the blocks workspace.

Requested in [this forum post](https://community.appinventor.mit.edu/t/what-is-your-opinion-about-helper-blocks-in-app-inventor-gsoc-project-user-feedback/9057/59?u=beksomega).

Dependent on #2301

**Give

[2021-02-09 05:39] PeterMathijssen commented on #2412
What I would like is if you can drag an asset from the media pane, that when the assets block is generated the file that was dragged is the file visible in the block.

[2021-02-10 17:38] kmryashasvi commented on #2360
You can close it if your motive of creating this issue is completed or if you dnt need any further improvement on this issue.
@tomer2526

[2021-02-10 18:37] BeksOmega commented on #2360
Please don't close this! As far as I know the documentation still needs to be updated.

But in general @kmryashasvi 's advice is correct =)

[2021-02-11 19:52] ewpatton opened #2413 "Update robolectric to the latest version"
The version of robolectric we use seems to be accessing some internal data structure in the JVM that isn't consistent across point releases. This causes tests to break on newer versions of the JDK. Our version of robolectric is pretty old and also doesn't have support for emulating newer Android APIs. We should consider updating robolectric to address these issues.

[2021-02-12 18:14] SusanRatiLane commented on #2413
Is this related to the test fails from https://github.com/mit-cml/appinventor-sources/pull/2299?

[2021-02-12 18:15] ewpatton commented on #2413
I think it's an unrelated issue.

[2021-02-20 06:34] PrakashRaj37 opened #2415 "Which database is used to store login and project data in app inventor 2"
Which database is used to store login and project data in app inventor 2 and where and how the database process work.

[2021-02-20 19:01] adityaofficial10 commented on #2391
Hey @ewpatton!
Can I work on fixing this issue?

[2021-02-22 21:57] #2216 closed

[2021-02-23 15:36] #2415 closed

[2021-02-23 15:39] ewpatton opened #2416 "Investigate bad YAIL generation"
**Describe the bug**

[From the forum](https://community.appinventor.mit.edu/t/why-this-error-source-and-target-classes-must-be-identical/27312?u=ewpatton): Connecting to companion gives an error "Source and target classes must match". Looking at the project structure, the $Name property on the screen is different from the .scm/.bky file name.

**Affects**

- [ ] Designer
- [ ] Blocks editor
- [x]

[2021-02-23 16:59] ewpatton opened #2417 "MockLabel does not reflect custom background color"
**Describe the bug**

Power user Chris Ward reports that the MockLabel does not reflect alpha channel specified in the background color. The label does appear correctly in the app.

**Affects**

- [x] Designer
- [ ] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Debugging
- [ ] Other... (please describe)

**Expected behavior**

The alpha channel should apply in the desig

[2021-02-23 17:53] AnujSinghal12 commented on #2417
Hi! I would like to work on this issue. Could you assign it to me?
I think the changes are to made in `setWidgetBackgroundColor` function in `MockComponentsUtils.java`. Correct me if I am wrong.

[2021-02-23 23:12] ewpatton commented on #2417
@AnujSinghal12 Yes that is my understanding as well. Please go ahead.

[2021-02-25 13:24] RajaHarshVardhanSolanki opened #2418 "Add Try To Catch The Exception"
**When the user use GET, POST, DELETE methods when the internet off it show the error.**

**Affects**
User get the internal function of the app, That is How the app works?

- [ ] Designer
- [ ] Blocks editor
- [ ] Companion
- [x] Compiled apps
- [ ] Buildserver
- [ ] Debugging
- [ ] Other... (please describe)

**Expected behavior**
Not Get The Notifier from the web component directly, Instead of E

[2021-02-25 17:02] puravidaapps commented on #2418
it seems to be, you forgot to use the Screen.ErrorOccurred event... because there you can catch that error...
btw. next time you first might want to ask in the community before opening an issue at Github...
Taifun

[2021-02-25 17:13] RajaHarshVardhanSolanki commented on #2418
Thanks I Forgot About That Event Completely.

[2021-02-25 17:13] RajaHarshVardhanSolanki commented on #2418
Thanks I Forgot About That Event Completely.

[2021-02-25 17:14] #2418 closed

[2021-02-26 19:50] ewpatton opened #2419 "If autoload is off, projects cannot be exported until at least one is opened"
**Describe the bug**

A teacher reported that projects cannot be exported from the project list if autoload is off until at least one project has been opened.

**Affects**

- [ ] Designer
- [ ] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Debugging
- [x] Other... (please describe)  Project list

**Expected behavior**

If autoload is turned off, checking a project and s

[2021-02-27 05:14] Himanshu2107 commented on #2419
Hey, I would try to look into this. Please assign me this issue.

[2021-03-01 12:39] riya1606 commented on #2392
Hey! I would love to contribute to this amazing community and I have a few suggestions too:-
1) We need proper documentation for beginners who wish to contribute.
2) We need a forum (preferably on the website itself) making it easier for beginners to introduce themselves and contribute to the community. This way they can know what issues they can work on.
3) We could also work on the user experien

[2021-03-01 13:21] riya1606 commented on #2392
Hey! I would love to work on this issue.  I have a few suggestions other than this:-
(1) We could have a separate category in the forum for Documentation so that it becomes easier for new contributors to go and read them and familiarise with the code base.
(2) We could add a few tags for already existing issues such as good first issue to make it easier for beginners to work with them.
(3) The use

[2021-03-01 13:26] riya1606 commented on #2392
We can also add links to specific part of repository (for eg: codebase for the website of MIT App inventor) so that it saves time of the developer. I faced a similar problem. I tried looking for the website code and I was unable to find it.
In general we should keep in mind the user experience :)

[2021-03-01 23:12] ewpatton commented on #2392
I have a rough document for most of these things.

I'm weary of putting documentation on the forum. We've already moved the community twice at this point. I would much rather that documentation be versioned with the sources so that one gets the appropriate documentation for a particular version of App Inventor.

We already have this. Anything tagged help wanted is a good starting point for people

[2021-03-02 05:03] znyrpavithra opened #2422 "Deploy in Google appengine"
your-appengine-SDK-folder/bin/appcfg.sh -A <your-application-id> --oauth2 update appinventor/appengine/build/war.
   In the above command, which folder is referred to as "your-appengine-SDK-folder"?

[2021-03-02 05:09] ewpatton commented on #2422
appcfg.sh is no longer supported by Google. You should switch to using `gcloud app deploy` instead (see Launch the server in [this document](https://docs.google.com/document/d/1JvexwXOQ4wW2Cccfyq3z83fXklP7Ob_1jPmMdxsv8WM/pub)). In the future, please ask clarifying questions in the open source community rather than opening an issue.

[2021-03-02 05:09] #2422 closed

[2021-03-03 17:45] jisqyv opened #2423 "Need to Re-write the POP_FIRST_SCRIPT (LUA Script) used by CloudDB"
<a id="org7d01aab"></a>

# TL;DR

We broke (slightly) CloudDB when we introduced dictionaries.

Read on for the nitty gritty details.

<a id="org632c49e"></a>

# Background

We use Redis software to implement CloudDB storage. The CloudDB server
itself provides a front end that enforces confidentiality (aka
encryption in transport) as well as isolation between users (so you
can only mess with your

[2021-03-04 06:43] znyrpavithra opened #2424 "How Api calls works?"
How api calls like ode/userinfo and ode/projects works? If all of them are post requests, what data is sent? Can anyone explain them?

[2021-03-04 10:55] samsu007 opened #2425 "In which file api's are written and how the process work ?"
In which file api's are written and how the process work ?
1. user information get api
2. project list api
3. components update api
4. new user add api

[2021-03-04 13:49] ewpatton commented on #2424
The calls are made via GWT RPC and encode the function and its arguments to be executed on the server. In the future, please ask any clarifying questions in the [open source community](https://community.appinventor.mit.edu/c/open-source-development/10).

[2021-03-04 13:49] #2424 closed

[2021-03-04 13:50] ewpatton commented on #2425
You'll find the implementation of most of these in either CommonProjectService.java or YoungAndroidProjectService.java. I'm not sure what you mean by "components update api". For future clarifying questions, please ask them in the [open source community](https://community.appinventor.mit.edu/c/open-source-development/10).

[2021-03-04 13:50] #2425 closed

[2021-03-05 20:42] jisqyv commented on #2423
In response to my last question in the comment above. Yes: I can hack the server... :-)

[2021-03-08 08:09] znyrpavithra opened #2429 "Is it possible to render the whole appinventor site inside an iframe"
Is there any other way to view the whole site inside an iframe to render it in another page. For example, we have already deployed the appinventor sources in appengine and it is running in web browser. Now, can we use the url of the hosted service in iframe src ?

[2021-03-08 15:47] ewpatton commented on #2429
I have replied to your post on the community site. Please only report actual issues with the sources here.

[2021-03-08 15:47] #2429 closed

[2021-03-08 16:18] ewpatton opened #2430 "Buttons do not handle newlines correctly in non-Classic theme"
**Describe the bug**

Buttons do not handle line breaks correctly in the companion when changing themes, as reported [here](https://community.appinventor.mit.edu/t/multi-line-button-issue-with-theme-dark-device-default-works-only-with-classic/28047?u=ewpatton) by power user Anke.

**Affects**

- [ ] Designer
- [ ] Blocks editor
- [x] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Debugging

[2021-03-08 18:48] ewpatton commented on #2430
Further discussion indicates that this seems to affect mainly Samsung devices of Android version greater than 5.

[2021-03-09 20:51] AnujSinghal12 commented on #1099
I've noted that this same issue is also present in other components which show text. The ones I've found to be affected by this issue are `Button`, `TextBox`, `ListPicker`, `CheckBox`. There could be more too.

[2021-03-09 21:14] ewpatton commented on #1099
Many of these have shared base classes, so the problem may not be as prevalent as it seems. For example, MockButtonBase is the superclass of many of the button-like objects (Button, ListPicker, etc.) and so making the change there will eliminate it across a range of components. I'd definitely take a look at MockButtonBase, MockToggleBase, and MockTextBoxBase for starters.

[2021-03-10 09:07] preetvadaliya commented on #2430
I faced same issue while working with android studio and Samsung device on that time i tried this code to overcome problem may be it help us to solve issue....

[code]

[2021-03-10 09:54] Shipyde opened #2431 "Implement another event("If Changed"-block) for the input field"
Hey,
Could you implement another "If" block with the function that whenever a new input is made something should be executed for the input field.

Such a function is somewhat missing for me, since the "focus" does not achieve the desired effect.

- ShipyDe

[2021-03-10 10:11] Himanshu2107 commented on #2419
Can you point me to where can i find code related to "Export Project" and "autoload"?

[2021-03-10 13:42] ewpatton commented on #2431
Do you mean an event block? "if" is a control block and part of the built-in blocks, but TextBox (the closest thing we have to an input field) is a component. Something like a when TextBox1.Changed event is what you'd need?

[2021-03-10 16:49] ewpatton opened #2432 "Shareable Project URLs"
**Describe the desired feature**

Make an easy way for people to share their projects via a link without necessarily going through the gallery, possibly reusing the read-only functionality.

**Give an example of how this feature would be used**

Students could make a shareable link and give it to a teacher for grading, or people could share the link with power users for feedback on the forum.

**W

[2021-03-10 17:27] ewpatton opened #2433 "Drag and drop projects doesn't work if autoload is off"
**Describe the bug**

Dragging an AIA from the user's machine to the project list does not appear to work when autoload is off, at least until one project is opened. Once a project has been opened, if you go back to the project list, you can drag and drop an AIA to upload it. This functionality should be available as soon as the project list is loaded, regardless of whether autoload is enabled or

[2021-03-10 17:59] Shipyde commented on #2431
Oh sorry, but yes exactly, that's what I meant.
It shouldn't be too difficult to implement this event or am I wrong?

Can I actually extend such an event via extension or would that not work?

[2021-03-10 19:15] Himanshu2107 commented on #2433
If autoload is off, it is also the case that projects cannot be exported until atleast one is open, as described in issue #2419. These two issues might be related and fixing code related to autoload might fix both.

[2021-03-10 20:42] ewpatton commented on #2433
@Himanshu2107 That could be a possibility. Is this something you'd be interested in investigating?

[2021-03-10 20:43] ewpatton commented on #2433
For this bug, the most relevant part of the code would be the Java code that finds the relevant target in com/google/appinventor/client/utils/HTML5DragDrop.java

[2021-03-11 04:51] Himanshu2107 commented on #2433
Yes, for sure!

Thanks, that helps.

[2021-03-12 21:54] Himanshu2107 commented on #2419
I think I have found the bug.
First let us see what works and what does not work.

**When autoload is off and no project is selected**
1. If you select any number of projects from the list and then click on "Export selected project (.aia) to my computer", the download dialogue will not appear.
2. If you select "Export all projects" download dialogue will appear.

**When autoload is off and a proje

[2021-03-12 21:55] Himanshu2107 commented on #2419
@ewpatton
What can be the further course of action?

[2021-03-13 12:16] Himanshu2107 commented on #2433
The cause of this bug seems to be same as that of #2419. The relevant java code in com/google/appinventor/client/utils/HTML5DragDrop.java (shown below) checks for if the `currentView` is set to `PROJECTS` or `DESIGNER`.
[code]
Now as the view is initialized to `DESIGNER` in (Ode.java) the if condition
`if (Ode.getInstance().getCurrentView() == Ode.PROJECTS)`
seems to be failing when autoload is of

[2021-03-13 12:29] ewpatton commented on #2419
Your analysis seems pretty thorough. Please try making the change and if it works submit a Pull request.

Sent from my iPhone

[2021-03-13 19:01] Himanshu2107 commented on #2419
For solving this bug I had made the following changes:
in com/google/appinventor/client/Ode.java

~~`public static int currentView = DESIGNER;`~~
`public static int currentView;`

and

inside `onModuleLoad()` in `onSuccess()` call of `OdeAsynCallBack` (lines 757 - 799):
[code]
It turns out that the call to `getUserAutoloadProject()` always return `true`. This is because the default value of `Setti

[2021-03-15 16:17] ewpatton opened #2435 "High fidelity slider"
**Describe the desired feature**

The Slider component maps the min/max values into the range 0-100, so if you have a range that does not easily map into that range the values reported can be off. For example, if you have min/max of 0, 200, the slider will only report values in steps of 2. The proposal would be for a new property on the Slider to control whether the values are mapped into 0, 100 o

[2021-03-15 18:13] mitchell-frost commented on #2391
Hey! I am new here and would love to contribute. Can I work on this issue?

[2021-03-15 22:22] easrng commented on #2431
I would also like this to be implemented. I am using a Clock timer to check for changes every 10 ms I think which obviously isn't ideal.

[2021-03-16 07:20] preetvadaliya commented on #2435
as per my understanding,
by default maximum value of slider is 100. [see this](https://github.com/mit-cml/appinventor-sources/blob/b4557d64c8938e60298e5376157365c0c98a6b72/appinventor/components/src/com/google/appinventor/components/runtime/Slider.java#L130)

### How MIT App Inventor set value ?
MIT App Inventor get MIN and MAX value from user and map user's range into **[0, 100](default app inven

[2021-03-16 13:16] ewpatton commented on #1518
Fixed by #2434

[2021-03-16 13:16] #1518 closed

[2021-03-16 13:38] ewpatton commented on #2431
@Shipyde You could probably implement it as an extension, but it's probably better for the whole community if it were added as a built-in block. This is especially true if you'd like to be able to use it in apps built for iOS.

[2021-03-16 13:58] preetvadaliya commented on #2435
@ewpatton i want to work on this issue can you please assign it to me ?

[2021-03-16 14:00] ewpatton commented on #2435
@preetvadaliya Done.

[2021-03-16 14:21] Himanshu2107 commented on #2419
@ewpatton thoughts?

[2021-03-16 14:29] ewpatton commented on #2419
@Himanshu2107 It might just be simple enough to start with `currentView = PROJECTS`, which is the first view that is visible anyway. The fact that it is initialized to DESIGNER when in fact the first view is not the designer seems like the correct. This wouldn't require waiting for the user settings to be loaded.

[2021-03-16 15:24] Himanshu2107 commented on #2419
Okay.
This change fixes both #2419 and #2433.

[2021-03-16 15:38] #2408 closed

[2021-03-16 19:01] #2433 closed

[2021-03-17 02:56] #2423 closed

[2021-03-17 03:47] gourish3 opened #2437 "Separate Sign in option without using Google id."
**Describe the desired feature**
Whenever we try to login it asks for the Google account . We can use a sign up and sign in option which may help students to use it without having a google id.
A new feature of Sign in Option

**Give an example of how this feature would be used**
In the starting it will ask for the method you want to sign in through.

By creating their separate ID of students and t

[2021-03-17 12:49] ewpatton commented on #2437
If you need to not use a Google account, we recommend using [code.appinventor.mit.edu](http://code.appinventor.mit.edu) instead as it has an option to use App Inventor anonymously.

[2021-03-17 12:49] #2437 closed

[2021-03-17 12:53] ewpatton opened #2438 "Spelling error in TextToSpeech documentation"
The TextToSpeech component's documentation calls it TestToSpeech in the first line. This can be corrected by editing the description in TextToSpeech.java and rebuilding the documentation.

[2021-03-17 12:55] ewpatton commented on #2419
Fixed by #2436

[2021-03-17 12:55] #2419 closed

[2021-03-17 12:57] ewpatton commented on #2391
Sorry I had missed the email with @adityaofficial10 's request to work on this. I'm happy for either of you to work on it just let me know either way.

[2021-03-17 13:04] ewpatton commented on #2430
@preetvadaliya I don't really understand how that fixes the problem though. `System.getProperty("line.separator")` *should* be "\n" on a Linux system (which Android is). Based on the screenshots, I think the issue is with the truncation of the text more than anything else, and it may be due to a Samsung-specific configuration.

Looking at the Android documentation, I think it's likely to be a mix

[2021-03-17 13:09] ewpatton commented on #1838
@ArjunInventor Yes, if you have a fix please submit it.

[2021-03-17 13:15] #2401 closed

[2021-03-17 13:28] AnujSinghal12 commented on #2438
This is present in multiple default messages spread across the codebase, a quick search gave me around 10 matches in java and json files. Should be a quick fix, may I work on it?

[2021-03-17 13:31] ewpatton commented on #2438
@AnujSinghal12 Sure.

[2021-03-17 13:57] mitchell-frost commented on #2391
Great! I'll start with it right away.

[2021-03-17 20:27] mitchell-frost commented on #2391
@ewpatton I have opened a pull request

[2021-03-17 21:20] ewpatton opened #2441 "Internal error when selecting invisible LineString"
**Describe the bug**

[From the forum](https://community.appinventor.mit.edu/t/map-linestring-visibility-bug/28921?u=ewpatton): Selecting a LineString that previously had its visibility set to false will result in an internal error message.

**Affects**

- [x] Designer
- [ ] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Debugging
- [ ] Other... (please describe)

**Expe

[2021-03-17 21:48] Himanshu2107 commented on #2441
I'll try to look into it.

[2021-03-18 02:53] PeterMathijssen commented on #2441
@Himanshu2107 and @ewpatton this problem also occurs with the polygon, rectangle and circle.

https://community.appinventor.mit.edu/t/map-linestring-visibility-bug/28921/6?u=peter

[2021-03-18 07:05] preetvadaliya commented on #2435
@ewpatton I want to discuss about my progress on this issue,

### Progress
I removed default value setting logic of MIT App Inventor and implemented my own logic for setting value, instead of mapping user's range into **[0, 100]** I set min and max value directly slider and by default step value is 1 so we can get each value of user's range.
It is also work correctly for both positive and negative

[2021-03-20 10:09] gourish3 commented on #2438
Can you please assign me any beginner issue?

[2021-03-20 10:10] gourish3 commented on #2438
@ewpatton Can you please assign me any beginner issue?

[2021-03-20 12:02] preetvadaliya commented on #2438
@gourish3 this issue is already assigned to @AnujSinghal12 so you can tack look into another issue use **Help Wanted** tag for beginner issue.

[2021-03-21 07:20] akash-kd opened #2442 "I would like to contribute to MIT app inventor"
I am Akash K, I have used this web application since my school days. I am very huge fan of this app. I would very much like to contribute to this, but i don't know where to start could any help with this?

[2021-03-21 08:58] Himanshu2107 commented on #2442
From [this](https://community.appinventor.mit.edu/t/introduction-to-google-summer-of-code-2021/23739) post on the [community website](https://community.appinventor.mit.edu/).

To get started with App Inventor, we recommend that you review the following documents and get your environment set up correctly.

- GitHub Readme: https://github.com/mit-cml/appinventor-sources
- Contributing to the MIT App

[2021-03-21 12:02] halatmit commented on #2442
Dear Hyojae,

Thanks for asking about App Inventor.  It's great that you've been  working
on it and would like to improve the platform.
We don't have the staff available at MIT to work personally with
volunteers, but we encourage you to join the App Inventor Community Forum
<https://community.appinventor.mit.edu/> which includes experienced
developers who can give you help and advice.  You are als

[2021-03-21 12:37] akash-kd commented on #2442
thanks for the response and i will sure check it out..

[2021-03-21 22:08] Himanshu2107 commented on #2441
The error we get is
`com.google.gwt.event.shared.UmbrellaException: Exception caught: (TypeError) : Cannot read property 'lastChild' of null`.
This is caused because some code in the library `leaflet.js` tries to dereference a null object.
Specifically the native method `setEditing(boolean editing)` (in MockMapFeatureBase.java) calls `feature.bringToFront()`.  `feature` is a JavaScriptObject in Mo

[2021-03-22 15:04] #2438 closed

[2021-03-22 17:35] ewpatton commented on #2441
The parent node will naturally be null because when the component is invisible it isn't attached to the map. I think what needs to be done instead is that we shouldn't activate the edit feature when the view is invisible.

[2021-03-23 09:38] Himanshu2107 opened #2444 "LineString visible on reloading project even if set to invisible"
**Describe the bug**

When reloading an appinventor project, a LineString is visible on the Designer even if it is set to non-visible. Again checking and unchecking the visible checkbox resolves this issue.

**Affects**

- [x] Designer
- [ ] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Debugging
- [ ] Other... (please describe)

**Expected behavior**

The LineString sh

[2021-03-23 09:41] Himanshu2107 commented on #2444
Encountered this issue while resolving #2441.
This problem is shared by circle, rectangle and polygon too.

[2021-03-23 13:32] KishkinJ10 commented on #2444
i am a beginner how can i start working on this issue can someone help me?

[2021-03-23 13:34] ewpatton commented on #2442
Closing this for now. Discussion should continue in the [community](https://community.appinventor.mit.edu/c/open-source-development/10).

[2021-03-23 13:34] #2442 closed

[2021-03-23 13:35] ewpatton commented on #2444
@Himanshu2107 is this something you're planning to resolve as part of your work on #2441 or could @KishkinJ10 work on it?

[2021-03-23 13:43] Himanshu2107 commented on #2444
@ewpatton Yes, I am planning to resolve this issue as well.

[2021-03-23 13:45] ewpatton commented on #2444
Ok, I'll assign it to you.

[2021-03-23 13:54] ewpatton opened #2445 "Web component block tooltips need work"
The Web component's block tooltips have some issues. The following block tooltips either contain HTML or are truncated due to markup in the content:

* Web.PostTextWithEncoding
* Web.PostFile
* Web.PostText
* Web.HtmlTextDecode
* Web.JsonTextDecode
* Web.JsonTextDecodeWithDictionaries

[2021-03-23 15:12] Himanshu2107 commented on #2441
@ewpatton
That approach does not work. If we do not activate the edit feature when view is invisible, we would have to enable it whenever the user checks the Visible checkbox. This leads to exactly the same error as before.

[2021-03-23 17:59] mitchell-frost commented on #2445
Hey @ewpatton , can I work on this issue?

[2021-03-23 18:00] ewpatton commented on #2445
@mitchell-frost Sure.

[2021-03-23 18:01] mitchell-frost commented on #2413
Is this issue still open?

[2021-03-23 18:11] ewpatton commented on #2413
@mitchell-frost Definitely still open. What experience do you have with Roboletric?

[2021-03-23 20:56] Himanshu2107 commented on #2441
I had made the following changes to MockMapFeatureBase.java for this bug:

1. Added instance variable isVisible `protected boolean isVisible = true`.
2. Edited `onSelectedChange(boolean selected)` and `setVisibleProperty(String text)`
[code]

[code]
These changes seem to solve the bug. But we need that the value of `isVisible` is preserved on project reloads. This is essential because `isVisible`

[2021-03-24 07:19] mitchell-frost commented on #2445
I need a little more information about what needs to be changed. Does it mean changes only in the documentation or elsewhere? and where can I find the code? I am not able to understand it properly.

[2021-03-24 08:57] nirvasangani commented on #2445
@ewpatton
     As per my understanding, the problem is occured due to blockly blocks tooltip text. "<br>" tag works the same as a string, not as a line breaker. I know where the changes needed in code.
   can you assign it to me

[2021-03-24 09:05] nirvasangani commented on #2445
@ewpatton
As per my understanding, the problem is occurred due to blockly blocks tooltip text. '<br>` tag works the same as a string, not as a line breaker. I know where the changes needed in the code.
can you please assign it to me?

[2021-03-24 09:06] nirvasangani commented on #2445
@ewpatton
As per my understanding, the problem is occurred due to blockly blocks tooltip text. `<br>'  tag works the same as a string, not as a line breaker. I know where the changes needed in the code.
can you please assign it to me?

[2021-03-24 20:17] ewpatton opened #2447 "Make split string block consistent with Java 8 functionality"
**Describe the bug**

Java 8 changed the behavior of the String split function so that if the first element of the split is empty it will be dropped. Prior to this change, the empty string was retained. The split block in App Inventor calls through to this function. On Android, Android 9+ implement the Java 8 semantics and Android < 9 implements the original Java semantics.

**Affects**

- [ ] Des

[2021-03-25 12:01] Krshivam25 commented on #2432
Hi @ewpatton I would like to contribute please suggest me a way to get started

[2021-03-26 19:03] mitchell-frost commented on #2413
I have not worked with Roboletric. Any resources would be helpful.

[2021-03-28 12:21] halatmit opened #2451 "Add a button for requesting help or reporting error"
**Describe the desired feature**

Add a button to the App Inventor screen that lets users type in a request for help.  It should probably just forward the request to the forum.  But first, it should collect some information, notably whether this is about Android or iOS (or both).

This could help minimize confusion in responding to support requests.

[2021-03-28 13:51] nirvasangani commented on #2451
@halatmit

Sir there is already this two action is present in current app inventor screen under **Help** section but currently these action is not collecting any data from user and just forwarding user into community.

As per my understanding,

We can create a Pop-Up which show on **Report an Issue** item clicked and collect required data whether it is about android or iOS and after that forward u

[2021-03-28 14:16] halatmit commented on #2451
Good suggestion.
Thanks.

== Hal

Hal Abelson
***@***.***
Prof. of Comp. Sci. and Eng.
MIT Dept. of Elec. Eng. and Comp. Sci.

On Sun, Mar 28, 2021 at 9:52 AM Nirva Sangani ***@***.***>
wrote:

[2021-03-28 14:18] PeterMathijssen commented on #2451
I would hope that before users would enter a request for help that they would check the community to see if their question/problem was asked before. We see already a lot of users asking the same kind of questions on the community before even searching for it.

[2021-03-29 00:51] ewpatton commented on #2451
I agree with @PeterMathijssen here. Most of the problems encountered have likely already been solved elsewhere on the forum. Discourse has a mechanism for identifying "similar posts", so if based on what the user types we could direct them to a relevant post first, this would save power users and staff time repeating answers to similar inquiries.

[2021-03-29 12:25] ewpatton opened #2453 "Show project name dialog when uploading a project with an invalid name"
**Describe the desired feature**

Currently, if you attempt to import a project, either through the drag and drop approach or through the Import from my Computer menu item, and another project exists with the same name, the import will be rejected. Similarly, if the AIA file has an invalid name, such as "HelloPurr (4).aia", this will also be rejected. In the case where there is a collision of name

[2021-03-29 17:07] PeterMathijssen opened #2454 "Import aia project via url"
**Describe the desired feature**

I would like to be able to import an aia via an url.

**Give an example of how this feature would be used**

With extensions it looks like this.
![image](https://user-images.githubusercontent.com/32273650/112872501-bf262200-90c0-11eb-9e9a-aabb89e214f2.png)

I would like the same for aia files. When teachers or tutorial developers make aia files available on their

[2021-04-02 08:38] hypotyposis opened #2459 "Build Failed with the newest version of source code."
I git cloned the newest version of source code and try to deploy it in the manual way. I use the `./buildtools doctor` and it returns
[code]
and my environment should be ok because an old version(cloned like 6 months ago) of App Inventor still runs well on this server.
The error information is below:
[code]
and line 581 of `build.xml` is
[code]
Maybe I have missed something or there is bugs with t

[2021-04-02 12:15] preetvadaliya opened #2460 "Form unit test fails on Windows machine"
**Describe the bug**
JUnit test case for **Form** fails on Windows machine because of line separator.

**Affects**

- [ ] Designer
- [ ] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Debugging
- [x] Other... (please describe)

**Steps to solve**
Line separator in Linux = **`\n`**
Line separator in Windows = **`\r\n`**

due to this Form test fails into Windows machine to

[2021-04-05 06:35] kevinwolff commented on #2328
Hey @Vishwas-Adiga, were you able to make any progress with this? It might seem trivial to some, but I think your solution would be a great way to really add that official polish to AI apps. :)

[2021-04-06 12:30] ewpatton opened #2463 "Maps fails to cache some tiles"
**Describe the bug**

[From the forum](https://community.appinventor.mit.edu/t/unpredictable-data-usage-map/30250?u=ewpatton): At some lat/long/zoom levels, tiles are constantly reloaded which results in high data use when on cellular. I was able to replicate with the emulator and observe the behavior with Wireshark.

**Affects**

- [ ] Designer
- [ ] Blocks editor
- [x] Companion
- [x] Compiled a

[2021-04-07 20:29] #2382 closed

[2021-04-09 12:09] ewpatton opened #2467 "Explore adding an OAuth/OIDC component"
**Describe the desired feature**

We often see people building apps with login capabilities. It would be good if we provided a component for building OAuth / Open ID Connect workflows into apps to more readily address login.

**Give an example of how this feature would be used**

Rather than having people build their own auth workflow with user/pass inputs, we could enable apps to integrate with e

[2021-04-09 14:12] better319 opened #2468 "an easy install exe for win"
i'm not a computer science man,
i just  want to get an offline  version about the  new verion canbe update  by myself  ,not other's websit

offline,  for  win, easy instll,canbe update easy.
thanks

[2021-04-16 13:35] ewpatton opened #2471 "Clean up BluetoothConnectionBase and its descendants"
Currently, the Bluetooth code uses reflection to perform many operations to account for the fact that Bluetooth support was introduced in Android SDK 5 but App Inventor originally targeted SDK 3/4. Now that our min SDK is 7, we can remove the use of reflection for Bluetooth related operations and get the benefit of the static typing in the Java language. This will also simplify many of the code pa

[2021-04-16 15:31] #2460 closed

[2021-04-16 23:11] ewpatton commented on #2454
Note that if the URL is hosted on a server that will send the appropriate CORS headers, you can drag and drop a link into the project list to import it. For example, AIAs posted to the community site or via GitHub pages. I feel like the extensions import mechanism works under the same constraint. Now in theory we could move the retrieval of the project to a server-side operation to bypass CORS, bu

[2021-04-17 03:49] gourish3 commented on #2471
Can I work on this?

[2021-04-17 04:40] AKandAK commented on #2453
**What should be the behaviour when the user enters a new name and there exists a project with that name too**
1.Should we show the new project name dialog box repeatedly until the user enters proper name or clicks cancel button
2.Or Show an error and reject the import straight away (similar to the current behaviour)

I would like to work on this issue if you could assign me

[2021-04-17 15:00] ewpatton commented on #2453
Option 1 is what I am envisioning for this change.

[2021-04-18 16:38] AKandAK commented on #2453
From the above PR #2475 the new feature does the following :
1.If  projects HelloPurr , HelloPurr3  exists and user uploads another HelloPurr.aia then a dialog box is shown to enter a new valid name which suggests "HelloPurr4".
2.If a project with invalid name or reserved name is uploaded then dialog box is shown to enter a new valid name.

[2021-04-22 16:08] ewpatton opened #2477 "Allow NumbersOnly property on PasswordTextBox"
**Describe the desired feature**

The TextBox component has a NumbersOnly property for enforcing that the input only contain numbers. Support for this feature on the PasswordTextBox would enable the ability to have numeric PIN entry, for example.

**Give an example of how this feature would be used**

**Why doesn't the current App Inventor system address this use case?**

**Why is this feature ben

[2021-04-22 16:09] ewpatton commented on #2468
Thanks for your suggestion, but we don't have the resources to provide support for offline versions of App Inventor.

[2021-04-22 16:09] #2468 closed

[2021-04-22 17:09] ewpatton commented on #2459
`master` is building cleanly for us. Please ask issues around failed local builds in the open source community: https://community.appinventor.mit.edu/c/open-source-development/10. Please include the full output of the `ant` command in your post.

[2021-04-22 17:09] #2459 closed

[2021-04-22 17:53] preetvadaliya commented on #2477
@ewpatton can I work on this issue?

[2021-04-22 18:01] ewpatton commented on #2477
@preetvadaliya Sure.

[2021-04-26 18:21] ewpatton opened #2479 "Designer copy and paste into TableArrangement causes problems"
**Describe the bug**

There have been a number of reports on the forum about copy and paste breaking projects. The main issue seems to be copying and pasting elements into a TableArrangement where the Row/Column properties are not set correctly and so everything breaks. The projects can be manually edited to remove the offending components, but it would be good if we better handled copy and paste

[2021-04-26 19:35] preetvadaliya commented on #2318
@ewpatton Sir can I work on this?

[2021-04-26 19:59] code-Former opened #2480 "Build failed with the latest version of the source code"
I cloned the repo and here are my dependencies:
- Vagrant 2.2.15
- Apache Ant(TM) version 1.10.5

I followed the instructions in the README file, running the command `ant` gave me the following error:

[code]

This there something that I am missing?
Thanks in advance

[2021-04-27 12:22] preetvadaliya commented on #2480
@code-Former  please ask your question in the open-source community http://community.appinventor.mit.edu/

[2021-04-28 22:27] #2480 closed

[2021-05-03 06:08] AKandAK commented on #2479
The bug comes when getCellOfChild method is called during copy paste
[code]

Since there may not be properties ROW,COLUMN for the copy pasted item (child) `new Cell(-1, -1)` is causing the table arrangement component to break

I think this can be fixed by listening to the mouse events i.e. by finding the cell of table layout where the user clicks just before pasting. After going through sources I

[2021-05-05 16:33] AKandAK commented on #2479
Could you assign me this issue?

[2021-05-05 17:20] ewpatton commented on #2479
@AKandAK Done.

[2021-05-06 03:50] hypotyposis commented on #2459
Thank you for replying. I have solved this problem, the causes of error are:
1. 4GB Memory is not enough for building project.
2. If it is builded under Ubuntu 20.04, should manually prevent JDK token verification by `sudo vim /etc/java-8-openjdk/accessibility.properties` and comment out the following line : `assistive_technologies=org.GNOME.Accessibility.AtkWrapper`

[2021-05-07 17:52] jingmiao-z commented on #2447
Planning to work on this issue

[2021-05-08 15:48] TimCarterLinux commented on #2283
This issue is still not resolved, despite everyone's assertions that it has been fixed by #2170. It has not.

[2021-05-08 18:28] patryk84a commented on #2283
![dddd](https://user-images.githubusercontent.com/62844519/117549631-cafbf100-b03b-11eb-9f87-78ddbd628c6a.jpg)

It will be in NB187

[2021-05-09 07:16] PeterMathijssen opened #2484 "Grey box below warnings and error arrows isn't big enough in some languages."
**Describe the bug**

When using another language then English a number of times the texts in the lower left of the block screen go outside of the box.

![image](https://user-images.githubusercontent.com/32273650/117563493-98d3a900-b0a6-11eb-9440-b18bed515683.png)

![image](https://user-images.githubusercontent.com/32273650/117563499-ad17a600-b0a6-11eb-9a15-573d886508e2.png)

![image](https://user

[2021-05-09 09:14] preetvadaliya commented on #2484
Hi @PeterMathijssen,

As per my understanding, the problem is occurred due to the width of the SVG element **`<rect>`** is fixed so that when text size increase it overflowed from **`<rect>`**.

**Where these SVGs defined?**
These SVGs are defined into [**blocklyeditor/src/warningIndicator.js**](https://github.com/mit-cml/appinventor-sources/blob/master/appinventor/blocklyeditor/src/warningIndicat

[2021-05-09 09:17] preetvadaliya commented on #2484
@ewpatton,

I would like to work on this issue, Could you please assign it to me?

<br>
<br>

Preet Vadaliya

[2021-05-09 10:25] ewpatton commented on #2484
@preetvadaliya Sure. You may want to take a look at how Blockly computes text widths and use that to adjust the rect size.

[2021-05-09 10:30] preetvadaliya commented on #2484
@ewpatton
Sure sir

[2021-05-11 15:44] ewpatton commented on #2441
Fixed by #2485

[2021-05-11 15:44] #2441 closed

[2021-05-14 12:47] preetvadaliya commented on #2477
@ewpatton Sir please close this issue.

[2021-05-14 12:55] ewpatton commented on #2477
@preetvadaliya Sure. In the future if you use `fixes` or `closes` in the PR along with the number GitHub will automatically close it when we merge.

[2021-05-14 12:55] #2477 closed

[2021-05-20 18:01] Himanshu2107 commented on #2366
@ewpatton Issue is resolved, please close.

[2021-05-20 18:04] ewpatton commented on #2366
@Himanshu2107 Since `ucr` hasn't been merged into `master` yet I've marked it as pending component release. When we do the release we'll go through and close the pending issues.

[2021-05-20 18:54] Himanshu2107 commented on #2366
Got it.

[2021-05-21 20:46] patryk84a commented on #2435
How about a little change that won't affect old projects?

(https://community.appinventor.mit.edu/uploads/short-url/tYlcoeKDaG862yWgj0TbYaI40SG.txt)

[2021-05-22 14:40] Himanshu2107 opened #2489 "Height from block different from value set in designer."
**Canvas' Height block returns incorrect value (off by 1) in some cases.**

[From the forum](https://community.appinventor.mit.edu/t/odd-problem-matching-sprite-height-to-canvas/33471/25): The problem may be due to changing the value of Height from dp to px. px are obtained from dp by multiplying by screen's density, and the floating point is cast to an integer. The loss of information during cast

[2021-05-22 14:59] patryk84a commented on #2489
Not only the Canvas component. The problem affects all components that convert DP to PX and vice versa.

[2021-05-22 16:13] Himanshu2107 commented on #2489
Hi @preetvadaliya do you want to take this or should I have a look?

[2021-05-22 16:35] preetvadaliya commented on #2489
@Himanshu2107 Have you done any test on this?

because I got one solution but still I am testing on it.

[2021-05-22 17:17] Himanshu2107 commented on #2489
@preetvadaliya No i have not looked into it.

[2021-05-23 14:14] Professionalrix commented on #2376
BlocklyCompile:

BlocklyTranslationGenerator:

BUILD FAILED
C:\Users\Narender Singh\appinventor-sources\appinventor\build.xml:50: The following error occurred while executing this line:
C:\Users\Narender Singh\appinventor-sources\appinventor\build-common.xml:299: The following error occurred while executing this line:
C:\Users\Narender Singh\appinventor-sources\appinventor\blocklyeditor\build.xml:

[2021-05-23 14:16] josmas commented on #2376
Seems like there is a space within your name and surname. Java doesn't like that.

[2021-05-25 21:32] ewpatton opened #2490 "Build server loses some extension info"
**Describe the bug**

[From the forum](https://community.appinventor.mit.edu/t/removes-permission/33473?u=ewpatton): When using different extensions in a project, sometimes some extension metadata disappears in the final build, potentially breaking the extension and/or causing the app to crash.

**Affects**

- [ ] Designer
- [ ] Blocks editor
- [ ] Companion
- [x] Compiled apps
- [ ] Buildserver
-

[2021-05-26 07:32] PeterMathijssen opened #2492 "Openstreetmap toolbox on top of error message."
**Describe the bug**

**Affects**

- [x ] Designer
- [ ] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Debugging
- [ ] Other... (please describe)

**Expected behavior**

The toolbox and copyright message should be below the error message.

**Steps to reproduce**

Use an openstreetmap component. Make an error message appear. ;-)

[2021-05-26 13:22] ewpatton commented on #2492
I think this just involves some z-index tweaking. It should be a good issue for anyone looking to get started contributing to App Inventor.

[2021-05-26 13:46] preetvadaliya commented on #2445
@ewpatton Sir,

In case of

1. Web.JsonTextDecodeWithDictionaries
2. Web.JsonTextDecode

There is a problem with [ComponentProcessor.java](https://github.com/mit-cml/appinventor-sources/blob/master/appinventor/components/src/com/google/appinventor/components/scripts/ComponentProcessor.java#L305)

It will split description text at **`{`** and return the trimmed first part of the string so that's wh

[2021-05-26 13:49] nirvasangani commented on #2492
I want to work on this issue

[2021-05-26 13:49] ewpatton commented on #2492
@nirvasangani Sure!

[2021-05-27 20:23] #2490 closed

[2021-06-07 21:56] ewpatton opened #2494 "Spelling error in TextToSpeech.Language tooltip"
**Describe the bug**

[From the forum](https://community.appinventor.mit.edu/t/how-do-you-report-typos/34748/8?u=ewpatton): The language "French" is misspelled in the tooltip for the TextToSpeech Language tooltip.

**Affects**

- [ ] Designer
- [x] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Debugging
- [ ] Other... (please describe)

**Expected behavior**

The text s

[2021-06-10 16:35] #2494 closed

[2021-06-10 17:02] ewpatton commented on #2288
This was released in nb185.

[2021-06-10 17:02] #2288 closed

[2021-06-10 17:12] ewpatton commented on #1283
This was addressed by @BeksOmega's GSOC project.

[2021-06-10 17:12] #1283 closed

[2021-06-10 17:14] ewpatton commented on #1276
This will be a user-configurable property in the next release.

[2021-06-10 17:14] #1276 closed

[2021-06-21 19:41] ewpatton opened #2501 "Add support for Helper Blocks to doc generator"
**Describe the bug**

The documentation generator does not include the necessary information for annotating parameters that use the helper blocks functionality.

**Affects**

- [ ] Designer
- [ ] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Debugging
- [x] Other... documentation

**Expected behavior**

The documentation generator should annotate method parameters with

[2021-06-21 23:52] BeksOmega commented on #2501
Weird, I thought I actually [did this](https://github.com/mit-cml/appinventor-sources/pull/2301/files#diff-8ab31efe5bf4abcfc89af9fb802b10ba9841fb12b4959dc453a1fc2228fc2de0). Maybe I just fixed the markdown generator and forgot about the other one haha. Anyway, hopefully that gives someone a place to start with updating the docs generator!

[2021-06-22 14:12] Himanshu2107 opened #2502 "Image out of boundaries on resize"
**Describe the bug**
Sometimes when an image (ImageSprite or Image component) is resized it does not respect its boundaries. The image may be much smaller than its boudaries or it may spill out of them.

![image](https://user-images.githubusercontent.com/53406453/122939382-30f4cb80-d391-11eb-9d47-a724ead3d7de.png)
![image](https://user-images.githubusercontent.com/53406453/122939559-5a155c00-d391-

[2021-06-22 15:14] ewpatton commented on #2501
Ok. I think I understand. It seems as though the fully qualified class name is getting converted into CSS classes in HTML, and I'll just need to add some CSS to account for it in my branch.

[2021-06-22 15:15] ewpatton commented on #2501
E.g., I created FileScopeEnum and the HTML that gets generated has class="com google appinventor components common FileScopeEnum bo".

[2021-06-22 15:24] ewpatton commented on #2501
The CSS fix worked. We may want to think about how we might generate CSS for the helper block annotations.

[2021-06-22 18:14] preetvadaliya commented on #1433
@ewpatton i would like to work on this can you please assign it to me

[2021-06-22 18:33] ewpatton commented on #1433
@preetvadaliya Sure.

[2021-06-22 19:22] ewpatton commented on #2502
@Himanshu2107 should I assign this to you?

[2021-06-22 19:36] Himanshu2107 commented on #2502
Sure.

[2021-06-24 02:52] OmgCopito95 opened #2504 "Spanish version - Button event"
**Describe the bug**

The spanish version of the Blocks editor has a misspelling. The spanish name of the event "GotFocus" (button component) is "ObtenertFocus".

**Affects**

- [ ] Designer
- [x] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Debugging
- [ ] Other... (please describe)

**Expected behavior**

The name of the event must be call ObtenerFoco, without a T be

[2021-06-24 03:08] OmgCopito95 commented on #2504
I had noticed that all the events "GotFocus" have the same problem with the spanish name.

[2021-06-28 13:49] aliaia744046 commented on #2504
Hello my friends,
how are you doing and work?
I would like to translate as you do, but for Arabic, how can I do this? Can you explain the use? I tried a program that translates applications, but it does not translate the emulator, can you help me, knowing that I am a fast learner

[2021-06-28 14:53] SusanRatiLane commented on #2504
We would be delighted to have help with our Arabic translation. If you wish to do this, please contact me on our community forum https://community.appinventor.mit.edu

I can help you there.

[2021-07-03 11:53] aliaia744046 commented on #2504
I am in the community. Is there a special topic there for translation? I want to start translating everything with it. How do we get started can you help me

[2021-07-06 15:16] JanusChoi commented on #1619
Same issue. I already set the permission of AI2 companion Allow to access storage...

[2021-07-16 14:44] #2504 closed

[2021-07-16 15:18] aliaia744046 commented on #2504
نعم يمكنكِ مساعدتنا في ذالك

سوف يفرح هذا الفريق الذي اقوم بجمعه بعد اكمال امتحانات طلبتنا

الطريقة جيدة يمكنك التعلم بسرعة لكن توجود شروط بعض الجمل صعبة اود ان تتركها
لان لدي مترجم يقوم بلاعمال الصعبة يمكنك ارسال الجميل الخاص بك لبدأ اعطاء
موافقة ايضا سوف ارسل اليك رابطا لموقع ويب الخاص بلترجمة و بعدها نرسل الى
mit طلب للموافقة
شكرا للمساعدة
و ايضا يوجد برنامج تعليمي سوف اقوم بأرساله
لدي سؤال ما

[2021-07-16 15:27] aliaia744046 commented on #2504
https://youtu.be/VFwTn32MrBw

رابط البرنامج التعليمي
Tutorial link

في الاثنين، ٢٨ يونيو ٢٠٢١ ٥:٥٤ م Susan Rati Lane ***@***.***>
كتب:

[2021-07-23 09:02] jk9467328 opened #2512 "Request Headers Set is Not working in Web Connectivity Component (Web.java)"
https://github.com/mit-cml/appinventor-sources/blob/master/appinventor/components/src/com/google/appinventor/components/runtime/Web.java

line no - 1196

-->>  connection.addRequestProperty(name, value);
this line are not set the headers Correctly

please replace this line with this
-->>  connection.setRequestProperty(name, value);

Thankx

[2021-07-24 21:06] halatmit opened #2517 "Wrong scaling of line width for canvas"
**Describe the bug**

This was observed on the phone.  I have not tried is on a tablet or the emulator.   This might be different with a different screen size.

**Affects**

- [ x] Designer
- [ ] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Debugging
- [ ] Other... (please describe)

**Expected behavior**

Canvas line with should be what it's set to when the component

[2021-07-26 15:58] PeterMathijssen opened #2519 "Can the hint color of the textbox be set? Question from a appathon participant."
**Describe the desired feature**

You should be able to change the hint color of the textbox.
![image](https://user-images.githubusercontent.com/32273650/127020344-84e0233a-d74e-43e4-9b71-4946811dcfdf.png)

**Give an example of how this feature would be used**
You could do more customizing in the app. Setting in designer and via blocks. You could change colors for negative or positive numbers.

**

[2021-07-29 18:23] patryk84a commented on #1293
Maybe it would be necessary to remove the broken component so as not to mislead users unnecessarily?

[2021-07-30 13:20] pavi2410 opened #2526 "Implement conditional permission to use Location permissions in WebViewer"
https://github.com/mit-cml/appinventor-sources/blob/dfac595ba77b62f2982f48f41affd625f5b8fa77/appinventor/components/src/com/google/appinventor/components/runtime/WebViewer.java#L479

I think we can make use of conditional permissions here now as implemented in https://github.com/mit-cml/appinventor-sources/pull/1506

[2021-07-30 14:17] ewpatton commented on #2526
Yes, this is probably true.

[2021-08-07 21:50] dimaguy opened #2533 "Internationalization of cancel button makes it impossible to get a clean and predictable cancellation response"
I am developing an app that is supposed to be used across people of multiple languages, and their phones are set as so.
I can't afford to make the translation of the app to those languages and fix them everytime it is needed and using a translation service is kinda unacceptable as I want to cut on my app's web requests to the absolutely necessary.

So the app is written with english in mind, but t

[2021-08-08 08:57] PeterMathijssen opened #2534 "Multiple aia imports possible at the same time"
**Describe the bug**

When you import an aia file that is big enough you can import another one while the other one is still being imported. This can result in multiple projects with the same name.

![Selection_1117](https://user-images.githubusercontent.com/32273650/128626666-e87cc724-6fbd-4425-a3b7-6e29b49a5bc2.png)

**Affects**

- [ ] Designer
- [ ] Blocks editor
- [ ] Companion
- [ ] Compiled

[2021-08-21 16:41] shreyashsaitwal opened #2537 "Visiblity of `@SimpleProperty` getters and setters"
**Describe the bug**

If the `userVisible` property of a setter type `@SimpleProperty` is set to `false`, it's corresponding getter will also be invisible in the components block panel. The same happens with a setter if it's getter is `userVisible = false`.

**Affects**

- [ ] Designer
- [ ] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Debugging
- [x] Other... (Compone

[2021-08-21 16:44] shreyashsaitwal commented on #2537
If only someone can confirm this is not an intended behavior but in fact a bug, I'd like to fix it.

[2021-08-22 18:58] shreelakshmijoshi commented on #2451
Hi @halatmit !
I am a new open source contributor and would like to solve this issue, could you help me understand the issue better by providing some extra references ?
Is this is issue open to contribute ?

[2021-08-23 09:38] pavi2410 commented on #2537
https://groups.google.com/g/app-inventor-open-source-dev/c/vcg4a-EIeK0/m/dbSWG9arAgAJ

[2021-08-23 19:07] ewpatton opened #2540 "ShowInfobox method only works for markers"
**Describe the bug**

[Forum post](https://community.appinventor.mit.edu/t/nb187-map-polygon-rectangle-infobox-bug/39771?u=ewpatton): The ShowInfobox method appears to only be working for markers. Other map components do not show their info boxes when the method is called. Reported for nb187 but I confirmed the problem using the 2.60u companion (nb186). so it appears to be a problem for multiple r

[2021-08-24 13:16] ewpatton opened #2542 "Apps fail to compile when using non-ASCII characters in the app name"
**Describe the bug**

[Forum reference](https://community.appinventor.mit.edu/t/aapt-execution-failed-in-my-app/39741?u=ewpatton): An app with non-ASCII characters in the AppName property of Screen1 fails to compile.

**Affects**

- [ ] Designer
- [ ] Blocks editor
- [ ] Companion
- [ ] Compiled apps
- [x] Buildserver
- [ ] Debugging
- [ ] Other... (please describe)

**Expected behavior**

Apps wi

[2021-08-24 17:11] ewpatton opened #2544 "ListView AfterPicking behaves incorrectly"
**Describe the bug**

[From the forum](https://community.appinventor.mit.edu/t/list-view-problem-after-new-release-23th-aug/39809/3?u=ewpatton): In an app with multiple ListViews, the AfterPicking event only runs for the last list view.

**Affects**

- [ ] Designer
- [ ] Blocks editor
- [x] Companion
- [x] Compiled apps
- [ ] Buildserver
- [ ] Debugging
- [ ] Other... (please describe)

**Expected

[2021-08-24 20:55] #2542 closed

[2021-08-27 19:18] ewpatton opened #2549 "Allow renaming of media from the UI"
**Describe the desired feature**

[From the forum](https://community.appinventor.mit.edu/t/suggestion-allow-changes-made-to-asset-names-to-update-tags/31950?u=ewpatton): It would be nice if one could rename an asset in the Media panel, and any rename should propagate to the new asset helper blocks as well.

**Give an example of how this feature would be used**

Sometimes assets are imported into t

[2021-08-29 04:40] ewpatton opened #2550 "ListView filter crashes in nb187"
**Describe the bug**

[From the forum](https://community.appinventor.mit.edu/t/listview-filter-keeps-crashing-nb187-bug/40086?u=ewpatton): The filtering capability in the new ListView crashes the companion.

**Affects**

- [ ] Designer
- [ ] Blocks editor
- [x] Companion
- [ ] Compiled apps
- [ ] Buildserver
- [ ] Debugging
- [ ] Other... (please describe)

**Expected behavior**

Filtering should

[2021-08-31 08:48] yichong96 commented on #2549
Hi @ewpatton I would like to work on implementing this feature. Would that be okay ?

[2021-09-01 16:56] ewpatton commented on #2549
@yichong96 Sure. You'll probably want to start by looking at the AssetList class in the appengine module.

[2021-09-10 14:37] yichong96 commented on #2549
Hi @ewpatton I am thinking that the rename asset function could be added as an item in the `ProjectNode` context menu. I am also thinking of using the UI for `RenameDialog` class but rewrite the `handleOkClick()` function to handle the logic for renaming assets.

Would like to know whether this would be a good direction to work towards?